<fm-help help="help.helpKey" show="help.show" i18n="help.i18n"></fm-help>
<div class="ecsVmsCls container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li>
                <span ng-bind-html="i18n.common_term_vms_label"></span>
            </li>
            <li class="two-lead">
                <p ng-bind-html="i18n.vm_vm_view_explan_user_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="clearfix bottom10">
            <div class="fl">
                <tiny-button id="createBtn.id" ng-if="hasVmCreateRight && deployMode!=='serviceCenter'" text="createBtn.text" click="createBtn.click()" class="major-btn"></tiny-button>
                <tiny-button id="vncBtn.id" ng-if="hasVmVncRight" text="vncBtn.text" disable="vncBtn.disable" click="vncBtn.click()"></tiny-button>
                <tiny-button id="exportButton.id" ng-if="hasVmVncRight" text="exportButton.text" click="exportButton.click()"
                             ng-if="exportAble" ng-show="!ICT"></tiny-button>
                <div class="btn-group">
                    <a class="dropdown-toggle btn-link tiny-button-buttonDefault" data-toggle="dropdown">
                        <div class="tiny-button tiny-button-buttonInnerClass" ng-click="moreBtn.click()">
                            <div class="tiny-right">
                                <div class="tiny-center">
                                    <div class="tiny-leftImg" style="display: none;"></div>
                                    <span class="ecsVmsMoreHover tiny-button-buttonCenterText" ng-bind-html="i18n.common_term_more_button"></span>
                                    <span class="tiny-menubutton-caret"></span>
                                    <div class="tiny-rightImg" style="display: none;"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <ul class="dropdown-menu vmOptWidth">
                        <li ng-if="moreBtn.canStart === true"><a class="btn-link" ng-click="moreBtn.start()">{{i18n.common_term_startup_button}}</a></li>
                        <li ng-if="moreBtn.canStart === false" class="disabled"><a>{{i18n.common_term_startup_button}}</a></li>
                        <li ng-if="moreBtn.canStop === true"><a class="btn-link" ng-click="moreBtn.stop()">{{i18n.common_term_close_button}}</a></li>
                        <li ng-if="moreBtn.canStop === false" class="disabled"><a>{{i18n.common_term_close_button}}</a></li>
                        <li ng-if="moreBtn.canReboot === true"><a class="btn-link" ng-click="moreBtn.reboot()">{{i18n.common_term_restart_button}}</a></li>
                        <li ng-if="moreBtn.canReboot === false" class="disabled"><a>{{i18n.common_term_restart_button}}</a></li>
                        <li ng-if="moreBtn.canForceStop === true"><a class="btn-link" ng-click="moreBtn.forceStop()">{{i18n.common_term_forciblyShut_button}}</a></li>
                        <li ng-if="moreBtn.canForceStop === false" class="disabled"><a>{{i18n.common_term_forciblyShut_button}}</a></li>
                        <li ng-if="moreBtn.canForceReboot === true"><a class="btn-link" ng-click="moreBtn.forceReboot()">{{i18n.common_term_forciblyRestart_button}}</a></li>
                        <li ng-if="moreBtn.canForceReboot === false" class="disabled"><a>{{i18n.common_term_forciblyRestart_button}}</a></li>
                        <li ng-if="moreBtn.canHibernate === true"><a class="btn-link" ng-click="moreBtn.hibernate()">{{i18n.common_term_hibernate_button}}</a></li>
                        <li ng-if="moreBtn.canHibernate === false" class="disabled"><a>{{i18n.common_term_hibernate_button}}</a></li>
                        <li ng-if="moreBtn.canTransfer === true && !ICT && deployMode!=='serviceCenter'"><a class="btn-link" ng-click="moreBtn.transfer()">{{i18n.common_term_allocate_button}}</a></li>
                        <li ng-if="moreBtn.canTransfer === false && !ICT && deployMode!=='serviceCenter'" class="disabled"><a>{{i18n.common_term_allocate_button}}</a></li>
                        <li ng-if="moreBtn.canDelete === true && deployMode!=='serviceCenter'"><a class="btn-link" ng-click="moreBtn.delete()">{{i18n.common_term_delete_button}}</a></li>
                        <li ng-if="moreBtn.canDelete === false && deployMode!=='serviceCenter'" class="disabled"><a>{{i18n.common_term_delete_button}}</a></li>
                        <li ng-if="hasVmAdvanceOperateRight && hasVmBasicOperateRight && hasVmDeleteRight" class="divider-line" ng-show="ICT"></li>
                        <li ng-show="ICT"><a class="btn-link" ng-click="moreBtn.export2Excel()">{{i18n.common_term_export_button}}</a></li>
                    </ul>
                </div>
            </div>

        <!--刷新、列选择、帮助-->

            <div class="pull-right">
                <div class="small-icon small-icon-menuicon" style="margin-top: 5px;"></div>
                <tiny-filtersel id="searchLocation.id" values="searchLocation.values" width="searchLocation.width" change="searchLocation.change()">
                </tiny-filtersel>

                <tiny-filtersel id="searchVpc.id" values="searchVpc.values" width="searchVpc.width" change="searchVpc.change()" ng-if="supportSelectVpc=='true'">
                </tiny-filtersel>

                <tiny-filtersel id="searchStatus.id" values="searchStatus.values" width="searchStatus.width" change="searchStatus.change()">
                </tiny-filtersel>

            <span style="display: inline-block; vertical-align: middle;">
                <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width" suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength" suggest="searchBox.suggest" search="searchBox.search">
                </tiny-searchbox>
            </span>

                <a class="btn-link">
                    <div ng-click="refresh.click()" id="refresh.id" title="{{i18n.common_term_fresh_button}}" class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div title="{{i18n.common_term_help_label}}" ng-click="help.click()" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>

        <div ng-if="!ICT">
            <tiny-table id="vmTable.id" columns="vmTable.columns" data="vmTable.data" enable-pagination="vmTable.enablePagination"
                        pagination-style="vmTable.paginationStyle" render-row="vmTable.renderRow" length-menu="vmTable.lengthMenu"
                        display-length="vmTable.displayLength" total-records="vmTable.totalRecords" columns-draggable="true"
                callback="vmTable.callback" change-select="vmTable.changeSelect" show-details="vmTable.showDetails">
            </tiny-table>
        </div>
        <div ng-if="ICT">
            <tiny-table id="vmTable.id" columns="vmTable.columns" enable-pagination="vmTable.enablePagination" data="vmTable.data"
                        render-row="vmTable.renderRow" callback="vmTable.callback" show-details="vmTable.showDetails" columns-draggable="true">
            </tiny-table>
            <div class="pull-right">
                <tiny-select id="pageSize.id" values="pageSize.values" width="pageSize.width"
                             change="pageSize.change()"></tiny-select>
                <label class="margin-right-beautifier" ng-bind="i18n.common_term_currentPage_label"></label>
                <label class="margin-right-beautifier" ng-bind="page.currentPage"></label>
                <a ng-class="{tinyPagination_paginationPrevSpan: hasPrePage, tinyPagination_paginationPrevSpanDisabled: !hasPrePage}"
                   title="{{i18n.common_term_previous_button}}" class="tinyPagination_tinybutton clear_both"  style="float:none; display: inline-block; position: relative; top: 8px;" ng-click="prePage()"></a>
                <a ng-class="{tinyPagination_paginationNextSpan: hasNextPage,tinyPagination_paginationNextSpanDisabled: !hasNextPage}"
                   title="{{i18n.common_term_nextPage_button}}" class="tinyPagination_tinybutton clear_both" style="float:none; display: inline-block; position: relative; top: 8px;" ng-click="nextPage()"></a>
            </div>
        </div>
    </div>

    <iframe id="ecsVmsExport" style="display:none"></iframe>
</div>