<style type="text/css">
	#iHealthMap
	{
		width: 1000px;
		height: 470px;

		position: relative;
		top: 0px; 
		left: 0px;
		z-index: 0;
	}
	
	#iHealthList
	{
		width: 360px;
		height: 400px;

		float: right;
		
		position: absolute;
		top: 0px; 
		left: 1000px;
		z-index: 0;
	}
	
	.area_info
	{
		position: absolute;
		z-index: 10;
	}
</style>
<div class="legend led1">服务健康度</div>
<div style="margin: -44px -3px 10px 0px; float: right;" ng-init="button = ['恢复位置', '保存位置', '设置地图']">
    <tiny-button id="iGetPos" text="button[0]"></tiny-button>
    <tiny-button id="iSetPos" text="button[1]"></tiny-button>
    <tiny-button id="iSetMap" text="button[2]"></tiny-button>
</div>
<!--
地图
1、操作时，自动更新不刷位置，只刷数值。
2、点"设置位置"更新位置到服务器。
3、点击"获取位置"按钮获取服务器位置。
4、页面初始化使用服务器位置，同"获取位置"。
5、点击"设置地图"更换背景地图。
-->
<div ng-controller="servicePage.health.ctrl" ng-app="serviceHeadlth">
	<div id="iHealthMap">
		<div mapdrag ng-repeat="e in area" name="{{e.name}}"
			class="area_info" style="top: {{e.axes.y}}px; left: {{e.axes.x}}px;">
			<fm-cirque rotate="0" r="20" data="e.data"
				stroke-width="10"
				show-legend="false" center-text="e.text"
				width="40" height="40">
			</fm-cirque>
			<div class="text-center">{{e.name}}</div>
		</div>
		<div id="iHealthList" class="new-table-style">
			<fm-table data='table.data' columns='table.columns' size='10'>
			</fm-table>
		</div>
	</div>
	<script type="text/javascript">
	$(function (){
		var R = Raphael("iHealthMap", "100%", "100%");
		var img = R.image("../theme/default/images/fm/map/china_all.png", "10%", "10%", "80%", "80%");
		
		$("#iHealthMap").mousemove(function(e){
			window.getSelection ? window.getSelection().removeAllRanges() : document.selection.empty();
			return false;
		})
	});
	</script>
</div>
