<link href="../theme/default/css/gm/homeTenant.css" type="text/css" rel="stylesheet"/>
<style type="text/css">
    .info_line {
        font-size: 14px;
        color: #666666;
        font-family: Microsoft YaHei, Verdana, Arial, Helvetica, sans-serif;
    }

    .info_value {
        font-size: 18px;
        font-family: Microsoft YaHei, Verdana, Arial, Helvetica, sans-serif;
    }

    .font-green {
        font-size: 48px;
        color: #5ecc49;
        line-height: 60px;
    }

    .font-gray {
        font-size: 48px;
        color: #777777;
        line-height: 60px;
    }

    .first-section {
        border-right: 1px dotted #d9d9d9;
    }

    .info_title {
        margin: 0px -20px 30px;
        padding: 0 25px 0 15px;
        display: block;
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        font-size: 14px;
        line-height: 34px;
        color: #000;
        background: #fff;
        background: -webkit-linear-gradient(top, #f6f6f, #fff);
        background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#fff));
        background: -moz-linear-gradient(top, #f6f6f6, #fff);
        background: -o-linear-gradient(top, #f6f6f6, #fff);
        background: linear-gradient(top, #f6f6f6, #fff);
        border-radius: 4px 4px 0 0;
    }

    .no-wrap {
        white-space: nowrap;
    }


</style>
<div ng-controller="servicePage.systemActiveness.ctrl">
    <div class="outbox-padding top10">
        <div class="legend" ng-bind="i18n.common_term_statistics_label"></div>
        <ul class="row-fluid margin-left-beautifier">
            <li class="span3 outbox-padding" ng-if="right.resourceStatistic">
                <div class="info_title" ng-bind="i18n.common_term_userOnlineStatus_label"></div>
                <ul class="row-fluid clearfix adjust-all" style="text-align: center;">
                    <li class="fl first-section" style="width:49%;">
                        <h6 class="color2" ng-bind="i18n.common_term_online_value"></h6>

                        <p class="font-green adjust-font-size"><span ng-bind="userStatics.online"></span></p>
                    </li>
                    <li class="fl" style="width:50%;">
                        <h6 class="color2" ng-bind="i18n.common_term_totalNum_label"></h6>

                        <p class="font-gray adjust-font-size"><span ng-bind="userStatics.total"></span></p>
                    </li>
                </ul>
            </li>

            <li class="span5 outbox-padding" ng-if="right.cloudInfras" style="position:relative;">
                <div class="info_title" ng-bind="i18n.perform_term_vmStatistic_label">
                </div>
                <div style="position:absolute;top:6px;right:10px;">
                    <fm-select class="pull-right" id="regionSelector.id" name="regionSelector.name"
                               option="regionSelector.cloudInfras"
                               change="regionSelector.change" filter="true"></fm-select>
                </div>
                <div class="text-center">
                    <div class="homeTextRight clearfix">
                        <ul class="inlineBlockCss fl adjust-all" style="text-align: center;width:210px;">
                            <li class="fl first-section" style="width:100px;">
                                <h6 class="color2">{{i18n.common_term_created_value}}</h6>

                                <p class="font-green adjust-font-size"><span ng-bind="configSpec.usedVm"></span></p>
                            </li>
                            <li class="fl" style="width:100px;">
                                <h6 class="color2 no-wrap">{{i18n.service_term_canCreate_label}}</h6>

                                <p class="font-gray adjust-font-size"><span ng-bind="configSpec.unUsedVm"></span></p>
                            </li>
                        </ul>
                        <div class="fr" style="margin-top: 50px;">
                            <div class="inlineBlockCss"><span>{{i18n.common_term_spec_label}}: </span><span
                                    ng-bind="configSpec.specDetailStr"></span></div>
                            <div class="inlineBlockCss" ng-click="configSpec.toggleShowSpec()"><a
                                    href='javascript:void(0)'>{{i18n.common_term_change_label}}</a>
                            </div>
                        </div>
                    </div>
                    <div ng-show="configSpec.show" class="homeTextRight homeConfigCpuMemoryDiv top5">
                        <div class="inlineBlockCss">
                            <tiny-formfield>
                                <tiny-item label="cpuCount.label" require="cpuCount.require">
                                    <tiny-textbox id="cpuCount.id" value="cpuCount.value" width="cpuCount.width"
                                                  validate="cpuCount.validate"></tiny-textbox>
                                </tiny-item>
                            </tiny-formfield>
                        </div>
                        <div class="inlineBlockCss">
                            <tiny-formfield>
                                <tiny-item label="memorySize.label" require="memorySize.require">
                                    <tiny-textbox id="memorySize.id" value="memorySize.value" width="memorySize.width"
                                                  validate="memorySize.validate"></tiny-textbox>
                                </tiny-item>
                            </tiny-formfield>
                        </div>
                        <div class="pull-right homeConfigCpuOkOffSet">
                            <tiny-button id="configSpec.okBtn.id" text="configSpec.okBtn.text"
                                         click="configSpec.okBtn.click()"
                                         class="major-btn"></tiny-button>
                        </div>
                    </div>
                </div>
            </li>

            <li class="span2 outbox-padding" ng-if="right.vdc">
                <div class="info_title">VDC</div>
                <div class="row-fluid clearfix" style="text-align: center;">
                    <h6 class="color2" ng-bind="i18n.common_term_totalNum_label"></h6>

                    <p class="font-gray adjust-font-size"><span ng-bind="vdcNum"></span></p>
                </div>
            </li>

            <li class="span2 outbox-padding" ng-if="cloudType == 'OPENSTACK' && !isServiceCenter">
                <div class="info_title" ng-bind="i18n.resource_term_openstack_label"></div>
                <div class="row-fluid clearfix" style="text-align: center;">
                    <h6 class="color2" ng-bind="i18n.common_term_totalNum_label"></h6>

                    <p class="font-gray adjust-font-size"><span ng-bind="openstackNum"></span></p>
                </div>
            </li>
        </ul>
    </div>
</div>
