<div id="portlet-resource-zoneConfig" ng-controller="portlet.resource.zoneConfig.ctrl">
    <div class="clearfix">
    <tiny-checkboxgroup id="zoneGroup.id" spacing="zoneGroup.spacing" values="zoneGroup.values"></tiny-checkboxgroup>
    </div>
    <br>
    <div class="margin-top-beautifier">
        <tiny-button class="major-btn"  id="saveBtn.id" disabled="saveBtn.disabled" icons-class="saveBtn.iconsClass" text="saveBtn.text"
                     tooltip="saveBtn.tip" click="saveBtn.save()"></tiny-button>
        <tiny-button id="cancelBtn.id" disabled="cancelBtn.disabled" icons-class="cancelBtn.iconsClass"
                     text="cancelBtn.text"
                     tooltip="cancelBtn.tip" click="cancelBtn.cancel()"></tiny-button>
    </div>
</div>


<script>
    require(['jquery',
        'app/business/portlet/controllers/zoneConfigCtrl'],
            function ($, zoneConfigCtrl) {
                var dep = ['ng', 'wcc', zoneConfigCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#portlet-resource-zoneConfig"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile($("#portlet-resource-zoneConfig"))($rootScope);
                    $rootScope.$digest();
                });
            });
</script>