.appLeftLayout{margin-left: 260px;}
#appListId .thumbnail{border: 0px solid;box-shadow: 0 1px 3px rgba(0,0,0,0);display: inline-block;}
.appViewDetail{float:right;margin-right: 10px;margin-top: 10px;}
.appListBottom{margin-top: 20px;}
.appListBottomA{margin-right: 6px;}
.appVmTotal{color: green;}
.appVmDown{color: red;}
.appNameClass{font-weight: bold;font-size: 14px;}
.appListUl{margin-top: 10px;margin-bottom: 10px;min-height: 200px;}
.appListFooterPage{margin-bottom: 15px;}
.appEachMargin{margin: 0 15px 6px 15px;}
.templateRightLayout{margin-left: 20px;}
.textOverflowFont12
{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display:inline-block;
    max-width:220px;
    font-size:12px;
}
#templateListId .thumbnail{border: 0px solid;box-shadow: 0 1px 3px rgba(0,0,0,0);display: inline-block;}
.customMoreBtn{margin-left: 115px;margin-top: -20px;}
.customMoreBtnUl{border-radius: 4px;background-color: #F5F5F5;border: 1px solid #ccc;}
.customMoreBtnLi:hover{background:lightskyblue;text-decoration:underline;}
.templateOperateBtns{}
#createAppCreateType1Id .tiny-radio-content .tiny-text{font-size: 16px;}
#createAppCreateType2Id .tiny-radio-content .tiny-text{font-size: 16px;}
.tableOuterHeaderLabel{font: bold;font-size: 14px;font-weight: bold;}
.tableBottomOffset{margin:55px 0px 0px 0px;}
.confirmDivider{height: 1px;margin: 9px 1px;overflow: hidden;background-color: #e5e5e5;border-bottom: 1px solid #fff;}
.appTopoCenter{width: 100%; height: 550px;}
.appTopoDiv{background: url(../../images/topo.png) no-repeat;width: 100%;height: 100%;}
.appTopoDivCss{width: 169px; height: 163px;position: absolute; margin-top: 185px;}
#createAppCreateType1Id .tiny-radio-content {
    margin-top: 5px;
}
#createAppCreateType2Id .tiny-radio-content {
    margin-top: 5px;
}
.confirmContentMarginLeft {
    margin-left: 40px;
}
.confirmContentMarginTop{
    margin-top: 70px
}
.customFormItem .tiny_form_td_label{width: 80px;}
#app_create_configSoftware_associatePop_sel {
    margin-left: 40px;
    margin-top: 10px;
}
.configSoftware_associate_input{margin-bottom: 15px;}
.configSoftware_associate_input .tiny_form_td_label{width: 65px;}

.vpc-div-radio{margin-left: 34px; margin-bottom: 10px;color:#666;}
.vpc-confirm-div{width: 200px; float: left;}
#appOverviewStep11{
    width:50px;
    height: 50px;
    background: url(../../images/gm/appImage/appOverview1.png);
    background-repeat: no-repeat;
}
#appOverviewStep12{
    width: 50px;
    height: 50px;
    background: url(../../images/gm/appImage/appOverview2.png);
    background-repeat: no-repeat;
}
#appOverviewStep13{
    width: 50px;
    height: 50px;
    background: url(../../images/gm/appImage/appOverview3.png);
    background-repeat: no-repeat;
}
#appOverviewStep21{
    width: 50px;
    height: 50px;
    background: url(../../images/gm/appImage/appOverview4.png);
    background-repeat: no-repeat;
}
#appOverviewStep22{
    width:50px;
    height: 50px;
    background: url(../../images/gm/appImage/appOverview5.png);
    background-repeat: no-repeat;
}
.appOverviewStep {
    color: #000;
    font-size: 16px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.appOverviewTips{
    min-height: 60px;
    margin-top: 10px;
    color: #999999;
    font-size: 14px;
}
.appOverviewLink{
    margin-top: 10px;
    color: #333;
}
.appOverviewLink a{
    color: #08C;
    cursor: pointer;
    border-color: transparent;
    border-radius: 0px;
}
#appOverviewStepOuter1,#appOverviewStepOuter2{
    margin-top: 15px;
    margin-bottom: 30px;
}
.appListLeftLayoutWidth{width: 200px;}
.customLabelTitle {
    width: 120px;
    display: inline-block;
}
.customLabelContent {
    width: 250px;
    display: inline-block;
}
.customTableDetailMargin{margin: 10px 5px 10px 5px;}
.customTableDetailMargin .customTableDetailContent{min-height: 15px;}

.thumbnails > li{
    min-height: 220px;
}
.customHide{cursor: pointer;}

#maskId .tiny-radio{
    width: 100px;
}
.top85{
    margin-top: 85px;
}
#copyTemplateCurLogId{
    width: 60px;
    height: 76px;
}
#customCopyTemplateLogoOptionId img{
    width: 60px;
    height: 76px;
}
#customAppLogoOptionId img{
    width: 60px;
    height: 76px;
}
#createAppCurImgId{
    width: 60px;
    height: 76px;
}
#customAppLogoOptionId2 img{
    width: 60px;
    height: 76px;
}
#customAppCurImgId{
    width: 60px;
    height: 76px;
}
#createAppIctCurImgId{
    width: 60px;
    height: 76px;
}
#importTemplateLogoOptionId img{
    width: 60px;
    height: 76px;
}
#importTempCurImgId{
    width: 60px;
    height: 76px;
}
#createTemplateLogoOptionId img{
    width: 60px;
    height: 76px;
}
#createTempCurImgId{
    width: 60px;
    height: 76px;
}
.topNegative38{margin-top: -38px;}
#appHistoryCpuLinePlot{
    margin-top: 40px;
}
#appHistoryMemLinePlot{
    margin-top: 40px;
}
#appHistoryDiskLinePlot{
    margin-top: 18px;
}
#appHistoryCpuLegend,#appHistoryMemLegend,#appHistoryDiskLegend{
    width: 150px !important;
}
#appDeployReportIctTable .tiny-Pagination-tiny-combobox{
    display: none!important;
    visibility: hidden !important;
}
#customCurPageDiv{
    margin-top: 12px;
}
#customCurPageSpan{
    margin-left: 10px;
}
.content-style-width{
    width: 100%;
}