@charset "utf-8";

.ecs_vm_create_temp_img {  margin-top: 6px; margin-left: 10px; width: 80px; height: 64px; background: url(../../images/gm/suseLinux.png); }
.ecs_vm_template_bk_color { background-color: #eeeeee; }

#ecsVmCreateTempInfoTempList { margin-left: 20px; width: 790px; height: 182px; background: url(../../images/gm/tempList.png); }

#ecsVmCreateDisks .tinyTable_tablecaption { padding: 0px;}

#ecsVmCreateSpecVmNumDiv .tiny_form { margin-top: 5px; }

#ecsHostsDiskInfoImage {margin-top: 40px; margin-left: 40px; width: 55px; height: 80px; background: url(../../images/gm/disk.png); }

#appCheckResourceImg {width: 55px; height: 40px; background: url(../../images/gm/vmAdmin.png); }

#appUseTempateImg {width: 55px; height: 40px; background: url(../../images/gm/hostAdmin.png); }

#appCreateApplicationImg {width: 55px; height: 40px; background: url(../../images/gm/storageAdmin.png); }

#ecsNaviNetAdmImg {width: 55px; height: 40px; background: url(../../images/gm/netAdmin.png); }

#appCrateVMImg {width: 55px; height: 40px; background: url(../../images/gm/hostAdmin.png); }

#appCustomizeApplicationImg {width: 55px; height: 40px; background: url(../../images/gm/storageAdmin.png); }

.objAdmin {color: #E07A2D; font-size: 14px; padding-bottom: 5px;}
