@charset "utf-8";

/*
 *@date 2014-04.15
 *@author
 *@for license manage
 */
.license-box{
    padding:20px 0;
}
.license-manage{
}
.license-expired-title{
    color:#c00;
}
.license-expire .license-manage{
    padding:0;
    line-height:20px;
}
.license-manage li{
    line-height:30px;
}
.license-manage .license-steps{
    padding:0 0 5px 15px;
}
.license-manage .license-steps .align-without-num{
    margin-left:23px;
}
.license-manage .file-upload-container{
}
.license-manage .file-upload-container .tiny-file-title{
    display:none;
}
.license-manage .file-upload-container .ng-isolate-scope{
    float:left;
}
.license-manage .file-upload-container .tiny-file-single-detail-line{
    margin-left:0;
}
.license-manage .license-label{
    line-height:30px;
}
.license-manage .tinyTablediv{
    margin-top:5px;
}