@charset "utf-8";

/*
 *@date 2014-04-23
 *@for license manage
 */

.operator-log-box{
    padding:10px;
}
.operator-search-box{
    padding:10px 0;
}
.operator-search-box .icon-export{
    margin:3px 3px 0 0;
    background:url(../../images/icon_export.png) 0 50%;
}
.operator-search-box .icon-refresh{
    margin:3px 3px 0 0;
    background:url(../../images/refresh.png) 0 50%;
}
.operator-log-box .tiny_form{
     margin-top:0;
 }
.operator-log-box .operator-log-search-label{
    display:inline-block;
    width:80px;
    text-align:left;
}