<div class="container-fluid">
    <div id="addMember" ng-controller="userMgr.org.memberManage.addMember.ctrl">
        <div class="clearfix">
            <div class="fl" style="width:371px;max-height:4750px;">
                <div class="form-inline">
                    <span ng-bind="memberSelectModel.canSelectMemberLabel"></span>

                    <div class="pull-right">
                                <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
                                    <tiny-searchbox id="leftMemberSearchBox.id"
                                                    placeholder="leftMemberSearchBox.placeholder"
                                                    width="leftMemberSearchBox.width"
                                                    suggest-size="leftMemberSearchBox.suggestSize"
                                                    maxlength="leftMemberSearchBox.maxLength"
                                                    suggest="leftMemberSearchBox.suggest"
                                                    search="leftMemberSearchBox.search">
                                    </tiny-searchbox>
                                </span>
                    </div>
                </div>
                <div>
                    <tiny-table id="leftTable.id"
                                data="leftTable.data"
                                columns="leftTable.columns"
                                enable-pagination="leftTable.pagination"
                                pagination-style="leftTable.paginationStyle"
                                length-change="leftTable.lengthChange"
                                length-menu="leftTable.lengthMenu"
                                display-length="leftTable.displayLength"
                                enable-filter="leftTable.enableFilter"
                                cur-page="leftTable.curPage"
                                total-records="leftTable.totalRecords"
                                request-config="leftTable.requestConfig"
                                hide-total-records="leftTable.hideTotalRecords"
                                render-row="leftTable.renderRow"
                                callback="leftTable.callback"
                                change-select="leftTable.changeSelect"
                                columns-draggable="true"
                                show-details="leftTable.showDetails"></tiny-table>
                </div>
            </div>
            <div class="fr" style="width:371px;max-height:4750px;">
                <div class="form-inline">
                    <span ng-bind="memberSelectModel.memberSelectedLabel"></span>
                </div>

                <div>
                    <tiny-table id="rightTable.id"
                                data="rightTable.data"
                                columns="rightTable.columns"
                                enable-pagination="rightTable.pagination"
                                hide-total-records="rightTable.hideTotalRecords"
                                render-row="rightTable.renderRow"
                                callback="rightTable.callback"
                                change-select="rightTable.changeSelect"
                                columns-draggable="true"
                                show-details="rightTable.showDetails"></tiny-table>
                </div>
            </div>
        </div>
        <div class="fm-btn-top-large" style="margin-left: 180px;">
            <tiny-button class="major-btn"
                         id="addMemberSaveBtn.id"
                         text="addMemberSaveBtn.text"
                         disable="addMemberSaveBtn.disable"
                         click="addMemberSaveBtn.click()"></tiny-button>
            <tiny-button id="addMemberCancelBtn.id"
                         text="addMemberCancelBtn.text"
                         click="addMemberCancelBtn.click()"></tiny-button>
        </div>
    </div>
</div>
<script type="application/javascript">
require(["app/business/user/controllers/organization/addMemberCtrl"], function(addMemberCtrl) {
    var $injector = angular.injector(["ng", addMemberCtrl.name]);
    $injector.invoke(function($compile) {
        var link = $compile($("#addMember"));
        link($("#addMember").scope());
        $("#addMember").scope().$digest();
    });
});
</script>