<div class="container-fluid">
    <div id="azManage" ng-controller="userMgr.org.cloudInfrasManage.ctrl" style="display:none">
        <tiny-formfield labelwidth="orgAzInfo.labelwidth">
            <tiny-item label="azSelectModel.azSelectLabel">
                <div class="clearfix">
                    <div class="fl" style="width:250px">
                        <div class="form-inline">
                            <span ng-bind="azSelectModel.canSelectAzLabel"></span>

                            <div class="pull-right">
                                <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
                                    <tiny-searchbox id="leftAzSearchBox.id" placeholder="leftAzSearchBox.placeholder"
                                                    width="leftAzSearchBox.width"
                                                    suggest-size="leftAzSearchBox.suggestSize"
                                                    maxlength="leftAzSearchBox.maxLength"
                                                    suggest="leftAzSearchBox.suggest" search="leftAzSearchBox.search">
                                    </tiny-searchbox>
                                </span>
                            </div>
                        </div>
                        <div style="border: 1px #ccc solid;overflow-y:auto;overflow-x:hidden; height: 300px;margin-top: 10px">
                            <div style="margin: 5px;">
                                <div ng-repeat="azLeft in canSelectAz.azList">
                                    <tiny-checkbox id="azLeft.id" text="azLeft.name" height="canSelectAz.height"
                                                   checked="azLeft.checked"></tiny-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fl" style="width: 100px;display:block; text-align: center; margin-top: 135px;">
                        <div>
                            <img src='../theme/default/images/common_leftbutton.png' ng-click="selectAzLeftBtn.click()">
                        </div>
                        <div>
                            <img src='../theme/default/images/common_rightbutton.png'
                                 ng-click="selectAzRightBtn.click()">
                        </div>
                    </div>
                    <div class="fl" style="width:250px">
                        <span ng-bind="azSelectModel.azSelectedLabel"></span>

                        <div style="border: 1px #ccc solid;overflow-y:auto;overflow-x:hidden;height: 300px;margin-top: 10px">
                            <div style="padding: 5px;">
                                <div class="clearfix" ng-repeat="azRight in selectedAz.azList">
                                    <div class="fl">
                                        <tiny-checkbox id="azRight.id" text="azRight.name" checked="azRight.checked"
                                                       width="selectedAz.width"
                                                       height="selectedAz.height"></tiny-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tiny-item>
        </tiny-formfield>
        <div class="text-center fm-btn-top-small">
            <tiny-button class="major-btn" id="modifyBtn.id" text="modifyBtn.text" disable="modifyBtn.disable"
                         click="modifyBtn.click()"></tiny-button>
            <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
        </div>
    </div>
</div>
<script type="application/javascript">
    require(["app/business/user/controllers/organization/cloudInfrasManageCtrl"], function (cloudInfrasManageCtrl) {
        var $injector = angular.injector(["ng", cloudInfrasManageCtrl.name]);
        $injector.invoke(function ($compile) {
            var $rootDiv = $("#azManage");
            var link = $compile($rootDiv);
            link($rootDiv.scope());
            $rootDiv.scope().$digest();
            $($rootDiv).show();
        });
    });
</script>