<div id="createOrgMemberInfo">
    <tiny-formfield>
        <tiny-item label="memberSelectModel.memberSelectLabel">
            <div class="clearfix">
                <div class="fl" style="width:400px;max-height:500px;">
                    <div class="form-inline">
                        <span ng-bind="memberSelectModel.canSelectMemberLabel"></span>

                        <div class="pull-right">
                                <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
                                    <tiny-searchbox id="leftMemberSearchBox.id"
                                                    placeholder="leftMemberSearchBox.placeholder"
                                                    width="leftMemberSearchBox.width"
                                                    suggest-size="leftMemberSearchBox.suggestSize"
                                                    maxlength="leftMemberSearchBox.maxLength"
                                                    search="leftMemberSearchBox.search">
                                    </tiny-searchbox>
                                </span>
                        </div>
                    </div>
                    <div>
                        <tiny-table id="leftTable.id"
                                    data="leftTable.data"
                                    columns="leftTable.columns"
                                    enable-pagination="leftTable.pagination"
                                    pagination-style="leftTable.paginationStyle"
                                    length-change="leftTable.lengthChange"
                                    length-menu="leftTable.lengthMenu"
                                    display-length="leftTable.displayLength"
                                    enable-filter="leftTable.enableFilter"
                                    cur-page="leftTable.curPage"
                                    total-records="leftTable.totalRecords"
                                    request-config="leftTable.requestConfig"
                                    hide-total-records="leftTable.hideTotalRecords"
                                    render-row="leftTable.renderRow"
                                    callback="leftTable.callback"
                                    change-select="leftTable.changeSelect"
                                    columns-draggable="true"
                                    show-details="leftTable.showDetails"></tiny-table>
                    </div>
                </div>
                <div class="fl left20" style="width:400px;max-height:500px;">
                    <div class="form-inline">
                        <span ng-bind="memberSelectModel.memberSelectedLabel"></span>
                    </div>

                    <div>
                        <tiny-table id="rightTable.id"
                                    data="rightTable.data"
                                    columns="rightTable.columns"
                                    enable-pagination="rightTable.pagination"
                                    hide-total-records="rightTable.hideTotalRecords"
                                    render-row="rightTable.renderRow"
                                    callback="rightTable.callback"
                                    change-select="rightTable.changeSelect"
                                    columns-draggable="true"
                                    show-details="rightTable.showDetails"></tiny-table>
                    </div>
                </div>
            </div>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button id="memberInfoPreBtn.id" text="memberInfoPreBtn.text"
                         click="memberInfoPreBtn.click()"></tiny-button>
            <tiny-button class="major-btn" id="memberInfoNextBtn.id" text="memberInfoNextBtn.text"
                         click="memberInfoNextBtn.click()"></tiny-button>
            <tiny-button id="cancelBtn.id" text="cancelBtn.text"
                         click="cancelBtn.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>