<div id="createOrgConfirmInfo">
    <div class="line-height30">
        <tiny-formfield>
            <tiny-item label="name.label">
                {{name.value}}
            </tiny-item>
            <tiny-item label="quotaConfirm.label">
                <div ng-show="quotaNotLimit" ng-bind="i18n.common_term_notLimit_value"></div>
            </tiny-item>
            <tiny-item display="!quotaNotLimit" label="">
                <div class="row-fluid" style="width:500px">
                    <div class="span6">
                        <div>
                            <div class="span6 color-gray">{{cpuNumber.label}}</div>
                            <div class="span6">{{cpuNumber.value}}</div>
                        </div>
                        <div>
                            <div class="span6 color-gray">{{storage.label}}</div>
                            <div class="span6">{{storage.value}}</div>
                        </div>
                        <div>
                            <div class="span6 color-gray">{{vpcNumber.label}}</div>
                            <div class="span6">{{vpcNumber.value}}</div>
                        </div>
                        <div>
                            <div class="span6 color-gray">{{vmNumber.label}}</div>
                            <div class="span6">{{vmNumber.value}}</div>
                        </div>
                    </div>
                    <div class="span6">
                        <div>
                            <div class="span6 color-gray">{{memoryUpperLimit.label}}</div>
                            <div class="span6">{{memoryUpperLimit.value}}</div>
                        </div>
                        <div>
                            <div class="span6 color-gray">{{eipNumber.label}}</div>
                            <div class="span6">{{eipNumber.value}}</div>
                        </div>
                        <div>
                            <div class="span6 color-gray">{{sgNumber.label}}</div>
                            <div class="span6">{{sgNumber.value}}</div>
                        </div>
                    </div>
                </div>
            </tiny-item>
            <tiny-item label="rangeSelected.label">
                <div ng-bind="rangeSelected.value"></div>
            </tiny-item>
            <tiny-item label="orgNetwork.label" display="orgNetwork.display">
                <div ng-bind="orgNetwork.value"></div>
            </tiny-item>
            <tiny-item label="orgUser.label" display="!openstack || isServiceCenter">
                <div ng-bind="orgUser.value"></div>
            </tiny-item>
            <tiny-item label="description.label">
                <div ng-bind="description.value"></div>
            </tiny-item>
            <tiny-item class="fm-btn-top-small">
                <tiny-button id="confirmInfoPreBtn.id" text="confirmInfoPreBtn.text"
                             click="confirmInfoPreBtn.click()"></tiny-button>
                <tiny-button class="major-btn" id="createBtn.id" text="createBtn.text"
                             click="createBtn.create()"></tiny-button>
                <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
            </tiny-item>
        </tiny-formfield>
    </div>
    <br/>
</div>

