<div id="createOrgBasicInfo">
    <div>
        <tiny-formfield labelwidth="orgQuotaInfo.labelwidth">
            <tiny-item label="name.label" require="name.require">
                <tiny-textbox id="name.id" value="name.value" readonly="name.readonly" tooltip="name.tooltip"
                              validate="name.validate"></tiny-textbox>
            </tiny-item>
            <tiny-item label="quotaLimit.label" require="false">
                <tiny-radiogroup id="quotaLimit.id" values="quotaLimit.values"
                                 change="quotaLimit.change()"></tiny-radiogroup>
            </tiny-item>
            <tiny-item label="cpuNumber.label" require="cpuNumber.require" display="!quotaNotLimit">
                <tiny-textbox id="cpuNumber.id" validate="cpuNumber.validate" tooltip="cpuNumber.tooltip"
                              readonly="cpuNumber.readonly" value="cpuNumber.value"
                              disable="quotaNotLimit"></tiny-textbox>
            </tiny-item>
            <tiny-item label="memoryUpperLimit.label" require="memoryUpperLimit.require" display="!quotaNotLimit">
                <tiny-textbox id="memoryUpperLimit.id" validate="memoryUpperLimit.validate"
                              tooltip="memoryUpperLimit.tooltip" value="memoryUpperLimit.value"
                              disable="quotaNotLimit"></tiny-textbox>
            </tiny-item>
            <tiny-item label="storage.label" require="storage.require" display="!quotaNotLimit">
                <tiny-textbox id="storage.id" validate="storage.validate" tooltip="storage.tooltip"
                              value="storage.value" disable="quotaNotLimit"></tiny-textbox>
            </tiny-item>
            <tiny-item label="eipNumber.label" require="eipNumber.require" display="!quotaNotLimit && !Competition.isBaseOnVmware">
                <tiny-textbox id="eipNumber.id" validate="eipNumber.validate" tooltip="eipNumber.tooltip"
                              value="eipNumber.value" disable="quotaNotLimit"></tiny-textbox>
            </tiny-item>
            <tiny-item label="vpcNumber.label" require="vpcNumber.require" display="!quotaNotLimit">
                <tiny-textbox id="vpcNumber.id" validate="vpcNumber.validate" tooltip="vpcNumber.tooltip"
                              value="vpcNumber.value" disable="quotaNotLimit"></tiny-textbox>
            </tiny-item>
            <tiny-item label="sgNumber.label" require="sgNumber.require" display="!quotaNotLimit && !Competition.isBaseOnVmware">
                <tiny-textbox id="sgNumber.id" validate="sgNumber.validate" tooltip="sgNumber.tooltip"
                              value="sgNumber.value" disable="quotaNotLimit"></tiny-textbox>
            </tiny-item>
            <tiny-item label="vmNumber.label" require="vmNumber.require" display="!quotaNotLimit">
                <tiny-textbox id="vmNumber.id" validate="vmNumber.validate" tooltip="vmNumber.tooltip"
                              value="vmNumber.value" disable="quotaNotLimit"></tiny-textbox>
            </tiny-item>
            <tiny-item label="description.label" require="description.require">
                <tiny-textbox id="description.id" value="description.value" validate="description.validate"
                              width="description.width" height="description.height" readonly="description.readonly"
                              type="description.type"></tiny-textbox>
            </tiny-item>
            <tiny-item class="fm-btn-top-small">
                <tiny-button class="major-btn" id="basicInfoNextBtn.id" text="basicInfoNextBtn.text"
                             click="basicInfoNextBtn.click()"></tiny-button>
                <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
            </tiny-item>
        </tiny-formfield>
    </div>
    <br/>
</div>