<div>
    <div fm-help help="'drawer_org'" show="show.help" i18n="'zh'"></div>
    <link rel="stylesheet" type="text/css" href="../theme/light/css/org.css">
    <div class="container-fluid">
        <div class="crumbs">
            <ul class="nav nav-list noPadding">
                <li>
                    <span ng-bind="i18n.org_term_vdcManage_label"></span>
                </li>
                <li class="two-lead">
                    <p ng-bind-html="i18n.org_vdc_view_explan_label"></p>
                </li>
                <li class="divider"></li>
            </ul>
        </div>
        <div class="content-right-box">
            <div class="form-inline clearfix">
                <tiny-button class="major-btn" id="" disable="createBtn.disable" ng-hide="createBtn.disable"
                             text="createBtn.text" click="createBtn.create()"></tiny-button>
                <tiny-button id="downloadBtn.id" text="downloadBtn.text" click="downloadBtn.click()"></tiny-button>
                <tiny-button id="topStaticsBtn.id"
                             text="topStaticsBtn.text"
                             ng-if="topStaticsBtn.display"
                             click="topStaticsBtn.click()"></tiny-button>
                <iframe id="downloadVDC" style="display:none"></iframe>
                <!--刷新、帮助-->
                <div class="pull-right">
                <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
                    <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width"
                                    suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength"
                                    suggest="searchBox.suggest" search="searchBox.search">
                    </tiny-searchbox>
                </span>
                    <a class="btn-link">
                        <div ng-click="refresh.click()" class="small-icon small-icon-refresh"></div>
                    </a>
                    <a class="btn-link">
                        <div ng-click="show.help=true" class="small-icon small-icon-help"></div>
                    </a>
                </div>
            </div>
            <div>
                <tiny-table id="model.id"
                            data="model.datas"
                            columns="model.columns"
                            enable-pagination="model.pagination"
                            pagination-style="model.paginationStyle"
                            length-change="model.lengthChange"
                            length-menu="model.lengthMenu"
                            display-length="model.displayLength"
                            enable-filter="model.enableFilter"
                            cur-page="model.curPage"
                            total-records="model.totalRecords"
                            request-config="model.requestConfig"
                            hide-total-records="model.hideTotalRecords"
                            render-row="model.renderRow"
                            callback="model.callback"
                            change-select="model.changeSelect"
                            show-details="model.showDetails"
                            columns-draggable="true"
                        ></tiny-table>
            </div>
        </div>
    </div>
</div>