<ul class="container-fluid" id="vdcStatistic" ng-controller="vdcMgr.vdc.vdcStatisticList.ctrl">
    <li class="clearfix">
        <label ng-bind="i18n.common_term_resource_label + ':'"></label>
        <tiny-select id="statisticsTypeSelect.id"
                     values="statisticsTypeSelect.values"
                     width="statisticsTypeSelect.width"
                     change="statisticsTypeSelect.change()">
        </tiny-select>
    </li>
    <li class="top20">
        <h4 ng-bind="i18n.perform_term_quotaUsageRateTop5_label"></h4>

        <div class="margin-top-beautifier" id="quotaUtilizationInfoChart"></div>
    </li>
    <li style="margin-top: 30px;margin-bottom: 30px;">
        <div class="legend" style="margin-bottom: 1px;"></div>
        <div class="legend" style="margin-top: 1px;"></div>
    </li>
    <li class="top20">
        <h4 ng-bind="i18n.perform_term_sysResourceUsageRateTop5_label"></h4>

        <div class="margin-top-beautifier" id="resourceUtilizationInfoChart"></div>
    </li>
</ul>
<script type="application/javascript">
    require(["app/business/user/controllers/organization/vdcStatisticCtrl"], function (vdcStatisticCtrl) {
        var $injector = angular.injector(["ng", vdcStatisticCtrl.name]);
        $injector.invoke(function ($compile) {
            var $rootDiv = $("#vdcStatistic");
            var link = $compile($rootDiv);
            link($rootDiv.scope());
            $rootDiv.scope().$digest();
        });
    });
</script>
