<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li>
                <span ng-bind-html="i18n.common_term_alarmStatistic_label"></span>
            </li>
            <li class="two-lead">
                <p ng-bind-html="i18n.alarm_statistic_view_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div>
            <!--刷新、列选择、帮助-->
            <div class="clearfix bottom10">
                <div class="pull-right">
                    <div class="small-icon small-icon-menuicon" style="margin-top: 5px;"></div>
                    <tiny-filtersel id="address.id" values="address.values" width="address.width" height="address.height" change="address.change()">
                    </tiny-filtersel>
                    <tiny-filtersel id="searchTopN.id" values="searchTopN.values" width="searchTopN.width" class="margin-right-beautifier" default-label="searchTopN.dftLabel" change="searchTopN.change()">
                    </tiny-filtersel>
                    <tiny-filtersel id="searchLevel.id" values="searchLevel.values" width="searchLevel.width" class="margin-right-beautifier" default-label="searchLevel.dftLabel" change="searchLevel.change()">
                    </tiny-filtersel>
                    <tiny-filtersel id="searchPeriod.id" values="searchPeriod.values" width="searchPeriod.width" class="margin-right-beautifier" default-label="searchPeriod.dftLabel" change="searchPeriod.change()">
                    </tiny-filtersel>

                    <div ng-show="showDateTime == true" style="display: inline-block;">
                        <tiny-datetime id="timeIds.searchStartTime"
                                       type="time.type"
                                       width="time.width"
                                       date-format="time.dateFormat"
                                       time-format="time.timeFormat"
                                       min-date="time.start.minDate"
                                       max-date="time.start.maxDate"
                                       first-day="time.firstDay"
                                       on-close="time.start.onClose"
                                       ampm="time.ampm"></tiny-datetime>
                        -
                        <tiny-datetime id="timeIds.searchEndTime"
                                       type="time.type"
                                       width="time.width"
                                       date-format="time.dateFormat"
                                       time-format="time.timeFormat"
                                       min-date="time.end.minDate"
                                       max-date="time.end.maxDate"
                                       first-day="time.firstDay"
                                       on-close="time.end.onClose"
                                       ampm="time.ampm"></tiny-datetime>
                    </div>
                    <tiny-button class="fm-btn-left-large major-btn" id="queryBtn.id" icons-class="icon-plus" text="queryBtn.text" click="queryBtn.click()"></tiny-button>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12 outbox-padding" style="position: relative;z-index: 1;">
                    <div id="columnchartDiv" class="top20" ng-show="alarmStats.show==='true'">
                        <tiny-columnchart id="alarmStats.id" values="alarmStats.values" is-fill="alarmStats.isFill" bold="alarmStats.bold" width="alarmStats.width">
                        </tiny-columnchart>
                    </div>
                    <div ng-show="alarmStats.show==='false'">
                        <div class="customNoData" style="margin: 38px 0 20px;">
                            <span ng-bind="alarmStats.noDataTips"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="alarmTable">
            <tiny-table id="alarmListTable.id" data="alarmListTable.data" columns="alarmListTable.columns" pagination-style="alarmListTable.paginationStyle" length-change="alarmListTable.lengthChange" length-menu="alarmListTable.lengthMenu" display-length="alarmListTable.displayLength"
            enable-filter="alarmListTable.enableFilter" change-select="alarmListTable.changeSelect" show-details="alarmListTable.showDetails"
            enable-pagination="alarmListTable.enablePagination" callback="alarmListTable.callback" render-row="alarmListTable.renderRow" columns-visibility="false" columns-draggable="false"></tiny-table>
        </div>
    </div>
</div>

<style>
.tdHead {
    text-align: right;
    vertical-align: middle;
    margin-left: 50px;
}
</style>
