<fm-help help="help.helpKey" show="help.show" i18n="help.i18n"></fm-help>
<div class="container-fluid">
    <div class="crumbs pr">
        <ul class="nav nav-list noPadding">
            <li>
                <span ng-bind-html="i18n.common_term_alarmList_label"> </span>
            </li>
            <li class="two-lead">
                <p ng-bind-html="i18n.alarm_general_view_explan_label"> </p>
            </li>
            <li class="divider"></li>
            <li class="help-pa">
                <a class="btn-link">
                    <div title="{{i18n.common_term_help_label}}" ng-click="help.click()" id="help.id" class="small-icon small-icon-help"></div>
                </a>
            </li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="margin-erect-beautifier clearfix">
            <div class="fl">
                <tiny-button ng-if = "hasAlarmOperateRight === true" id="clearBtn.id" icons-class="icon-plus" text="clearBtn.text"
                             click="clearBtn.click()" disable="clearBtn.disable"></tiny-button>
                <tiny-button ng-if = "hasAlarmViewRight === true" id="createExportBtn.id" icons-class="icon-plus" text="createExportBtn.text"
                             click="createExportBtn.click()"></tiny-button>
            </div>

            <!--刷新、列选择、帮助-->
            <div class="pull-right">
                <div class="small-icon small-icon-menuicon" style="margin-top: 5px;"></div>
                <tiny-filtersel id="address.id" values="address.values" width="address.width" height="address.height" change="address.change()">
                </tiny-filtersel>
                <tiny-filtersel id="searchLevel.id" values="searchLevel.values" width="searchLevel.width" change="searchLevel.change()">
                </tiny-filtersel>

                <tiny-filtersel id="searchAlarmType.id" values="searchAlarmType.values" width="searchAlarmType.width" change="searchAlarmType.change()">
                </tiny-filtersel>
                <span ng-bind-html="i18n.common_term_generantTime_label"></span>：
                <tiny-datetime id="time.startTimeId"
                               type="time.type"
                               width="time.width"
                               date-format="time.dateFormat"
                               time-format="time.timeFormat"
                               min-date="time.start.minDate"
                               max-date="time.start.maxDate"
                               first-day="time.firstDay"
                               on-close="time.start.onClose"
                               ampm="time.ampm"></tiny-datetime>
                -
                <tiny-datetime id="time.endTimeId"
                               type="time.type"
                               width="time.width"
                               date-format="time.dateFormat"
                               time-format="time.timeFormat"
                               min-date="time.end.minDate"
                               max-date="time.end.maxDate"
                               first-day="time.firstDay"
                               on-close="time.end.onClose"
                               ampm="time.ampm"></tiny-datetime>

                <span style="display: inline-block; vertical-align: middle;">
                    <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width" suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength" search="searchBox.search">
                    </tiny-searchbox>
                </span>
                <a class="btn-link">
                    <div ng-click="refresh.click()" id="refresh.id" title="{{i18n.common_term_fresh_button}}" class="small-icon small-icon-refresh"></div>
                </a>
            </div>
        </div>
        <div id="alarmTable" class="margin-top-beautifier">
            <tiny-table id="alarmListTable.id" data="alarmListTable.data" columns="alarmListTable.columns" pagination-style="alarmListTable.paginationStyle" length-change="alarmListTable.lengthChange" length-menu="alarmListTable.lengthMenu" display-length="alarmListTable.displayLength"
            enable-filter="alarmListTable.enableFilter" change-select="alarmListTable.changeSelect" show-details="alarmListTable.showDetails" callback="alarmListTable.callback" render-row="alarmListTable.renderRow" columns-visibility="false" total-records="alarmListTable.totalRecords"
            cur-page="alarmListTable.curPage" columns-draggable="true"></tiny-table>
        </div>
    </div>
    <iframe id="monitorAlarmsExport" style="display:none"></iframe>
</div>
