<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li>
               <span ng-bind-html="i18n.common_term_alarmSet_label"></span>
            </li>
            <li class="two-lead">
                <p ng-bind-html="i18n.alarm_config_view_explan_user_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div id="myTabs" class="tiny-tabs-container">
            <div class="tiny-tabs-titles">
                <ul>
                    <li ng-class="{tinyTabActive:$state.includes(plugin.openState)}" ng-repeat="plugin in plugins" ui-sref="{{plugin.openState}}">
                        <a href="#" ng-click="setSelectedTabItem(plugin.name)">{{plugin.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="tiny-tabs-content">
                <div ui-view></div>
            </div>
        </div>
    </div>
    <script>
    require(["tiny-widgets/Tabs"], function(Tabs) {
        var tabs = new Tabs({
            "id": "myTabs",
            "setActiveClass": true
        });
    });
    </script>
</div>
