<div class="container-fluid alarm-detail" ng-controller="monitor.alarm.detail.ctrl">
    <div class="row-fluid innerbox-padding">
        <div class="span6">
            <tiny-formfield>

                <tiny-item label="additionalInfo.label">
                    <span ng-bind="alarmDetail.additionalInfo"></span>
                </tiny-item>

                <tiny-item label="sn.label">
                    <span ng-bind="alarmDetail.sn"></span>
                </tiny-item>
                <tiny-item label="severity.label">
                    <span ng-bind="alarmDetail.severity"></span>
                </tiny-item>
                <tiny-item label="moc.label">
                    <span ng-bind="alarmDetail.moc"></span>
                </tiny-item>
                <tiny-item label="compName.label">
                    <span ng-bind="alarmDetail.compName"></span>
                </tiny-item>
                <tiny-item label="occurTime.label">
                    <span ng-bind="alarmDetail.occurTime"></span>
                </tiny-item>
                <tiny-item label="clearType.label">
                    <span ng-bind="alarmDetail.clearType"></span>
                </tiny-item>
            </tiny-formfield>
        </div>
        <div class="span6">
            <tiny-formfield>
                <tiny-item label="alarmId.label">
                    <span ng-bind="alarmDetail.alarmId"></span>
                </tiny-item>
                <tiny-item label="alarmName.label">
                    <span ng-bind="alarmDetail.alarmName"></span>
                </tiny-item>
                <tiny-item label="resourceName.label">
                    <span ng-bind="alarmDetail.resourceName"></span>
                </tiny-item>
                <tiny-item label="compType.label">
                    <span ng-bind="alarmDetail.compType"></span>
                </tiny-item>
                <tiny-item label="clearTime.label">
                    <span ng-bind="alarmDetail.clearTime"></span>
                </tiny-item>
                <tiny-item label="userofclear.label">
                    <span ng-bind="alarmDetail.userofclear"></span>
                </tiny-item>
            </tiny-formfield>
        </div>
    </div>
</div>
<script>
require(['app/business/monitor/controllers/alarmDetailModel'],
    function(detailModel) {
        var curView = undefined;
        $(".alarm-detail").each(function() {
            if ($(this).attr("id") === undefined) {
                curView = $(this);
            }
        });
        curView.attr("id", new Date().getMilliseconds());

        //编译
        var scope = curView.scope();
        var dep = ['ng', 'wcc', detailModel.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", curView);
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile(curView)($rootScope);
            $rootScope.$digest();
        });

        //查询详细信息
        var newScope = curView.scope();
        newScope.queryDetail(scope.currentItem);
    });
</script>