.tiny-cirque-shadow {
	background-image: url("../images/circle_bottom_back.png");
	background-repeat: no-repeat;
	width: 148px;
	height: 15px;
	position: absolute;
}
.tiny-cirque-tip {
	position: absolute;
	background-color: rgba(255,255,255,1.0);
	padding: 1px;
	border: 1px solid rgba(0,0,0,.2);
	z-index: 10000;
	font-size: 11px;
	text-align: left;
}
