.tiny-filterselect {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
/*.tiny-filterselect-input-field-outbox {*/
    /*height: 22px;*/
    /*margin-right: 14px;*/
/*}*/
/*.tiny-filterselect-input-field {*/
    /*width: 10px;*/
    /*height: 8px;*/
    /*background-image: url(../images/filter_select_merger.png);*/
    /*background-position: 100% center;*/
    /*background-repeat: no-repeat;*/
    /*margin-top: 8px;*/
    /*float: left;*/
/*}*/

.tiny-filterselect-input-field {
    height: 22px;
    background-image: url(../images/filter_select_merger.png);
    background-position: 100% center;
    background-repeat: no-repeat;
    margin-right: 15px;
}
.tiny-filter-select-span{
    margin-left: -1px;
    margin-right: 15px;
    color: #009ae7;
    height : 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tiny-filterselect-input-field-selected {
    border-color: #A9A9A9 #D3D3D3 #D7D7D7 #bbb;
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}
.tiny-filterselect-input-field-disable {
    background-color: #ededed;
}
.tiny-filterselect-text {
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border: 0 none;
    height : 23px;
    color: #009ae7;
}
.tiny-filterselect-popup-container {
    z-index: 10002;
    position: absolute;
    display: none;
    overflow: auto;
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    -webkit-box-shadow: 0 4px 5px #b1b1b1;
    -moz-box-shadow: 0 4px 5px #b1b1b1;
    box-shadow: 0 4px 5px #b1b1b1;
}



.tiny-filterselect-option {
	color: #333;
    line-height: 26px;
    padding: 0 15px;
}
.tiny-filterselect-option-selected {
    cursor: default;
    color: #008fd6;
    text-decoration: none;
    background-color: #f1f1f1;
    line-height: 26px;
}
.tiny-filterselect-option img{
    padding-bottom: 3px;
    vertical-align: middle;
    margin-right: 4px;
    height: 14px;
    width: 14px;
}
.tiny-filterselect-checkbox {
    background-image: url(../images/select_merger.png);
    background-position: 0 -50px;
    width: 16px;
    height: 16px;
    margin: 0 3px 0 0;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
}
.tiny-filterselect-checkbox-focus {
    background-position: 0 -91px;
}
.tiny-filterselect-checkbox-checked {
    background-position: 0 -114px;
}
















