.eviewInput_inputInvalid {
	border: 1px solid #F5B2B2;
	background-color: #FBE9E5;
}

.eviewInput_eviewDefaultText
{
    border: 1px solid #A9A9A9;
    border-color: #A9A9A9 #D3D3D3 #D7D7D7 #BBBBBB;
	outline: none;
	box-shadow: none;
}

.eviewInput_eviewPlaceholder
{
    color: #999999;
}

.eviewInput_eviewDisabledInput
{
    background-color: #E0E0E0;
}
.eviewIpv4_bg
{
    background-repeat: no-repeat;
    letter-spacing:1px;
    text-align:left;
    width:115px;
    height:22px;
    border: 1px inset #999;
    border-color: #A9A9A9 #D3D3D3 #D7D7D7 #BBBBBB;
    outline:none;
    white-space:pre;
}
.eviewIpv6_bg
{
    background-repeat: no-repeat;
    letter-spacing:1px;
    text-align:left;
    width:360px;
    height:22px;
    border: 1px inset #999;
    border-color: #A9A9A9 #D3D3D3 #D7D7D7 #BBBBBB;
    outline:none;
    white-space:pre;
}
