.tiny-ip-value-input{
	display:none;
}
.tiny_input_ip_container {
	border: 1px solid #D3D3D3;
	background: #fff;
	border-radius: 4px;
	padding: 2px 5px;
	box-shadow: 1px 1px 1px #fff,inset 1px 1px 1px rgba(0,0,0,0.1);
	background-color: #FFF;
	display: inline-block;
	font-weight:bold
}
.tiny_input_ip_container_focus{
	border: 1px solid #53b8eb;
}
.tiny_input_ip_octet, .tiny_input_ip_octet_v6 {
	width: 35px;
	border: 0;
	text-align: center;
	outline: none;
	font-weight: normal;
	background-color: transparent;
	border: 0 none;
	color: #666666;
	height: 20px;
	line-height: 20px;
	vertical-align:middle;
}
.tiny_input_ip_octet {
	width: 30px;
}
.tiny_ip_container_disable{
	background : #ededed;
}
.tiny_input_ip_division{
	color: #666666;
}
