#tiny-menu > ul > li {
    float: left;
    overflow: visible;
    line-height: 66px;
}
#tiny-menu > ul > li > ul {
    display: none;
}
#tiny-menu > ul > li > a {
    display: block;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    position: relative;
    z-index: 10;
}
#tiny-menu li a h1 {
    display: block;
    height: 66px;
    line-height: 66px;
    width: auto;
    padding: 0 15px;
}
#tiny-menu li a:hover h1{
    color: #00a6e7;
}
.menu-selected {
    color: #00a6e7;
    background: #606161;
}
#tiny-menu li a {
    color: #666;
    text-decoration: none;
    cursor: pointer;
}
#tiny-menu li a:hover, #tiny-menu li a:active {
    color: #08c;
}
#tiny-menu li .tiny-menu-panel  .ng-scope{
    width: auto !important;
}
#tiny-menu li .tiny-menu-panel {
    width: auto;
    float: left;
    background-color: #fafafa;
    position: absolute;
    box-shadow: 0px 3px 8px #C5C5C5;
    -webkit-box-shadow: 0px 3px 8px #C5C5C5;
    -moz-box-shadow: 0px 3px 8px #C5C5C5;
    /*--Bottom right rounded corner--*/
    -moz-border-radius-bottomright: 5px;
    -khtml-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /*--Bottom left rounded corner--*/
    -moz-border-radius-bottomleft: 5px;
    -khtml-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 30px;
    padding: 20px 30px 25px 0px ;
    z-index: 100000;
    margin-top: 0px;
    /*box-shadow:-1px 0 1px #C9C9C9,*/
    /*1px 0 1px #C9C9C9,*/
    /*0px 0px 0px #C9C9C9,*/
    /*0 1px 1px #C9C9C9;*/
    /*background:-webkit-linear-gradient(to bottom, #efecec, #ffffff) !important;*/
    /*background:linear-gradient(to bottom,#efecec,#ffffff) !important;*/
    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#efecec', endColorstr='#ffffff')"; *//* IE8 */
}
#tiny-menu li .tiny-menu-panel ul {
    list-style: none;
    padding: 0;
    display: block;
    float: left;
}
#tiny-menu .firstUl {
    margin-left: 30px;
}
#tiny-menu .commonUl {
    margin-left: 50px;
}
#tiny-menu .tiny-menu-panel ul li {
    width: 100%;
    color: #666;
    font-size: 14px;
    line-height: 30px;
}
#tiny-menu .tiny-menu-panel ul li h2 {
    padding: 0;
    padding-bottom: 7px;
    margin: 0;
    line-height: 14px;
    min-height: 14px;
    font-size: 15px;
    font-weight:bold;
    color: #666;
}
.alarm .btn-link:hover{
    color: #00a6e7;
}