.tiny-Pagination-Container {
    margin-top: 5px;
    padding-top: 5px;
    font-weight: normal;
    font: 12px Lucida Grande, Verdana, Arial, Helvetica, sans-serif;
}
.tiny-Pagination-Total-Record-Label {
    vertical-align: top;
    margin:0px 15px 0px 5px;
    line-height: 26px;
}

.tiny-Pagination-Link-Button {
    text-decoration: none;
    background: url("../images/pagination-merger.png") no-repeat left -155px;
    color:#666666;
    float: left;
    padding-left: 6px;
    height: 26px;
    display: inline;
    margin-right:5px;
}

.tiny-Pagination-GoTo-Button {
    background: url("../images/pagination-merger.png") no-repeat left -155px;
    float: left;
    padding-left: 6px;
    height: 26px;
    display: inline;
    margin-right:5px;
}

a.tiny-Pagination-Link-Button span, a.tiny-Pagination-GoTo-Button span {
    background: url("../images/pagination-merger.png") no-repeat scroll right -183px;
    float: left;
    height: 26px;
    line-height: 26px;
    padding-right: 6px;
    text-decoration: none;
}

.tiny-Pagination-Ellipse-Text {
    margin-left: -2px;
    margin-right: 2px;
    float: left;
}

a.tiny-Pagination-tiny-button:hover {
    background: url("../images/pagination-merger.png") no-repeat left -78px #fff;
    color: #4a97c6;
}
a.tiny-Pagination-tiny-button:hover span {
    background: url("../images/pagination-merger.png") no-repeat right -106px #fff;
    color: #207dba;
    float: left;
    height: 26px;
    line-height: 26px;
    padding-right: 6px;
    text-decoration: none;
}
.tiny-Pagination-Prev-Span {
    line-height: 24px;
    min-width: 20px;
    border: 1px solid #d3d3d3;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    color: #333;
    margin-left: 5px;
}

.tiny-Pagination-Link-Panel .tiny-Pagination-Prev-Span-Simple {
    background: url("../images/pagination-merger.png") no-repeat 10px -346px #fff;
    float : left;
    padding: 0 !important;
    text-decoration: none;
    vertical-align: middle;
    width:30px;
    height: 24px;
    display: inline-block;
    margin-right:5px;
}

a.tiny-Pagination-tiny-button.tiny-Pagination-Prev-Span-Simple:hover {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    background-position: 10px -561px;
    height: 24px;
    width:30px;
    clear:both;
    margin-right:5px;
}

a.tiny-Pagination-tiny-button.tiny-Pagination-Prev-Span:hover {
    display: inline-block;
    line-height: 24px;
    min-width: 20px;
    border: 1px solid #4ac9ff;
}

.tiny-Pagination-Next-Span-Simple {
    background: url("../images/pagination-merger.png") no-repeat right -278px #fff !important;
    border: 1px solid #d3d3d3;
    height: 24px;
    margin-right: 8px;
    padding: 0 !important;
    text-decoration: none;
    vertical-align: middle;
    background-position: center;
}

.tiny-Pagination-Next-Span {
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    display: inline-block;
    line-height: 24px;
    color: #333;
}

a.tiny-Pagination-tiny-button.tiny-Pagination-Next-Span{
    background: url("../images/pagination-merger.png") no-repeat -77px -346px #fff !important;
    width:30px;    
}

a.tiny-Pagination-tiny-button.tiny-Pagination-Next-Span:hover {
    background: url("../images/pagination-merger.png") no-repeat -77px -561px #fff !important;
    width:30px;
    border: 1px solid #4ac9ff;
}

a.tiny-Pagination-tiny-button.tiny-Pagination-Next-Span-Simple:hover {
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

a.tiny-Pagination-tiny-button.tiny-Pagination-Next-Span-Disabled,
a.tiny-Pagination-tiny-button.tiny-Pagination-Next-Span-Disabled:hover {
    background: url("../images/pagination-merger.png") no-repeat -77px -408px #d5d5d5 !important;
    float: none;
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #dfdfdf;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    min-width: 20px;
}

a.tiny-Pagination-tiny-button.tiny-Pagination-Next-Span-Simple.tiny-Pagination-Next-Span-Disabled {
    cursor: default;
    color: #000000;
    width:32px;
    -moz-border-radius:2px;
}

.tiny-Pagination-Prev-Span-Disabled{
    line-height: 24px;
    border: 1px solid #dfdfdf;
    -moz-border-radius:2px;
}

a.tiny-Pagination-tiny-button.tiny-Pagination-Prev-Span-Simple.tiny-Pagination-Prev-Span-Disabled, 
a.tiny-Pagination-tiny-button.tiny-Pagination-Prev-Span-Simple.tiny-Pagination-Prev-Span-Disabled:hover {
    cursor: default;
    text-decoration: none;
    color: #000000;
    background: url("../images/pagination-merger.png") no-repeat 10px -408px #d5d5d5;
    height: 24px;
    width:30px;
    border-radius:2px;
    margin-right:5px;

}

a.tiny-Pagination-tiny-button.tiny-Pagination-Prev-Span-Disabled:hover {
    line-height: 24px;
    border: 1px solid #dfdfdf;
    -moz-border-radius:2px;
}

.tiny-Pagination-Link-Selected {
    background: url("../images/pagination-merger.png") no-repeat scroll left top;
    color:#ffffff;
}

a.tiny-Pagination-Link-Selected span {
    background: url("../images/pagination-merger.png") no-repeat scroll right -28px;
    color: #fff;
}

.tiny-Pagination-GoTo-Link {
    float: left;
    padding-left: 5px;
}

.tiny-Pagination-Goto-Buttom-Image{
    background: url("../images/pagination-merger.png") no-repeat scroll -80px -280px;
    float: left;
    height: 14px;
    padding-left: 20px;
    margin-top:5px;
}

.tiny-Pagination-Goto-Input-Text {
    margin-right: -1px;
    height: 24px;
    line-height: 24px;
    padding: 0 3px;
    width: 29px;
    float: left;
    border:1px solid #d3d3d3;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}

.tiny-Pagination-left-Panel{
    float: left; 
    height: 26px;
}

.tiny-Pagination-GoTo-Parent, .tiny-Pagination-Link-Panel, .tiny-Pagination-Right-Panel{
    float:left;
}

#tiny-Pagination-goToTitle{
    float:left;
    height:26px;
    line-height:26px;
    margin:0 5px 0 20px;
}

.tiny-Pagination-tiny-combobox{
    margin-right:5px;
}
