.tiny-stellar {
    position: absolute;
    top: 50px;
    left: 70px;
    font-family: Microsoft YaHei, "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #274b6d;
    fill: #274b6d;
}
.stellarSector path {
    fill: none;
    stroke: #999;
}
.sectorLabel {
    font-weight: bold;
    text-overflow:ellipsis;
}
g.tick { 
    fill: #f3f3f3;
    stroke: #999;
}
.stellarTickUnit { 
    fill: #f3f3f3;
    stroke: #999;
}

path.stellar {
    fill: none;
    stroke: #ee8d18;
    stroke-width: 3px;
}
.stellarTools {
    display: inline-flex;
    margin-top: 30px;
    margin-left: 100px;
}

.clearfloat:before,.clearfloat:after{content:"";display:table;}
.clearfloat:after{clear: both;}
.clearfloat{zoom:1;}

.stellarTools > div {
    padding-right: 10px;
}
