.tiny-tabs-titles {padding: 0px 0px 0px 10px;border-bottom:1px solid #dcdcdc;height: 31px;margin: 0 0 10px 0;}
.tiny-tabs-container{display: inline-block; width:100%;}
.ui-state-tabs-ul{list-style:none; margin:0; padding:0; display: inline-block; font-family: "Microsoft Yahei", "SimSun", Arial, Tahoma;font-size: 14px;}
.ui-state-tabs-ul li{
    list-style:none;
    float: left;
    cursor: pointer;
    padding: 0px 5px;
    border-top: 3px solid transparent;
    height: 29px;
    line-height: 29px;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}
.ui-state-tabs-ul li.ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35);cursor: default;}

/*默认状态*/
.tinyTab-tab-left{background:none; width: 10px; height: 33px; float: left;}
.tinyTab-tab-center{display:inline-block;float: left;text-align: center;}
a.tinyTab-a{font-size: 14px;background:none; color:#666; height: 33px;line-height: 25px;text-align: center; text-decoration:none;display: inline-block;float: left;}
.tinyTab-tab-right{background:none; display:inline-block; width:10px; height:33px;}

/*关闭按钮*/
.ui-icon-close {width: 16px; height:16px; background: url('../images/tabs_merger.png') 2px -183px; display: inline-block; margin-top:3px;margin-right: -4px;}


.tinyTabActive{
    background: #fafafa !important;
    border-top: 3px solid #4ac9ff !important;
    border-left:1px solid #DCDCDC;
    border-right:1px solid #DCDCDC;
    padding: 0px 4px !important;
}

/*选中状态*/
/*.tinyTabActive .tinyTab-tab-left {background: url('../images/tabs_merger.png') no-repeat;}*/
.tinyTabActive a.tinyTab-a{color:#333;}
.ui-state-tabs-ul a:focus{outline: 0;}
/*.tinyTabActive .tinyTab-tab-center {background: url('../images/tabs_merger.png') top center no-repeat;}*/
/*.tinyTabActive .tinyTab-tab-right {background: url('../images/tabs_merger.png') 100% 0 no-repeat; }*/

/*鼠标划过状态*/
a.tinyTab-a:hover{color:#666;}
.tinyTabActive a.tinyTab-a:hover{color:#333;}


/*下拉框内样式*/
.tinyTab-arrow-hover {background: url('../images/tabs_merger.png') -110px -183px no-repeat; height: 20px; width: 16px;display: inline-block; margin-top:3px;cursor: pointer;}/*<-下拉按钮*/
.tinyTabActive .tinyTab-arrow-hover{background-position:-49px -182px;}
.ui-icon-arrowdiv-close{cursor: pointer; width: 16px; height:16px; background: url('../images/tabs_merger.png') 3px -182px; display: inline-block;margin-top:4px;float: right;}
.tabs-arrow-div ul li:hover .ui-icon-arrowdiv-close{background-position:-17px -182px;}

.tabs-arrow-div{min-width:100px;max-width:300px; position: relative;z-index: 1;	border: 1px solid #c0c0c0;border-radius:3px;
				background: -moz-linear-gradient(top, #fdfdfd 0%, #e8e8e8 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #fdfdfd 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
				background: linear-gradient(to bottom, #fdfdfd 0%,#e8e8e8 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
				}
/*下拉框多的时候想多列显示则需要设置max-width:200px;  子类.tabs-arrow-div ul li设置成左浮动*/
.tabs-arrow-div ul{display:inline-block; padding:0; width:100%; padding:5px 0;}
.tabs-arrow-div ul li{float:none; margin:0 5px; padding:0 5px;}
.tabs-arrow-div ul li:hover{background:#393939; color:#fff;}
.tabs-arrow-div ul li.ui-state-disabled:hover {background:none; color:#333;opacity: .35; filter:Alpha(Opacity=35);}
.tabs-arrow-div ul li.ui-state-disabled:hover .ui-icon-arrowdiv-close {background-position: 3px -182px;}
/*内容区域*/
.tiny-tabs-content{ margin:0px 2px 0 2px;}




/*tabs在下样式集合*/
.tiny-tabs-bottom{}
.tiny-tabs-bottom .tabs-arrow-div{margin-top: -152px; }
.tiny-tabs-bottom .tiny-tabs-content {border-bottom: 1px solid #dcdcdc;margin: 0 2px -5px 2px; border-top:none;}
.tiny-tabs-bottom .tinyTabActive .tinyTab-tab-left {background-position:0 -51px;}
.tiny-tabs-bottom .tinyTabActive .tinyTab-tab-center {background-position:center -51px;}
.tiny-tabs-bottom .tinyTabActive .tinyTab-tab-right {background-position:100% -51px;}
.tiny-tabs-bottom a.tinyTab-a {line-height:32px;}
.tiny-tabs-bottom .ui-icon-close{margin-top:7px;}
.tiny-tabs-bottom .tinyTab-arrow-hover{margin-top:7px;}
.tiny-tabs-bottom .tinyTab-arrow-hover {background-position:-138px -182px;}
.tiny-tabs-bottom .tinyTabActive .tinyTab-arrow-hover {background-position:-77px -183px;}


/*tabs在左样式集合*/
.tiny-tabs-left{}
.tiny-tabs-left .tabs-arrow-div{margin:-35px -140px 0 105px;position: absolute;}
.tiny-tabs-left .tiny-tabs-titles{min-width:99px;float:left;position: relative;}
.tiny-tabs-left .tiny-tabs-content{float:left;}
.tiny-tabs-left .tiny-tabs-content {border-left: 1px solid #dcdcdc; margin: 2px 2px 2px -10px; border-top:0;padding: 0 10px;}
.tiny-tabs-left .tinyTabActive .tinyTab-tab-left {background-position: 0 -143px;}
.tiny-tabs-left .tinyTabActive .tinyTab-tab-center {background-position:center -143px;padding-right: 4px;}
.tiny-tabs-left .tinyTabActive .tinyTab-tab-right {background-position:100% -143px; }
.tiny-tabs-left .tinyTab-arrow-hover{width: 16px; margin-left: -3px;}
.tiny-tabs-left a.tinyTab-a{min-width: 70px;}


/*tabs在右样式集合*/
.tiny-tabs-right{}
.tiny-tabs-right .tabs-arrow-div{margin:-35px 0 0 -100px;position: absolute;}
.tiny-tabs-right .tiny-tabs-titles{width:110px;float:right;position: relative;}
.tiny-tabs-right .tiny-tabs-content{width:200px; float:right;}
.tiny-tabs-right .tiny-tabs-content {border-right: 1px solid #dcdcdc; margin: 2px -7px 2px 2px; border-top:0;padding: 0 10px;}
 .tiny-tabs-right .tinyTab-tab-center{padding-left: 4px;}
.tiny-tabs-right .tinyTabActive .tinyTab-tab-left {background-position:0 -99px;}
.tiny-tabs-right .tinyTabActive .tinyTab-tab-center {background-position:center -99px;padding-left: 4px;}
.tiny-tabs-right .tinyTabActive .tinyTab-tab-right {background-position:100% -99px; }
.tiny-tabs-right .tinyTab-arrow-hover{width: 16px;margin-right: -4px;}
.tiny-tabs-right a.tinyTab-a{min-width: 70px; line-height: 24px;}

