
.tiny-checkbox-checked
{
    width:16px;
    height:16px;
    background-repeat:no-repeat;
    background-image:url("../images/checkbox_merger.png");
    background-position:3px -20px;
    padding-right:7px;
}
.tiny-checkbox-content
{
    float:left;
}
.tiny-checkboxIcon
{
    float:left;
}
.tiny-checkbox-icon 
{
    display:inline-block;
    width : 16px;
    height:16px;
    background-repeat:no-repeat;
    float: left;
}
div.tiny-checkbox-checked:hover
{
    width:16px;
    height:16px;
    background-repeat:no-repeat;
    background-position:4px -64px;
    padding-right:7px;
    left:-1px;
    position:relative;
}

.tiny-checkbox-unchecked
{
    width:16px;
    height:16px;
    background-repeat:no-repeat;
    background-image:url("../images/checkbox_merger.png");
    background-position:3px 0px;
    padding-right:7px;
}
div.tiny-checkbox-unchecked:hover
{
    background-position:3px -41px;
    padding-right:7px;
}        
.tiny-checkbox-checked-disabled
{
    width:16px;
    height:16px;
    background-repeat:no-repeat;
    background-image:url("../images/checkbox_merger.png");
    background-position:3px -161px;
    padding-right:7px;
    top:1px;
    left:0px;
    position:relative;
}
.tiny-checkbox-unchecked-disabled
{
    width:16px;
    height:16px;
    background-repeat:no-repeat;
    background-image:url("../images/checkbox_merger.png");
    background-position:3px -136px;
    padding-right:7px;
    top:1px;
    left:0px;
    position:relative;
}
.tiny-checkbox-content-disabled
{
    color: #B1B0B0;
}
.tiny-img-disabled{
    filter:alpha(opacity=40);
    -moz-opacity:0.4;
    opacity:0.4;
}
.tiny-checkbox-horizon{display:inline-block; float:left;padding-right:16px;} 
.tiny-checkbox-vertical{clear:both;} 