.tiny-fileUpload {
	width: 100%;
	float: left;
	color: #666666;
}
.tiny-file-title {
	float: left;
	padding-right: 10px;
}
.tiny-uploadify-button-text {
	line-height: 18px;
	letter-spacing: 2px;
	padding-left: 8px;
	color: #666666;
	font-weight: bold;
}
.tiny-file-statusicon {
	width: 20px;
	height: 18px;
	display: inline-block;
}
.tiny-uploading-icon {
	background: url("../images/fileupload-merger.png") 0 -125px no-repeat;
	vertical-align: middle;
}
.tiny-upload-success-icon {
	background: url("../images/fileupload-merger.png") 0 -60px no-repeat;
	vertical-align: middle;
}
.tiny-upload-error-icon {
	background: url("../images/fileupload-merger.png") 0 -93px no-repeat;
	vertical-align: middle;
}
.tiny-upload-waiting-icon {
	background: url("../images/fileupload-merger.png") 0 -150px no-repeat;
	vertical-align: middle;
}
.tiny-file-select {
	float: left;
	height: 26px;
}
.tiny-file-select-button-container {
	background: url("../images/fileupload-merger.png") no-repeat;
	float: right;
	width: 30px;
	height: 27px;
}
.tiny-file-selected {
	background-color: #ededed;
}
.tiny-file-box {
	float: left;
}
.tiny-file-input {
	padding: 2px 5px 2px 8px;
	height:20px;
	color: #999;
	border-radius: 4px 0 0 4px;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	border: 1px solid #d3d3d3;
	border-right-style: none;
}
.tiny-file-upload {
	height: 26px;
    line-height: 26px;
}
.tiny-file-upload-multi {
	float: left;
	margin-right: 10px;
}
.tiny-file-upload-single {
	float: left;
	margin-right: 10px;
	margin-left: 10px;
}
.tiny-file-multi-upload-cancel, .tiny-file-upload-cancel, 
.tiny-file-multi-upload-remove,.tiny-file-upload-remove,
.tiny-file-multi-upload-reload {
	margin-left: 20px;
	color: #0088cc;
	font-weight: bolder;
	text-decoration: none;
}
.tiny-file-status-all {
	display: inline-block;
	margin: 0px 0 0 15px;
	position: relative;
}
.tiny-file-upload-list {
	display: none;
}
.tiny-file-progressDetail {
	color: #ADADAD;
	margin-left: 70px;
	margin-top: 10px;
}
.tiny-file-bytes-uploaded {
	margin-left: 20px;
	color: #5b5b5b;
}
.tiny-file-upload-state {
	margin-left: 5px;
	color: #666;
}
.tiny-submit-button, .tiny-file-multi-submit-button {
	height: 29px;
	width: 68px;
	line-height: 29px;
	margin: -2px 0 0 -68px;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	z-index: 1;
}
.tiny-file-select-button {
	height: 27px;
	width: 26px;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	z-index: 1;
	overflow: hidden;
}
.tiny-file-multi-select-button {
	height: 29px;
	width: 70px;
	line-height: 29px;
	margin: 2px 0 0 -80px;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	z-index: 1;
	overflow: hidden;
}
.tiny-file-multi-select {
	float: left;
	position: relative;
	height: 29px;
	min-width: 76px;
}
.tiny-file-multi-submit {
	float: left;
	position: relative;
	height: 29px;
	width: 80px;
	margin-left: 30px;
}
.tiny-file-status-line {
	padding-top: 10px;
}
.tiny-file-single-detail-line {
	margin-top: 10px;
	margin-left: 60px;
}
