<fm-help help="help.helpKey" show="help.show" i18n="help.i18n"></fm-help>
<div class="container-fluid" id="scriptList">

    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li>
                <span ng-bind-html="i18n.template_term_script_label"></span>
            </li>
            <li class="two-lead">
                <p ng-bind-html="i18n.template_script_view_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>


    <div class="content-right-box">
        <div class="clearfix form-inline">
            <div class="fl">
                <tiny-button ng-show="hasScriptOperateRight === true" id="createBtn.id" icons-class="icon-plus" text="createBtn.text" click="createBtn.click()" class="major-btn"></tiny-button>
            </div>
            <!--刷新、列选择、帮助-->
            <div class="pull-right">
                <div class="small-icon small-icon-menuicon" style="margin-top: 5px;"></div>
                <tiny-filtersel id="address.id" values="address.values" width="address.width" height="address.height" change="address.change()">
                </tiny-filtersel>

                <tiny-filtersel id="fitSystem.id" values="fitSystem.values" width="fitSystem.width" height="fitSystem.height" change="fitSystem.change()">
                </tiny-filtersel>

                <span style="display: inline-block; vertical-align: middle;">
                    <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width" suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength" suggest="searchBox.suggest" search="searchBox.search">
                    </tiny-searchbox>
                </span>
                <a class="btn-link">
                    <div ng-click="refresh.click()" id="refresh.id" title="{{i18n.common_term_fresh_button}}" class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div title="{{i18n.common_term_help_label}}" ng-click="help.click()" id="help.id" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div id="scriptTable" class="margin-top-beautifier">
            <tiny-table id="scriptListTable.id" data="scriptListTable.data" columns="scriptListTable.columns" pagination-style="scriptListTable.paginationStyle" length-change="scriptListTable.lengthChange" length-menu="scriptListTable.lengthMenu" display-length="scriptListTable.displayLength"
            enable-filter="scriptListTable.enableFilter" total-records="scriptListTable.totalRecords" show-details="scriptListTable.showDetails" render-row="scriptListTable.renderRow" columns-visibility="false" columns-draggable="false" callback="scriptListTable.callback"
            change-select="scriptListTable.changeSelect"></tiny-table>
        </div>
    </div>
</div>
