<div class="container-fluid" ng-controller="template.scriptList.scriptUseInfo.ctrl" id="template-scriptList-scriptUseInfo-popId">
    <div>
        <div id="scriptTable" class="margin-top-beautifier">
            <tiny-table id="scriptTableList.id" data="scriptTableList.data" columns="scriptTableList.columns" pagination-style="scriptTableList.paginationStyle" length-change="scriptTableList.lengthChange" length-menu="scriptTableList.lengthMenu" display-length="scriptTableList.displayLength"
            enable-filter="scriptTableList.enableFilter" total-records="scriptTableList.totalRecords" render-row="scriptTableList.renderRow" columns-visibility="false" columns-draggable="false" callback="scriptTableList.callback" change-select="scriptTableList.changeSelect"></tiny-table>
        </div>
    </div>

</div>

<style>
.tdHead {
    text-align: right;
    vertical-align: middle;
    margin-left: 50px;
}
</style>
<script type="application/javascript">
require(['app/business/template/controllers/scriptUserInfo'], function(scriptUserInfo) {
    var dependency = ['ng', 'wcc', scriptUserInfo.name];
    dependency.unshift(["$provide",
        function($provide) {
            $provide.value("$rootElement", $("#template-scriptList-scriptUseInfo-popId"));
        }
    ]);
    var $injector = angular.injector(dependency);
    $injector.invoke(function($compile, $rootScope) {
        $compile($("#template-scriptList-scriptUseInfo-popId"))($rootScope);
        $rootScope.$digest();
    });
});
</script>
