<div id="detail-gateway-window">
    <div class="content-right-box">
        <div class="bottom10">
            <tiny-button id="modiyBtn.id" text="modiyBtn.text" ng-show="hasVpnGatewayOperateRight"
                         click="modiyBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="deleteBtn.id" text="deleteBtn.text" ng-show="hasVpnGatewayOperateRight"
                         click="deleteBtn.click()"></tiny-button>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="outbox-padding">
                    <div class="legend"><span ng-bind="i18n.common_term_basicInfo_label"></span></div>
                    <tiny-formfield>
                        <tiny-item label="name.label">
                            <span ng-bind="name.value"></span>
                        </tiny-item>
                        <tiny-item label="id.label">
                            <span ng-bind="id.value"></span>
                        </tiny-item>
                        <tiny-item label="elasticIp.label">
                            <span ng-bind="elasticIp.value"></span>
                        </tiny-item>
                        <tiny-item label="description.label">
                            <span ng-bind="description.value"></span>
                        </tiny-item>
                    </tiny-formfield>
                </div>
                <div class="outbox-padding">
                    <div class="legend"><span ng-bind="i18n.vpn_term_IKEpolicy_label"></span></div>
                    <tiny-formfield>
                        <tiny-item label="info.certifAlgorithm.label">
                            <span ng-bind="ikePublicInfo.authentication"></span>
                        </tiny-item>
                        <tiny-item label="info.encryptAlgorithm.label">
                            <span ng-bind="ikePublicInfo.encryption"></span>
                        </tiny-item>
                        <tiny-item label="info.dnAlgorithm.label">
                            <span ng-bind="ikePublicInfo.pfsGroup"></span>
                        </tiny-item>
                        <tiny-item label="info.lifeTime.label">
                            <span ng-bind="ikePublicInfo.lifeTime"></span>
                        </tiny-item>
                        <tiny-item label="info.authentication.label">
                            <span ng-bind="ikePublicInfo.authMethod"></span>
                        </tiny-item>
                    </tiny-formfield>
                </div>
            </div>
            <div class="span6">
                <div class="outbox-padding">
                    <div class="legend"><span ng-bind="i18n.vpn_term_ESPpolicy_label"></span></div>
                    <tiny-formfield>
                        <tiny-item label="info.certifAlgorithm.label">
                            <span ng-bind="espPublicInfo.authentication"></span>
                        </tiny-item>
                        <tiny-item label="info.encryptAlgorithm.label">
                            <span ng-bind="espPublicInfo.encryption"></span>
                        </tiny-item>
                    </tiny-formfield>
                </div>
                <div class="outbox-padding">
                    <div class="legend"><span ng-bind="i18n.vpn_term_DPDinfo_label"></span></div>
                    <tiny-formfield>
                        <tiny-item label="info.dpdInterval.label">
                            <span ng-bind="dpdInfo.dpdInterval"></span>
                        </tiny-item>
                        <tiny-item label="info.dpdTimeOut.label">
                            <span ng-bind="dpdInfo.dpdTimeOut"></span>
                        </tiny-item>
                    </tiny-formfield>
                </div>
            </div>
        </div>
    </div>
</div>

