<div id="infoSelectInnerOrRouter">
    <div class="create-page-distance">
        <tiny-formfield>
            <tiny-item label="info.ipType.label" require="info.ipType.require">
                <tiny-radio text='info.ipType.inner' name="info.ipType.name" checked='true' value='info.ipType.innerValue' click="ipTypeclick('inner')" height="27" id="info.ipType.innerId"></tiny-radio>
                <div class="inline-help"><span ng-bind="i18n.vpc_net_add_para_allocationIP_mean_innerDHCP_label"></span></div>
                <tiny-radio text='info.ipType.inject' name="info.ipType.name" value='info.ipType.injectValue' click="ipTypeclick('inject')" height="27"></tiny-radio>
                <div class="inline-help"><span ng-bind="i18n.resource_exter_add_para_allocationIP_mean_static_label"></span></div>
                <div ng-show="service.networkType=='1'">
                    <tiny-radio text='info.ipType.auto' name="info.ipType.name" value='info.ipType.autoValue' click="ipTypeclick('auto')" height="27"></tiny-radio>
                    <div class="inline-help"><span ng-bind="i18n.resource_exter_add_para_allocationIP_mean_manual_label"></span></div>
                </div>
            </tiny-item>
            <tiny-item label="info.subnetIp.label" require="info.subnetIp.require">
                <div id="createnetworksubnetIp">
                    <tiny-ip id="info.subnetIp.id" value="info.subnetIp.value" type="info.subnetIp.type" validate="info.subnetIp.validate" extend-function="info.subnetIp.extendFunction"></tiny-ip>
                </div>
            </tiny-item>
            <tiny-item label="info.subnetMask.label" require="info.subnetMask.require">
                <div id="createnetworksubnetMask">
                    <tiny-ip id="info.subnetMask.id" value="info.subnetMask.value" type="info.subnetMask.type" validate="info.subnetMask.validate" extend-function="info.subnetMask.extendFunction"></tiny-ip>
                </div>
            </tiny-item>
            <tiny-item label="info.gateway.label" require="service.networkType!='1'">
                <div id="createnetworkgateway">
                    <div ng-if="service.networkType=='1'">
                        <tiny-ip id="info.gateway.id" value="info.gateway.value" type="info.gateway.type" validate="info.gateway.validate4innerNet" extend-function="info.gateway.extendFunction"></tiny-ip>
                    </div>
                    <div ng-if="service.networkType!='1'">
                        <tiny-ip id="info.gateway.id" value="info.gateway.value" type="info.gateway.type" validate="info.gateway.validate" extend-function="info.gateway.extendFunction"></tiny-ip>
                    </div>
                </div>
            </tiny-item>
            <tiny-item label="availableIpSegment1.label" display="showDhcpSettings">
                <span id="availableIpSegment1">
                    <tiny-ip id="availableIpSegment1.startIp.id" disable="availableIpSegment1.disable" type="availableIpSegment1.startIp.type" width="availableIpSegment.width" validate="availableIpSegment1.startIp.validate" extend-function="availableIpSegment1.startIp.extendFunction"></tiny-ip>
                </span>
                -
                <span id="availableIpSegment2">
                    <tiny-ip id="availableIpSegment1.endIp.id" type="availableIpSegment1.endIp.type" width="availableIpSegment.width" disable="availableIpSegment1.disable" validate="availableIpSegment1.endIp.validate" extend-function="availableIpSegment1.endIp.extendFunction"></tiny-ip>
                    <a ng-click="operate.addIpv4Ip(1)" ng-bind="i18n.common_term_add_button"></a>
                </span>
            </tiny-item>
            <tiny-item labelwidth="labelwidth" display="availableIpSegment2.display">
                <span id="availableIpSegment3">
                    <tiny-ip id="availableIpSegment2.startIp.id" disable="availableIpSegment2.disable" type="availableIpSegment2.startIp.type" width="availableIpSegment.width" validate="availableIpSegment2.startIp.validate" extend-function="availableIpSegment2.startIp.extendFunction"></tiny-ip>
                </span>
                -
                <span id="availableIpSegment4">
                    <tiny-ip id="availableIpSegment2.endIp.id" width="availableIpSegment.width" type="availableIpSegment2.endIp.type" disable="availableIpSegment2.disable" validate="availableIpSegment2.endIp.validate" extend-function="availableIpSegment2.endIp.extendFunction"></tiny-ip>
                </span>
                <a ng-click="operate.addIpv4Ip(2)" ng-bind="i18n.common_term_add_button"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment2')" ng-bind="i18n.common_term_delete_button"></a>
            </tiny-item>
            <tiny-item labelwidth="labelwidth" display="availableIpSegment3.display">
                <span id="availableIpSegment5">
                    <tiny-ip id="availableIpSegment3.startIp.id" width="availableIpSegment.width" type="availableIpSegment3.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment3.startIp.validate" extend-function="availableIpSegment3.startIp.extendFunction"></tiny-ip>
                </span>
                -
                <span id="availableIpSegment6">
                    <tiny-ip id="availableIpSegment3.endIp.id" type="availableIpSegment3.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment3.endIp.validate" extend-function="availableIpSegment3.endIp.extendFunction"></tiny-ip>
                </span>
                <a ng-click="operate.addIpv4Ip(3)" ng-bind="i18n.common_term_add_button"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment3')" ng-bind="i18n.common_term_delete_button"></a>
            </tiny-item>
            <tiny-item labelwidth="labelwidth" display="availableIpSegment4.display">
                <span id="availableIpSegment7">
                    <tiny-ip id="availableIpSegment4.startIp.id" width="availableIpSegment.width" type="availableIpSegment4.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment4.startIp.validate" extend-function="availableIpSegment4.startIp.extendFunction"></tiny-ip>
                </span>
                -
                <span id="availableIpSegment8">
                    <tiny-ip id="availableIpSegment4.endIp.id" type="availableIpSegment4.endIp.type" disable="availableIpSegment.disable" width="availableIpSegment.width" validate="availableIpSegment4.endIp.validate" extend-function="availableIpSegment4.endIp.extendFunction"></tiny-ip>
                </span>
                <a ng-click="operate.addIpv4Ip(4)" ng-bind="i18n.common_term_add_button"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment4')" ng-bind="i18n.common_term_delete_button"></a>
            </tiny-item>
            <tiny-item labelwidth="labelwidth" display="availableIpSegment5.display">
                <span id="availableIpSegment9">
                    <tiny-ip id="availableIpSegment5.startIp.id" width="availableIpSegment.width" type="availableIpSegment5.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment5.startIp.validate" extend-function="availableIpSegment5.startIp.extendFunction"></tiny-ip>
                </span>
                -
                <span id="availableIpSegment10">
                    <tiny-ip id="availableIpSegment5.endIp.id" type="availableIpSegment5.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment5.endIp.validate" extend-function="availableIpSegment5.endIp.extendFunction"></tiny-ip>
                </span>
                <a ng-click="operate.addIpv4Ip(5)" ng-bind="i18n.common_term_add_button"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment5')" ng-bind="i18n.common_term_delete_button"></a>
            </tiny-item>
            <tiny-item labelwidth="labelwidth" display="availableIpSegment6.display">
                <span id="availableIpSegment11">
                    <tiny-ip id="availableIpSegment6.startIp.id" width="availableIpSegment.width" type="availableIpSegment6.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment6.startIp.validate" extend-function="availableIpSegment6.startIp.extendFunction"></tiny-ip>
                </span>
                -
                <span id="availableIpSegment12">
                    <tiny-ip id="availableIpSegment6.endIp.id" type="availableIpSegment6.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment6.endIp.validate" extend-function="availableIpSegment6.endIp.extendFunction"></tiny-ip>
                </span>
                <a ng-click="operate.addIpv4Ip(6)" ng-bind="i18n.common_term_add_button"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment6')" ng-bind="i18n.common_term_delete_button"></a>
            </tiny-item>
            <tiny-item labelwidth="labelwidth" display="availableIpSegment7.display">
                <span id="availableIpSegment13">
                    <tiny-ip id="availableIpSegment7.startIp.id" width="availableIpSegment.width" type="availableIpSegment7.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment7.startIp.validate" extend-function="availableIpSegment7.startIp.extendFunction"></tiny-ip>
                </span>
                -
                <span id="availableIpSegment14">
                    <tiny-ip id="availableIpSegment7.endIp.id" type="availableIpSegment7.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment7.startIp.validate" extend-function="availableIpSegment7.startIp.extendFunction"></tiny-ip>
                </span>
                </span>
                <a ng-click="operate.addIpv4Ip(7)" ng-bind="i18n.common_term_add_button"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment7')" ng-bind="i18n.common_term_delete_button"></a>
            </tiny-item>
            <tiny-item labelwidth="labelwidth" display="availableIpSegment8.display">
                <span id="availableIpSegment15">
                    <tiny-ip id="availableIpSegment8.startIp.id" type="availableIpSegment8.startIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment8.startIp.validate" extend-function="availableIpSegment8.startIp.extendFunction"></tiny-ip>
                </span>
                -
                <span id="availableIpSegment16">
                    <tiny-ip id="availableIpSegment8.endIp.id" type="availableIpSegment8.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment8.startIp.validate" extend-function="availableIpSegment8.startIp.extendFunction"></tiny-ip>
                </span>
                <a ng-click="operate.addIpv4Ip(8)" ng-bind="i18n.common_term_add_button"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment8')" ng-bind="i18n.common_term_delete_button"></a>
            </tiny-item>
            <tiny-item labelwidth="labelwidth" display="availableIpSegment9.display">
                <span id="availableIpSegment17">
                    <tiny-ip id="availableIpSegment9.startIp.id" disable="availableIpSegment9.disable" type="availableIpSegment9.startIp.type" width="availableIpSegment.width" validate="availableIpSegment9.startIp.validate" extend-function="availableIpSegment9.startIp.extendFunction"></tiny-ip>
                </span>
                -
                <span id="availableIpSegment18">
                    <tiny-ip id="availableIpSegment9.endIp.id" width="availableIpSegment.width" type="availableIpSegment9.endIp.type" disable="availableIpSegment9.disable" validate="availableIpSegment9.startIp.validate" extend-function="availableIpSegment9.startIp.extendFunction"></tiny-ip>
                </span>
                <a ng-click="operate.addIpv4Ip(9)" ng-bind="i18n.common_term_add_button"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment9')" ng-bind="i18n.common_term_delete_button"></a>
            </tiny-item>
            <tiny-item labelwidth="labelwidth" display="availableIpSegment10.display">
                <span id="availableIpSegment19">
                    <tiny-ip id="availableIpSegment10.startIp.id" width="availableIpSegment.width" type="availableIpSegment10.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment10.startIp.validate" extend-function="availableIpSegment10.startIp.extendFunction"></tiny-ip>
                </span>
                -
                <span id="availableIpSegment20">
                    <tiny-ip id="availableIpSegment10.endIp.id" type="availableIpSegment10.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment10.endIp.validate" extend-function="availableIpSegment10.endIp.extendFunction"></tiny-ip>
                </span>
                <a ng-click="operate.addIpv4Ip(10)" ng-bind="i18n.common_term_add_button"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment10')" ng-bind="i18n.common_term_delete_button"></a>
            </tiny-item>
            <tiny-item labelwidth="labelwidth" display="availableIpSegment11.display">
                <span id="availableIpSegment21">
                    <tiny-ip id="availableIpSegment11.startIp.id" width="availableIpSegment.width" type="availableIpSegment11.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment11.startIp.validate" extend-function="availableIpSegment11.startIp.extendFunction"></tiny-ip>
                </span>
                -
                <span id="availableIpSegment22">
                    <tiny-ip id="availableIpSegment11.endIp.id" type="availableIpSegment11.endIp.type" disable="availableIpSegment.disable" width="availableIpSegment.width" validate="availableIpSegment11.endIp.validate" extend-function="availableIpSegment11.endIp.extendFunction"></tiny-ip>
                </span>
                <a ng-click="operate.addIpv4Ip(11)" ng-bind="i18n.common_term_add_button"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment11')" ng-bind="i18n.common_term_delete_button"></a>
            </tiny-item>
            <tiny-item labelwidth="labelwidth" display="availableIpSegment12.display">
                <span id="availableIpSegment23">
                    <tiny-ip id="availableIpSegment12.startIp.id" width="availableIpSegment.width" type="availableIpSegment12.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment12.startIp.validate" extend-function="availableIpSegment12.startIp.extendFunction"></tiny-ip>
                </span>
                -
                <span id="availableIpSegment24">
                    <tiny-ip id="availableIpSegment12.endIp.id" type="availableIpSegment12.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment12.endIp.validate" extend-function="availableIpSegment12.endIp.extendFunction"></tiny-ip>
                </span>
                <a ng-click="operate.addIpv4Ip(12)" ng-bind="i18n.common_term_add_button"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment12')" ng-bind="i18n.common_term_delete_button"></a>
            </tiny-item>
            <tiny-item labelwidth="labelwidth" display="availableIpSegment13.display">
                <span id="availableIpSegment25">
                    <tiny-ip id="availableIpSegment13.startIp.id" width="availableIpSegment.width" type="availableIpSegment13.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment13.startIp.validate" extend-function="availableIpSegment13.startIp.extendFunction"></tiny-ip>
                </span>
                -
                <span id="availableIpSegment26">
                    <tiny-ip id="availableIpSegment13.endIp.id" type="availableIpSegment13.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment13.endIp.validate" extend-function="availableIpSegment13.endIp.extendFunction"></tiny-ip>
                </span>
                <a ng-click="operate.addIpv4Ip(13)" ng-bind="i18n.common_term_add_button"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment13')" ng-bind="i18n.common_term_delete_button"></a>
            </tiny-item>
            <tiny-item labelwidth="labelwidth" display="availableIpSegment14.display">
                <span id="availableIpSegment27">
                    <tiny-ip id="availableIpSegment14.startIp.id" width="availableIpSegment.width" type="availableIpSegment14.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment14.startIp.validate" extend-function="availableIpSegment14.startIp.extendFunction"></tiny-ip>
                </span>
                -
                <span id="availableIpSegment28">
                    <tiny-ip id="availableIpSegment14.endIp.id" type="availableIpSegment14.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment14.endIp.validate" extend-function="availableIpSegment14.endIp.extendFunction"></tiny-ip>
                </span>
                <a ng-click="operate.addIpv4Ip(14)" ng-bind="i18n.common_term_add_button"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment14')" ng-bind="i18n.common_term_delete_button"></a>
            </tiny-item>
            <tiny-item labelwidth="labelwidth" display="availableIpSegment15.display">
                <span id="availableIpSegment29">
                    <tiny-ip id="availableIpSegment15.startIp.id" width="availableIpSegment.width" type="availableIpSegment15.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment15.startIp.validate" extend-function="availableIpSegment15.startIp.extendFunction"></tiny-ip>
                </span>
                -
                <span id="availableIpSegment30">
                    <tiny-ip id="availableIpSegment15.endIp.id" type="availableIpSegment15.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment15.endIp.validate" extend-function="availableIpSegment15.endIp.extendFunction"></tiny-ip>
                </span>
                <a ng-click="operate.addIpv4Ip(15)" ng-bind="i18n.common_term_add_button"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment15')" ng-bind="i18n.common_term_delete_button"></a>
            </tiny-item>
            <tiny-item labelwidth="labelwidth" display="availableIpSegment16.display">
                <span id="availableIpSegment31">
                    <tiny-ip id="availableIpSegment16.startIp.id" width="availableIpSegment.width" type="availableIpSegment16.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment16.startIp.validate" extend-function="availableIpSegment16.startIp.extendFunction"></tiny-ip>
                </span>
                -
                <span id="availableIpSegment32">
                    <tiny-ip id="availableIpSegment16.endIp.id" type="availableIpSegment16.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment16.endIp.validate" extend-function="availableIpSegment16.endIp.extendFunction"></tiny-ip>
                </span>
                <a ng-click="operate.deleteIpv4Ip('availableIpSegment16')" ng-bind="i18n.common_term_delete_button"></a>
            </tiny-item>
            <tiny-item label="info.dns.label" require="info.dns.require" display="showDhcpSettings">
                <tiny-textbox id="info.dns.id" value="info.dns.name" width="info.dns.width" validate="info.dns.validate" extend-function="info.dns.extendFunction"></tiny-textbox>
            </tiny-item>
            <tiny-item label="info.priorDns.label" require="info.priorDns.require" display="showDhcpSettings">
                <tiny-ip id="info.priorDns.id" value="info.priorDns.value" type="info.priorDns.type" validate="info.priorDns.validate" extend-function="info.priorDns.extendFunction"></tiny-ip>
            </tiny-item>
            <tiny-item label="info.optionDns.label" require="info.optionDns.require" display="showDhcpSettings">
                <tiny-ip id="info.optionDns.id" value="info.optionDns.value" type="info.optionDns.type" validate="info.optionDns.validate" extend-function="info.optionDns.extendFunction"></tiny-ip>
            </tiny-item>
            <tiny-item label="info.priorWins.label" require="info.priorWins.require" display="showDhcpSettings">
                <tiny-ip id="info.priorWins.id" value="info.priorWins.value" type="info.priorWins.type" validate="info.priorWins.validate" extend-function="info.priorWins.extendFunction"></tiny-ip>
            </tiny-item>
            <tiny-item label="info.optionWins.label" require="info.optionWins.require" display="showDhcpSettings">
                <tiny-ip id="info.optionWins.id" value="info.optionWins.value" type="info.optionWins.type" validate="info.optionWins.validate" extend-function="info.optionWins.extendFunction"></tiny-ip>
            </tiny-item>

            <tiny-item label="">
                <div class="create-btn-margin">
                    <tiny-button id="info.preBtn.id" text="info.preBtn.text" click="info.preBtn.click()"></tiny-button>
                    <tiny-button id="info.nextBtn.id" text="info.nextBtn.text" click="info.nextBtn.click()" class="major-btn"></tiny-button>
                    <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
                </div>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>
