<div id="createPlanBaseInfo" class="create-page-distance">
    <div class="row-fluid">
        <tiny-formfield>
            <tiny-item label="info.name.label" require="info.name.require">
                <tiny-textbox id="info.name.id" value="data.name" width="info.name.width" validate="info.name.validate" extend-function="info.name.extendFunction"></tiny-textbox>
            </tiny-item>
            <tiny-item label="info.type.label" require="info.type.require">
                <tiny-radiogroup id="info.type.id" values="info.type.values" change="info.type.change()"></tiny-radiogroup>
            </tiny-item>
            <tiny-item label="info.periodType.label" require="info.periodType.require" display="info.periodType.display">
                <tiny-radiogroup id="info.periodType.id" values="info.periodType.values" change="info.periodType.change()"></tiny-radiogroup>
                <div ng-bind="i18n.app_policy_addTask_info_triggerTime_label" class="color-gray"></div>
            </tiny-item>
            <tiny-item label="info.periodWeedDays.label" require="info.periodWeedDays.require" width="info.periodWeedDays.width" display="info.periodWeedDays.display">
                <div ng-repeat="item in info.periodWeedDays.values">
                    <span class="span6">
                        <tiny-checkbox id="item.weekId" text="item.text" change="info.periodWeedDays.change($index)" checked="item.checked"></tiny-checkbox>
                    </span>
                    <span class="span6">
                        <tiny-DateTime id="item.timeId" type="info.periodWeedDays.type" default-time="item.time"></tiny-DateTime>
                    </span>
                </div>
            </tiny-item>
            <tiny-item label="info.triggerDate.label" require="info.triggerDate.require" display="info.triggerDate.display">
                <tiny-DateTime id="info.triggerDate.id" type="info.triggerDate.type" min-date="info.triggerDate.minDate" default-date="info.triggerDate.defaultDate" default-time="info.triggerDate.defaultTime"></tiny-DateTime>
            </tiny-item>
            <tiny-item label="info.triggerTime.label" require="info.triggerTime.require" display="info.triggerTime.display">
                <tiny-DateTime id="info.triggerTime.id" type="info.triggerTime.type" default-time="triggerTime"></tiny-DateTime>
            </tiny-item>
            <tiny-item label="info.desc.label" require="info.desc.require">
                <tiny-textbox id="info.desc.id" value="data.description" width="info.desc.width" type="info.desc.type" validate="info.desc.validate" height="info.desc.height"></tiny-textbox>
            </tiny-item>
            <tiny-item>
                <div class="fm-btn-top-small">
                    <tiny-button id="info.nextBtn.id" text="info.nextBtn.text" click="info.nextBtn.click()" disable="!params.initFinished" class="major-btn"></tiny-button>
                    <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
                </div>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>