<div class="create-plan-innerPolicy">
    <div class="create-page-distance">
        <div id="create-plan-innerPolicy-tips" class="noStrategyTip"></div>
        <div class="row-fluid table-tiny-box-height">
            <tiny-table id="info.bindTable.id"
                        data="info.bindTable.data"
                        columns="info.bindTable.columns"
                        pagination-style="info.bindTable.paginationStyle"
                        length-change="info.bindTable.lengthChange"
                        length-menu="info.bindTable.lengthMenu"
                        render-row="info.bindTable.renderRow"
                        display-length="info.bindTable.displayLength"
                        total-records="info.bindTable.totalRecords"
                        change-select="info.bindTable.changeSelect"
                        callback="info.bindTable.callback"
                        columns-visibility="false"
                        columns-draggable="false"></tiny-table>
        </div>

        <div class="fm-btn-top-large">
            <tiny-button id="info.preBtn.id" text="info.preBtn.text" click="info.preBtn.click()"></tiny-button>
            <tiny-button id="info.nextBtn.id" text="info.nextBtn.text" click="info.nextBtn.click()" disable="data.policies.length==0" class="major-btn"></tiny-button>
            <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
        </div>
    </div>

</div>


<style>
.dataTables_wrapper > .tinyTable thead th: first-child .tiny-checkboxIcon {
    margin-top: 5px;
}
</style>