<div fm-help help="'drawer_device_cabinet'" show="show.help" i18n="'zh'"></div>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span ng-bind="i18n.device_term_cabinets_label"></span></li>
            <li class="two-lead">
                <p ng-bind-html="i18n.device_cabin_view_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="clearfix bottom10">
            <!--刷新、列选择、帮助-->
            <div class="pull-right">
            <span style="display: inline-block; vertical-align: middle;">
                <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width"
                                suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength"
                                suggest="searchBox.suggest" search="searchBox.search">
                </tiny-searchbox>
              </span>
                <a class="btn-link">
                    <div ng-click="operate.queryCabinets()" id="refreshCabinet"
                         title="{{i18n.common_term_fresh_button}}"
                         class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div ng-click="show.help=true" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div id="deviceCabinetTable">
            <tiny-table id="cabinetTable.id" data="cabinetTable.data"
                        columns="cabinetTable.columns"
                        enable-pagination="cabinetTable.enablePagination"
                        pagination-style="cabinetTable.paginationStyle"
                        length-change="cabinetTable.lengthChange" length-menu="cabinetTable.lengthMenu"
                        display-length="cabinetTable.displayLength" cur-page="cabinetTable.curPage"
                        total-records="cabinetTable.totalRecords"
                        request-config="cabinetTable.requestConfig"
                        columns-draggable="cabinetTable.columnsDraggable"
                        callback="cabinetTable.callback"
                        change-select="cabinetTable.changeSelect"
                        change-select="cabinetTable.changeSelect"
                        hide-total-records="cabinetTable.hideTotalRecords"
                        render-row="cabinetTable.renderRow"></tiny-table>
        </div>
    </div>
</div>