<div id="cabinetDetailDiv">
    <span class="panel_title">{{i18n.device_term_device_label}}</span>
    <tiny-table id="deviceTable.id" data="deviceTable.data"
                columns="deviceTable.columns"
                enable-pagination="deviceTable.enablePagination"
                pagination-style="deviceTable.paginationStyle"
                length-change="deviceTable.lengthChange" length-menu="deviceTable.lengthMenu"
                display-length="deviceTable.displayLength" cur-page="deviceTable.curPage"
                total-records="deviceTable.totalRecords"
                request-config="deviceTable.requestConfig"
                columns-draggable="deviceTable.columnsDraggable"
                hide-total-records="deviceTable.hideTotalRecords"
                callback="deviceTable.callback"
                change-select="deviceTable.changeSelect"
                total-records="deviceTable.data.length" render-row="deviceTable.renderRow"></tiny-table>
</div>
<script type="application/javascript">
    require(['app/business/resources/controllers/device/cabinet/cabinetDetailCtrl'],
            function (cabinetDetailCtrl) {
                $("#cabinetDetailDiv").attr("ng-controller", "cabinetDetailCtrl");
                var dep = ['ng', 'wcc', cabinetDetailCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#cabinetDetailDiv"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile($("#cabinetDetailDiv"))($rootScope);
                    $rootScope.$digest();
                });
            });
</script>