<div id="modifyCabinetParamDiv" class="alert-tip-first">
    <tiny-formfield>
        <tiny-item label="name.label" require="name.require">
            <tiny-textbox id="name.id" value="name.value" validate="name.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="location.label">
            <tiny-textbox id="location.id" value="location.value" validate="location.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="description.label">
            <tiny-textbox id="description.id" value="description.value" type="description.type"
                          height="description.height"
                          validate="description.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="creationTime.label">
            <span ng-bind="creationTime.value"></span>
        </tiny-item>
        <tiny-item>
            <div class="fm-btn-top-small">
                <tiny-button class="major-btn" id="modifyBtn.id" text="modifyBtn.text"
                             click="modifyBtn.click()"></tiny-button>
                <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
            </div>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="application/javascript">
    require(['app/business/resources/controllers/device/cabinet/modifyCabinetParamCtrl'],
            function (modifyCabinetParamCtrl) {
                $("#modifyCabinetParamDiv").attr("ng-controller", "modifyCabinetParamCtrl");
                var dep = ['ng', 'wcc', modifyCabinetParamCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#modifyCabinetParamDiv"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile($("#modifyCabinetParamDiv"))($rootScope);
                    $rootScope.$digest();
                });
            });
</script>
