<div fm-help help="'drawer_perform'" show="show.help" i18n="'zh'"></div>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li>
                <span>{{i18n.common_term_monitorView_label}}</span>
            </li>
            <li class="two-lead">
                <p ng-bind-html="i18n.perform_view_monitor_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="margin-erect-beautifier clearfix">
            <div class="pull-left">
                <span ng-show="cloudType == 'OPENSTACK'">
                    <label><span ng-bind-html="i18n.common_term_section_label"></span>:</label>
                    <tiny-select id="address.id" values="address.values" width="address.width" change="address.change()">
                    </tiny-select>
                </span>
                <label>{{i18n.common_term_objectType_label}}:</label>
                <tiny-select id="performanceSelObj.id" values="performanceSelObj.values" width="performanceSelObj.width" change="performanceSelObj.change()">
                </tiny-select>

                <label>&nbsp;&nbsp;{{i18n.perform_term_topType_label}}:</label>
                <tiny-select id="performanceTopType.id" values="performanceTopType.values" width="performanceTopType.width" change="performanceTopType.change()">
                </tiny-select>
                <tiny-select id="performanceType.id" values="performanceType.values" width="performanceType.width" change="performanceType.change()">
                </tiny-select>

            <span style="display: inline-block; vertical-align: middle;">
                &nbsp;&nbsp;
                <tiny-button id="searchBtn.id" text="searchBtn.text" click="searchBtn.click()"></tiny-button>
            </span>
            </div>
            <div class="pull-right">
                <a class="btn-link">
                    <div ng-click="show.help=true" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div id="cluster_view" ng-show="clusterDisable" style="position: relative;z-index: 1;">
            <div class="row-fluid">
                <div class="span6 outbox-padding">
                    <span class="legend">{{i18n.perform_term_CPUusageRate_label}}</span>

                    <div id="cluster_cpu_usage_chart">
                    </div>
                </div>
                <div class="span6 outbox-padding">
                    <span class="legend">{{i18n.perform_term_CPUreserved_label}}</span>

                    <div id="cluster_cpu_reserve_chart">
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span6 outbox-padding">
                    <span class="legend">{{i18n.perform_term_memUsageRate_label}}</span>

                    <div id="cluster_mem_usage_chart">
                    </div>
                </div>
                <div class="span6 outbox-padding">
                    <span class="legend">{{i18n.perform_term_memReserved_label}}</span>

                    <div id="cluster_mem_reserve_chart">
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span6 outbox-padding">
                    <span class="legend">{{i18n.perform_term_storageUsageRate_label}}</span>

                    <div id="cluster_storage_usage_chart">
                    </div>
                </div>
                <div class="span6 outbox-padding">
                    <span class="legend">{{i18n.perform_term_storageAllocationRate_label}}</span>

                    <div id="cluster_storage_allocation_chart">
                    </div>
                </div>
            </div>
        </div>

        <div id="host_vm_view" ng-show="hostvmDisable" style="position: relative;z-index: 1;">
            <div class="row-fluid">
                <div class="span6 outbox-padding">
                    <span class="legend">{{i18n.perform_term_CPUusageRate_label}}</span>

                    <div id="host_vm_cpu_usage_chart">
                    </div>
                </div>
                <div class="span6 outbox-padding">
                    <span class="legend">{{i18n.perform_term_memUsageRate_label}}</span>

                    <div id="host_vm_mem_usage_chart">
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span6 outbox-padding">
                    <span class="legend">{{i18n.common_term_netInRate_label}}</span>

                    <div id="host_vm_nic_byte_in_chart">
                    </div>
                </div>
                <div class="span6 outbox-padding">
                    <span class="legend">{{i18n.common_term_netOutRate_label}}</span>

                    <div id="host_vm_nic_byte_out_chart">
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span6 outbox-padding">
                    <span class="legend">{{i18n.common_term_diskIOwrite_label}}</span>

                    <div id="host_vm_disk_io_in_chart">
                    </div>
                </div>
                <div class="span6 outbox-padding">
                    <span class="legend">{{i18n.common_term_diskIOread_label}}</span>

                    <div id="host_vm_disk_io_out_chart">
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6 outbox-padding">
                    <span class="legend">{{i18n.perform_term_diskUsageRate_label}}</span>

                    <div id="host_vm_disk_usage_chart">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>