<ul class="panel-list">
    <li class="panel-item">
        <div class="panel-title clearfix">
            <span class="panel-title-label fl" ng-bind="i18n.common_term_basicInfo_label"></span>
        </div>
        <div class="panel-content">
            <tiny-formfield>
                <tiny-item label="createElasticIPConfirmInfo.serviceName.label"
                           ng-bind="createElasticIPConfirmInfo.serviceName.value">
                    {{createElasticIPConfirmInfo.serviceName.value}}
                </tiny-item>
                <tiny-item label="createElasticIPConfirmInfo.serviceCatalog.label"
                           ng-bind="createElasticIPConfirmInfo.serviceCatalog.value">
                    {{createElasticIPConfirmInfo.serviceCatalog.value}}
                </tiny-item>
                <tiny-item label="baseInfo.logo.label">
                    <img ng-src="{{baseInfo.logo.curLogo}}" ng-if="params.iconId" class="upload-icon-size upload-icon-image"/>
                </tiny-item>
                <tiny-item label="createElasticIPConfirmInfo.description.label"
                           ng-bind="createElasticIPConfirmInfo.description.value">
                    {{createElasticIPConfirmInfo.description.value}}
                </tiny-item>
                <tiny-item label="createElasticIPConfirmInfo.apptype.label"
                           ng-bind="createElasticIPConfirmInfo.apptype.value">
                    {{createElasticIPConfirmInfo.apptype.value}}
                </tiny-item>
            </tiny-formfield>
        </div>
    </li>
    <li>
        <tiny-formfield>
            <tiny-item>
                <div class="fm-btn-top-small">
                    <tiny-button id="createElasticIPConfirmInfo.preBtn.id" text="createElasticIPConfirmInfo.preBtn.text"
                                 click="createElasticIPConfirmInfo.preBtn.click()"></tiny-button>
                    <tiny-button id="createElasticIPConfirmInfo.addBtn.id" text="createElasticIPConfirmInfo.addBtn.text"
                                 click="createElasticIPConfirmInfo.addBtn.click()" class="major-btn"></tiny-button>
                    <tiny-button id="createElasticIPConfirmInfo.cancelBtn.id"
                                 text="createElasticIPConfirmInfo.cancelBtn.text"
                                 click="createElasticIPConfirmInfo.cancelBtn.click()"></tiny-button>
                </div>
            </tiny-item>
        </tiny-formfield>
    </li>
</ul>