<link rel="stylesheet" type="text/css" href="../theme/default/css/gm/app.css" />
<div class="container-fluid createvpc-select">
    <div class="create-page-distance">
        <div class="margin-bottom-beautifier">
            <span class="color2" ng-bind="i18n.vpc_vpc_add_desc_cfg_label"></span>
        </div>
        <div class="row-fluid">
            <div class="span8" ng-if="!service.isICT">
                <label>
                    <tiny-radio name="info.radiogroup.name" text="info.radiogroup.directnet_vpc" checked="service.type==='0'" click="click('0')" height="27"></tiny-radio>
                    <div class="vpc-div-radio" ng-bind="i18n.vpc_vpc_add_para_type_mean_direct_label"></div>
                </label>
                <label>
                    <tiny-radio name="info.radiogroup.name" text="info.radiogroup.directnet_router_vpc" checked="service.type==='1'" click="click('1')" height="27"></tiny-radio>
                    <div class="vpc-div-radio" ng-bind="i18n.vpc_vpc_add_para_type_mean_directRouter_label"></div>
                </label>
                <label>
                    <tiny-radio name="info.radiogroup.name" text="info.radiogroup.directnet_router_innernet_vpn_vpc" checked="service.type==='3'" click="click('3')" height="27"></tiny-radio>
                    <div class="vpc-div-radio" ng-bind="i18n.vpc_vpc_add_para_type_mean_all_label"></div>
                </label>
                <label>
                    <tiny-radio name="info.radiogroup.name" text="info.radiogroup.custom" checked="service.type==='4'" click="click('4')" height="27"></tiny-radio>
                    <div class="vpc-div-radio" ng-bind="i18n.vpc_vpc_add_para_type_mean_custom_label"></div>
                </label>
            </div>
            <div class="span8" ng-if="service.isICT">
                <div ng-if="!vmwareICT">
                    <label>
                        <tiny-radio name="info.radiogroup.name" text="info.radiogroup.innernet_vpc" checked="service.type==='5'" click="click('5')" height="27"></tiny-radio>
                        <div class="vpc-div-radio" ng-bind="i18n.vpc_vpc_add_para_type_mean_inner_label"></div>
                    </label>
                </div>
                <label>
                    <tiny-radio name="info.radiogroup.name" text="info.radiogroup.custom" checked="service.type==='4'" click="click('4')" height="27"></tiny-radio>
                    <div class="vpc-div-radio" ng-bind="i18n.vpc_vpc_add_para_type_mean_custom_label"></div>
                </label>
            </div>
            <div class="span4 text-center">
                <img ng-src="{{snapshot}}" ng-if="(snapshot != false)">
            </div>
        </div>
        <form class="form-horizontal fm-btn-top-large">
            <tiny-button id="info.preBtn.id" text="info.preBtn.text" click="info.preBtn.click()"></tiny-button>
            <tiny-button id="info.nextBtn.id" text="info.nextBtn.text" click="info.nextBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
        </form>
    </div>
</div>