<link rel="stylesheet" type="text/css" href="../theme/default/css/gm/system.css">

<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span ng-bind="i18n.log_term_operation_label"></span></li>
            <li class="two-lead">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="fm-btn-bottom-small clearfix">
            <!--刷新、列选择、帮助-->
            <div class="pull-right">
                <tiny-filtersel id="logLevel.id" values="logLevel.values" change="logLevel.change()"></tiny-filtersel>
                <tiny-filtersel id="logResult.id" values="logResult.values" change="logResult.change()"></tiny-filtersel>
                <span ng-bind="timeRange.label"></span>
                <tiny-datetime id="timeRange.startTime.id"
                               type="timeRange.startTime.type"
                               width="timeRange.startTime.width"
                               time-format="timeRange.startTime.timeFormat"
                               min-date="timeRange.startTime.minDate"
                               max-date="timeRange.startTime.maxDate"
                               ampm="timeRange.startTime.ampm"
                               first-day="timeRange.startTime.firstDay"
                               on-close="timeRange.startTime.close"
                               date-format="timeRange.startTime.dateFormate"></tiny-datetime>
                -
                <tiny-datetime id="timeRange.endTime.id"
                               type="timeRange.endTime.type"
                               width="timeRange.endTime.width"
                               time-format="timeRange.endTime.timeFormat"
                               min-date="timeRange.endTime.minDate"
                               max-date="timeRange.endTime.maxDate"
                               ampm="timeRange.endTime.ampm"
                               first-day="timeRange.endTime.firstDay"
                               on-close="timeRange.endTime.close"
                               date-format="timeRange.endTime.dateFormate"></tiny-datetime>
                <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">

                <tiny-searchbox id="ids.search" placeholder="searchBox.placeholder" width="searchBox.width"
                                suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength"
                                suggest="searchBox.suggest" search="searchBox.search">
                </tiny-searchbox>
              </span>
                <a class="btn-link">
                    <div id="refresh.id" title="{{refresh.tips}}" ng-click="refresh.click()"
                         class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div title="{{i18n.common_term_help_label}}" ng-click="help.click()" class="small-icon small-icon-help" ng-show="false"></div>
                </a>
            </div>
        </div>
        <div>
            <tiny-table id="opLogTable.id" data="opLogTable.data" columns="opLogTable.columns" columns-draggable="opLogTable.columnsDraggable"
                        display-length="opLogTable.displayLength" total-records="opLogTable.totalRecords"
                        render-row="opLogTable.renderRow"  pagination-style="opLogTable.paginationStyle"
                        length-menu="opLogTable.lengthMenu" change-select="opLogTable.changeSelect"
                        callback="opLogTable.callback" show-details="opLogTable.showDetails">
            </tiny-table>
        </div>
    </div>
</div>
