<!DOCTYPE html>
<html>
<head>
     <!-- Page title set in pageTitle directive -->
    <title page-title></title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta http-equiv="Pragma" CONTENT="no-cache" /> 
	<meta http-equiv="Cache-Control" CONTENT="no-cache" /> 
	<meta http-equiv="Expires" CONTENT="0" />
    <link href="favicon.ico" type="image/x-icon" rel="icon">
    
    <link rel="stylesheet" type="text/css" href="/resources/hw/theme/default/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/hw/theme/default/css/framework.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/hw/theme/default/css/tiny.min.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/hw/lib/help/commonHelp.css"/>
    

    <link rel = "Shortcut Icon" href="/resources/img/together.ico">
    <!-- Summernote -->
    <link href="/resources/css/3rd/inspinia/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/resources/css/3rd/inspinia/plugins/summernote/summernote-bs3.css" rel="stylesheet">

    <!-- Font awesome -->
    <link href="/resources/fonts/awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap and Fonts -->
    <link href="/resources/css/3rd/bootstrap/css/bootstrap.css" rel="stylesheet">
    
    <link href="/resources/css/3rd/inspinia/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">

    <!-- Morris -->
    <link href="/resources/css/3rd/inspinia/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">

    <!-- Style for wizard - based on Steps plugin-->
    <link href="/resources/css/3rd/inspinia/plugins/steps/jquery.steps.css" rel="stylesheet">

    <!-- FancyBox -->
    <link href="/resources/css/3rd/inspinia/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">

    <!-- Data Tables -->
    <link href="/resources/css/3rd/inspinia/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <!-- iCheck -->
    <link href="/resources/css/3rd/inspinia/plugins/iCheck/custom.css" rel="stylesheet">

    <!-- Chosen Plugin -->
    <link href="/resources/css/3rd/inspinia/plugins/chosen/chosen.css" rel="stylesheet">

    <!-- Dropzone style -->
    <link href="/resources/css/3rd/inspinia/plugins/dropzone/basic.css" rel="stylesheet">
    <link href="/resources/css/3rd/inspinia/plugins/dropzone/dropzone.css" rel="stylesheet">

    <!-- Switchery iOS style -->
    <link href="/resources/css/3rd/inspinia/plugins/switchery/switchery.css" rel="stylesheet">

    <!-- noUiSlider for Range Slider-->
    <link href="/resources/css/3rd/inspinia/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">

    <!-- DataPicker -->
    <link href="/resources/css/3rd/inspinia/plugins/datapicker/angular-datapicker.css" rel="stylesheet">

    <!-- Ion Range Slider -->
    <link href="/resources/css/3rd/inspinia/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
    <link href="/resources/css/3rd/inspinia/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">

    <!-- Ng-Grid -->
    <link href="/resources/css/3rd/inspinia/plugins/nggrid/ng-grid.css" rel="stylesheet">

    <!-- Code Mirror -->
    <link href="/resources/css/3rd/inspinia/plugins/codemirror/codemirror.css" rel="stylesheet">
    <link href="/resources/css/3rd/inspinia/plugins/codemirror/ambiance.css" rel="stylesheet">

    <!-- ui Tree -->
    <link href="/resources/css/3rd/inspinia/plugins/uiTree/angular-ui-tree.min.css" rel="stylesheet">

    <!-- Main Inspinia CSS files -->
    <link href="/resources/css/3rd/inspinia/animate.css" rel="stylesheet">
    <link href="/resources/css/3rd/inspinia/style.css" rel="stylesheet">
    
    <link href="/resources/css/table.css" rel="stylesheet">
    <link href="/resources/css/together.css" rel="stylesheet">

    <link rel="stylesheet" media="screen" href="/resources/js/3rd/inspinia/plugins/codemwnci/bootstrap-markdown.min.css">
    <link href="/resources/editormd/css/editormd.css" rel="stylesheet">
    
</head>
<body>



<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'/view/common/navigation.html'"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <div ng-include="'/view/common/topnavbar.html'"></div>

        <!-- Main view  -->
        <div ui-view></div>

        <!-- Footer -->
        <!--
        <div ng-include="'views/common/footer.html'">
        -->
    </div>

</div>
<!-- End page wrapper-->



<script type="text/javascript">
    (function (url) {
        function trimEmpty(value) {
            if ((typeof value === 'undefined') || (null === value)) {
                return "";
            }
            return value.replace(/(^\s*)|(\s*$)/g, "");
        }

        function getLanguage(key) {
            if (!document.cookie) {
                document.cookie = "";
            }
            var fmCookies = document.cookie.split(";");
            var cookieLen = fmCookies.length;
            var cookie;
            var result = null;
            for (var i = 0; i < cookieLen; i++) {
                cookie = fmCookies[i].split("=");
                if (!cookie || (cookie.length < 2)) {
                    continue;
                }
                if (key === trimEmpty(cookie[0])) {
                    result = trimEmpty(cookie[1]);
                    break;
                }
            }
            if (!window.urlParams) {
                window.urlParams = {};
            }
            if (null === result) {
                result = "zh_CN"; //zh_CN
            }
            if ("en_US" === result) {
                window.urlParams['lang'] = "en";
            }
            else {
                window.urlParams['lang'] = "zh";
            }
        }

        getLanguage("language");
        function loadCss(filename) {
            var fileref = document.createElement('link');
            fileref.setAttribute("rel", "stylesheet");
            fileref.setAttribute("type", "text/css");
            fileref.setAttribute("href", filename);
            document.getElementsByTagName("head")[0].appendChild(fileref);
        }

        var filename = "/resources/hw/theme/default/css/bootstrap.extend." + window.urlParams['lang'] + ".css";
        loadCss(filename);
    })(window);

</script>


<script type="text/javascript" src="/resources/hw/lib/tiny/tiny-lib/require.js" data-main="main" defer async="true"></script>
</body>
</html>

