<div id="addVmDiskDiv">
    <div class="fr button_mr"  style="margin-bottom:10px">
        <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder"
                        search="searchBox.search"></tiny-searchbox>
    </div>
    <div class="clear_both">
        <tiny-table id="diskTable.id" data="diskTable.data"  columns-draggable="diskTable.columnsDraggable"
                    columns='diskTable.columns' render-row="diskTable.renderRow"
                    enable-pagination="diskTable.enablePagination" callback="diskTable.callback"></tiny-table>
    </div>
    <div style="margin-top:20px">
        <div class="fr">
            <a ng-class="{tinyPagination_paginationNextSpan: hasNextPage,tinyPagination_paginationNextSpanDisabled: !hasNextPage}"
               href="javascript:void(0)" class="tinyPagination_tinybutton" ng-click="nextPage()"></a>
        </div>
        <div class="fr">
            <a ng-class="{tinyPagination_paginationPrevSpan: hasPrePage,tinyPagination_paginationPrevSpanDisabled: !hasPrePage}"
               href="javascript:void(0)" class="tinyPagination_tinybutton" ng-click="prePage()"></a>
        </div>
        <div class="fr" style="margin-right:10px;margin-top: 3px" ng-bind="curPage">
        </div>
        <div class="fr" style="margin-right:10px;margin-top: 3px">
            <span ng-bind="i18n.common_term_currentPage_label"></span>:
        </div>
        <div class="fr" style="margin-right:10px">
            <tiny-select id="sizeSelector.id" values="sizeSelector.values" width="sizeSelector.width"
                         change="sizeSelector.change()"></tiny-select>
        </div>
    </div>
    <div class="clear_both">
        <tiny-button class="major-btn" id="okButton.id" text="okButton.text" click="okButton.click()"></tiny-button>
        <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
    </div>
</div>
<script type="application/javascript">
    require(["app/business/resources/controllers/openStackResource/serverInfo/addDiskCtrl"], function (addDiskCtrl) {
        var rootElement = $("#addVmDiskDiv");
        rootElement.attr("ng-controller", "vdcMgr.serverInfo.addVmDisk.ctrl");
        var dep = ['ng', 'wcc', addDiskCtrl.name];
        dep.unshift(["$provide", function ($provide) {
            $provide.value("$rootElement", rootElement);
        }]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            $compile(rootElement)($rootScope);
            $rootScope.$digest();
        });
    });
</script>