<div id="vmInfoHardwareDiv" class="container-fluid">
    <div class="crumbs">
        <ul class="breadcrumb">
            <li>
                <a ui-sref="vdcMgr.vdc.server">{{i18n.common_term_vms_label}}</a> <span class="divider">&gt;</span>
            </li>
            <li class="active"><a ui-sref="vdcMgr.serverInfo.summary">{{vmName}}</a><span class="divider">&gt;</span></li>
            <li class="active">{{i18n.common_term_hardware_label}}</li>
        </ul>
        <ul class="nav nav-list noPadding">
            <li class="two-lead">
                <p ng-bind-html="i18n.vm_vm_viewICT_explan_hard_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="row-fluid clearfix">
            <div class="span3 outbox-padding padding-top10">
                <tiny-table id="hardwareTable.id" data="hardwareTable.data" columns='hardwareTable.columns'
                            render-row="hardwareTable.renderRow" callback="hardwareTable.callback"
                            enable-pagination="hardwareTable.enablePagination"></tiny-table>
            </div>
            <div class="span9">
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>