<div id="hardwareFlavorDiv">
    <div class="outbox-padding">
        <div class="legend" ng-bind="i18n.common_term_spec_label"></div>
        <p ng-bind="i18n.vm_vm_modifySpec_desc_label" ng-show="!Competition.isBaseOnVmware"></p>
        <p ng-bind="i18n.vm_vm_modifySpecWithVMware_desc_label" ng-show="Competition.isBaseOnVmware"></p>
        <div class="blank_10"></div>
        <tiny-formfield>
            <tiny-item label="label.status">
                {{statusStr}}
            </tiny-item>
            <tiny-item label="label.taskStatus">
                {{taskStatusStr}}
                <div class="blank_10"></div>
            </tiny-item>
            <tiny-item label="label.cpu">
                {{cpuCore}}
            </tiny-item>
            <tiny-item label="label.memory">
                {{memorySize}}
            </tiny-item>
            <tiny-item>
                <tiny-button id="modifyButton.id" text="modifyButton.text" click="modifyButton.click()"
                             disable="confirmButton.disable"></tiny-button>
                <tiny-button id="confirmButton.id" text="confirmButton.text" disable="confirmButton.disable"
                             click="confirmButton.click()"></tiny-button>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>
