<div id="hardwareDiskDiv">
    <div class="outbox-padding">
    <div class="legend1" ng-bind="i18n.common_term_disks_label"></div>
    <div class="horizontal_line"></div>
    <div class="blank_10"></div>
    <div class="fr">
        <a class="btn-link">
            <div ng-click="refresh()" class="small-icon small-icon-refresh"></div>
        </a>
    </div>
    <div class="blank_10 clear_both"></div>
    <div style="width: 99.5%">
        <tiny-table id="diskTable.id" data="diskTable.data" columns='diskTable.columns'
                    render-row="diskTable.renderRow" callback="diskTable.callback"
                    enable-pagination="diskTable.enablePagination" columns-visibility="diskTable.columnsVisibility"
                    columns-draggable="diskTable.columnsDraggable"></tiny-table>
    </div>
    <div fm-help help="'drawer_vm_disk'" i18n="'zh'" show="help.show"></div>
    </div>
</div>
