<div id="modifyFlavorDiv">
    <div>
        <tiny-table id="flavorTable.id" data="flavorTable.data" columns-draggable="flavorTable.columnsDraggable"
                    columns='flavorTable.columns' render-row="flavorTable.renderRow"
                    total-records="flavorTable.totalRecords"
                    enable-pagination="flavorTable.enablePagination" change-select="flavorTable.changeSelect"
                    length-menu="flavorTable.lengthMenu" callback="flavorTable.callback"
                    display-length="flavorTable.displayLength" length-change="flavorTable.lengthChange"
                    pagination-style="flavorTable.paginationStyle"></tiny-table>
    </div>
    <div class="clear_both blank_10"></div>
    <div class="clear_both">
        <tiny-button class="major-btn" id="okButton.id" text="okButton.text" click="okButton.click()"></tiny-button>
        <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
    </div>
</div>
<script type="application/javascript">
    require(["app/business/resources/controllers/openStackResource/serverInfo/modifyFlavorCtrl"], function (modifyFlavorCtrl) {
        var rootElement = $("#modifyFlavorDiv");
        rootElement.attr("ng-controller", "vdcMgr.serverInfo.modifyFlavor.ctrl");
        var dep = ['ng', 'wcc', modifyFlavorCtrl.name];
        dep.unshift(["$provide", function ($provide) {
            $provide.value("$rootElement", rootElement);
        }]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            $compile(rootElement)($rootScope);
            $rootScope.$digest();
        });
    });
</script>