<link href="../theme/default/css/gm/app.css" type="text/css" rel="stylesheet" />

<div class="container-fluid" id="createByTemplateContentId2">
    <div class="tiny-step-boxset clearfix">
        <div class="createpage-legend" ng-bind="service.label" ng-if="!service.isModify"></div>
        <div class="createpage-legend" ng-bind="service.modifyLabel" ng-if="service.isModify"></div>
        <tiny-step id="service.step.id" values="service.step.values" width="service.step.width" jumpable="service.step.jumpable"></tiny-step>
    </div>


    <div>
        <div ng-show="service.show.baseInfo">
            <div ui-view="baseInfo"></div>
        </div>
        <div ng-show="service.show.associateVM">
            <div ui-view="associateVM"></div>
        </div>
        <div ng-show="service.show.confirm">
            <div ui-view="confirm"></div>
        </div>
    </div>
</div>