<fm-help help="help.helpKey" show="help.show" i18n="help.i18n"></fm-help>
<div class="ecsVmsCls container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li>
                <span ng-bind="i18n.vpc_term_myVPC_label"></span>
            </li>
            <li class="two-lead">
                <p ng-bind-html="i18n.vpc_vpc_view_explan_custom_label" ng-if="!openstack"></p>
                <p ng-bind-html="i18n.vpc_vpc_viewICT_explan_custom_label" ng-if="openstack"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="clearfix">
            <div class="fl">
                <tiny-button id="createBtn.id" text="createBtn.text" click="createBtn.click()" ng-show="hasVpcOperateRight" class="major-btn"></tiny-button>
            </div>
            <!--刷新、列选择、帮助-->
            <div class="pull-right">
                    <div class="small-icon small-icon-menuicon" style="margin-top: 5px;"></div>
                    <tiny-filtersel id="searchLocation.id" values="searchLocation.values" width="searchLocation.width" change="searchLocation.change()">
                    </tiny-filtersel>
                    <a class="btn-link btn-link-padding">
                        <div ng-click="refresh.click()" id="refresh.id" title="{{i18n.common_term_fresh_button}}" class="small-icon small-icon-refresh"></div>
                    </a>
                    <a class="btn-link">
                    <div title="{{i18n.common_term_help_label}}" ng-click="help.click()" id="help.id" class="small-icon small-icon-help"></div>
                    </a>
            </div>
        </div>

        <div class="margin-top-beautifier">
            <tiny-table id="vpcModel.id" data="vpcModel.data" columns="vpcModel.columns" length-menu="vpcModel.lengthMenu" pagination-style="vpcModel.paginationStyle" enable-pagination="vpcModel.enablePagination" display-length="vpcModel.displayLength" total-records="vpcModel.totalRecords"
            render-row="vpcModel.renderRow" callback="vpcModel.callback" change-select="vpcModel.changeSelect"></tiny-table>
        </div>
    </div>
</div>