<fm-help help="help.helpKey" show="help.show" i18n="help.i18n"></fm-help>
<div class="ecsVmsCls container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li>
                <span ng-bind="i18n.org_term_entrustedMgmtEntitlement_label"></span>
            </li>
            <li class="two-lead">
                <p ng-bind-html="i18n.org_entitle_view_explan_user_label"></p>
               
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="clearfix">
            <div class="fl">
                <tiny-button id="createBtn.id" text="createBtn.text" click="createBtn.click()" class="major-btn"></tiny-button>
            </div>
            <!--刷新、列选择、帮助-->
            <div class="pull-right">
                <div class="small-icon small-icon-menuicon" style="margin-top: 5px;"></div>
                <tiny-filtersel id="searchLocation.id" values="searchLocation.values" width="searchLocation.width" change="searchLocation.change()">
                </tiny-filtersel>
                <span style="display: inline-block; vertical-align: middle;">
                    <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width" suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength" suggest="searchBox.suggest" search="searchBox.search">
                    </tiny-searchbox>
                </span>
                <a class="btn-link btn-link-padding">
                    <div ng-click="refresh.click()" id="refresh.id" title="{{i18n.common_term_fresh_button}}" class="small-icon small-icon-refresh"></div>
                </a>
            </div>
        </div>

        <div class="margin-top-beautifier">
            <tiny-table id="vpcAuthList.id" data="vpcAuthList.data" columns="vpcAuthList.columns" length-menu="vpcAuthList.lengthMenu" pagination-style="vpcAuthList.paginationStyle" enable-pagination="vpcAuthList.enablePagination" display-length="vpcAuthList.displayLength" total-records="vpcAuthList.totalRecords"
                        render-row="vpcAuthList.renderRow" callback="vpcAuthList.callback" change-select="vpcAuthList.changeSelect"></tiny-table>
        </div>
    </div>
</div>