<div id="addNicDiv">
    <div class="blank_10"></div>
    <tiny-formfield>
        <tiny-item label="nameTextbox.label" require="nameTextbox.require">
            <tiny-textbox id="nameTextbox.id" validate="nameTextbox.validate" value="nameTextbox.value"
                          disable="nameTextbox.disable"></tiny-textbox>
        </tiny-item>
        <tiny-item label="macRadio.label" require="macRadio.require" display="!edit">
            <tiny-radiogroup id="macRadio.id" values="macRadio.values" change="macRadio.change()"
                             layout="macRadio.layout"></tiny-radiogroup>
        </tiny-item>
        <tiny-item label="macTextbox.label" require="macTextbox.require">
            <tiny-textbox id="macTextbox.id" validate="macTextbox.validate"
                          disable="macTextbox.disable" value="macTextbox.value"></tiny-textbox>
        </tiny-item>
        <tiny-item label="networkTable.label" require="networkTable.require">
            <div style="width: 580px">
                <tiny-table id="networkTable.id" caption="networkTable.caption" data="networkTable.data"
                            pagination-style="networkTable.paginationStyle"
                            columns='networkTable.columns' render-row="networkTable.renderRow"
                            total-records="networkTable.totalRecords" length-change="networkTable.lengthChange"
                            cur-page="networkTable.curPage" display-length="networkTable.displayLength"
                            enable-pagination="networkTable.enablePagination" change-select="networkTable.changeSelect"
                            length-menu="networkTable.lengthMenu" callback="networkTable.callback"></tiny-table>
            </div>
        </tiny-item>
        <tiny-item>
            <tiny-button class="major-btn" id="okButton.id" text="okButton.text" click="okButton.click()"></tiny-button>
            <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="application/javascript">
    require(['app/business/resources/controllers/hypervisor/vmInfo/addNicCtrl'],
            function (migrateDiskCtrl) {
                var rootElement = $("#addNicDiv");
                rootElement.attr("ng-controller", "resources.vmInfo.addNic.ctrl");
                var dep = ['ng', 'wcc', migrateDiskCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", rootElement);
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile(rootElement)($rootScope);
                    $rootScope.$digest();
                });
            });
</script>