<div id="bindUsbDeviceDiv">
    <div ng-bind="i18n.alarm_term_warning_label + ': ' + i18n.vm_vm_addUSBdevice_info_max_button"></div>
    <div ng-bind="i18n.vm_term_USBcontrolType_label + ': EHCI+UHCI(' + i18n.vm_usb_add_desc_label + ')'"></div>
    <div ng-bind-html="i18n.vm_usb_add_info_list_label"></div>
    <tiny-formfield>
        <tiny-item label="hostSelector.label" require="hostSelector.require">
            <tiny-select id="hostSelector.id" values="hostSelector.values" width="hostSelector.width"
                         change="hostSelector.change()"></tiny-select>
        </tiny-item>
    </tiny-formfield>
    <div>
        <tiny-table id="usbDeviceTable.id" data="usbDeviceTable.data"
                    columns='usbDeviceTable.columns' render-row="usbDeviceTable.renderRow"
                    enable-pagination="usbDeviceTable.enablePagination" callback="usbDeviceTable.callback"></tiny-table>
    </div>
    <div class="blank_10 clear_both"></div>
    <div class="clear_both">
        <tiny-button class="major-btn" id="okButton.id" text="okButton.text" click="okButton.click()"
                     disable="okButton.disable"></tiny-button>
        <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
    </div>
</div>
<script type="application/javascript">
    require(['app/business/resources/controllers/hypervisor/vmInfo/bindUsbDeviceCtrl', "tiny-widgets/Checkbox"],
            function (associateZoneCtrl, Checkbox) {
                var rootElement = $("#bindUsbDeviceDiv");
                rootElement.attr("ng-controller", "resources.vmInfo.bindDevice.ctrl");
                var dep = ['ng', 'wcc', associateZoneCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", rootElement);
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile(rootElement)($rootScope);
                    $rootScope.$digest();
                });
            });
</script>