<div id="deleteVmDiskConfirmDiv">
    <div class="clear_both">
        <div class="tiny-dialog-pic">
            <div class="tiny-img-confirm"></div>
        </div>
        <div class="tiny-dialog-content tinyMessageBox_msgBoxContent" ng-bind="i18n.vm_disk_del_info_confirm_msg"></div>
    </div>
    <div class="blank_20"></div>
    <div class="blank_20"></div>
    <div class="blank_20"></div>
    <tiny-formfield>
        <tiny-item>
            <div class="fl">
                <tiny-checkbox id="safeCheckbox.id" text="safeCheckbox.text"></tiny-checkbox>
            </div>
            <div class="fl" style="margin-left: 10px" ng-bind="i18n.org_disk_delWithFormat_label"></div>
        </tiny-item>
        <tiny-item>
            <tiny-button class="major-btn" id="okButton.id" text="okButton.text" click="okButton.click()"></tiny-button>
            <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="application/javascript">
    require(["app/business/resources/controllers/hypervisor/vmInfo/deleteDiskCtrl"], function (deleteDiskCtrl) {
        var rootElement = $("#deleteVmDiskConfirmDiv");
        rootElement.attr("ng-controller", "resources.vmInfo.deleteDisk.ctrl");
        var dep = ['ng', 'wcc', deleteDiskCtrl.name];
        dep.unshift(["$provide", function ($provide) {
            $provide.value("$rootElement", rootElement);
        }]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            $compile(rootElement)($rootScope);
            $rootScope.$digest();
        });
    });
</script>