<div id="hardwareMemoryDiv">
    <div class="outbox-padding">
        <div class="legend">{{i18n.common_term_memory_label}}</div>
        <p class="color2 bottom10">{{i18n.vm_vm_mem_desc_label}}</p>
        <tiny-formfield>
            <tiny-item label="memorySizeTextbox.label" require="memorySizeTextbox.require">
                <tiny-textbox id="memorySizeTextbox.id" value="memorySizeTextbox.value" change="memorySizeTextbox.change()"
                              validate="memorySizeTextbox.validate"></tiny-textbox>
            </tiny-item>
        </tiny-formfield>
    </div>

    <div class="outbox-padding">
        <div class="legend">{{i18n.vm_term_memControl_label}}</div>
        <tiny-formfield>
            <tiny-item label="memoryReserveSpinner.label">
                <div style="display: inline-block">
                    <tiny-spinner id="memoryReserveSpinner.id" value="memoryReserveSpinner.value"
                                  max="memoryReserveSpinner.max" min="memoryReserveSpinner.min"></tiny-spinner>
                </div>
            <span popover="{{i18n.vm_vm_create_para_QoS_mean_reserved_tip}}" popover-trigger="mouseenter"
                  popover-placement="right" class="small-icon small-icon-tips" style="margin-top: -20px;"></span>
            </tiny-item>
            <tiny-item label="memoryWeightSelector.label">
                <tiny-select id="memoryWeightSelector.id" values="memoryWeightSelector.values"
                             width="memoryWeightSelector.width" change="memoryWeightSelector.change()"></tiny-select>
                <tiny-textbox id="memoryWeightTextbox.id" value="memoryWeightTextbox.value"
                              change="memoryWeightTextbox.change()" validate="memoryWeightTextbox.validate"></tiny-textbox>
            <span popover="{{i18n.vm_vm_create_para_QoS_mean_qouta_tip}}" popover-trigger="mouseenter"
                  popover-placement="right" class="small-icon small-icon-tips"></span>
            </tiny-item>
            <tiny-item class="fm-btn-top-small">
                <tiny-button id="memoryOkButton.id" text="memoryOkButton.text" ng-if="operable"
                             click="memoryOkButton.click()" class="major-btn"></tiny-button>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>
