<div id="hardwareNicDiv">
    <div class="outbox-padding">
        <div class="legend">{{i18n.common_term_NIC_label}}</div>
        <p class="color2">{{i18n.vm_vm_NIC_desc_label}}</p>

        <div class="clearfix bottom10 top10">
            <tiny-button id="nicAddButton.id" text="nicAddButton.text" click="nicAddButton.click()" ng-if="operable"
                         class="major-btn fl"></tiny-button>
            <div class="fr">
                <a class="btn-link">
                    <div ng-click="refresh()" class="small-icon small-icon-refresh"></div>
                </a>
            </div>
        </div>
        <div class="clearfix" style="width: 99.5%">
            <tiny-table id="nicTable.id" data="nicTable.data" columns='nicTable.columns'
                        render-row="nicTable.renderRow" callback="nicTable.callback"
                        columns-draggable="nicTable.columnsDraggable" show-details="nicTable.showDetails"
                        enable-pagination="nicTable.enablePagination"></tiny-table>
        </div>
    </div>
</div>
