<div id="hardwareDiskDiv">
    <div class="outbox-padding">
        <div class="legend">{{i18n.common_term_disk_label}}</div>
        <p ng-bind-html="i18n.vm_vm_disk_desc_label" class="color2"></p>
        <div class="clearfix bottom10 top10">
            <tiny-button id="diskAddButton.id" text="diskAddButton.text" click="diskAddButton.click()"
                         ng-if="operable" class="fl major-btn"></tiny-button>
            <div class="fr">
                <a class="btn-link">
                    <div ng-click="refresh()" class="small-icon small-icon-refresh"></div>
                </a>
            </div>
        </div>
        <div class="clearfix" style="width: 99.5%">
            <tiny-table id="diskTable.id" data="diskTable.data" columns='diskTable.columns'
                        render-row="diskTable.renderRow" callback="diskTable.callback" show-details="diskTable.showDetails"
                        enable-pagination="diskTable.enablePagination" columns-visibility="diskTable.columnsVisibility"
                        columns-draggable="diskTable.columnsDraggable"></tiny-table>
        </div>
    </div>
</div>
