<div id="vmInfoHardwareDiv" class="container-fluid">
    <div class="crumbs pr">
        <ul class="breadcrumb">
            <li>
                <a ui-sref="vdcMgr.vdc.vm">{{i18n.common_term_vms_label}}</a> <span class="divider">&gt;</span>
            </li>
            <li class="active"><a ui-sref="resources.vmInfo.summary">{{vmName}}</a><span class="divider">&gt;</span></li>
            <li class="active">{{i18n.common_term_hardware_label}}</li>
            <li class="crumbs_line"></li>
        </ul>
        <div class="help-pa">
            <div ng-click="help.show=true" class="small-icon small-icon-help"></div>
        </div>
    </div>
    <div class="content-right-box">
        <div class="row-fluid clearfix">
            <div class="span3 outbox-padding padding-top19">
                <tiny-table id="hardwareTable.id" data="hardwareTable.data" columns='hardwareTable.columns'
                            render-row="hardwareTable.renderRow" callback="hardwareTable.callback"
                            enable-pagination="hardwareTable.enablePagination"></tiny-table>
            </div>
            <div class="span9">
                <div ui-view></div>
            </div>
        </div>
    </div>
    <div fm-help help="'drawer_vm_hardware'" i18n="'zh'" show="help.show"></div>
</div>