<div id="hardwareControllerDiv">
    <div class="outbox-padding">
        <div class="legend">{{i18n.vm_term_USBcontrol_label}}</div>
        <div class="clearfix bottom10">
            <tiny-button id="addButton.id" text="addButton.text" click="addButton.click()" disable="addButton.disable"
                         ng-if="hyperType == 'vmware' && operable" class="fl"></tiny-button>
            <div class="fr">
                <a class="btn-link">
                    <div ng-click="refresh()" class="small-icon small-icon-refresh"></div>
                </a>
            </div>
        </div>
        <div class="clearfix">
            <tiny-table id="controllerTable.id" data="controllerTable.data" columns='controllerTable.columns'
                        render-row="controllerTable.renderRow" callback="controllerTable.callback"
                        enable-pagination="controllerTable.enablePagination"></tiny-table>
        </div>
    </div>
</div>
