<link href="../theme/default/css/line_plot.css" type="text/css" rel="stylesheet"/>
<div class="container-fluid">
    <div class="crumbs pr">
        <ul class="breadcrumb">
            <li>
                <a ui-sref="vdcMgr.vdc.vm">{{i18n.common_term_vms_label}}</a> <span class="divider">&gt;</span>
            </li>
            <li class="active"><a ui-sref="resources.vmInfo.summary">{{vmName}}</a><span class="divider">&gt;</span></li>
            <li class="active">{{i18n.perform_term_monitor_label}}</li>
            <li class="crumbs_line"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="row-fluid">
            <div class="span2">
                <div class="two-title" style="display: inline;">{{i18n.common_term_cycle_label}}:</div>
                <tiny-select id="cycle.id" values="cycle.values" width="cycle.width" change="cycle.change()"></tiny-select>
            </div>
            <div class="span9">
                <div ng-show="isCustomized" style="position: relative;">
                    {{i18n.perform_term_customCycle_label}}:
                    <tiny-datetime id="customizedCycle.startDate.id" type="customizedCycle.startDate.type"
                                   time-format="customizedCycle.startDate.timeFormat"
                                   date-format="customizedCycle.startDate.dateFormat"
                                   min-date="customizedCycle.startDate.minDate"
                                   max-date="customizedCycle.startDate.maxDate"
                                   ampm="customizedCycle.startDate.ampm"
                                   first-day="customizedCycle.startDate.firstDay"></tiny-datetime>
                    -
                    <tiny-datetime id="customizedCycle.endDate.id" type="customizedCycle.endDate.type"
                                   time-format="customizedCycle.endDate.timeFormat"
                                   date-format="customizedCycle.endDate.dateFormat"
                                   min-date="customizedCycle.endDate.minDate"
                                   max-date="customizedCycle.endDate.maxDate"
                                   ampm="customizedCycle.endDate.ampm"
                                   first-day="customizedCycle.endDate.firstDay"></tiny-datetime>
                    <tiny-button class="major-btn" id="customizedCycle.okBtn.id" text="customizedCycle.okBtn.text"
                                 click="customizedCycle.okBtn.click()" style="position: absolute;margin-left: 20px;"></tiny-button>
                </div>
            </div>
            <div class="span1 text-right">
                <tiny-button id="export.id" text="export.text"
                             click="export.click()"></tiny-button>
            </div>
        </div>

        <div class="row-fluid top10">
            <div class="span6 outbox-padding">
                <div class="legend"> {{i18n.perform_term_CPUusageRate_label}}</div>
                <tiny-lineplot id="cpuUsage.id" xaxis="cpuUsage.xaxis" tips="cpuUsage.tips" grid="cpuUsage.grid"
                               yaxis="cpuUsage.yaxis" data="cpuUsage.data" series="cpuUsage.series"
                               width="cpuUsage.width" height="cpuUsage.height"
                               legend="cpuUsage.legend">
                </tiny-lineplot>
                <div id="cpuUsageLegend"></div>
            </div>
            <div class="span6 outbox-padding">
                <div class="legend"> {{i18n.perform_term_memUsageRate_label}}</div>
                <tiny-lineplot id="memoUsage.id" xaxis="memoUsage.xaxis" tips="memoUsage.tips" grid="memoUsage.grid"
                               yaxis="memoUsage.yaxis" data="memoUsage.data" series="memoUsage.series"
                               width="memoUsage.width" height="memoUsage.height"
                               legend="memoUsage.legend">
                </tiny-lineplot>
                <div id="memoUsageLegend"></div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6 outbox-padding">
                <div class="legend"> {{i18n.common_term_diskIO_label}}</div>
                <tiny-lineplot id="diskIo.id" xaxis="diskIo.xaxis" tips="diskIo.tips" grid="diskIo.grid"
                               yaxis="diskIo.yaxis" data="diskIo.data" series="diskIo.series"
                               width="diskIo.width" height="diskIo.height"
                               legend="diskIo.legend">
                </tiny-lineplot>
                <div id="diskIoLegend"></div>
            </div>
            <div class="span6 outbox-padding">
                <div class="legend"> {{i18n.perform_term_netFlowSpeedAvg_label}}</div>
                <tiny-lineplot id="netIo.id" xaxis="netIo.xaxis" tips="netIo.tips" grid="netIo.grid"
                               yaxis="netIo.yaxis" data="netIo.data" series="netIo.series"
                               width="netIo.width" height="netIo.height"
                               legend="netIo.legend">
                </tiny-lineplot>
                <div id="netIoLegend"></div>
            </div>
        </div>

        <div class="row-fluid" ng-show="vmType != 'vmware'">
            <div class="span6 outbox-padding">
                <div class="legend">{{i18n.perform_term_diskUsageRate_label}}</div>
                <tiny-lineplot id="disk_usage.id" xaxis="disk_usage.xaxis" tips="disk_usage.tips" grid="disk_usage.grid"
                               yaxis="disk_usage.yaxis" data="disk_usage.data" series="disk_usage.series"
                               width="disk_usage.width" height="disk_usage.height"
                               legend="disk_usage.legend">
                </tiny-lineplot>
                <div id="diskUsageLegend"></div>
            </div>
            <div class="span6 outbox-padding">
                <div class="legend">{{i18n.perform_term_CPUwait_label}}</div>
                <tiny-lineplot id="cpu_ready_time.id" xaxis="cpu_ready_time.xaxis" tips="cpu_ready_time.tips" grid="cpu_ready_time.grid"
                               yaxis="cpu_ready_time.yaxis" data="cpu_ready_time.data" series="cpu_ready_time.series"
                               width="cpu_ready_time.width" height="cpu_ready_time.height"
                               legend="cpu_ready_time.legend">
                </tiny-lineplot>
                <div id="cpu_ready_timeUsageLegend"></div>
            </div>
        </div>

        <div class="row-fluid" ng-show="vmType != 'vmware'">
            <div class="span6 outbox-padding">
                <div class="legend">{{i18n.common_term_diskIOnum_label}}</div>
                <tiny-lineplot id="disk_ps.id" xaxis="disk_ps.xaxis" tips="disk_ps.tips" grid="disk_ps.grid"
                               yaxis="disk_ps.yaxis" data="disk_ps.data" series="disk_ps.series"
                               width="disk_ps.width" height="disk_ps.height"
                               legend="disk_ps.legend">
                </tiny-lineplot>
                <div id="disk_psUsageLegend"></div>
            </div>
            <div class="span6 outbox-padding">
                <div class="legend">{{i18n.common_term_diskRWDelay_label}}</div>
                <tiny-lineplot id="disk_delay.id" xaxis="disk_delay.xaxis" tips="disk_delay.tips" grid="disk_delay.grid"
                               yaxis="disk_delay.yaxis" data="disk_delay.data" series="disk_delay.series"
                               width="disk_delay.width" height="disk_delay.height"
                               legend="disk_delay.legend">
                </tiny-lineplot>
                <div id="disk_delayUsageLegend"></div>
            </div>
        </div>

    </div>
    <iframe id="download" style="display:none"></iframe>
</div>