<div id="optionUpdateMethodDiv">
    <div class="legend">{{i18n.common_term_updateMode_label}}</div>
    <p class="color2 bottom10">{{i18n.vm_vm_upgradeMode_explan_label}}</p>
    <tiny-formfield>
        <tiny-item>
            <div class="fl">
                <tiny-radiogroup id="updateMethodRadioGroup.id" values="updateMethodRadioGroup.values"
                                 layout="updateMethodRadioGroup.layout"></tiny-radiogroup>
            </div>
            <div class="fl">
                {{i18n.vm_vm_add_para_updateType_Mean_auto_label}}
                <br/>
                {{i18n.vm_vm_add_para_updateType_Mean_manual_label}}
            </div>
        </tiny-item>
        <tiny-item>
            <tiny-button class="major-btn" id="updateMethodOkButton.id" text="updateMethodOkButton.text"
                         click="updateMethodOkButton.click()"  ng-if="operable"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
