<div id="optionAntiVirusDiv">
    <div class="legend">{{i18n.vm_term_vmAntivirusCfg_label}}</div>
    <p class="color2 bottom10">{{i18n.vm_vm_vmAntivirus_desc_label}}</p>
    <tiny-formfield>
        <tiny-item>
            <tiny-checkbox id="antiVirusCheckbox.id" text="antiVirusCheckbox.text"
                           change="antiVirusCheckbox.change()"></tiny-checkbox>
        </tiny-item>
        <tiny-item label="secureVmTypeRadio.label">
            <tiny-radiogroup id="secureVmTypeRadio.id" values="secureVmTypeRadio.values"
                             layout="secureVmTypeRadio.layout" layout="secureVmTypeRadio.layout"></tiny-radiogroup>
        </tiny-item>
        <tiny-item>
            <tiny-button class="major-btn" id="antiVirusOkButton.id" text="antiVirusOkButton.text"
                         click="antiVirusOkButton.click()"  ng-if="operable"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
