<div id="vmInfoOptionDiv" class="container-fluid">
    <div class="crumbs pr">
        <ul class="breadcrumb">
            <li>
                <a ui-sref="vdcMgr.vdc.vm">{{i18n.common_term_vms_label}}</a> <span class="divider">&gt;</span>
            </li>
            <li class="active"><a ui-sref="resources.vmInfo.summary">{{vmName}}</a><span class="divider">&gt;</span></li>
            <li class="active">{{i18n.common_term_option_label}}</li>
            <li class="crumbs_line"></li>
        </ul>
        <div class="help-pa">
            <div ng-click="help.show=true" class="small-icon small-icon-help"></div>
        </div>
    </div>
    <div class="content-right-box">
        <div class="row-fluid">
            <div class="span3 outbox-padding padding-top19">
                <tiny-table id="optionTable.id" data="optionTable.data" columns='optionTable.columns'
                            render-row="optionTable.renderRow" callback="optionTable.callback"
                            enable-pagination="optionTable.enablePagination"></tiny-table>
            </div>
            <div class="span9 outbox-padding">
                <div ng-include="optionUrl.os" ng-show="curOption == 'os'"></div>
                <div ng-include="optionUrl.ha" ng-show="curOption == 'ha'"></div>
                <div ng-include="optionUrl.startMethod" ng-show="curOption == 'startMethod'"></div>
                <div ng-include="optionUrl.clockPolicy" ng-show="curOption == 'clockPolicy'"></div>
                <div ng-include="optionUrl.hotPlug" ng-show="curOption == 'hotPlug'"></div>
                <div ng-include="optionUrl.updateMethod" ng-show="curOption == 'updateMethod'"></div>
                <div ng-include="optionUrl.hotMigrate" ng-show="curOption == 'hotMigrate'"></div>
                <div ng-include="optionUrl.antiVirus" ng-show="curOption == 'antiVirus'"></div>
                <div ng-include="optionUrl.memVol" ng-show="curOption == 'memVol'"></div>
            </div>
        </div>
    </div>
    <div fm-help help="'drawer_vm_option'" i18n="'zh'" show="help.show"></div>
</div>