<div id="optionMemVolDiv">
    <div class="legend">{{i18n.vm_term_memExchangeDisk_label}}</div>
    <p class="color2 bottom10">{{i18n.vm_vm_memExchangeDisk_desc_label}}</p>
    <tiny-formfield>
        <tiny-item>
            <tiny-checkbox id="memVolCheckbox.id" text="memVolCheckbox.text"
                           change="memVolCheckbox.change()"></tiny-checkbox>
        </tiny-item>
        <tiny-item>
            <tiny-button class="major-btn" id="memVolOkButton.id" text="memVolOkButton.text"
                         click="memVolOkButton.click()"  ng-if="operable"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
