<div id="optionHotPlugDiv">
    <div class="legend">{{i18n.common_term_liveAdjust_label}}</div>
    <tiny-formfield>
        <tiny-item label="cpuHotPlugSelector.label">
            <tiny-select id="cpuHotPlugSelector.id" values="cpuHotPlugSelector.values"
                         width="cpuHotPlugSelector.width"></tiny-select>
        </tiny-item>
        <tiny-item label="memoryHotPlugSelector.label" display="hyperType === 'vmware'">
            <tiny-select id="memoryHotPlugSelector.id" values="memoryHotPlugSelector.values"
                         width="memoryHotPlugSelector.width"></tiny-select>
        </tiny-item>
        <tiny-item>
            <tiny-button id="hotPlugOkButton.id" text="hotPlugOkButton.text" click="hotPlugOkButton.click()"
                         ng-if="operable" class="major-btn"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
