<div>
    <div class="slider-content">
        <div id="vdcLayout">
            <div class="tiny-layout-container">
                <div class="tiny-layout-west">
                    <ul>
                        <div class="tiny-layout-title">
                            <div class="row-fluid nosidedown-txt">
                                <div class="span4">
                                    <div class="title-icon">
                                        <img src="../theme/default/images/vdc.png">
                                    </div>
                                </div>
                                <div class="span8">
                                    <p class="title-text">VDC</p>
                                </div>
                            </div>
                        </div>
                        <li>
                            <a ng-show="deployMode != 'local'" ui-sref="vdcMgr.vdc.vdcList" active="true">VDC管理</a>
                        </li>
                        <li>
                            <a ng-show="deployMode != 'top' && !openstack" ui-sref="vdcMgr.vdc.vm">虚拟机</a>
                        </li>
                        <li>
                            <a ng-show="deployMode != 'top' && openstack" ui-sref="vdcMgr.vdc.server">虚拟机</a>
                        </li>
                        <li>
                            <a ng-show="deployMode != 'top' && openstack" ui-sref="vdcMgr.vdc.volumes">磁盘</a>
                        </li>
                        <li>
                            <a ng-show="deployMode != 'top' && !openstack" ui-sref="vdcMgr.vdc.disk">磁盘</a>
                        </li>
                        <li>
                            <a ng-show="deployMode != 'local'" ui-sref="vdcMgr.vdc.vpcSpec">VPC规格</a>
                        </li>
						<li>
							<a ng-show="deployMode != 'local'" ui-sref="vdcMgr.vdc.ipBW">IP带宽模板</a>
						</li>
                    </ul>
                </div>
                <div class="tiny-layout-center">
                    <div ui-view id="view-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>