<div id="associate_zone_div" class="container-fluid">
    <div class="tiny-step-boxset clearfix">
    <div class="createpage-legend" ng-bind="i18n.virtual_term_clusterAssociateZone_button"></div>
    <div class="blank_10"></div>
    <tiny-step id="associateStep.id" values="associateStep.values" jumpable="associateStep.jumpable" width="associateStep.width"></tiny-step>
    </div>
    <div class="content create-page-distance" >
    <div ng-include="stepUrl.step1" ng-show="stepShow.step1"></div>
    <div ng-include="stepUrl.step2" ng-show="stepShow.step2"></div>
    </div>
</div>
