<div id="associateConfigStoreDiv">
    <div class="clearfix table-tiny-box-height">
        <tiny-table id="storeTable.id" data="storeTable.data"
                    columns='storeTable.columns' render-row="storeTable.renderRow"
                    enable-pagination="storeTable.enablePagination" callback="storeTable.callback"></tiny-table>
    </div>
    <div class="fm-btn-top-large">
        <tiny-button id="storePreButton.id" text="storePreButton.text" click="storePreButton.click()"></tiny-button>
        <tiny-button class="major-btn" id="storeOkButton.id" text="storeOkButton.text" click="storeOkButton.click()" disable="storeOkButton.disable"></tiny-button>
        <tiny-button id="storeCancelButton.id" text="storeCancelButton.text"
                     click="storeCancelButton.click()"></tiny-button>
    </div>
</div>