<div id="clusterInfoDiv">
    <div class="tiny-layout-container">
        <div class="tiny-layout-west">
            <ul>
                <div class="tiny-layout-title">
                    <div class="row-fluid nosidedown-txt">
                        <div class="span4">
                            <div class="title-icon">
                                <img src="../theme/default/images/virtual-cluster.png">
                            </div>
                        </div>
                        <div class="span8">
                            <p class="title-text" id="clusterInfoNameDiv">{{i18n.virtual_term_cluster_label||'资源集群'}}:{{clusterName}}</p>
                        </div>
                    </div>
                </div>
                <li>
                    <a ui-sref="resources.clusterInfo.summary">{{i18n.common_term_summary_label||'概要'}}</a>
                </li>
                <li ng-show="deployMode != 'top' && privilege['perform_term_monitor_label.107001'] ">
                    <a ui-sref="resources.clusterInfo.monitor">{{i18n.perform_term_monitor_label||'性能监控'}}</a>
                </li>
                <li ng-show="privilege['role_role_add_option_hostView_value']">
                    <a ui-sref="resources.clusterInfo.host">{{i18n.common_term_host_label||'主机'}}</a>
                </li>
                <li ng-show="privilege['role_role_add_option_storagePoolView_value']">
                    <a ui-sref="resources.clusterInfo.store">{{i18n.common_term_storage_label||'存储'}}</a>
                </li>
                <li ng-show="privilege['common_term_check_button']">
                    <a ui-sref="resources.clusterInfo.vm">{{i18n.common_term_vms_label||'虚拟机'}}</a>
                </li>
                <li>
                    <a ui-sref="resources.clusterInfo.device">{{i18n.device_term_deviceResource_label||'设备资源'}}</a>
                </li>
                <li>
                    <a ui-sref="resources.clusterInfo.schedule.suggest">{{i18n.resource_term_schedul_label||'资源调度'}}</a>
                </li>
            </ul>
        </div>
        <div class="tiny-layout-center">
            <div ui-view></div>
        </div>
    </div>
</div>