<div id="cpuidInfoDiv">
    <tiny-formfield>
        <tiny-item label="label.imc">
            <div ng-bind="imcSetting"></div>
        </tiny-item>
    </tiny-formfield>

    <tiny-formfield>
        <tiny-item label="label.tags">
            <div></div>
        </tiny-item>
    </tiny-formfield>

    <tiny-formfield>
        <tiny-item label="label.register">
            <div ng-bind="label.value"></div>
        </tiny-item>

        <tiny-item label="label.leaf1">
            <div></div>
        </tiny-item>
        <tiny-item label="label.eax">
            <div ng-bind="leaf1Eax"></div>
        </tiny-item>
        <tiny-item label="label.ebx">
            <div></div>
        </tiny-item>
        <tiny-item label="label.ecx">
            <div ng-bind="leaf1Ecx"></div>
        </tiny-item>
        <tiny-item label="label.edx">
            <div ng-bind="leaf1Edx"></div>
        </tiny-item>

        <tiny-item label="label.leaf80000001">
            <div></div>
        </tiny-item>
        <tiny-item label="label.eax">
            <div></div>
        </tiny-item>
        <tiny-item label="label.ebx">
            <div></div>
        </tiny-item>
        <tiny-item label="label.ecx">
            <div ng-bind="leaf80000001Ecx"></div>
        </tiny-item>
        <tiny-item label="label.edx">
            <div ng-bind="leaf80000001Edx"></div>
        </tiny-item>

        <tiny-item label="label.leafd">
            <div></div>
        </tiny-item>
        <tiny-item label="label.eax">
            <div ng-bind="leafdEax"></div>
        </tiny-item>
        <tiny-item label="label.ebx">
            <div></div>
        </tiny-item>
        <tiny-item label="label.ecx">
            <div ng-bind="leafdEcx"></div>
        </tiny-item>
        <tiny-item label="label.edx">
            <div ng-bind="leafdEdx"></div>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="application/javascript">
    require(['app/business/resources/controllers/hypervisor/cluster/cpuidInfoCtrl'],
            function (cpuidInfoCtrl) {
                var rootElement = $("#cpuidInfoDiv");
                rootElement.attr("ng-controller", "resources.clusterInfo.cpuidInfo.ctrl");
                var dep = ['ng', 'wcc', cpuidInfoCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", rootElement);
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile(rootElement)($rootScope);
                    $rootScope.$digest();
                });
            });
</script>
