<div id="scheduleSuggestDiv">
    <div class="fm-btn-bottom-small clearfix">
        <tiny-button id="applyButton.id" text="applyButton.text" click="applyButton.click()"
                     ng-if="operable" class="fl"></tiny-button>
        <div class="fr bottom10">
            <a class="btn-link">
                <div ng-click="refresh()" class="small-icon small-icon-refresh"></div>
            </a>
        </div>
        <div class="fr color2">{{i18n.virtual_cluster_schedule_info_advice_label}}</div>
    </div>
    <div>
        <tiny-table id="suggestTable.id" data="suggestTable.data"
                    columns='suggestTable.columns' render-row="suggestTable.renderRow"
                    enable-pagination="suggestTable.enablePagination"
                    column-sorting="suggestTable.columnSorting"></tiny-table>
    </div>
</div>