<div class="row-fluid">
    <div class="crumbs pr">
        <ul class="breadcrumb">
            <li>
                <a ui-sref="resources.hypervisor.cluster">{{i18n.virtual_term_clusters_label}}</a> <span class="divider">&gt;</span>
            </li>
            <li class="active"><a ui-sref="resources.clusterInfo.summary">{{clusterName}}</a><span class="divider">&gt;</span></li>
            <li class="active">{{i18n.resource_term_schedul_label}}</li>
            <li class="crumbs_line"></li>
        </ul>
        <div class="help-pa">
            <div ng-click="help.show=true" class="small-icon small-icon-help"></div>
        </div>
    </div>
</div>
<div fm-help help="'drawer_virtual_cluster_policyscheduling'" i18n="'zh'" show="help.show"></div>
<div  class="container-fluid content-right-box">
    <div class="line-height30">
        <tiny-button id="setScheduleButton.id" text="setScheduleButton.text"
                     click="setScheduleButton.click()"  ng-if="operable" class="major-btn"></tiny-button>
    </div>

    <div class="row-fluid line-height30 bottom10">
        <div class="span3">{{i18n.common_term_autoLevel_label}}：{{drsLevel}}</div>
        <div class="span3" ng-show="hyperType !== 'VMware'">{{i18n.common_term_weighFactor_label}}：{{factor}}</div>
        <div class="span3" ng-show="hyperType == 'VMware'">{{i18n.resource_term_MigrateThreshold_label}}：{{drsLimen}}</div>
        <div class="span3">{{i18n.virtual_term_clusterBlanceStatus_label}}：{{drsBalance}}</div>
    </div>
    <div id="scheduleTabsDiv" class="tiny-tabs-container">
        <div class = "tiny-tabs-titles">
            <ul>
                <li ng-class="{tinyTabActive:$state.includes(plugin.openState)}" ng-repeat="plugin in plugins" ui-sref="{{plugin.openState}}">
                    <a href="#">{{plugin.name}}</a>
                </li>
            </ul>
        </div>
        <div class="tiny-tabs-content">
            <div ui-view></div>
        </div>
    </div>
</div>
<script>
    require(["tiny-widgets/Tabs"], function(Tabs) {
        var tabs = new Tabs({
            "id" : "scheduleTabsDiv",
            "setActiveClass" : true
        });
    });
</script>