<div id="setScheduleVmDiv" class="clearfix">
    <div class="line-height30 color-gray"><span ng-bind-html="i18n.virtual_cluster_schedul_desc_autoLevel_label"></span></div>
    <div class="bottom5 clearfix">
    <tiny-checkbox id="autoCheckbox.id" text="autoCheckbox.text"
                   disabled="autoCheckbox.disabled" change="autoCheckbox.change()"></tiny-checkbox>
    </div>
    <div class="margin-erect-beautifier">
        <div class="row-fluid bottom10">
            <div class="span12">
                <label>{{i18n.common_term_name_label}}:</label>
                <tiny-textbox id="vmManageSerchName.id" type="vmManageSerchName.type" width="vmManageSerchName.width"
                              value="vmManageSerchName.value"></tiny-textbox>
                <label>{{i18n.vm_term_hyperID_label}}:</label>
                <tiny-textbox id="vmManageSerchId.id" type="vmManageSerchId.type" width="vmManageSerchId.width"
                              value="vmManageSerchId.value"></tiny-textbox>
                <span ng-if="levelAble">
                    <label>{{i18n.common_term_autoLevel_label}}:</label>
                    <tiny-select id="vmManageSerchLevel.id" values="vmManageSerchLevel.values" width="vmManageSerchLevel.width">
                    </tiny-select>
                    <span popover="{{i18n.virtual_cluster_schedul_para_autoLevel_mean_tip}}" popover-trigger="mouseenter"
                          class="small-icon small-icon-tips" popover-placement="bottom"></span>
                </span>
             </div>
        </div>
        <div class="row-fluid bottom10">
            <div class="span6">
                <tiny-button class="major-btn" id="resetBtn.id" text="resetBtn.text" click="resetBtn.click()"></tiny-button>
                <tiny-button class="major-btn" id="okBtn.id" text="okBtn.text" click="okBtn.click()"></tiny-button>
            </div>
        </div>
    </div>
    <div class="table-tiny-box-height clearfix">
        <tiny-table id="vmTable.id" data="vmTable.data"
                    pagination-style="vmTable.paginationStyle"
                    columns='vmTable.columns' render-row="vmTable.renderRow"
                    total-records="vmTable.totalRecords" length-change="vmTable.lengthChange"
                    cur-page="vmTable.curPage" display-length="vmTable.displayLength"
                    enable-pagination="vmTable.enablePagination"
                    change-select="vmTable.changeSelect"
                    length-menu="vmTable.lengthMenu" callback="vmTable.callback"></tiny-table>
    </div>
</div>