<div id="vmGroupInfoDiv">
    <div>{{i18n.common_term_name_label}}: {{name}}</div>
    <div>
        <tiny-table id="selectedVmTable.id" data="selectedVmTable.data"
                    pagination-style="selectedVmTable.paginationStyle"
                    columns='selectedVmTable.columns' render-row="selectedVmTable.renderRow"
                    total-records="selectedVmTable.totalRecords" length-change="selectedVmTable.lengthChange"
                    cur-page="selectedVmTable.curPage" display-length="selectedVmTable.displayLength"
                    enable-pagination="selectedVmTable.enablePagination"
                    length-menu="selectedVmTable.lengthMenu" callback="selectedVmTable.callback"></tiny-table>
    </div>
</div>
<script type="application/javascript">
    require(['app/business/resources/controllers/hypervisor/cluster/setScheduleVgInfoCtrl'],
            function (setScheduleVgInfoCtrl) {
                var rootElement = $("#vmGroupInfoDiv");
                rootElement.attr("ng-controller", "resources.cluster.vgInfo.ctrl");
                var dep = ['ng', 'wcc', setScheduleVgInfoCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", rootElement);
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile(rootElement)($rootScope);
                    $rootScope.$digest();
                });
            });
</script>