<div id="ruleInfoDiv" ng-controller="resources.cluster.ruleInfo.ctrl">
    <div ng-show="ruleType != '3'">
        <tiny-table id="ruleInfoVmTable.id" data="ruleInfoVmTable.data"
                    pagination-style="ruleInfoVmTable.paginationStyle"
                    columns='ruleInfoVmTable.columns' render-row="ruleInfoVmTable.renderRow"
                    total-records="ruleInfoVmTable.totalRecords" length-change="ruleInfoVmTable.lengthChange"
                    cur-page="ruleInfoVmTable.curPage" display-length="ruleInfoVmTable.displayLength"
                    enable-pagination="ruleInfoVmTable.enablePagination"
                    length-menu="ruleInfoVmTable.lengthMenu" callback="ruleInfoVmTable.callback"></tiny-table>
    </div>
    <div ng-show="ruleType == '3'">
        <div class="span6">
            <tiny-formfield>
                <tiny-item label="vm2Host.vmGroup.label">
                    {{vm2Host.vmGroup.value}}
                </tiny-item>
                <tiny-item label="vm2Host.rule.label">
                    {{vm2Host.rule.value}}
                </tiny-item>
                <tiny-item label="vm2Host.clusterHost.label">
                    {{vm2Host.clusterHost.value}}
                </tiny-item>
            </tiny-formfield>
        </div>
    </div>
</div>
<script type="application/javascript">
    require(['app/business/resources/controllers/hypervisor/cluster/setScheduleRuleInfoCtrl'],
            function (ctrl) {
                var lineNum = $("#ruleInfoDiv").parent().parent().parent().prev().attr("lineNum");
                var ruleIndex = $("#ruleInfoDiv").parent().parent().parent().prev().attr("ruleIndex");
                var clusterId = $("#ruleInfoDiv").parent().parent().parent().prev().attr("clusterId");
                var ruleType = $("#ruleInfoDiv").parent().parent().parent().prev().attr("ruleType");
                var id = "ruleInfoDiv" + lineNum;
                $("#ruleInfoDiv").attr("id", id);

                var dep = ['ng', 'wcc', ctrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#" + id));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile($("#" + id))($rootScope);
                    $rootScope.$digest();
                });
                $("#" + id).scope().ruleType = ruleType;
                $("#" + id).scope().getRuleInfo(clusterId,ruleIndex);
            });
</script>