<style>
    #setScheduleDiv .tiny-layout-west {
        height: 600px;
    }
</style>
<script type="text/javascript">
    $(function () {
        $("#ul li.active").addClass("resources-scheduling").parent().siblings().children().removeClass('resources-scheduling');
        $('#ul li').click(function () {
            $(this).addClass('active').parent().siblings().children().removeClass('active');
            $("#ul li.active").addClass("resources-scheduling").parent().siblings().children().removeClass('resources-scheduling');
        });
    })
</script>
<div id="setScheduleDiv">
    <div class="monitor-tabs clearfix">
        <div class="monitor-tabs-left fl lt" style="min-height: 475px;">
            <ul class="nav nav-list" id="ul">
                <div>
                    <li class="active">
                        <a class="btn-link" ng-click="showTab('basic')" active="true"
                           ng-bind="i18n.common_term_basicInfo_label"></a>
                    </li>
                </div>
                <div>
                    <li>
                        <a class="btn-link" ng-click="showTab('resource')" ng-show="drsSwitch"
                           ng-bind="i18n.virtual_term_ResourceGroupMgr_label"></a>
                    </li>
                </div>
                <div>
                    <li>
                        <a class="btn-link" ng-click="showTab('rule')" ng-show="drsSwitch"
                           ng-bind="i18n.common_term_ruleMgr_label"></a>
                    </li>
                </div>
                <div>
                    <li>
                        <a class="btn-link" ng-click="showTab('vm')" ng-show="drsSwitch"
                           ng-bind="i18n.vm_term_VMmgr_label"></a>
                    </li>
                </div>
            </ul>
        </div>
        <div class="monitor-tabs-right fl rt">
            <div id="content">
                <div ng-include="tabUrl.tab1" ng-show="curTab == 'basic'" class="left20 right10"></div>
                <div ng-include="tabUrl.tab2" ng-show="curTab == 'resource'" class="left20 right10"></div>
                <div ng-include="tabUrl.tab3" ng-show="curTab == 'rule'" class="left20 right10"></div>
                <div ng-include="tabUrl.tab4" ng-show="curTab == 'vm'" class="left20 right10"></div>
            </div>
        </div>
    </div>
    <div class="fm-btn-top-large" style="text-align: center;">
        <tiny-button class="major-btn" id="okButton.id" text="okButton.text" click="okButton.click()"></tiny-button>
        <tiny-button id="cancelButton.id" text="cancelButton.text"
                     click="cancelButton.click()"></tiny-button>
    </div>
</div>
<script type="application/javascript">
    require(['app/business/resources/controllers/hypervisor/cluster/setScheduleCtrl'],
            function (setScheduleCtrl) {
                var rootElement = $("#setScheduleDiv")
                rootElement.attr("ng-controller", "resources.clusterInfo.setSchedule.ctrl");
                var dep = ['ng', 'wcc', setScheduleCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", rootElement);
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile(rootElement)($rootScope);
                    $rootScope.$digest();
                });
            });
</script>