<div id="hostGroupInfoDiv">
    <div>{{i18n.common_term_name_label}}: {{name}}</div>
    <div>
        <tiny-table id="selectedHostTable.id" data="selectedHostTable.data"
                    pagination-style="selectedHostTable.paginationStyle"
                    columns='selectedHostTable.columns' render-row="selectedHostTable.renderRow"
                    total-records="selectedHostTable.totalRecords" length-change="selectedHostTable.lengthChange"
                    cur-page="selectedHostTable.curPage" display-length="selectedHostTable.displayLength"
                    enable-pagination="selectedHostTable.enablePagination"
                    length-menu="selectedHostTable.lengthMenu" callback="selectedHostTable.callback"></tiny-table>
    </div>
</div>
<script type="application/javascript">
    require(['app/business/resources/controllers/hypervisor/cluster/setScheduleHgInfoCtrl'],
            function (setScheduleHgInfoCtrl) {
                var rootElement = $("#hostGroupInfoDiv");
                rootElement.attr("ng-controller", "resources.cluster.hgInfo.ctrl");
                var dep = ['ng', 'wcc', setScheduleHgInfoCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", rootElement);
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile(rootElement)($rootScope);
                    $rootScope.$digest();
                });
            });
</script>