<div id="setScheduleGroupDiv" class="clearfix">
    <div class="color-gray">{{i18n.virtual_cluster_schedul_desc_ResourceGroupMgr_label}}</div>
    <div class="top10">
        <div>{{i18n.vm_term_VMgroup_label}}</div>
        <div class="fm-btn-bottom-small top5">
            <tiny-button id="addVgButton.id" text="addVgButton.text" click="addVgButton.click()"></tiny-button>
        </div>
        <div>
            <tiny-table id="vgTable.id" data="vgTable.data"
                        pagination-style="vgTable.paginationStyle"
                        columns='vgTable.columns' render-row="vgTable.renderRow"
                        total-records="vgTable.totalRecords" length-change="vgTable.lengthChange"
                        cur-page="vgTable.curPage" display-length="vgTable.displayLength"
                        enable-pagination="vgTable.enablePagination"
                        length-menu="vgTable.lengthMenu" callback="vgTable.callback"></tiny-table>
        </div>
    </div>
    <div class="top10">
        <div class="clear_both">{{i18n.common_term_hostGroup_label}}</div>
        <div class="bottom10 top5">
            <tiny-button id="addHgButton.id" text="addHgButton.text" click="addHgButton.click()"></tiny-button>
        </div>
        <div>
            <tiny-table id="hgTable.id" data="hgTable.data" pagination-style="hgTable.paginationStyle"
                        columns='hgTable.columns' render-row="hgTable.renderRow"
                        total-records="hgTable.totalRecords" length-change="hgTable.lengthChange"
                        cur-page="hgTable.curPage" display-length="hgTable.displayLength"
                        enable-pagination="hgTable.enablePagination" length-menu="hgTable.lengthMenu"
                        callback="hgTable.callback"></tiny-table>
        </div>
    </div>
</div>