<div id="ruleDetailDiv" ng-controller="detailController">
    <div>
        <tiny-table id="memberTable.id" data="memberTable.data" columns='memberTable.columns'
                    render-row="memberTable.renderRow" enable-pagination="memberTable.enablePagination"></tiny-table>
    </div>
</div>

<script type="application/javascript">
    require(["app/services/httpService",
        "tiny-widgets/Window",
        "tiny-widgets/Message"], function (httpService, Window, Message) {
        //替换ID，使ID唯一
        var lineNum = $("#ruleDetailDiv").parent().parent().parent().prev().attr("lineNum");
        var id = "ruleDetailDiv_" + lineNum;
        $("#ruleDetailDiv").attr("id", id);

        //定义module
        var detailCtrl = ["$scope", "$compile", "camel", function ($scope, $compile, camel) {
            $scope.ruleName = $("#" + id).parent().parent().parent().prev().attr("ruleName");
            $scope.ruleType = $("#" + id).parent().parent().parent().prev().attr("ruleType");

            $scope.memberTable = {
                "id": "ruleMemberTable_" + lineNum,
                "data": null,
                "enablePagination": false,
                "columns": [
                    {
                        "sTitle": "",
                        "mData": "name",
                        "bSortable": false
                    },
                    {
                        "sTitle": "",
                        "mData": "name",
                        "bSortable": false
                    }
                ],
                "callback": function (evtObj) {
                },
                "renderRow": function (nRow, aData, iDataIndex) {

                    $("thead", $("#" + id)).hide();
                    // 操作列
                    var optColumn = "<a href='javascript:void(0)' ng-click='delete()'>删除</a>";
                    var optLink = $compile($(optColumn));
                    var optScope = $scope.$new();
                    optScope.delete = function () {
                        var options = {
                            type: "confirm",
                            content: "确定删除吗？",
                            height: "150px",
                            width: "350px",
                            "buttons": [
                                {
                                    label: '确定',
                                    default: true,
                                    handler: function (event) {
                                        msg.destroy();
                                    }
                                },
                                {
                                    label: '取消',
                                    default: false,
                                    handler: function (event) {
                                        msg.destroy();
                                    }
                                }
                            ]
                        }
                        var msg = new Message(options);
                        msg.show();
                    };
                    var optNode = optLink(optScope);
                    $("td:eq(1)", nRow).html(optNode);
                }
            };
            function getRule(pageInfo) {
                var deferred = camel.get({
                    "url": "/hypervisor/rule",
                    "params": pageInfo
                });
                deferred.success(function (data) {
                    $scope.$apply(function () {
                        $scope.memberTable.data = data;
                    });
                });
            };
            getRule(null);
        }];
        var detailModule = angular.module("detailApp", ["ng"]);
        detailModule.service("camel", httpService);
        detailModule.controller("detailController", detailCtrl);

        //编译
        var dep = ['ng', 'wcc', detailModule.name];
        dep.unshift(["$provide", function ($provide) {
            $provide.value("$rootElement", $("#" + id));
        }]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            $compile($("#" + id))($rootScope);
            $rootScope.$digest();
        });
    });
</script>