<div id="vmwareSetScheduleDiv">
    <tiny-formfield>
        <tiny-item>
            <tiny-checkbox id="openCheckbox.id" text="openCheckbox.text"
                           disabled="openCheckbox.disabled" change="openCheckbox.change()"></tiny-checkbox>
        </tiny-item>
        <tiny-item label="automateRadio.label" require="automateRadio.require">
            <div class="fl">
                <tiny-radiogroup id="automateRadio.id" values="automateRadio.values" spacing="automateRadio.spacing"
                                 layout="automateRadio.layout" change="automateRadio.change()"></tiny-radiogroup>
            </div>
            <div class="color-gray">
                <p ng-bind="label.manual" style="height: 65px;" ></p>

                <p ng-bind="label.auto"  style="height: 65px;"></p>
            </div>
        </tiny-item>
        <tiny-item label="limenRadio.label" require="limenRadio.require">
            <div class="fl">
                <tiny-radiogroup id="limenRadio.id" values="limenRadio.values"
                                 layout="limenRadio.layout" change="limenRadio.change()"></tiny-radiogroup>
            </div>
            <div class="fl color-gray" >
                <p style="margin-bottom: 3px" ng-bind="label.limen_1"></p>
                <p style="margin-bottom: 3px" ng-bind="label.limen_2"></p>
                <p ng-bind="label.limen_3"></p>
            </div>
        </tiny-item>
        <tiny-item>
            <tiny-button id="okButton.id" text="okButton.text" click="okButton.click()"></tiny-button>
            <tiny-button id="cancelButton.id" text="cancelButton.text"
                         click="cancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="application/javascript">
    require(['app/business/resources/controllers/hypervisor/cluster/vmwareSetScheduleCtrl'],
            function (setScheduleCtrl) {
                var rootElement = $("#vmwareSetScheduleDiv")
                rootElement.attr("ng-controller", "resources.clusterInfo.vmwareSetSchedule.ctrl");
                var dep = ['ng', 'wcc', setScheduleCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", rootElement);
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile(rootElement)($rootScope);
                    $rootScope.$digest();
                });
            });
</script>