<div id="designerScalingGroup" ng-controller="ctrl">
    <div>
        <fieldset id="baseInfo">
            <div class="legend small"><span ng-bind="i18n.common_term_basicInfo_label"></span></div>
            <tiny-formfield>
                <tiny-item label="scalingpolicy.name.label" require="scalingpolicy.name.require">
                    <tiny-textbox id="scalingpolicy.name.id" value="values.name" tooltip="scalingpolicy.name.tooltip" extend-function="scalingpolicy.name.extendFunction" validate="scalingpolicy.name.validate" width="scalingpolicy.name.width"></tiny-textbox>
                </tiny-item>
                <tiny-item label="scalingpolicy.description.label" require="scalingpolicy.description.require">
                    <tiny-textbox id="scalingpolicy.description.id" value="values.description" tooltip="scalingpolicy.description.tooltip" extend-function="scalingpolicy.description.extendFunction" validate="scalingpolicy.description.validate" width="scalingpolicy.description.width"
                    type="scalingpolicy.description.type"></tiny-textbox>
                </tiny-item>
            </tiny-formfield>
        </fieldset>
    </div>
    <div>
        <fieldset id="condition">
            <div class="legend small"><span ng-bind="i18n.app_term_triggerCondition_label"></span></div>
            <tiny-formfield>
                <tiny-item label="scalingpolicy.statisticsPeriod.label" require="scalingpolicy.statisticsPeriod.require">
                    <tiny-select id="scalingpolicy.statisticsPeriod.id" values="scalingpolicy.statisticsPeriod.values" width="scalingpolicy.statisticsPeriod.width" change="scalingpolicy.statisticsPeriod.change()">
                    </tiny-select>
                </tiny-item>
                <tiny-item label="scalingpolicy.collectionTimes.label" require="scalingpolicy.collectionTimes.require">
                    <tiny-textbox id="scalingpolicy.collectionTimes.id" value="values.metricCondition.CollectionTimes" tooltip="scalingpolicy.collectionTimes.tooltip" extend-function="scalingpolicy.collectionTimes.extendFunction" validate="scalingpolicy.collectionTimes.validate"
                    width="scalingpolicy.collectionTimes.width" type="scalingpolicy.collectionTimes.type"></tiny-textbox>
                </tiny-item>
            </tiny-formfield>
        </fieldset>
    </div>
    <div>
        <fieldset id="conditionConfig">
            <div class="legend small">
                <span ng-bind="i18n.app_term_conditionCfg_label"></span>
                <img class="btn btn-link margin-horizon-beautifier" ng-src="{{enableIcon.addIcon}}" ng-click="addMetricCondition()">
            </div>
            <tiny-formfield>
                <div ng-repeat="configuration in values.metricCondition.Configurations">
                    <tiny-select id="'metricTypes'+$index" values="metricTypes.values" default-selectid="configuration.MetricType" width="scalingpolicy.actionType.width" change="metricTypes.change($index)">
                    </tiny-select>

                    <tiny-select id="'statisticTypes'+$index" values="statisticTypes" width="scalingpolicy.actionType.width">
                    </tiny-select>

                    <tiny-select id="'compareOperators'+$index" values="compareOperators.values" default-selectid="configuration.CompareOperator" width="scalingpolicy.actionType.width" change="compareOperators.change($index)">
                    </tiny-select>

                    <span ng-if="configuration.cell == '%'">
                        <tiny-textbox id="'metricValue'+$index" value="configuration.MetricValue" tooltip="configuration.tooltip" extend-function="configuration.extendFunction" validate="configuration.validate" width="scalingpolicy.coolTime.width" type="scalingpolicy.coolTime.type"></tiny-textbox>
                    </span>
                    <span ng-if="configuration.cell == 'KB/s'">
                        <tiny-textbox id="'metricValue'+$index" value="configuration.MetricValue" tooltip="configuration.Ktooltip" extend-function="configuration.KextendFunction" validate="configuration.Kvalidate" width="scalingpolicy.coolTime.width" type="scalingpolicy.coolTime.type"></tiny-textbox>
                    </span>
                    <span ng-bind="configuration.cell"></span>
                    <img class="btn btn-link" ng-src="{{enableIcon.deleteIcon}}" ng-click="deleteMetricCondition($index)">
                </div>
            </tiny-formfield>
        </fieldset>
    </div>
    <div>
        <fieldset id="action">
            <div class="legend small"><span ng-bind="i18n.common_term_action_label"></span></div>
            <tiny-formfield>
                <tiny-item label="scalingpolicy.actionType.label" require="scalingpolicy.actionType.require">
                    <tiny-select id="scalingpolicy.actionType.id" values="scalingpolicy.actionType.values" width="scalingpolicy.actionType.width" change="scalingpolicy.actionType.change()">
                    </tiny-select>
                </tiny-item>
                <tiny-item display="actionTypeScalingOut">
                    <tiny-radiogroup id="scalingpolicy.scaleOut.id" layout="scalingpolicy.scaleOut.layout" values="scalingpolicy.scaleOut.values" change="scalingpolicy.scaleOut.change()">
                    </tiny-radiogroup>
                </tiny-item>
                <tiny-item display="!actionTypeScalingOut">
                    <tiny-radiogroup id="scalingpolicy.scaleIn.id" layout="scalingpolicy.scaleIn.layout" values="scalingpolicy.scaleIn.values" change="scalingpolicy.scaleIn.change()">
                    </tiny-radiogroup>
                </tiny-item>
                <tiny-item label="scalingpolicy.coolTime.label" require="scalingpolicy.coolTime.require">
                    <tiny-textbox id="scalingpolicy.coolTime.id" value="values.action.CoolDown" tooltip="scalingpolicy.coolTime.tooltip" extend-function="scalingpolicy.coolTime.extendFunction" validate="scalingpolicy.coolTime.validate" width="scalingpolicy.coolTime.width"
                    width="scalingpolicy.coolTime.width" type="scalingpolicy.coolTime.type"></tiny-textbox>
                </tiny-item>
                <tiny-item label="scalingpolicy.step.label" require="scalingpolicy.step.require">
                    <tiny-textbox id="scalingpolicy.step.id" value="values.action.AdjustStep.StepValue" tooltip="scalingpolicy.step.tooltip" extend-function="scalingpolicy.step.extendFunction" validate="scalingpolicy.step.validate" width="scalingpolicy.step.width" type="scalingpolicy.step.type"></tiny-textbox>
                </tiny-item>

                <tiny-item>
                    <tiny-button id="okBtn.id" text="okBtn.text" click="okBtn.click()"></tiny-button>
                    <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
                </tiny-item>
            </tiny-formfield>
        </fieldset>
    </div>
</div>
<script type="application/javascript">
    require(['app/business/multiPool/controllers/appTemplate/designer/framework/scalingPolicyModel'],
            function (designerScalingGroupModel) {
                var dep = ['ng', 'wcc', designerScalingGroupModel.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#designerScalingGroup"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile($("#designerScalingGroup"))($rootScope);
                    $rootScope.$digest();
                });
            });
</script>