<div>
    <div fm-help help="'drawer_sc_all_app'" show="show.help" i18n="'zh'"></div>
    <div class="serviceOrderApplyCls container-fluid">
        <div class="crumbs">
            <ul class="nav nav-list noPadding">
                <li>
                    <span ng-bind="i18n.common_term_allApplication_label"></span>
                </li>
                <li class="two-lead">
                    <p ng-bind-html="i18n.service_cluster_view_explan_allApply_label"></p>
                </li>
                <li class="divider"></li>
            </ul>
        </div>

        <div class="content-right-box">
            <div class="clearfix bottom10">
                <div class="pull-right">
                    <tiny-filtersel id="searchStatus.id"
                                    values="searchStatus.values"
                                    width="searchStatus.width"
                                    change="searchStatus.change()">
                    </tiny-filtersel>

                    <tiny-filtersel id="searchType.id"
                                    values="searchType.values"
                                    width="searchType.width"
                                    change="searchType.change()">
                    </tiny-filtersel>

                <span style="display: inline-block; vertical-align: middle; margin-bottom: 4px;">
                    <tiny-searchbox id="searchBox.id"
                                    title="{{searchBox.placeholder}}"
                                    placeholder="searchBox.placeholder"
                                    width="searchBox.width"
                                    suggest-size="searchBox.suggestSize"
                                    maxlength="searchBox.maxLength"
                                    suggest="searchBox.suggest"
                                    search="searchBox.search">
                    </tiny-searchbox>
                </span>
                    <a class="btn-link">
                        <div ng-click="refresh.click()"
                             id="refresh.id"
                             title="{{i18n.common_term_fresh_button}}"
                             class="small-icon small-icon-refresh"></div>
                    </a>
                    <a class="btn-link">
                        <div title="{{i18n.common_term_help_label}}"
                             ng-click="show.help=true"
                             class="small-icon small-icon-help"></div>
                    </a>
                </div>
            </div>

            <div class="margin-top-beautifier">
                <tiny-table id="applys.id"
                            columns="applys.columns"
                            data="applys.data"
                            pagination-style="applys.paginationStyle"
                            length-menu="applys.lengthMenu"
                            render-row="applys.renderRow"
                            display-length="applys.displayLength"
                            total-records="applys.totalRecords"
                            callback="applys.callback"
                            change-select="applys.changeSelect">
                </tiny-table>
            </div>
        </div>
    </div>
</div>
