<div ng-controller="createByCustom.addVm.ctrl" class="app_createByCustom_addVm_divId">
    <div class="clearfix bottom10">
        <div class="pull-right">
        <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
            <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width" suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength" suggest="searchBox.suggest" search="searchBox.search">
            </tiny-searchbox>
        </span>
        </div>
    </div>

    <div class="margin-top-beautifier clearfix">
        <tiny-table id="availableVmTable.id" columns="availableVmTable.columns" data="availableVmTable.data" pagination-style="availableVmTable.paginationStyle" render-row="availableVmTable.renderRow" enable-pagination="availableVmTable.enablePagination" callback="availableVmTable.callback"
        change-select="availableVmTable.changeSelect" display-length="availableVmTable.displayLength" total-records="availableVmTable.totalRecords" length-menu="availableVmTable.lengthMenu">
        </tiny-table>
    </div>

    <div class="fm-btn-top-large customOkOuter2">
        <tiny-button id="okBtn.id" text="okBtn.text" click="okBtn.click()" disable="selectedVms.length==0" class="major-btn"></tiny-button>
        <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
    </div>
</div>

<style>
.tiny-checkboxIcon {
    margin-top: 4px;
}
</style>

<script type="application/javascript">
require(['app/business/application/controllers/appInstance/createByCustom/createAppAddVm'],
    function(createAppAddVm) {
        var dependency = ['ng', 'wcc', createAppAddVm.name];
        dependency.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $(".app_createByCustom_addVm_divId"));
            }
        ]);
        var $injector = angular.injector(dependency);
        $injector.invoke(function($compile, $rootScope) {
            $compile($(".app_createByCustom_addVm_divId"))($rootScope);
            $rootScope.$digest();
        });
    }
);
</script>