<div class="ecs_vm_delete_vm" ng-controller="ecs.vm.delete.ctrl">
    <div class="margin-bottom-beautifier">{{i18n.vm_vm_del_info_confirm_msg}}</div>
    <div class="clearfix margin-left-beautifier">
        <tiny-radiogroup id="deleteType.id" layout="deleteType.layout" values="deleteType.values"></tiny-radiogroup>
    </div>

    <div class="text-center top10">
        <tiny-button id="okBtn.id" text="okBtn.text" click="okBtn.click()" class="major-btn"></tiny-button>
        <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
    </div>
</div>

<script>
require(['app/business/ecs/controllers/vm/deleteVmCtrl'],
    function(deleteVmCtrl) {
        var dep = ['ng', 'wcc', deleteVmCtrl.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $(".ecs_vm_delete_vm"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($(".ecs_vm_delete_vm"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>
