<div>
    <div class="slider-content">
        <div id="networkLayout">
            <div class="tiny-layout-container">
                <div class="tiny-layout-west">
                    <ul>
                        <div class="tiny-layout-title">
                            <div class="row-fluid nosidedown-txt">
                                <div class="span4">
                                    <div class="title-icon">
                                        <img src="../theme/default/images/vpc.png">
                                    </div>
                                </div>
                                <div class="span8">
                                    <p class="title-text">VPC</p>
                                </div>
                            </div>
                        </div>
                        <li>
                            <a ui-sref="vdcMgr.network.summary">概览</a>
                        </li>
                        <li>
							<div class="tiny-layout-head" ui-sref="vdcMgr.network.list">网络资源</div>
                            <ul>
                                <li>
                                    <a ui-sref="vdcMgr.network.list">网络</a>
                                </li>
								<li>
                                    <a ui-sref="vdcMgr.network.router">路由器</a>
                                </li>
								<li>
                                    <a ui-sref="vdcMgr.network.eip">弹性IP</a>
                                </li>
								<li>
                                    <a ui-sref="vdcMgr.network.dnat">DNAT</a>
                                </li>
                            </ul>
                        </li>
						<li>
							<div class="tiny-layout-head" ui-sref="vdcMgr.security.acls">安全</div>
                            <ul>
								<li>
                                    <a ui-sref="vdcMgr.security.acls">ACLs</a>
                                </li>
                                <li>
                                    <a ui-sref="vdcMgr.security.group">安全组</a>
                                </li>
                            </ul>
                        </li>
						<li>
							<div class="tiny-layout-head" ui-sref="vdcMgr.vpn.gate">VPN</div>
                            <ul>
                                <li>
                                    <a ui-sref="vdcMgr.vpn.gate">VPN网关</a>
                                </li>
								<li>
                                    <a ui-sref="vdcMgr.vpn.link">VPN链接</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="tiny-layout-center">
                    <div ui-view id="view-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>