<div id="chgConnectParamDiv">
    <tiny-formfield>
        <span class="createpage-title" ng-bind="i18n.common_term_basicInfo_label"></span>
        <tiny-item ng-bind="basicInfo.protocol.value" label="basicInfo.protocol.label">
        </tiny-item>
        <tiny-item label="basicInfo.portId.label" require="basicInfo.portId.require">
            <tiny-textbox id="basicInfo.portId.id" value="basicInfo.portId.value" type="input"
                          validate="basicInfo.portId.validate" width="formfieldWidth"></tiny-textbox>
        </tiny-item>
        <tiny-item label="basicInfo.username.label" require="basicInfo.username.require">
            <tiny-textbox id="basicInfo.username.id" value="basicInfo.username.value" type="input"
                          validate="basicInfo.username.validate" width="formfieldWidth"></tiny-textbox>
        </tiny-item>
        <tiny-item label="basicInfo.password.label"
                   require="basicInfo.password.require">
            <tiny-textbox id="basicInfo.password.id" value="basicInfo.password.value" width="formfieldWidth"
                          type="basicInfo.password.type" validate="basicInfo.password.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="basicInfo.passwordConfirm.label"
                   require="basicInfo.passwordConfirm.require">
            <tiny-textbox id="basicInfo.passwordConfirm.id" width="formfieldWidth"
                          value="basicInfo.passwordConfirm.value" type="basicInfo.passwordConfirm.type"
                          extend-function="basicInfo.passwordConfirm.extendFunction"
                          validate="basicInfo.passwordConfirm.validate"></tiny-textbox>
        </tiny-item>
    </tiny-formfield>

    <tiny-formfield>
        <span class="createpage-title" ng-bind="i18n.device_term_connectPara_label"></span>
        <tiny-item ng-bind="checkSnmpVersion" label="param.version.label"></tiny-item>
        <tiny-item label="param.readCommunity.label" require="param.readCommunity.require"
                   display="!isSnmpV3">
            <tiny-textbox id="param.readCommunity.id" value="param.readCommunity.value"
                          validate="param.readCommunity.validate" type="input" width="formfieldWidth"></tiny-textbox>
        </tiny-item>
        <tiny-item label="param.writeCommunity.label" require="param.writeCommunity.require"
                   display="!isSnmpV3">
            <tiny-textbox id="param.writeCommunity.id" value="param.writeCommunity.value" width="formfieldWidth"
                          validate="param.writeCommunity.validate" type="input"></tiny-textbox>
        </tiny-item>
        <tiny-item label="param.security.label" require="param.security.require" display="isSnmpV3">
            <tiny-textbox id="param.security.id" value="param.security.value" width="formfieldWidth"
                          type="input" validate="param.security.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="param.authProtocol.label" require="param.authProtocol.require"
                   display="isSnmpV3">
            <tiny-select id="param.authProtocol.id" values="param.authProtocol.values"
                         validate="param.authProtocol.validate"
                         width="formfieldWidth"></tiny-select>

        </tiny-item>
        <tiny-item label="param.authPassword.label"
                   require="param.authPassword.require" display="isSnmpV3">
            <tiny-textbox id="param.authPassword.id" value="param.authPassword.value" width="formfieldWidth"
                          type="param.authPassword.type" validate="param.authPassword.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="param.authPasswordConfirm.label"
                   require="param.authPasswordConfirm.require" display="isSnmpV3">
            <tiny-textbox id="param.authPasswordConfirm.id" width="formfieldWidth"
                          value="param.authPasswordConfirm.value"
                          type="param.authPasswordConfirm.type"
                          extend-function="param.authPasswordConfirm.extendFunction"
                          validate="param.authPasswordConfirm.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="param.encrptProtocol.label" require="param.encrptProtocol.require" display="isSnmpV3">
            <tiny-select id="param.encrptProtocol.id" values="param.encrptProtocol.values"
                         width="formfieldWidth" validate="param.encrptProtocol.validate"></tiny-select>

        </tiny-item>
        <tiny-item label="param.encrptPassword.label"
                   require="param.encrptPassword.require" display="isSnmpV3">
            <tiny-textbox id="param.encrptPassword.id" value="param.encrptPassword.value" width="formfieldWidth"
                          type="param.encrptPassword.type" validate="param.encrptPassword.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="param.encrptPasswordConfirm.label"
                   require="param.encrptPasswordConfirm.require" display="isSnmpV3">
            <tiny-textbox id="param.encrptPasswordConfirm.id" width="formfieldWidth"
                          value="param.encrptPasswordConfirm.value"
                          type="param.encrptPasswordConfirm.type"
                          extend-function="param.encrptPasswordConfirm.extendFunction"
                          validate="param.encrptPasswordConfirm.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item></tiny-item>
        <tiny-item>
            <tiny-button class="major-btn" id="modifyBtn.id" text="modifyBtn.text"
                         click="modifyBtn.click()"></tiny-button>
            <tiny-button id="cancelBtn.id" text="cancelBtn.text"
                         click="cancelBtn.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="application/javascript">
    require(['app/business/resources/controllers/device/switch/chgSwitchConnectParamCtrl'],
            function (chgSwitchConnectParamCtrl) {
                $("#chgConnectParamDiv").attr("ng-controller", "chgSwitchConnectParamCtrl");
                var dep = ['ng', 'wcc', chgSwitchConnectParamCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#chgConnectParamDiv"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile($("#chgConnectParamDiv"))($rootScope);
                    $rootScope.$digest();
                });
            });
</script>