<div id="chgUpLinkPortsDiv">
    <div class="row-fluid">
        <div class="span5 div_block">
            <tiny-table id="commonPortsTable.id" data="commonPortsTable.data"
                        columns="commonPortsTable.columns"
                        enable-pagination="commonPortsTable.enablePagination"
                        length-change="commonPortsTable.lengthChange"
                        request-config="commonPortsTable.requestConfig"
                        render-row="commonPortsTable.renderRow"></tiny-table>
        </div>
        <div class="span2" style="text-align: center">
            <div style="height: 80px"></div>
            <img src="../theme/default/images/common_leftbutton.png" ng-click="operate.moveRight()">
            <br>
            <img src="../theme/default/images/common_rightbutton.png" ng-click="operate.moveLeft()">
        </div>
        <div class="span5 div_block">
            <tiny-table id="uplinkPortsTable.id" data="uplinkPortsTable.data"
                        columns="uplinkPortsTable.columns"
                        enable-pagination="uplinkPortsTable.enablePagination"
                        length-change="uplinkPortsTable.lengthChange"
                        request-config="uplinkPortsTable.requestConfig"
                        render-row="uplinkPortsTable.renderRow"></tiny-table>
        </div>
    </div>
    <div style="text-align: center; padding-top: 20px">
        <tiny-button class="major-btn" id="saveBtn.id" text="saveBtn.text"
                     click="saveBtn.click()">
        </tiny-button>
        <tiny-button id="cancelBtn.id" text="cancelBtn.text"
                     click="cancelBtn.click()">
        </tiny-button>
    </div>
</div>
<script type="application/javascript">
    require(['app/business/resources/controllers/device/switch/chgUpLinkPortsCtrl'],
            function (chgUpLinkPortsCtrl) {
                $("#chgUpLinkPortsDiv").attr("ng-controller", "chgUpLinkPortsCtrl");
                var dep = ['ng', 'wcc', chgUpLinkPortsCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#chgUpLinkPortsDiv"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile($("#chgUpLinkPortsDiv"))($rootScope);
                    $rootScope.$digest();
                });
            });
</script>