<div fm-help help="'drawer_device_switch'" show="show.help" i18n="'zh'"></div>
<div class="container-fluid">
    <div class="crumbs" ng-show="!zoneId">
        <ul class="nav nav-list noPadding">
            <li><span ng-bind="i18n.device_term_switchs_label"></span></li>
            <li class="two-lead">
                <p ng-bind-html="i18n.device_switch_view_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="fm-btn-bottom-small clearfix">
            <tiny-button ng-show="right.hasDeviceOperateRight" id="connectModel.id" text="connectModel.text"
                         click="connectModel.connectSwitch()" class="major-btn">
            </tiny-button>

            <!--刷新、列选择、帮助-->
            <div class="pull-right">
                <tiny-filtersel ng-show="cloudType == 'FUSIONSPHERE'&&!zoneId" id="zoneFilter.id"
                                values="zoneFilter.values"
                                width="zoneFilter.width"
                                change="zoneFilter.change()">
                </tiny-filtersel>
                <tiny-filtersel id="roomFilter.id" values="roomFilter.values"
                                width="roomFilter.width"
                                change="roomFilter.change()">
                </tiny-filtersel>
                <tiny-filtersel id="statusFilter.id" values="statusFilter.values"
                                width="statusFilter.width"
                                change="statusFilter.change()">
                </tiny-filtersel>
                <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
                <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width"
                                suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength"
                                suggest="searchBox.suggest" search="searchBox.search">
                </tiny-searchbox>
              </span>
                <a class="btn-link">
                    <div ng-click="operate.querySwitches()" id="refreshSwitch" title="{{i18n.common_term_fresh_button}}"
                         class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div ng-click="show.help=true" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div class="clearfix">
            <tiny-table id="tableModel.id" data="tableModel.data"
                        columns="tableModel.columns"
                        enable-pagination="tableModel.enablePagination"
                        pagination-style="tableModel.paginationStyle"
                        enable-filter="tableModel.enableFilter" length-change="tableModel.lengthChange"
                        display-length="tableModel.displayLength" column-sorting="tableModel.columnSorting"
                        request-config="tableModel.requestConfig" columns-draggable="tableModel.columnsDraggable"
                        hide-total-records="tableModel.hideTotalRecords"
                        total-records="tableModel.totalRecords" render-row="tableModel.renderRow"
                        show-details="tableModel.showDetails" callback="tableModel.callback"
                        columns-visibility="tableModel.columnsVisibility"
                        change-select="tableModel.changeSelect"></tiny-table>
        </div>
    </div>
</div>