<div id="chgAppBasicInfoDiv" class="alert-tip-first">
    <tiny-formfield>
        <tiny-item label="name.label" require="name.require">
            <tiny-textbox id="name.id" value="name.value" validate="name.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="description.label">
            <tiny-textbox id="description.id" value="description.value" type="description.type"
                          height="description.height"
                          validate="description.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item>
            <div class="fm-btn-top-smaller">
                <tiny-button class="major-btn" id="modifyBtn.id" text="modifyBtn.text"
                             click="modifyBtn.click()"></tiny-button>
                <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
            </div>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="application/javascript">
    require(['app/business/application/controllers/modifyAppBasicInfoCtrl'],
            function (modifyAppBasicInfoCtrl) {
                $("#chgAppBasicInfoDiv").attr("ng-controller", "modifyAppBasicInfoCtrl");
                var dep = ['ng', 'wcc', modifyAppBasicInfoCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#chgAppBasicInfoDiv"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile($("#chgAppBasicInfoDiv"))($rootScope);
                    $rootScope.$digest();
                });
            });
</script>
