<div>
    <div id="addVM" ng-controller="userMgr.domain.addVMCtrl.ctrl" style="margin-left: 10px;">
        <div class="clearfix">
            <div class="fl" style="width:280px;max-height:4750px;">
                <div class="form-inline">
                    <span ng-bind="memberSelectModel.canSelectMemberLabel"></span>
                    <div class="pull-right">
                                <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
                                    <tiny-searchbox id="leftVMSearchBox.id"
                                                    placeholder="leftVMSearchBox.placeholder"
                                                    width="leftVMSearchBox.width"
                                                    suggest-size="leftVMSearchBox.suggestSize"
                                                    maxlength="leftVMSearchBox.maxLength"
                                                    suggest="leftVMSearchBox.suggest"
                                                    search="leftVMSearchBox.search">
                                    </tiny-searchbox>
                                </span>
                    </div>
                </div>
                <div>
                    <tiny-table id="leftTable.id"
                                data="leftTable.data"
                                columns="leftTable.columns"
                                enable-pagination="leftTable.pagination"
                                pagination-style="leftTable.paginationStyle"
                                length-change="leftTable.lengthChange"
                                length-menu="leftTable.lengthMenu"
                                display-length="leftTable.displayLength"
                                enable-filter="leftTable.enableFilter"
                                cur-page="leftTable.curPage"
                                total-records="leftTable.totalRecords"
                                request-config="leftTable.requestConfig"
                                hide-total-records="leftTable.hideTotalRecords"
                                render-row="leftTable.renderRow"
                                callback="leftTable.callback"
                                change-select="leftTable.changeSelect"
                                columns-draggable="true"
                                show-details="leftTable.showDetails"></tiny-table>
                </div>
            </div>
            <div class="fr" style="width:280px;max-height:4750px;">
                <div class="form-inline">
                    <span ng-bind="memberSelectModel.memberSelectedLabel"></span>
                </div>

                <div>
                    <tiny-table id="rightTable.id"
                                data="rightTable.data"
                                columns="rightTable.columns"
                                enable-pagination="rightTable.pagination"
                                hide-total-records="rightTable.hideTotalRecords"
                                render-row="rightTable.renderRow"
                                callback="rightTable.callback"
                                change-select="rightTable.changeSelect"
                                columns-draggable="true"
                                show-details="rightTable.showDetails"></tiny-table>
                </div>
            </div>
        </div>
        <div class="fm-btn-top-large" style="margin-left: 234px">
            <tiny-button class="major-btn"
                         id="addVMSaveBtn.id"
                         text="addVMSaveBtn.text"
                         disable="addVMSaveBtn.disable"
                         click="addVMSaveBtn.click()"></tiny-button>
            <tiny-button id="addVMCancelBtn.id"
                         text="addVMCancelBtn.text"
                         click="addVMCancelBtn.click()"></tiny-button>
        </div>
    </div>
</div>
<script type="application/javascript">
    require(["app/business/tenantUser/controllers/domain/addVMCtrl"], function (addVMCtrl) {
        var $injector = angular.injector(["ng", addVMCtrl.name]);
        $injector.invoke(function ($compile) {
            var link = $compile($("#addVM"));
            link($("#addVM").scope());
            $("#addVM").scope().$digest();
        });
    });
</script>