<fm-help help="help.helpKey" show="help.show" i18n="help.i18n"></fm-help>
<div class="container-fluid">
    <div class="crumbs pr">
        <ul class="nav nav-list noPadding">
            <li>
                <span ng-bind-html="i18n.domain_term_domain_label"></span>
            </li>
            <li class="two-lead">
                <p ng-bind-html="i18n.domain_domain_view_explan_label"></p>
            </li>
            <li class="help-pa">
                <a class="btn-link">
                    <div title="{{help.tips}}" ng-click="help.click()" class="small-icon small-icon-help"></div>
                </a>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="row-fluid clearfix" style="width:100%">
            <div class="span4 outbox-padding clearfix" style="overflow-y:auto;overflow-x:hidden;padding-top: 10px;">
                <div class="clearfix bottom5">
                    <div class="pull-right">
                        <tiny-button id="addDomain.id" ng-show="hasDomainOperateRight === true" disable="addDomain.disable" text="addDomain.text" click="addDomain.click()" class="major-btn"></tiny-button>
                        <tiny-button id="deleteDomain.id" ng-show="hasDomainOperateRight === true" disable="deleteDomain.disable" text="deleteDomain.text" click="deleteDomain.click()"></tiny-button>
                    </div>
                </div>
                <div>
                    <tiny-tree id="domainTree.id" height="domainTree.height" setting="domainTree.setting" values="domainTree.values"></tiny-tree>
                </div>
            </div>

            <div class="span8 outbox-padding">
                <div class="legend" ng-bind="domainLegend"></div>
                <div ng-show="false" id="domainId.id" ng-bind="domainId.value">
                    <tiny-textbox id="domainId.id" value="domainId.value"></tiny-textbox>
                </div>
                <div>
                    <tiny-formfield>
                        <tiny-item label="name.label">
                            <div ng-bind="name.value"></div>
                        </tiny-item>
                        <tiny-item label="domainIdLabel" display="domainId != 'domainParentId'">
                            <div ng-bind="domainId"></div>
                        </tiny-item>
                        <tiny-item label="createTime.label" display="createTime.display">
                            <div ng-bind="createTime.value"></div>
                        </tiny-item>
                        <tiny-item label="description.label">
                            <div ng-if="!description.modifying">
                                <span ng-bind="domainDetail.description"></span>
                                <span class="btn-link" ng-click="description.clickModify()">
                                    <img src="../theme/default/images/gm/edit.gif">
                                </span>
                            </div>
                            <div ng-if="description.modifying">
                                <tiny-textbox id="description.id" type="description.type" width="description.width"
                                              height="description.height" value="domainDetail.description"
                                              blur="description.blur()" keypressfn="description.keypressfn"
                                              width="150" validate="description.validate"></tiny-textbox>
                            </div>
                        </tiny-item>
                    </tiny-formfield>
                </div>
                <div id="myTabs" class="tiny-tabs-container top10">
                    <div class="tiny-tabs-titles">
                        <ul>
                            <li ng-class="{tinyTabActive:$state.includes(plugin.openState)}"
                                ng-repeat="plugin in plugins" ui-sref="{{plugin.openState}}">
                                <a href="#">{{plugin.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="noPadding">
                        <div ui-view></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
require(["tiny-widgets/Tabs"], function(Tabs) {
    var tabs = new Tabs({
        "id": "myTabs",
        "setActiveClass": true
    });
});
</script>