<div class="ecs_vm_detail_monitor" ng-controller="ecs.vm.detail.monitor.ctrl">
    <div id="ecsVmDetailMonitorTabs" class="tiny-tabs-container">
        <div class="tiny-tabs-titles">
            <ul>
                <li>
                    <a url="app/business/ecs/views/vm/monitor/vmMonitorResource.html" active="true"><span ng-bind-html="i18n.common_term_resources_label"></span></a>
                </li>
                <li ng-show="showBusiness">
                    <a url="app/business/ecs/views/vm/monitor/vmMonitorBusiness.html">{{i18n.common_term_process_label}}</a>
                </li>
            </ul>
        </div>
        <div class="tiny-tabs-content">
        </div>
    </div>
</div>


<script>
require(['tiny-widgets/Tabs',
        'app/business/ecs/controllers/vm/monitor/vmMonitorCtrl'
    ],
    function(Tabs, vmMonitorCtrl) {
        var dep = ['ng', 'wcc', vmMonitorCtrl.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $(".ecs_vm_detail_monitor"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($(".ecs_vm_detail_monitor"))($rootScope);
            $rootScope.$digest();
        });

        var tabs = new Tabs({
            "id": "ecsVmDetailMonitorTabs"
        });
    });
</script>

