<div id="app-instance-apply-sg" ng-controller="sgStrategy">
    <div>
        <tiny-formfield>
            <tiny-item label="type.label" require="type.require">
                <tiny-select id="type.id" values="type.value" width="type.width" change="type.change()"></tiny-select>
            </tiny-item>
            <tiny-item>
                <tiny-radiogroup id="actionType.id" layout="actionType.layout" values="actionType.values" change="actionType.change()">
                </tiny-radiogroup>
            </tiny-item>
            <tiny-item label="applyType.label" require="applyType.require">
                <tiny-radiogroup id="applyType.id" layout="applyType.layout" values="applyType.values" change="applyType.change()">
                </tiny-radiogroup>
            </tiny-item>
            <tiny-item label="time.label" require="time.require" display="scalingTriggerType=='Scheduled'">
                <tiny-datetime id="time.id" type="time.type" width="time.width" date-format="time.dateFormat" time-format="time.timeFormat" min-date="time.minDate" max-date="time.maxDate" first-day="time.firstDay" value="time.start.value" ampm="time.ampm"></tiny-datetime>
            </tiny-item>
            <tiny-item label="adjustStep.label" require="adjustStep.require">
                <tiny-textbox id="adjustStep.id" value="adjustStep.value" width="adjustStep.width" validate="adjustStep.validate"></tiny-textbox>
            </tiny-item>
            <tiny-item>
                <div class="fm-btn-top-small">
                    <tiny-button id="okBtn.id" text="okBtn.text" click="okBtn.click()" class="major-btn"></tiny-button>
                    <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
                </div>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>

<script>
require(['app/business/application/controllers/appInstance/applySGModule'],
    function(applySGModule) {
        var dep = ['ng', 'wcc', applySGModule.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $("#app-instance-apply-sg"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($("#app-instance-apply-sg"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>