<div class="row-fluid" id="create-Monitor-window" ng-controller="createCtrl">
    <tiny-formfield>
        <tiny-item label="info.protocol.label" require="info.protocol.require">
            <tiny-select id="info.protocol.id" values="info.protocol.value" width="info.protocol.width" change="info.protocol.change()"></tiny-select>
            <span popover="{{info.protocol.tooltip}}" popover-trigger="mouseenter" popover-placement="bottom" class="small-icon small-icon-tips"></span>
        </tiny-item>
        <tiny-item label="info.servicePort.label" require="info.servicePort.require">
            <tiny-textbox id="info.servicePort.id" value="info.servicePort.value" width="info.servicePort.width" tooltip="info.servicePort.tooltip" extend-function="info.servicePort.extendFunction" validate="info.servicePort.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="info.backendProtocol.label" require="info.backendProtocol.require">
            <tiny-select id="info.backendProtocol.id" values="info.backendProtocol.value" change="info.backendProtocol.change()" width="info.backendProtocol.width"></tiny-select>
            <span popover="{{info.backendProtocol.tooltip}}" popover-trigger="mouseenter" class="small-icon small-icon-tips"></span>
        </tiny-item>
        <tiny-item label="info.backendPort.label" require="info.backendPort.require">
            <tiny-textbox id="info.backendPort.id" value="info.backendPort.value" tooltip="info.backendPort.tooltip" width="info.backendPort.width" validate="info.backendPort.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="info.checkPath.label" require="info.checkPath.require" display="showHealthCheck && showCheckPath">
            <tiny-textbox id="info.checkPath.id" value="info.checkPath.value" tooltip="info.checkPath.tooltip" width="info.checkPath.width" validate="info.checkPath.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="info.timeout.label" require="info.timeout.require" display="showHealthCheck">
            <tiny-textbox id="info.timeout.id" value="info.timeout.value" tooltip="info.timeout.tooltip" width="info.timeout.width" validate="info.timeout.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="info.checkInterval.label" require="info.checkInterval.require" display="showHealthCheck">
            <tiny-textbox id="info.checkInterval.id" value="info.checkInterval.value" tooltip="info.checkInterval.tooltip" width="info.checkInterval.width" validate="info.checkInterval.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="info.healthyThreshold.label" require="info.healthyThreshold.require" display="showHealthCheck">
            <tiny-textbox id="info.healthyThreshold.id" value="info.healthyThreshold.value" tooltip="info.healthyThreshold.tooltip" width="info.healthyThreshold.width" validate="info.healthyThreshold.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="info.unhealthyThreshold.label" require="info.unhealthyThreshold.require" display="showHealthCheck">
            <tiny-textbox id="info.unhealthyThreshold.id" value="info.unhealthyThreshold.value" tooltip="info.unhealthyThreshold.tooltip" width="info.unhealthyThreshold.width" validate="info.unhealthyThreshold.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="info.name.label" require="info.name.require" display="showCheckCer">
            <tiny-textbox id="info.name.id" value="info.name.value" width="info.name.width" validate="info.name.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="info.privateKey.label" require="info.privateKey.require" display="showCheckCer">
            <tiny-textbox id="info.privateKey.id" value="info.privateKey.value" height="info.privateKey.height" type="info.privateKey.type" width="info.privateKey.width" validate="info.privateKey.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="info.publicKey.label" require="info.publicKey.require" display="showCheckCer">
            <tiny-textbox id="info.publicKey.id" value="info.publicKey.value" height="info.publicKey.height" type="info.publicKey.type" width="info.publicKey.width" validate="info.publicKey.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="info.password.label" require="info.password.require" display="showCheckCer">
            <tiny-textbox id="info.password.id" value="info.password.value" type="info.password.type" width="info.password.width" validate="info.password.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button id="info.okBtn.id" text="info.okBtn.text" click="info.okBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="text/javascript">
require(["app/business/network/controllers/vlb/create/createMonitorWindowModule"], function(createMonitorWindowModule) {
    var dep = ['ng', createMonitorWindowModule.name];
    dep.unshift(["$provide",
        function($provide) {
            $provide.value("$rootElement", $("#create-Monitor-window"));
        }
    ]);
    var $injector = angular.injector(dep);
    $injector.invoke(function($compile, $rootScope) {
        $compile($("#create-Monitor-window"))($rootScope);
        $rootScope.$digest();
    });
})
</script>