<div class="create-page-distance">
    <div ng-show="service.httpBackPorts.length>0">
        <div class="bottom10">HTTP:</div>
        <tiny-table id="info.httpVMTable.id" data="service.httpBackPorts" columns="info.httpVMTable.columns" enable-pagination="info.httpVMTable.enablePagination" render-row="info.httpVMTable.renderRow"></tiny-table>
    </div>
    <div ng-show="service.httpsBackPorts.length>0">
        <div class="bottom10">HTTPS:</div>
        <tiny-table id="info.httpsVMTable.id" data="service.httpsBackPorts" columns="info.httpsVMTable.columns" enable-pagination="info.httpsVMTable.enablePagination" render-row="info.httpsVMTable.renderRow"></tiny-table>
    </div>
    <div ng-show="service.tcpBackPorts.length>0">
        <div class="bottom10">TCP:</div>
        <tiny-table id="info.tcpVMTable.id" data="service.tcpBackPorts" columns="info.tcpVMTable.columns" enable-pagination="info.tcpVMTable.enablePagination" render-row="info.tcpVMTable.renderRow"></tiny-table>
    </div>
    <div class="fm-btn-top-large">
        <tiny-button id="info.preBtn.id" text="info.preBtn.text" click="info.preBtn.click()"></tiny-button>
        <tiny-button id="info.nextBtn.id" text="info.nextBtn.text" click="info.nextBtn.click()" class="major-btn"></tiny-button>
        <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
    </div>
</div>
