<div class="row-fluid alert-tip-first" id="config-healthcheck-window" ng-controller="configHealthCheckCtrl">
    <tiny-formfield>
        <tiny-item label="info.checkPath.label" require="info.checkPath.require" display="showCheckPath">
            <tiny-textbox id="info.checkPath.id" value="info.checkPath.value" tooltip="info.checkPath.tooltip" width="info.checkPath.width" validate="info.checkPath.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="info.timeout.label" require="info.timeout.require">
            <tiny-textbox id="info.timeout.id" value="info.timeout.value" tooltip="info.timeout.tooltip" width="info.timeout.width" validate="info.timeout.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="info.checkInterval.label" require="info.checkInterval.require">
            <tiny-textbox id="info.checkInterval.id" value="info.checkInterval.value" tooltip="info.checkInterval.tooltip" width="info.checkInterval.width" validate="info.checkInterval.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="info.healthyThreshold.label" require="info.healthyThreshold.require">
            <tiny-textbox id="info.healthyThreshold.id" value="info.healthyThreshold.value" tooltip="info.healthyThreshold.tooltip" width="info.healthyThreshold.width" validate="info.healthyThreshold.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="info.unhealthyThreshold.label" require="info.unhealthyThreshold.require">
            <tiny-textbox id="info.unhealthyThreshold.id" value="info.unhealthyThreshold.value" tooltip="info.unhealthyThreshold.tooltip" width="info.unhealthyThreshold.width" validate="info.unhealthyThreshold.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button id="info.okBtn.id" text="info.okBtn.text" click="info.okBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="text/javascript">
require(["app/business/network/controllers/vlb/create/configHealthCheckWindowModule"], function(configHealthCheckWindowModule) {
    var dep = ['ng', configHealthCheckWindowModule.name];
    dep.unshift(["$provide",
        function($provide) {
            $provide.value("$rootElement", $("#config-healthcheck-window"));
        }
    ]);
    var $injector = angular.injector(dep);
    $injector.invoke(function($compile, $rootScope) {
        $compile($("#config-healthcheck-window"))($rootScope);
        $rootScope.$digest();
    });
})
</script>