<div class="row-fluid">
    <div class="tiny-step-boxset clearfix">
        <div class="createpage-legend"><span ng-bind="i18n.lb_term_createVLB_button"></span></div>
        <tiny-step id="step.id" values="step.values" width="step.width" jumpable="step.jumpable"></tiny-step>
    </div>
</div>

<div ng-include="monkey.basic.url" ng-show="monkey.show.basic"></div>
<div ng-include="monkey.addMonitor.url" ng-show="monkey.show.addMonitor"></div>
<div ng-include="monkey.configMonitor.url" ng-show="monkey.show.configMonitor"></div>
<div ng-include="monkey.bindVM.url" ng-show="monkey.show.bindVM"></div>
<div ng-include="monkey.confirm.url" ng-show="monkey.show.confirm"></div>