<div class="network_create_dnat" ng-controller="network.dnat.create.ctrl">
    <tiny-formfield>
        <tiny-item label="dnat.type.label" require="dnat.type.require">
            <tiny-radiogroup id="dnat.type.id" values="dnat.type.values" change="setValue()"></tiny-radiogroup>
        </tiny-item>
    </tiny-formfield>

    <div id="createDnatByVm" ng-show="selDnatType=='byVm'">
        <div class="clearfix bottom10">
            <div class="pull-right">
            <span style="display: inline-block; vertical-align: middle;">
                <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width" suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength" suggest="searchBox.suggest" search="searchBox.search">
                </tiny-searchbox>
            </span>
                <a class="btn-link">
                    <div ng-click="vmRefresh.click()" id="vmRefresh.id" title="{{i18n.common_term_fresh_button}}" class="small-icon small-icon-refresh"></div>
                </a>
            </div>
        </div>
        <div class="clearfix bottom20">
            <tiny-table id="vmDnatListTable.id" data="vmDnatListTable.data" columns="vmDnatListTable.columns" pagination-style="vmDnatListTable.paginationStyle" length-change="vmDnatListTable.lengthChange" length-menu="vmDnatListTable.lengthMenu" display-length="vmDnatListTable.displayLength"
                        enable-filter="vmDnatListTable.enableFilter" enable-pagination="vmDnatListTable.enablePagination" show-details="vmDnatListTable.showDetails" callback="vmDnatListTable.callback" change-select="vmDnatListTable.changeSelect" render-row="vmDnatListTable.renderRow"
                        columns-visibility="false" total-records="vmDnatListTable.totalRecords" columns-draggable="true">
            </tiny-table>
        </div>
    </div>
    <div id="createDnatByIp" ng-show="selDnatType!='byVm'" class="clearfix bottom20">
        <tiny-table id="ipDnatListTable.id" data="ipDnatListTable.data" columns="ipDnatListTable.columns" pagination-style="ipDnatListTable.paginationStyle" length-change="ipDnatListTable.lengthChange" length-menu="ipDnatListTable.lengthMenu" display-length="ipDnatListTable.displayLength"
        enable-filter="ipDnatListTable.enableFilter" show-details="ipDnatListTable.showDetails" render-row="ipDnatListTable.renderRow" columns-visibility="false" columns-draggable="true">
        </tiny-table>
    </div>

    <div ng-if="selDnatType=='byVm'">
        <tiny-formfield>
            <tiny-item label="dnat.network.label" require="dnat.network.require">
                <tiny-select id="dnat.network.id" values="dnat.network.values" width="dnat.network.width" class="margin-right-beautifier" default-label="dnat.network.dftLabel" change="dnat.network.change()">
                </tiny-select>
            </tiny-item>
            <tiny-item label="dnat.protocol.label" require="dnat.protocol.require">
                <tiny-select id="dnat.protocol.id" values="dnat.protocol.values" width="dnat.protocol.width" class="margin-right-beautifier" default-label="dnat.protocol.dftLabel" change="dnat.protocol.change()">
                </tiny-select>
            </tiny-item>
            <tiny-item label="dnat.publicIP.label" require="dnat.publicIP.require">
                <tiny-select id="dnat.publicIP.id" values="dnat.publicIP.values" height="dnat.publicIP.height" width="dnat.publicIP.width" class="margin-right-beautifier" default-label="dnat.publicIP.dftLabel" change="dnat.protocol.change()">
                </tiny-select>
            </tiny-item>
            <tiny-item label="dnat.port.label" require="dnat.port.require">
                <tiny-textbox id="dnat.port.id" value="dnat.port.value" validate='dnat.port.validate'></tiny-textbox>
            </tiny-item>
            <tiny-item label="dnat.publicPort.label" require="dnat.publicPort.require">
                <tiny-textbox id="dnat.publicPort.id" value="dnat.publicPort.value" validate='dnat.publicPort.validate'></tiny-textbox>
            </tiny-item>
        </tiny-formfield>
        <div class="fm-btn-top-small">
            <tiny-button id="createOkBtn.id" icons-class="icon-plus" text="createOkBtn.text" click="createOkBtn.click()" disable="selVmData==null" class="major-btn"></tiny-button>
            <tiny-button id="createCancelBtn.id" icons-class="icon-plus" text="createCancelBtn.text" click="createCancelBtn.click()"></tiny-button>
        </div>
    </div>

    <div ng-if="selDnatType!='byVm'">
        <tiny-formfield>
            <tiny-item label="dnat.protocol.label" require="dnat.protocol.require">
                <tiny-select id="dnat.protocol.id" values="dnat.protocol.values" width="dnat.protocol.width" class="margin-right-beautifier" default-label="dnat.protocol.dftLabel" change="dnat.protocol.change()">
                </tiny-select>
            </tiny-item>
            <tiny-item label="dnat.publicIP.label" require="dnat.publicIP.require">
                <tiny-select id="dnat.publicIP.id" values="dnat.publicIP.values" height="dnat.publicIP.height" width="dnat.publicIP.width" height="dnat.publicIP.height" class="margin-right-beautifier" default-label="dnat.publicIP.dftLabel" change="dnat.protocol.change()">
                </tiny-select>
            </tiny-item>
            <tiny-item label="dnat.port.label" require="dnat.port.require">
                <tiny-textbox id="dnat.port.id" value="dnat.port.value" validate='dnat.port.validate'></tiny-textbox>
            </tiny-item>
            <tiny-item label="dnat.publicPort.label" require="dnat.publicPort.require">
                <tiny-textbox id="dnat.publicPort.id" value="dnat.publicPort.value" validate='dnat.publicPort.validate'></tiny-textbox>
            </tiny-item>
        </tiny-formfield>
        <div class="fm-btn-top-small">
            <tiny-button id="createOkBtn.id" icons-class="icon-plus" text="createOkBtn.text" click="createOkBtn.click()" disable="selPrivateIpData==null" class="major-btn"></tiny-button>
            <tiny-button id="createCancelBtn.id" icons-class="icon-plus" text="createCancelBtn.text" click="createCancelBtn.click()"></tiny-button>
        </div>
    </div>
</div>

<script type="application/javascript">
require(['app/business/network/controllers/createDnat'],
    function(createDnat) {
        var curView = undefined;
        $(".network_create_dnat").each(function() {
            if ($(this).attr("id") === undefined) {
                curView = $(this);
            }
        });
        curView.attr("id", new Date().getMilliseconds());

        var dep = ['ng', 'wcc', createDnat.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $(".network_create_dnat"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($(".network_create_dnat"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>
