<div id="modify-quota-window" ng-controller="modifyVpcQuotaCtrl">
    <div class="margin-top-beautifier">
        <tiny-formfield>
            <tiny-item label="info.vms.label" require="info.vms.require">
                <tiny-textbox id="info.vms.id" value="info.vms.value" width="info.vms.width" tooltip="info.vms.tooltip" tip-width="info.vms.tipWidth" tip-position="info.vms.tipPosition"  validate="info.vms.validate" extend-function="info.vms.extendFunction"></tiny-textbox>
            </tiny-item>
            <tiny-item label="info.cpu.label" require="info.cpu.require">
                <tiny-textbox id="info.cpu.id" value="info.cpu.value" width="info.cpu.width" tooltip="info.cpu.tooltip" tip-width="info.cpu.tipWidth" validate="info.cpu.validate" extend-function="info.cpu.extendFunction"></tiny-textbox>
            </tiny-item>
            <tiny-item label="info.memory.label" require="info.memory.require">
                <tiny-textbox id="info.memory.id" value="info.memory.value" width="info.memory.width" tooltip="info.memory.tooltip" tip-width="info.memory.tipWidth" validate="info.memory.validate" extend-function="info.memory.extendFunction"></tiny-textbox>
            </tiny-item>
            <tiny-item label="info.storage.label" require="info.storage.require">
                <tiny-textbox id="info.storage.id" value="info.storage.value" width="info.storage.width" tooltip="info.storage.tooltip" tip-width="info.storage.tipWidth" validate="info.storage.validate" extend-function="info.storage.extendFunction"></tiny-textbox>
            </tiny-item>
            <tiny-item label="info.nets.label" require="info.nets.require">
                <tiny-textbox id="info.nets.id" value="info.nets.value" width="info.nets.width" tooltip="info.nets.tooltip" validate="info.nets.validate" extend-function="info.nets.extendFunction"></tiny-textbox>
            </tiny-item>
            <tiny-item label="info.eip.label" require="info.eip.require" display="!vmwareICT">
                <tiny-textbox id="info.eip.id" value="info.eip.value" width="info.eip.width" tooltip="info.eip.tooltip" validate="info.eip.validate" extend-function="info.eip.extendFunction"></tiny-textbox>
            </tiny-item>
            <tiny-item label="info.sg.label" require="info.sg.require" display="!vmwareICT">
                <tiny-textbox id="info.sg.id" value="info.sg.value" width="info.sg.width" tooltip="info.sg.tooltip" validate="info.sg.validate" extend-function="info.sg.extendFunction"></tiny-textbox>
            </tiny-item>
            <tiny-item label="">
                <div class="create-btn-margin">
                    <tiny-button id="info.saveBtn.id" text="info.saveBtn.text" click="info.saveBtn.click()" class="major-btn"></tiny-button>
                    <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
                </div>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>
<style type="text/css">
    div.ui-dialog .window_dialog_content{
        padding-top: 2px
    }
    #modify-quota-window>div {
        margin:18px 0 0 0;
    }
</style>
<script type="text/javascript">
require(["app/business/network/controllers/modifyVpcQuotaCtrl"], function(modifyVpcQuotaCtrl) {
    var dep = ['ng', modifyVpcQuotaCtrl.name];
    dep.unshift(["$provide",
        function($provide) {
            $provide.value("$rootElement", $("#modify-quota-window"));
        }
    ]);
    var $injector = angular.injector(dep);
    $injector.invoke(function($compile, $rootScope) {
        $compile($("#modify-quota-window"))($rootScope);
        $rootScope.$digest();
    });
})
</script>