<fm-help help="help.helpKey" show="help.show" i18n="help.i18n"></fm-help>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li>
                <ul class="breadcrumb">
                    <li><a ui-sref="network.manager.myVPClist" ng-bind="i18n.vpc_term_myVPC_label"></a> &gt; </li>
                    <li><a ui-sref="network.vpcmanager.summary" ng-bind="vpcName"></a> &gt; </li>
                    <li>{{i18n.vpc_term_net_label}}</li>
                    <li class="divider"></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="clearfix bottom10" ng-show="!vpcTypeShared && hasNetworkOperateRight">
            <div class="fl">
                <tiny-button id="createBtn.id" text="createBtn.text" click="createBtn.click()" class="major-btn"></tiny-button>
            </div>
            <div class="pull-right">
                <a class="btn-link">
                    <div ng-click="refresh.click()" class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div title="{{i18n.common_term_help_label}}" ng-click="help.click()" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div>
            <tiny-table id="networkTable.id" data="networkTable.data" columns="networkTable.columns" enable-pagination="networkTable.enablePagination" pagination-style="networkTable.paginationStyle" length-change="networkTable.lengthChange" display-length="networkTable.displayLength"
            enable-filter="networkTable.enableFilter" total-records="networkTable.totalRecords" length-menu="networkTable.lengthMenu" render-row="networkTable.renderRow"
            show-details="networkTable.showDetails" callback="networkTable.callback" change-select="networkTable.changeSelect" columns-draggable="networkTable.columnsDraggable"></tiny-table>
        </div>
    </div>
</div>
