<div class="row-fluid" id="open-snat-window" ng-controller="openSnatWindowCtrl">
    <tiny-formfield>
        <tiny-item label="info.choice.label" require="info.choice.require">
            <tiny-select id="info.choice.id" values="info.choice.values" width="info.choice.width" height="info.choice.height" validate='info.choice.validate'>
            </tiny-select>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button id="info.okBtn.id" text="info.okBtn.text" click="info.okBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="text/javascript">
    require(["app/business/network/controllers/openSnatModule"], function(operatePrivateIpModule) {
        var dep = ['ng', operatePrivateIpModule.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $("#open-snat-window"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($("#open-snat-window"))($rootScope);
            $rootScope.$digest();
        });
    })
</script>