<div class="container-fluid">
    <div>
        <my-container></my-container>
    </div>
</div>
<script type="application/javascript">
require(['app/business/network/controllers/vpn/link/createLinkModule'],
    function(createNetworkModule) {
        var dep = ['ng', 'wcc', createNetworkModule.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $("#createLinkModule"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($("#createLinkModule"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>