<div>
    <div id="createVmtBaseInfo"  class="create-page-distance">
        <tiny-formfield>
            <tiny-item label="name.label" require="name.require">
                <tiny-textbox id="name.id" value="service.model.name" validate="name.validate" focused="name.focused"
                              width="name.width" extend-function="name.extendFunction" tooltip="name.tooltip"></tiny-textbox>
            </tiny-item>
            <tiny-item label="picture.label" require="picture.require">
                <div>
                    <input style="display: none" ng-model="service.model.picture"/>
                    <img ng-src='{{ service.model.picture }}'
                         alt='../theme/default/images/edit.png'
                         class="imgSize"/>

                    <div style="display: inline-block;padding-left: 3px;" class="dropdown">
                        <a class="dropdown-toggle" id="dLabel" data-toggle="dropdown"
                           ng-click="picture.click()"><span ng-bind="i18n.template_term_changeIcon_button"></span></a>
                        <ul class="dropdown-menu imgBox" role="menu" aria-labelledby="dLabel">
                            <li class="imgItem" ng-repeat="img in picture.imgs">
                                <img ng-src="{{ img.src }}"
                                     ng-click="img.click()"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </tiny-item>

            <tiny-item label="hypervisor.label" require="hypervisor.require">
                <tiny-select id="hypervisor.id" values="hypervisor.values" width="hypervisor.width" change="hypervisor.change()"></tiny-select>
            </tiny-item>

            <tiny-item label="clusterTable.label" require="clusterTable.require">
                <div style="width: 460px;">
                    <!-- 自定义表格 -->
                    <table class="complexTable">
                        <tr>
                            <th style="width: 30px;"></th>
                            <th style="width: 140px;">{{ i18n.common_term_name_label }}</th>
                            <th style="width: 140px;">{{ i18n.common_term_type_label }}</th>
                            <th style="width: 140px;">{{ i18n.common_term_desc_label }}</th>
                        </tr>
                        <tbody>
                        <tr ng-if="clusterTable.length == 0" class="complexTable-empty-tr">
                            <td valign="top" colspan="3">No data available in table</td>
                        </tr>
                        <tr class="complexTable-tr" ng-repeat="tr in clusterTable.data">
                            <td>
                                <input type="radio" ng-model="service.model.cluster" name="selectCluster" ng-value="tr" value="tr"
                                       ng-change="clusterTable.change()" style="width: 30px;" easy-radio radio-model="{{ service.model.cluster }}">
                            </td>
                            <td><span ng-bind="tr.name"></span></td>
                            <td><span ng-bind="tr.type"></span></td>
                            <td><span ng-bind="tr.description"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </tiny-item>

            <tiny-item label="host.label" require="host.require" display="hypervisorType == 'FusionCompute'">
                <tiny-select id="host.id" values="host.values" width="host.width"></tiny-select>
            </tiny-item>
            <tiny-item label="type.label" require="type.require">
                <tiny-select id="type.id" values="type.values" width="type.width"></tiny-select>
            </tiny-item>

            <tiny-item label="description.label" require="description.require">
                <tiny-textbox id="description.id" value="service.model.description"
                              width="description.width" height="description.height" type="description.type"
                              validate="description.validate"
                              error-msg="description.errorMsg">
                </tiny-textbox>
            </tiny-item>

            <!-- 操作按钮 -->
            <tiny-item label="buttonGroup.label" require="buttonGroup.require">
                <div class="margin-top-beautifier">
                    <tiny-button class="major-btn" id="nextBtn.id" disable="nextBtn.disabled" icons-class="nextBtn.iconsClass" text="nextBtn.text"
                                 tooltip="nextBtn.tip" click="nextBtn.next()"></tiny-button>
                    <tiny-button id="cancelBtn.id" disable="cancelBtn.disabled" icons-class="cancelBtn.iconsClass"
                                 text="cancelBtn.text"
                                 tooltip="cancelBtn.tip" click="cancelBtn.cancel()"></tiny-button>
                </div>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>

<style>
    .imgBox {
        width: 310px;
    }

    .imgItem {
        padding-left: 10px;
        padding-right: 20px;
        float: left;
    }

    .imgSize {width: 20px !important;height: 20px !important;}
</style>
