<div id="createVmTemplate" class="container-fluid">
    <div class="tiny-step-boxset clearfix">
        <div class="createpage-legend"><span ng-bind="i18n.template_term_createVMtemplate_button"></span></div>
        <tiny-step id="service.step.id" values="service.step.values" width="service.step.width" jumpable="service.step.jumpable"></tiny-step>
    </div>
    <div>
        <div ng-show="service.show == 'baseInfo'">
            <div ui-view="baseInfo"></div>
        </div>
        <div ng-show="service.show == 'specInfo'">
            <div ui-view="specInfo"></div>
        </div>
        <div ng-show="service.show == 'createVmt'">
            <div ui-view="createVmt"></div>
        </div>
        <div ng-show="service.show == 'installSoftware'">
            <div ui-view="installSoftware"></div>
        </div>
    </div>
</div>
<style>
    .navigation {
        margin-top: 70px
    }
</style>
<script type="text/javascript">
    $(function () {
        var height = $(document).height() - 74;
        $("#createVmTemplate").attr("style", "min-height:" + height + "px");
        $(window).resize(function () {
            var height = $(document).height() - 74;
            $("#createVmTemplate").attr("style", "min-height:" + height + "px");
        });
    });
</script>