<div id="vmTemplateSelectISOWindow" ng-controller="resources.template.selectISO.ctrl">
    <!--刷新、列选择、帮助-->
    <div class="clearfix bottom10">
    <div class="pull-right">
        <tiny-select id="searchOSType.id" values="searchOSType.values" width="searchOSType.width"
                     class="margin-right-beautifier" change="searchOSType.change()">
        </tiny-select>
        <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
           <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width"
                           suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength"
                           suggest="searchBox.suggest" search="searchBox.search">
           </tiny-searchbox>
         </span>
        <a class="btn-link">
            <div ng-click="refreshBtn.click()" id="refreshBtn.id" title="{{ i18n.common_term_fresh_button }}" class="small-icon small-icon-refresh"></div>
        </a>
    </div>
    </div>
    <div class="clearfix">
        <tiny-table id="isoTable.id" caption="isoTable.caption" data="isoTable.data"
                    columns="isoTable.columns"
                    enable-pagination="isoTable.enablePagination"
                    pagination-style="isoTable.paginationStyle" length-change="isoTable.lengthChange"
                    length-menu="isoTable.lengthMenu" display-length="isoTable.displayLength"
                    enable-filter="isoTable.enableFilter"
                    cur-page="isoTable.curPage" total-records="isoTable.totalRecords"
                    hide-total-records="isoTable.hideTotalRecords"
                    callback="isoTable.callback" render-row="isoTable.renderRow"
                    show-details="isoTable.showDetails"
                    columns-draggable="isoTable.columnsDraggable"></tiny-table>
    </div>
    <div class="fm-btn-top-large">
        <tiny-button class="major-btn" id="okBtn.id" text="okBtn.text"
                     tooltip="okBtn.tooltip" click="okBtn.click()"></tiny-button>
        <tiny-button id="cancelBtn.id" text="cancelBtn.text"
                     tooltip="cancelBtn.tooltip" click="cancelBtn.click()"></tiny-button>
    </div>
</div>
<script>
    require(['jquery',
        'app/business/resources/controllers/templateSpec/template/vmTemplate/create/selectISOCtrl'],
            function ($, selectISOCtrl) {
                var dep = ['ng', 'wcc', selectISOCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#vmTemplateSelectISOWindow"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile) {
                    var scope = $("#vmTemplateSelectISOWindow").scope();
                    $compile($("#vmTemplateSelectISOWindow"))(scope);
                    scope.$digest();
                });
            });
</script>