<div class="vmTemplate-selectVmSpec" ng-controller="resources.vmTemplate.vmSpecList.ctrl">
    <div class="clearfix bottom10">
        <!--刷新、列选择、帮助-->
        <div class="pull-right">
        <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
           <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width"
                           suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength"
                           suggest="searchBox.suggest" search="searchBox.search">
           </tiny-searchbox>
         </span>
            <a class="btn-link">
                <div ng-click="refresh.refresh()" id="refresh.id" title="{{ i18n.common_term_fresh_button }}" class="small-icon small-icon-refresh"></div>
            </a>
        </div>
    </div>
    <div class="clearfix">
        <tiny-table id="vmSpecTable.id" caption="vmSpecTable.caption" data="vmSpecTable.data"
                    columns="vmSpecTable.columns"
                    enable-pagination="vmSpecTable.enablePagination"
                    pagination-style="vmSpecTable.paginationStyle" length-change="vmSpecTable.lengthChange"
                    length-menu="vmSpecTable.lengthMenu" display-length="vmSpecTable.displayLength"
                    enable-filter="vmSpecTable.enableFilter"
                    cur-page="vmSpecTable.curPage" total-records="vmSpecTable.totalRecords"
                    hide-total-records="vmSpecTable.hideTotalRecords"
                    callback="vmSpecTable.callback" render-row="vmSpecTable.renderRow"
                    show-details="vmSpecTable.showDetails"
                    columns-draggable="vmSpecTable.columnsDraggable"></tiny-table>
    </div>
    <div class="fm-btn-top-large">
        <tiny-button class="major-btn" id="okBtn.id" text="okBtn.text"
                     tooltip="okBtn.tooltip" click="okBtn.click()"></tiny-button>
        <tiny-button id="cancelBtn.id" text="cancelBtn.text"
                     tooltip="cancelBtn.tooltip" click="cancelBtn.click()"></tiny-button>
    </div>
</div>
<script type="application/javascript">
    require(['app/business/resources/controllers/templateSpec/template/vmTemplate/create/selectVmSpecCtrl'],
            function (selectVmSpecCtrl) {
                var dep = ['ng', 'wcc', selectVmSpecCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $(".vmTemplate-selectVmSpec"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile) {
                    var scope = $(".vmTemplate-selectVmSpec").scope();
                    $compile($(".vmTemplate-selectVmSpec"))(scope);
                    scope.$digest();
                });
            });
</script>