<div id="templateLayoutDiv">
    <div class="tiny-layout-container">
        <div class="tiny-layout-west">
            <ul>
                <div class="tiny-layout-title">模板</div>
                <li>
                    <a ui-sref="resources.template.appTemplate"
                       ng-class="{ 'tiny-layout-a-current': $state.includes('resources.template.appTemplate')}">应用模板</a>
                </li>
                <li>
                    <a ui-sref="resources.template.vmTemplate"
                       ng-class="{ 'tiny-layout-a-current': $state.includes('resources.template.vmTemplate')}">虚拟机模板</a>
                </li>
                <li>
                    <a ui-sref="resources.template.software"
                       ng-class="{ 'tiny-layout-a-current': $state.includes('resources.template.software')}">软件包</a>
                </li>
                <li>
                    <a ui-sref="resources.template.iso"
                       ng-class="{ 'tiny-layout-a-current': $state.includes('resources.template.iso')}">ISO</a>
                </li>
            </ul>
        </div>
        <div class="tiny-layout-center">
            <div ui-view></div>
        </div>
                
    </div>
</div>
