<div ng-controller="basicCtrl" id="add-package-basic-info">
    <div class="create-page-distance">
        <div class="row-fluid">
            <tiny-formfield>
                <tiny-item label="info.name.label" require="info.name.require">
                    <tiny-textbox id="info.name.id" value="service.name" width="info.name.width" validate="info.name.validate" tooltip="info.name.tips" extend-function="info.name.extendFunction" disable="info.name.disabled"></tiny-textbox>
                </tiny-item>
                <tiny-item label="info.packageFile.label" require="info.packageFile.require">
                    <div ng-if="!info.packageFile.display">
                        <tiny-textbox id="info.packageFile.id" value="service.packageFile" disable="info.packageFile.disabled" readonly="info.packageFile.readonly" validate="info.packageFile.validate" focused="info.packageFile.focused" width="info.packageFile.width"></tiny-textbox>
                    </div>
                    <div ng-if="info.packageFile.display">
                        <div class="file-select" style="width :240px">
                            <div class="file-box" style="width :210px">
                                <input type="text" ng-model="service.packageFile" id="info.packageFile.id" style="width :200px" class="file-input" readonly="true;" ng-required="info.packageFile.inputRequired" ng-disabled="!service.ftpAppletLoaded" />
                            </div>
                            <div class="file-select-button-container" style="cursor: pointer;" ng-click="info.packageFile.select()" ng-disabled="!service.ftpAppletLoaded"></div>
                        </div>

                    </div>
                </tiny-item>
                <tiny-item label="password.label" require="password.require" display="password.display">
                    <tiny-textbox id="password.id" value="model.defaultPassWord" validate="password.validate" type="password.type"
                                  tooltip="i18n.template_software_add_para_psw_mean_tip" width="password.width"></tiny-textbox>
                    <span popover="{{i18n.template_software_add_para_psw_mean_tip}}" popover-trigger="mouseenter" class="small-icon small-icon-tips"></span>
                </tiny-item>
                <tiny-item label="passwordConfirm.label" require="passwordConfirm.require" display="password.display">
                    <tiny-textbox id="passwordConfirm.id" value="model.value" validate="passwordConfirm.validate" type="passwordConfirm.type"
                                  width="passwordConfirm.width" extend-function="passwordConfirm.extendFunction"></tiny-textbox>
                </tiny-item>
                <tiny-item label="info.picture.label" require="info.picture.require">
                    <div>
                        <input style="display: none" ng-model="service.icon" />
                        <img ng-src='{{ service.icon }}' alt='../theme/default/images/edit.png' width='20px' height='20px' />

                        <div style="display: inline-block;padding-left: 3px;" class="dropdown">
                            <a class="dropdown-toggle" id="dLabel" data-toggle="dropdown" ng-click="info.picture.click()">{{i18n.template_term_changeIcon_button}}</a>
                            <ul class="dropdown-menu imgBox" role="menu" aria-labelledby="dLabel">
                                <li class="imgItem" ng-repeat="img in info.picture.imgs">
                                    <img ng-src="{{ img.src }}" ng-click="img.click()" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </tiny-item>
                <tiny-item label="info.OSType.label" require="info.OSType.require">
                    <tiny-select id="info.OSType.id" values="service.OSTypes" width="info.OSType.width" height="info.OSType.height" class="margin-right-beautifier" change="info.OSType.change()">
                    </tiny-select>
                </tiny-item>
                <tiny-item label="info.softwareType.label" require="info.softwareType.require">
                    <tiny-select id="info.softwareType.id" values="service.softwareTypes" width="info.softwareType.width" height="info.softwareType.height" class="margin-right-beautifier"
                    change="info.softwareType.change()">
                    </tiny-select>
                </tiny-item>
                <tiny-item label="info.version.label" require="info.version.require">
                    <tiny-textbox id="info.version.id" value="service.version" width="info.version.width" tooltip="info.version.tips" extend-function="info.version.extendFunction" validate="info.version.validate"></tiny-textbox>
                </tiny-item>
                <tiny-item label="info.desc.label" require="info.desc.require">
                    <tiny-textbox id="info.desc.id" value="service.desc" width="info.desc.width" type="info.desc.type" height="info.desc.height" validate="info.desc.validate" tooltip="info.desc.tips"></tiny-textbox>
                </tiny-item>
                <tiny-item class="fm-btn-top-small">
                    <tiny-button id="info.nextBtn.id" text="info.nextBtn.text" click="info.nextBtn.click()" class="major-btn"></tiny-button>
                    <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
                </tiny-item>
            </tiny-formfield>
        </div>
    </div>
</div>
<style>
.imgBox {
    width: 310px;
}
.imgItem {
    padding-left: 10px;
    padding-right: 20px;
    float: left;
}
a {
    cursor: pointer;
}
</style>