<div>
    <div style="width: 100px; float: left;">AZ配置</div>
    <div style="width: 400px; float: left;">
        <tiny-radiogroup id="azInfo.appType.id" values="azInfo.appType.values" spacing="azInfo.appType.spacing" layout="azInfo.appType.layout" change="azInfo.appType.change()"></tiny-radiogroup>
        </div>
    <div class="horizontal_line" style="clear:both;"></div>
    <div id="azParams">
        <tiny-formfield>
            <tiny-item label="azConfigType.label" require="false">
                <tiny-radiogroup id="azConfigType.id" values="azConfigType.values"
                                 change="azConfigType.change()"></tiny-radiogroup>
            </tiny-item>
            <tiny-item label="azSelectModel.azSelectLabel">
                <div class="clearfix">
                    <div class="fl" style="width:240px">
                        <div class="form-inline">
                            {{azSelectModel.canSelectAzLabel}}
                            <div class="pull-right">
                                <span style="display: inline-block; vertical-align: middle; margin-bottom: 4px;">
                                    <tiny-searchbox id="leftAzSearchBox.id" placeholder="leftAzSearchBox.placeholder"
                                                    width="leftAzSearchBox.width"
                                                    suggest-size="leftAzSearchBox.suggestSize"
                                                    maxlength="leftAzSearchBox.maxLength"
                                                    suggest="leftAzSearchBox.suggest" search="leftAzSearchBox.search">
                                    </tiny-searchbox>
                                </span>
                            </div>
                        </div>
                        <div style="border: 1px #ccc solid;overflow-y:auto;overflow-x:hidden; height: 300px;margin-top: 10px">
                            <div style="margin: 5px;">
                                <div ng-repeat="azLeft in canSelectAz.azList">
                                    <tiny-checkbox id="azLeft.id" text="azLeft.name"
                                                   checked="azLeft.checked"></tiny-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fl" style="width: 100px;display:block; text-align: center; margin-top: 135px;">
                        <div>
                            <img src='../theme/default/images/common_leftbutton.png' ng-click="selectAzLeftBtn.click()">
                        </div>
                        <div>
                            <img src='../theme/default/images/common_rightbutton.png'
                                 ng-click="selectAzRightBtn.click()">
                        </div>
                    </div>
                    <div class="fl" style="width:240px">
                        {{azSelectModel.azSelectedLabel}}
                        <div style="border: 1px #ccc solid;overflow-y:auto;overflow-x:hidden;height: 300px;margin-top: 10px">
                            <div style="padding: 5px;">
                                <div class="clearfix" ng-repeat="azRight in selectedAz.azList">
                                    <div class="fl">
                                        <tiny-checkbox id="azRight.id" text="azRight.name" checked="azRight.checked"
                                                       width="selectedAz.width"></tiny-checkbox>
                                    </div>
                                    <div class="fl margin-left-beautifier" ng-bind="azRight.desc"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tiny-item>
        </tiny-formfield>
    </div>
            <tiny-item>
                <div class="fm-btn-top-large">
                    <tiny-button id="azInfoPreBtn.id" text="azInfoPreBtn.text"
                                 click="azInfoPreBtn.click()"></tiny-button>
                    <tiny-button id="azInfoNextBtn.id" text="azInfoNextBtn.text"
                                 click="azInfoNextBtn.click()" class="major-btn"></tiny-button>
                    <tiny-button id="azInfoCancelBtn.id" text="azInfoCancelBtn.text"
                                 click="azInfoCancelBtn.click()"></tiny-button>
                </div>
            </tiny-item>
</div>