<link href="../theme/default/css/gm/ecs.css" type="text/css" rel="stylesheet" />

<div class="ecs_vm_create container-fluid">
    <div class="tiny-step-boxset clearfix">
        <div class="createpage-legend"><span ng-bind-html="i18n.vm_term_createVM_button"></span></div>
        <tiny-step id="service.step.id" values="service.step.values" width="service.step.width" jumpable="service.step.jumpable"></tiny-step>
    </div>

    <div>

        <div ng-show="service.show == 'selTemp'">
            <div ui-view="selTemp"></div>
        </div>
        <div ng-show="service.show == 'specInfo'">
            <div ui-view="specInfo"></div>
        </div>
        <div ng-show="service.show == 'selNetwork'">
            <div ui-view="selNetwork"></div>
        </div>
        <div ng-show="service.show == 'baseInfo'">
            <div ui-view="baseInfo"></div>
        </div>
        <div ng-show="service.show == 'confirm'">
            <div ui-view="confirm"></div>
        </div>
    </div>
</div>
