<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span>应用模板</span></li>
            <li class="two-lead">
                <p>应用模板是将虚拟机模板、软件包、伸缩组等资源，按照特定的关系有机结合，使用应用模板能够快速部署应用实例。</p>
                <p>系统内置了3种常用业务的应用模板，同时可自行创建新模板，也可导入本地模板，更多模板请登录技术论坛获取。</p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>

    <div class="content-right-box clearfix">
        <tiny-button class="major-btn" id="createBtn.id" text="createBtn.text" tooltip="createBtn.tooltip" click="createBtn.click()"
                     disabled="createBtn.disable"></tiny-button>
        <tiny-button id="importBtn.id" text="importBtn.text" tooltip="importBtn.tooltip" click="importBtn.click()"
                     disabled="importBtn.disable"></tiny-button>

        <div class="pull-right">
            <tiny-filtersel id="visibility.id" values="visibility.values" width="visibility.width"
                         change="visibility.change()"></tiny-filtersel>
            <tiny-filtersel id="status.id" values="status.values" width="status.width"
                         change="status.change()"></tiny-filtersel>

            <span style="display: inline-block;vertical-align: middle;margin-bottom: 4px;">
                <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width"
                                suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength"
                                suggest="searchBox.suggest" search="searchBox.search">
                </tiny-searchbox>
            </span>

            <a class="btn-link">
                <div ng-click="refresh.click()" id="refresh.id" title="{{refresh.title}}" class="small-icon small-icon-refresh"></div>
            </a>
            <a class="btn-link">
                <div title="帮助信息" class="small-icon small-icon-help"></div>
            </a>
        </div>

        <div class="appListUl" id="templateListId">
            <ul class="thumbnails">
                <li ng-repeat="template in templateList" class="span6">
                    <div class="thumbnail">
                        <div class="appEachMargin">
                            <div>
                                <div>
                                    <div class="legend pointer" ng-click="view(template.id)">{{template.name}}<span ng-show="template.status=='Draft'">(未发布)</span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="pull-left"><img ng-src="{{'../theme/default/images/gm/appImage/'+template.picture}}" ng-click="view(template.id)" class="pointer"></div>

                                <div class="pull-left templateRightLayout">
                                    <div>
                                        <tiny-formfield>
                                            <tiny-item label="visibleRange.label"><span>{{template.orgId==1?'系统':'组织'}}</span>
                                            </tiny-item>
                                            <tiny-item label="createTime.label"><span>{{template.createTime}}</span>
                                            </tiny-item>
                                            <tiny-item label="description.label"><label class="textOverflowFont12" title="{{template.description}}">{{template.description}}</label>
                                            </tiny-item>
                                        </tiny-formfield>
                                    </div>
                                    <div class="templateOperateBtns">
                                        <a href="javascript:void(0)" ng-click="publishTemplate(template.id, true)" class="appListBottomA"
                                           ng-show="template.status=='Draft'">发布</a>
                                        <a href="javascript:void(0)" ng-click="modify(template.id)" class="appListBottomA"
                                           ng-show="template.status=='Draft'">修改</a>
                                        <a href="javascript:void(0)" ng-click="publishTemplate(template.id, false)" class="appListBottomA"
                                           ng-show="template.status=='Published'">取消发布</a>
                                        <tiny-menubutton id="template.id" text="template.moreBtn.text"
                                                         content="template.moreBtn.content" type="template.moreBtn.type"
                                                         click-callback="template.moreBtn.clickCallback"></tiny-menubutton>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div>
            <div class="appListFooterPage">
                <tiny-pagination id="appPagination.id" type="appPagination.type1" display="appPagination.display"
                                 hide-total-records="appPagination.hideTotalRecords"
                                 total-records="appPagination.totalRecords" prev-text="appPagination.prevText"
                                 next-text="appPagination.nextText"
                                 hide-display-length="appPagination.hideDisplayLength"
                                 display-length="appPagination.displayLength" length-options="appPagination.options"
                                 cur-page="appPagination.curPage" callback="appPagination.callback"
                                 change-select="appPagination.changeSelect"></tiny-pagination>
            </div>
        </div>
    </div>


</div>