<fm-help help="help.helpKey" show="help.show" i18n="help.i18n"></fm-help>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding pr">
            <li>
                <ul class="breadcrumb">
                    <li><a ui-sref="network.manager.myVPClist" ng-bind="i18n.vpc_term_myVPC_label"></a> &gt; </li>
                    <li><a ui-sref="network.vpcmanager.summary" ng-bind="vpcName"></a> &gt; </li>
                    <li>{{i18n.vpn_term_vpnConnect_label}}</li>
                </ul>
            </li>
            <li class="divider"></li>
        </ul>
    </div>

    <div class="content-right-box">
        <div class="form-inline clearfix">
            <div ng-if="hasLinkOperateRight" class="fl">
                <tiny-button id="createBtn.id" text="createBtn.text" disable="type=='1'" click="createBtn.click()" class="major-btn"></tiny-button>
            </div>
            <!--刷新、帮助-->
            <div class="pull-right">
                <a class="btn-link">
                    <div ng-click="refresh.click()" class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div title="{{i18n.common_term_help_label}}" ng-click="help.click()" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div>
            <tiny-table id="linkTable.id" data="linkTable.data" columns="linkTable.columns" length-menu="linkTable.lengthMenu" enable-pagination="false" render-row="linkTable.renderRow" show-details="linkTable.showDetails" columns-draggable="true"></tiny-table>
        </div>
    </div>
</div>