<fm-help help="help.helpKey" show="help.show" i18n="help.i18n"></fm-help>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span ng-bind="i18n.task_term_taskCenter_label"></span></li>
            <li class="two-lead">
                <p ng-bind-html="i18n.task_view_view_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>

    <div class="content-right-box">
        <div class="bottom10 clearfix">
            <!--刷新、列选择、帮助-->
            <div class="pull-right">
                <tiny-filtersel id="searchStatus.id" values="searchStatus.values" width="searchStatus.width"
                                default-label="searchStatus.dftLabel" change="searchStatus.change()">
                </tiny-filtersel>
                {{i18n.common_term_startTime_label}}：
                <tiny-datetime id="timeIds.searchStartTime"
                               type="time.type"
                               width="time.width"
                               date-format="time.dateFormat"
                               time-format="time.timeFormat"
                               min-date="time.start.minDate"
                               max-date="time.start.maxDate"
                               first-day="time.firstDay"
                               value="time.start.value"
                               on-close="time.start.onClose"
                               ampm="time.ampm"></tiny-datetime>
                -
                <tiny-datetime id="timeIds.searchEndTime"
                               type="time.type"
                               width="time.width"
                               date-format="time.dateFormat"
                               time-format="time.timeFormat"
                               min-date="time.end.minDate"
                               max-date="time.end.maxDate"
                               first-day="time.firstDay"
                               value="time.end.value"
                               on-close="time.end.onClose"
                               ampm="time.ampm"></tiny-datetime>

        <span style="display: inline-block; vertical-align: middle;">
            <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width"
                            suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength"
                            suggest="searchBox.suggest" search="searchBox.search">
            </tiny-searchbox>
         </span>
                <a class="btn-link">
                    <div ng-click="refresh.click()" id="refresh.id" title="{{i18n.common_term_fresh_button}}" class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div title="{{help.tips}}" ng-click="help.click()" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div>
            <tiny-table id="taskTable.id" data="taskTable.data" columns="taskTable.columns"
                        pagination-style="taskTable.paginationStyle" length-menu="taskTable.lengthMenu"
                        display-length="taskTable.displayLength" total-records="taskTable.totalRecords"
                        render-row="taskTable.renderRow"  change-select="taskTable.changeSelect"
                        callback="taskTable.callback" columns-draggable="taskTable.columnsDraggable"
                        show-details="taskTable.showDetails">
            </tiny-table>
        </div>
    </div>
</div>
