<div class="ecs_host_apply_host" ng-controller="ecs.host.apply.ctrl">
    <tiny-formfield>
        <tiny-item label="az.label">
            <tiny-select id="az.id" values="az.values" width="az.width"></tiny-select>
        </tiny-item>

        <tiny-item label="model.label">
            <tiny-select id="model.id" values="model.values" width="model.width"></tiny-select>
        </tiny-item>

        <tiny-item label="cpuNum.label">
            <tiny-select id="cpuNum.id" values="cpuNum.values" width="cpuNum.width"></tiny-select>
        </tiny-item>

        <tiny-item label="memory.label">
            <tiny-select id="memory.id" values="memory.values" width="memory.width"></tiny-select>
        </tiny-item>

        <tiny-item label="os.label">
            <tiny-select id="os.id" values="os.values" width="os.width"></tiny-select>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button id="applyBtn.id" text="applyBtn.text" click="applyBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>

</div>

<script type="application/javascript">
require(['app/business/ecs/controllers/host/applyHost'],
    function(applyHost) {
        var dep = ['ng', 'wcc', applyHost.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $(".ecs_host_apply_host"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($(".ecs_host_apply_host"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>
