<div class="container-fluid" id="bindElasticIPByVMbasic" ng-controller="network.eip.bindElasticIPByVM.ctrl">
    <div class="margin-bottom-beautifier">
        <span ng-bind="vm.name"></span>
        <tiny-textbox id="vmName.id" value="vmName.value" type="vmName.type" class="margin-right-beautifier">
        </tiny-textbox>
        <span ng-bind="vm.ip"></span>
        <tiny-textbox id="vmIP.id" value="vmIP.value" type="vmIP.type" class="margin-right-beautifier">
        </tiny-textbox>
        <tiny-button id="searchBtn.id" text="searchBtn.text" click="searchBtn.click()" class="margin-right-beautifier"></tiny-button>
    </div>
    <tiny-table id="bindVMTable.id" data="bindVMTable.data" columns="bindVMTable.columns " display-length="bindVMTable.displayLength" total-records="bindVMTable.totalRecords" render-row="bindVMTable.renderRow" pagination-style="bindVMTable.paginationStyle"
                length-menu="bindVMTable.lengthMenu" callback="bindVMTable.callback" change-select="bindVMTable.changeSelect" columns-draggable="true">
    </tiny-table>
    <div class="margin-bottom-beautifier" style="position: relative; clear: both; top: 10px">
        <span ng-bind="bindVMNics.label"></span>
        <tiny-select id="bindVMNics.id" values="bindVMNics.values" width="bindVMNics.width" height="bindVMNics.height" default-label="bindVMNics.dftLabel">
        </tiny-select>
    </div>
    <tiny-formfield>
        <tiny-item class="fm-btn-top-large text-center">
            <tiny-button id="okBtn.id" text="okBtn.text" disable="okBtn.disable" click="okBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="text/javascript">
require(["app/business/network/controllers/eip/bindElasticIPByVM"], function(bindElasticIPByVMModule) {
    var dep = ['ng', bindElasticIPByVMModule.name];
    dep.unshift(["$provide",
        function($provide) {
            $provide.value("$rootElement", $("#bindElasticIPByVMbasic"));
        }
    ]);
    var $injector = angular.injector(dep);
    $injector.invoke(function($compile, $rootScope) {
        $compile($("#bindElasticIPByVMbasic"))($rootScope);
        $rootScope.$digest();
    });
})
</script>