<div class="row-fluid" id="modify-ipbw-basic" ng-controller="modifyIpbwCtrl">
    <tiny-formfield>
        <tiny-item label="publicNetIp.label" require="publicNetIp.require">
            <span ng-bind="publicNetIp.value"></span>
        </tiny-item>
        <tiny-item label="ipBandWidthTemplate.label" require="ipBandWidthTemplate.require">
            <div class="margin-bottom-beautifier">
                <span ng-bind="ipBandWidthTemplate.name"></span>
                <tiny-textbox id="ipBandWidthName.id" value="ipBandWidthName.value" type="ipBandWidthName.type" class="margin-right-beautifier">
                </tiny-textbox>
                <tiny-button id="searchBtn.id" text="searchBtn.text" click="searchBtn.click()" class="margin-right-beautifier"></tiny-button>
            </div>
           <div class="clearfix">
               <tiny-table id="ipBandWidthTable.id" data="ipBandWidthTable.data" columns="ipBandWidthTable.columns " display-length="ipBandWidthTable.displayLength" total-records="ipBandWidthTable.totalRecords" render-row="ipBandWidthTable.renderRow" pagination-style="ipBandWidthTable.paginationStyle"
                           length-menu="ipBandWidthTable.lengthMenu" callback="ipBandWidthTable.callback" change-select="ipBandWidthTable.changeSelect">
               </tiny-table>
           </div>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button id="okBtn.id" text="okBtn.text" disable="okBtn.disable" click="okBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="text/javascript">
require(["app/business/network/controllers/eip/modifyIpbw"], function(modifyIpbwModule) {
    var dep = ['ng', modifyIpbwModule.name];
    dep.unshift(["$provide",
        function($provide) {
            $provide.value("$rootElement", $("#modify-ipbw-basic"));
        }
    ]);
    var $injector = angular.injector(dep);
    $injector.invoke(function($compile, $rootScope) {
        $compile($("#modify-ipbw-basic"))($rootScope);
        $rootScope.$digest();
    });
})
</script>