<div id="domainClusterDiv" class="container-fluid">
    <div ng-show="inThisDomain">
        <div class="fm-btn-bottom-small" ng-if="domainId != 'domainParentId'&& hasDomainOperateRight">
            <tiny-button class="major-btn"
                         id="createClusterModel.id"
                         disable="createClusterModel.disable"
                         text="createClusterModel.text"
                         tooltip="createClusterModel.tooltip"
                         icons-class="createClusterModel.iconsClass"
                         click="createClusterModel.create()"></tiny-button>
            <!--刷新、帮助-->
            <div class="pull-right">
            <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
                <tiny-searchbox id="searchBox.id"
                                placeholder="searchBox.placeholder"
                                width="searchBox.width"
                                suggest-size="searchBox.suggestSize"
                                maxlength="searchBox.maxLength"
                                search="searchBox.search">
                </tiny-searchbox>
            </span>
                <a class="btn-link">
                    <div ng-click="refresh.click()" class="small-icon small-icon-refresh" title="{{i18n.common_term_fresh_button}}"></div>
                </a>
            </div>
        </div>
        <tiny-table id="clusterTable.id" caption="clusterTable.caption" data="clusterTable.data"
                    columns="clusterTable.columns"
                    enable-pagination="clusterTable.enablePagination"
                    pagination-style="clusterTable.paginationStyle" length-change="clusterTable.lengthChange"
                    length-menu="clusterTable.lengthMenu" display-length="clusterTable.displayLength"
                    enable-filter="clusterTable.enableFilter"
                    cur-page="clusterTable.curPage" total-records="clusterTable.totalRecords"
                    hide-total-records="clusterTable.hideTotalRecords"
                    callback="clusterTable.callback" render-row="clusterTable.renderRow"
                    show-details="clusterTable.showDetails" change-select="clusterTable.changeSelect"
                    columns-draggable="clusterTable.columnsDraggable"></tiny-table>
    </div>
    <div ng-show="!inThisDomain" ng-bind="i18n.domain_term_userOutDomain_label">
    </div>
</div>
