<fm-help help="'drawer_domain'" show="show.help" i18n="'zh'"></fm-help>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li>
                <span ng-bind="i18n.domain_term_domain_label">{{domain_term_domain_label}}</span>
            </li>
            <li class="two-lead">
                <p ng-bind-html="i18n.domain_domain_view_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="row-fluid bottom10">
            <div class="pull-right">
                <a class="btn-link">
                    <div ng-click="show.help=true" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>

        <div class="row-fluid">
            <div class="outbox-padding span4" style="overflow: auto;">
                <div class="clearfix">
                    <div class="pull-left margin-top-beautifier" ng-show="hasDomainOperateRight">
                        <tiny-button class="major-btn" id="addDomain.id" disable="addDomain.disable"
                                     text="addDomain.text" click="addDomain.click()"></tiny-button>
                        <tiny-button id="deleteDomain.id" disable="deleteDomain.disable" text="deleteDomain.text"
                                     click="deleteDomain.click()"></tiny-button>
                    </div>
                    <div class="pull-right margin-top-beautifier">
                        <a class="btn-link small-icon small-icon-refresh"
                           id="{{refresh.id}}"
                           title="{{refresh.text}}"
                           ng-click="refresh.click()">
                        </a>
                    </div>
                </div>
                <div class="span12 over-flow" style="overflow-y:auto;overflow-x:hidden;height:600px;">
                    <div class="row-fluid" style="margin:5px 0px">
                        <tiny-tree id="domainTree.id" height="domainTree.height" setting="domainTree.setting"
                                   values="domainTree.values"></tiny-tree>
                    </div>
                </div>
            </div>
            <div class="span8 outbox-padding over-flow">
                <div class="legend" ng-bind="domainLegend"></div>
                <div ng-show="false" id="domainId.id" ng-bind="domainId.value">
                    <tiny-textbox id="domainId.id" value="domainId.value"></tiny-textbox>
                </div>
                <div>
                    <tiny-formfield>
                        <tiny-item label="name.label">
                            <div ng-bind="name.value"></div>
                        </tiny-item>
                        <tiny-item label="domainIdField.label" display="domainId != 'domainParentId'">
                            <div ng-bind="domainIdField.value"></div>
                        </tiny-item>
                        <tiny-item label="description.label">
                            <div ng-if="!description.modifying">
                                <span ng-bind="domainDetail.description"></span>
                                <span class="btn-link" ng-if="domainId != 'domainParentId'"
                                      ng-click="description.clickModify()">
                                    <img src="../theme/default/images/gm/edit.gif" ng-if="hasDomainOperateRight">
                                </span>
                            </div>
                            <div ng-if="description.modifying">
                                <tiny-textbox id="description.id" type="description.type" width="description.width"
                                              height="description.height" value="domainDetail.description"
                                              blur="description.blur()" keypressfn="description.keypressfn"
                                              width="150" validate="description.validate"></tiny-textbox>
                            </div>
                        </tiny-item>
                        <tiny-item label="createTime.label" display="domainId != 'domainParentId'">
                            <div ng-bind="createTime.value"></div>
                        </tiny-item>
                    </tiny-formfield>
                </div>
                <div id="myTabs" class="tiny-tabs-container top10">
                    <div class="tiny-tabs-titles">
                        <ul>
                            <li ng-class="{tinyTabActive:$state.includes(plugin.openState)}"
                                ng-repeat="plugin in plugins" ui-sref="{{plugin.openState}}">
                                <a href="#">{{plugin.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="noPadding">
                        <div ui-view></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    require(["tiny-widgets/Tabs"], function (Tabs) {
        var tabs = new Tabs({
            "id": "myTabs",
            "setActiveClass": true
        });
    });
</script>