<div class="container-fluid" id="createPackage">
    <div>
        <my-container></my-container>
    </div>
</div>
<script type="application/javascript">
require(["sprintf",  'tiny-lib/jquery', 'tiny-lib/angular', "language/keyID",'app/business/template/controllers/createPackageModule'],
    function(sprintf, $, angular, keyIDI18n,createScriptModule) {
        var dep = ['ng', 'wcc', createScriptModule.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $("#createPackage"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            keyIDI18n.sprintf = sprintf.sprintf;
            $rootScope.i18n = keyIDI18n;
            $compile($("#createPackage"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>