<div>
    <div class="create-page-distance">
        <div class="clearfix bottom10">
            <div class="pull-right" ng-if="templateId==null">
                <tiny-filtersel id="searchType.id" values="searchType.values" width="searchType.width" change="searchType.change()">
                </tiny-filtersel>
            <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
                <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width" suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength" suggest="searchBox.suggest" search="searchBox.search">
                </tiny-searchbox>
            </span>
            </div>
        </div>

        <div class="clearfix">
            <tiny-table id="info.templateTable.id" data="serviceTemplateTable.data" columns="info.templateTable.columns" enable-pagination="info.templateTable.enablePagination" render-row="info.templateTable.renderRow" pagination-style="info.templateTable.paginationStyle"
            callback="info.templateTable.callback" change-select="info.templateTable.changeSelect" display-length="info.templateTable.displayLength" total-records="info.templateTable.totalRecords" length-menu="info.templateTable.lengthMenu">
            </tiny-table>
        </div>

        <div class="fm-btn-top-large">
            <tiny-button id="info.okBtn.id" text="info.okBtn.text" click="info.okBtn.click()" disable="params.selServiceTemplate==null" class="major-btn"></tiny-button>
            <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
        </div>
    </div>


</div>