<div class="container-fluid">
    <div class="crumbs">
        <ul class="breadcrumb">
            <li>
                <a ui-sref="resources.rpool.zone">{{i18n.resource_term_zones_label}}</a> <span class="divider">&gt;</span>
            </li>
            <li class="active"><a ui-sref="resources.zoneResources.summary.zoneSummary">{{layoutInfo.zoneName}}</a><span class="divider">&gt;</span></li>
            <li class="active">{{i18n.common_term_summary_label}}</li>
            <li class="crumbs_line"></li>
        </ul>
    </div>
    <div class="content-right-box">
    <div class="margin-top-beautifier">
        <div id="zoneSummaryTabs" class="tiny-tabs-container">
            <div class = "tiny-tabs-titles">
                <ul>
                    <li ng-show="plugin.show" ng-class="{tinyTabActive:$state.includes(plugin.openState)}" ng-repeat="plugin in plugins" ui-sref="{{plugin.openState}}">
                        <a href="javascript:void(0)" ng-click="setSelectedTabItem(plugin.name)">{{plugin.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="tiny-tabs-content" style="margin-left: -20px;">
                <div ui-view></div>
            </div>
        </div>
    </div>
    </div>
</div>

<script>
    require(["tiny-widgets/Tabs"], function(Tabs) {
        var tabs = new Tabs({
            "id" : "zoneSummaryTabs",
            "setActiveClass" : true
        });
    });

</script>