<div class="host-addHost" ng-controller="multiPool.poolInfo.host.addCtrl">
    <div id="multiPool_poolInfo_addHost" class="alert-tip-first">
        <tiny-formfield>
            <tiny-item label="azSelector.label" require="azSelector.require">
                <tiny-select id="azSelector.id" values="azSelector.values"
                             width="azSelector.width" validate="azSelector.validate"></tiny-select>
            </tiny-item>
            <tiny-item label="nameTextbox.label" require="nameTextbox.require">
                <tiny-textbox id="nameTextbox.id" value="nameTextbox.name" validate="nameTextbox.validate"
                              width="nameTextbox.width"></tiny-textbox>
            </tiny-item>
            <tiny-item label="modelTextbox.label" require="modelTextbox.require">
                <tiny-textbox id="modelTextbox.id" width="modelTextbox.width" validate="modelTextbox.validate"
                              value="modelTextbox.hostLocation"></tiny-textbox>
            </tiny-item>
            <tiny-item label="hardwareTextbox.label" require="hardwareTextbox.require">
                <tiny-textbox id="hardwareTextbox.id" value="hardwareTextbox.value"
                             width="hardwareTextbox.width" validate="hardwareTextbox.validate"></tiny-textbox>
            </tiny-item>
            <tiny-item label="osTextbox.label" require="osTextbox.require">
                <tiny-textbox id="osTextbox.id" value="osTextbox.value"
                             width="osTextbox.width" validate="osTextbox.validate"></tiny-textbox>
            </tiny-item>
            <tiny-item label="ipTextbox.label" require="ipTextbox.require">
                <tiny-ip id="ipTextbox.id" value="ipTextbox.value" extend-function="ipTextbox.extendFunction"
                              width="ipTextbox.width"  validate="ipTextbox.validate">
                </tiny-ip>
            </tiny-item>
            <tiny-item> 
                <div class="fm-btn-top-smaller">
                    <tiny-button class="major-btn" id="addBtn.id" text="addBtn.text"
                                 tooltip="addBtn.tooltip" click="addBtn.click()"></tiny-button>
                    <tiny-button id="cancelBtn.id" text="cancelBtn.text"
                                 tooltip="cancelBtn.tooltip" click="cancelBtn.click()"></tiny-button>
                </div>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>
<style>
    #resources_rpool_addHost .popover {
        max-width: 500px;
    }
</style>
<script type="application/javascript">
    require(['app/business/multiPool/controllers/poolInfo/host/addHostCtrl'],
            function (addHostCtrl) {
                var dep = ['ng', 'wcc', addHostCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $(".host-addHost"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile($(".host-addHost"))($rootScope);
                    $rootScope.$digest();
                });
            });
</script>