<div class="container-fluid">
    <div class="crumbs">
        <ul class="breadcrumb">
            <li>
                <a ui-sref="serviceMgr.multiPool" ng-bind="i18n.cloud_term_cloudPool_label"></a>
                <span class="divider">&gt;</span>
            </li>
            <li>
                <a ui-sref="service.poolInfo.summary" ng-bind="couldName"></a>
                <span class="divider">&gt;</span>
            </li>
            <li class="active"><span class="divider" ng-bind="i18n.server_term_servers_label"></span></li>
            <li class="crumbs_line"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="fm-btn-bottom-small clearfix">
            <tiny-button id="addButton.id" text="addButton.text" click="addButton.click()" class="major-btn fl"></tiny-button>
            <div class="fr">
                <a class="btn-link">
                    <div ng-click="refresh()" class="small-icon small-icon-refresh"></div>
                </a>
            </div>
            <div class="fr button_mr">
                <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder"
                                search="searchBox.search"></tiny-searchbox>
            </div>
        </div>
        <div>
            <tiny-table id="hostTable.id" data="hostTable.data"
                        pagination-style="hostTable.paginationStyle"
                        columns='hostTable.columns' render-row="hostTable.renderRow"
                        total-records="hostTable.totalRecords" length-change="hostTable.lengthChange"
                        cur-page="hostTable.curPage" display-length="hostTable.displayLength"
                        enable-pagination="hostTable.enablePagination"
                        change-select="hostTable.changeSelect" length-menu="hostTable.lengthMenu"
                        callback="hostTable.callback" columns-visibility="hostTable.columnsVisibility"
                        column-sorting="hostTable.columnSorting"
                        columns-draggable="hostTable.columnsDraggable"></tiny-table>
        </div>
    </div>
</div>