<div fm-help help="'drawer_device_lb'" show="show.help" i18n="'zh'"></div>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span ng-bind="i18n.common_term_lb_label"></span></li>
            <li class="two-lead">
                <p ng-bind-html="i18n.device_lb_view_explan_lb_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="fm-btn-bottom-small clearfix">
            <tiny-button class="major-btn" ng-show="right.hasDeviceOperateRight" id="connectModel.id"
                         text="connectModel.text"
                         click="connectModel.connectSwitch()">
            </tiny-button>
            <div class="pull-right">
                <tiny-filtersel id="zoneFilter.id" values="zoneFilter.values" width="zoneFilter.width"
                                default-label="zoneFilter.dftLabel" change="zoneFilter.change()">
                </tiny-filtersel>
                <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
                <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width"
                                suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength"
                                suggest="searchBox.suggest" search="searchBox.search">
                </tiny-searchbox>
              </span>
                <a class="btn-link">
                    <div ng-click="operate.query()" id="refreshHost" title="{{i18n.common_term_fresh_button}}"
                         class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div ng-click="show.help=true" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div>
            <tiny-table id="tableModel.id" data="tableModel.data"
                        columns="tableModel.columns"
                        enable-pagination="tableModel.enablePagination"
                        pagination-style="tableModel.paginationStyle"
                        enable-filter="tableModel.enableFilter" length-change="tableModel.lengthChange"
                        length-menu="firewallTable.lengthMenu"
                        display-length="tableModel.displayLength"
                        request-config="tableModel.requestConfig"
                        column-sorting="tableModel.columnSorting"
                        columns-visibility="tableModel.columnsVisibility"
                        columns-draggable="tableModel.columnsDraggable"
                        hide-total-records="tableModel.hideTotalRecords"
                        total-records="tableModel.data.length" render-row="tableModel.renderRow"
                        show-details="tableModel.showDetails"></tiny-table>
        </div>
    </div>
</div>