<div class="container-fluid">
<div class="crumbs">
    <ul class="breadcrumb">
        <li>
            <a ui-sref="resources.device.host">{{i18n.device_term_servers_label}}</a> <span class="divider">&gt;</span>
        </li>
        <li>
            <a ui-sref="resources.hostDetail.summary">{{hostInfo.serverName}}</a> <span class="divider">&gt;</span>
        </li>
        <li class="active"><span class="divider">{{i18n.common_term_hardware_label}}</span></li>
        <li class="crumbs_line"></li>
    </ul>
</div>
<div class="content-right-box">
<div class="row-fluid">
<div class="monitor-tab-left fl enwidth zhwidth">
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <td>{{i18n.common_term_hardware_label}}</td>
            <td>{{i18n.common_term_summary_label}}</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-click="operate.setStatus('power')" ng-show="serverType != '2'">
            <td>{{i18n.common_term_powerSupply_label}}</td>
            <td>{{powerTableModel.data.length || " "}}{{i18n.common_term_entry_label}}</td>
        </tr>
        <tr ng-click="operate.setStatus('fan')" ng-show="serverType != '2'">
            <td>{{i18n.device_term_fan_label}}</td>
            <td>{{fanTableModel.data.length || " "}}{{i18n.common_term_entry_label}}</td>
        </tr>
        <tr ng-click="operate.setStatus('bios')">
            <td>BIOS</td>
            <td>{{biosInfo.serverModel}} / {{biosInfo.serverManufacturer}}</td>
        </tr>
        <tr ng-click="operate.setStatus('cpu')">
            <td>CPU</td>
            <td>{{cpuTableModel.data.length || " "}}{{i18n.common_term_entry_label}}({{biosInfo.hostCpuTotalfreq}}GHz)</td>
        </tr>
        <tr ng-click="operate.setStatus('memo')">
            <td>{{i18n.common_term_memory_label}}</td>
            <td>{{memoTableModel.data.length || " "}}{{i18n.common_term_entry_label}}({{i18n.common_term_total_label}}{{biosInfo.hostMemTotalsize}}GB)</td>
        </tr>
        <tr ng-click="operate.setStatus('phyDisk')" ng-show="openstack == false">
            <td>{{i18n.device_term_diskPhysi_label}}</td>
            <td>{{phyDiskTableModel.data.totalQuality}}{{i18n.common_term_entry_label}}</td>
        </tr>
        <tr ng-click="operate.setStatus('logDisk')" ng-show="openstack == false">
            <td>{{i18n.device_term_logicDisk_label}}</td>
            <td>{{logicalDiskTableModel.data.length || " "}}{{i18n.common_term_entry_label}}({{i18n.common_term_total_label}}{{biosInfo.diskTotal}}GB)</td>
        </tr>
        <tr ng-click="operate.setStatus('logZone')" ng-show="openstack == false">
            <td>{{i18n.device_term_logicSubarea_label}}</td>
            <td>{{logicalZoneTableModel.data.length || " "}}{{i18n.common_term_entry_label}}({{i18n.common_term_total_label}}{{biosInfo.logicDiskTotal}} GB)</td>
        </tr>
        <tr ng-click="operate.setStatus('nic')">
            <td>{{i18n.common_term_NIC_label}}</td>
            <td>{{nicTableModelCount}}{{i18n.common_term_entry_label}}</td>
        </tr>
        <tr ng-click="operate.setStatus('networkPort')">
            <td>{{i18n.common_term_NICport_label}}</td>
            <td>{{networkPortTableModel.data.length || " "}}{{i18n.common_term_entry_label}}</td>
        </tr>
        <tr ng-click="operate.setStatus('usb')" ng-show="openstack == false">
            <td>USB</td>
            <td>{{usbTableModel.data.length || " "}}{{i18n.common_term_entry_label}}</td>
        </tr>
        </tbody>
    </table>
    <div class="color2" style="margin: 0px 0px 15px 20px; ">{{i18n.perform_term_monitorInfoNull_msg}}</div>
</div>
<div class="monitor-tab-right fl  enwidth zhwidth" style="padding:0px  20px;">
    <div ng-show="show == 'power'">
        <div class="legend">{{i18n.common_term_powerSupply_label}}</div>
        <div class="bottom10">{{i18n.common_term_quantity_label}}:<span ng-bind=""></span>{{powerTableModel.data.length || " "}}{{i18n.common_term_entry_label}}</div>
        <tiny-table id="powerTableModel.id" data="powerTableModel.data"
                    columns="powerTableModel.columns"
                    enable-pagination="powerTableModel.enablePagination"
                    request-config="powerTableModel.requestConfig"
                    columns-draggable="powerTableModel.columnsDraggable"
                    hide-total-records="powerTableModel.hideTotalRecords"></tiny-table>
    </div>

    <div ng-show="show == 'fan'">
        <span class="legend"> {{i18n.device_term_fan_label}}</span>
        <div  class="bottom10">{{i18n.common_term_quantity_label}}:<span ng-bind=""></span>{{fanTableModel.data.length || " "}}{{i18n.common_term_entry_label}}</div>
        <tiny-table id="fanTableModel.id" data="fanTableModel.data"
                    columns="fanTableModel.columns"
                    enable-pagination="fanTableModel.enablePagination"
                    request-config="fanTableModel.requestConfig"
                    columns-draggable="fanTableModel.columnsDraggable"
                    hide-total-records="fanTableModel.hideTotalRecords"></tiny-table>
    </div>

    <div ng-show="show == 'bios'">
        <span class="legend">BIOS</span>
        <tiny-formfield>
            <tiny-item ng-bind="biosInfo.vendor" label="bios.vendor.label">
            </tiny-item>
            <tiny-item ng-bind="biosInfo.version" label="bios.version.label">
            </tiny-item>
            <tiny-item ng-bind="biosInfo.releaseDate" label="bios.releaseDate.label">
            </tiny-item>
            <tiny-item ng-bind="biosInfo.mbManufacturer" label="bios.mbManufacturer.label">
            </tiny-item>
            <tiny-item ng-bind="biosInfo.mbModel" label="bios.mbModel.label">
            </tiny-item>
            <tiny-item ng-bind="biosInfo.mbVersion" label="bios.mbVersion.label">
            </tiny-item>
            <tiny-item ng-bind="biosInfo.mbSn" label="bios.mbSn.label">
            </tiny-item>
            <tiny-item ng-bind="biosInfo.serverManufacturer" label="bios.serverManufacturer.label">
            </tiny-item>
            <tiny-item ng-bind="biosInfo.serverModel" label="bios.serverModel.label">
            </tiny-item>
            <tiny-item ng-bind="biosInfo.serverVersion" label="bios.serverVersion.label">
            </tiny-item>
            <tiny-item ng-bind="biosInfo.serverSn" label="bios.serverSn.label">
            </tiny-item>
        </tiny-formfield>
    </div>

    <div ng-show="show == 'cpu'">
        <span class="legend">CPU</span>
        <div class="bottom10">{{i18n.common_term_quantity_label}}:<span ng-bind=""></span>{{cpuTableModel.data.length || " "}}{{i18n.common_term_entry_label}}</div>
        <tiny-table id="cpuTableModel.id" data="cpuTableModel.data"
                    columns="cpuTableModel.columns"
                    enable-pagination="cpuTableModel.enablePagination"
                    request-config="cpuTableModel.requestConfig"
                    columns-draggable="cpuTableModel.columnsDraggable"
                    hide-total-records="cpuTableModel.hideTotalRecords"></tiny-table>
    </div>

    <div ng-show="show == 'memo'">
        <span class="legend">{{i18n.common_term_memory_label}}</span>
        <div class="row-fluid bottom10">
            <div class="span6">{{i18n.common_term_capacity_label}}:<span ng-bind=""></span>{{biosInfo.hostMemTotalsize}}GB</span></div>
            <div class="span6">{{i18n.common_term_memorySlotNum_label}}:<span ng-bind=""></span>{{memoTableModel.data.length || " "}}{{i18n.common_term_entry_label}}</div>
        </div>
        <tiny-table id="memoTableModel.id" data="memoTableModel.data"
                    columns="memoTableModel.columns"
                    enable-pagination="memoTableModel.enablePagination"
                    request-config="memoTableModel.requestConfig"
                    columns-draggable="memoTableModel.columnsDraggable"
                    hide-total-records="memoTableModel.hideTotalRecords"></tiny-table>
    </div>

    <div ng-show="show == 'phyDisk'">
        <span class="legend">{{i18n.device_term_diskPhysi_label}}</span>
        <div class="row-fluid">
            <div class="span6">{{i18n.common_term_quantity_label}}:<span ng-bind=""></span>{{phyDiskTableModel.data.totalQuality}}{{i18n.common_term_entry_label}}</div>
        </div>
        <tiny-table id="phyDiskTableModel.id" data="phyDiskTableModel.data"
                    columns="phyDiskTableModel.columns"
                    enable-pagination="phyDiskTableModel.enablePagination"
                    request-config="phyDiskTableModel.requestConfig"
                    columns-draggable="phyDiskTableModel.columnsDraggable"
                    hide-total-records="phyDiskTableModel.hideTotalRecords"></tiny-table>
    </div>

    <div ng-show="show == 'logDisk'">
        <span class="legend">{{i18n.device_term_logicDisk_label}}</span>
        <div class="row-fluid bottom10">
            <div class="span6">{{i18n.common_term_capacity_label}}:{{biosInfo.diskTotal}}GB</span></div>
            <div class="span6">{{i18n.common_term_quantity_label}}:{{logicalDiskTableModel.data.length || " "}}{{i18n.common_term_entry_label}}</div>
        </div>
        <tiny-table id="logicalDiskTableModel.id"
                    data="logicalDiskTableModel.data"
                    columns="logicalDiskTableModel.columns"
                    enable-pagination="logicalDiskTableModel.enablePagination"
                    request-config="logicalDiskTableModel.requestConfig"
                    columns-draggable="logicalDiskTableModel.columnsDraggable"
                    hide-total-records="logicalDiskTableModel.hideTotalRecords"></tiny-table>
    </div>

    <div ng-show="show == 'logZone'">
        <span class="legend">{{i18n.device_term_logicSubarea_label}}</span>
        <div class="bottom10">{{i18n.common_term_quantity_label}}:{{logicalZoneTableModel.data.length|| " "}}{{i18n.common_term_entry_label}}</div>
        <tiny-table id="logicalZoneTableModel.id"
                    data="logicalZoneTableModel.data"
                    columns="logicalZoneTableModel.columns"
                    enable-pagination="logicalZoneTableModel.enablePagination"
                    request-config="logicalZoneTableModel.requestConfig"
                    columns-draggable="logicalZoneTableModel.columnsDraggable"
                    hide-total-records="logicalZoneTableModel.hideTotalRecords"></tiny-table>
    </div>

    <div ng-show="show == 'nic'">
        <span class="legend">{{i18n.common_term_NIC_label}}</span>
        <div class="bottom10">{{i18n.common_term_quantity_label}}:<span ng-bind=""></span>{{nicTableModelCount}}{{i18n.common_term_entry_label}}</div>
        <tiny-table id="nicTableModel.id"
                    data="nicTableModel.data"
                    columns="nicTableModel.columns"
                    enable-pagination="nicTableModel.enablePagination"
                    request-config="nicTableModel.requestConfig"
                    columns-draggable="nicTableModel.columnsDraggable"
                    hide-total-records="nicTableModel.hideTotalRecords"></tiny-table>
    </div>

    <div ng-show="show == 'networkPort'">
        <span class="legend">{{i18n.common_term_NICport_label}}</span>
        <div class="bottom10">{{i18n.common_term_quantity_label}}:<span ng-bind=""></span>{{networkPortTableModel.data.length || " "}}{{i18n.common_term_entry_label}}</div>
        <tiny-table id="networkPortTableModel.id"
                    data="networkPortTableModel.data"
                    columns="networkPortTableModel.columns"
                    enable-pagination="networkPortTableModel.enablePagination"
                    request-config="networkPortTableModel.requestConfig"
                    columns-draggable="networkPortTableModel.columnsDraggable"
                    hide-total-records="networkPortTableModel.hideTotalRecords"></tiny-table>
    </div>

    <div ng-show="show == 'usb'">
        <span class="legend none-line">USB</span>
        <div class="margin-bottom-beautifier"  ng-show="false">
            <tiny-select id="assignmentStatusFilter.id"
                         values="assignmentStatusFilter.values"
                         width="assignmentStatusFilter.width"
                         default-label="assignmentStatusFilter.dftLabel"
                         change="assignmentStatusFilter.change()">
            </tiny-select>
            <tiny-select id="deviceStatusFilter.id"
                         values="deviceStatusFilter.values"
                         width="deviceStatusFilter.width"
                         change="deviceStatusFilter.change()">
            </tiny-select>
             <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
                <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width"
                                suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength"
                                suggest="searchBox.suggest" search="searchBox.search">
                </tiny-searchbox>
               </span>
            <a class="btn-link pull-right">
                <div ng-click="operate.queryHostsData()" id="refreshHost" title="{{i18n.common_term_fresh_button}}" class="small-icon small-icon-refresh"></div>
            </a>
        </div>
        <tiny-table id="usbTableModel.id" data="usbTableModel.data"
                    columns="usbTableModel.columns"
                    enable-pagination="usbTableModel.enablePagination"
                    pagination-style="usbTableModel.paginationStyle"
                    length-change="usbTableModel.lengthChange" length-menu="usbTableModel.lengthMenu"
                    display-length="usbTableModel.displayLength" cur-page="usbTableModel.curPage"
                    total-records="usbTableModel.totalRecords"
                    request-config="usbTableModel.requestConfig"
                    columns-draggable="usbTableModel.columnsDraggable"
                    hide-total-records="usbTableModel.hideTotalRecords"
                    total-records="usbTableModel.data.length" render-row="usbTableModel.renderRow"
                    columns-visibility="usbTableModel.columnsVisibility"></tiny-table>

    </div>
</div>

</div>
</div>
</div>
