<div class="container-fluid">
    <div class="row-fluid create-page-distance" id="createVPCNetInfoDiv">
        <div ng-show="service.type!=='4' && service.type!=='5'">
            <div class="createpage-title" ng-bind="i18n.vpc_term_directConnectNet_label"></div>
            <tiny-formfield>
                <tiny-item label="netInfo.direct.name.label" require="netInfo.require">
                    <tiny-textbox id="netInfo.direct.name.id" validate="netInfo.direct.name.validate"
                                  width="netInfo.direct.name.width"
                                  value="service.direct.name"
                                  tooltip="netInfo.direct.name.tooltip"></tiny-textbox>
                </tiny-item>
                <tiny-item label="directTable.label" require="directTable.require">
                    <tiny-table id="directTable.id" data="directTable.data" columns="directTable.columns" pagination-style="directTable.paginationStyle" length-change="directTable.lengthChange" display-length="directTable.displayLength" length-menu="directTable.lengthMenu"
                                render-row="directTable.renderRow" callback="directTable.callback" change-select="directTable.changeSelect" total-records="directTable.totalRecords" enable-filter="directTable.enableFilter" columns-visibility="false"></tiny-table>
                </tiny-item>
                <tiny-item label="directSelect.label" require="directSelect.require">
                    <tiny-select id="directSelect.id" values="directSelect.values" width="directSelect.width" validate="directSelect.validate">
                    </tiny-select>
                    <span class="inline-help" style="margin-left: 10px;" ng-bind="i18n.vpc_net_add_para_directVLAN_mean_label"></span>
                </tiny-item>
                <tiny-item label="netInfo.direct.description.label" display="!service.isICT">
                    <tiny-textbox id="netInfo.direct.description.id" height="netInfo.direct.description.height"
                                  width="netInfo.direct.description.width" type="netInfo.direct.description.type"
                                  value="service.direct.description"
                                  validate="netInfo.direct.description.validate"
                                  tooltip="netInfo.direct.description.tooltip">
                    </tiny-textbox>
                </tiny-item>
            </tiny-formfield>
        </div>
        <div ng-show="service.type==='3' || service.type==='5'">
            <div class="createpage-title" ng-bind="i18n.vpc_term_innerNet_label"></div>
            <tiny-formfield>
                <tiny-item label="netInfo.internal.name.label" require="netInfo.require">
                    <tiny-textbox id="netInfo.internal.name.id" validate="netInfo.internal.name.validate"
                                  width="netInfo.internal.name.width"
                                  value="service.internal.name"
                                  tooltip="netInfo.internal.name.tooltip"></tiny-textbox>
                </tiny-item>
                <tiny-item label="netInfo.internal.ipType.label" require="netInfo.internal.ipType.require">
                    <tiny-radio text='netInfo.internal.ipType.inner' name="netInfo.internal.ipType.name" checked='true' value='netInfo.internal.ipType.innerValue' click="ipTypeclick('inner')" height="27" id="netInfo.internal.ipType.innerId"></tiny-radio>
                    <div class="inline-help"><span ng-bind="i18n.vpc_net_add_para_allocationIP_mean_innerDHCP_label"></span></div>
                    <div ng-if="!service.isICT">
                    <tiny-radio text='netInfo.internal.ipType.inject' name="netInfo.internal.ipType.name" value='netInfo.internal.ipType.injectValue' click="ipTypeclick('inject','internal')" height="27"></tiny-radio>
                    <div class="inline-help"><span ng-bind="i18n.resource_exter_add_para_allocationIP_mean_static_label"></span></div>
                    </div>
                    <tiny-radio text='netInfo.internal.ipType.auto' name="netInfo.internal.ipType.name" value='netInfo.internal.ipType.autoValue' click="ipTypeclick('auto','internal')" height="27"></tiny-radio>
                    <div class="inline-help"><span ng-bind="i18n.resource_exter_add_para_allocationIP_mean_manual_label"></span></div>
                </tiny-item>
                <tiny-item label="netInfo.internal.subnetIp.label" require="netInfo.internal.subnetIp.require">
                    <tiny-ip id="netInfo.internal.subnetIp.id" value="service.internal.subnetAddr"
                             type="netInfo.internal.subnetIp.type"
                             validate="netInfo.internal.subnetIp.validate" width="netInfo.internal.subnetIp.width"
                             extend-function="netInfo.internal.subnetIp.extendFunction"></tiny-ip>
                </tiny-item>
                <tiny-item label="netInfo.internal.subnetMask.label" require="netInfo.internal.subnetMask.require">
                    <tiny-ip id="netInfo.internal.subnetMask.id" value="service.internal.subnetPrefix"
                             type="netInfo.internal.subnetMask.type"
                             validate="netInfo.internal.subnetMask.validate" width="netInfo.internal.subnetIp.width"
                             extend-function="netInfo.internal.subnetMask.extendFunction"></tiny-ip>
                </tiny-item>
                <tiny-item label="netInfo.internal.gateway.label" require="netInfo.internal.gateway.require">
                    <tiny-ip id="netInfo.internal.gateway.id" value="service.internal.gateway"
                             type="netInfo.internal.gateway.type"
                             validate="netInfo.internal.gateway.validate" width="netInfo.internal.subnetIp.width"
                             extend-function="netInfo.internal.gateway.extendFunction"></tiny-ip>
                </tiny-item>
                <tiny-item label="netInfo.internal.description.label" display="!service.isICT">
                    <tiny-textbox id="netInfo.internal.description.id" height="netInfo.internal.description.height"
                                  width="netInfo.internal.description.width" type="netInfo.internal.description.type"
                                  value="service.internal.description"
                                  validate="netInfo.internal.description.validate"
                                  tooltip="netInfo.internal.description.tooltip">
                    </tiny-textbox>
                </tiny-item>
            </tiny-formfield>
        </div>
        <div ng-show="service.type!='0'&&service.type!='4'&&service.type!='5'">
            <div class="createpage-title" ng-bind="i18n.vpc_term_routerNet_label"></div>
            <tiny-formfield>
                <tiny-item label="netInfo.router.routerType.label" require="netInfo.router.routerType.require" display="!service.isICT">
                    <tiny-radio text='netInfo.router.routerType.hardware' name="netInfo.router.routerType.name"
                                checked="service.router.routerType==='1'"
                                value="netInfo.router.routerType.hardwareValue"
                                click="netInfo.router.setRouterType('1')" height="27"></tiny-radio>
                    <div class="inline-help" ng-bind="i18n.vpc_vpc_add_para_hardRouter_mean_label"></div>
                    <tiny-radio text='netInfo.router.routerType.software' name="netInfo.router.routerType.name"
                                checked="service.router.routerType==='2'"
                                value="netInfo.router.routerType.softwareValue"
                                click="netInfo.router.setRouterType('2')" height="27"></tiny-radio>
                    <div class="inline-help" ng-bind="i18n.vpc_vpc_add_para_softRouter_mean_label"></div>
                </tiny-item>
                <tiny-item label="netInfo.router.supportVxlan.label" require="netInfo.router.supportVxlan.require" display="service.router.routerType==='2' && !service.isICT">
                    <tiny-select id="netInfo.router.supportVxlan.id" values="netInfo.router.supportVxlan.values" width="netInfo.router.supportVxlan.width" change="netInfo.router.supportVxlan.change()">
                    </tiny-select>
                </tiny-item>
                <tiny-item label="netInfo.router.name.label" require="netInfo.require">
                    <tiny-textbox id="netInfo.router.name.id" validate="netInfo.router.name.validate"
                                  width="netInfo.router.name.width"
                                  value="service.router.name"
                                  tooltip="netInfo.router.name.tooltip"></tiny-textbox>
                </tiny-item>
                <tiny-item label="netInfo.router.ipType.label" require="netInfo.router.ipType.require">
                    <tiny-radio text='netInfo.router.ipType.inner' name="netInfo.router.ipType.name" checked='true' value='netInfo.router.ipType.innerValue' click="routerIpTypeclick('inner')" height="27" id="netInfo.router.ipType.innerId"></tiny-radio>
                    <div class="inline-help"><span ng-bind="i18n.vpc_net_add_para_allocationIP_mean_innerDHCP_label"></span></div>
                    <div ng-if="!service.isICT">
                    <tiny-radio text='netInfo.router.ipType.inject' name="netInfo.router.ipType.name" value='netInfo.router.ipType.injectValue' click="routerIpTypeclick('inject')" height="27"></tiny-radio>
                    <div class="inline-help"><span ng-bind="i18n.resource_exter_add_para_allocationIP_mean_static_label"></span></div>
                    </div>
                    <div ng-if="service.isICT">
                    <tiny-radio text='netInfo.router.ipType.auto' name="netInfo.router.ipType.name" value='netInfo.router.ipType.autoValue' click="routerIpTypeclick('auto')" height="27"></tiny-radio>
                    <div class="inline-help"><span ng-bind="i18n.resource_exter_add_para_allocationIP_mean_manual_label"></span></div>
                    </div>
                </tiny-item>
                <tiny-item label="netInfo.router.subnetIp.label" require="netInfo.router.subnetIp.require">
                    <tiny-ip id="netInfo.router.subnetIp.id" value="service.router.subnetAddr"
                             type="netInfo.router.subnetIp.type"
                             validate="netInfo.router.subnetIp.validate" width="netInfo.router.subnetIp.width"
                             extend-function="netInfo.router.subnetIp.extendFunction"></tiny-ip>
                </tiny-item>
                <tiny-item label="netInfo.router.subnetMask.label" require="netInfo.router.subnetMask.require">
                    <tiny-ip id="netInfo.router.subnetMask.id" value="service.router.subnetPrefix"
                             type="netInfo.router.subnetMask.type"
                             validate="netInfo.router.subnetMask.validate" width="netInfo.router.subnetIp.width"
                             extend-function="netInfo.router.subnetMask.extendFunction"></tiny-ip>
                </tiny-item>
                <tiny-item label="netInfo.router.gateway.label" require="netInfo.router.gateway.require">
                    <tiny-ip id="netInfo.router.gateway.id" value="service.router.gateway"
                             type="netInfo.router.gateway.type"
                             validate="netInfo.router.gateway.validate" width="netInfo.router.subnetIp.width"
                             extend-function="netInfo.router.gateway.extendFunction"></tiny-ip>
                </tiny-item>
                <tiny-item label="netInfo.router.description.label" display="!service.isICT">
                    <tiny-textbox id="netInfo.router.description.id" height="netInfo.router.description.height"
                                  width="netInfo.router.description.width" type="netInfo.router.description.type"
                                  value="service.router.description"
                                  validate="netInfo.router.description.validate"
                                  tooltip="netInfo.router.description.tooltip">
                    </tiny-textbox>
                </tiny-item>
            </tiny-formfield>
        </div>
        <div class="fm-btn-top-small">
            <tiny-button id="netInfo.preBtn.id" text="netInfo.preBtn.text"
                         click="netInfo.preBtn.click()"></tiny-button>
            <tiny-button id="netInfo.nextBtn.id" text="netInfo.nextBtn.text"
                         click="netInfo.nextBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="netInfo.cancelBtn.id" text="netInfo.cancelBtn.text"
                         click="netInfo.cancelBtn.click()"></tiny-button>
        </div>



    </div>
</div>