<div class="container-fluid createvpc-basic">
    <div class="create-page-distance">
        <div class="margin-bottom-beautifier">
            <span class="color2" ng-bind-html="i18n.vpc_vpc_viewIT_explan_label" ng-if="!isICT"></span>
            <span class="color2" ng-bind-html="i18n.vpc_vpc_viewICT_explan_label" ng-if="isICT"></span>
        </div>
        <div class="row-fluid" id="createVPCBasicDiv">
            <tiny-formfield>
                <tiny-item label="baseInfo.name.label" require="baseInfo.name.require">
                    <tiny-textbox id="baseInfo.name.id" value="service.name" validate="baseInfo.name.validate" width="baseInfo.name.width" tooltip="baseInfo.name.tooltip" tip-position="baseInfo.name.tipPosition"></tiny-textbox>
                </tiny-item>
                <tiny-item label="baseInfo.resourcepool.label" require="baseInfo.resourcepool.require">
                    <tiny-select id="baseInfo.resourcepool.id" values="service.resourcepools" width="baseInfo.resourcepool.width" change="baseInfo.resourcepool.change()"
                    validate="baseInfo.resourcepool.validate">
                    </tiny-select>
                </tiny-item>
                <tiny-item label="baseInfo.az.label" require="baseInfo.az.require" display="!service.isICT">
                    <tiny-select id="baseInfo.az.id" values="service.azValues" width="baseInfo.az.width" height="baseInfo.az.height" change="baseInfo.az.change()" validate="baseInfo.az.validate">
                    </tiny-select>
                </tiny-item>
                <tiny-item label="baseInfo.description.label" require="description">
                    <tiny-textbox id="baseInfo.description.id" value="service.description" width="baseInfo.description.width" type="baseInfo.description.type" validate="baseInfo.description.validate" error-msg="baseInfo.description.errorMsg" tooltip="baseInfo.description.tooltip"
                    tip-position="baseInfo.description.tipPosition">
                    </tiny-textbox>
                </tiny-item>
                <tiny-item label="" class="fm-btn-top-small">
                    <form class="form-horizontal">
                        <tiny-button id="baseInfo.nextBtn.id" text="baseInfo.nextBtn.text" click="baseInfo.nextBtn.click()" class="major-btn"></tiny-button>
                        <tiny-button id="baseInfo.cancelBtn.id" text="baseInfo.cancelBtn.text" click="baseInfo.cancelBtn.click()"></tiny-button>
                    </form>
                </tiny-item>
            </tiny-formfield>
        </div>
    </div>
</div>