<div>
    <div class="legend" ng-bind="i18n.common_term_templateInfo_label"></div>
    <tiny-formfield>
        <tiny-item label="designerCell.name.label" require="designerCell.name.require">
            <tiny-textbox id="designerCell.name.id" value="designerCell.value.name" tooltip="designerCell.name.tooltip" extend-function="designerCell.name.extendFunction" validate="designerCell.name.validate" blur="designerCell.name.blur()" width="designerCell.name.width"></tiny-textbox>
        </tiny-item>
        <tiny-item label="designerCell.icon.label" require="designerCell.icon.require">
            <img ng-src='{{ designerCell.icon.icon }}' width='20px' height='20px' id="createTempLogoCurImgId" />

            <div style="display: inline-block;padding-left: 3px;" class="dropdown">
                <a class="btn btn-link dropdown-toggle" id="dLabel" data-toggle="dropdown" ng-bind="i18n.template_term_changeIcon_button"></a>
                <ul class="dropdown-menu imgBox" role="menu" aria-labelledby="dLabel" id="createTempLogoUlId">
                    <li class="imgItem" ng-repeat="img in designerCell.icon.imgs">
                        <img ng-src="{{ img.src }}" class="btn btn-link" ng-click="img.click()" width='20px' height='20px' />
                    </li>
                </ul>
            </div>
        </tiny-item>
        <tiny-item label="designerCell.description.label" require="designerCell.description.require">
            <tiny-textbox id="designerCell.description.id" value="designerCell.value.description" extend-function="designerCell.description.extendFunction" tooltip="designerCell.description.tooltip" blur="designerCell.description.blur()" validate="designerCell.description.validate"
            width="designerCell.description.width" type="designerCell.description.type" height="designerCell.description.height"></tiny-textbox>
        </tiny-item>
    </tiny-formfield>
    <div class="margin-right-beautifier divOverflow">
        <div class="clearfix">
            <div class="pull-left" ng-bind="designerCell.deploy.label"></div>
            <div class="pull-right" style="margin-right:25px">
                <img ng-src="{{enableIcon.addIcon}}" class="btn-link" id="template-deploy-add"  />
            </div>
        </div>
        <table class="table table-striped table-striped" id="template-deploy-table">
            <thead>
                <tr>
                    <th class="textOverflow" style="width: 50px" ng-bind="i18n.common_term_paraName_label"></th>
                    <th class="textOverflow" style="width: 53px" ng-bind="i18n.common_term_type_label"></th>
                    <th class="textOverflow" style="width: 43px" ng-bind="i18n.common_term_defaultValue_label"></th>
                    <th class="textOverflow" style="width: 30px" ng-bind="i18n.common_term_desc_label"></th>
                    <th class="textOverflow width26" ng-bind="i18n.common_term_operation_label"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="deploy in designerCell.value.deploys" data-id="{{deploy.id}}">
                    <td ng-bind="deploy.parameterName" title="{{ deploy.parameterName }}" class="textOverflow" style="width: 50px"></td>
                    <td ng-bind="deploy.type" class="textOverflow" style="width: 45px"></td>
                    <td ng-bind="deploy.defaultValue" title="{{ deploy.defaultValue }}" class="textOverflow" style="width: 40px"></td>
                    <td ng-bind="deploy.description" title="{{ deploy.description }}" class="textOverflow" style="width: 35px"></td>
                    <td>
                        <div ng-hide="deploy.systemDefault">
                            <img ng-src="{{enableIcon.modifyIcon}}" class="template-deploy-edit btn-link" />
                            <img ng-src="{{enableIcon.deleteIcon}}" class="template-deploy-delete btn-link" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="margin-right-beautifier">
        <div class="clearfix">
            <div class="pull-left" ng-bind="designerCell.outputPrm.label"></div>
            <div class="pull-right" style="margin-right:25px">
                <img ng-src="{{enableIcon.addIcon}}" class="btn-link" id="template-output-add" />
            </div>
        </div>
        <table class="table table-striped table-striped" id="template-output-table">
            <thead>
                <tr>
                    <th class="textOverflow" style="width: 60px" ng-bind="i18n.common_term_outputName_label"></th>
                    <th class="textOverflow" style="width: 60px" ng-bind="i18n.common_term_outputValue_label"></th>
                    <th class="textOverflow" style="width: 60px" ng-bind="i18n.common_term_desc_label"></th>
                    <th class="textOverflow width26" ng-bind="i18n.common_term_operation_label"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="outPutPrm in designerCell.value.outputs" data-id="{{outPutPrm.id}}">
                    <td ng-bind="outPutPrm.outputName" title="{{ outPutPrm.outputName }}" class="textOverflow" style="width: 60px"></td>
                    <td ng-bind="outPutPrm.value" title="{{ outPutPrm.value }}" class="textOverflow" style="width: 60px"></td>
                    <td ng-bind="outPutPrm.description" title="{{ outPutPrm.description }}" class="textOverflow" style="width: 60px"></td>
                    <td>
                        <div ng-hide="outPutPrm.systemDefault">
                            <img ng-src="{{enableIcon.modifyIcon}}" class="template-output-edit btn-link" />
                            <img ng-src="{{enableIcon.deleteIcon}}" class="template-output-delete btn-link" />
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<style>
.imgBox {
    width: 154px;
}
.imgItem {
    padding: 4px 5px;
    float: left;
}
</style>