<div id="mailUserView">
    <div>
        <div class="margin-bottom-beautifier clearfix">
            <div class="pull-right">
                <span style="display: inline-block; vertical-align: middle;">
                    <tiny-searchbox id="searchUserBox.id" placeholder="searchUserBox.placeholder"
                                    width="searchUserBox.width" suggest-size="searchUserBox.suggestSize"
                                    maxlength="searchUserBox.maxLength" suggest="searchUserBox.suggest"
                                    search="searchUserBox.search">
                    </tiny-searchbox>
                </span>
            </div>
        </div>
        <tiny-formfield>
            <tiny-item>
                <tiny-table id="userGridViewTable.id" data="userGridViewTable.data" columns="userGridViewTable.columns" pagination-style="userGridViewTable.paginationStyle" length-change="userGridViewTable.lengthChange" length-menu="userGridViewTable.lengthMenu" display-length="userGridViewTable.displayLength"
                enable-filter="userGridViewTable.enableFilter" change-select="userGridViewTable.changeSelect" show-details="userGridViewTable.showDetails" callback="userGridViewTable.callback" render-row="userGridViewTable.renderRow" columns-visibility="false"
                total-records="userGridViewTable.totalRecords" cur-page="userGridViewTable.curPage" columns-draggable="false"></tiny-table>

            </tiny-item>

            <tiny-item>
                <div class="fm-btn-top-small">
                    <fm-button class="major-btn" id="saveUserBtn.id" text="saveUserBtn.text" click="saveUserBtn.click"></fm-button>
                    <fm-button id="cancelUserBtn.id" text="cancelUserBtn.text" click="cancelUserBtn.click"></fm-button>
                </div>
            </tiny-item>
        </tiny-formfield>

    </div>

</div>