<div>
    <div id="regionAssociateWin" ng-controller="resources.openstack.regionAssociate.ctrl">
        <tiny-table id="regionAssociateTable.id" caption="regionAssociateTable.caption" data="regionAssociateTable.data"
                    columns="regionAssociateTable.columns"
                    enable-pagination="regionAssociateTable.enablePagination"
                    enable-filter="regionAssociateTable.enableFilter"
                    hide-total-records="regionAssociateTable.hideTotalRecords"
                    render-row="regionAssociateTable.renderRow"
                    show-details="regionAssociateTable.showDetails"
                    columns-draggable="regionAssociateTable.columnsDraggable"></tiny-table>

            <!-- 操作按钮 -->
                <div class="fm-btn-top-large text-center">
                    <tiny-button class="major-btn" id="saveBtn.id" disable="saveBtn.disabled" icons-class="saveBtn.iconsClass" text="saveBtn.text"
                                 tooltip="saveBtn.tip" click="saveBtn.save()"></tiny-button>
                    <tiny-button id="cancelBtn.id" disable="cancelBtn.disabled" icons-class="cancelBtn.iconsClass"
                                 text="cancelBtn.text"
                                 tooltip="cancelBtn.tip" click="cancelBtn.cancel()"></tiny-button>
                </div>
    </div>
</div>

<script>
    require(['jquery',
        'app/business/resources/controllers/openStackResource/region/regionAssociateCtrl'],
            function ($, addScriptCtrl) {
                var dep = ['ng', 'wcc', addScriptCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#regionAssociateWin"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile) {
                    var scope = $("#regionAssociateWin").scope();
                    $compile($("#regionAssociateWin"))(scope);
                    scope.$digest();
                });
            });
</script>
