<div fm-help help="'drawer_resource_openstack'" show="show.help" i18n="'zh'"></div>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span ng-bind="i18n.resource_term_openstack_label"></span></li>
            <li class="two-lead">
                <p ng-repeat="eView in i18n.split(i18n.resource_open_view_explan_label)">
                    {{eView}}
                </p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="bottom10 clearfix">
            <div class="fl">
                <tiny-button ng-if="privilege.resource_term_openStack_handle_value" id="associate.id" disable="associate.disabled" icons-class="associate.iconsClass" text="associate.text"
                             tooltip="associate.tip" click="associate.associate()" class="major-btn"></tiny-button>
            </div>
            <!--刷新、列选择、帮助-->
            <div class="pull-right">
                <a class="btn-link">
                    <div ng-click="refresh.click()" id="refresh.id" title="{{ i18n.common_term_fresh_button }}" class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div title="{{ i18n.common_term_onlinehelp_label }}" ng-click="show.help=true" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div>
            <tiny-table id="regionTable.id" caption="regionTable.caption" data="regionTable.data"
                        columns="regionTable.columns"
                        enable-pagination="regionTable.enablePagination"
                        enable-filter="regionTable.enableFilter"
                        hide-total-records="regionTable.hideTotalRecords"
                        render-row="regionTable.renderRow"
                        show-details="regionTable.showDetails"
                        columns-draggable="regionTable.columnsDraggable"></tiny-table>
        </div>
    </div>
</div>