<div id="create-image-window" ng-controller="resources.openStackResource.createImage.ctrl">
    <div id="createImageInfo" class="alert-tip-first">
        <tiny-formfield>
            <tiny-item label="name.label" require="name.require">
                <tiny-textbox id="name.id" value="model.name" validate="name.validate" extend-function="name.extendFunction"
                              tooltip="name.tooltip" width="name.width"></tiny-textbox>
            </tiny-item>
            <tiny-item label="osType.label" require="osType.require">
                <tiny-select id="osType.id" values="osType.values" width="osType.width" change="osType.change()"></tiny-select>
                  <span popover="{{i18n.resource_image_add_para_os_mean_tip}}" popover-trigger="mouseenter"
                        class="small-icon small-icon-tips"></span>
            </tiny-item>

            <tiny-item label="version.label" require="version.require">
                <tiny-select id="version.id" values="version.values" width="version.width" height="version.height"
                             change="version.change()"></tiny-select>
            </tiny-item>

            <tiny-item label="file.label" require="file.require">
                <tiny-fileupload id="file.idSingle" file-obj-name="file.fileObjName" action="file.action" enable-detail = "file.enableDetail" width="file.width"
                                 show-submit-btn="file.showSubmitBtn" title="file.title" before-submit="file.beforeSubmit" method="file.method"
                                 select="file.select" complete="file.complete" file-type="file.fileType" max-size="file.maxSize" select-error="file.selectError">
                </tiny-fileupload>
            </tiny-item>
            <tiny-item label="source.label" require="source.require">
                <tiny-select id="source.id" values="source.values" width="source.width" change="source.change()"></tiny-select>
                <span popover="{{i18n.resource_image_add_para_diskFormat_mean_tip}}" popover-trigger="mouseenter"
                      class="small-icon small-icon-tips"></span>
            </tiny-item>
            <tiny-item label="minDisk.label" require="minDisk.require">
                <tiny-textbox id="minDisk.id" value="model.min_disk"
                              validate="minDisk.validate" width="minDisk.width"></tiny-textbox>
            </tiny-item>

            <tiny-item label="minRam.label" require="minRam.require">
                <tiny-textbox id="minRam.id" value="model.min_ram"
                              validate="minRam.validate" width="minRam.width"></tiny-textbox>
            </tiny-item>
            <tiny-item label="diskBus.label" require="diskBus.require">
                <tiny-select id="diskBus.id" values="diskBus.values" width="diskBus.width" height="diskBus.height"
                             change="diskBus.change()"></tiny-select>
                <span popover="{{i18n.resource_image_add_para_diskDeviceType_mean_tip}}" popover-trigger="mouseenter"
                      class="small-icon small-icon-tips"></span>
            </tiny-item>
            <tiny-item label="description.label" require="description.require">
                <tiny-textbox id="description.id" value="model.description"
                              width="description.width" height="description.height" type="description.type"
                              validate="description.validate"
                              error-msg="description.errorMsg">
                </tiny-textbox>
            </tiny-item>

            <!-- 操作按钮 -->
            <tiny-item label="buttonGroup.label" require="buttonGroup.require" class="fm-btn-top-small">
                    <tiny-button class="major-btn" id="saveBtn.id" disable="saveBtn.disabled" icons-class="saveBtn.iconsClass"
                                 text="saveBtn.text"
                                 tooltip="saveBtn.tip" click="saveBtn.save()"></tiny-button>
                    <tiny-button id="cancelBtn.id" disable="cancelBtn.disabled" icons-class="cancelBtn.iconsClass"
                                 text="cancelBtn.text"
                                 tooltip="cancelBtn.tip" click="cancelBtn.cancel()"></tiny-button>
            </tiny-item>

        </tiny-formfield>
    </div>
</div>
<script type="application/javascript">
    require(['app/business/resources/controllers/openStackResource/image/createImageCtrl'],
            function (createImageCtrl) {
                var dep = ['ng', 'wcc', createImageCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#create-image-window"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile) {
                    var scope = $("#create-image-window").scope();
                    $compile($("#create-image-window"))(scope);
                    scope.$digest();
                });
            });
</script>
