<div class="image-detail" ng-controller="resources.openStackResource.imageDetail.ctrl">
    <div class="row-fluid innerbox-padding">
        <div class="span4">
            <tiny-formfield>
                <tiny-item label="diskBus.label" require="diskBus.require">
                    <div class="over-flow-style" style="width: 200px;">
                        <span ng-bind="diskBus.value" title="{{ diskBus.value }}"></span>
                    </div>
                </tiny-item>
                <tiny-item label="description.label" require="description.require">
                    <div class="over-flow-style" style="width: 200px;">
                        <span ng-bind="description.value" title="{{ description.value }}"></span>
                    </div>
                </tiny-item>
            </tiny-formfield>
        </div>
        <div class="span1"></div>
        <div class="span4">
            <tiny-formfield>
                <tiny-item label="osType.label" require="osType.require">
                    <div class="over-flow-style" style="width: 200px;">
                        <span ng-bind="osType.value" title="{{ osType.value }}"></span>
                    </div>
                </tiny-item>
                <tiny-item label="version.label" require="version.require">
                    <div class="over-flow-style" style="width: 200px;">
                        <span ng-bind="version.value" title="{{ version.value }}"></span>
                    </div>
                </tiny-item>
            </tiny-formfield>
        </div>

    </div>
</div>
<script type="application/javascript">
    require(['app/business/resources/controllers/openStackResource/image/imageDetailCtrl'],
            function (imageDetailCtrl) {
                // 1.获取当前Dom
                var curView = undefined;
                $(".image-detail").each(function () {
                    if ($(this).attr("id") === undefined) {
                        curView = $(this);
                    }
                });

                curView.attr("id", new Date().getMilliseconds());

                // 2.编译
                var scope = curView.scope();

                var modules = ["wcc",imageDetailCtrl.name];
                modules.unshift(["$provide", function($provide) {
                    $provide.value("$rootElement", curView);
                }]);
                modules.unshift("ng");
                var $injector = angular.injector(modules);
                $injector.invoke(["$compile", function ($compile) {
                    $compile(curView)(scope);
                    scope.$digest();
                }]);

                // 3.初始化scope
                var curScope = curView.scope();
                curScope.operator.action("queryDetail", scope.currentItem.id, scope.serviceID);
            });
</script>
