<div class="ecs_vm_detail_nic_configfloatip" ng-controller="ecs.vm.detail.nic.configfloatip.ctrl">
    <tiny-formfield>
        <tiny-item label="floatIp.label" labelcls="floatIp.class">
            <tiny-ip id="floatIp.id" type="floatIp.type" value="floatIp.value" width="floatIp.width" extend-function="floatIp.extendFunction" validate="floatIp.validate"></tiny-ip>
        </tiny-item>
        <tiny-item>
            <div class="fm-btn-top-small">
                <tiny-button id="okBtn.id" text="okBtn.text" click="okBtn.click()" disable="okBtn.disable" class="major-btn"></tiny-button>
                <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
            </div>
        </tiny-item>
    </tiny-formfield>


</div>

<script>
require(['app/business/ecs/controllers/vm/nic/configFloatIpCtrl'],
    function(configFloatIp) {
        var dep = ['ng', 'wcc', configFloatIp.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $(".ecs_vm_detail_nic_configfloatip"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($(".ecs_vm_detail_nic_configfloatip"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>
