<div id="nicDetailDiv" class="row-fluid innerbox-padding" ng-controller="ecs.vm.nicDetail.ctrl">
    <div class="span7">
        <tiny-formfield>
            <tiny-item label="label.id">
                <div ng-bind="info.nicId"></div>
            </tiny-item>
            <tiny-item label="label.netType">
                <div ng-bind="info.networkTypeView"></div>
            </tiny-item>
            <tiny-item label="label.ipStatus" display="!ICT">
                <div ng-bind="info.ipStatus"></div>
            </tiny-item>
        </tiny-formfield>
    </div>
    <div class="span5">
        <tiny-formfield>
            <tiny-item label="label.eip" display="!vmwareICT">
                <div ng-bind="info.eip"></div>
            </tiny-item>
            <tiny-item label="label.sg" display="!vmwareICT">
                <div ng-bind="info.sg"></div>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>

<script>
require(['jquery',
    'app/business/ecs/controllers/vm/nic/nicDetailCtrl'],
        function ($, nicDetailCtrl) {

            //替换ID，使ID唯一
            var nicRow = $("#nicDetailDiv").parent().parent().parent().prev();
            var lineNum = nicRow.attr("lineNum");
            var nicInfo = {
                infraId:nicRow.attr("infraId"),
                vpcId:nicRow.attr("vpcId"),
                vmId:nicRow.attr("vmId"),
                nicId:nicRow.attr("nicId"),
                networkType:nicRow.attr("networkType"),
                ipCheckResult:nicRow.attr("ipCheckResult"),
                eip:nicRow.attr("eip"),
                sg:nicRow.attr("sg")
            }
            var id = "nicDetailDiv_" + lineNum;
            $("#nicDetailDiv").attr("id", id);

            //编译
            var dep = ['ng', 'wcc', nicDetailCtrl.name];
            dep.unshift(["$provide", function ($provide) {
                $provide.value("$rootElement", $("#" + id));
            }]);
            var $injector = angular.injector(dep);
            $injector.invoke(function ($compile, $rootScope) {
                $compile($("#" + id))($rootScope);
                $rootScope.$digest();
            });
            $("#" + id).scope().getDetail(nicInfo, id);
        });
</script>