<div class="ecs_vm_detail_nics" ng-controller="ecs.vm.detail.nics.ctrl">
    <div class="clearfix">
        <div class="fl">
            <tiny-button id="add.id" text="add.text" click="add.click()" disable="add.disable" ng-if="hasVmBasicOperateRight && !vmwareICT" class="major-btn"></tiny-button>
        </div>
        <div class="pull-right">
            <a class="btn-link margin-right-beautifier">
                <div ng-click="refresh.click()" id="refresh.id" title="{{i18n.common_term_fresh_button}}" class="small-icon small-icon-refresh"></div>
            </a>
        </div>
    </div>

    <div class="margin-top-beautifier">
        <tiny-table id="nics.id" columns="nics.columns" data="nics.data" render-row="nics.renderRow" show-details="nics.showDetail" enable-pagination="nics.enablePagination" columns-draggable="nics.draggable">
        </tiny-table>
    </div>
</div>

<script>
require(['app/business/ecs/controllers/vm/nic/nicsCtrl'],
    function(nicsCtrl) {
        var dep = ['ng', 'wcc', nicsCtrl.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $(".ecs_vm_detail_nics"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($(".ecs_vm_detail_nics"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>
