<link href="../theme/default/css/gm/ssp.css" type="text/css" rel="stylesheet" />
<fm-help help="help.helpKey" show="help.show" i18n="help.i18n"></fm-help>
<div class="serviceInstanceApplyCls container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li>
                <span ng-bind="i18n.service_term_serviceInstance_label"></span>
            </li>
            <li class="two-lead">
                <p ng-bind-html="i18n.service_service_view_explan_eCommerce_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="clearfix bottom10">
            <div class="pull-right">
                <tiny-filtersel id="searchStatus.id" values="searchStatus.values" width="searchStatus.width" change="searchStatus.change()">
                </tiny-filtersel>
                <span style="display: inline-block; vertical-align: middle;">
                    <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width" maxlength="searchBox.maxLength" search="searchBox.search">
                    </tiny-searchbox>
                </span>
                <a class="btn-link">
                    <div ng-click="refresh.click()" id="{{refresh.id}}" title="{{i18n.common_term_fresh_button}}" class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div title="{{i18n.common_term_help_label}}" ng-click="help.click()" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div>
            <tiny-table id="myServices.id" data="myServices.data" columns="myServices.columns"
                        columns-visibility="myServices.visibility" columns-draggable="true"
                        pagination-style="myServices.paginationStyle" length-menu="myServices.lengthMenu"
                        render-row="myServices.renderRow" show-details="myServices.showDetails"
                        display-length="myServices.displayLength" total-records="myServices.totalRecords"
                        change-select="myServices.changeSelect" callback="myServices.callback">
            </tiny-table>
        </div>
    </div>
</div>