<div>
    <div class="legend" ng-bind="i18n.common_term_softwareInfo_label"></div>
    <tiny-formfield>
        <tiny-item label="softwareCell.name.label" require="softwareCell.name.require">
            <tiny-textbox id="softwareCell.name.id" value="softwareCell.softwareValue.name" tooltip="softwareCell.name.tooltip" extend-function="softwareCell.name.extendFunction" validate="softwareCell.name.validate" blur="softwareCell.name.blur('software')" width="softwareCell.name.width"></tiny-textbox>
        </tiny-item>
        <tiny-item label="softwareCell.description.label" require="softwareCell.description.require">
            <tiny-textbox id="softwareCell.description.id" value="softwareCell.softwareValue.description" tooltip="softwareCell.description.tooltip" extend-function="softwareCell.description.extendFunction" validate="softwareCell.description.validate" blur="softwareCell.description.blur('software')"
            width="softwareCell.description.width" type="softwareCell.description.type" height="softwareCell.description.height"></tiny-textbox>
        </tiny-item>
        <tiny-item label="softwareCell.version.label" require="softwareCell.version.require">
            <tiny-textbox id="softwareCell.version.id" value="softwareCell.softwareValue.version" blur="softwareCell.version.blur('software')" width="softwareCell.version.width"></tiny-textbox>
        </tiny-item>
    </tiny-formfield>
</div>