<div fm-help help="'drawer_resource_pip'" show="show.help" i18n="'zh'"></div>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="breadcrumb">
            <li>
                <a ui-sref="resources.rpool.zone">{{i18n.resource_term_zones_label}}</a> <span class="divider">&gt;</span>
            </li>
            <li>
                <a ui-sref="resources.zoneResources.summary.zoneSummary">{{zoneInfo.zoneName}}</a> <span class="divider">&gt;</span>
            </li>
            <li>
                <a ui-sref="resources.zoneResources.networkSummary">{{i18n.resource_term_netPools_label}}</a> <span
                    class="divider">&gt;</span>
            </li>
            <li class="active"><span class="divider">{{i18n.vpc_term_publicIPpool_label}}</span></li>
            <li class="crumbs_line"></li>
        </ul>
    </div>
    <div class="content-right-box clearfix">
        <tiny-button ng-show="right.hasNetPoolOperateRight" class="major-btn" id="create.id" disabled="create.disabled"
                     icons-class="create.iconsClass"
                     text="create.text"
                     tooltip="create.tip" click="create.create()"></tiny-button>

        <!--刷新、列选择、帮助-->
        <div class="pull-right">
            <a class="btn-link">
                <div ng-click="refresh.refresh()" id="refresh.id" title="{{i18n.common_term_fresh_button}}"
                     class="small-icon small-icon-refresh"></div>
            </a>
            <a class="btn-link">
                <div ng-click="show.help=true" class="small-icon small-icon-help"></div>
            </a>
        </div>
        <div class="margin-top-beautifier">
            <tiny-table id="publicIPTable.id" caption="publicIPTable.caption" data="publicIPTable.data"
                        columns="publicIPTable.columns"
                        enable-pagination="publicIPTable.enablePagination"
                        pagination-style="publicIPTable.paginationStyle" length-change="publicIPTable.lengthChange"
                        length-menu="publicIPTable.lengthMenu" display-length="publicIPTable.displayLength"
                        enable-filter="publicIPTable.enableFilter"
                        cur-page="publicIPTable.curPage" total-records="publicIPTable.totalRecords"
                        hide-total-records="publicIPTable.hideTotalRecords"
                        callback="publicIPTable.callback" render-row="publicIPTable.renderRow"
                        show-details="publicIPTable.showDetails"
                        columns-draggable="publicIPTable.columnsDraggable"></tiny-table>
        </div>
    </div>
</div>