<fm-valid valid="valid.check">
<tiny-formfield>
	<tiny-item label="form.label.name" require="true">
		<fm-text value="para.name" length="32"></fm-text>
	</tiny-item>
	<tiny-item label="form.label.protocol" require="true">
		<fm-select id="para.protocol.id" name="para.protocol.name" option="form.protocol"
			change="event.protocolChange"></fm-select>
	</tiny-item>
	<tiny-item display="('TCP'==para.protocol.id)||('UDP'==para.protocol.id)" label="form.label.port" require="true">
		<fm-digit value="para.sPort" max="65535" min="1"></fm-digit>
		-
		<fm-digit value="para.dPort" max="65535" min="para.sPort"></fm-digit>
	</tiny-item>
	<tiny-item display="('ICMP'==para.protocol.id)" label="form.label.icmp" require="true">
		<fm-select id="para.icmp.id" name="para.icmp.name" option="form.icmp"></fm-select>
	</tiny-item>
	<tiny-item label="form.label.policy" require="true">
		<fm-radio id="para.policy.id" name="para.policy.name" option="form.policy"></fm-radio>
	</tiny-item>
	<tiny-item label="form.label.srcType" require="true">
		<fm-select id="para.srcType.id" name="para.srcType.name" option="form.srcType"
			change="event.objChange"></fm-select>
	</tiny-item>
	<tiny-item display="('SUBNET'!=para.srcType.id)&&('IPRANGE'!=para.srcType.id)" label="form.label.srcObj" require="true">
		<fm-table columns="srcTable.columns" data="srcTable.data" 
			row="para.srcObj" size="3">
		</fm-table>
	</tiny-item>
	<tiny-item display="('SUBNET'==para.srcType.id)" label="form.label.ip" require="true">
		<fm-ipv4 value="para.ip"></fm-ipv4>
	</tiny-item>
	<tiny-item display="('SUBNET'==para.srcType.id)" label="form.label.mask" require="true">
		<fm-ipv4 value="para.mask"></fm-ipv4>
	</tiny-item>
	<tiny-item display="('IPRANGE'==para.srcType.id)" label="form.label.sIP" require="true">
		<fm-ipv4 value="para.sIP"></fm-ipv4>
	</tiny-item>
	<tiny-item display="('IPRANGE'==para.srcType.id)" label="form.label.eIP" require="true">
		<fm-ipv4 value="para.eIP" valid="form.subnetCheck(lib.string2ip(para.sIP),lib.string2ip(para.eIP))"></fm-ipv4>
	</tiny-item>
	<tiny-item display="('SUBNET'==para.srcType.id)||('IPRANGE'==para.srcType.id)" label="form.label.dstType" require="true">
		<fm-select id="para.dstType.id" name="para.dstType.name" option="form.dstType"
			change="event.objChange"></fm-select>
	</tiny-item>
	<tiny-item display="('SUBNET'!=para.srcType.id)&&('IPRANGE'!=para.srcType.id)" label="form.label.dstType" require="true">
		{{para.srcType.name}}
	</tiny-item>
	<tiny-item label="form.label.dstObj" require="true">
		<fm-table columns="dstTable.columns" data="dstTable.data" 
			row="para.dstObj" size="3">
		</fm-table>
	</tiny-item>
</tiny-formfield>
<fm-button text="i18n.common_term_add_button||'添加'" class='major-btn fm-valid' click="add"></fm-button>
<fm-button text="i18n.common_term_cancle_button||'取消'" class='fm-valid-clear' click="cancel"></fm-button>
</fm-valid>