<div fm-help help="'drawer_aspf'" show="show.help" i18n="'zh'"></div>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span>{{i18n.aspf_term_aspf_label||'应用层包过滤'}}</span></li>
            <li class="two-lead">
				<div ng-repeat="e in i18n.split(i18n.aspf_general_view_explan_label)">
					{{e}}<br/>
				</div>
				<div ng-if="!i18n.aspf_general_view_explan_label">
                <p>针对应用层的包过滤，检测试图通过Router的应用层协议回话信息，阻止不符合规则的报文通过。</p>
                <p>&nbsp;</p>
				</div>
            </li>
            <li class="divider"></li>
        </ul>
    </div>

    <div class="content-right-box">
        <div class="bottom10 clearfix">
            <!--刷新、帮助-->
            <div class="pull-right">
                <a class="btn-link">
                    <div ng-click="update()" class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div ng-click="show.help=true" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div>
			<fm-table columns="table.columns" data="table.data"
				template="'app/business/vdc/views/security/col.html'">
			</fm-table>
        </div>
    </div>

</div>