<dd class='rule'><a ng-click='show.rule=true;updateRule(row.id,row.vpc);'>{{row.rule}}</a><dd>
<dd class='vm'><a ng-click='show.vm=true;vmTable.id=row.id;vmTable.vpc=row.vpc;vmTable.update(row.id,row.vpc);'>{{row.vm}}</a><dd>
<dd class='dns'><img ng-src="{{row.dns ? '../theme/default/images/gm/enable.png':'../theme/default/images/gm/disable.png'}}" /></dd>
<dd class='ftp'><img ng-src="{{row.ftp ? '../theme/default/images/gm/enable.png':'../theme/default/images/gm/disable.png'}}" /></dd>
<dd class='ils'><img ng-src="{{row.ils ? '../theme/default/images/gm/enable.png':'../theme/default/images/gm/disable.png'}}" /></dd>
<dd class='msn'><img ng-src="{{row.msn ? '../theme/default/images/gm/enable.png':'../theme/default/images/gm/disable.png'}}" /></dd>
<dd class='qq'><img ng-src="{{row.qq ? '../theme/default/images/gm/enable.png':'../theme/default/images/gm/disable.png'}}" /></dd>
<dd class='h323'><img ng-src="{{row.h323 ? '../theme/default/images/gm/enable.png':'../theme/default/images/gm/disable.png'}}" /></dd>
<dd class='netbios'><img ng-src="{{row.netbios ? '../theme/default/images/gm/enable.png':'../theme/default/images/gm/disable.png'}}" /></dd>
<dd class='sip'><img ng-src="{{row.sip ? '../theme/default/images/gm/enable.png':'../theme/default/images/gm/disable.png'}}" /></dd>
<dd class='mgcp'><img ng-src="{{row.mgcp ? '../theme/default/images/gm/enable.png':'../theme/default/images/gm/disable.png'}}" /></dd>
<dd class='mms'><img ng-src="{{row.mms ? '../theme/default/images/gm/enable.png':'../theme/default/images/gm/disable.png'}}" /></dd>
<dd class='rtsp'><img ng-src="{{row.rtsp ? '../theme/default/images/gm/enable.png':'../theme/default/images/gm/disable.png'}}" /></dd>
<dd class='pptp'><img ng-src="{{row.pptp ? '../theme/default/images/gm/enable.png':'../theme/default/images/gm/disable.png'}}" /></dd>
<dd class='sqlnet'><img ng-src="{{row.sqlnet ? '../theme/default/images/gm/enable.png':'../theme/default/images/gm/disable.png'}}" /></dd>
