<div id="groupCT" class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span>安全组</span></li>
            <li class="two-lead">
                <p>安全组用来实现安全组内和组间虚拟机的访问控制，加强虚拟机的安全保护。</p>
                <p>管理员可以在创建的安全组中定义各种访问规则，当虚拟机加入该安全组后，即受到这些访问规则的保护。</p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>

    <div class="content-right-box">
        <div class="bottom10 clearfix">
			<fm-button class='major-btn' text="'添加规则'" click="create"></fm-button>
			<fm-button class='major-btn' text="'保存'" click="save"></fm-button>
            <!--刷新、帮助-->
            <div class="pull-right">
                <a class="btn-link">
                    <div ng-click="update()" class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div>
			<fm-dialog title="'添加规则'" width="640" height="640" show="showWin">
				<div ng-show="showWin" ng-include src="'app/business/vdc/views/security/addRule.html'"></div>
			</fm-dialog>
			<fm-table columns="table.columns" data="table.data"
				operate="table.operate">
			</fm-table>
        </div>
    </div>

</div>