<div>
    <div class="slider-content">
        <div fm-layout id="networkLayout">
            <div class="tiny-layout-container">
                <div class="tiny-layout-west">
                    <ul>
                        <div class="tiny-layout-title">
                            <div class="row-fluid nosidedown-txt">
                                <div class="span4">
                                    <div class="title-icon">
                                        <img src="../theme/default/images/vpc.png">
                                    </div>
                                </div>
                                <div class="span8">
                                    <p class="title-text">资源</p>
                                </div>
                            </div>
                        </div>
                        <li>
                            <a ui-sref="vdcMgr.CT.groupCT">安全组</a>
                        </li>
                    </ul>
                </div>
                <div class="tiny-layout-center">
                    <div ui-view id="view-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>