<div class="container-fluid">
    <div id="resetPassword" ng-controller="userMgr.user.resetPassword.ctrl" class="alert-tip-first">
        <tiny-formfield>
            <tiny-item label="operatePassword.label" require="operatePassword.require">
                <tiny-textbox id="operatePassword.id" value="operatePassword.value" type="operatePassword.type"
                              validate="operatePassword.validate"></tiny-textbox>
            </tiny-item>
            <tiny-item label="password.label" require="password.require">
                <tiny-textbox id="password.id" value="password.value" type="password.type" tooltip="password.tooltip" validate="password.validate" extend-function="password.extendFunction"></tiny-textbox>
            </tiny-item>
            <tiny-item label="confirmPassword.label" require="confirmPassword.require">
                <tiny-textbox id="confirmPassword.id" value="confirmPassword.value" type="confirmPassword.type" validate="confirmPassword.validate" extend-function="confirmPassword.extendFunction"></tiny-textbox>
            </tiny-item>
            <tiny-item class="fm-btn-top-small">
                <tiny-button class="major-btn" id="modifyBtn.id" text="modifyBtn.text" click="modifyBtn.click()"></tiny-button>
                <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>
<script type="application/javascript">
require(["app/business/user/controllers/user/resetPasswordCtrl"], function(resetPasswordCtrl) {
    var $injector = angular.injector(["ng", resetPasswordCtrl.name]);
    $injector.invoke(function($compile) {
        var link = $compile($("#resetPassword"));
        link($("#resetPassword").scope());
        $("#resetPassword").scope().$digest();
    });
});
</script>