<div fm-help help="'drawer_user'" show="show.help" i18n="'zh'"></div>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li>
                <span>{{i18n.user_term_user_label}}</span>
            </li>
            <li class="two-lead">
                <p ng-bind-html="i18n.user_user_view_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="fm-btn-bottom-small clearfix">
            <tiny-button class="major-btn" id="createUserModel.id" disable="createUserModel.disable" ng-hide="createUserModel.disable" text="createUserModel.text" tooltip="createUserModel.tooltip" icons-class="createUserModel.iconsClass" click="createUserModel.create()"></tiny-button>
            <!--刷新、帮助-->
            <div class="pull-right">
                <div class="fl" ng-show="!openstack">
                    <tiny-filtersel id="searchOnlineState.id" values="searchOnlineState.values" width="searchOnlineState.width" default-label="searchOnlineState.dftLabel" change="searchOnlineState.change()">
                    </tiny-filtersel>
                </div>
                <span style="display: inline-block; vertical-align: middle;">
                    <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width" suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength" suggest="searchBox.suggest" search="searchBox.search">
                    </tiny-searchbox>
                </span>
                <a class="btn-link">
                    <div ng-click="refresh.click()" class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div ng-click="show.help=true" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div>
            <tiny-table id="model.id" data="model.datas" columns="model.columns" enable-pagination="model.pagination" pagination-style="model.paginationStyle" length-change="model.lengthChange" length-menu="model.lengthMenu" display-length="model.displayLength" enable-filter="model.enableFilter"
            cur-page="model.curPage" total-records="model.totalRecords" request-config="model.requestConfig" hide-total-records="model.hideTotalRecords" columns-visibility="model.visibility" render-row="model.renderRow" callback="model.callback" change-select="model.changeSelect"
            columns-draggable="true" show-details="model.showDetails"></tiny-table>
        </div>
    </div>
</div>