<div class="row-fluid" id="bindingEip-window" ng-controller="bindingEipCtrl">
    <tiny-formfield>
        <tiny-item label="info.eipDatas.label" require="info.eipDatas.require">
            <tiny-select id="info.eipDatas.id" values="info.eipDatas.value" width="info.eipDatas.width"></tiny-select>
        </tiny-item>
    </tiny-formfield>
    <div class="top5">
        <div class="fm-btn-top-large text-center">
            <tiny-button id="info.okBtn.id" text="info.okBtn.text" click="info.okBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
        </div>
    </div>
</div>
<script type="text/javascript">
    require(["app/business/network/controllers/vlb/bindingEip"], function(bindingEip) {
        var dep = ['ng', bindingEip.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $("#bindingEip-window"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope, exception) {
            $compile($("#bindingEip-window"))($rootScope);
            $rootScope.$digest();
        });
    })
</script>