<div class="row-fluid" id="del-Monitor-window" ng-controller="delListenerCtrl">
    <div>
        <tiny-table id="info.monitorTable.id" data="info.monitorTable.data" columns="info.monitorTable.columns" enable-pagination="info.monitorTable.enablePagination" render-row="info.monitorTable.renderRow"></tiny-table>
    </div>
</div>
<script type="text/javascript">
require(["app/business/network/controllers/vlb/delMonitorWindowModule"], function(delMonitorWindowModule) {
    var dep = ['ng', delMonitorWindowModule.name];
    dep.unshift(["$provide",
        function($provide) {
            $provide.value("$rootElement", $("#del-Monitor-window"));
        }
    ]);
    var $injector = angular.injector(dep);
    $injector.invoke(function($compile, $rootScope) {
        $compile($("#del-Monitor-window"))($rootScope);
        $rootScope.$digest();
    });
})
</script>