<style>
#listBindVm .tiny-checkbox {
    height: 0!important;
}
</style>

<div id="listBindVm" ng-controller="listBindVmCtrl">
    <div ng-show="info.httpVMTable.data.length>0">
        <div class="left11 bottom10">HTTP:</div>
        <tiny-table id="info.httpVMTable.id" data="info.httpVMTable.data" columns="info.httpVMTable.columns" enable-pagination="info.httpVMTable.enablePagination" render-row="info.httpVMTable.renderRow"></tiny-table>
    </div>
    <div ng-show="info.httpsVMTable.data.length>0">
        <div class="left11 top20 bottom10">HTTPS:</div>
        <tiny-table id="info.httpsVMTable.id" data="info.httpsVMTable.data" columns="info.httpsVMTable.columns" enable-pagination="info.httpsVMTable.enablePagination" render-row="info.httpsVMTable.renderRow"></tiny-table>
    </div>
    <div ng-show="info.tcpVMTable.data.length>0">
        <div class="left11 top20 bottom10">TCP:</div>
        <tiny-table id="info.tcpVMTable.id" data="info.tcpVMTable.data" columns="info.tcpVMTable.columns" enable-pagination="info.tcpVMTable.enablePagination" render-row="info.tcpVMTable.renderRow"></tiny-table>
    </div>
    <div class="fm-btn-top-large text-center">
        <tiny-button id="info.okBtn.id" text="info.okBtn.text" click="info.okBtn.click()" class="major-btn"></tiny-button>
        <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
    </div>
</div>
<script type="text/javascript">
require(["app/business/network/controllers/vlb/listBindVmWindowModule"], function(listBindVmWindowModule) {
    var dep = ['ng', listBindVmWindowModule.name];
    dep.unshift(["$provide",
        function($provide) {
            $provide.value("$rootElement", $("#listBindVm"));
        }
    ]);
    var $injector = angular.injector(dep);
    $injector.invoke(function($compile, $rootScope) {
        $compile($("#listBindVm"))($rootScope);
        $rootScope.$digest();
    });
})
</script>