<style>
#modListenersConfig .tiny-checkbox {
    height: 0!important;
}
</style>

<div id="modListenersConfig" ng-controller="modListenersCtrl">
    <div ng-show="info.httpMonitorConfigTable.data.length>0">
        <div class="left11 bottom10">HTTP:</div>
        <div class="table-tiny-box-height">
            <tiny-table id="info.httpMonitorConfigTable.id" data="info.httpMonitorConfigTable.data" columns="info.httpMonitorConfigTable.columns" enable-pagination="info.httpMonitorConfigTable.enablePagination" render-row="info.httpMonitorConfigTable.renderRow"></tiny-table>
        </div>
    </div>
    <div ng-show="info.httpsMonitorConfigTable.data.length>0">
        <div class="left11 top20 bottom10">HTTPS:</div>
        <div class="table-tiny-box-height">
            <tiny-table id="info.httpsMonitorConfigTable.id" data="info.httpsMonitorConfigTable.data" columns="info.httpsMonitorConfigTable.columns" enable-pagination="info.httpsMonitorConfigTable.enablePagination" render-row="info.httpsMonitorConfigTable.renderRow"></tiny-table>
        </div>
    </div>
    <div ng-show="info.tcpMonitorConfigTable.data.length>0">
        <div class="left11 top20 bottom10">TCP:</div>
        <div class="table-tiny-box-height">
            <tiny-table id="info.tcpMonitorConfigTable.id" data="info.tcpMonitorConfigTable.data" columns="info.tcpMonitorConfigTable.columns" enable-pagination="info.tcpMonitorConfigTable.enablePagination" render-row="info.tcpMonitorConfigTable.renderRow"></tiny-table>
        </div>
    </div>
    <div class="fm-btn-top-large text-center">
        <tiny-button id="info.okBtn.id" text="info.okBtn.text" click="info.okBtn.click()" class="major-btn"></tiny-button>
        <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
    </div>
</div>
<script type="text/javascript">
require(["app/business/network/controllers/vlb/modConfigWindowModule"], function(modConfigWindowModule) {
    var dep = ['ng', modConfigWindowModule.name];
    dep.unshift(["$provide",
        function($provide) {
            $provide.value("$rootElement", $("#modListenersConfig"));
        }
    ]);
    var $injector = angular.injector(dep);
    $injector.invoke(function($compile, $rootScope) {
        $compile($("#modListenersConfig"))($rootScope);
        $rootScope.$digest();
    });
})
</script>