<div class="row-fluid" id="mod-sessionpre-window" ng-controller="modSessionPreCtrl">
    <tiny-formfield>
        <tiny-item label="info.sessionPersistenceType.label" require="info.sessionPersistenceType.require">
            <tiny-select id="info.sessionPersistenceType.id" values="info.sessionPersistenceType.value"
                         width="info.sessionPersistenceType.width" change="info.sessionPersistenceType.change()"></tiny-select>
        </tiny-item>
        <tiny-item label="info.cookieName.label" require="info.cookieName.require" display="isAppCookie">
            <tiny-textbox id="info.cookieName.id" value="info.cookieName.value" width="info.cookieName.width"
                          validate="info.cookieName.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button id="info.okBtn.id" text="info.okBtn.text" click="info.okBtn.click()"
                         class="major-btn"></tiny-button>
            <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="text/javascript">
    require(["app/business/network/controllers/vlb/modSessionPreModule"], function (modSessionPreModule) {
        var dep = ['ng', modSessionPreModule.name];
        dep.unshift(["$provide",
            function ($provide) {
                $provide.value("$rootElement", $("#mod-sessionpre-window"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            $compile($("#mod-sessionpre-window"))($rootScope);
            $rootScope.$digest();
        });
    })
</script>