<div class="row-fluid" id="mod-vlb-window" ng-controller="modVlbCtrl">
    <tiny-formfield>
        <tiny-item label="info.name.label" require="info.name.require">
            <tiny-textbox id="info.name.id" value="modData.lbName" validate="info.name.validate" width="info.name.width"></tiny-textbox>
        </tiny-item>
        <tiny-item label="info.maxSession.label" require="info.maxSession.require">
            <tiny-textbox id="info.maxSession.id" value="modData.sessionNum" validate="info.maxSession.validate" width="info.maxSession.width"></tiny-textbox>
        </tiny-item>
        <tiny-item label="info.policyType.label" require="info.policyType.require">
            <tiny-select id="info.policyType.id" values="info.policyType.value" width="info.policyType.width"></tiny-select>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button id="info.okBtn.id" text="info.okBtn.text" click="info.okBtn.click()"
                         class="major-btn"></tiny-button>
            <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="text/javascript">
    require(["app/business/network/controllers/vlb/modVlbBasicInfoModule"], function (modVlbBasicInfoModule) {
        var dep = ['ng', modVlbBasicInfoModule.name];
        dep.unshift(["$provide",
            function ($provide) {
                $provide.value("$rootElement", $("#mod-vlb-window"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            $compile($("#mod-vlb-window"))($rootScope);
            $rootScope.$digest();
        });
    })
</script>