<div class="container-fluid script-detail" ng-controller="template.script.detail.ctrl">

    <div class="innerbox-padding">
        <div class="row-fluid">
            <!--基本信息-->
            <div class="span6">
                <tiny-formfield>
                    <tiny-item label="picture.label">
                        <img src="{{scriptDetail.picture}}" />
                    </tiny-item>
                    <tiny-item label="path.label">
                        <span ng-bind="scriptDetail.destinationPath"></span>
                    </tiny-item>

                    <tiny-item label="version.label">
                        <span ng-bind="scriptDetail.version"></span>
                    </tiny-item>
                    <tiny-item label="command.label">
                        <span ng-bind="scriptDetail.installCommand" class="autoWrap"></span>
                    </tiny-item>

                    <tiny-item label="description.label">
                        <span ng-bind="scriptDetail.description" class="autoWrap"></span>
                    </tiny-item>
                </tiny-formfield>
            </div>
        </div>
    </div>

</div>
<script>
require(["sprintf",  'tiny-lib/jquery', 'tiny-lib/angular', "language/keyID",'app/business/template/controllers/scriptDetailModel'],
    function(sprintf, $, angular, keyIDI18n,scriptDetailModel) {
        var curView = undefined;
        $(".script-detail").each(function() {
            if ($(this).attr("id") === undefined) {
                curView = $(this);
            }
        });
        curView.attr("id", new Date().getMilliseconds());

        //编译(编译前scope是父页面继承来的)
        var scope = curView.scope();
        var dep = ['ng', 'wcc', scriptDetailModel.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", curView);
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            keyIDI18n.sprintf = sprintf.sprintf;
            $rootScope.i18n = keyIDI18n;
            $compile(curView)($rootScope);
            $rootScope.$digest();
        });

        //查询详细信息 (编译后scope是新new出来的)
        var currId = scope.currentItem.id;
        var cloudInfraId = scope.currentItem.cloudInfraId;
        var newScope = curView.scope();
        newScope.queryDetail(currId, cloudInfraId);
    });
</script>