<div id="system-layout">
    <div class="tiny-layout-container">
        <div class="tiny-layout-west">
            <ul>
                <li>
                    <div class="tiny-layout-title">
                        <div class="row-fluid nosidedown-txt">
                            <div class="span4">
                                <div class="title-icon layout-icon-system"></div>
                            </div>
                            <div class="span8">
                                <p class="title-text">系统</p>
                            </div>
                        </div>
                    </div>
                    <div class="tiny-layout-head" ui-sref="system.timeManage">
                        系统配置
                    </div>
                    <ul>
                        <li>
                            <a ui-sref="system.snmpManage">SNMP管理站</a>
                        </li>
                        <li>
                            <a ui-sref="system.backupSetting">备份设定</a>
                        </li>
                        <li>
                            <a ui-sref="system.licenseManage">License管理</a>
                        </li>
                        <li>
                            <a ui-sref="system.timeManage">时间管理</a>
                        </li>
                        <li>
                            <a ng-show="deployMode != 'top' && !openstack" ui-sref="system.disasterManageIp">容灾管理节点</a>
                        </li>
                    </ul>
                </li>
                <li ng-show="!openstack">
                    <div class="tiny-layout-head"  ng-show="!openstack" ui-sref="system.taskCenter">任务与日志</div>
                    <ul>
                        <li><a ui-sref="system.taskCenter"  ng-show="!openstack">任务中心</a></li>
                        <li><a ui-sref="system.operatorLog">操作日志</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="tiny-layout-center">
            <div ui-view id="view-content">
            </div>
        </div>
    </div>
</div>

