<fm-help help="'drawer_keystone'" show="show.help" i18n="'zh'"></fm-help>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li>
                <span ng-bind-html="i18n.user_term_setkeystone_label"></span>
            </li>
            <li class="two-lead">
                <p ng-bind-html="i18n.user_keystone_view_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="outbox-padding content-right-box padding-top19">
        <div id="keystoneConfig">
            <div class="pull-right">
                <a class="btn-link">
                    <div title="{{ i18n.common_term_onlinehelp_label }}" ng-click="show.help=true" class="small-icon small-icon-help"></div>
                </a>
            </div>
            <div>
                <tiny-formfield>
                    <tiny-item label="url.label" require="url.require">
                        <tiny-textbox id="url.id" value="url.value" readonly="url.readonly" type="url.type" validate="url.validate"></tiny-textbox>
                        <span popover="{{i18n.user_keystone_set_para_URL_mean_tip}}" popover-trigger="mouseenter" class="small-icon small-icon-tips"></span>
                    </tiny-item>
                    <tiny-item label="defaultProject.label" require="defaultProject.require">
                        <tiny-textbox id="defaultProject.id" value="defaultProject.value" readonly="defaultProject.readonly" type="defaultProject.type" validate="defaultProject.validate"></tiny-textbox>
                        <span popover="{{i18n.user_keystone_set_para_defaultProject_mean_tip}}" popover-trigger="mouseenter" class="small-icon small-icon-tips"></span>
                    </tiny-item>
                    <tiny-item label="name.label" require="name.require">
                        <tiny-textbox id="name.id" value="name.value" readonly="name.readonly" type="name.type" validate="name.validate"></tiny-textbox>
                        <span popover="{{i18n.user_keystone_set_para_userName_mean_tip}}" popover-trigger="mouseenter" class="small-icon small-icon-tips"></span>
                    </tiny-item>
                    <tiny-item label="password.label" require="password.require">
                        <tiny-textbox id="password.id" value="password.value" readonly="password.readonly" type="password.type" validate="password.validate"></tiny-textbox>
                        <span popover="{{i18n.user_keystone_set_para_psw_mean_tip}}" popover-trigger="mouseenter" class="small-icon small-icon-tips"></span>
                    </tiny-item>
                    <tiny-item label="confirmPassword.label" require="confirmPassword.require">
                        <tiny-textbox id="confirmPassword.id" value="confirmPassword.value" readonly="confirmPassword.readonly" type="confirmPassword.type" validate="confirmPassword.validate" extend-function="confirmPassword.extendFunction"></tiny-textbox>
                    </tiny-item>
                    <tiny-item>
                        <div display="openstack" class="fm-btn-top-small"  ng-if="hasKeystoneOperateRight">
                            <tiny-button class="major-btn" id="saveBtn.id" text="saveBtn.text" click="saveBtn.save()"></tiny-button>
                        </div>
                    </tiny-item>
                </tiny-formfield>
            </div>
        </div>
    </div>
</div>
