<div fm-help help="'drawer_user_psw'" show="show.help" i18n="'zh'"></div>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li>
                <span>{{i18n.user_term_pswPolicy_label}}</span>
            </li>
            <li class="two-lead">
                <p ng-bind-html="i18n.user_policy_view_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box outbox-padding padding-top19">
        <div class="pull-right">
            <a class="btn-link">
                <div title="{{ i18n.common_term_onlinehelp_label }}" ng-click="show.help=true" class="small-icon small-icon-help"></div>
            </a>
        </div>
        <div id="password_policy">
            <div>
                <tiny-formfield>
                    <tiny-item label="minLength.label" require="minLength.require">
                        <tiny-textbox id="minLength.id" value="minLength.value" tooltip="minLength.tooltip" readonly="minLength.readonly" validate="minLength.validate" disable="!hasPWDOperateRight"></tiny-textbox>
                    </tiny-item>
                    <tiny-item label="maxLength.label" require="maxLength.require">
                        <tiny-textbox id="maxLength.id" value="maxLength.value" tooltip="maxLength.tooltip" readonly="maxLength.readonly" validate="maxLength.validate" disable="!hasPWDOperateRight"></tiny-textbox>
                    </tiny-item>
                    <tiny-item label="containSC.label" require="containSC.require">
                        <tiny-select id="containSC.id" values="containSC.values" width="containSC.width" disable="!hasPWDOperateRight"></tiny-select>
                    </tiny-item>
                    <tiny-item label="containUN.label" require="containUN.require">
                        <tiny-select id="containUN.id" values="containUN.values" width="containUN.width" disable="!hasPWDOperateRight"></tiny-select>
                    </tiny-item>
                    <tiny-item label="reuseNum.label" require="reuseNum.require">
                        <tiny-textbox id="reuseNum.id" value="reuseNum.value" tooltip="reuseNum.tooltip" readonly="reuseNum.readonly" validate="reuseNum.validate" disable="!hasPWDOperateRight"></tiny-textbox>
                    </tiny-item>
                    <tiny-item label="validity.label" require="validity.require">
                        <tiny-textbox id="validity.id" value="validity.value" tooltip="validity.tooltip" readonly="validity.readonly" validate="validity.validate" disable="!hasPWDOperateRight"></tiny-textbox>
                    </tiny-item>
                    <tiny-item label="forciblyModifyPassword.label" require="forciblyModifyPassword.require">
                        <tiny-select id="forciblyModifyPassword.id" values="forciblyModifyPassword.values" width="forciblyModifyPassword.width" disable="!hasPWDOperateRight"></tiny-select>
                    </tiny-item>
                    <tiny-item label="minInterval.label" require="minInterval.require">
                        <tiny-textbox id="minInterval.id" value="minInterval.value" tooltip="minInterval.tooltip" readonly="minInterval.readonly" validate="minInterval.validate" disable="!hasPWDOperateRight"></tiny-textbox>
                    </tiny-item>
                    <tiny-item label="hintDays.label" require="hintDays.require">
                        <tiny-textbox id="hintDays.id" value="hintDays.value" tooltip="hintDays.tooltip" readonly="hintDays.readonly" validate="hintDays.validate" disable="!hasPWDOperateRight"></tiny-textbox>
                    </tiny-item>
                </tiny-formfield>
                <form>
                    <fieldset style="border: 1px dotted #dadada;width: 500px;padding-left: 15px;padding-bottom: 10px;margin-bottom: 10px;">
                        <legend style="width: auto;height: auto;border-bottom: 0px; font-size: 12px;padding: 0px 15px;">{{i18n.user_policy_set_para_lockCondition_label}}</legend>
                        <div style="margin-left:5px;">
                        <tiny-formfield>
                            <tiny-item label="wrongPassNum.label" require="wrongPassNum.require">
                                <tiny-textbox id="wrongPassNum.id" value="wrongPassNum.value" readonly="wrongPassNum.readonly" validate="wrongPassNum.validate" disable="!hasPWDOperateRight"></tiny-textbox>
                            </tiny-item>
                            <tiny-item label="wrongPassPeriod.label" require="wrongPassPeriod.require">
                                <tiny-textbox id="wrongPassPeriod.id" value="wrongPassPeriod.value" readonly="wrongPassPeriod.readonly" validate="wrongPassPeriod.validate" disable="!hasPWDOperateRight"></tiny-textbox>
                            </tiny-item>
                        </tiny-formfield>
                        </div>
                        <div class="color2 left15">{{i18n.user_policy_set_para_lock_mean_tip}}</div>
                    </fieldset>
                </form>

                <tiny-formfield>
                    <tiny-item label="lockDuration.label" require="lockDuration.require">
                        <tiny-textbox id="lockDuration.id" value="lockDuration.value" readonly="lockDuration.readonly" validate="lockDuration.validate" disable="!hasPWDOperateRight"></tiny-textbox>
                    </tiny-item>
                    <tiny-item>
                        <div class="fm-btn-top-small" ng-if="hasPWDOperateRight">
                            <tiny-button class="major-btn" id="saveBtn.id" text="saveBtn.text" click="saveBtn.save()"></tiny-button>
                        </div>
                    </tiny-item>
                </tiny-formfield>
            </div>
        </div>
    </div>
</div>
