<div id="createMacRangeDiv">
    <tiny-formfield>
        <tiny-item></tiny-item>
        <tiny-item label="startMacTextBox.label" require="startMacTextBox.require">
            <tiny-textbox id="startMacTextBox.id" value="startMacTextBox.value"
                          extend-function="startMacTextBox.extendFunction"
                          validate="startMacTextBox.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="endMacTextBox.label" require="endMacTextBox.require">
            <tiny-textbox id="endMacTextBox.id" value="endMacTextBox.value"
                          extend-function="endMacTextBox.extendFunction"
                          validate="endMacTextBox.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button id="okButton.id" text="okButton.text" click="okButton.click()" class="major-btn"></tiny-button>
            <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>

<script type="application/javascript">
    require(['app/business/resources/controllers/openStackResource/mac/createMacRangeCtrl'],
            function (createMacRangeCtrl) {
                $("#createMacRangeDiv").attr("ng-controller", "resources.mac.createMacRange.ctrl");
                var dep = ['ng', 'wcc', createMacRangeCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#createMacRangeDiv"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile($("#createMacRangeDiv"))($rootScope);
                    $rootScope.$digest();
                });
            });
</script>