<div id="hostDetailDiv" class="row-fluid innerbox-padding" ng-controller="vdcMgr.migrateServer.hostDetail.ctrl">
    <div class="span4">
        <tiny-formfield>
            <tiny-item label="label.cpu">
            </tiny-item>
            <tiny-item label="label.total">
                <div ng-bind="info.cpu.total"></div>
            </tiny-item>
            <tiny-item label="label.used">
                <div ng-bind="info.cpu.used"></div>
            </tiny-item>
            <tiny-item label="label.free">
                <div ng-bind="info.cpu.free"></div>
            </tiny-item>
        </tiny-formfield>
    </div>
    <div class="span4">
        <tiny-formfield>
            <tiny-item label="label.memory">
            </tiny-item>
            <tiny-item label="label.total">
                <div ng-bind="info.memory.total + ' MB'"></div>
            </tiny-item>
            <tiny-item label="label.used">
                <div ng-bind="info.memory.used + ' MB'"></div>
            </tiny-item>
            <tiny-item label="label.free">
                <div ng-bind="info.memory.free + ' MB'"></div>
            </tiny-item>
        </tiny-formfield>
    </div>
    <div class="span4">
        <tiny-formfield>
            <tiny-item label="label.disk">
            </tiny-item>
            <tiny-item label="label.total">
                <div ng-bind="info.disk.total + ' GB'"></div>
            </tiny-item>
            <tiny-item label="label.used">
                <div ng-bind="info.disk.used + ' GB'"></div>
            </tiny-item>
            <tiny-item label="label.free">
                <div ng-bind="info.disk.free + ' GB'"></div>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>
<script>
    require(['jquery',
        'app/business/resources/controllers/openStackResource/server/hostDetailCtrl'],
            function ($, hostDetailCtrl) {
                //替换ID，使ID唯一
                var lineNum = $("#hostDetailDiv").parent().parent().parent().prev().attr("lineNum");
                var hostId = $("#hostDetailDiv").parent().parent().parent().prev().attr("hostId");
                var id = "hostDetailDiv_" + lineNum;
                $("#hostDetailDiv").attr("id", id);

                //编译
                var dep = ['ng', 'wcc', hostDetailCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#" + id));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile($("#" + id))($rootScope);
                    $rootScope.$digest();
                });
                $("#" + id).scope().getHostInfo(hostId, id);
            });
</script>