<div id="migrateVmDiv">
    <div>
        <tiny-table id="hostTable.id" data="hostTable.data" columns-draggable="hostTable.columnsDraggable"
                    columns='hostTable.columns' render-row="hostTable.renderRow" show-details="hostTable.showDetails"
                    enable-pagination="hostTable.enablePagination"  change-select="hostTable.changeSelect"
                    length-menu="hostTable.lengthMenu" callback="hostTable.callback"
                    display-length="hostTable.displayLength" length-change="hostTable.lengthChange"
                    pagination-style="hostTable.paginationStyle" total-records="hostTable.totalRecords"></tiny-table>
    </div>
    <div class="blank_10 clear_both"></div>
    <div class="clear_both">
        <tiny-button class="major-btn" id="okButton.id" text="okButton.text" click="okButton.click()"></tiny-button>
        <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
    </div>
</div>
<script type="application/javascript">
    require(["app/business/resources/controllers/openStackResource/server/migrateVmCtrl"], function (migrateVmCtrl) {
        var rootElement = $("#migrateVmDiv");
        rootElement.attr("ng-controller", "vdcMgr.server.migrateVm.ctrl");
        var dep = ['ng', 'wcc', migrateVmCtrl.name];
        dep.unshift(["$provide", function ($provide) {
            $provide.value("$rootElement", rootElement);
        }]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            $compile(rootElement)($rootScope);
            $rootScope.$digest();
        });
    });
</script>