<div ng-controller="basicCtrl" class="create-page-distance">
    <div class="line-height22 color2">
        <p ng-bind-html="i18n.template_software_batchInstall_para_para_mean_label"></p>
    </div>

    <div>
        <div class="row-fluid" id="batchInstallSoftwareBaseInfo">
            <tiny-formfield>
                <span class="createpage-title">{{i18n.template_term_softBasicInfo_label}}:</span>
                <tiny-item label="info.name.label">
                    <span ng-bind="packageDetail.name"></span>
                </tiny-item>
                <tiny-item label="info.OSType.label">
                    <span ng-bind="packageDetail.osType"></span>
                </tiny-item>
                <tiny-item label="info.softwareType.label">
                    <span ng-bind="packageDetail.fileType"></span>
                </tiny-item>
                <tiny-item label="info.version.label">
                    <span ng-bind="packageDetail.version"></span>
                </tiny-item>
                <tiny-item label="info.desc.label">
                    <span ng-bind="packageDetail.description"></span>
                </tiny-item>
            </tiny-formfield>

            <span class="createpage-title">{{i18n.common_term_customPara_label}}:</span>
            <tiny-formfield>
                <tiny-item label="info.installCmd.label">

                    <div class="bottom10">
                        <span>{{i18n.common_term_installCmd_label}}:</span>
                        <span ng-bind="installCommand"></span>
                    </div>
                    <div style="width: 100%;">
                        <!-- 自定义表格 -->
                        <table class="complexTable" style="width: 700px;">
                            <tr>
                                <th style="width: 200px;">{{i18n.common_term_paraName_label}}</th>
                                <th style="width: 500px;">{{i18n.common_term_paraValue_label}}</th>
                            </tr>
                            <tbody>
                                <tr ng-if="packageDetail.installCommand.length == 0" class="complexTable-empty-tr">
                                    <td colspan="3">No data available in table</td>
                                </tr>
                                <tr class="complexTable-tr" ng-repeat="params in packageDetail.installCommand">
                                    <td>
                                        <span ng-bind="params.name"></span>
                                    </td>
                                    <td>
                                        <fm-text value="params.value" valid="checkParam(params.value)" tip="i18n.sprintf(i18n.common_term_length_valid, 1, 256)" length="256" width="200"></fm-text>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </tiny-item>

                <tiny-item label="info.unInstallCmd.label">

                    <div class="bottom10">
                        <span>{{i18n.common_term_uninstallCmd_label}}:</span>
                        <span ng-bind="unInstallCommand"></span>
                    </div>
                    <div style="width: 100%;">
                        <!-- 自定义表格 -->
                        <table class="complexTable" style="width: 700px;">
                            <tr>
                                <th style="width: 200px;">{{i18n.common_term_paraName_label}}</th>
                                <th style="width: 500px;">{{i18n.common_term_paraValue_label}}</th>
                            </tr>
                            <tbody>
                                <tr ng-if="packageDetail.unInstallCommand.length == 0" class="complexTable-empty-tr">
                                    <td colspan="3">No data available in table</td>
                                </tr>
                                <tr class="complexTable-tr" ng-repeat="params in packageDetail.unInstallCommand">
                                    <td>
                                        <span ng-bind="params.name"></span>
                                    </td>
                                    <td>
                                        <fm-text value="params.value" valid="checkParam(params.value)" tip="i18n.sprintf(i18n.common_term_length_valid, 1, 256)" length="256" width="200"></fm-text>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </tiny-item>

                <tiny-item label="info.startCmd.label">
                    <div class="bottom10">
                        <span>{{i18n.common_term_startupCmd_label}}:</span>
                        <span ng-bind="startCommand"></span>
                    </div>
                    <div style="width: 100%;">
                        <!-- 自定义表格 -->
                        <table class="complexTable" style="width: 700px;">
                            <tr>
                                <th style="width: 200px;">{{i18n.common_term_paraName_label}}</th>
                                <th style="width: 500px;">{{i18n.common_term_paraValue_label}}</th>
                            </tr>
                            <tbody>
                                <tr ng-if="packageDetail.startCommand.length == 0" class="complexTable-empty-tr">
                                    <td colspan="3">No data available in table</td>
                                </tr>
                                <tr class="complexTable-tr" ng-repeat="params in packageDetail.startCommand">
                                    <td>
                                        <span ng-bind="params.name"></span>
                                    </td>
                                    <td>
                                        <fm-text value="params.value" valid="checkParam(params.value)" tip="i18n.sprintf(i18n.common_term_length_valid, 1, 256)" length="256" width="200"></fm-text>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </tiny-item>

                <tiny-item label="info.stopCmd.label">
                    <div class="bottom10">
                        <span>{{i18n.common_term_StopCmd_label}}:</span>
                        <span ng-bind="stopCommand"></span>
                    </div>
                    <div style="width: 100%;">
                        <!-- 自定义表格 -->
                        <table class="complexTable" style="width: 700px;">
                            <tr>
                                <th style="width: 200px;">{{i18n.common_term_paraName_label}}</th>
                                <th style="width: 500px;">{{i18n.common_term_paraValue_label}}</th>
                            </tr>
                            <tbody>
                                <tr ng-if="packageDetail.stopCommand.length == 0" class="complexTable-empty-tr">
                                    <td colspan="3">No data available in table</td>
                                </tr>
                                <tr class="complexTable-tr" ng-repeat="params in packageDetail.stopCommand">
                                    <td>
                                        <span ng-bind="params.name"></span>
                                    </td>
                                    <td>
                                        <fm-text value="params.value" valid="checkParam(params.value)" tip="i18n.sprintf(i18n.common_term_length_valid, 1, 256)" length="256" width="200"></fm-text>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </tiny-item>
            </tiny-formfield>
            <div class="fm-btn-top-small">
                <tiny-button id="info.nextBtn.id" text="info.nextBtn.text" click="info.nextBtn.click()" class="major-btn"></tiny-button>
                <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
            </div>
        </div>
    </div>

</div>
