<div ng-controller="confirmCtrl" class="create-page-distance">
    <div class="line-height22 color2">
        <p ng-bind-html="i18n.common_term_stepEnd_msg"></p>
    </div>
    <div>
        <tiny-formfield>
            <span class="createpage-title">{{i18n.template_term_softBasicInfo_label}}:</span>
            <tiny-item label="info.name.label">
                <span ng-bind="packageDetail.name"></span>
            </tiny-item>
            <tiny-item label="info.OSType.label">
                <span ng-bind="packageDetail.osType"></span>
            </tiny-item>
            <tiny-item label="info.softwareType.label">
                <span ng-bind="packageDetail.fileType"></span>
            </tiny-item>
            <tiny-item label="info.version.label">
                <span ng-bind="packageDetail.version"></span>
            </tiny-item>
            <tiny-item label="info.desc.label">
                <span ng-bind="packageDetail.description"></span>
            </tiny-item>
        </tiny-formfield>
        <tiny-formfield>
            <span class="createpage-title">{{i18n.common_term_customPara_label}}:</span>
            <tiny-item label="info.installCmd.label">
                <span ng-bind="installCommand"></span>
            </tiny-item>

            <tiny-item label="info.unInstallCmd.label">
                <span ng-bind="unInstallCommand"></span>
            </tiny-item>

            <tiny-item label="info.startCmd.label">
                <span ng-bind="startCommand"></span>
            </tiny-item>

            <tiny-item label="info.stopCmd.label">
                <span ng-bind="stopCommand"></span>
            </tiny-item>
        </tiny-formfield>

        <tiny-formfield>
            <span class="createpage-title none-line">{{i18n.common_term_vms_label}}:</span>
            <tiny-item>
                <div id="vmTable" class="span8 left-10">
                    <tiny-table id="vmTableList.id" data="vmTableList.data" columns="vmTableList.columns" pagination-style="vmTableList.paginationStyle" enable-pagination="vmTableList.enablePagination" length-change="vmTableList.lengthChange" length-menu="vmTableList.lengthMenu" display-length="vmTableList.displayLength"
                    enable-filter="vmTableList.enableFilter" total-records="vmTableList.totalRecords" render-row="vmTableList.renderRow" columns-visibility="false" columns-draggable="false" callback="vmTableList.callback" change-select="vmTableList.changeSelect"></tiny-table>
                </div>
            </tiny-item>
        </tiny-formfield>
        <div class="fm-btn-top-small">
            <tiny-button id="info.preBtn.id" text="info.preBtn.text" click="info.preBtn.click()"></tiny-button>
            <tiny-button id="info.saveBtn.id" text="info.saveBtn.text" click="info.saveBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
        </div>

    </div>

</div>