<div id="createDiskDiv">
    <tiny-formfield>
        <tiny-item label="name.label">
            <tiny-textbox id="name.id" value="name.value" width="name.width" validate="name.validate" extend-function="name.extendFunction"></tiny-textbox>
        </tiny-item>

        <tiny-item label="az.label" require="az.require">
            <tiny-select id="az.id" values="az.values" width="az.width" change="az.change()" validate="az.validate">
            </tiny-select>
        </tiny-item>

        <tiny-item label="capacity.label" require="capacity.require">
            <tiny-textbox id="capacity.id" value="capacity.value" width="capacity.width"
                          tooltip="capacity.tips" validate="capacity.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button class="major-btn" id="okButton.id" text="okButton.text" click="okButton.click()"
                         disable="okButton.disable"></tiny-button>
            <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="application/javascript">
    require(["app/business/resources/controllers/openStackResource/volumes/createVolumeCtrl"], function (createVolumeCtrl) {
        var rootElement = $("#createDiskDiv");
        rootElement.attr("ng-controller", "vdcMgr.vdc.volumes.create.ctrl");
        var dep = ['ng', 'wcc', createVolumeCtrl.name];
        dep.unshift(["$provide", function ($provide) {
            $provide.value("$rootElement", rootElement);
        }]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            $compile(rootElement)($rootScope);
            $rootScope.$digest();
        });
    });
</script>