<div id="modifyDiskDiv" class="alert-tip-first">
    <tiny-formfield>
        <tiny-item label="name.label">
            <tiny-textbox id="name.id" value="name.value" width="name.width" validate="name.validate" extend-function="name.extendFunction"></tiny-textbox>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button id="okButton.id" text="okButton.text" click="okButton.click()"
                         disable="okButton.disable" class="major-btn"></tiny-button>
            <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="application/javascript">
    require(["app/business/resources/controllers/openStackResource/volumes/modifyVolumeCtrl"], function (modifyVolumeCtrl) {
        var rootElement = $("#modifyDiskDiv");
        rootElement.attr("ng-controller", "vdcMgr.vdc.volumes.modify.ctrl");
        var dep = ['ng', 'wcc', modifyVolumeCtrl.name];
        dep.unshift(["$provide", function ($provide) {
            $provide.value("$rootElement", rootElement);
        }]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            $compile(rootElement)(rootElement.scope());
            rootElement.scope().$digest();
        });
    });
</script>