<div id="network_ACLs_create_ACLsRule" ng-controller="network.acls.createAclsCtrl" class="alert-tip-first">
    <div ng-if="isIT">
    <tiny-formfield>
        <tiny-item label="rule.ruleNo.label" require="rule.ruleNo.require">
            <tiny-textBox id="rule.ruleNo.id" value="rule.ruleNo.value" tooltip="rule.ruleNo.tooltip" width="rule.ruleNo.width" validate="rule.ruleNo.validate"></tiny-textBox>
        </tiny-item>
        <tiny-item label="rule.ruleType.label" require="rule.ruleType.require">
            <tiny-radiogroup id="rule.ruleType.id" values="rule.ruleType.value" layout="rule.ruleType.layout" change="rule.ruleType.change()">
            </tiny-radiogroup>
        </tiny-item>
        <tiny-item label="rule.protocol.label" require="rule.protocol.require">
            <tiny-select id="rule.protocol.id" values="rule.protocol.value" width="rule.protocol.width" change="rule.protocol.change()">
            </tiny-select>
        </tiny-item>
        <tiny-item label="rule.outerZone.label" require="rule.outerZone.require" display="isOuterZoneShow">
            <tiny-select id="rule.outerZone.id" values="rule.outerZone.value" change="rule.outerZone.change()" width="rule.outerZone.width">
            </tiny-select>
        </tiny-item>
        <tiny-item label="rule.routeNet.label" require="rule.routeNet.require" display="isRouteNetShow">
            <tiny-select id="rule.routeNet.id" values="rule.routeNet.value" width="rule.routeNet.width" height="rule.routeNet.height"></tiny-select>
        </tiny-item>
        <tiny-item label="rule.eip.label" require="rule.eip.require" display="isEipShow">
            <tiny-select id="rule.eip.id" values="rule.eip.value" width="rule.eip.width" height="rule.eip.height"></tiny-select>
        </tiny-item>
        <tiny-item label="rule.subnetIp.label" require="rule.subnetIp.require">
            <tiny-ip id="rule.subnetIp.id" value="rule.subnetIp.value" type="rule.subnetIp.type" width="rule.subnetIp.width" validate="rule.subnetIp.validate" extend-function="rule.subnetIp.extendFunction"></tiny-ip>
        </tiny-item>
        <tiny-item label="rule.subnetMask.label" require="rule.subnetMask.require">
            <tiny-ip id="rule.subnetMask.id" value="rule.subnetMask.value" type="rule.subnetMask.type" width="rule.subnetMask.width" validate="rule.subnetMask.validate" extend-function="rule.subnetMask.extendFunction"></tiny-ip>
        </tiny-item>
        <tiny-item label="rule.portRange.label" require="rule.portRange.require" display="isPortRangeShow">
            <tiny-textBox id="rule.portRange.fromPort.id" value="rule.portRange.fromPort.value" width="rule.portRange.fromPort.width" validate="rule.portRange.fromPort.validate"></tiny-textBox>
            <span>-</span>
            <tiny-textBox id="rule.portRange.toPort.id" value="rule.portRange.toPort.value" width="rule.portRange.toPort.width" validate="rule.portRange.toPort.validate" extend-function="rule.portRange.toPort.extendFunction"></tiny-textBox>
        </tiny-item>
        <tiny-item label="rule.ICMPType.label" require="rule.ICMPType.require" display="isICMPTypeShow">
            <tiny-select id="rule.ICMPType.id" values="rule.ICMPType.value" change="rule.ICMPType.change()" width="rule.ICMPType.width"></tiny-select>
        </tiny-item>
        <tiny-item label="rule.tactics.label" require="rule.tactics.require">
            <tiny-select id="rule.tactics.id" values="rule.tactics.value" width="rule.tactics.width" change="rule.tactics.change()"></tiny-select>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button id="rule.createBtn.id" text="rule.createBtn.text" click="rule.createBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="rule.cancelBtn.id" text="rule.cancelBtn.text" click="rule.cancelBtn.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
    <div ng-if="!isIT">
        <tiny-formfield>
            <tiny-item label="rule.innerZoneICT.label" require="rule.innerZoneICT.require">
                <tiny-select id="rule.innerZoneICT.id" values="rule.innerZoneICT.value" width="rule.innerZoneICT.width" change="rule.innerZoneICT.change()">
                </tiny-select>
            </tiny-item>
            <tiny-item label="rule.outZoneICT.label" require="rule.outZoneICT.require">
                <tiny-select id="rule.outZoneICT.id" values="rule.outZoneICT.value" width="rule.outZoneICT.width" change="rule.outZoneICT.change()">
                </tiny-select>
            </tiny-item>
            <tiny-item label="rule.protocol.label" require="rule.protocol.require">
                <tiny-select id="rule.protocol.id" values="rule.protocol.value" width="rule.protocol.width" change="rule.protocol.change()">
                </tiny-select>
            </tiny-item>
            <tiny-item label="rule.directionICT.label" require="rule.directionICT.require">
                <tiny-select id="rule.directionICT.id" values="rule.directionICT.value" width="rule.directionICT.width" change="rule.directionICT.change()">
                </tiny-select>
            </tiny-item>
            <tiny-item label="rule.sSubnetIp.label" require="rule.sSubnetIp.require">
                <tiny-ip id="rule.sSubnetIp.id" value="rule.sSubnetIp.value" type="rule.sSubnetIp.type" width="rule.sSubnetIp.width" validate="rule.sSubnetIp.validate" extend-function="rule.sSubnetIp.extendFunction"></tiny-ip>
            </tiny-item>
            <tiny-item label="rule.sSubnetMask.label" require="rule.sSubnetMask.require">
                <tiny-ip id="rule.sSubnetMask.id" value="rule.sSubnetMask.value" type="rule.sSubnetMask.type" width="rule.sSubnetMask.width" validate="rule.sSubnetMask.validate" extend-function="rule.sSubnetMask.extendFunction"></tiny-ip>
            </tiny-item>
            <tiny-item label="rule.sPortRange.label" require="rule.sPortRange.require" display="sPortRangeShow">
                <tiny-textBox id="rule.sPortRange.fromPort.id" value="rule.sPortRange.fromPort.value" width="rule.sPortRange.fromPort.width" validate="rule.sPortRange.fromPort.validate"></tiny-textBox>
                <span>-</span>
                <tiny-textBox id="rule.sPortRange.toPort.id" value="rule.sPortRange.toPort.value" width="rule.sPortRange.toPort.width" validate="rule.sPortRange.toPort.validate" extend-function="rule.sPortRange.toPort.extendFunction"></tiny-textBox>
            </tiny-item>
            <tiny-item label="rule.dSubnetIp.label" require="rule.dSubnetIp.require">
                <tiny-ip id="rule.dSubnetIp.id" value="rule.dSubnetIp.value" type="rule.dSubnetIp.type" width="rule.dSubnetIp.width" validate="rule.dSubnetIp.validate" extend-function="rule.dSubnetIp.extendFunction"></tiny-ip>
            </tiny-item>
            <tiny-item label="rule.dSubnetMask.label" require="rule.dSubnetMask.require">
                <tiny-ip id="rule.dSubnetMask.id" value="rule.dSubnetMask.value" type="rule.dSubnetMask.type" width="rule.dSubnetMask.width" validate="rule.dSubnetMask.validate" extend-function="rule.dSubnetMask.extendFunction"></tiny-ip>
            </tiny-item>
            <tiny-item label="rule.dPortRange.label" require="rule.dPortRange.require" display="dPortRangeShow">
                <tiny-textBox id="rule.dPortRange.fromPort.id" value="rule.dPortRange.fromPort.value" width="rule.dPortRange.fromPort.width" validate="rule.dPortRange.fromPort.validate"></tiny-textBox>
                <span>-</span>
                <tiny-textBox id="rule.dPortRange.toPort.id" value="rule.dPortRange.toPort.value" width="rule.dPortRange.toPort.width" validate="rule.dPortRange.toPort.validate" extend-function="rule.dPortRange.toPort.extendFunction"></tiny-textBox>
            </tiny-item>
            <tiny-item label="rule.tactics.label" require="rule.tactics.require">
                <tiny-select id="rule.tactics.id" values="rule.tactics.value" width="rule.tactics.width" change="rule.tactics.change()"></tiny-select>
            </tiny-item>
            <tiny-item class="fm-btn-top-small">
                <tiny-button id="rule.createBtn.id" text="rule.createBtn.text" click="rule.createBtn.click()" class="major-btn"></tiny-button>
                <tiny-button id="rule.cancelBtn.id" text="rule.cancelBtn.text" click="rule.cancelBtn.click()"></tiny-button>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>
<script type="application/javascript">
require(['app/business/network/controllers/acls/aclsCreateRuleCtrl'], function(aclsCreateRuleCtrl) {
    var dep = ['ng', aclsCreateRuleCtrl.name];
    dep.unshift(["$provide",
        function($provide) {
            $provide.value("$rootElement", $("#network_ACLs_create_ACLsRule"));
        }
    ]);
    var $injector = angular.injector(dep);
    $injector.invoke(function($compile, $rootScope) {
        $compile($("#network_ACLs_create_ACLsRule"))($rootScope);
        $rootScope.$digest();
    });
});
</script>