<div fm-help help="'drawer_vlb'" show="show.help" i18n="'zh'"></div>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="breadcrumb">
            <li>
                <a ui-sref="resources.rpool.zone">{{i18n.resource_term_zones_label}}</a> <span class="divider">&gt;</span>
            </li>
            <li>
                <a ui-sref="resources.zoneResources.summary.zoneSummary">{{zoneInfo.zoneName}}</a> <span class="divider">&gt;</span>
            </li>
            <li>
                <a ui-sref="resources.zoneResources.networkSummary">{{i18n.resource_term_netPools_label}}</a> <span
                    class="divider">&gt;</span>
            </li>
            <li class="active"><span class="divider">VLB</span></li>
            <li class="crumbs_line"></li>
        </ul>
    </div>
    <!--刷新、列选择、帮助-->
    <div class="content-right-box">
        <div class="clearfix bottom10">
            <div class="pull-right">
        <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
           <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width"
                           suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength"
                           suggest="searchBox.suggest" search="searchBox.search">
           </tiny-searchbox>
         </span>
                <a class="btn-link">
                    <div ng-click="refresh.refresh()" id="refresh.id" title="{{i18n.common_term_fresh_button}}"
                         class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div ng-click="show.help=true" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div class="margin-top-beautifier">
            <tiny-table id="vlbPoolTable.id" caption="vlbPoolTable.caption" data="vlbPoolTable.data"
                        columns="vlbPoolTable.columns"
                        enable-pagination="vlbPoolTable.enablePagination"
                        pagination-style="vlbPoolTable.paginationStyle" length-change="vlbPoolTable.lengthChange"
                        length-menu="vlbPoolTable.lengthMenu" display-length="vlbPoolTable.displayLength"
                        enable-filter="vlbPoolTable.enableFilter"
                        cur-page="vlbPoolTable.curPage" total-records="vlbPoolTable.totalRecords"
                        hide-total-records="vlbPoolTable.hideTotalRecords"
                        callback="vlbPoolTable.callback" render-row="vlbPoolTable.renderRow"
                        change-select="vlbPoolTable.changeSelect"
                        show-details="vlbPoolTable.showDetails"
                        columns-draggable="vlbPoolTable.columnsDraggable"></tiny-table>
        </div>
    </div>
</div>