<div>
    <div id="distributeSoftwareBaseInfo">
        <div class="row-fluid">
            <div class="span5">
                <tiny-formfield>
                    <tiny-item label="name.label" require="name.require">
                        <div class="over-flow-style" style="width: 500px;">
                            <span ng-bind="service.model.name" title="{{ service.model.name }}"></span>
                        </div>
                    </tiny-item>

                    <tiny-item label="osType.label" require="osType.require">
                        <span ng-bind="service.model.osType"></span>
                    </tiny-item>

                    <tiny-item label="packageType.label" require="packageType.require">
                        <span ng-bind="service.model.fileType"></span>
                    </tiny-item>

                    <!-- 自定义参数 -->
                    <tiny-item label="installCmd.label" require="installCmd.require">
                        <div>
                            <span>{{ i18n.common_term_installCmd_label }}:</span>
                            <span ng-bind="service.model.installCommand"></span>
                        </div>
                        <div style="width: 100%;">
                            <!-- 自定义表格 -->
                            <table class="complexTable">
                                <tr>
                                    <th style="width: 30px;">{{ i18n.common_term_paraName_label }}</th>
                                    <th style="width: 140px;">{{ i18n.common_term_paraValue_label }}</th>
                                </tr>
                                <tbody>
                                <tr ng-if="service.model.installParams.length == 0" class="complexTable-empty-tr">
                                    <td valign="top" colspan="3">No data available in table</td>
                                </tr>
                                <tr class="complexTable-tr" ng-repeat="params in service.model.installParams">
                                    <td><span ng-bind="params.name" title="{{ params.name }}"></span></td>
                                    <td>
                                        <span ng-bind="params.value" title="{{ params.value }}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </tiny-item>
                    <tiny-item label="uninstallCmd.label" require="uninstallCmd.require">
                        <div>
                            <span>{{ i18n.common_term_uninstallCmd_label }}:</span>
                            <span ng-bind="service.model.unInstallCommand"></span>
                        </div>
                        <div style="width: 100%;">
                            <!-- 自定义表格 -->
                            <table class="complexTable">
                                <tr>
                                    <th style="width: 30px;">{{ i18n.common_term_paraName_label }}</th>
                                    <th style="width: 140px;">{{ i18n.common_term_paraValue_label }}</th>
                                </tr>
                                <tbody>
                                <tr ng-if="service.model.unInstallParams.length == 0" class="complexTable-empty-tr">
                                    <td valign="top" colspan="3">No data available in table</td>
                                </tr>
                                <tr class="complexTable-tr" ng-repeat="params in service.model.unInstallParams">
                                    <td><span ng-bind="params.name" title="{{ params.name }}"></span></td>
                                    <td>
                                        <span ng-bind="params.value" title="{{ params.value }}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </tiny-item>
                    <tiny-item label="startCmd.label" require="startCmd.require">
                        <div>
                            <span>{{ i18n.common_term_startupCmd_label }}:</span>
                            <span ng-bind="service.model.startCommand"></span>
                        </div>
                        <div style="width: 100%;">
                            <!-- 自定义表格 -->
                            <table class="complexTable">
                                <tr>
                                    <th style="width: 30px;">{{ i18n.common_term_paraName_label }}</th>
                                    <th style="width: 140px;">{{ i18n.common_term_paraValue_label }}</th>
                                </tr>
                                <tbody>
                                <tr ng-if="service.model.startParams.length == 0" class="complexTable-empty-tr">
                                    <td valign="top" colspan="3">No data available in table</td>
                                </tr>
                                <tr class="complexTable-tr" ng-repeat="params in service.model.startParams">
                                    <td><span ng-bind="params.name" title="{{ params.name }}"></span></td>
                                    <td>
                                        <span ng-bind="params.value" title="{{ params.value }}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </tiny-item>
                    <tiny-item label="stopCmd.label" require="stopCmd.require">
                        <div>
                            <span>{{ i18n.common_term_StopCmd_label }}:</span>
                            <span ng-bind="service.model.stopCommand"></span>
                        </div>
                        <div style="width: 100%;">
                            <!-- 自定义表格 -->
                            <table class="complexTable">
                                <tr>
                                    <th style="width: 30px;">{{ i18n.common_term_paraName_label }}</th>
                                    <th style="width: 140px;">{{ i18n.common_term_paraValue_label }}</th>
                                </tr>
                                <tbody>
                                <tr ng-if="service.model.stopParams.length == 0" class="complexTable-empty-tr">
                                    <td valign="top" colspan="3">No data available in table</td>
                                </tr>
                                <tr class="complexTable-tr" ng-repeat="params in service.model.stopParams">
                                    <td><span ng-bind="params.name" title="{{ params.name }}"></span></td>
                                    <td>
                                        <span ng-bind="params.value" title="{{ params.value }}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </tiny-item>

                    <tiny-item label="vmSelectConfirmTable.label" require="vmSelectConfirmTable.require">
                        <tiny-table id="vmSelectConfirmTable.id" data="vmSelectConfirmTable.data"
                                    columns="vmSelectConfirmTable.columns"
                                    enable-pagination="vmSelectConfirmTable.enablePagination"
                                    hide-total-records="vmSelectConfirmTable.hideTotalRecords"
                                    render-row="vmSelectConfirmTable.renderRow"></tiny-table>
                    </tiny-item>

                    <!-- 操作按钮 -->
                    <tiny-item label="buttonGroup.label" require="buttonGroup.require">
                        <div class="margin-top-beautifier">
                            <tiny-button id="preBtn.id" disable="preBtn.disabled" icons-class="preBtn.iconsClass"
                                         text="preBtn.text"
                                         tooltip="preBtn.tip" click="preBtn.pre()"></tiny-button>
                            <tiny-button id="distributeBtn.id" disable="distributeBtn.disabled" icons-class="distributeBtn.iconsClass"
                                         text="distributeBtn.text"
                                         tooltip="distributeBtn.tip" click="distributeBtn.distribute()" class="major-btn"></tiny-button>
                            <tiny-button id="cancelBtn.id" disable="cancelBtn.disabled" icons-class="cancelBtn.iconsClass"
                                         text="cancelBtn.text"
                                         tooltip="cancelBtn.tip" click="cancelBtn.cancel()"></tiny-button>
                        </div>
                    </tiny-item>

                </tiny-formfield>
            </div>
        </div>
    </div>
</div>
