<fm-tabs>
	<div id="aclsTabs" class="tiny-tabs-container">
		<div class="tiny-tabs-titles">
			<ul>
				<li>
					<a url="#tabs-in" active="true">IN</a>
				</li>
				<li>
					<a url="#tabs-out">OUT</a>
				</li>
			</ul>
		</div>
		<div class="tiny-tabs-content" style="margin-top: -8px;">
			<div id="tabs-in">
                <div class="fm-btn-bottom-small clearfix">
                    <!--刷新-->
                    <div class="pull-right">
                        <a class="btn-link">
                            <div ng-click="inTable.update()" class="small-icon small-icon-refresh"></div>
                        </a>
                    </div>
                </div>
				<fm-table columns="inTable.columns" data="inTable.data"
					operate="user.privilege.role_role_add_option_aclHandle_value?inTable.operate:''"
                    total="inTable.total" change="changeRuleIn" update="inTable.update">
				</fm-table>
			</div>
			<div id="tabs-out">
                <div class="fm-btn-bottom-small clearfix">
                    <!--刷新-->
                    <div class="pull-right">
                        <a class="btn-link">
                            <div ng-click="outTable.update()" class="small-icon small-icon-refresh"></div>
                        </a>
                    </div>
                </div>
				<fm-table columns="outTable.columns" data="outTable.data"
					operate="user.privilege.role_role_add_option_aclHandle_value?outTable.operate:''"
                    total="outTable.total" change="changeRuleOut" update="outTable.update">
				</fm-table>
			</div>
		</div>
	</div>
</fm-tabs>