<div class="container-fluid">
    <div id="configureFCRole" ng-controller="userMgr.role.configure.fcRole.ctrl">
        <tiny-formfield>
            <tiny-item label="roleType.label">
                <tiny-radiogroup id="roleType.id" values="roleType.values" change="roleType.change()"></tiny-radiogroup>
            </tiny-item>
            <tiny-item>
                <tiny-button class="major-btn" id="modifyBtn.id" text="modifyBtn.text" click="modifyBtn.click()"></tiny-button>
                <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>
<script type="application/javascript">
require(["app/business/user/controllers/role/configureFCRoleCtrl"], function(configureFCRoleCtrl) {
    var $injector = angular.injector(["ng", configureFCRoleCtrl.name]);
    $injector.invoke(function($compile) {
        var link = $compile($("#configureFCRole"));
        link($("#configureFCRole").scope());
        $("#configureFCRole").scope().$digest();
    });
});
</script>