<div class="container-fluid">
    <div id="createRole" ng-controller="userMgr.role.create.ctrl" class="alert-tip-first">
        <div>
            <tiny-formfield>
                <tiny-item label="name.label" require="name.require">
                    <tiny-textbox id="name.id" value="name.value" tooltip="name.tooltip" validate="name.validate"></tiny-textbox>
                </tiny-item>
                <tiny-item label="roleType.label" require="roleType.require">
                    <tiny-radiogroup id="roleType.id" values="roleType.values" change="roleType.change()" layout="roleType.layout"></tiny-radiogroup>
                </tiny-item>
            </tiny-formfield>
            <tiny-formfield>
                <tiny-item label="operation.label" require="operation.require">
                    <div class="clearfix">
                        <div class="fl" style="width:250px">
                            <div ng-bind="i18n.common_term_availableSelect_label"></div>
                            <div style="border: 1px #ccc solid;overflow-y:auto;overflow-x:hidden;">
                                <tiny-tree id="leftTree.id" height="leftTree.height" setting="leftTree.setting" values="leftTree.values"></tiny-tree>
                            </div>
                        </div>
                        <div class="fl" style="width: 100px;display:block; text-align: center; margin-top: 115px;">
                            <div>
                                <img src='../theme/default/images/common_leftbutton.png' ng-click="leftBtn.click()">
                            </div>
                            <div>
                                <img src='../theme/default/images/common_rightbutton.png' ng-click="rightBtn.click()">
                            </div>
                        </div>
                        <div class="fl" style="width:250px">
                            <div ng-bind="i18n.common_term_choosed_value"></div>
                            <div style="border: 1px #ccc solid;overflow-y:auto;overflow-x:hidden;">
                                <tiny-tree id="rightTree.id" height="rightTree.height" setting="rightTree.setting" values="rightTree.values"></tiny-tree>
                            </div>
                        </div>
                    </div>
                </tiny-item>
                <tiny-item label="description.label" require="description.require">
                    <tiny-textbox id="description.id" value="description.value" type="description.type" validate="description.validate"
                                  width="description.width" height="description.height"></tiny-textbox>
                </tiny-item>
                <tiny-item>
                    <div class="fm-btn-top-small">
                        <tiny-button class="major-btn" id="createBtn.id" text="createBtn.text" click="createBtn.create()"></tiny-button>
                        <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.cancel()"></tiny-button>
                    </div>
                </tiny-item>
            </tiny-formfield>
        </div>
    </div>
</div>
<script type="application/javascript">
require(['app/business/user/controllers/role/createRoleCtrl'],
    function(createRoleCtrl) {
        var dep = ['ng', 'wcc', createRoleCtrl.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $("#createRole"));
            }
        ]);
        var $injector = angular.injector(dep);
        var dom = $("#createRole");
        $injector.invoke(function($compile, $rootScope) {
            $compile(dom)(dom.scope());
            $rootScope.$digest();
        });
    });
</script>
