<div class="row-fluid tiny-step-boxset clearfix">
    <div class="createpage-legend">
        <span ng-if="action === 'create'">创建脚本</span>
        <span ng-if="action === 'modify'">修改脚本</span>
    </div>
    <tiny-step id="step.id" values="step.values" width="step.width" jumpable="step.jumpable"></tiny-step>
</div>
<div id="ftpUpload" style="position: absolute"></div>
<div ng-include="monkey.basic.url" ng-show="monkey.show.basic"></div>
<div ng-include="monkey.commandConfig.url" ng-show="monkey.show.commandConfig"></div>
<div ng-include="monkey.confirm.url" ng-show="monkey.show.confirm"></div>
<div ng-include="monkey.uploadFile.url" ng-show="monkey.show.uploadFile"></div>