<div>
    <div class="margin-top-beautifier" ng-if="!hasDhcp">
        <span class="margin-right-beautifier" ng-bind="i18n.resource_exter_add_info_notExistDHCP_msg"></span><a
            ng-show="right.hasNetPoolOperateRight" class="pointer"
            ng-click="operator.createDhcpServerWin()">{{i18n.resource_term_addDHCPserver_button}}</a>
    </div>
    <div class="margin-top-beautifier clearfix" ng-if="hasDhcp">
        <tiny-button ng-show="right.hasNetPoolOperateRight" class="major-btn" id="modifyBtn.id"
                     disable="modifyBtn.disabled" text="modifyBtn.text"
                     click="modifyBtn.click()"></tiny-button>
        <tiny-button ng-show="right.hasNetPoolOperateRight" id="deleteBtn.id" disable="deleteBtn.disabled"
                     text="deleteBtn.text" click="deleteBtn.click()"></tiny-button>
        <div class="pull-right">
            <a class="btn-link">
                <div ng-click="refresh.click()" id="refreshDhcpServerId" title="{{i18n.common_term_fresh_button}}"
                     class="small-icon small-icon-refresh"></div>
            </a>
        </div>
        <div class="blank_20"></div>
        <tiny-formfield>
            <tiny-item label="name.label">
                <div ng-bind="dhcpInfo.name"></div>
            </tiny-item>
            <tiny-item label="ID.label">
                <div ng-bind="dhcpInfo.dhcpServerID"></div>
            </tiny-item>
            <tiny-item label="status.label">
                <div ng-bind="dhcpInfo.statusStr"></div>
            </tiny-item>
            <tiny-item label="DVS.label">
                <div ng-bind="dhcpInfo.dvsName"></div>
            </tiny-item>
            <tiny-item label="cluster.label">
                <div ng-bind="dhcpInfo.clusterName"></div>
            </tiny-item>
            <tiny-item label="dhcpIp.label">
                <div ng-bind="dhcpInfo.dhcpServerIPv4Config.dhcpServerIP"></div>
            </tiny-item>
            <tiny-item label="subnetMask.label">
                <div ng-bind="dhcpInfo.dhcpServerIPv4Config.prefix"></div>
            </tiny-item>
            <tiny-item label="gateway.label">
                <div ng-bind="dhcpInfo.dhcpServerIPv4Config.gateway"></div>
            </tiny-item>
            <tiny-item label="vlan.label">
                <div ng-bind="dhcpInfo.vlan"></div>
            </tiny-item>
        </tiny-formfield>
        <div class="inline-help">{{i18n.resource_exter_addDHCPserver_info_VLANusage_msg}}</div>
    </div>
</div>