<div>
    <div id="vmtDiscover" ng-controller="resources.template.discover.ctrl">
        <tiny-formfield>

            <tiny-item label="hypervisor.label" require="hypervisor.require">
                <tiny-select id="hypervisor.id" values="hypervisor.values" width="hypervisor.width" height="hypervisor.height" change="hypervisor.change()"></tiny-select>
            </tiny-item>

            <!-- 操作按钮 -->
            <tiny-item label="buttonGroup.label" require="buttonGroup.require">
                <div class="margin-top-beautifier">
                    <tiny-button class="major-btn" id="discoverBtn.id" disable="discoverBtn.disabled" icons-class="discoverBtn.iconsClass"
                                 text="discoverBtn.text"
                                 tooltip="discoverBtn.tip" click="discoverBtn.discover()"></tiny-button>
                    <tiny-button id="cancelBtn.id" disable="cancelBtn.disabled" icons-class="cancelBtn.iconsClass"
                                 text="cancelBtn.text"
                                 tooltip="cancelBtn.tip" click="cancelBtn.cancel()"></tiny-button>
                </div>
            </tiny-item>

        </tiny-formfield>
    </div>
</div>
<script>
    require(['jquery',
        'app/business/resources/controllers/templateSpec/template/vmTemplate/action/discoverCtrl'],
            function ($, discoverCtrl) {
                var dep = ['ng', 'wcc', discoverCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#vmtDiscover"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile) {
                    var scope = $("#vmtDiscover").scope();
                    $compile($("#vmtDiscover"))(scope);
                    scope.$digest();
                });
            });
</script>
