<div class="container-fluid">
    <div id="modifyPassword" ng-controller="userMgr.user.modifyPassword.ctrl">
        <tiny-formfield>
            <tiny-item label="oldPassword.label" require="oldPassword.require">
                <tiny-textbox id="oldPassword.id" value="oldPassword.value" type="oldPassword.type"
                              validate="oldPassword.validate"></tiny-textbox>
            </tiny-item>
            <tiny-item label="password.label" require="password.require">
                <tiny-textbox id="password.id" value="password.value" type="password.type"
                              tooltip="password.tooltip" validate="password.validate"
                              extend-function="password.extendFunction"></tiny-textbox>
            </tiny-item>
            <tiny-item label="confirmPassword.label" require="confirmPassword.require">
                <tiny-textbox id="confirmPassword.id" value="confirmPassword.value"
                              type="confirmPassword.type" validate="confirmPassword.validate"
                              extend-function="confirmPassword.extendFunction"></tiny-textbox>
            </tiny-item>
            <tiny-item class="fm-btn-top-small">
                <fm-button id="modifyBtn.id" text="modifyBtn.text" click="modifyBtn.click" class="major-btn"></fm-button>
                <fm-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click"></fm-button>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>
<script type="application/javascript">
    require(["app/framework/controllers/modifyPasswordCtrl"],function(modifyPasswordCtrl) {
        var $injector = angular.injector(["ng", modifyPasswordCtrl.name]);
        $injector.invoke(function($compile){
            var link = $compile($("#modifyPassword"));
            link($("#modifyPassword").scope());
            $("#modifyPassword").scope().$digest();
        });
    });
</script>