<div ng-controller="commandConfigCtrl" id="create-script-commandConfig">
    <div class="create-page-distance">
        <div class="row-fluid">
            <tiny-formfield>
                <tiny-item label="info.attachmentFile.label">
                    <img src='../theme/default/images/addAttachment.png' alt='../theme/default/images/addAttachment.png' style="cursor: pointer" width='16px' height='16px' ng-click="info.attachmentFile.addAttachment()" />
                    <span ng-bind="i18n.template_software_add_para_attach_mean_label"></span>
                    <div id="attachmentSelect"></div>
                    <div ng-if="action === 'modify'">
                        <div ng-repeat="attachment in service.initFiles">
                            <div>
                                <div style="display:inline-block;margin-top: 8px;">
                                    <span ng-bind="attachment.fileName"></span>
                                </div>
                                <img src="../theme/default/images/delete.png" alt="../theme/default/images/delete.png" style="cursor: pointer;margin-left: 6px;" width="16px" height="16px" ng-click="info.attachmentFile.delete($index)" />
                            </div>
                        </div>
                    </div>
                </tiny-item>
                <tiny-item label="attachmentPassword.label" require="attachmentPassword.require" display="attachmentPassword.display">
                    <tiny-textbox id="attachmentPassword.id" validate="attachmentPassword.validate" type="attachmentPassword.type"
                                  width="attachmentPassword.width"></tiny-textbox>
                    <span popover="{{i18n.template_software_add_para_psw_mean_tip}}" popover-trigger="mouseenter" class="small-icon small-icon-tips"></span>
                </tiny-item>
                <tiny-item label="attachmentPasswordConfirm.label" require="attachmentPasswordConfirm.require" display="attachmentPasswordConfirm.display">
                    <tiny-textbox id="attachmentPasswordConfirm.id" validate="attachmentPasswordConfirm.validate" type="attachmentPasswordConfirm.type"
                                  width="attachmentPasswordConfirm.width" extend-function="attachmentPasswordConfirm.extendFunction"></tiny-textbox>
                </tiny-item>
                <tiny-item label="info.filePath.label" require="info.filePath.require">
                    <tiny-textbox id="info.filePath.id" value="service.destinationPath" width="info.filePath.width" validate="info.filePath.validate" extend-function="info.filePath.extendFunction" tooltip="info.filePath.tips"></tiny-textbox>
                </tiny-item>
                <tiny-item label="info.installCmd.label" require="info.installCmd.require">
                    <tiny-textbox id="info.installCmd.id" value="service.installCommand" width="info.installCmd.width" validate="info.installCmd.validate" extend-function="info.installCmd.extendFunction" tooltip="info.installCmd.tips"></tiny-textbox>
                </tiny-item>
                <tiny-item label="info.unInstallCmd.label" require="info.unInstallCmd.require">
                    <tiny-textbox id="info.unInstallCmd.id" value="service.unInstallCommand" width="info.unInstallCmd.width" validate="info.unInstallCmd.validate" extend-function="info.unInstallCmd.extendFunction" tooltip="info.unInstallCmd.tips"></tiny-textbox>
                </tiny-item>
                <tiny-item label="info.startCmd.label" require="info.startCmd.require">
                    <tiny-textbox id="info.startCmd.id" value="service.startCommand" width="info.startCmd.width" validate="info.startCmd.validate" extend-function="info.startCmd.extendFunction" tooltip="info.startCmd.tips"></tiny-textbox>
                </tiny-item>
                <tiny-item label="info.stopCmd.label" require="info.stopCmd.require">
                    <tiny-textbox id="info.stopCmd.id" value="service.stopCommand" width="info.stopCmd.width" validate="info.stopCmd.validate" extend-function="info.stopCmd.extendFunction" tooltip="info.stopCmd.tips"></tiny-textbox>
                </tiny-item>

                <tiny-item>
                    <div class="fm-btn-top-small">
                        <tiny-button id="info.preBtn.id" text="info.preBtn.text" click="info.preBtn.click()"></tiny-button>
                        <tiny-button id="info.nextBtn.id" text="info.nextBtn.text" click="info.nextBtn.click()" class="major-btn"></tiny-button>
                        <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
                    </div>
                </tiny-item>
            </tiny-formfield>
        </div>
    </div>

</div>