<style>
#createVlbConfigMonitor .tiny-checkbox {
    height: 0!important;
}
</style>

<div id="createVlbConfigMonitor" class="create-page-distance">
    <div ng-show="service.httpMonitorConfigTable.length>0">
        <div class="bottom10">HTTP:</div>
        <div class="table-tiny-box-height">
            <tiny-table id="info.httpMonitorConfigTable.id" data="service.httpMonitorConfigTable" columns="info.httpMonitorConfigTable.columns" enable-pagination="info.httpMonitorConfigTable.enablePagination" render-row="info.httpMonitorConfigTable.renderRow"></tiny-table>
        </div>
    </div>
    <div ng-show="service.httpsMonitorConfigTable.length>0">
        <div class="bottom10">HTTPS:</div>
        <div class="table-tiny-box-height">
            <tiny-table id="info.httpsMonitorConfigTable.id" data="service.httpsMonitorConfigTable" columns="info.httpsMonitorConfigTable.columns" enable-pagination="info.httpsMonitorConfigTable.enablePagination" render-row="info.httpsMonitorConfigTable.renderRow"></tiny-table>
        </div>
    </div>
    <div ng-show="service.tcpMonitorConfigTable.length>0">
        <div class="bottom10">TCP:</div>
        <div class="table-tiny-box-height">
            <tiny-table id="info.tcpMonitorConfigTable.id" data="service.tcpMonitorConfigTable" columns="info.tcpMonitorConfigTable.columns" enable-pagination="info.tcpMonitorConfigTable.enablePagination" render-row="info.tcpMonitorConfigTable.renderRow"></tiny-table>
        </div>
    </div>
    <div class="fm-btn-top-large">
        <tiny-button id="info.preBtn.id" text="info.preBtn.text" click="info.preBtn.click()"></tiny-button>
        <tiny-button id="info.nextBtn.id" text="info.nextBtn.text" click="info.nextBtn.click()" class="major-btn"></tiny-button>
        <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
    </div>
</div>