<div>
    <div id="registSoftwareBaseInfo" class="create-page-distance">
            <tiny-formfield>
            <tiny-item label="name.label" require="name.require">
                <tiny-textbox id="name.id" value="service.model.name" validate="name.validate" focused="name.focused" disable="name.disabled"
                              extend-function="name.extendFunction" tooltip="name.tooltip"
                              width="name.width"></tiny-textbox>
            </tiny-item>
            <tiny-item label="softwareName.label" require="softwareName.require">
                <div ng-if="!softwareName.display">
                    <tiny-textbox id="softwareName.id" value="service.model.softwareName"
                                  disable="softwareName.disabled"
                                  readonly="softwareName.readonly" validate="softwareName.validate"
                                  focused="softwareName.focused"
                                  width="softwareName.width"></tiny-textbox>
                </div>
                <div ng-if="softwareName.display">
                    <div class="clearfix">
                    <div class="file-select" style="width :240px">
                        <div class="file-box" style="width :210px">
                            <input type="text" ng-model="service.model.softwareName" style="width :200px"
                                   class="file-input" readonly="true;" ng-required="softwareName.inputRequired"
                                   ng-disabled="!service.ftpAppletLoaded"/>
                        </div>
                        <div class="file-select-button-container" style="cursor: pointer;" ng-click="softwareName.select()"
                             ng-disabled="!service.ftpAppletLoaded"></div>
                    </div>
                    </div>
                    <div class="top10 color2">
                        <div ng-if="!service.jreChecked"><span ng-bind="i18n.template_term_jreCheckError_valid"></span><a
                                href='../lib/vnc/jre-7u15-windows-i586.exe'>{{ i18n.common_term_clickDown_button }}</a></div>
                    </div>
                </div>
            </tiny-item>

            <tiny-item label="password.label" require="password.require" display="password.display">
                <tiny-textbox id="password.id" value="model.defaultPassWord" validate="password.validate" type="password.type"
                              width="password.width"></tiny-textbox>
                <span popover="{{i18n.template_software_add_para_psw_mean_tip}}" popover-trigger="mouseenter"
                      class="small-icon small-icon-tips"></span>
            </tiny-item>
            <tiny-item label="passwordConfirm.label" require="passwordConfirm.require" display="passwordConfirm.display">
                <tiny-textbox id="passwordConfirm.id" value="model.value" validate="passwordConfirm.validate" type="passwordConfirm.type"
                              width="passwordConfirm.width" extend-function="passwordConfirm.extendFunction"></tiny-textbox>
            </tiny-item>

            <tiny-item label="osType.label" require="osType.require">
                <tiny-select id="osType.id" values="osType.values" width="osType.width" change="osType.change()"></tiny-select>
            </tiny-item>

            <tiny-item label="fileType.label" require="fileType.require">
                <tiny-select id="fileType.id" values="fileType.values" width="fileType.width"></tiny-select>
            </tiny-item>

            <tiny-item label="version.label" require="version.require">
                <tiny-textbox id="version.id" value="service.model.version" validate="version.validate" focused="version.focused"
                              extend-function="version.extendFunction" width="version.width"></tiny-textbox>
            </tiny-item>

            <tiny-item label="picture.label" require="picture.require">
                <div>
                    <input style="display: none" ng-model="service.model.picture"/>
                    <img ng-src='{{ service.model.picture }}'
                         alt='../theme/default/images/edit.png' class="imgSize"/>

                    <div style="display: inline-block;padding-left: 3px;" class="dropdown">
                        <a class="dropdown-toggle" id="dLabel" data-toggle="dropdown"
                           ng-click="picture.click()"><span ng-bind="i18n.template_term_changeIcon_button"></span></a>
                        <ul class="dropdown-menu imgBox" role="menu" aria-labelledby="dLabel">
                            <li class="imgItem" ng-repeat="img in picture.imgs">
                                <img ng-src="{{ img.src }}"
                                     ng-click="img.click()"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </tiny-item>
            <tiny-item label="description.label" require="description.require">
                <tiny-textbox id="description.id" value="service.model.description"
                              width="description.width" height="description.height" type="description.type"
                              validate="description.validate"
                              error-msg="description.errorMsg">
                </tiny-textbox>
            </tiny-item>

            <!-- 操作按钮 -->
            <tiny-item label="buttonGroup.label" require="buttonGroup.require">
                <div class="margin-top-beautifier">
                    <tiny-button class="major-btn" id="nextBtn.id" disable="nextBtn.disabled" icons-class="nextBtn.iconsClass" text="nextBtn.text"
                                 tooltip="nextBtn.tip" click="nextBtn.next()"></tiny-button>
                    <tiny-button id="cancelBtn.id" disable="cancelBtn.disabled" icons-class="cancelBtn.iconsClass"
                                 text="cancelBtn.text"
                                 tooltip="cancelBtn.tip" click="cancelBtn.cancel()"></tiny-button>
                </div>
            </tiny-item>

        </tiny-formfield>
    </div>
</div>

<style>
    .imgBox {
        width: 310px;
    }

    .imgItem {
        padding-left: 10px;
        padding-right: 20px;
        float: left;
    }

    .imgSize {width: 20px !important;height: 20px !important;}
</style>
