<div>
    <div id="registSoftwareConfirm" class="create-page-distance">
        <div class="row-fluid">
            <div class="span4">
                <tiny-formfield>
                    <tiny-item label="name.label" require="name.require">
                        <div class="over-flow-style" style="width: 500px;">
                        <span ng-bind="service.model.name" title="{{ service.model.name }}"></span>
                        </div>
                    </tiny-item>
                    <tiny-item label="softwareName.label" require="softwareName.require">
                        <div class="over-flow-style" style="width: 500px;">
                        <span ng-bind="service.model.softwareName" title="{{ service.model.softwareName }}"></span>
                        </div>
                    </tiny-item>

                    <tiny-item label="osType.label" require="osType.require">
                        <span ng-bind="service.model.osType"></span>
                    </tiny-item>

                    <tiny-item label="packageType.label" require="packageType.require">
                        <span ng-bind="service.model.fileType"></span>
                    </tiny-item>

                    <tiny-item label="version.label" require="version.require">
                        <div class="over-flow-style" style="width: 500px;">
                            <span ng-bind="service.model.version" title="{{ service.model.version }}"></span>
                        </div>
                    </tiny-item>

                    <tiny-item label="picture.label" require="picture.require">
                        <img ng-src='{{ service.model.picture }}'
                             alt='../theme/default/images/edit.png'
                             width='20px' height='20px'/>
                    </tiny-item>
                    <tiny-item label="description.label" require="description.require">
                        <div class="over-flow-style" style="width: 500px;">
                            <span ng-bind="service.model.description" title="{{ service.model.description }}"></span>
                        </div>
                    </tiny-item>

                    <!-- 操作按钮 -->
                    <tiny-item label="buttonGroup.label" require="buttonGroup.require">
                        <div class="margin-top-beautifier">
                            <tiny-button id="backBtn.id" disable="backBtn.disabled" icons-class="backBtn.iconsClass"
                                         text="backBtn.text"
                                         tooltip="backBtn.tip" click="backBtn.back()"></tiny-button>
                            <span ng-if="action === 'create'">
                            <tiny-button id="nextBtn.id" class="major-btn" disable="nextBtn.disabled" icons-class="nextBtn.iconsClass"
                                         text="nextBtn.text"
                                         tooltip="nextBtn.tip" click="nextBtn.next()"></tiny-button>
                                </span>
                            <span ng-if="action === 'modify'">
                            <tiny-button class="major-btn" id="saveBtn.id" class="major-btn" disable="saveBtn.disabled" icons-class="saveBtn.iconsClass"
                                         text="saveBtn.text"
                                         tooltip="saveBtn.tip" click="saveBtn.save()"></tiny-button>
                                </span>
                            <tiny-button id="cancelBtn.id" disable="cancelBtn.disabled" icons-class="cancelBtn.iconsClass"
                                         text="cancelBtn.text"
                                         tooltip="cancelBtn.tip" click="cancelBtn.cancel()"></tiny-button>
                        </div>
                    </tiny-item>

                </tiny-formfield>
            </div>
            <div class="span1"></div>
            <div class="span4">
                <tiny-formfield>
                    <tiny-item label="attachment.label" require="attachment.require">
                        <span ng-bind="service.attachments"></span>
                    </tiny-item>
                    <tiny-item label="path.label" require="path.require">
                        <div class="over-flow-style" style="width: 500px;">
                            <span ng-bind="service.model.destinationPath" title="{{ service.model.destinationPath }}"></span>
                        </div>
                    </tiny-item>

                    <tiny-item label="installCmd.label" require="installCmd.require">
                        <div class="over-flow-style" style="width: 500px;">
                            <span ng-bind="installCmd.value" title="{{ installCmd.value }}"></span>
                        </div>
                    </tiny-item>
                    <tiny-item label="uninstallCmd.label" require="uninstallCmd.require">
                        <div class="over-flow-style" style="width: 500px;">
                            <span ng-bind="uninstallCmd.value" title="{{ uninstallCmd.value }}"></span>
                        </div>
                    </tiny-item>
                    <tiny-item label="startCmd.label" require="startCmd.require">
                        <div class="over-flow-style" style="width: 500px;">
                        <span ng-bind="startCmd.value" title="{{ startCmd.value }}"></span>
                        </div>
                    </tiny-item>
                    <tiny-item label="stopCmd.label" require="stopCmd.require">
                        <div class="over-flow-style" style="width: 500px;">
                        <span ng-bind="stopCmd.value" title="{{ stopCmd.value }}"></span>
                        </div>
                    </tiny-item>

                </tiny-formfield>
            </div>
        </div>

    </div>
</div>
