<div ng-controller="commandConfigCtrl" class="create-script-commandConfig">

    <div class="create-page-distance">
        <div class="row-fluid">
            <tiny-formfield>

                <tiny-item label="info.filePath.label" require="info.filePath.require">
                    <tiny-textbox id="info.filePath.id" value="service.filePath" width="info.filePath.width" validate="info.filePath.validate" extend-function="info.filePath.extendFunction" tooltip="info.filePath.tips"></tiny-textbox>
                </tiny-item>
                <tiny-item label="info.command.label" require="info.command.require">
                    <tiny-textbox id="info.command.id" value="service.command" width="info.command.width" type="info.command.type" validate="info.command.validate" extend-function="info.command.extendFunction" tooltip="info.command.tips"></tiny-textbox>
                </tiny-item>
                <tiny-item>
                    <div class="fm-btn-top-small">
                        <tiny-button id="info.preBtn.id" text="info.preBtn.text" click="info.preBtn.click()"></tiny-button>
                        <tiny-button id="info.nextBtn.id" text="info.nextBtn.text" click="info.nextBtn.click()" class="major-btn"></tiny-button>
                        <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
                    </div>
                </tiny-item>
            </tiny-formfield>
        </div>
    </div>

</div>