<div ng-controller="confirmCtrl">
    <div class="create-page-distance">
        <tiny-formfield>
            <tiny-item label="info.name.label" require="info.name.require">
                <span ng-bind="service.name"></span>
            </tiny-item>
            <tiny-item label="info.picture.label" require="info.picture.require">
                <img ng-src='{{ service.icon }}' />
            </tiny-item>
            <tiny-item label="info.scriptFile.label" require="info.scriptFile.require">
                <span ng-bind="service.scriptFile"></span>
            </tiny-item>
            <tiny-item label="info.OSType.label" require="info.type.require">
                <span ng-bind="service.OSType"></span>
            </tiny-item>
            <tiny-item label="info.version.label" require="info.version.require">
                <span ng-bind="service.version"></span>
            </tiny-item>
            <tiny-item label="info.desc.label" require="info.desc.require">
                <span ng-bind="service.desc"></span>
            </tiny-item>
            <tiny-item label="info.filePath.label" require="info.filePath.require">
                <span ng-bind="service.filePath"></span>
            </tiny-item>
            <tiny-item label="info.command.label" require="info.command.require">
                <span ng-bind="service.command"></span>
            </tiny-item>
            <tiny-item>
                <div class="fm-btn-top-small">
                    <tiny-button id="info.preBtn.id" text="info.preBtn.text" click="info.preBtn.click()"></tiny-button>
                    <span ng-if="action === 'create'">
                        <tiny-button id="info.nextBtn.id" text="info.nextBtn.text" click="info.nextBtn.click()" class="major-btn"></tiny-button>
                    </span>
                    <span ng-if="action === 'modify'">
                        <tiny-button id="info.saveBtn.id" text="info.saveBtn.text" click="info.saveBtn.click()" class="major-btn"></tiny-button>
                    </span>
                    <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
                </div>
            </tiny-item>

        </tiny-formfield>
    </div>
</div>