<div id="queryScalingGroup" ng-controller="ctrl">
    <div>
        <fieldset id="baseInfo">
            <div class="panel_title" ng-bind="i18n.common_term_basicInfo_label"></div>
            <div class="horizontal_line bottom10"></div>
            <tiny-formfield>
                <tiny-item label="scalingpolicy.name.label" require="scalingpolicy.name.require">
                    <span ng-bind="values.policyName" title="{{values.policyName}}" class="textOverflow maxWidth200"></span>
                </tiny-item>
                <tiny-item label="scalingpolicy.description.label" require="scalingpolicy.description.require">
                    <span ng-bind="values.policyDesc" title="{{values.policyDesc}}" class="textOverflow maxWidth200"></span>
                </tiny-item>
            </tiny-formfield>
        </fieldset>
    </div>
    <div>
        <fieldset id="condition">
            <div class="panel_title" ng-bind="i18n.app_term_triggerCondition_label"></div>
            <div class="horizontal_line bottom10"></div>
            <tiny-formfield>
                <tiny-item label="scalingpolicy.statisticsPeriod.label" require="scalingpolicy.statisticsPeriod.require">
                    <span ng-bind="values.statisticsPeriod"></span>
                </tiny-item>
                <tiny-item label="scalingpolicy.collectionTimes.label" require="scalingpolicy.collectionTimes.require">
                    <span ng-bind="values.times"></span>
                </tiny-item>
            </tiny-formfield>
            <fieldset id="conditionConfig">
                <div class="panel_title" ng-bind="i18n.app_term_conditionCfg_label"></div>
                <div class="horizontal_line bottom10"></div>
                <div ng-repeat="configuration in values.metrics">
                    <tiny-select id="'metricTypes'+$index" values="metricTypes.values" default-selectid="configuration.metricType" width="scalingpolicy.actionType.width" disable="true">
                    </tiny-select>

                    <tiny-select id="'statisticTypes'+$index" values="statisticTypes" width="scalingpolicy.actionType.width" disable="true">
                    </tiny-select>

                    <tiny-select id="'compareOperators'+$index" values="compareOperators.values" default-selectid="configuration.comparisonOperator" width="scalingpolicy.actionType.width" disable="true">
                    </tiny-select>

                    <span ng-bind="configuration.metricThreshold" class="margin-horizon-beautifier"></span>
                    <span ng-bind="configuration.cell"></span>
                </div>
            </fieldset>
        </fieldset>
    </div>
    <div>
        <fieldset id="action">
            <div class="panel_title" ng-bind="i18n.common_term_action_label"></div>
            <div class="horizontal_line bottom10"></div>
            <tiny-formfield>
                <tiny-item label="scalingpolicy.actionType.label" require="scalingpolicy.actionType.require">
                    <tiny-select id="scalingpolicy.actionType.id" values="scalingpolicy.actionType.values" default-selectid="values.actionTypeUI" width="scalingpolicy.actionType.width" disable="true">
                    </tiny-select>
                </tiny-item>
                <tiny-item display="actionTypeScalingOut">
                    <tiny-radiogroup id="scalingpolicy.scaleOut.id" layout="scalingpolicy.scaleOut.layout" values="scalingpolicy.scaleOut.values" change="scalingpolicy.scaleOut.change()">
                    </tiny-radiogroup>
                </tiny-item>
                <tiny-item display="!actionTypeScalingOut">
                    <tiny-radiogroup id="scalingpolicy.scaleIn.id" layout="scalingpolicy.scaleIn.layout" values="scalingpolicy.scaleIn.values" change="scalingpolicy.scaleIn.change()">
                    </tiny-radiogroup>
                </tiny-item>
                <tiny-item label="scalingpolicy.coolTime.label" require="scalingpolicy.coolTime.require">
                    <span ng-bind="values.cooldown"></span>
                </tiny-item>
                <tiny-item label="scalingpolicy.step.label" require="scalingpolicy.step.require">
                    <span ng-bind="values.adjustStep"></span>
                </tiny-item>
            </tiny-formfield>
        </fieldset>
    </div>
</div>
<script type="application/javascript">
require(['app/business/application/controllers/appInstance/topo/queryScalingPolicyModel'],
    function(queryScalingPolicyModel) {
        var dep = ['ng', 'wcc', queryScalingPolicyModel.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $("#queryScalingGroup"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($("#queryScalingGroup"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>