<div id="infoSelectInnerOrRouter">
<div class="panel_title"><span ng-bind="i18n.common_term_SubnetInfo_label"></span></div>
<div class="horizontal_line"></div>
<div class="margin-top-beautifier">
<div id="divIpv4">
    <tiny-formfield>
        <tiny-item label="info.ipv4.label">
            <tiny-checkbox id="info.ipv4.id" text="info.ipv4.text" change="info.ipv4.change()" checked="isIpv4Checked" disable="data.routed"></tiny-checkbox>
        </tiny-item>
    </tiny-formfield>
    <tiny-formfield>
        <tiny-item label="info.ipType.label" require="info.ipType.require">
            <tiny-radio text='info.ipType.inner' name="info.ipType.name" checked='service.iPTypeValue=="1"' value='info.ipType.innerValue' disable='ipv4InfoDisable || !isIpv4Checked' click="ipTypeclick('inner')" height="27" id="info.ipType.innerId"></tiny-radio>
            <div class="inline-help"><span ng-bind="i18n.vpc_net_addICT_para_allocationIP_mean_innerDHCP_label"></span></div>
            <tiny-radio text='info.ipType.auto' name="info.ipType.name" value='info.ipType.autoValue' checked='service.iPTypeValue=="2"' disable='ipv4InfoDisable || !isIpv4Checked' click="ipTypeclick('auto')" height="27"></tiny-radio>
            <div class="inline-help"><span ng-bind="i18n.resource_exter_add_para_allocationIP_mean_manual_label"></span></div>
        </tiny-item>
        <tiny-item label="info.subnetIp.label" require="info.subnetIp.require">
            <div id="createnetworkICTsubnetIp">
                <tiny-ip id="info.subnetIp.id" value="service.subnetAddr" type="info.subnetIp.type" validate="info.subnetIp.validate" extend-function="info.subnetIp.extendFunction"></tiny-ip>
            </div>
        </tiny-item>
        <tiny-item label="info.subnetMask.label" require="info.subnetMask.require">
            <div id="createnetworkICTsubnetMask">
                <tiny-ip id="info.subnetMask.id" value="service.subnetPrefix" type="info.subnetMask.type" validate="info.subnetMask.validate" extend-function="info.subnetMask.extendFunction"></tiny-ip>
            </div>
        </tiny-item>
        <tiny-item label="info.gateway.label" require="service.type!=i18n.vpc_term_innerNet_label">
            <div id="createnetworkICTgateway">
                <div ng-if="service.type==i18n.vpc_term_innerNet_label">
                    <tiny-ip id="info.gateway.id" value="service.gateway" type="info.gateway.type" validate="info.gateway.validate4innerNet" extend-function="info.gateway.extendFunction"></tiny-ip>
                </div>
                <div ng-if="service.type!=i18n.vpc_term_innerNet_label">
                    <tiny-ip id="info.gateway.id" value="service.gateway" type="info.gateway.type" validate="info.gateway.validate" extend-function="info.gateway.extendFunction"></tiny-ip>
                </div>
            </div>
        </tiny-item>

        <tiny-item label="availableIpSegment1.label" display="reserveIP">
            <tiny-ip id="availableIpSegment1.startIp.id" type="availableIpSegment1.startIp.type" width="availableIpSegment.width" validate="availableIpSegment1.startIp.validate" value="availableIpSegment1.startIp.value" extend-function="availableIpSegment1.startIp.extendFunction"></tiny-ip>
            -
            <tiny-ip id="availableIpSegment1.endIp.id" type="availableIpSegment1.endIp.type" width="availableIpSegment.width" validate="availableIpSegment1.endIp.validate" value="availableIpSegment1.endIp.value" extend-function="availableIpSegment1.endIp.extendFunction"></tiny-ip>
            <a ng-click="operate.addIpv4Ip(1)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="availableIpSegment2.display && reserveIP">
            <tiny-ip id="availableIpSegment2.startIp.id" type="availableIpSegment2.startIp.type" width="availableIpSegment.width" validate="availableIpSegment2.startIp.validate" value="availableIpSegment2.startIp.value" extend-function="availableIpSegment2.startIp.extendFunction"></tiny-ip>
            -
            <tiny-ip id="availableIpSegment2.endIp.id" width="availableIpSegment.width" type="availableIpSegment2.endIp.type" disable="availableIpSegment2.disable" validate="availableIpSegment2.endIp.validate" value="availableIpSegment2.endIp.value" extend-function="availableIpSegment2.endIp.extendFunction"></tiny-ip>
            <a ng-click="operate.addIpv4Ip(2)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment2')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="availableIpSegment3.display && reserveIP">
            <tiny-ip id="availableIpSegment3.startIp.id" width="availableIpSegment.width" type="availableIpSegment3.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment3.startIp.validate" value="availableIpSegment3.startIp.value" extend-function="availableIpSegment3.startIp.extendFunction"></tiny-ip>
            -
            <tiny-ip id="availableIpSegment3.endIp.id" type="availableIpSegment3.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment3.endIp.validate" value="availableIpSegment3.endIp.value" extend-function="availableIpSegment3.endIp.extendFunction"></tiny-ip>
            <a ng-click="operate.addIpv4Ip(3)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment3')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="availableIpSegment4.display && reserveIP">
            <tiny-ip id="availableIpSegment4.startIp.id" width="availableIpSegment.width" type="availableIpSegment4.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment4.startIp.validate" value="availableIpSegment4.startIp.value" extend-function="availableIpSegment4.startIp.extendFunction"></tiny-ip>
            -
            <tiny-ip id="availableIpSegment4.endIp.id" type="availableIpSegment4.endIp.type" disable="availableIpSegment.disable" width="availableIpSegment.width" validate="availableIpSegment4.endIp.validate" value="availableIpSegment4.endIp.value" extend-function="availableIpSegment4.endIp.extendFunction"></tiny-ip>
            <a ng-click="operate.addIpv4Ip(4)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment4')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="availableIpSegment5.display && reserveIP">
            <tiny-ip id="availableIpSegment5.startIp.id" width="availableIpSegment.width" type="availableIpSegment5.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment5.startIp.validate" value="availableIpSegment5.startIp.value" extend-function="availableIpSegment5.startIp.extendFunction"></tiny-ip>
            -
            <tiny-ip id="availableIpSegment5.endIp.id" type="availableIpSegment5.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment5.endIp.validate" value="availableIpSegment5.endIp.value" extend-function="availableIpSegment5.endIp.extendFunction"></tiny-ip>
            <a ng-click="operate.addIpv4Ip(5)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment5')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="availableIpSegment6.display && reserveIP">
            <tiny-ip id="availableIpSegment6.startIp.id" width="availableIpSegment.width" type="availableIpSegment6.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment6.startIp.validate" value="availableIpSegment6.startIp.value" extend-function="availableIpSegment6.startIp.extendFunction"></tiny-ip>
            -
            <tiny-ip id="availableIpSegment6.endIp.id" type="availableIpSegment6.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment6.endIp.validate" value="availableIpSegment6.endIp.value" extend-function="availableIpSegment6.endIp.extendFunction"></tiny-ip>
            <a ng-click="operate.addIpv4Ip(6)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment6')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="availableIpSegment7.display && reserveIP">
            <tiny-ip id="availableIpSegment7.startIp.id" width="availableIpSegment.width" type="availableIpSegment7.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment7.startIp.validate" value="availableIpSegment7.startIp.value" extend-function="availableIpSegment7.startIp.extendFunction"></tiny-ip>
            -
            <tiny-ip id="availableIpSegment7.endIp.id" type="availableIpSegment7.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment7.endIp.validate" value="availableIpSegment7.endIp.value" extend-function="availableIpSegment7.endIp.extendFunction"></tiny-ip>
            <a ng-click="operate.addIpv4Ip(7)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment7')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="availableIpSegment8.display && reserveIP">
            <tiny-ip id="availableIpSegment8.startIp.id" type="availableIpSegment8.startIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment8.startIp.validate" value="availableIpSegment8.startIp.value" extend-function="availableIpSegment8.startIp.extendFunction"></tiny-ip>
            -
            <tiny-ip id="availableIpSegment8.endIp.id" type="availableIpSegment8.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment8.endIp.validate" value="availableIpSegment8.endIp.value" extend-function="availableIpSegment8.startIp.extendFunction"></tiny-ip>
            <a ng-click="operate.addIpv4Ip(8)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment8')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="availableIpSegment9.display && reserveIP">
            <tiny-ip id="availableIpSegment9.startIp.id" disable="availableIpSegment9.disable" type="availableIpSegment9.startIp.type" width="availableIpSegment.width" validate="availableIpSegment9.startIp.validate" value="availableIpSegment9.startIp.value" extend-function="availableIpSegment9.startIp.extendFunction"></tiny-ip>
            -
            <tiny-ip id="availableIpSegment9.endIp.id" width="availableIpSegment.width" type="availableIpSegment9.endIp.type" disable="availableIpSegment9.disable" validate="availableIpSegment9.endIp.validate" value="availableIpSegment9.endIp.value" extend-function="availableIpSegment9.endIp.extendFunction"></tiny-ip>
            <a ng-click="operate.addIpv4Ip(9)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment9')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="availableIpSegment10.display && reserveIP">
            <tiny-ip id="availableIpSegment10.startIp.id" width="availableIpSegment.width" type="availableIpSegment10.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment10.startIp.validate" value="availableIpSegment10.startIp.value" extend-function="availableIpSegment10.startIp.extendFunction"></tiny-ip>
            -
            <tiny-ip id="availableIpSegment10.endIp.id" type="availableIpSegment10.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment10.endIp.validate" value="availableIpSegment10.endIp.value" extend-function="availableIpSegment10.endIp.extendFunction"></tiny-ip>
            <a ng-click="operate.addIpv4Ip(10)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment10')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="availableIpSegment11.display && reserveIP">
            <tiny-ip id="availableIpSegment11.startIp.id" width="availableIpSegment.width" type="availableIpSegment11.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment11.startIp.validate" value="availableIpSegment11.startIp.value" extend-function="availableIpSegment11.startIp.extendFunction"></tiny-ip>
            -
            <tiny-ip id="availableIpSegment11.endIp.id" type="availableIpSegment11.endIp.type" disable="availableIpSegment.disable" width="availableIpSegment.width" validate="availableIpSegment11.endIp.validate" value="availableIpSegment11.endIp.value" extend-function="availableIpSegment11.endIp.extendFunction"></tiny-ip>
            <a ng-click="operate.addIpv4Ip(11)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment11')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="availableIpSegment12.display && reserveIP">
            <tiny-ip id="availableIpSegment12.startIp.id" width="availableIpSegment.width" type="availableIpSegment12.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment12.startIp.validate" value="availableIpSegment12.startIp.value" extend-function="availableIpSegment12.startIp.extendFunction"></tiny-ip>
            -
            <tiny-ip id="availableIpSegment12.endIp.id" type="availableIpSegment12.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment12.endIp.validate" value="availableIpSegment12.endIp.value" extend-function="availableIpSegment12.endIp.extendFunction"></tiny-ip>
            <a ng-click="operate.addIpv4Ip(12)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment12')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="availableIpSegment13.display && reserveIP">
            <tiny-ip id="availableIpSegment13.startIp.id" width="availableIpSegment.width" type="availableIpSegment13.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment13.startIp.validate" value="availableIpSegment13.startIp.value" extend-function="availableIpSegment13.startIp.extendFunction"></tiny-ip>
            -
            <tiny-ip id="availableIpSegment13.endIp.id" type="availableIpSegment13.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment13.endIp.validate" value="availableIpSegment13.endIp.value" extend-function="availableIpSegment13.endIp.extendFunction"></tiny-ip>
            <a ng-click="operate.addIpv4Ip(13)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment13')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="availableIpSegment14.display && reserveIP">
            <tiny-ip id="availableIpSegment14.startIp.id" width="availableIpSegment.width" type="availableIpSegment14.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment14.startIp.validate" value="availableIpSegment14.startIp.value" extend-function="availableIpSegment14.startIp.extendFunction"></tiny-ip>
            -
            <tiny-ip id="availableIpSegment14.endIp.id" type="availableIpSegment14.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment14.endIp.validate" value="availableIpSegment14.endIp.value" extend-function="availableIpSegment14.endIp.extendFunction"></tiny-ip>
            <a ng-click="operate.addIpv4Ip(14)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment14')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="availableIpSegment15.display && reserveIP">
            <tiny-ip id="availableIpSegment15.startIp.id" width="availableIpSegment.width" type="availableIpSegment15.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment15.startIp.validate" value="availableIpSegment15.startIp.value" extend-function="availableIpSegment15.startIp.extendFunction"></tiny-ip>
            -
            <tiny-ip id="availableIpSegment15.endIp.id" type="availableIpSegment15.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment15.endIp.validate" value="availableIpSegment15.endIp.value" extend-function="availableIpSegment15.endIp.extendFunction"></tiny-ip>
            <a ng-click="operate.addIpv4Ip(15)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>&nbsp;<a ng-click="operate.deleteIpv4Ip('availableIpSegment15')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="availableIpSegment16.display && reserveIP">
            <tiny-ip id="availableIpSegment16.startIp.id" width="availableIpSegment.width" type="availableIpSegment16.startIp.type" disable="availableIpSegment.disable" validate="availableIpSegment16.startIp.validate" value="availableIpSegment16.startIp.value" extend-function="availableIpSegment16.startIp.extendFunction"></tiny-ip>
            -
            <tiny-ip id="availableIpSegment16.endIp.id" type="availableIpSegment16.endIp.type" width="availableIpSegment.width" disable="availableIpSegment.disable" validate="availableIpSegment16.endIp.validate" value="availableIpSegment16.endIp.value" extend-function="availableIpSegment16.endIp.extendFunction"></tiny-ip>
            <a ng-click="operate.deleteIpv4Ip('availableIpSegment16')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv4InfoDisable)&&isIpv4Checked"></a>
        </tiny-item>
        <tiny-item label="info.priorDns.label" require="info.priorDns.require" display="reserveIP">
            <tiny-ip id="info.priorDns.id" value="service.primaryDNS" type="info.priorDns.type" validate="info.priorDns.validate" extend-function="info.priorDns.extendFunction"></tiny-ip>
        </tiny-item>
        <tiny-item label="info.optionDns.label" require="info.optionDns.require" display="reserveIP">
            <tiny-ip id="info.optionDns.id" value="service.secondaryDNS" type="info.optionDns.type" validate="info.optionDns.validate" extend-function="info.optionDns.extendFunction"></tiny-ip>
        </tiny-item>
    </tiny-formfield>
</div>
<div id="divIPv6" ng-show="!data.routed">
    <tiny-formfield>
        <tiny-item label="info.ipv6.label">
            <tiny-checkbox id="info.ipv6.id" text="info.ipv6.text" change="info.ipv6.change()" checked="isIpv6Checked"></tiny-checkbox>
        </tiny-item>
    </tiny-formfield>
    <tiny-formfield>
        <tiny-item label="ipv6.ipType.label" require="ipv6.ipType.require">
            <div>
                <tiny-radio text='ipv6.ipType.auto' name="ipv6.ipType.name" value='ipv6.ipType.autoValue' checked='true' disable='true' click="ipv6Typeclick('auto')" height="27"></tiny-radio>
                <div class="inline-help"><span ng-bind="i18n.resource_exter_add_para_allocationIP_mean_manual_label"></span></div>
            </div>
        </tiny-item>
        <tiny-item label="ipv6.subnetIp.label" require="ipv6.subnetIp.require">
            <div id="createnetworkICTsubnetIPv6Ip">
                <tiny-textbox id="ipv6.subnetIp.id" value="service.ipv6subnet.subnetAddr" type="ipv6.subnetIp.type" validate="ipv6.subnetIp.validate" disable='ipv6InfoDisable || !isIpv6Checked' extend-function="ipv6.subnetIp.extendFunction"></tiny-textbox>
            </div>
        </tiny-item>
        <tiny-item label="ipv6.subnetMask.label" require="ipv6.subnetMask.require">
            <div id="createnetworkICTsubnetIPv6Mask">
                <tiny-textbox id="ipv6.subnetMask.id" value="service.ipv6subnet.subnetPrefix" type="ipv6.subnetMask.type" validate="ipv6.subnetMask.validate" disable='ipv6InfoDisable || !isIpv6Checked' extend-function="ipv6.subnetMask.extendFunction"></tiny-textbox>
            </div>
        </tiny-item>
        <tiny-item label="ipv6.gateway.label" require="ipv6.gateway.require">
            <div id="createnetworkICTgatewayIPv6">
                <div ng-if="service.type==i18n.vpc_term_innerNet_label">
                    <tiny-textbox id="ipv6.gateway.id" value="service.ipv6subnet.gateway" type="ipv6.gateway.type" validate="ipv6.gateway.validate6innerNet" disable='ipv6InfoDisable || !isIpv6Checked' extend-function="ipv6.gateway.extendFunction"></tiny-textbox>
                </div>
                <div ng-if="service.type!=i18n.vpc_term_innerNet_label">
                    <tiny-textbox id="ipv6.gateway.id" value="service.ipv6subnet.gateway" type="ipv6.gateway.type" validate="ipv6.gateway.validate" disable='ipv6InfoDisable || !isIpv6Checked' extend-function="ipv6.gateway.extendFunction"></tiny-textbox>
                </div>
            </div>
        </tiny-item>

        <tiny-item label="ipv6IpSegment1.label" display="reservev6IP">
            <tiny-textbox id="ipv6IpSegment1.startIp.id" disable="ipv6InfoDisable || !isIpv6Checked" type="ipv6IpSegment1.startIp.type" width="ipv6IpSegment.width" validate="ipv6IpSegment1.startIp.validate" value="ipv6IpSegment1.startIp.value" extend-function="ipv6IpSegment1.startIp.extendFunction"></tiny-textbox>
            -
            <tiny-textbox id="ipv6IpSegment1.endIp.id" type="ipv6IpSegment1.endIp.type" width="ipv6IpSegment.width" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment1.endIp.validate" value="ipv6IpSegment1.endIp.value" extend-function="ipv6IpSegment1.endIp.extendFunction"></tiny-textbox>
            <a ng-click="operate.addIpv6Ip(1)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="ipv6IpSegment2.display && reservev6IP">
            <tiny-textbox id="ipv6IpSegment2.startIp.id" disable="ipv6InfoDisable || !isIpv6Checked" type="ipv6IpSegment2.startIp.type" width="ipv6IpSegment.width" validate="ipv6IpSegment2.startIp.validate" value="ipv6IpSegment2.startIp.value" extend-function="ipv6IpSegment2.startIp.extendFunction"></tiny-textbox>
            -
            <tiny-textbox id="ipv6IpSegment2.endIp.id" width="ipv6IpSegment.width" type="ipv6IpSegment2.endIp.type" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment2.endIp.validate" value="ipv6IpSegment2.endIp.value" extend-function="ipv6IpSegment2.endIp.extendFunction"></tiny-textbox>
            <a ng-click="operate.addIpv6Ip(2)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>&nbsp;<a ng-click="operate.deleteIpv6Ip('ipv6IpSegment2')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="ipv6IpSegment3.display && reservev6IP">
            <tiny-textbox id="ipv6IpSegment3.startIp.id" width="ipv6IpSegment.width" type="ipv6IpSegment3.startIp.type" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment3.startIp.validate" value="ipv6IpSegment3.startIp.value" extend-function="ipv6IpSegment3.startIp.extendFunction"></tiny-textbox>
            -
            <tiny-textbox id="ipv6IpSegment3.endIp.id" type="ipv6IpSegment3.endIp.type" width="ipv6IpSegment.width" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment3.endIp.validate" value="ipv6IpSegment3.endIp.value" extend-function="ipv6IpSegment3.endIp.extendFunction"></tiny-textbox>
            <a ng-click="operate.addIpv6Ip(3)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>&nbsp;<a ng-click="operate.deleteIpv6Ip('ipv6IpSegment3')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="ipv6IpSegment4.display && reservev6IP">
            <tiny-textbox id="ipv6IpSegment4.startIp.id" width="ipv6IpSegment.width" type="ipv6IpSegment4.startIp.type" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment4.startIp.validate" value="ipv6IpSegment4.startIp.value" extend-function="ipv6IpSegment4.startIp.extendFunction"></tiny-textbox>
            -
            <tiny-textbox id="ipv6IpSegment4.endIp.id" type="ipv6IpSegment4.endIp.type" disable="ipv6InfoDisable || !isIpv6Checked" width="ipv6IpSegment.width" validate="ipv6IpSegment4.endIp.validate" value="ipv6IpSegment4.endIp.value" extend-function="ipv6IpSegment4.endIp.extendFunction"></tiny-textbox>
            <a ng-click="operate.addIpv6Ip(4)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>&nbsp;<a ng-click="operate.deleteIpv6Ip('ipv6IpSegment4')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="ipv6IpSegment5.display && reservev6IP">
            <tiny-textbox id="ipv6IpSegment5.startIp.id" width="ipv6IpSegment.width" type="ipv6IpSegment5.startIp.type" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment5.startIp.validate" value="ipv6IpSegment5.startIp.value" extend-function="ipv6IpSegment5.startIp.extendFunction"></tiny-textbox>
            -
            <tiny-textbox id="ipv6IpSegment5.endIp.id" type="ipv6IpSegment5.endIp.type" width="ipv6IpSegment.width" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment5.endIp.validate" value="ipv6IpSegment5.endIp.value" extend-function="ipv6IpSegment5.endIp.extendFunction"></tiny-textbox>
            <a ng-click="operate.addIpv6Ip(5)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>&nbsp;<a ng-click="operate.deleteIpv6Ip('ipv6IpSegment5')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="ipv6IpSegment6.display && reservev6IP">
            <tiny-textbox id="ipv6IpSegment6.startIp.id" width="ipv6IpSegment.width" type="ipv6IpSegment6.startIp.type" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment6.startIp.validate" value="ipv6IpSegment6.startIp.value" extend-function="ipv6IpSegment6.startIp.extendFunction"></tiny-textbox>
            -
            <tiny-textbox id="ipv6IpSegment6.endIp.id" type="ipv6IpSegment6.endIp.type" width="ipv6IpSegment.width" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment6.endIp.validate" value="ipv6IpSegment6.endIp.value" extend-function="ipv6IpSegment6.endIp.extendFunction"></tiny-textbox>
            <a ng-click="operate.addIpv6Ip(6)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>&nbsp;<a ng-click="operate.deleteIpv6Ip('ipv6IpSegment6')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="ipv6IpSegment7.display && reservev6IP">
            <tiny-textbox id="ipv6IpSegment7.startIp.id" width="ipv6IpSegment.width" type="ipv6IpSegment7.startIp.type" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment7.startIp.validate" value="ipv6IpSegment7.startIp.value" extend-function="ipv6IpSegment7.startIp.extendFunction"></tiny-textbox>
            -
            <tiny-textbox id="ipv6IpSegment7.endIp.id" type="ipv6IpSegment7.endIp.type" width="ipv6IpSegment.width" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment7.endIp.validate" value="ipv6IpSegment7.endIp.value" extend-function="ipv6IpSegment7.endIp.extendFunction"></tiny-textbox>
            <a ng-click="operate.addIpv6Ip(7)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>&nbsp;<a ng-click="operate.deleteIpv6Ip('ipv6IpSegment7')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="ipv6IpSegment8.display && reservev6IP">
            <tiny-textbox id="ipv6IpSegment8.startIp.id" type="ipv6IpSegment8.startIp.type" width="ipv6IpSegment.width" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment8.startIp.validate" value="ipv6IpSegmen8.startIp.value" extend-function="ipv6IpSegment8.startIp.extendFunction"></tiny-textbox>
            -
            <tiny-textbox id="ipv6IpSegment8.endIp.id" type="ipv6IpSegment8.endIp.type" width="ipv6IpSegment.width" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment8.endIp.validate" value="ipv6IpSegmen8.endIp.value" extend-function="ipv6IpSegment8.endIp.extendFunction"></tiny-textbox>
            <a ng-click="operate.addIpv6Ip(8)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>&nbsp;<a ng-click="operate.deleteIpv6Ip('ipv6IpSegment8')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="ipv6IpSegment9.display && reservev6IP">
            <tiny-textbox id="ipv6IpSegment9.startIp.id" disable="ipv6InfoDisable || !isIpv6Checked" type="ipv6IpSegment9.startIp.type" width="ipv6IpSegment.width" validate="ipv6IpSegment9.startIp.validate" value="ipv6IpSegme9.startIp.value" extend-function="ipv6IpSegment9.startIp.extendFunction"></tiny-textbox>
            -
            <tiny-textbox id="ipv6IpSegment9.endIp.id" width="ipv6IpSegment.width" type="ipv6IpSegment9.endIp.type" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment9.endIp.validate" value="ipv6IpSegme9.endIp.value" extend-function="ipv6IpSegment9.endIp.extendFunction"></tiny-textbox>
            <a ng-click="operate.addIpv6Ip(9)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>&nbsp;<a ng-click="operate.deleteIpv6Ip('ipv6IpSegment9')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="ipv6IpSegment10.display && reservev6IP">
            <tiny-textbox id="ipv6IpSegment10.startIp.id" width="ipv6IpSegment.width" type="ipv6IpSegment10.startIp.type" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment10.startIp.validate" value="ipv6IpSegm10.startIp.value" extend-function="ipv6IpSegment10.startIp.extendFunction"></tiny-textbox>
            -
            <tiny-textbox id="ipv6IpSegment10.endIp.id" type="ipv6IpSegment10.endIp.type" width="ipv6IpSegment.width" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment10.endIp.validate" value="ipv6IpSegment10.endIp.value" extend-function="ipv6IpSegment10.endIp.extendFunction"></tiny-textbox>
            <a ng-click="operate.addIpv6Ip(10)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>&nbsp;<a ng-click="operate.deleteIpv6Ip('ipv6IpSegment10')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="ipv6IpSegment11.display && reservev6IP">
            <tiny-textbox id="ipv6IpSegment11.startIp.id" width="ipv6IpSegment.width" type="ipv6IpSegment11.startIp.type" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment11.startIp.validate" value="ipv6IpSegm11.startIp.value" extend-function="ipv6IpSegment11.startIp.extendFunction"></tiny-textbox>
            -
            <tiny-textbox id="ipv6IpSegment11.endIp.id" type="ipv6IpSegment11.endIp.type" disable="ipv6InfoDisable || !isIpv6Checked" width="ipv6IpSegment.width" validate="ipv6IpSegment11.endIp.validate" value="ipv6IpSegment11.endIp.value" extend-function="ipv6IpSegment11.endIp.extendFunction"></tiny-textbox>
            <a ng-click="operate.addIpv6Ip(11)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>&nbsp;<a ng-click="operate.deleteIpv6Ip('ipv6IpSegment11')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="ipv6IpSegment12.display && reservev6IP">
            <tiny-textbox id="ipv6IpSegment12.startIp.id" width="ipv6IpSegment.width" type="ipv6IpSegment12.startIp.type" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment12.startIp.validate" value="ipv6IpSegm12.startIp.value" extend-function="ipv6IpSegment12.startIp.extendFunction"></tiny-textbox>
            -
            <tiny-textbox id="ipv6IpSegment12.endIp.id" type="ipv6IpSegment12.endIp.type" width="ipv6IpSegment.width" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment12.endIp.validate" value="ipv6IpSegment12.endIp.value" extend-function="ipv6IpSegment12.endIp.extendFunction"></tiny-textbox>
            <a ng-click="operate.addIpv6Ip(12)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>&nbsp;<a ng-click="operate.deleteIpv6Ip('ipv6IpSegment12')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="ipv6IpSegment13.display && reservev6IP">
            <tiny-textbox id="ipv6IpSegment13.startIp.id" width="ipv6IpSegment.width" type="ipv6IpSegment13.startIp.type" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment13.startIp.validate" value="ipv6IpSegm13.startIp.value" extend-function="ipv6IpSegment13.startIp.extendFunction"></tiny-textbox>
            -
            <tiny-textbox id="ipv6IpSegment13.endIp.id" type="ipv6IpSegment13.endIp.type" width="ipv6IpSegment.width" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment13.endIp.validate" value="ipv6IpSegment13.endIp.value" extend-function="ipv6IpSegment13.endIp.extendFunction"></tiny-textbox>
            <a ng-click="operate.addIpv6Ip(13)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>&nbsp;<a ng-click="operate.deleteIpv6Ip('ipv6IpSegment13')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="ipv6IpSegment14.display && reservev6IP">
            <tiny-textbox id="ipv6IpSegment14.startIp.id" width="ipv6IpSegment.width" type="ipv6IpSegment14.startIp.type" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment14.startIp.validate" value="ipv6IpSegm14.startIp.value" extend-function="ipv6IpSegment14.startIp.extendFunction"></tiny-textbox>
            -
            <tiny-textbox id="ipv6IpSegment14.endIp.id" type="ipv6IpSegment14.endIp.type" width="ipv6IpSegment.width" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment14.endIp.validate" value="ipv6IpSegment14.endIp.value" extend-function="ipv6IpSegment14.endIp.extendFunction"></tiny-textbox>
            <a ng-click="operate.addIpv6Ip(14)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>&nbsp;<a ng-click="operate.deleteIpv6Ip('ipv6IpSegment14')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="ipv6IpSegment15.display && reservev6IP">
            <tiny-textbox id="ipv6IpSegment15.startIp.id" width="ipv6IpSegment.width" type="ipv6IpSegment15.startIp.type" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment15.startIp.validate" value="ipv6IpSegm15.startIp.value" extend-function="ipv6IpSegment15.startIp.extendFunction"></tiny-textbox>
            -
            <tiny-textbox id="ipv6IpSegment15.endIp.id" type="ipv6IpSegment15.endIp.type" width="ipv6IpSegment.width" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment15.endIp.validate" value="ipv6IpSegment15.endIp.value" extend-function="ipv6IpSegment15.endIp.extendFunction"></tiny-textbox>
            <a ng-click="operate.addIpv6Ip(15)" ng-bind="i18n.common_term_add_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>&nbsp;<a ng-click="operate.deleteIpv6Ip('ipv6IpSegment15')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="ipv6IpSegment16.display && reservev6IP">
            <tiny-textbox id="ipv6IpSegment16.startIp.id" width="ipv6IpSegment.width" type="ipv6IpSegment16.startIp.type" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment16.startIp.validate" value="ipv6IpSegm16.startIp.value" extend-function="ipv6IpSegment16.startIp.extendFunction"></tiny-textbox>
            -
            <tiny-textbox id="ipv6IpSegment16.endIp.id" type="ipv6IpSegment16.endIp.type" width="ipv6IpSegment.width" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6IpSegment16.endIp.validate" value="ipv6IpSegment16.endIp.value" extend-function="ipv6IpSegment16.endIp.extendFunction"></tiny-textbox>
            <a ng-click="operate.deleteIpv6Ip('ipv6IpSegment16')" ng-bind="i18n.common_term_delete_button" ng-if="(!ipv6InfoDisable)&&isIpv6Checked"></a>
        </tiny-item>
        <tiny-item label="ipv6.priorDns.label" require="ipv6.priorDns.require" display="reservev6IP">
            <tiny-textbox id="ipv6.priorDns.id" value="service.ipv6subnet.primaryDNS" type="ipv6.priorDns.type" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6.priorDns.validate" extend-function="ipv6.priorDns.extendFunction"></tiny-textbox>
        </tiny-item>
        <tiny-item label="ipv6.optionDns.label" require="ipv6.optionDns.require" display="reservev6IP">
            <tiny-textbox id="ipv6.optionDns.id" value="service.ipv6subnet.secondaryDNS" type="ipv6.optionDns.type" disable="ipv6InfoDisable || !isIpv6Checked" validate="ipv6.optionDns.validate" extend-function="ipv6.optionDns.extendFunction"></tiny-textbox>
        </tiny-item>
    </tiny-formfield>
</div>
<tiny-formfield>
    <tiny-item label="">
        <div class="create-btn-margin">
            <tiny-button id="info.preBtn.id" text="info.preBtn.text" click="info.preBtn.click()"></tiny-button>
            <tiny-button id="info.nextBtn.id" text="info.nextBtn.text" click="info.nextBtn.click()" disable="!isIpv4Checked && !isIpv6Checked" class="major-btn"></tiny-button>
            <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
        </div>
    </tiny-item>

</tiny-formfield>
</div>
</div>
