<div id="infoSelectInnerOrRouter">
    <div class="panel_title"><span ng-bind="i18n.common_term_linkMode_label"></span></div>
    <div class="horizontal_line"></div>
    <div class="margin-top-beautifier">
        <tiny-formfield>
            <tiny-item label="info.connectType.label" require="info.connectType.require">
                <tiny-radio text='info.connectType.subnet' name="info.connectType.name" checked='isSubChecked' click="typeClick('subnet')" height="27"
                            display="subnetRadio" id="info.connectType.subNetRadioId" disable="data.routed"></tiny-radio>
                <div id="vlanSelectRadio">
                    <tiny-radio text='info.connectType.vlan' name="info.connectType.name" checked='!isSubChecked' click="typeClick('vlan')" height="27" disable="data.routed"></tiny-radio>
                    <div class="inline-help"><span ng-bind="i18n.vpc_net_addICT_para_type_mean_tip"></span></div>
                </div>
            </tiny-item>
            <tiny-item>
                <a ng-click="info.setting.add()" ng-bind="info.setting.label.operator" ng-show="!isModifyMode"></a>
            </tiny-item>
            <tiny-item label="info.setting.label.type" require="true" display="service.paraSetting.show">
                <tiny-select id="info.setting.networkSelectId" values="service.paraSetting.selectVlanValues" change="info.setting.change()" disable="isModifyMode">
                </tiny-select>
            </tiny-item>
            <tiny-item label="info.setting.label.phyNetwork" require="true" display="service.paraSetting.show&&(service.paraSetting.typeName == 'vlan')">
                <tiny-select id="info.setting.phyNetworkSelectId" values="service.paraSetting.phyNetworkValues" validate="info.setting.validate.phyNetworkValidate" disable="isModifyMode">
                </tiny-select>
            </tiny-item>
            <tiny-item label="info.setting.label.segmentation" require="true" display="service.paraSetting.show&&(service.paraSetting.typeName == 'vlan')">
                <tiny-textbox id="info.setting.segmentationId1" value="service.vlan" validate="info.setting.validate.vlanValidate" tooltip="info.setting.tip.vlanTip" disable="isModifyMode"></tiny-textbox>
            </tiny-item>
            <tiny-item label="info.setting.label.segmentation" require="true" display="service.paraSetting.show&&(service.paraSetting.typeName == 'vxlan')">
                <tiny-textbox id="info.setting.segmentationId2" value="service.vlan" validate="info.setting.validate.vxlanValidate" tooltip="info.setting.tip.vxlanTip" disable="isModifyMode"></tiny-textbox>
            </tiny-item>
            <tiny-item>
                <tiny-button id="info.preBtn.id" text="info.preBtn.text" click="info.preBtn.click()"></tiny-button>
                <tiny-button id="info.nextBtn.id" text="info.nextBtn.text" click="info.nextBtn.click()" class="major-btn"></tiny-button>
                <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>