<div id="network-addRule-layout" ng-controller="addRuleCtrl" class="row-fluid">
    <div style="border: 1px solid #F5F5F5;">
        <div>
            <img src="../theme/default/images/open_close2.png" id="IPimg1" ng-click="changeImg('IPimg1')" class="pull-left" style="margin: 3px 5px 0 0;">
            <tiny-radio id="checkRadio.id1" text="checkRadio.text1" name="checkRadio.name" checked="checkRadio.checked1" change="checkRadio.change1()"></tiny-radio>
        </div>
        <div id="ruleCheDiv1">
            <tiny-formfield>
                <tiny-item label="protocolIPV4.label" require="protocolIPV4.require">
                    <tiny-select id="protocolIPV4.id" values="protocolIPV4.values" width="protocolIPV4.width" default-label="protocolIPV4.dftLabel" change="protocolIPV4.change()">
                    </tiny-select>
                </tiny-item>
                <tiny-item label="directionIPV4_ICT.label" require="directionIPV4_ICT.require" display="params.openstack">
                    <tiny-select id="directionIPV4_ICT.id" values="directionIPV4_ICT.values" width="directionIPV4_ICT.width" default-label="directionIPV4_ICT.dftLabel" change="directionIPV4_ICT.change()">
                    </tiny-select>
                </tiny-item>
                <tiny-item label="directionIPV4.label" require="directionIPV4.require" display="directionIPV4.display">
                    <tiny-select id="directionIPV4.id" values="directionIPV4.values" width="directionIPV4.width" default-label="directionIPV4.dftLabel" change="directionIPV4.change()">
                    </tiny-select>
                </tiny-item>
                <tiny-item label="sourceIPV4.label" require="sourceIPV4.require">
                    <tiny-select id="sourceIPV4.id" values="sourceIPV4.values" width="sourceIPV4.width" default-label="sourceIPV4.dftLabel" change="sourceIPV4.change()">
                    </tiny-select>
                </tiny-item>
                <tiny-item require="vmIPV4.require" display="vmShow">
                    <div class="clearfix bottom10">
                        <span style="margin-left: -80px;" ng-bind="vmIPV4.label"></span>
                        <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px; margin-left: 293px;">
                            <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width" maxlength="searchBox.maxLength" search="searchBox.search">
                            </tiny-searchbox>
                        </span>
                    </div>
                    <div style="margin-left: -80px;">
                        <tiny-table id="vmIPV4.id" data="vmIPV4.data" columns="vmIPV4.columns" length-menu="vmIPV4.lengthMenu" pagination-style="vmIPV4.paginationStyle" length-change="vmIPV4.lengthChange" length-menu="vmIPV4.lengthMenu" display-length="vmIPV4.displayLength"
                        render-row="vmIPV4.renderRow" callback="vmIPV4.callback" change-select="vmIPV4.changeSelect" total-records="vmIPV4.totalRecords" enable-filter="vmIPV4.enableFilter" columns-visibility="false"></tiny-table>
                    </div>
                </tiny-item>
                <tiny-item label="vmSelect.label" require="vmSelect.require" display="vmShow">
                    <tiny-select id="vmSelect.id" values="vmSelect.values" width="vmSelect.width" height="vmSelect.height" default-label="vmSelect.dftLabel" change="vmSelect.change()" validate="vmSelect.validate">
                    </tiny-select>
                </tiny-item>
                <tiny-item label="subnetIpIPV4.label" require="subnetIpIPV4.require" display="isSubnetShowIPV4">
                    <tiny-ip id="subnetIpIPV4.id" value="subnetIpIPV4.value" type="subnetIpIPV4.type" width="subnetIpIPV4.width" validate="subnetIpIPV4.validate" extend-function="subnetIpIPV4.extendFunction"></tiny-ip>
                </tiny-item>
                <tiny-item label="subnetMaskIPV4.label" require="subnetMaskIPV4.require" display="isSubnetShowIPV4">
                    <tiny-ip id="subnetMaskIPV4.id" value="subnetMaskIPV4.value" type="subnetMaskIPV4.type" width="subnetMaskIPV4.width" validate="subnetMaskIPV4.validate" extend-function="subnetMaskIPV4.extendFunction"></tiny-ip>
                </tiny-item>
                <tiny-item label="startIpIPV4.label" require="startIpIPV4.require" display="isIpRangeShowIPV4">
                    <tiny-ip id="startIpIPV4.id" value="startIpIPV4.value" type="startIpIPV4.type" width="startIpIPV4.width" validate="startIpIPV4.validate" extend-function="startIpIPV4.extendFunction"></tiny-ip>
                </tiny-item>
                <tiny-item label="endIpIPV4.label" require="endIpIPV4.require" display="isIpRangeShowIPV4">
                    <tiny-ip id="endIpIPV4.id" value="endIpIPV4.value" type="endIpIPV4.type" width="endIpIPV4.width" validate="endIpIPV4.validate" extend-function="endIpIPV4.extendFunction"></tiny-ip>
                </tiny-item>
                <tiny-item label="otherSecGroupIPV4.label" require="otherSecGroupIPV4.require" display="isOtherSecGroupShowIPV4">
                    <tiny-select id="otherSecGroupIPV4.id" values="otherSecGroupIPV4.values" width="otherSecGroupIPV4.width" height="otherSecGroupIPV4.height">
                    </tiny-select>
                </tiny-item>
                <tiny-item label="portRangeIPV4.label" require="portRangeIPV4.require" display="isPortRangeShowIPV4">
                    <tiny-textBox id="portRangeIPV4.fromPort.id" value="portRangeIPV4.fromPort.value" width="portRangeIPV4.fromPort.width" validate="portRangeIPV4.fromPort.validate"></tiny-textBox>
                    <span>-</span>
                    <tiny-textBox id="portRangeIPV4.toPort.id" value="portRangeIPV4.toPort.value" width="portRangeIPV4.toPort.width" validate="portRangeIPV4.toPort.validate" extend-function="portRangeIPV4.toPort.extendFunction"></tiny-textBox>
                </tiny-item>
                <tiny-item label="ICMPTypeIPV4.label" require="ICMPTypeIPV4.require" display="isICMPTypeShowIPV4">
                    <tiny-select id="ICMPTypeIPV4.id" values="ICMPTypeIPV4.values" width="ICMPTypeIPV4.width" default-label="ICMPTypeIPV4.dftLabel" change="ICMPTypeIPV4.change()">
                    </tiny-select>
                </tiny-item>
            </tiny-formfield>
        </div>
    </div>
    <div style="border: 1px solid #F5F5F5;">
        <div>
            <img src="../theme/default/images/open_close1.png" id="IPimg2" ng-click="changeImg('IPimg2')" class="pull-left" style="margin: 5px 5px 0 0;">
            <tiny-radio id="checkRadio.id2" text="checkRadio.text2" name="checkRadio.name" checked="checkRadio.checked2" change="checkRadio.change2()"></tiny-radio>
        </div>
        <div id="ruleCheDiv2" style="display: none;">
            <tiny-formfield>
                <tiny-item label="protocolIPV6.label" require="protocolIPV6.require">
                    <tiny-select id="protocolIPV6.id" values="protocolIPV6.values" width="protocolIPV6.width" default-label="protocolIPV6.dftLabel" change="protocolIPV6.change()">
                    </tiny-select>
                </tiny-item>
                <tiny-item label="directionIPV6_ICT.label" require="directionIPV6_ICT.require" display="params.openstack">
                    <tiny-select id="directionIPV6_ICT.id" values="directionIPV4_ICT.values" width="directionIPV6_ICT.width" default-label="directionIPV6_ICT.dftLabel" change="directionIPV6_ICT.change()">
                    </tiny-select>
                </tiny-item>
                <tiny-item label="sourceIPV6.label" require="sourceIPV6.require">
                    <tiny-select id="sourceIPV6.id" values="sourceIPV6.values" width="sourceIPV6.width" default-label="sourceIPV6.dftLabel" change="sourceIPV6.change()">
                    </tiny-select>
                </tiny-item>
                <tiny-item label="subnetIpIPV6.label" require="subnetIpIPV6.require" display="isSubnetShowIPV6">
                    <tiny-textBox id="subnetIpIPV6.id" value="subnetIpIPV6.value" type="subnetIpIPV6.type" width="subnetIpIPV6.width" validate="subnetIpIPV6.validate" extend-function="subnetIpIPV6.extendFunction"></tiny-textBox>
                </tiny-item>
                <tiny-item label="subnetIpIPV6Prefix.label" require="subnetIpIPV6Prefix.require" display="isSubnetShowIPV6">
                    <tiny-textBox id="subnetIpIPV6Prefix.id" value="subnetIpIPV6Prefix.value" type="subnetIpIPV6Prefix.type" width="subnetIpIPV6Prefix.width" validate="subnetIpIPV6Prefix.validate"></tiny-textBox>
                </tiny-item>
                <tiny-item label="startIpIPV6.label" require="startIpIPV6.require" display="isIpRangeShowIPV6">
                    <tiny-textBox id="startIpIPV6.id" value="startIpIPV6.value" type="startIpIPV6.type" width="startIpIPV6.width" validate="startIpIPV6.validate" extend-function="startIpIPV6.extendFunction"></tiny-textBox>
                </tiny-item>
                <tiny-item label="endIpIPV6.label" require="endIpIPV6.require" display="isIpRangeShowIPV6">
                    <tiny-textBox id="endIpIPV6.id" value="endIpIPV6.value" type="endIpIPV6.type" width="endIpIPV6.width" validate="endIpIPV6.validate" extend-function="endIpIPV6.extendFunction"></tiny-textBox>
                </tiny-item>
                <tiny-item label="otherSecGroupIPV6.label" require="otherSecGroupIPV6.require" display="isOtherSecGroupShowIPV6">
                    <tiny-select id="otherSecGroupIPV6.id" values="otherSecGroupIPV6.values" width="otherSecGroupIPV6.width" height="otherSecGroupIPV6.height">
                    </tiny-select>
                </tiny-item>
                <tiny-item label="portRangeIPV6.label" require="portRangeIPV6.require" display="isPortRangeShowIPV6">
                    <tiny-textBox id="portRangeIPV6.fromPort.id" value="portRangeIPV6.fromPort.value" width="portRangeIPV6.fromPort.width" validate="portRangeIPV6.fromPort.validate"></tiny-textBox>
                    <span>-</span>
                    <tiny-textBox id="portRangeIPV6.toPort.id" value="portRangeIPV6.toPort.value" width="portRangeIPV6.toPort.width" validate="portRangeIPV6.toPort.validate" extend-function="portRangeIPV6.toPort.extendFunction"></tiny-textBox>
                </tiny-item>
                <tiny-item label="ICMPTypeIPV6.label" require="ICMPTypeIPV6.require" display="isICMPTypeShowIPV6">
                    <tiny-textBox id="ICMPTypeIPV6.id" value="ICMPTypeIPV6.value" type="ICMPTypeIPV6.type" width="ICMPTypeIPV6.width" validate="ICMPTypeIPV6.validate"></tiny-textBox>
                </tiny-item>
                <tiny-item label="ICMPCodeIPV6.label" require="ICMPCodeIPV6.require" display="isICMPTypeShowIPV6">
                    <tiny-textBox id="ICMPCodeIPV6.id" value="ICMPCodeIPV6.value" type="ICMPCodeIPV6.type" width="ICMPCodeIPV6.width" validate="ICMPCodeIPV6.validate"></tiny-textBox>
                </tiny-item>
            </tiny-formfield>
        </div>
    </div>
    <div class="fm-btn-top-small">
        <tiny-button id="okBtn.id" text="okBtn.text" click="okBtn.click()" class="major-btn"></tiny-button>
        <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
    </div>

</div>
<script type="text/javascript">
require(["app/business/network/controllers/securitygroup/addRuleCtrl"], function(addRuleModule) {
    var dep = ['ng', addRuleModule.name];
    dep.unshift(["$provide",
        function($provide) {
            $provide.value("$rootElement", $("#network-addRule-layout"));
        }
    ]);
    var $injector = angular.injector(dep);
    $injector.invoke(function($compile, $rootScope) {
        $compile($("#network-addRule-layout"))($rootScope);
        $rootScope.$digest();
    });
})
</script>