<div class="container-fluid" id="member-vm-basic" ng-controller="memberVMCtrl">
    <div>
        <div>
            <tiny-table id="memberVMModel.id" data="memberVMModel.datas" columns="memberVMModel.columns" length-menu="memberVMModel.lengthMenu" display-length="memberVMModel.displayLength" total-records="memberVMModel.totalRecords" render-row="memberVMModel.renderRow"
            pagination-style="memberVMModel.paginationStyle" callback="memberVMModel.callback" change-select="memberVMModel.changeSelect">
            </tiny-table>
        </div>
    </div>
</div>
<script type="text/javascript">
require(["app/business/network/controllers/securitygroup/memberVMCtrl"], function(memberVMModule) {
    var dep = ['ng', memberVMModule.name];
    dep.unshift(["$provide",
        function($provide) {
            $provide.value("$rootElement", $("#member-vm-basic"));
        }
    ]);
    var $injector = angular.injector(dep);
    $injector.invoke(function($compile, $rootScope) {
        $compile($("#member-vm-basic"))($rootScope);
        $rootScope.$digest();
    });
})
</script>