<div id="subnetDiv">
<div id="ipv4Div">
    <tiny-checkbox id="ipv4.ipv4Checkbox.id" value="ipv4.ipv4Checkbox.value"
                   text="ipv4.ipv4Checkbox.text"
                   height="ipv4.ipv4Checkbox.height" change="ipv4.ipv4Checkbox.change()"
                   checked="ipv4.ipv4Checkbox.checked"></tiny-checkbox>
    <tiny-formfield labelwidth="ipv4.labelwidth">
        <tiny-item label="ipv4.ipDistMode.label" require="ipv4.ipDistMode.require">
            <tiny-radiogroup id="ipv4.ipDistMode.id" values="ipv4.ipDistMode.values" layout="ipv4.ipDistMode.layout"
                             spacing="ipv4.ipDistMode.spacing" change="ipv4.ipDistMode.change()"></tiny-radiogroup>
        </tiny-item>
        <tiny-item label="ipv4.subnetIp.label" require="ipv4.subnetIp.require">
            <tiny-ip id="ipv4.subnetIp.id" type="ipv4.subnetIp.type" width="ipv4.subnetIp.width"
                     disable="ipv4.subnetIp.disable" extend-function="ipv4.subnetIp.extendFunction"
                     validate="ipv4.subnetIp.validate"></tiny-ip>
        </tiny-item>
        <tiny-item label="ipv4.subnetMask.label" require="ipv4.subnetMask.require">
            <tiny-ip id="ipv4.subnetMask.id" type="ipv4.subnetMask.type" width="ipv4.subnetMask.width"
                     disable="ipv4.subnetMask.disable" extend-function="ipv4.subnetMask.extendFunction"
                     validate="ipv4.subnetMask.validate"></tiny-ip>
        </tiny-item>
        <tiny-item label="ipv4.gateway.label" require="ipv4.gateway.require">
            <tiny-ip id="ipv4.gateway.id" type="ipv4.gateway.type" width="ipv4.gateway.width"
                     disable="ipv4.gateway.disable" extend-function="ipv4.gateway.extendFunction"
                     validate="ipv4.gateway.validate"></tiny-ip>
        </tiny-item>
    </tiny-formfield>
    <tiny-formfield labelwidth="ipv4.labelwidth" ng-show="ipv4.ipDist == 'ext'">
        <tiny-item label="ipv4.dhcpIp01.label" require="ipv4.dhcpIp01.require" display="ipv4.dhcpIp01.display">
            <tiny-ip id="ipv4.dhcpIp01.id" type="ipv4.dhcpIp01.type" width="ipv4.dhcpIp01.width"
                     disable="ipv4.dhcpIp01.disable" extend-function="ipv4.dhcpIp01.extendFunction"
                     validate="ipv4.dhcpIp01.validate"></tiny-ip>
        </tiny-item>
        <tiny-item label="ipv4.dhcpIp02.label" require="ipv4.dhcpIp02.require" display="ipv4.dhcpIp02.display">
            <tiny-ip id="ipv4.dhcpIp02.id" type="ipv4.dhcpIp02.type" width="ipv4.dhcpIp02.width"
                     disable="ipv4.dhcpIp02.disable" extend-function="ipv4.dhcpIp02.extendFunction"
                     validate="ipv4.dhcpIp02.validate"></tiny-ip>
        </tiny-item>
    </tiny-formfield>

    <tiny-formfield labelwidth="ipv4.labelwidth" ng-show="ipv4.ipDist == 'static'|| ipv4.ipDist == 'in'">
        <tiny-item label="ipv4.availableIpSegment1.label" require="ipv4.availableIpSegment1.require">
            <tiny-ip id="ipv4.availableIpSegment1.startIp.id" disable="ipv4.availableIpSegment1.disable"
                     type="ipv4.availableIpSegment1.startIp.type" width="ipv4.availableIpSegment.width"
                     extend-function="ipv4.availableIpSegment1.startIp.extendFunction"
                     validate="ipv4.availableIpSegment1.startIp.validate"></tiny-ip>
            -
            <tiny-ip id="ipv4.availableIpSegment1.endIp.id" type="ipv4.availableIpSegment1.endIp.type"
                     width="ipv4.availableIpSegment.width" disable="ipv4.availableIpSegment1.disable"
                     extend-function="ipv4.availableIpSegment1.endIp.extendFunction"
                     validate="ipv4.availableIpSegment1.endIp.validate"></tiny-ip>
            <a class="pointer" ng-click="operate.addIpv4Ip()">{{i18n.common_term_add_button}}</a>
        </tiny-item>
        <tiny-item labelwidth="ipv4.labelwidth" display="ipv4.availableIpSegment2.display">
            <tiny-ip id="ipv4.availableIpSegment2.startIp.id" disable="ipv4.availableIpSegment2.disable"
                     type="ipv4.availableIpSegment2.startIp.type" width="ipv4.availableIpSegment.width"
                     extend-function="ipv4.availableIpSegment2.startIp.extendFunction"
                     validate="ipv4.availableIpSegment2.startIp.validate"></tiny-ip>
            -
            <tiny-ip id="ipv4.availableIpSegment2.endIp.id" width="ipv4.availableIpSegment.width"
                     type="ipv4.ipv4.availableIpSegment2.endIp.type"
                     disable="ipv4.availableIpSegment2.disable"
                     extend-function="ipv4.availableIpSegment2.endIp.extendFunction"
                     validate="ipv4.availableIpSegment2.endIp.validate"></tiny-ip>
            <a class="pointer" ng-click="operate.addIpv4Ip()">{{i18n.common_term_add_button}}</a>&nbsp;<a class="pointer"
                                                                             ng-click="operate.deleteIpv4Ip('availableIpSegment2')">{{i18n.common_term_delete_button}}</a>
        </tiny-item>
        <tiny-item labelwidth="ipv4.labelwidth" display="ipv4.availableIpSegment3.display">
            <tiny-ip id="ipv4.availableIpSegment3.startIp.id" width="ipv4.availableIpSegment.width"
                     type="ipv4.availableIpSegment3.startIp.type" disable="ipv4.availableIpSegment.disable"
                     extend-function="ipv4.availableIpSegment3.startIp.extendFunction"
                     validate="ipv4.availableIpSegment3.startIp.validate"></tiny-ip>
            -
            <tiny-ip id="ipv4.availableIpSegment3.endIp.id" type="ipv4.availableIpSegment3.endIp.type"
                     width="ipv4.availableIpSegment.width" disable="ipv4.availableIpSegment.disable"
                     extend-function="ipv4.availableIpSegment3.endIp.extendFunction"
                     validate="ipv4.availableIpSegment3.endIp.validate"></tiny-ip>
            <a class="pointer" ng-click="operate.addIpv4Ip()">{{i18n.common_term_add_button}}</a>&nbsp;<a class="pointer"
                                                                             ng-click="operate.deleteIpv4Ip('availableIpSegment3')">{{i18n.common_term_delete_button}}</a>
        </tiny-item>
        <tiny-item labelwidth="ipv4.labelwidth" display="ipv4.availableIpSegment4.display">
            <tiny-ip id="ipv4.availableIpSegment4.startIp.id" width="ipv4.availableIpSegment.width"
                     type="ipv4.availableIpSegment4.startIp.type" disable="ipv4.availableIpSegment.disable"
                     extend-function="ipv4.availableIpSegment4.startIp.extendFunction"
                     validate="ipv4.availableIpSegment4.startIp.validate"></tiny-ip>
            -
            <tiny-ip id="ipv4.availableIpSegment4.endIp.id" type="ipv4.availableIpSegment4.endIp.type"
                     disable="ipv4.availableIpSegment.disable" width="ipv4.availableIpSegment.width"
                     extend-function="ipv4.availableIpSegment4.endIp.extendFunction"
                     validate="ipv4.availableIpSegment4.endIp.validate"></tiny-ip>
            <a class="pointer" ng-click="operate.addIpv4Ip()">{{i18n.common_term_add_button}}</a>&nbsp;<a class="pointer"
                                                                             ng-click="operate.deleteIpv4Ip('availableIpSegment4')">{{i18n.common_term_delete_button}}</a>
        </tiny-item>
        <tiny-item labelwidth="ipv4.labelwidth" display="ipv4.availableIpSegment5.display">
            <tiny-ip id="ipv4.availableIpSegment5.startIp.id" width="ipv4.availableIpSegment.width"
                     type="ipv4.availableIpSegment5.startIp.type" disable="ipv4.availableIpSegment.disable"
                     extend-function="ipv4.availableIpSegment5.startIp.extendFunction"
                     validate="ipv4.availableIpSegment5.startIp.validate"></tiny-ip>
            -
            <tiny-ip id="ipv4.availableIpSegment5.endIp.id" type="ipv4.availableIpSegment5.endIp.type"
                     width="ipv4.availableIpSegment.width" disable="ipv4.availableIpSegment.disable"
                     extend-function="ipv4.availableIpSegment5.endIp.extendFunction"
                     validate="ipv4.availableIpSegment5.endIp.validate"></tiny-ip>
            <a class="pointer" ng-click="operate.addIpv4Ip()">{{i18n.common_term_add_button}}</a>&nbsp;<a class="pointer"
                                                                             ng-click="operate.deleteIpv4Ip('availableIpSegment5')">{{i18n.common_term_delete_button}}</a>
        </tiny-item>
        <tiny-item labelwidth="ipv4.labelwidth" display="ipv4.availableIpSegment6.display">
            <tiny-ip id="ipv4.availableIpSegment6.startIp.id" width="ipv4.availableIpSegment.width"
                     type="ipv4.availableIpSegment6.startIp.type" disable="ipv4.availableIpSegment.disable"
                     extend-function="ipv4.availableIpSegment6.startIp.extendFunction"
                     validate="ipv4.availableIpSegment6.startIp.validate"></tiny-ip>
            -
            <tiny-ip id="ipv4.availableIpSegment6.endIp.id" type="ipv4.availableIpSegment6.endIp.type"
                     width="ipv4.availableIpSegment.width" disable="ipv4.availableIpSegment.disable"
                     extend-function="ipv4.availableIpSegment6.endIp.extendFunction"
                     validate="ipv4.availableIpSegment6.endIp.validate"></tiny-ip>
            <a class="pointer" ng-click="operate.addIpv4Ip()">{{i18n.common_term_add_button}}</a>&nbsp;<a class="pointer"
                                                                             ng-click="operate.deleteIpv4Ip('availableIpSegment6')">{{i18n.common_term_delete_button}}</a>
        </tiny-item>
        <tiny-item labelwidth="ipv4.labelwidth" display="ipv4.availableIpSegment7.display">
            <tiny-ip id="ipv4.availableIpSegment7.startIp.id" width="ipv4.availableIpSegment.width"
                     type="ipv4.availableIpSegment7.startIp.type" disable="ipv4.availableIpSegment.disable"
                     extend-function="ipv4.availableIpSegment7.startIp.extendFunction"
                     validate="ipv4.availableIpSegment7.startIp.validate"></tiny-ip>
            -
            <tiny-ip id="ipv4.availableIpSegment7.endIp.id" type="ipv4.availableIpSegment7.endIp.type"
                     width="ipv4.availableIpSegment.width" disable="ipv4.availableIpSegment.disable"
                     extend-function="ipv4.availableIpSegment7.endIp.extendFunction"
                     validate="ipv4.availableIpSegment7.endIp.validate"></tiny-ip>
            <a class="pointer" ng-click="operate.addIpv4Ip()">{{i18n.common_term_add_button}}</a>&nbsp;<a class="pointer"
                                                                             ng-click="operate.deleteIpv4Ip('availableIpSegment7')">{{i18n.common_term_delete_button}}</a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="ipv4.availableIpSegment8.display">
            <tiny-ip id="ipv4.availableIpSegment8.startIp.id" type="ipv4.availableIpSegment8.startIp.type"
                     width="ipv4.availableIpSegment.width" disable="ipv4.availableIpSegment.disable"
                     extend-function="ipv4.availableIpSegment8.startIp.extendFunction"
                     validate="ipv4.availableIpSegment8.startIp.validate"></tiny-ip>
            -
            <tiny-textbox id="ipv4.availableIpSegment8.endIp.id" type="ipv4.availableIpSegment8.endIp.type"
                          width="ipv4.availableIpSegment.width" disable="ipv4.availableIpSegment.disable"
                          extend-function="ipv4.availableIpSegment8.endIp.extendFunction"
                          validate="ipv4.availableIpSegment8.endIp.validate"></tiny-textbox>
            <a class="pointer" ng-click="operate.deleteIpv4Ip('availableIpSegment8')">{{i18n.common_term_delete_button}}</a>
        </tiny-item>
    </tiny-formfield>
    <tiny-formfield labelwidth="ipv4.labelwidth" ng-show="ipv4.ipDist == 'static'|| ipv4.ipDist == 'in'">
        <tiny-item label="ipv4.domain.label" require="ipv4.domain.require">
            <tiny-textbox id="ipv4.domain.id" disable="ipv4.domain.disable" extend-function="ipv4.domain.extendFunction"
                          tooltip="ipv4.domain.tooltip" validate="ipv4.domain.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="ipv4.firstDns.label" require="ipv4.firstDns.require">
            <tiny-ip id="ipv4.firstDns.id" type="ipv4.firstDns.type" width="ipv4.firstDns.width"
                     disable="ipv4.firstDns.disable" extend-function="ipv4.firstDns.extendFunction"
                     validate="ipv4.firstDns.validate"></tiny-ip>
        </tiny-item>
        <tiny-item label="ipv4.alternativeDns.label" require="ipv4.alternativeDns.require">
            <tiny-ip id="ipv4.alternativeDns.id" type="ipv4.alternativeDns.type"
                     width="ipv4.alternativeDns.width" disable="ipv4.alternativeDns.disable"
                     extend-function="ipv4.alternativeDns.extendFunction"
                     validate="ipv4.alternativeDns.validate"></tiny-ip>
        </tiny-item>
        <tiny-item label="ipv4.firstWins.label" require="ipv4.firstWins.require">
            <tiny-ip id="ipv4.firstWins.id" type="ipv4.firstWins.type" width="ipv4.firstWins.width"
                     disable="ipv4.firstWins.disable" extend-function="ipv4.firstWins.extendFunction"
                     validate="ipv4.firstWins.validate"></tiny-ip>
        </tiny-item>
        <tiny-item label="ipv4.alternativeWins.label" require="ipv4.alternativeWins.require">
            <tiny-ip id="ipv4.alternativeWins.id" type="ipv4.alternativeWins.type"
                     width="ipv4.alternativeWins.width"
                     disable="ipv4.alternativeWins.disable" extend-function="ipv4.alternativeWins.extendFunction"
                     validate="ipv4.alternativeWins.validate"></tiny-ip>
        </tiny-item>
    </tiny-formfield>
</div>
<div id="ipv6Div">
    <tiny-checkbox id="ipv6.ipv6Checkbox.id" value="ipv6.ipv6Checkbox.value"
                   text="ipv6.ipv6Checkbox.text" disable="ipv6.ipv6Checkbox.disable"
                   height="ipv6.ipv6Checkbox.height" change="ipv6.ipv6Checkbox.change()"
                   checked="ipv6.ipv6Checkbox.checked"></tiny-checkbox>
    <tiny-formfield labelwidth="ipv6.labelwidth">
        <tiny-item label="ipv6.ipDistMode.label" require="ipv6.ipDistMode.require">
            <tiny-radiogroup id="ipv6.ipDistMode.id" values="ipv6.ipDistMode.values" layout="ipv6.ipDistMode.layout"
                             spacing="ipv6.ipDistMode.spacing" change="ipv6.ipDistMode.change()"></tiny-radiogroup>
        </tiny-item>
        <tiny-item label="ipv6.subnetIp.label" require="ipv6.subnetIp.require">
            <tiny-textbox id="ipv6.subnetIp.id" type="ipv6.subnetIp.type" width="ipv6.subnetIp.width"
                          disable="ipv6.subnetIp.disable" extend-function="ipv6.subnetIp.extendFunction"
                          validate="ipv6.subnetIp.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="ipv6.subnetPrefix.label" require="ipv6.subnetPrefix.require">
            <tiny-textbox id="ipv6.subnetPrefix.id" disable="ipv6.subnetPrefix.disable"
                          extend-function="ipv6.subnetPrefix.extendFunction"
                          width="ipv6.subnetPrefix.width" validate="ipv6.subnetPrefix.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="ipv6.gateway.label" require="ipv6.gateway.require">
            <tiny-textbox id="ipv6.gateway.id" width="ipv6.gateway.width" extend-function="ipv6.gateway.extendFunction"
                          disable="ipv6.gateway.disable" validate="ipv6.gateway.validate"></tiny-textbox>
        </tiny-item>
    </tiny-formfield>
    <tiny-formfield labelwidth="ipv6.labelwidth" ng-show="ipv6.ipDist == 'ext'">
        <tiny-item label="ipv6.dhcpIp01.label" require="ipv6.dhcpIp01.require" display="ipv6.dhcpIp01.display">
            <tiny-textbox id="ipv6.dhcpIp01.id" width="ipv6.dhcpIp01.width"
                          disable="ipv6.dhcpIp01.disable" extend-function="ipv6.dhcpIp01.extendFunction"
                          validate="ipv6.dhcpIp01.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="ipv6.dhcpIp02.label" require="ipv6.dhcpIp02.require" display="ipv6.dhcpIp02.display">
            <tiny-textbox id="ipv6.dhcpIp02.id" width="ipv6.dhcpIp02.width"
                          disable="ipv6.dhcpIp02.disable" extend-function="ipv6.dhcpIp02.extendFunction"
                          validate="ipv6.dhcpIp02.validate"></tiny-textbox>
        </tiny-item>
    </tiny-formfield>

    <tiny-formfield labelwidth="ipv6.labelwidth" ng-show="ipv6.ipDist == 'static'|| ipv6.ipDist == 'in'">
        <tiny-item label="ipv6.availableIpSegment1.label" require="ipv4.availableIpSegment1.require">
            <tiny-textbox id="ipv6.availableIpSegment1.startIp.id" disable="ipv6.availableIpSegment.disable"
                          width="ipv6.availableIpSegment.width" extend-function="ipv6.availableIpSegment.extendFunction"
                          validate="ipv6.availableIpSegment1.startIp.validate"></tiny-textbox>
            -
            <tiny-textbox id="ipv6.availableIpSegment1.endIp.id"
                          width="ipv6.availableIpSegment.width"
                          disable="ipv6.availableIpSegment.disable"
                          extend-function="ipv6.availableIpSegment.extendFunction"
                          validate="ipv6.availableIpSegment1.endIp.validate"></tiny-textbox>
            <a class="pointer" ng-click="operate.addIpv6Ip()">{{i18n.common_term_add_button}}</a>
        </tiny-item>
        <tiny-item labelwidth="ipv6.labelwidth" display="ipv6.availableIpSegment2.display">
            <tiny-textbox id="ipv6.availableIpSegment2.startIp.id" disable="ipv6.availableIpSegment.disable"
                          width="ipv6.availableIpSegment.width" extend-function="ipv6.availableIpSegment.extendFunction"
                          validate="ipv6.availableIpSegment2.startIp.validate"></tiny-textbox>
            -
            <tiny-textbox id="ipv6.availableIpSegment2.endIp.id" width="ipv6.availableIpSegment.width"
                          disable="ipv6.availableIpSegment2.disable"
                          extend-function="ipv6.availableIpSegment.extendFunction"
                          validate="ipv6.availableIpSegment2.endIp.validate"></tiny-textbox>
            <a class="pointer" ng-click="operate.addIpv6Ip()">{{i18n.common_term_add_button}}</a>&nbsp;<a class="pointer"
                                                                             ng-click="operate.deleteIpv6Ip('availableIpSegment2')">{{i18n.common_term_delete_button}}</a>
        </tiny-item>
        <tiny-item labelwidth="ipv6.labelwidth" display="ipv6.availableIpSegment3.display">
            <tiny-textbox id="ipv6.availableIpSegment3.startIp.id" width="ipv6.availableIpSegment.width"
                          disable="ipv6.availableIpSegment.disable"
                          extend-function="ipv6.availableIpSegment.extendFunction"
                          validate="ipv6.availableIpSegment3.startIp.validate"></tiny-textbox>
            -
            <tiny-textbox id="ipv6.availableIpSegment3.endIp.id"
                          width="ipv6.availableIpSegment.width"
                          disable="ipv6.availableIpSegment.disable"
                          extend-function="ipv6.availableIpSegment.extendFunction"
                          validate="ipv6.availableIpSegment3.endIp.validate"></tiny-textbox>
            <a class="pointer" ng-click="operate.addIpv6Ip()">{{i18n.common_term_add_button}}</a>&nbsp;<a class="pointer"
                                                                             ng-click="operate.deleteIpv6Ip('availableIpSegment3')">{{i18n.common_term_delete_button}}</a>
        </tiny-item>
        <tiny-item labelwidth="ipv6.labelwidth" display="ipv6.availableIpSegment4.display">
            <tiny-textbox id="ipv6.availableIpSegment4.startIp.id" width="ipv6.availableIpSegment.width"
                          disable="ipv6.availableIpSegment.disable"
                          extend-function="ipv6.availableIpSegment.extendFunction"
                          validate="ipv6.availableIpSegment4.startIp.validate"></tiny-textbox>
            -
            <tiny-textbox id="ipv6.availableIpSegment4.endIp.id"
                          disable="ipv6.availableIpSegment.disable"
                          width="ipv6.availableIpSegment.width" extend-function="ipv6.availableIpSegment.extendFunction"
                          validate="ipv6.availableIpSegment4.endIp.validate"></tiny-textbox>
            <a class="pointer" ng-click="operate.addIpv6Ip()">{{i18n.common_term_add_button}}</a>&nbsp;<a class="pointer"
                                                                             ng-click="operate.deleteIpv6Ip('availableIpSegment4')">{{i18n.common_term_delete_button}}</a>
        </tiny-item>
        <tiny-item labelwidth="ipv6.labelwidth" display="ipv6.availableIpSegment5.display">
            <tiny-textbox id="ipv6.availableIpSegment5.startIp.id" width="ipv6.availableIpSegment.width"
                          disable="ipv6.availableIpSegment.disable"
                          extend-function="ipv6.availableIpSegment.extendFunction"
                          validate="ipv6.availableIpSegment5.startIp.validate"></tiny-textbox>
            -
            <tiny-textbox id="ipv6.availableIpSegment5.endIp.id"
                          width="ipv6.availableIpSegment.width"
                          disable="ipv6.availableIpSegment.disable"
                          extend-function="ipv6.availableIpSegment.extendFunction"
                          validate="ipv6.availableIpSegment5.endIp.validate"></tiny-textbox>
            <a class="pointer" ng-click="operate.addIpv6Ip()">{{i18n.common_term_add_button}}</a>&nbsp;<a class="pointer"
                                                                             ng-click="operate.deleteIpv6Ip('availableIpSegment5')">{{i18n.common_term_delete_button}}</a>
        </tiny-item>
        <tiny-item labelwidth="ipv6.labelwidth" display="ipv6.availableIpSegment6.display">
            <tiny-textbox id="ipv6.availableIpSegment6.startIp.id" width="ipv6.availableIpSegment.width"
                          disable="ipv6.availableIpSegment.disable"
                          extend-function="ipv6.availableIpSegment.extendFunction"
                          validate="ipv6.availableIpSegment6.startIp.validate"></tiny-textbox>
            -
            <tiny-textbox id="ipv6.availableIpSegment6.endIp.id" type="ipv6.availableIpSegment6.endIp.type"
                          width="ipv6.availableIpSegment.width"
                          disable="ipv6.availableIpSegment.disable"
                          extend-function="ipv6.availableIpSegment.extendFunction"
                          validate="ipv6.availableIpSegment6.endIp.validate"></tiny-textbox>
            <a class="pointer" ng-click="operate.addIpv6Ip()">{{i18n.common_term_add_button}}</a>&nbsp;<a class="pointer"
                                                                             ng-click="operate.deleteIpv6Ip('availableIpSegment6')">{{i18n.common_term_delete_button}}</a>
        </tiny-item>
        <tiny-item labelwidth="ipv6.labelwidth" display="ipv6.availableIpSegment7.display">
            <tiny-textbox id="ipv6.availableIpSegment7.startIp.id" width="ipv6.availableIpSegment.width"
                          disable="ipv6.availableIpSegment.disable"
                          extend-function="ipv6.availableIpSegment.extendFunction"
                          validate="ipv6.availableIpSegment7.startIp.validate"></tiny-textbox>
            -
            <tiny-textbox id="ipv6.availableIpSegment7.endIp.id"
                          width="ipv6.availableIpSegment.width"
                          disable="ipv6.availableIpSegment.disable"
                          extend-function="ipv6.availableIpSegment.extendFunction"
                          validate="ipv6.availableIpSegment7.endIp.validate"></tiny-textbox>
            <a class="pointer" ng-click="operate.addIpv6Ip()">{{i18n.common_term_add_button}}</a>&nbsp;<a class="pointer"
                                                                             ng-click="operate.deleteIpv6Ip('availableIpSegment7')">{{i18n.common_term_delete_button}}</a>
        </tiny-item>
        <tiny-item labelwidth="labelwidth" display="ipv6.availableIpSegment8.display">
            <tiny-textbox id="ipv6.availableIpSegment8.startIp.id"
                          width="ipv6.availableIpSegment.width"
                          disable="ipv6.availableIpSegment.disable"
                          extend-function="ipv6.availableIpSegment.extendFunction"
                          validate="ipv6.availableIpSegment8.startIp.validate"></tiny-textbox>
            -
            <tiny-textbox id="ipv6.availableIpSegment8.endIp.id"
                          width="ipv6.availableIpSegment.width"
                          disable="ipv6.availableIpSegment.disable"
                          extend-function="ipv6.availableIpSegment.extendFunction"
                          validate="ipv6.availableIpSegment8.endIp.validate"></tiny-textbox>
            <a class="pointer" ng-click="operate.deleteIpv6Ip('availableIpSegment8')">{{i18n.common_term_delete_button}}</a>
        </tiny-item>
    </tiny-formfield>
    <tiny-formfield labelwidth="ipv6.labelwidth" ng-show="ipv6.ipDist == 'static'|| ipv6.ipDist == 'in'">
        <tiny-item label="ipv6.domain.label" require="ipv6.domain.require">
            <tiny-textbox id="ipv6.domain.id" disable="ipv6.domain.disable" width="ipv6.domain.width"
                          tooltip="ipv6.domain.tooltip" extend-function="ipv6.domain.extendFunction"
                          validate="ipv6.domain.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="ipv6.firstDns.label" require="ipv6.firstDns.require">
            <tiny-textbox id="ipv6.firstDns.id" width="ipv6.firstDns.width"
                          disable="ipv6.firstDns.disable" extend-function="ipv6.firstDns.extendFunction"
                          validate="ipv6.firstDns.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="ipv6.alternativeDns.label" require="ipv6.alternativeDns.require">
            <tiny-textbox id="ipv6.alternativeDns.id"
                          width="ipv6.alternativeDns.width" disable="ipv6.alternativeDns.disable"
                          extend-function="ipv6.alternativeDns.extendFunction"
                          validate="ipv6.alternativeDns.validate"></tiny-textbox>
        </tiny-item>
    </tiny-formfield>
</div>
<div class="blank_20"></div>
<tiny-formfield labelwidth="ipv6.labelwidth">
    <tiny-item>
        <tiny-button id="preBtn.id" text="preBtn.text"
                     click="preBtn.click()"></tiny-button>
        <tiny-button class="major-btn" id="nextBtn.id" text="nextBtn.text"
                     click="nextBtn.click()" disable="nextBtn.disable"></tiny-button>
        <tiny-button id="cancelBtn.id" text="cancelBtn.text"
                     click="cancelBtn.click()"></tiny-button>
    </tiny-item>
</tiny-formfield>
</div>