<div fm-help help="'drawer_vpn_gw'" show="show.help" i18n="'zh'"></div>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span>{{i18n.vpn_term_vpnGateway_label||'VPN网关'}}</span></li>
            <li class="two-lead">
				<div ng-repeat="e in i18n.split(i18n.vpn_gateway_view_explan_label)">
					{{e}}<br/>
				</div>
				<div ng-if="!i18n.vpn_gateway_view_explan_label">
                <p>VPN即虚拟专用网络。用于在公用网络上建立专用网络，在远端用户和VPC之间建立一条安全加密的通信隧道，使远端用户通过VPN直接使用VPC中的业务资源。</p>
                <p>VPN网关为VPC内的VPN隧道提供路由功能。</p>
				</div>
            </li>
            <li class="divider"></li>
        </ul>
    </div>

    <div class="content-right-box">
        <div class="bottom10 clearfix">
			<fm-button ng-show="user.privilege.role_role_add_option_vpnHandle_value" 
				class="major-btn" text="i18n.vpn_term_addVPNgateway_button||'创建VPN网关'" click="create"></fm-button>
            <!--刷新、帮助-->
            <div class="pull-right">
                <a class="btn-link">
                    <div ng-click="table.update()" class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div ng-click="show.help=true" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div>
			<fm-dialog title="i18n.vpn_term_addVPNgateway_button||'创建VPN网关'" width="600" height="360" show="show.create">
				<div ng-show="show.create" ng-include src="'app/business/vdc/views/vpn/vpnNewGate.html'"></div>
			</fm-dialog>
			<fm-table columns="table.columns" data="table.data"
				operate="user.privilege.role_role_add_option_vpnHandle_value?table.operate:''">
			</fm-table>
        </div>
    </div>
</div>