<fm-valid valid="show.check">
	<tiny-formfield>
		<tiny-item label="label.name+':'" require="true">
			<fm-text value="para.name" length="64" valid="lib.checkZH(para.name,'\\w')"
				tip="i18n.common_term_composition2_valid+i18n.sprintf(i18n.common_term_maxLength_valid,{1:64})"></fm-text>
		</tiny-item>
		<tiny-item label="label.zone+':'" require="true">
		<fm-select id="para.zone" name="para.zoneName" option="form.zone"
			change="event.zoneChange" valid="i18n.resource_term_noZone_valid"></fm-select>
		</tiny-item>
		<tiny-item label="label.az+':'" require="true">
			<fm-select id="para.az" name="para.azName" option="form.az"
				change="event.azChange" valid="i18n.resource_term_noAZ_valid"></fm-select>
		</tiny-item>
		<tiny-item label="label.vpc+':'" require="true">
			<fm-select id="para.vpc" name="para.vpcName" option="form.vpc"
				change="event.vpcChange" valid="i18n.vpc_term_noSharedVPC_valid"></fm-select>
		</tiny-item>
		<tiny-item label="label.desp+':'" require="false">
			<fm-text value="para.desp" length="1024" width="180" require="false" valid="#XSS"></fm-text>
		</tiny-item>
        <tiny-item>
            <div class="fm-btn-top-large">
                <fm-button class="major-btn fm-valid" text="i18n.common_term_ok_button||'确定'" click="add"></fm-button>
                <fm-button text="i18n.common_term_cancle_button||'取消'" class="fm-valid-clear" click="cancel"></fm-button>
            </div>
        </tiny-item>
	</tiny-formfield>
</fm-valid>
