<div id="createAppConfigVlb">
    <div class="create-page-distance">
        <div class="clearfix table-tiny-box-height">
            <tiny-table id="templateTable4Vlb.id" data="confVlbVmTemplates.data" columns="templateTable4Vlb.columns" length-menu="templateTable4Vlb.lengthMenu" enable-pagination="templateTable4Vlb.enablePagination" render-row="templateTable4Vlb.renderRow" pagination-style="templateTable4Vlb.paginationStyle">
            </tiny-table>
        </div>

        <div class="fm-btn-top-large">
            <tiny-button id="preBtn.id" text="preBtn.text" tooltip="preBtn.tooltip" click="preBtn.click()"></tiny-button>
            <tiny-button id="nextBtn.id" text="nextBtn.text" tooltip="nextBtn.tooltip" click="nextBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="cancelBtn.id" text="cancelBtn.text" tooltip="cancelBtn.tooltip" click="cancelBtn.click()"></tiny-button>
        </div>
    </div>

</div>