<div id="createAppConfirmId">
    <div class="create-page-distance">
        <div>
            <div>
                <span class="createpage-title">{{i18n.template_term_app_label}}:</span>
            </div>
            <div>
                <tiny-formfield labelwidth="info.confirmInfo.labelWidth">
                    <tiny-item label="info.confirmInfo.serviceTemplateLabel">
                        <span>{{params.selServiceTemplate.name}}</span>
                    </tiny-item>
                </tiny-formfield>
            </div>
        </div>
        <div>
            <div>
                <span class="createpage-title">{{i18n.common_term_basicInfo_label}}:</span>
            </div>
            <div>
                <tiny-formfield labelwidth="info.confirmInfo.labelWidth">
                    <tiny-item label="info.confirmInfo.nameLabel">
                        <span>{{params.appName}}</span>
                    </tiny-item>
                    <tiny-item label="info.confirmInfo.descriptionLabel">
                        <span>{{params.description}}</span>
                    </tiny-item>
                    <div>
                        <tiny-item label="info.logo.label" require="info.logo.require">
                            <img ng-src="{{'../theme/default/images/gm/appImage/'+params.curLogo}}" class='customHide' width='60px' height='76px'>
                        </tiny-item>
                    </div>
                </tiny-formfield>
            </div>
        </div>

        <div>
            <div>
                <span class="createpage-title none-line">{{i18n.vpc_term_nets_label}}：</span>
            </div>
            <div class="table-tiny-box-height clearfix">
                <tiny-table id="info.confirmNetworks.id" data="templateNet.data" columns="info.confirmNetworks.columns" length-menu="info.confirmNetworks.lengthMenu" enable-pagination="info.confirmNetworks.enablePagination" render-row="info.confirmNetworks.renderRow"
                pagination-style="info.confirmNetworks.paginationStyle">
                </tiny-table>
            </div>
        </div>

        <div class="top15">
            <div>
                <span class="createpage-title">{{i18n.app_term_appPara_label}}：</span>
            </div>
            <div>
                <div>
                    <div>
                        <span class="createpage-title none-line" ng-bind-html="i18n.template_term_vm_label"></span>
                    </div>
                    <div class="clearfix">
                        <tiny-table id="info.confirmVmTable.id" data="confAppVmTemplates.data" columns="info.confirmVmTable.columns" length-menu="info.confirmVmTable.lengthMenu" enable-pagination="info.confirmVmTable.enablePagination" render-row="info.confirmVmTable.renderRow"
                        pagination-style="info.confirmVmTable.paginationStyle">
                        </tiny-table>
                    </div>
                </div>

                <div class="top15">
                    <div>
                        <span class="createpage-title none-line">{{i18n.template_term_software_label}}:</span>
                    </div>
                    <div class="table-tiny-box-height clearfix">
                        <tiny-table id="info.confirmSoftwarePacks.id" data="confAppSoftPacks.data" columns="info.confirmSoftwarePacks.columns" enable-pagination="info.confirmSoftwarePacks.enablePagination" render-row="info.confirmSoftwarePacks.renderRow" pagination-style="info.confirmSoftwarePacks.paginationStyle"
                        length-menu="info.confirmSoftwarePacks.lengthMenu">
                        </tiny-table>
                    </div>
                </div>
                <div class="top15">
                    <div>
                        <span class="createpage-title none-line">{{i18n.app_term_chooseScript_label}}:</span>
                    </div>
                    <div class="table-tiny-box-height clearfix">
                        <tiny-table id="info.confirmShells.id" data="confAppShells.data" columns="info.confirmShells.columns" enable-pagination="info.confirmShells.enablePagination" render-row="info.confirmShells.renderRow" pagination-style="info.confirmShells.paginationStyle"
                        length-menu="info.confirmShells.lengthMenu">
                        </tiny-table>
                    </div>
                </div>
            </div>
        </div>

        <div class="top15" ng-show="params.resPoolFm">
            <div>
                <span class="createpage-title none-line">{{i18n.app_term_setVLB_button}}:</span>
            </div>
            <div>
                <div class="clearfix">
                    <tiny-table id="info.confirmAvailVlbs.id" data="confVlbVmTemplates.data" columns="info.confirmAvailVlbs.columns" length-menu="info.confirmAvailVlbs.lengthMenu" enable-pagination="info.confirmAvailVlbs.enablePagination" render-row="info.confirmAvailVlbs.renderRow"
                    pagination-style="info.confirmAvailVlbs.paginationStyle">
                    </tiny-table>
                </div>
            </div>
        </div>

        <div class="fm-btn-top-large">
            <tiny-button id="info.preBtn.id" text="info.preBtn.text" tooltip="info.preBtn.tooltip" click="info.preBtn.click()"></tiny-button>
            <tiny-button id="info.nextBtn.id" text="info.nextBtn.text" tooltip="info.nextBtn.tooltip" click="info.nextBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" tooltip="info.cancelBtn.tooltip" click="info.cancelBtn.click()"></tiny-button>
        </div>
    </div>
</div>