<link href="../theme/default/css/gm/app.css" type="text/css" rel="stylesheet" />
<div id="importTemplate" class="container-fluid">
    <div class="tiny-step-boxset clearfix">
        <div class="createpage-legend"><span ng-bind="i18n.common_term_importTemplate_button"></span></div>
        <tiny-step id="service.step.id" values="service.step.values" width="service.step.width" jumpable="service.step.jumpable"></tiny-step>
    </div>
    <div id="ftpUpload" style="position: absolute"></div>
    <div>
        <div ng-show="service.show == 'baseInfo'">
            <div ui-view="baseInfo"></div>
        </div>
        <div ng-show="service.show == 'confirm'">
            <div ui-view="confirm"></div>
        </div>
    </div>
</div>
<style>
.navigation {
    margin-top: 70px
}
</style>
<script type="text/javascript">
$(function() {
    var height = $(document).height() - 74;
    $("#importTemplate").attr("style", "min-height:" + height + "px");
    $(window).resize(function() {
        var height = $(document).height() - 74;
        $("#importTemplate").attr("style", "min-height:" + height + "px");
    });
});
</script>