<fm-tabs>
	<div id="aclsTabs" class="tiny-tabs-container">
		<div class="tiny-tabs-titles">
			<ul>
				<li>
					<a url="#tabs-in" active="true">{{i18n.vpc_term_autoAllocationIP_label||"自动分配IP地址"}}</a>
				</li>
				<li ng-show="para.show">
					<a url="#tabs-out">{{i18n.common_term_manualApplyPrivateIP_label||"手动申请IP地址"}}</a>
				</li>
			</ul>
		</div>
		<div class="tiny-tabs-content" style="margin-top: -8px;">
			<div id="tabs-in">
				<div class="form-inline margin-erect-beautifier clearfix">
					<div class="pull-right  bottom10">
						<a class="btn-link">
							<div ng-click="autoTable.update(para.id, para.vpc)" class="small-icon small-icon-refresh"></div>
						</a>
					</div>
				</div>
				<fm-table columns="autoTable.columns" data="autoTable.data" size='10'>
				</fm-table>
			</div>
			<div ng-show="para.show" id="tabs-out">
				<div class="form-inline margin-erect-beautifier clearfix">
					<div class="pull-right bottom10">
						<a class="btn-link">
							<div ng-click="manTable.update(para.id, para.vpc)" class="small-icon small-icon-refresh"></div>
						</a>
					</div>
				</div>
				<fm-table columns="manTable.columns" data="manTable.data" size='10'>
				</fm-table>
			</div>
		</div>
	</div>
</fm-tabs>