<div class="row-fluid tiny-step-boxset clearfix">
	<div class="createpage-legend">{{state.vpc ? (i18n.resource_term_modifyNet_button||'修改网络') : (i18n.vpc_term_createNet_button||'创建网络')}}</div>
	<fm-step value="step_status" option='[i18n.common_term_basicInfo_label||"基本信息", 
		i18n.vpc_term_setNet_button||"配置网络", "QoS", i18n.common_term_confirmInfo_label||"确认信息"]' width="600"></fm-step>
</div>
<div class="row-fluid create-page-distance" style="width:960px;">
<fm-valid valid="show.check">
	<div ng-show="0==step_status">
		<div ng-if='state.vpc'>
		<tiny-formfield>
			<tiny-item label="label.name+':'" require="true">
				<fm-text value="para.name" length="64" valid="lib.checkZH(para.name,'\\w')"
					tip="i18n.common_term_composition2_valid+i18n.sprintf(i18n.common_term_maxLength_valid,{1:64})"></fm-text>
			</tiny-item>
			<tiny-item label="(i18n.vpc_term_vpc_label||'VPC')+':'" require="true">
				{{para.vpcName}}
			</tiny-item>
			<tiny-item label="(i18n.vpc_term_VPCid_label||'VPC ID')+':'" require="true">
				{{para.vpc}}
			</tiny-item>
			<tiny-item label="label.desp+':'" require="false">
				<fm-text value="para.desp" length="1024" type="'multi'" require="false" valid="#XSS"></fm-text>
			</tiny-item>
		</tiny-formfield>
		</div>
		<div ng-if='!state.vpc'>
		<tiny-formfield>
			<tiny-item label="label.name+':'" require="true">
				<fm-text value="para.name" length="64" valid="lib.checkZH(para.name,'\\w')"
					tip="i18n.common_term_composition2_valid+i18n.sprintf(i18n.common_term_maxLength_valid,{1:64})"></fm-text>
			</tiny-item>
			<tiny-item label="label.zone+':'" require="true">
			<fm-select id="para.zone" name="para.zoneName" option="form.zone"
				change="event.zoneChange" valid="i18n.resource_term_noZone_valid"></fm-select>
			</tiny-item>
			<tiny-item label="label.az+':'" require="true">
				<fm-select id="para.az" name="para.azName" option="form.az"
					change="event.azChange" valid="i18n.resource_term_noAZ_valid"></fm-select>
			</tiny-item>
			<tiny-item label="label.vpc+':'" require="true">
				<fm-select id="para.vpc" name="para.vpcName" option="form.vpc"
					change="event.vpcChange" valid="i18n.vpc_term_noSharedVPC_valid"></fm-select>
			</tiny-item>
			<tiny-item label="label.desp+':'" require="false">
				<fm-text value="para.desp" length="1024" type="'multi'" require="false" valid="#XSS"></fm-text>
			</tiny-item>
		</tiny-formfield>
		</div>
	</div>
	<div ng-show="1==step_status">
		<div ng-if='state.vpc'>
		<tiny-formfield>
			<tiny-item label="label.type+':'" require="true">	
				{{para.typeName}}
			</tiny-item>
			<tiny-item label="label.vlan+':'" require="true">
				{{para.vlan}}
			</tiny-item>
		</tiny-formfield>
		</div>
		<div ng-if='!state.vpc'>
		<tiny-formfield>
			<tiny-item label="label.type+':'" require="true">	
				<fm-select id="para.type" name="para.typeName" option="form.type"
					change="event.typeChange"></fm-select>
			</tiny-item>
			<!--直连网络-->
			<tiny-item display="!show.router" label="label.net+':'" require="true">
				<fm-table columns="netTable.columns" data="netTable.data" 
					row="netTable.row" size="3">
				</fm-table>
			</tiny-item>
			<tiny-item display="!show.router" label="label.vlan+':'" require="true">
				<fm-select id="para.vlanN" option="form.vlan"></fm-select>
			</tiny-item>
			<!--路由网络-->
			<tiny-item display="show.router" label="label.vlanPool+':'" require="true">
				<fm-table columns="vlanTable.columns" data="vlanTable.data" 
					row="vlanTable.row" size="3">
				</fm-table>
			</tiny-item>
			<tiny-item display="show.router" label="label.vlan+':'" require="true">
				<fm-digit value="para.vlanR" max="para.vlanPool.end" min="para.vlanPool.start"></fm-digit>
			</tiny-item>
		</tiny-formfield>
		</div>
		<tiny-formfield>
			<tiny-item display="show.router" label="label.ipAlloc+':'" require="true">
				<fm-select id="para.ipAlloc" name="para.ipAllocName" option="form.ipAlloc" 
					change="event.ipAllocChange" disable='show.disable' ></fm-select>
			</tiny-item>
			<tiny-item display="show.router" label="label.ip+':'" require="true">
				<fm-ipv4 value="para.ip" valid="form.subnetCheck(
						lib.string2ip(para.ip),
						lib.string2ip(para.mask),
						lib.string2ip(para.gateway))"
						disable='show.disable'></fm-ipv4>
			</tiny-item>
			<tiny-item display="show.router" label="label.mask+':'" require="true">
				<fm-ipv4 value="para.mask" valid="lib.checkMask(mask)" disable='show.disable'></fm-ipv4>
			</tiny-item>
			<tiny-item display="show.router" label="label.gateway+':'" require="show.ext">
				<fm-ipv4 value="para.gateway" 
					valid="form.gateCheck(
						lib.string2ip(para.ip),
						lib.string2ip(para.mask),
						lib.string2ip(para.gateway))"
						disable='show.disable'></fm-ipv4>
			</tiny-item>
			
			<tiny-item display="show.ext" label="label.domain+':'" require="false">
				<fm-text value="para.domain" length="255" width="140" disable='show.disable'
					require="false" tip="i18n.resource_exter_add_para_domain_mean_label" valid="lib.checkURL(para.domain)"></fm-text>
			</tiny-item>
			<tiny-item display="show.ext" label="label.dns1+':'" require="false">
				<fm-ipv4 value="para.dns1" require="false" disable='show.disable'></fm-ipv4>
			</tiny-item>
			<tiny-item display="show.ext" label="label.dns2+':'" require="false">
				<fm-ipv4 value="para.dns2" require="false" disable='show.disable'></fm-ipv4>
			</tiny-item>
			<tiny-item display="show.ext" label="label.wins1+':'" require="false">
				<fm-ipv4 value="para.wins1" require="false" disable='show.disable'></fm-ipv4>
			</tiny-item>
			<tiny-item display="show.ext" label="label.wins2+':'" require="false">
				<fm-ipv4 value="para.wins2" require="false" disable='show.disable'></fm-ipv4>
			</tiny-item>
			<tiny-item display="show.ext" label="label.ipRange+':'" require="false">
				<div style="padding-bottom: 8px;" ng-repeat="p in para.ipRange">
					<fm-ipv4 value="p.startIP" require="false" valid="form.subCheck(
						lib.string2ip(para.ip),
						lib.string2ip(para.mask),
						lib.string2ip(p.startIP),lib.string2ip(p.endIP))" disable='show.disable'></fm-ipv4><span>&nbsp;-&nbsp;</span>
					<fm-ipv4 value="p.endIP" valid="form.subCheck(
						lib.string2ip(para.ip),
						lib.string2ip(para.mask),
						lib.string2ip(p.startIP),lib.string2ip(p.endIP))"
						require="false" disable='show.disable'></fm-ipv4><span>&nbsp;</span>
					<a ng-show="(para.ipRange.length < 8) && !show.disable" ng-click="para.ipRange.splice($index+1,0,{})">{{i18n.common_term_add_button||'添加'}}</a><span>&nbsp;</span>
					<a ng-show="(para.ipRange.length > 1) && !show.disable" ng-click="para.ipRange.splice($index,1)">{{i18n.common_term_delete_butto||'删除'}}</a>
				</div>
			</tiny-item>
		</tiny-formfield>
	</div>
	<div ng-show="2==step_status">
		<div ng-hide="show.router || ('inner'==para.type)">
			<div class="row-fluid">
				<div class='span4'>
					<tiny-formfield>
						<tiny-item label="(i18n.common_term_sendSpeedLimit_label||'发送限速')+':'">
							{{para.net.portSetting.outTrafficShapingPolicyFlag ? 
								(i18n.common_term_speedLimit_label||"限速"):(i18n.common_term_notLimit_value||"不限速")}}
						</tiny-item>
						<tiny-item label="(i18n.perform_term_bandAvgMbps_label||'平均带宽(Mbps)')+':'">
							{{para.net.portSetting.outTrafficShapingPolicy.averageBandwidth||"-"}}
						</tiny-item>
						<tiny-item label="(i18n.perform_term_bandPeakMbps_label||'峰值带宽(Mbps)')+':'">
							{{para.net.portSetting.outTrafficShapingPolicy.peakBandwidth||"-"}}
						</tiny-item>
						<tiny-item label="(i18n.common_term_gustyMbps_label||'突发大小(Mbps)')+':'">
							{{para.net.portSetting.outTrafficShapingPolicy.burstSize||"-"}}
						</tiny-item>
						<tiny-item label="(i18n.common_term_priority_label||'优先级')+':'">
							{{{7:i18n.common_term_low_label||'低',4:i18n.common_term_middling_label||'中',2:i18n.common_term_high_label||'高'}[para.net.portSetting.outTrafficShapingPolicy.priority]||"-"}}
						</tiny-item>
					</tiny-formfield>
				</div>
				<div class='span4'>
					<tiny-formfield>
						<tiny-item label="(i18n.common_term_receiveSpeedLimit_label||'接收限速')+':'">
							{{para.net.portSetting.inTrafficShapingPolicyFlag ? 
								(i18n.common_term_speedLimit_label||"限速"):(i18n.common_term_notLimit_value||"不限速")}}
						</tiny-item>
						<tiny-item label="(i18n.perform_term_bandAvgMbps_label||'平均带宽(Mbps)')+':'">
							{{para.net.portSetting.inTrafficShapingPolicy.averageBandwidth||"-"}}
						</tiny-item>
						<tiny-item label="(i18n.perform_term_bandPeakMbps_label||'峰值带宽(Mbps)')+':'">
							{{para.net.portSetting.inTrafficShapingPolicy.peakBandwidth||"-"}}
						</tiny-item>
						<tiny-item label="(i18n.common_term_gustyMbps_label||'突发大小(Mbps)')+':'">
							{{para.net.portSetting.inTrafficShapingPolicy.burstSize||"-"}}
						</tiny-item>
					</tiny-formfield>
				</div>
				<div class="span4">
					<tiny-formfield>
						<tiny-item label="(i18n.vpc_term_ARPsuppressionKbps_label||'ARP抑制(Kbps)')+':'">
							{{para.net.portSetting.arpPacketSuppression || i18n.common_term_notBate_value||"不抑制"}}
						</tiny-item>
						<tiny-item label="(i18n.vpc_term_IPsuppressionKbps_label||'IP抑制(Kbps)')+':'">
							{{para.net.portSetting.ipPacketSuppression || i18n.common_term_notBate_value||"不抑制"}}
						</tiny-item>
						<tiny-item label="(i18n.vpc_term_DHCPisolation_label||'DHCP隔离')+':'">
							{{para.net.portSetting.dhcpIsolationFlag ? (i18n.common_term_isolation_value||"隔离"):(i18n.common_term_notIsolation_value||"不隔离")}}
						</tiny-item>
						<tiny-item label="(i18n.common_term_IPbondMAC_label||'IP绑定MAC')+':'">
							{{para.net.portSetting.ipMacBindFlag ? (i18n.vpc_term_bond_label||"绑定"):(i18n.common_term_noBond_value||"不绑定")}}
						</tiny-item>
					</tiny-formfield>
				</div>
			</div>
		</div>
		<div ng-show="show.router || ('inner'==para.type)">
		<tiny-formfield>
			<tiny-item label="label.txCfg+':'" require="true">
				<fm-radio id="para.txCfg" name="para.txCfgName" option="form.txCfg" change="event.txCfg"></fm-radio>
			</tiny-item>
			<tiny-item display="show.txCfg" label="label.txAvg+'(Mbps):'" require="true">
				<fm-digit value="para.txAvg" max="10000" min="1"></fm-digit>
			</tiny-item>
			<tiny-item display="show.txCfg" label="label.txMax+'(Mbps):'" require="true">
				<fm-digit value="para.txMax" max="10000" min="1"></fm-digit>
			</tiny-item>
			<tiny-item display="show.txCfg" label="label.txBurst+'(Mbps):'" require="true">
				<fm-digit value="para.txBurst" max="10000" min="1"></fm-digit>
			</tiny-item>
			<tiny-item display="show.txCfg" label="label.txPri+':'" require="true">
				<fm-radio id="para.txPri" name="para.txPriName" option="form.txPri"></fm-radio>
			</tiny-item>
			<tiny-item label="label.rxCfg+':'" require="true">
				<fm-radio id="para.rxCfg" name="para.rxCfgName" option="form.rxCfg" change="event.rxCfg"></fm-radio>
			</tiny-item>
			<tiny-item display="show.rxCfg" label="label.rxAvg+'(Mbps):'" require="true">
				<fm-digit value="para.rxAvg" max="10000" min="1"></fm-digit>
			</tiny-item>
			<tiny-item display="show.rxCfg" label="label.rxMax+'(Mbps):'" require="true">
				<fm-digit value="para.rxMax" max="10000" min="1"></fm-digit>
			</tiny-item>
			<tiny-item display="show.rxCfg" label="label.rxBurst+'(Mbps):'" require="true">
				<fm-digit value="para.rxBurst" max="10000" min="1"></fm-digit>
			</tiny-item>
			<tiny-item label="label.arpCfg+':'" require="true">
				<fm-radio id="para.arpCfg" name="para.arpCfgName" option="form.arpCfg" change="event.arpCfg"></fm-radio>
			</tiny-item>
			<tiny-item display="show.arpCfg" label="label.arpCfg+'(Kbps):'" require="true">
				<fm-digit value="para.arpMax" max="1024" min="1"></fm-digit>
			</tiny-item>
			<tiny-item label="label.ipCfg+':'" require="true">
				<fm-radio id="para.ipCfg" name="para.ipCfgName" option="form.ipCfg" change="event.ipCfg"></fm-radio>
			</tiny-item>
			<tiny-item display="show.ipCfg" label="label.ipCfg+'(Kbps):'" require="true">
				<fm-digit value="para.ipMax" max="1024" min="5"></fm-digit>
			</tiny-item>
			<tiny-item label="label.dhcpCfg+':'" require="true">
				<fm-radio id="para.dhcpCfg" name="para.dhcpCfgName" option="form.dhcpCfg"></fm-radio>
			</tiny-item>
			<tiny-item label="label.macCfg+':'" require="true">
				<fm-radio id="para.macCfg" name="para.macCfgName" option="form.macCfg"></fm-radio>
			</tiny-item>
		</tiny-formfield>
		</div>
	</div>
	<div ng-show="3==step_status">
		<div class="inner-legend">{{i18n.common_term_basicInfo_label||'基本信息'}}</div>
		<div class="row-fluid">
			<div class='span3'>
				<tiny-formfield>
					<tiny-item label="label.name+':'">
						{{para.name}}
					</tiny-item>
				</tiny-formfield>
			</div>
			<div class='span3'>
				<tiny-formfield>
					<tiny-item label="label.type+':'">
						{{para.typeName}}
					</tiny-item>
				</tiny-formfield>
			</div>
			<div class='span3'>
				<tiny-formfield>
					<tiny-item label="(i18n.vpc_term_vpc_label||'VPC')+':'">
						{{para.vpcName}}
					</tiny-item>
				</tiny-formfield>
			</div>
			<div class='span3'>
				<tiny-formfield>
					<tiny-item label="(i18n.vpc_term_VPCid_label||'VPC ID')+':'">
						{{para.vpc}}
					</tiny-item>
				</tiny-formfield>
			</div>
		</div>
		<div class="inner-legend">{{i18n.vpc_term_net_label||'网络'}}</div>
		<div ng-if="'direct'==para.type" class="row-fluid">
			<div ng-if='!state.vpc' class='span3'>
				<tiny-formfield>
					<tiny-item label="label.net+':'">
						{{para.net.name}}
					</tiny-item>
				</tiny-formfield>
			</div>
			<div ng-if='!state.vpc' class='span3'>
				<tiny-formfield>
					<tiny-item label="label.net+' ID:'">
						{{para.net.id}}
					</tiny-item>
				</tiny-formfield>
			</div>
			<div class='span3'>
				<tiny-formfield>
					<tiny-item label="label.vlan+':'">
						{{para.vlanN}}
					</tiny-item>
				</tiny-formfield>
			</div>
		</div>
		<div ng-if="'router'==para.type" class="row-fluid">
			<div class='span4'>
				<tiny-formfield>
					<tiny-item label="label.vlan+':'">
						{{para.vlanR}}
					</tiny-item>
					<tiny-item label="label.ipAlloc+':'">
						{{para.ipAllocName}}
					</tiny-item>
					<tiny-item label="label.ip+':'">
						{{para.ip}}
					</tiny-item>
					<tiny-item label="label.mask+':'">
						{{para.mask}}
					</tiny-item>
					<tiny-item label="label.gateway+':'">
						{{para.gateway}}
					</tiny-item>
				</tiny-formfield>
			</div>
			<div class='span4'>
				<tiny-formfield>
					<tiny-item label="label.domain+':'">
						{{para.domain}}
					</tiny-item>
					<tiny-item label="label.dns1+':'">
						{{para.dns1}}
					</tiny-item>
					<tiny-item label="label.dns2+':'">
						{{para.dns2}}
					</tiny-item>
					<tiny-item label="label.wins1+':'">
						{{para.wins1}}
					</tiny-item>
					<tiny-item label="label.wins2+':'">
						{{para.wins2}}
					</tiny-item>
				</tiny-formfield>
			</div>
			<div class="span4">
				<tiny-formfield>
					<tiny-item label="(i18n.common_term_enableIPsegment_label||'可用IP段')+':'">
						<span ng-repeat="p in para.ipRange">{{p.startIP}}-{{p.endIP}}<br/></span>
					</tiny-item>
				</tiny-formfield>
			</div>
		</div>
		<div ng-if="'inner'==para.type" class="row-fluid">
			<div ng-if="show.router" class='span4'>
				<tiny-formfield>
					<tiny-item label="label.vlan+':'">
						{{para.vlan}}
					</tiny-item>
					<tiny-item label="label.ipAlloc+':'">
						{{para.ipAllocName}}
					</tiny-item>
					<tiny-item label="label.ip+':'">
						{{para.ip}}
					</tiny-item>
					<tiny-item label="label.mask+':'">
						{{para.mask}}
					</tiny-item>
					<tiny-item label="label.gateway+':'">
						{{para.gateway}}
					</tiny-item>
				</tiny-formfield>
			</div>
			<div ng-if="!show.router" class='span4'>
				<tiny-formfield>
					<tiny-item label="label.vlan+':'">
						{{para.vlan}}
					</tiny-item>
				</tiny-formfield>
			</div>
			<div ng-if="show.ext" class='span4'>
				<tiny-formfield>
					<tiny-item label="label.domain+':'">
						{{para.domain}}
					</tiny-item>
					<tiny-item label="label.dns1+':'">
						{{para.dns1}}
					</tiny-item>
					<tiny-item label="label.dns2+':'">
						{{para.dns2}}
					</tiny-item>
					<tiny-item label="label.wins1+':'">
						{{para.wins1}}
					</tiny-item>
					<tiny-item label="label.wins2+':'">
						{{para.wins2}}
					</tiny-item>
				</tiny-formfield>
			</div>
			<div ng-if="show.ext" class="span4">
				<tiny-formfield>
					<tiny-item label="(i18n.common_term_enableIPsegment_label||'可用IP段')+':'">
						<span ng-repeat="p in para.ipRange">{{p.startIP}}-{{p.endIP}}<br/></span>
					</tiny-item>
				</tiny-formfield>
			</div>
		</div>
		<div ng-if="('router'==para.type)||('inner'==para.type)">
			<div class="inner-legend">QoS</div>
			<div class="row-fluid">
				<div class='span4'>
					<tiny-formfield>
						<tiny-item label="label.txCfg+':'">
							{{para.txCfgName}}
						</tiny-item>
						<tiny-item label="label.txAvg+'(Mbps):'">
							{{para.txAvg}}
						</tiny-item>
								<tiny-item label="label.txMax+'(Mbps):'">
							{{para.txMax}}
						</tiny-item>
						<tiny-item label="label.txBurst+'(Mbps):'">
							{{para.txBurst}}
						</tiny-item>
						<tiny-item label="label.txPri+':'">
							{{para.txPriName}}
						</tiny-item>
					</tiny-formfield>
				</div>
				<div class='span4'>
					<tiny-formfield>
						<tiny-item label="label.rxCfg+':'">
							{{para.rxCfgName}}
						</tiny-item>
						<tiny-item label="label.rxAvg+'(Mbps):'">
							{{para.rxAvg}}
						</tiny-item>
						<tiny-item label="label.rxMax+'(Mbps):'">
							{{para.rxMax}}
						</tiny-item>
						<tiny-item label="label.rxBurst+'(Mbps):'">
							{{para.rxBurst}}
						</tiny-item>
					</tiny-formfield>
				</div>
				<div class='span4'>
					<tiny-formfield>
						<tiny-item label="label.arpCfg+'(Kbps):'">
							{{'true'==para.arpCfg ? para.arpMax : para.arpCfgName}}
						</tiny-item>
						<tiny-item label="label.ipCfg+'(Kbps):'">
							{{'true'==para.ipCfg ? para.ipMax : para.ipCfgName}}
						</tiny-item>
						<tiny-item label="label.dhcpCfg+':'">
							{{para.dhcpCfgName}}
						</tiny-item>
						<tiny-item label="label.macCfg+':'">
							{{para.macCfgName}}
						</tiny-item>
					</tiny-formfield>
				</div>
			</div>
		</div>
	</div>
	<div class="fm-btn-top-large">
	<fm-button ng-show="0!=step_status" text="i18n.common_term_back_button||'上一步'" click="prev"></fm-button>
	<fm-button ng-show="3!=step_status" class="major-btn fm-valid" text="i18n.common_term_next_button||'下一步'" click="next"></fm-button>
	<fm-button class="major-btn" ng-show="3==step_status" text="state.vpc?(i18n.common_term_modify_button||'修改'):(i18n.common_term_create_button||'创建')" click="create"></fm-button>
	<fm-button text="i18n.common_term_cancle_button||'取消'" class="fm-valid-clear" click="cancel"></fm-button>
	</div>
</fm-valid>
</div>
