@charset "utf-8";

/* 虚拟机列表*/
#ecsVmsVncId { margin-right: 5px; }
#ecsVmsTable tr td .tiny-checkboxIcon { margin-top: 3px;}
#vmTableHeadCheckbox .tiny-checkboxIcon { margin-left: 35px;}
#ecsVmsTable .btn_detail_switch { float: left; margin: 4px 19px 0 0;}
.vmOptWidth { min-width: 100px !important;}
.ecsVmsMoreHover:hover { color: #000;}

/* 虚拟机详情相关 */
.item_field { min-height: 65px!important; }
.item_label { color: #999; margin-top: 10px; line-height: 20px; }
#ecsVmsDetailDomainTree_1_a { cursor: default; }

/* 虚拟机快照 */
#ecsVmDetailSnapshotsTree { overflow: auto; }
.ecs_vm_detail_snapshots_detail .tiny_form_td_content{ vertical-align: middle; }

/* 创建虚拟机 - 选择模板*/
.ecsVmCreateSelTempList{margin-top: 10px;}
.ecsVmCreateSelTempList a { width: 60px; height: 50px;margin-top: -5px; }
.ecsVmCreateSelTempList img { margin: 10px 0 0 20px; }
.ecs_vm_template_bk_color {
    background-color: #fff;
    box-shadow: 1px 1px 2px #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px 10px 10px 0;
    font-size: 12px;
    color: #999;
    line-height: 22px;
    border: 1px solid #dfdfdf;
    margin: 0 20px 20px 0;
}
.ecs_vm_template_bk_color:nth-of-type(2n){
    margin-right: 0px;
}
.ecs_vm_template_bk_color .media-body span{font-size: 16px;color: #333;}
.ecs_vm_selected_template {
    color: #666;
    border:1px solid #2eb9fe;
    outline: 0px none;
    box-shadow: 1px 3px 2px #dfdfdf;
}
.ecs_vm_selected_template .media-body span{font-weight: bold;}

/* 创建虚拟机 - 选择网络*/
#ecsVmCreateNetworkVpc .tiny_form_td_content{padding-bottom: 12px;}
.ecs_vm_create_network_label { display: inline-block; width: 57px; color: #999;}
.ecs_vm_create_ip_label { margin: 0 8px 0 30px; color: #999;}

/* 创建虚拟机 - 规格信息*/
.custom-instance-types .types {
    overflow: hidden;
}
.custom-instance-types .types-item:first-child {
    margin-left: 0;
}
.custom-instance-types .types-item {
    cursor: pointer;
    float: left;
    height: 80px;
    width: 72px;
    opacity: .9;
    text-align: center;
    margin: 0 10px;
}
.custom-instance-types .types-item .inner {
    padding-top: 12px;
    height: 35px;
}
.custom-instance-types .types-item:hover, .custom-instance-types .types-item.selected {
    opacity: 1;
}
.custom-instance-types .types-item h6 {
    margin-top: 5px;
    margin-left: 3px;
;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 66px;
;
}
.custom-instance-types .options {
    margin: 10px 0;
}
.types-options:first-child {
    margin-left: 0;
}
.cpu-options {
    width: 112px;
}
.types-options {
    padding: 20px 7px;
    background: #fff;
    color: #1f90c8;
    border: 1px solid #cfeaf8;
    font-size: 16px;
    margin: 0 4px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.types-options:first-child {
    margin-left: 0;
}
.types-options.selected {
    border: 1px solid #1c82b4;
    background: #1f90c8;
    color: #fff;
}
.types-options.disabled {
    cursor: no-drop;
    border: 1px solid #d6d6d6;
    background: #eee;
    color: #777;
    -webkit-text-shadow: 0 1px #fff;
    -moz-text-shadow: 0 1px #fff;
    text-shadow: 0 1px #fff;
}
.types-options.disabled:hover {
    border: 1px solid #d6d6d6;
    background: #eee;
    color: #777;
}
.memory-options {
    padding: 12px 8px;
    width: 28px;
    font-size: 12px;
    height: 33px;
    line-height: 33px;
    vertical-align: middle;
    word-break: break-all;
}
.memory-options:first-child {
    line-height: 16px;
}
.input-tip {
    color: red;
    display: none;
}

/* 创建虚拟机 - 确认信息*/
.ecs_vm_create_confirm_title { margin: 0px 0 10px 0; }
.ecs_vm_create_confirm_network_label { float: left; width: 94px; margin: 0 0 6px 0px;}
.ecs_vm_create_confirm_network_value { width: 320px; }
.ecs_vm_create_confirm_ip_value { width: 95px; }

#deployJavaPlugin {
    display: none;
    visibility: hidden;
}

/* ecs导航页面 */
#ecsNaviVmAdmImg {width: 50px; height: 50px; background: url(../../images/gm/vmAdmin.png); }
#ecsNaviHostAdmImg {width: 50px; height: 50px; background: url(../../images/gm/hostAdmin.png); }
#ecsNaviStorageAdmImg {width: 50px; height: 50px; background: url(../../images/gm/storageAdmin.png); }
#ecsNaviNetAdmImg {width: 50px; height: 50px; background: url(../../images/gm/netAdmin.png); }
