<div id="secondaryStorageDiv" class="container-fluid">
    <div class="clearfix bottom10">
        <div class="fl">
            <tiny-button class="major-btn" id="addButton.id" text="addButton.text" icons-class="addButton.iconsClass"
                         click="addButton.click()" ng-if="operable"></tiny-button>
            <tiny-button id="exportButton.id" text="exportButton.text" click="exportButton.click()"  ng-if="exportAble"></tiny-button>
        </div>
        <div class="fr">
            <a class="btn-link">
                <div ng-click="refresh()" class="small-icon small-icon-refresh"></div>
            </a>
            <a class="btn-link">
                <div  ng-click="help.show=true" class="small-icon small-icon-help"></div>
            </a>
        </div>
    </div>
    <div>
        <tiny-table id="storageTable.id" data="storageTable.data" pagination-style="storageTable.paginationStyle"
                    columns='storageTable.columns' render-row="storageTable.renderRow"
                    total-records="storageTable.totalRecords" length-change="storageTable.lengthChange"
                    cur-page="storageTable.curPage" display-length="storageTable.displayLength"
                    enable-pagination="storageTable.enablePagination" show-details="storageTable.showDetails"
                    length-menu="storageTable.lengthMenu" callback="storageTable.callback"
                    column-sorting="storageTable.columnSorting" columns-visibility="storageTable.columnsVisibility"
                    columns-draggable="storageTable.columnsDraggable" change-select="storageTable.changeSelect"></tiny-table>
    </div>
    <div fm-help help="'drawer_resource_storage'" i18n="'zh'" show="help.show"></div>
    <iframe id="downloadSecondaryStoreIframe" style="display:none"></iframe>
</div>
