<div class="row-fluid" id="bindElasticIPByPrivateIpbasic" ng-controller="network.eip.bindElasticIPByPrivateIp.ctrl">
    <tiny-formfield>
        <tiny-item>
            <div class="margin-bottom-beautifier">
                <span ng-bind="routeNet.nameLabel"></span>
                <tiny-select id="routeNet.id" values="routeNet.values" width="routeNet.width" height="routeNet.height" default-label="routeNet.dftLabel">
                </tiny-select>
                <span ng-bind="routeNet.ipLabel"></span>
                <tiny-textbox id="IP.id" value="IP.value" type="IP.type" class="margin-right-beautifier">
                </tiny-textbox>
                <tiny-button id="searchBtn.id" text="searchBtn.text" click="searchBtn.click()" class="margin-right-beautifier"></tiny-button>
            </div>
            <tiny-table id="privateIpTable.id" data="privateIpTable.data" columns="privateIpTable.columns " display-length="privateIpTable.displayLength" total-records="privateIpTable.totalRecords" render-row="privateIpTable.renderRow" pagination-style="privateIpTable.paginationStyle"
            length-menu="privateIpTable.lengthMenu" callback="privateIpTable.callback" change-select="privateIpTable.changeSelect" columns-draggable="true">
            </tiny-table>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button id="okBtn.id" text="okBtn.text" disable="okBtn.disable" click="okBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>

</div>
<script type="text/javascript">
require(["app/business/network/controllers/eip/bindElasticIPByPrivateIp"], function(bindElasticIPByPrivateIpModule) {
    var dep = ['ng', bindElasticIPByPrivateIpModule.name];
    dep.unshift(["$provide",
        function($provide) {
            $provide.value("$rootElement", $("#bindElasticIPByPrivateIpbasic"));
        }
    ]);
    var $injector = angular.injector(dep);
    $injector.invoke(function($compile, $rootScope) {
        $compile($("#bindElasticIPByPrivateIpbasic"))($rootScope);
        $rootScope.$digest();
    });
})
</script>