<div class="row-fluid" id="create-EIP-basic" ng-controller="createCtrl">
    <tiny-formfield>
        <tiny-item label="ipBandWidthTemplate.label" require="ipBandWidthTemplate.require" display="isHardwareRouter">
            <div class="margin-bottom-beautifier">
                <span ng-bind="ipBandWidthTemplate.name"></span>
                <tiny-textbox id="ipBandWidthName.id" value="ipBandWidthName.value" type="ipBandWidthName.type" class="margin-right-beautifier">
                </tiny-textbox>
                <tiny-button id="searchBtn.id" text="searchBtn.text" click="searchBtn.click()" class="margin-right-beautifier"></tiny-button>
            </div>
            <div class="clearfix">
                <tiny-table id="ipBandWidthTable.id" data="ipBandWidthTable.data" columns="ipBandWidthTable.columns " display-length="ipBandWidthTable.displayLength" total-records="ipBandWidthTable.totalRecords" render-row="ipBandWidthTable.renderRow" pagination-style="ipBandWidthTable.paginationStyle"
                            length-menu="ipBandWidthTable.lengthMenu" callback="ipBandWidthTable.callback" change-select="ipBandWidthTable.changeSelect">
                </tiny-table>
            </div>
        </tiny-item>
        <tiny-item label="publicNetPool.label" require="publicNetPool.require" display="vpcTypeShared">
            <tiny-select id="publicNetPool.id" values="publicNetPool.values" width="publicNetPool.width" height="publicNetPool.height" default-label="publicNetPool.dftLabel">
            </tiny-select>
        </tiny-item>
        <tiny-item label="publicIP.label" require="publicIP.require" display="!vpcTypeShared">
            <tiny-select id="publicIP.id" values="publicIP.values" width="publicIP.width" height="publicIP.height" default-label="publicIP.dftLabel">
            </tiny-select>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button id="okBtn.id" text="okBtn.text" disable="okBtn.disable" click="okBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="text/javascript">
require(["app/business/network/controllers/eip/createEIPModule"], function(createEIPModule) {
    var dep = ['ng', createEIPModule.name];
    dep.unshift(["$provide",
        function($provide) {
            $provide.value("$rootElement", $("#create-EIP-basic"));
        }
    ]);
    var $injector = angular.injector(dep);
    $injector.invoke(function($compile, $rootScope) {
        $compile($("#create-EIP-basic"))($rootScope);
        $rootScope.$digest();
    });
})
</script>