<fm-help help="help.helpKey" show="help.show" i18n="help.i18n"></fm-help>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li>
                <ul class="breadcrumb">
                    <li><a ui-sref="network.manager.myVPClist" ng-bind="i18n.vpc_term_myVPC_label"></a> &gt; </li>
                    <li><a ui-sref="network.vpcmanager.summary" ng-bind="vpcName"></a> &gt; </li>
                    <li>{{i18n.eip_term_eip_label}}</li>
                    <li class="divider"></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="content-right-box">
        <div class="form-inline clearfix">
            <div class="fl">
                <tiny-button id="createBtn.id" text="createBtn.text" click="createBtn.click()" ng-show="hasEIPOperateRight && !isSC" class="major-btn"></tiny-button>
            </div>
            <!--刷新、帮助-->
            <div class="pull-right">
                <a class="btn-link">
                    <div id="refresh.id" title="{{refresh.tips}}" ng-click="refresh.click()" class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div title="{{help.tips}}" ng-click="help.click()" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div ng-if="!params.openstack">
            <tiny-table id="eipTable.id" data="eipTable.data" columns="eipTable.columns " show-details="eipTable.showDetails" display-length="eipTable.displayLength" total-records="eipTable.totalRecords" render-row="eipTable.renderRow" pagination-style="eipTable.paginationStyle"
            length-menu="eipTable.lengthMenu" callback="eipTable.callback" change-select="eipTable.changeSelect">
            </tiny-table>
        </div>
        <div ng-if="params.openstack">
            <tiny-table id="eipTable.id" data="eipTable.data" columns="eipTable.columns " show-details="eipTable.showDetails" display-length="eipTable.displayLength"
                        total-records="eipTable.totalRecords" render-row="eipTable.renderRow" enable-pagination="eipTable.enablePagination" pagination-style="eipTable.paginationStyle"
                        callback="eipTable.callback" change-select="eipTable.changeSelect">
            </tiny-table>
            <div class="pull-right">
                <tiny-select id="pageSize.id" values="pageSize.values" width="pageSize.width"
                             change="pageSize.change()"></tiny-select>
                <label class="margin-right-beautifier" ng-bind="i18n.common_term_currentPage_label"></label>
                <label class="margin-right-beautifier" ng-bind="page.currentPage"></label>
                <a ng-class="{tinyPagination_paginationPrevSpan: hasPrePage, tinyPagination_paginationPrevSpanDisabled: !hasPrePage}"
                   title="{{i18n.common_term_previous_button}}" class="tinyPagination_tinybutton clear_both"  style="float:none; display: inline-block; position: relative; top: 8px;" ng-click="prePage()"></a>
                <a ng-class="{tinyPagination_paginationNextSpan: hasNextPage,tinyPagination_paginationNextSpanDisabled: !hasNextPage}"
                   title="{{i18n.common_term_nextPage_button}}" class="tinyPagination_tinybutton clear_both" style="float:none; display: inline-block; position: relative; top: 8px;" ng-click="nextPage()"></a>
            </div>
        </div>
    </div>
</div>