<div ng-controller="addVMCtrl" class="create-page-distance">
    <div class="line-height22 color2">
        <p ng-bind-html="i18n.template_script_batchRun_para_addVM_mean_label"></p>
    </div>
    <div class="left-10">
        <tiny-formfield>
            <tiny-item>
                <div id="vmTable" class="margin-top-beautifier span8">
                    <tiny-table id="vmTableList.id" data="vmTableList.data" columns="vmTableList.columns" pagination-style="vmTableList.paginationStyle" length-change="vmTableList.lengthChange" length-menu="vmTableList.lengthMenu" display-length="vmTableList.displayLength"
                    enable-filter="vmTableList.enableFilter" total-records="vmTableList.totalRecords" render-row="vmTableList.renderRow" columns-visibility="false" columns-draggable="false" callback="vmTableList.callback" change-select="vmTableList.changeSelect"></tiny-table>
                </div>
            </tiny-item>
            <tiny-item>
                <div class="fm-btn-top-small ">
                    <tiny-button id="info.preBtn.id" text="info.preBtn.text" click="info.preBtn.click()"></tiny-button>
                    <tiny-button id="info.nextBtn.id" text="info.nextBtn.text" click="info.nextBtn.click()" class="major-btn"></tiny-button>
                    <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
                </div>

            </tiny-item>

        </tiny-formfield>

    </div>

</div>

<style>
.tiny-checkboxIcon {
    margin-top: 4px;
}
</style>