<div ng-controller="confirmCtrl" class="create-page-distance">
    <div class="line-height22 color2">
        <p ng-bind-html="i18n.common_term_stepEnd_msg"></p>
    </div>
    <div>
        <tiny-formfield>
            <span class="createpage-title">{{i18n.template_term_scriptBasicInfo_label}}:</span>
            <tiny-item label="info.name.label">
                <span ng-bind="scriptDetail.name"></span>
            </tiny-item>
            <tiny-item label="info.OSType.label">
                <span ng-bind="scriptDetail.osType"></span>
            </tiny-item>
            <tiny-item label="info.version.label">
                <span ng-bind="scriptDetail.version"></span>
            </tiny-item>
            <tiny-item label="info.desc.label">
                <span ng-bind="scriptDetail.description"></span>
            </tiny-item>
        </tiny-formfield>
        <tiny-formfield>
            <span class="createpage-title">{{i18n.common_term_customPara_label}}:</span>
            <tiny-item label="info.installCmd.label">
                <span ng-bind="installCommand"></span>
            </tiny-item>

        </tiny-formfield>

        <tiny-formfield>
            <span class="createpage-title none-line">{{i18n.common_term_vms_label}}:</span>
            <tiny-item>
                <div id="vmTable" class="span8 left-10">
                    <tiny-table id="vmTableList.id" data="vmTableList.data" enable-pagination="vmTableList.enablePagination" columns="vmTableList.columns" columns-visibility="false" columns-draggable="false"></tiny-table>
                </div>
            </tiny-item>
        </tiny-formfield>

        <div class="fm-btn-top-small">
            <tiny-button id="info.preBtn.id" text="info.preBtn.text" click="info.preBtn.click()"></tiny-button>
            <tiny-button id="info.saveBtn.id" text="info.saveBtn.text" click="info.saveBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
        </div>

    </div>

</div>