<div class="row-fluid margin-top-beautifier" id="app_list_deployMgr_baseInfo" ng-controller="app.list.deployBaseInfo.ctrl">
    <div class="span6">
        <div class="margin-bottom-beautifier">
            <tiny-formfield>
                <tiny-item label="name.label">
                    <span class="customLabelContent" ng-bind="name.value"></span>
                </tiny-item>
                <tiny-item label="org.label">
                    <span class="customLabelContent" ng-bind="org.value"></span>
                </tiny-item>
                <tiny-item label="description.label">
                    <span class="customLabelContent" ng-bind="description.value"></span>
                </tiny-item>
                <tiny-item label="tag.label" display="isIT">
                    <span class="customLabelContent" ng-bind="tag.value"></span>
                </tiny-item>
                    <div ng-if="isIT">
                        <tiny-item label="creatorEnd.label">
                            <span class="customLabelContent" ng-bind="creatorEnd.value"></span>
                        </tiny-item>
                    </div>
            </tiny-formfield>
        </div>
    </div>

    <div class="span6">
        <div class="margin-bottom-beautifier">
            <tiny-formfield>
                <tiny-item label="runState.label">
                    <span class="customLabelContent" ng-bind="runState.value"></span>
                </tiny-item>
                <tiny-item label="creatorTime.label">
                    <span class="customLabelContent" ng-bind="creatorTime.value"></span>
                </tiny-item>
                <tiny-item label="creator.label">
                    <span class="customLabelContent" ng-bind="creator.value"></span>
                </tiny-item>
            </tiny-formfield>
        </div>
    </div>
</div>
<script>
require(['app/business/application/controllers/manager/deploy/baseInfoCtrl'],
    function(baseInfoCtrl) {
        var dep = ['ng', 'wcc', baseInfoCtrl.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $("#app_list_deployMgr_baseInfo"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($("#app_list_deployMgr_baseInfo"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>