<div class="row-fluid margin-top-beautifier" id="app_list_deployMgr_resources" ng-controller="app.list.deployResources.ctrl">
    <div>
        <tiny-table id="resourceTable.id" data="resourceTable.data" columns="resourceTable.columns" length-menu="resourceTable.lengthMenu" enable-pagination="resourceTable.enablePagination" render-row="resourceTable.renderRow" pagination-style="resourceTable.paginationStyle">
        </tiny-table>
    </div>
</div>

<script>
require(['app/business/application/controllers/manager/deploy/resourcesCtrl'],
    function(resourcesCtrl) {
        var dep = ['ng', 'wcc', resourcesCtrl.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $("#app_list_deployMgr_resources"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($("#app_list_deployMgr_resources"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>