<ul class="panel-list">
    <li class="panel-item">
        <div class="panel-title clearfix">
            <span class="panel-title-label fl" ng-bind="i18n.common_term_basicInfo_label"></span>
        </div>
        <div class="panel-content">
            <tiny-formfield>
                <tiny-item label="confirmInfo.serviceName.label">
                    {{params.name}}
                </tiny-item>
                <tiny-item label="confirmInfo.serviceCatalog.label">
                    {{confirm.catalog}}
                </tiny-item>
                <tiny-item label="baseInfo.logo.label">
                    <img ng-src="{{baseInfo.logo.curLogo}}" ng-if="params.iconId"
                         class="upload-icon-size upload-icon-image"/>
                </tiny-item>
                <tiny-item label="confirmInfo.description.label">
                    {{params.desc}}
                </tiny-item>
                <tiny-item label="confirmInfo.approveType.label">
                    {{confirm.approveType}}
                </tiny-item>
            </tiny-formfield>
        </div>
    </li>
    <li>
        <tiny-formfield>
            <tiny-item>
                <div class="fm-btn-top-small">
                    <tiny-button id="confirmInfo.preBtn.id" text="confirmInfo.preBtn.text"
                                 click="confirmInfo.preBtn.click()"></tiny-button>
                    <tiny-button id="confirmInfo.addBtn.id" text="confirmInfo.addBtn.text"
                                 click="confirmInfo.addBtn.click()" class="major-btn"></tiny-button>
                    <tiny-button id="confirmInfo.cancelBtn.id" text="confirmInfo.cancelBtn.text"
                                 click="confirmInfo.cancelBtn.click()"></tiny-button>
                </div>
            </tiny-item>
        </tiny-formfield>
    </li>
</ul>