<link href="../theme/default/css/gm/ssp.css" type="text/css" rel="stylesheet" />
<fm-help help="help.helpKey" show="help.show" i18n="help.i18n"></fm-help>
<div>
    <div id="serviceCatalogLayoutId">
        <div class="tiny-layout-container">
            <div class="tiny-layout-west">
                <ul>
                    <div class="tiny-layout-title pr">
                        <div class="row-fluid nosidedown-txt">
                            <div class="span4">
                                <div class="title-icon layout-icon-catalog"></div>
                            </div>
                            <div class="span6">
                                <span class="text-left" ng-bind="i18n.service_term_service_label"></span>
                            </div>
                            <a ui-sref="ssp.catalogManager" ng-if="user.vdcId !== '-1'" title="{{i18n.service_term_catalogMgr_label}}">
                                <span class="sspConfigCatalog">
                                    <span class="sspConfigCatalogImg"></span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <li ng-repeat="cat in catalogs">
                        <a ng-click="select(cat.id)" ng-bind="cat.name"></a>
                    </li>
                </ul>
            </div>

            <div class="tiny-layout-center">
                <div class="crumbs">
                    <ul class="nav nav-list noPadding">
                        <li>
                            <span ng-bind="i18n.service_term_service_label"></span>
                        </li>
                        <li class="two-lead" >
                            <p ng-bind-html="i18n.service_service_view_explan_allUserService_label"></p>
                        </li>
                        <li class="divider"></li>
                    </ul>
                </div>

                <div class="content-right-box">
                    <div class="clearfix bottom10">
                        <tiny-button ng-if="hasServerOperateRight && user.vdcId !== '-1'" id="createBtn.id" text="createBtn.text" click="createBtn.click()" width="createBtn.width" style="margin-left: -30px;" class="major-btn fl"></tiny-button>
                        <div class="pull-right">
                            <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
                                <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width" suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength" suggest="searchBox.suggest" search="searchBox.search">
                                </tiny-searchbox>
                            </span>
                            <a class="btn-link">
                                <div ng-click="refresh.click()" id="{{refresh.id}}" title="{{i18n.common_term_fresh_button}}" class="small-icon small-icon-refresh"></div>
                            </a>
                            <a class="btn-link">
                                <div title="{{i18n.common_term_help_label}}" ng-click="help.click()" class="small-icon small-icon-help"></div>
                            </a>
                        </div>
                    </div>

                    <div class="serviceCatalogServiceList clearfix row-fluid">
                        <div class="span6 small-layout" style="margin-left: 0;" ng-repeat="service in services">
                            <div class="small-layout-inner">
                                <div class="media">
                                    <a class="pull-left top6">
                                        <img ng-if="service.status == 'published'" class="media-object btn-link" ng-src="{{service.serviceImageUrl}}" alt="" ng-click="applyBtn.click(service.applyUrl, service.id)">
                                        <img ng-if="service.status == 'unpublished'" class="media-object btn-link" ng-src="{{service.serviceImageUrl}}" alt="">
                                    </a>

                                    <div class="media-body">
                                        <div style="margin: 0px 20px 0px 10px;">
                                            <div class="small-layout-title bottom5" ng-bind="service.name"></div>
                                            <div class="color-gray bottom5">ID: {{service.id}}</div>
                                            <div ng-bind="service.description" class="serviceCatalogServiceDescription"></div>
                                            <div ng-if="service.status == 'unpublished'">
                                                <tiny-button ng-if="hasServerOperateRight == true" id="publishBtn.id" text="publishBtn.text" click="publishBtn.click(service.id)" class="major-btn"></tiny-button>
                                                <tiny-button ng-if="hasServerOperateRight == true" id="modifyBtn.id" text="modifyBtn.text" click="modifyBtn.click(service.modifyUrl, service.id)"></tiny-button>
                                                <tiny-button ng-if="hasServerOperateRight == true" id="deleteBtn.id" text="deleteBtn.text" click="deleteBtn.click(service.id)"></tiny-button>
                                            </div>
                                            <div ng-if="service.status == 'published'">
                                                <tiny-button id="applyBtn.id" text="applyBtn.text" click="applyBtn.click(service.applyUrl, service.id)" class="major-btn"></tiny-button>
                                                <span ng-if="user.vdcId==service.vdcId">
                                                    <tiny-button ng-if="hasServerOperateRight == true" id="cancelPublishBtn.id" text="cancelPublishBtn.text" click="cancelPublishBtn.click(service.id)"></tiny-button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--翻页条-->
                    <div class="clearfix bottom10">
                        <tiny-pagination id="pagination.id" type="pagination.type" prev-text="pagination.prevText" next-text="pagination.nextText" length-options="pagination.lengthOptions" length-menu="pagination.lengthMenu" total-records="pagination.totalRecords" display-length="pagination.displayLength"
                        cur-page="pagination.curPage" callback="pagination.callback" change-select="pagination.changeSelect">
                        </tiny-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>