<div id="chooseResourceClusterDiv">
    <tiny-formfield>
        <tiny-item label="hypervisorSelector.label" require="hypervisorSelector.require">
            <tiny-select id="hypervisorSelector.id" values="hypervisorSelector.values" width="hypervisorSelector.width"
                         validate="hypervisorSelector.validate" change="hypervisorSelector.change()"></tiny-select>
        </tiny-item>
        <tiny-item label="zoneSelector.label" require="zoneSelector.require">
            <tiny-select id="zoneSelector.id" values="zoneSelector.values" width="zoneSelector.width"
                         validate="zoneSelector.validate" change="zoneSelector.change()"></tiny-select>
        </tiny-item>
        <tiny-item label="azSelector.label" require="azSelector.require">
            <tiny-select id="azSelector.id" values="azSelector.values" width="azSelector.width"
                         validate="azSelector.validate" change="azSelector.change()"></tiny-select>
        </tiny-item>
    </tiny-formfield>
    <div class="clearfix">
        <tiny-table id="selectClusterTable.id" caption="selectClusterTable.caption" data="selectClusterTable.data"
                    pagination-style="selectClusterTable.paginationStyle"
                    columns='selectClusterTable.columns' render-row="selectClusterTable.renderRow"
                    total-records="selectClusterTable.totalRecords" length-change="selectClusterTable.lengthChange"
                    cur-page="selectClusterTable.curPage" display-length="selectClusterTable.displayLength"
                    enable-pagination="selectClusterTable.enablePagination"
                    length-menu="selectClusterTable.lengthMenu" callback="selectClusterTable.callback"
                    column-sorting="selectClusterTable.columnSorting"
                    change-select="selectClusterTable.changeSelect"></tiny-table>
    </div>
    <div class="clear_both fm-btn-top-large">
        <tiny-button id="resourceClusterPreBtn.id" text="resourceClusterPreBtn.text" click="resourceClusterPreBtn.click()"></tiny-button>
        <tiny-button id="resourceClusterNextBtn.id" text="resourceClusterNextBtn.text" click="resourceClusterNextBtn.click()" class="major-btn"></tiny-button>
        <tiny-button id="resourceClusterCancelBtn.id" text="resourceClusterCancelBtn.text" click="resourceClusterCancelBtn.click()"></tiny-button>
    </div>
</div>
