<div id="chooseResourceVpcDiv">
    <div class="clearfix">
        <tiny-table id="selectVpcTable.id" caption="selectVpcTable.caption" data="selectVpcTable.data"
                    pagination-style="selectVpcTable.paginationStyle"
                    columns='selectVpcTable.columns' render-row="selectVpcTable.renderRow"
                    total-records="selectVpcTable.totalRecords" length-change="selectVpcTable.lengthChange"
                    cur-page="selectVpcTable.curPage" display-length="selectVpcTable.displayLength"
                    enable-pagination="selectVpcTable.enablePagination"
                    length-menu="selectVpcTable.lengthMenu" callback="selectVpcTable.callback"
                    column-sorting="selectVpcTable.columnSorting"
                    change-select="selectVpcTable.changeSelect"></tiny-table>
    </div>
    <div class="clear_both fm-btn-top-large">
        <tiny-button id="vpcPreBtn.id" text="vpcPreBtn.text" click="vpcPreBtn.click()"></tiny-button>
        <tiny-button id="vpcNextBtn.id" text="vpcNextBtn.text" click="vpcNextBtn.click()" class="major-btn"></tiny-button>
        <tiny-button id="vpcCancelBtn.id" text="vpcCancelBtn.text" click="vpcCancelBtn.click()"></tiny-button>
    </div>
</div>
