<div id="chooseVdcDiv">
    <tiny-formfield>
        <tiny-item>
            <div style="width: 650px">
                <tiny-table id="orgVdcModel.id" data="orgVdcModel.datas" columns="orgVdcModel.columns" enable-pagination="orgVdcModel.pagination"
                            pagination-style="orgVdcModel.paginationStyle" length-change="orgVdcModel.lengthChange" length-menu="orgVdcModel.lengthMenu" 
                            display-length="orgVdcModel.displayLength" enable-filter="orgVdcModel.enableFilter"
                            cur-page="orgVdcModel.curPage" total-records="orgVdcModel.totalRecords" request-config="orgVdcModel.requestConfig" 
                            hide-total-records="orgVdcModel.hideTotalRecords" render-row="orgVdcModel.renderRow" callback="orgVdcModel.callback" 
                            change-select="orgVdcModel.changeSelect" show-details="orgVdcModel.showDetails"></tiny-table>
            </div>
        </tiny-item>
        <tiny-item>
            <tiny-button id="vdcInfoPreBtn.id" text="vdcInfoPreBtn.text" click="vdcInfoPreBtn.click()"></tiny-button>
            <tiny-button id="vdcInfoNextBtn.id" text="vdcInfoNextBtn.text" click="vdcInfoNextBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="vdcInfoCancelBtn.id" text="vdcInfoCancelBtn.text" click="vdcInfoCancelBtn.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>