<div id="confirmInfo">
    <div class="line-height30">
        <tiny-formfield>
            <tiny-item label="name.label">
                <div ng-bind="name.value"></div>
            </tiny-item>
            <tiny-item label="description.label">
                <div ng-bind="description.value"></div>
            </tiny-item>
            <tiny-item label="label.vdc">
                <div ng-bind="selectedVdcName"></div>
            </tiny-item>
            <tiny-item label="label.resourceCluster">
                <div ng-bind="selectedClustersStr"></div>
            </tiny-item>
            <tiny-item label="label.vpc">
                <div ng-bind="selectedVpcStr"></div>
            </tiny-item>
            <tiny-item label="cpuUpperLimit.label">
                <div ng-bind="cpuUpperLimit.value"></div>
            </tiny-item>
            <tiny-item label="memoryUpperLimit.label">
                <div ng-bind="memoryUpperLimit.value"></div>
            </tiny-item>
            <tiny-item label="storageUpperLimit.label">
                <div ng-bind="storageUpperLimit.value"></div>
            </tiny-item>
            <tiny-item class="fm-btn-top-small">
                <tiny-button id="confirmInfoPreBtn.id" text="confirmInfoPreBtn.text" click="confirmInfoPreBtn.click()"></tiny-button>
                <tiny-button class="major-btn" id="createBtn.id" text="createBtn.text" click="createBtn.create()"></tiny-button>
                <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.cancel()"></tiny-button>
            </tiny-item>
        </tiny-formfield>
    </div>
    <br/>
</div>

