<div id="createOrgDiv">
    <div class="tiny-step-boxset clearfix">
        <div class="createpage-legend" ng-bind="i18n.org_term_orgVDC_label"></div>
        <tiny-step id="addStep.id" values="addStep.values" jumpable="addStep.jumpable" width="addStep.width"></tiny-step>
    </div>
    <div class="create-page-distance">
        <div ng-include="stepUrl.step1" ng-show="stepShow.step1"></div>
        <div ng-include="stepUrl.step2" ng-show="stepShow.step2"></div>
        <div ng-include="stepUrl.step3" ng-show="stepShow.step3"></div>
        <div ng-include="stepUrl.step4" ng-show="stepShow.step4"></div>
        <div ng-include="stepUrl.step5" ng-show="stepShow.step5"></div>
        <div ng-include="stepUrl.step6" ng-show="stepShow.step6"></div>
    </div>
</div>
