<div id="setQuotaInfo">
    <div>
        <tiny-formfield>
            <tiny-item label="cpuUpperLimit.label" require="cpuUpperLimit.require">
                <tiny-textbox id="cpuUpperLimit.id" validate="cpuUpperLimit.validate" tooltip="cpuUpperLimit.tooltip"
                              readonly="cpuUpperLimit.readonly" value="cpuUpperLimit.value"></tiny-textbox>
            </tiny-item>
            <tiny-item label="memoryUpperLimit.label" require="memoryUpperLimit.require">
                <tiny-textbox id="memoryUpperLimit.id" validate="memoryUpperLimit.validate" tooltip="memoryUpperLimit.tooltip"
                              readonly="memoryUpperLimit.readonly" value="memoryUpperLimit.value"></tiny-textbox>
            </tiny-item>
            <tiny-item label="storageUpperLimit.label" require="storageUpperLimit.require">
                <tiny-textbox id="storageUpperLimit.id" validate="storageUpperLimit.validate" tooltip="storageUpperLimit.tooltip"
                              readonly="storageUpperLimit.readonly" value="storageUpperLimit.value"></tiny-textbox>
            </tiny-item>
            <tiny-item class="fm-btn-top-small">
                <tiny-button id="quotaPreBtn.id" text="quotaPreBtn.text" click="quotaPreBtn.click()"></tiny-button>
                <tiny-button id="quotaNextBtn.id" text="quotaNextBtn.text" click="quotaNextBtn.click()" class="major-btn"></tiny-button>
                <tiny-button id="quotaCancelBtn.id" text="quotaCancelBtn.text" click="quotaCancelBtn.click()"></tiny-button>
            </tiny-item>
        </tiny-formfield>
    </div>
    <br/>
</div>