<fm-valid valid="show.check">
    <tiny-formfield>
        <tiny-item label="label.publicIPPool+':'" require="true" display="isHardwareRouter">
            <fm-select id="para.pulbicIPPool" option="applyIP.pulbicIPPoolValues" change="applyIP.poolChange"></fm-select>
        </tiny-item>
        <tiny-item label="label.allocateType+':'" require="true">
            <fm-radio id="para.allocateType" option="applyIP.allocateTypeValues" change="applyIP.IPChange"></fm-radio>
        </tiny-item>
        <tiny-item label="label.publicIP+':'" require="true" display="'2' == para.allocateType">
            <fm-ipv4 value="para.publicIP"></fm-ipv4>
        </tiny-item>
        <tiny-item label="label.puclicIPNum+':'" require="true" display="'3' == para.allocateType">
            <fm-digit value="para.puclicIPNum" min="1" max="65535"></fm-digit>
        </tiny-item>
        <tiny-item>
            <div class="fm-btn-top-large">
                <fm-button class="major-btn fm-valid" text="i18n.common_term_ok_button||'确定'" click="apply"></fm-button>
                <fm-button text="i18n.common_term_cancle_button||'取消'" class="fm-valid-clear" click="cancel"></fm-button>
            </div>
        </tiny-item>
    </tiny-formfield>
</fm-valid>
