<div ng-if="user.privilege.alarm_term_alarm_label" class="alarm">
	<div ng-click="gotoAlarm('critical')"><span class="alarm-icon btn-link alarm-0" ng-bind="alarm.critical"></span></div>
	<div ng-click="gotoAlarm('major')"><span class="alarm-icon btn-link alarm-1" ng-bind="alarm.major"></span></div>
	<div ng-click="gotoAlarm('minor')"><span class="alarm-icon btn-link alarm-2" ng-bind="alarm.minor"></span></div>
	<div ng-click="gotoAlarm('warning')"><span class="alarm-icon btn-link alarm-3" ng-bind="alarm.warning"></span></div>
</div>