<div fm-help help="'drawer_alarm_statis'" show="show.help" i18n="'zh'"></div>
<div class="container-fluid">

    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li>
                <span>{{i18n.common_term_alarmStatistic_label}}</span>
            </li>
            <li class="two-lead">
                <p ng-bind-html="i18n.alarm_statistic_view_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>


    <div class="content-right-box">
        <div class="margin-erect-beautifier">
            <div class="clearfix">
                <div class="pull-left">
                    <tiny-select id="queryTopNCtrl.id" values="queryTopNCtrl.values" width="queryTopNCtrl.width" default-label="queryTopNCtrl.dftLabel">
                    </tiny-select>

                    <tiny-select id="querySeverityCtrl.id" values="querySeverityCtrl.values" width="querySeverityCtrl.width" default-label="querySeverityCtrl.dftLabel">
                    </tiny-select>

                    <tiny-select id="queryCycleCtrl.id" values="queryCycleCtrl.values" width="queryCycleCtrl.width" default-label="queryCycleCtrl.dftLabel" change="queryCycleCtrl.change()">
                    </tiny-select>
                    <div ng-show="showDateTime == true" style="display: inline-block;">
                        <tiny-datetime id="timeIds.searchStartTime"
                                       type="time.type"
                                       width="time.width"
                                       date-format="time.dateFormat"
                                       time-format="time.timeFormat"
                                       min-date="time.start.minDate"
                                       max-date="time.start.maxDate"
                                       first-day="time.firstDay"
                                       on-close="time.start.onClose"
                                       ampm="time.ampm"></tiny-datetime>
                        -
                        <tiny-datetime id="timeIds.searchEndTime"
                                       type="time.type"
                                       width="time.width"
                                       date-format="time.dateFormat"
                                       time-format="time.timeFormat"
                                       min-date="time.end.minDate"
                                       max-date="time.end.maxDate"
                                       first-day="time.firstDay"
                                       on-close="time.end.onClose"
                                       ampm="time.ampm"></tiny-datetime>
                    </div>
                    <fm-button id="queryBtn.id" icons-class="icon-plus" text="queryBtn.text" click="queryBtn.click" class="major-btn left15"></fm-button>
                </div>

               <div class="pull-right">
                   <a class="btn-link">
                       <div ng-click="refreshBtn.click()" id="refreshBtn.id" title="{{i18n.common_term_fresh_button}}" class="small-icon small-icon-refresh"></div>
                   </a>
                   <a class="btn-link">
                       <div ng-click="show.help=true" class="small-icon small-icon-help"></div>
                   </a>
               </div>

            </div>
            <div class="row-fluid">
                <div class="span12 outbox-padding top10">
                    <span class="legend">TOP {{topN}}</span>

                    <div id="alarm_chart" style="z-index: 1;position: relative;">
                    </div>
                </div>
            </div>
            <tiny-table id="alarmTableModel.id" data="alarmTableModel.data" columns="alarmTableModel.columns" enable-pagination="alarmTableModel.enablePagination" request-config="alarmTableModel.requestConfig" columns-draggable="alarmTableModel.columnsDraggable"
            hide-total-records="alarmTableModel.hideTotalRecords"></tiny-table>

        </div>
    </div>
</div>

