<div class="container-fluid alarm-detail" ng-controller="monitor.alarm.detail.ctrl">
    <div class="innerbox-padding">
        <div class="row-fluid ">
            <div class="span12">
                <tiny-formfield>
                    <tiny-item label="additionalInfo.label">
                        <span>{{alarmDetail.additionalInfo}}</span>
                    </tiny-item>
                </tiny-formfield>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6">
                <tiny-formfield>
                    <tiny-item label="sn.label">
                        <span>{{alarmDetail.sn}}</span>
                    </tiny-item>
                    <tiny-item label="severity.label">
                        <span>{{alarmDetail.severityValue}}</span>
                    </tiny-item>
                    <tiny-item label="moc.label">
                        <span>{{alarmDetail.moc}}</span>
                    </tiny-item>
                    <tiny-item label="compName.label">
                        <span>{{alarmDetail.compName}}</span>
                    </tiny-item>
                    <tiny-item label="occurTime.label">
                        <span>{{alarmDetail.occurTime}}</span>
                    </tiny-item>
                    <tiny-item label="clearType.label">
                        <span>{{alarmDetail.clearType}}</span>
                    </tiny-item>
                </tiny-formfield>
            </div>
            <div class="span6">
                <tiny-formfield>
                    <tiny-item label="alarmId.label">
                        <span>{{alarmDetail.alarmId}}</span>
                    </tiny-item>
                    <tiny-item label="alarmName.label">
                        <span>{{alarmDetail.alarmName}}</span>
                    </tiny-item>
                    <tiny-item label="resourceName.label">
                        <span>{{alarmDetail.resourceName}}</span>
                    </tiny-item>
                    <tiny-item label="compType.label">
                        <span>{{alarmDetail.compType}}</span>
                    </tiny-item>
                    <tiny-item label="clearTime.label">
                        <span>{{alarmDetail.clearTime}}</span>
                    </tiny-item>
                    <tiny-item label="userofclear.label">
                        <span>{{alarmDetail.userofclear}}</span>
                    </tiny-item>
                </tiny-formfield>
            </div>
        </div>
    </div>
</div>
<script>
require([
        'app/business/monitor/controllers/alarmDetailModel',
        "app/business/monitor/services/alarmService",
        'app/services/httpService'
    ],
    function(detailModel, AlarmService, http) {
        var curView = undefined;
        $(".alarm-detail").each(function() {
            if ($(this).attr("id") === undefined) {
                curView = $(this);
            }
        });
        curView.attr("id", new Date().getMilliseconds());

        var scope = curView.scope();
        var dep = ['ng', 'wcc', detailModel.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", curView);
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile(curView)($rootScope);
            $rootScope.$digest();
        });

        var newScope = curView.scope();
        newScope.$apply(function() {
            newScope.alarmDetail = scope.currentItem;
        });
    });
</script>

