<div id="mailAlarmView">
    <div>
        <div class="margin-erect-beautifier clearfix">
        <div class="pull-right">
                <span style="display: inline-block; vertical-align: middle;">
                    <tiny-searchbox id="searchMailAlarmBox.id" placeholder="searchMailAlarmBox.placeholder"
                                    width="searchMailAlarmBox.width" suggest-size="searchMailAlarmBox.suggestSize"
                                    maxlength="searchMailAlarmBox.maxLength" suggest="searchMailAlarmBox.suggest"
                                    search="searchMailAlarmBox.search">
                    </tiny-searchbox>
                </span>
        </div>
        </div>
        <tiny-formfield>
            <tiny-item>
                <tiny-table id="alarmGridViewTable.id" data="alarmGridViewTable.data" columns="alarmGridViewTable.columns" pagination-style="alarmGridViewTable.paginationStyle" length-change="alarmGridViewTable.lengthChange" length-menu="alarmGridViewTable.lengthMenu"
                display-length="alarmGridViewTable.displayLength" enable-filter="alarmGridViewTable.enableFilter" change-select="alarmGridViewTable.changeSelect" show-details="alarmGridViewTable.showDetails" callback="alarmGridViewTable.callback" render-row="alarmGridViewTable.renderRow"
                columns-visibility="false" total-records="alarmGridViewTable.totalRecords" cur-page="alarmGridViewTable.curPage" columns-draggable="false"></tiny-table>
            </tiny-item>

            <tiny-item>
                <div class="fm-btn-top-small">
                    <fm-button class="major-btn" id="saveAlarmBtn.id" text="saveAlarmBtn.text" click="saveAlarmBtn.click"></fm-button>
                    <fm-button id="cancelAlarmBtn.id" text="cancelAlarmBtn.text" click="cancelAlarmBtn.click"></fm-button>
                </div>
            </tiny-item>
        </tiny-formfield>

    </div>

</div>