<div id="mailView">
    <div>

        <tiny-formfield>
            <tiny-item label="mailFormView.label.userName" display=" mode != 'insert' && recipientAlarmInfo.userName != 'null'">
                {{recipientAlarmInfo.userName}}
            </tiny-item>
            <tiny-item label="mailFormView.label.mailAddress" display="mode != 'insert'">

                {{mailAddressTypeValue}}

            </tiny-item>
            <tiny-item label="mailFormView.label.mail" display=" mode != 'insert'">
                {{recipientAlarmInfo.recipient}}
            </tiny-item>

            <tiny-item label="mailFormView.label.mailAddress" display="mode == 'insert'" require="mailFormView.mailAddressControl.require">
                <fm-radio id="mailFormView.id.mailAddress" option="mailFormView.mailAddress" change='mailFormView.changeMailAddress()'></fm-radio>
            </tiny-item>

            <tiny-item display=" mailAddressType == 'other' && mode == 'insert'">
                <tiny-textbox id="mailFormView.mailAddressControl.id" value="mailFormView.mailAddressControl.value" readonly="mailFormView.mailAddressControl.readonly" type="mailFormView.mailAddressControl.type" tooltip="mailFormView.mailAddressControl.tooltip" validate="mailFormView.mailAddressControl.validate"
                extend-function="mailFormView.mailAddressControl.extendFunction" width="mailFormView.mailAddressControl.width" height="mailFormView.mailAddressControl.height"></tiny-textbox>
            </tiny-item>


            <tiny-item display=" mailAddressType == 'system'  && mode == 'insert' ">
                <fm-button class="major-btn bottom10" id="selectUserBtn.id" icons-class="icon-plus" text="selectUserBtn.text" click="selectUserBtn.click"></fm-button>
                <div class="clearfix top10">
                    <tiny-table id="selectUserGridViewTable.id" data="selectUserGridViewTable.data" columns="selectUserGridViewTable.columns" pagination-style="selectUserGridViewTable.paginationStyle" length-change="selectUserGridViewTable.lengthChange" length-menu="selectUserGridViewTable.lengthMenu"
                    display-length="selectUserGridViewTable.displayLength" enable-filter="selectUserGridViewTable.enableFilter" change-select="selectUserGridViewTable.changeSelect" show-details="selectUserGridViewTable.showDetails" callback="selectUserGridViewTable.callback"
                    render-row="selectUserGridViewTable.renderRow" columns-visibility="false" total-records="selectUserGridViewTable.totalRecords" cur-page="selectUserGridViewTable.curPage" columns-draggable="false"></tiny-table>
                </div>
            </tiny-item>


            <tiny-item label="mailFormView.label.type" display="mode != 'show'">
                <fm-radio id="mailFormView.id.type" option="mailFormView.type" change='mailFormView.changeType()'></fm-radio>
            </tiny-item>
            <tiny-item label="mailFormView.label.type" display="mode == 'show'">

                {{typeValue}}

            </tiny-item>


            <tiny-item label="mailFormView.label.level" display="type == 'level'">
                <fm-check map="mailFormView.checkBoxLevelValue" option="mailFormView.level"></fm-check>
            </tiny-item>

            <tiny-item label="mailFormView.label.alarmMsg" display="mode != 'show' && type == 'object'">


                <fm-button class="major-btn" id="selectBtn.id" icons-class="icon-plus" text="selectBtn.text" click="selectBtn.click"></fm-button>

                <div class="clearfix top10">
                    <tiny-table id="selectAlarmGridViewTable.id" data="selectAlarmGridViewTable.data" columns="selectAlarmGridViewTable.columns" pagination-style="selectAlarmGridViewTable.paginationStyle" length-change="selectAlarmGridViewTable.lengthChange" length-menu="selectAlarmGridViewTable.lengthMenu"
                                display-length="selectAlarmGridViewTable.displayLength" enable-filter="selectAlarmGridViewTable.enableFilter" change-select="selectAlarmGridViewTable.changeSelect" show-details="selectAlarmGridViewTable.showDetails" callback="selectAlarmGridViewTable.callback"
                                render-row="selectAlarmGridViewTable.renderRow" columns-visibility="false" total-records="selectAlarmGridViewTable.totalRecords" cur-page="selectAlarmGridViewTable.curPage" columns-draggable="false"></tiny-table>
                </div>
            </tiny-item>
            <tiny-item label="mailFormView.label.alarmMsg" display="mode == 'show' && type == 'object'">
                <tiny-table id="showSelectAlarmGridViewTable.id" data="showSelectAlarmGridViewTable.data" columns="showSelectAlarmGridViewTable.columns" pagination-style="showSelectAlarmGridViewTable.paginationStyle" length-change="showSelectAlarmGridViewTable.lengthChange"
                length-menu="showSelectAlarmGridViewTable.lengthMenu" display-length="showSelectAlarmGridViewTable.displayLength" enable-filter="showSelectAlarmGridViewTable.enableFilter" change-select="showSelectAlarmGridViewTable.changeSelect" show-details="showSelectAlarmGridViewTable.showDetails"
                callback="showSelectAlarmGridViewTable.callback" render-row="showSelectAlarmGridViewTable.renderRow" columns-visibility="false" total-records="showSelectAlarmGridViewTable.totalRecords" cur-page="showSelectAlarmGridViewTable.curPage" columns-draggable="false"></tiny-table>
            </tiny-item>
            <tiny-item label="mailFormView.label.sendTimeSection" display="mode == 'show'

            && recipientAlarmInfo.startTime != null && recipientAlarmInfo.endTime != null">

                {{recipientAlarmInfo.startTime}} - {{recipientAlarmInfo.endTime}}

            </tiny-item>

            <tiny-item label="mailFormView.label.sendTimeSection" display="mode != 'show'">
                <tiny-datetime id="mailFormView.timeIds.searchStartTime" type="mailFormView.time.type" width="mailFormView.time.width" date-format="mailFormView.time.dateFormat" time-format="mailFormView.time.timeFormat" min-date="mailFormView.time.minDate" max-date="mailFormView.time.maxDate"
                first-day="mailFormView.time.firstDay" value="mailFormView.time.start.value" on-close="mailFormView.time.start.onClose" ampm="mailFormView.time.ampm"></tiny-datetime>
                -
                <tiny-datetime id="mailFormView.timeIds.searchEndTime" type="mailFormView.time.type" width="mailFormView.time.width" date-format="mailFormView.time.dateFormat" time-format="mailFormView.time.timeFormat" min-date="mailFormView.time.minDate" max-date="mailFormView.time.maxDate"
                first-day="mailFormView.time.firstDay" value="mailFormView.time.end.value" on-close="mailFormView.time.end.onClose" ampm="mailFormView.time.ampm"></tiny-datetime>
            </tiny-item>


            <tiny-item display="mode != 'show'">
                <div class="fm-btn-top-small">
                    <fm-button class="major-btn" id="saveBtn.id" text="saveBtn.text" click="saveBtn.click"></fm-button>
                    <fm-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click"></fm-button>
                </div>
            </tiny-item>
            <tiny-item display="mode == 'show'">
                <div class="fm-btn-top-small">
                    <fm-button id="cancelShowBtn.id" text="cancelShowBtn.text" click="cancelShowBtn.click"></fm-button>
                </div>
            </tiny-item>
        </tiny-formfield>


    </div>
</div>

