<div fm-help help="'drawer_alarm_config'" show="show.help" i18n="'zh'"></div>
<div>
    <div class="form-inline clearfix">
        <div class="fl">
        <fm-button class="major-btn" id="createBtn.id" icons-class="icon-plus" text="createBtn.text" click="createBtn.click" ng-if="operateRight"></fm-button>
        </div>
            <div class="pull-right">
            <a class="btn-link">
                <div ng-click="refreshBtn.click()" id="refreshBtn.id" title="{{i18n.common_term_fresh_button}}" class="small-icon small-icon-refresh"></div>
            </a>
            <a class="btn-link">
                <div ng-click="show.help=true" class="small-icon small-icon-help"></div>
            </a>
        </div>
    </div>
    <fm-dialog title="showWinTitle" width="900" height="820" show="showWin">
        <div ng-show="showWin" ng-include src="'app/business/monitor/views/mailView.html'"></div>
    </fm-dialog>
    <fm-dialog title="showMailViewWinTitle" width="700" height="650" show="showMailViewWin">
        <div ng-show="showMailViewWin" ng-include src="'app/business/monitor/views/mailAlarmView.html'"></div>
    </fm-dialog>
    <fm-dialog title="showUserViewWinTitle" width="700" height="650" show="showUserViewWin">
        <div ng-show="showUserViewWin" ng-include src="'app/business/monitor/views/mailUserView.html'"></div>
    </fm-dialog>
    <div>
        <tiny-table id="dataGridViewTable.id" 
                    data="dataGridViewTable.data" 
                    columns="dataGridViewTable.columns"
                    enable-pagination="dataGridViewTable.enablePagination" 
                    render-row="dataGridViewTable.renderRow"
                    columns-visibility="false" 
                    columns-draggable="true"></tiny-table>

    </div>
</div>





