<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span ng-bind="i18n.org_term_entrustedMgmtEntitlement_label"></span></li>
            <li class="two-lead">
                <p ng-bind-html="i18n.org_entitle_view_explan_sys_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">

        <!--刷新、列选择、帮助-->
        <div class="clearfix bottom10">
            <div class="pull-right">
            <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
                <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width"
                                suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength"
                                suggest="searchBox.suggest" search="searchBox.search">
                </tiny-searchbox>
              </span>
                <a class="btn-link">
                    <div ng-click="refresh.click()" id="authorityRefresh" title="{{ i18n.common_term_fresh_button }}"
                         class="small-icon small-icon-refresh"></div>
                </a>
            </div>
        </div>
        <div>
            <tiny-table id="authorityTable.id" data="authorityTable.data"
                        columns="authorityTable.columns"
                        length-menu="authorityTable.lengthMenu"
                        display-length="authorityTable.displayLength"
                        enable-pagination="authorityTable.enablePagination"
                        pagination-style="authorityTable.paginationStyle"
                        total-records="authorityTable.totalRecords"
                        enable-filter="authorityTable.enableFilter"
                        hide-total-records="authorityTable.hideTotalRecords" render-row="authorityTable.renderRow"
                        columns-draggable="authorityTable.columnsDraggable" callback="authorityTable.callback"
                        change-select="authorityTable.changeSelect"></tiny-table>
        </div>
    </div>
</div>