<ul class="breadcrumb">
    <li>
        <a ui-sref="resources.device.rack">{{i18n.device_term_subracks_label}}</a> <span class="divider">&gt;</span>
    </li>
    <li class="active"><span class="divider">{{chassisInfo.chassisName}}</span></li>
    <li class="crumbs_line"></li>
</ul>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6 outbox-padding">
            <div class="legend">{{i18n.common_term_basicInfo_label}}</div>
            <tiny-formfield>
                <tiny-item label="basicInfo.name.label">
                    <div ng-bind="chassisInfo.chassisName"></div>
                </tiny-item>
                <tiny-item label="basicInfo.mmAIp.label">
                    <div ng-bind="chassisInfo.smmAIP"></div>
                </tiny-item>
                <tiny-item label="basicInfo.mmBIp.label">
                    <div ng-bind="chassisInfo.smmBIP"></div>
                </tiny-item>
                <tiny-item label="basicInfo.description.label">
                    <div ng-bind="chassisInfo.description"></div>
                </tiny-item>
            </tiny-formfield>
        </div>
        <div class="span6 outbox-padding">
            <div class="legend">{{i18n.alarm_term_alarm_label}}</div>
            <div class="row-fluid">
                <div class="span1">
                    <div class="pointer alarm-icon alarm-0" title="{{i18n.alarm_term_AlarmCritical_label}}"
                         ng-click="operate.goToAlarm('1')">
                        <p class="text-zero1" ng-bind="alarmInfo.critical"></p></div>
                </div>
                <div class="span1">
                    <div class="pointer alarm-icon alarm-1" title="{{i18n.alarm_term_alarmMajor_label}}"
                         ng-click="operate.goToAlarm('2')">
                        <p class="text-zero1" ng-bind="alarmInfo.major"></p></div>
                </div>
                <div class="span1">
                    <div class="pointer alarm-icon alarm-2" title="{{i18n.alarm_term_alarmMinor_label}}"
                         ng-click="operate.goToAlarm('3')">
                        <p class="text-zero1" ng-bind="alarmInfo.minor"></p></div>
                </div>
                <div class="span1">
                    <div class="pointer alarm-icon alarm-3" title="{{i18n.alarm_term_alarmWarning_label}}"
                         ng-click="operate.goToAlarm('4')">
                        <p class="text-zero1" ng-bind="alarmInfo.warning"></p></div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12 outbox-padding">
                <div class="legend none-line">{{i18n.device_term_servers_label}}</div>
                <div class="over-flow">
                    <tiny-table id="hostTable.id" data="hostTable.data"
                                columns='hostTable.columns' render-row="hostTable.renderRow"
                                enable-pagination="hostTable.enablePagination"
                                columns-draggable="hostTable.columnsDraggable"
                                renderRow="hostTable.renderRow"></tiny-table>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6 outbox-padding">
                <div class="legend none-line">{{i18n.perform_term_fanMonitor_label}}</div>
                <div class="over-flow">
                    <tiny-table id="fanMonitorTable.id" data="fanMonitorTable.data"
                                columns='fanMonitorTable.columns' render-row="fanMonitorTable.renderRow"
                                enable-pagination="fanMonitorTable.enablePagination"
                                columns-draggable="fanMonitorTable.columnsDraggable"
                                renderRow="fanMonitorTable.renderRow"></tiny-table>
                </div>
            </div>
            <div class="span6 outbox-padding">
                <div class="legend none-line">{{i18n.perform_term_powerSupplyMonitor_label}}</div>
                <div class="over-flow">
                    <tiny-table id="powerMonitorTable.id" data="powerMonitorTable.data"
                                columns='powerMonitorTable.columns' render-row="powerMonitorTable.renderRow"
                                enable-pagination="powerMonitorTable.enablePagination"
                                columns-draggable="powerMonitorTable.columnsDraggable"
                                renderRow="powerMonitorTable.renderRow"></tiny-table>
                </div>
            </div>
        </div>
    </div>
</div>