<link rel="stylesheet" type="text/css" href="../theme/default/css/menubutton.css">
<div fm-help help="'drawer_device_subrack'" show="show.help" i18n="'zh'"></div>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span ng-bind="i18n.device_term_subracks_label"></span></li>
            <li class="two-lead">
                <p ng-bind-html="i18n.device_blade_view_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box clearfix">
        <div class="fm-btn-bottom-small clearfix">
            <tiny-button ng-show="right.hasDeviceOperateRight" id="addRackModel.id" text="addRackModel.text"
                         click="addRackModel.click()" class="major-btn">
            </tiny-button>

            <!--刷新、列选择、帮助-->
            <div class="pull-right">
                <tiny-filtersel ng-show="cloudType == 'FUSIONSPHERE'" id="zoneFilter.id" values="zoneFilter.values"
                                width="zoneFilter.width"
                                default-label="zoneFilter.dftLabel" change="zoneFilter.change()">
                </tiny-filtersel>
                <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
                <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width"
                                suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength"
                                suggest="searchBox.suggest" search="searchBox.search">
                </tiny-searchbox>
              </span>
                <a class="btn-link">
                    <div ng-click="refreshModel.click()" id="rackRefresh" title="{{i18n.common_term_fresh_button}}"
                         class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div ng-click="show.help=true" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div id="deviceSubrackTable">
            <tiny-table id="subrackTableModel.id" data="subrackTableModel.data"
                        columns="subrackTableModel.columns"
                        enable-pagination="subrackTableModel.enablePagination"
                        pagination-style="subrackTableModel.paginationStyle"
                        length-change="subrackTableModel.lengthChange" length-menu="subrackTableModel.lengthMenu"
                        display-length="subrackTableModel.displayLength" cur-page="subrackTableModel.curPage"
                        total-records="subrackTableModel.totalRecords" column-sorting="subrackTableModel.columnSorting"
                        request-config="subrackTableModel.requestConfig"
                        columns-draggable="subrackTableModel.columnsDraggable"
                        hide-total-records="subrackTableModel.hideTotalRecords"
                        total-records="subrackTableModel.data.length" render-row="subrackTableModel.renderRow"
                        columns-visibility="subrackTableModel.columnsVisibility"
                        show-details="subrackTableModel.showDetails" callback="subrackTableModel.callback"
                        change-select="subrackTableModel.changeSelect"></tiny-table>
        </div>
    </div>
</div>