<div class="wrapper wrapper-content animated fadeInRight" ng-controller="AppsCtrl">
	<div class="contaner-fluid">
		<div class="crumbs">
			<ul class="nav nav-list noPadding">
			    <li>
			        <span>应用概览</span>
			    </li>
			    <li class="two-lead">
			    	<p>提供应用实例与应用模板的部署情况，您可以按照提示创建新的应用模板或应用实例</p>
			    </li>
			    <li class="divider"></li>
			</ul>
		</div>
		
   <div class="content-right-box">
        <div id="appListTopBtnGrp" class="clearfix">
            <div class="fl">
                <tiny-button id="createBtn.id" text="createBtn.text" tooltip="createBtn.tooltip" click="createBtn.click()" disabled="createBtn.disable" class="major-btn">
                </tiny-button>
            </div>	
        </div>>
	</div>
</div>
		