<ul class="panel-list">
    <li class="panel-item">
        <div class="panel-title clearfix">
            <span class="panel-title-label fl" ng-bind="i18n.common_term_basicInfo_label"></span>
        </div>
        <div class="panel-content">
            <tiny-formfield>
                <tiny-item label="createVmConfirmInfo.serviceName.label"
                           ng-bind="createVmConfirmInfo.serviceName.value">
                    {{createVmConfirmInfo.serviceName.value}}
                </tiny-item>
                <tiny-item label="createVmConfirmInfo.serviceCatalog.label"
                           ng-bind="createVmConfirmInfo.serviceCatalog.value">
                    {{createVmConfirmInfo.serviceCatalog.value}}
                </tiny-item>
                <tiny-item label="baseInfo.logo.label">
                    <img ng-src="{{baseInfo.logo.curLogo}}" ng-if="params.iconId"
                         class="upload-icon-size upload-icon-image"/>
                </tiny-item>
                <tiny-item label="createVmConfirmInfo.description.label"
                           ng-bind="createVmConfirmInfo.description.value">
                    {{createVmConfirmInfo.description.value}}
                </tiny-item>
                <tiny-item label="createVmConfirmInfo.apptype.label" ng-bind="createVmConfirmInfo.apptype.value">
                    {{createVmConfirmInfo.apptype.value}}
                </tiny-item>
            </tiny-formfield>
        </div>
    </li>

    <li class="panel-item">
        <div class="panel-title clearfix">
            <span class="panel-title-label fl" ng-bind="i18n.common_term_section_label"></span>
            <span class="panel-title-ridiogrouplab">
                <tiny-radiogroup id="createVmConfirmInfo.vmreginappType.id"
                                 class="panel-title-ridiogroup"
                                 values="createVmConfirmInfo.vmreginappType.values"
                                 spacing="createVmConfirmInfo.vmreginappType.spacing"
                                 layout="createVmConfirmInfo.vmreginappType.layout"></tiny-radiogroup>
            </span>
        </div>
        <div class="panel-content">
            <tiny-formfield>
                <tiny-item label="createVmConfirmInfo.area.label" ng-bind="createVmConfirmInfo.area.value">
                </tiny-item>
            </tiny-formfield>
        </div>
    </li>
    <li class="panel-item">
        <div class="panel-title clearfix">
            <span class="panel-title-label fl" ng-bind="i18n.resource_term_Azs_label"></span>
            <span class="panel-title-ridiogrouplab">
                <tiny-radiogroup id="createVmConfirmInfo.vmAzappType.id"
                                 class="panel-title-ridiogroup"
                                 values="createVmConfirmInfo.vmAzappType.values"
                                 spacing="createVmConfirmInfo.vmAzappType.spacing"
                                 layout="createVmConfirmInfo.vmAzappType.layout"></tiny-radiogroup>
            </span>
        </div>
        <div class="panel-content">
            <tiny-formfield>
                <tiny-item label="createVmConfirmInfo.azVal.label" ng-bind="createVmConfirmInfo.azVal.value">
                </tiny-item>
            </tiny-formfield>
        </div>
    </li>
    <li class="panel-item">
        <div class="panel-title clearfix">
            <span class="panel-title-label fl"ng-bind="i18n.template_term_vm_label"></span>
            <span class="panel-title-ridiogrouplab">
                <tiny-radiogroup id="createVmConfirmInfo.vmtempappType.id"
                                 class="panel-title-ridiogroup"
                                 values="createVmConfirmInfo.vmtempappType.values"
                                 spacing="createVmConfirmInfo.vmtempappType.spacing"
                                 layout="createVmConfirmInfo.vmtempappType.layout"></tiny-radiogroup>
            </span>
        </div>
        <div class="panel-content">
            <tiny-formfield>
                <tiny-item label="createVmConfirmInfo.vmTemplate.label" ng-bind="createVmConfirmInfo.vmTemplate.value">
                    {{createVmConfirmInfo.vmTemplate.value}}
                </tiny-item>
                <tiny-item label="createVmConfirmInfo.systype.label" ng-bind="createVmConfirmInfo.systype.value">
                    {{createVmConfirmInfo.systype.value}}
                </tiny-item>
                <tiny-item label="createVmConfirmInfo.sysversion.label" ng-bind="createVmConfirmInfo.sysversion.value">
                    {{createVmConfirmInfo.sysversion.value}}
                </tiny-item>
            </tiny-formfield>
        </div>
    </li>

    <li class="panel-item">
        <div class="panel-title clearfix">
            <span class="panel-title-label fl" ng-bind="i18n.spec_term_vm_label"></span>
            <span class="panel-title-ridiogrouplab">
                <tiny-radiogroup id="createVmConfirmInfo.vmspecappType.id"
                                 class="panel-title-ridiogroup"
                                 values="createVmConfirmInfo.vmspecappType.values"
                                 spacing="createVmConfirmInfo.vmspecappType.spacing"
                                 layout="createVmConfirmInfo.vmspecappType.layout"></tiny-radiogroup>
            </span>
        </div>
        <div class="panel-content">
            <tiny-formfield>
                <tiny-item label="createVmConfirmInfo.vmSpecCpu.label" ng-bind="createVmConfirmInfo.vmSpecCpu.value">
                    {{createVmConfirmInfo.vmSpecCpu.value}}
                </tiny-item>
                <tiny-item label="createVmConfirmInfo.vmSpecMemory.label"
                           ng-bind="createVmConfirmInfo.vmSpecMemory.value">
                    {{createVmConfirmInfo.vmSpecMemory.value}}
                </tiny-item>
                <tiny-item label="createVmConfirmInfo.vmSpecSla.label" display="cloudType =='IT'"
                           ng-bind="createVmConfirmInfo.vmSpecSla.value">
                    {{createVmConfirmInfo.vmSpecSla.value}}
                </tiny-item>
            </tiny-formfield>
        </div>
    </li>

    <li class="panel-item">
        <div class="panel-title clearfix">
            <span class="panel-title-label fl" ng-bind="i18n.vpc_term_net_label"></span>
            <span class="panel-title-ridiogrouplab">
                <tiny-radiogroup id="createVmConfirmInfo.vmnetworkappType.id"
                                 class="panel-title-ridiogroup"
                                 values="createVmConfirmInfo.vmnetworkappType.values"
                                 spacing="createVmConfirmInfo.vmnetworkappType.spacing"
                                 layout="createVmConfirmInfo.vmnetworkappType.layout"></tiny-radiogroup>
            </span>
        </div>
        <div class="panel-content">
            <tiny-formfield>
                <tiny-item label="createVmConfirmInfo.vmNetworkType.label"
                           ng-bind="createVmConfirmInfo.vmNetworkType.value">
                    {{createVmConfirmInfo.vmNetworkType.value}}
                </tiny-item>
            </tiny-formfield>
        </div>
    </li>

    <li>
        <tiny-formfield>
            <tiny-item class="fm-btn-top-small">
                <tiny-button id="createVmConfirmInfo.preBtn.id" text="createVmConfirmInfo.preBtn.text"
                             click="createVmConfirmInfo.preBtn.click()"></tiny-button>
                <tiny-button id="createVmConfirmInfo.addBtn.id" text="createVmConfirmInfo.addBtn.text"
                             click="createVmConfirmInfo.addBtn.click()" class="major-btn"></tiny-button>
                <tiny-button id="createVmConfirmInfo.cancelBtn.id" text="createVmConfirmInfo.cancelBtn.text"
                             click="createVmConfirmInfo.cancelBtn.click()"></tiny-button>
            </tiny-item>
        </tiny-formfield>
    </li>
</ul>