<div id="createVmNetwork">
    <div class="panel_title none-line fl" style="margin-top: 0px;" >{{i18n.vm_term_chooseNet_label}}：</div>
    <div style="padding-left: 80px;">
        <tiny-radiogroup id="createVmNetwork.appType.id" values="createVmNetwork.appType.values"
                         spacing="createVmNetwork.appType.spacing" layout="createVmNetwork.appType.layout"
                         change="createVmNetwork.appType.change()"></tiny-radiogroup>
    </div>
    <div class="horizontal_line" style="clear:both;"></div>
    <div id="createVmNetworkParams" class="top10 hide">
        <!--基础网络-->
        <div ng-show="createVmBasic" id="ecsVmCreateNetworkBase">
            <tiny-formfield>
                <tiny-item label="createVmNetwork.basicAz.label" require="createVmNetwork.basicAz.require"
                           labelcls="createVmNetwork.basicAz.class">
                    <tiny-select id="createVmNetwork.basicAz.id" values="createVmNetwork.basicAz.data"
                                 width="createVmNetwork.basicAz.width" validate="createVmNetwork.basicAz.validate">
                    </tiny-select>
                </tiny-item>
            </tiny-formfield>
        </div>

    </div>
        <div class="create-btn-margin">
            <tiny-button id="createVmNetwork.preBtn.id" text="createVmNetwork.preBtn.text"
                         tooltip="createVmNetwork.preBtn.tooltip" click="createVmNetwork.preBtn.click()"></tiny-button>
            <tiny-button id="createVmNetwork.nextBtn.id" text="createVmNetwork.nextBtn.text"
                         tooltip="createVmNetwork.nextBtn.tooltip"
                         click="createVmNetwork.nextBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="createVmNetwork.cancelBtn.id" text="createVmNetwork.cancelBtn.text"
                         tooltip="createVmNetwork.cancelBtn.tooltip"
                         click="createVmNetwork.cancelBtn.click()"></tiny-button>
        </div>

</div>