<div class="container-fluid" id="createRouter" ng-controller="createCtrl">
    <div>
        <tiny-formfield>
            <tiny-item label="info.routerType.label" require="info.routerType.require">
                <tiny-radio text='info.routerType.hardware' name="info.routerType.name" checked='true' value="info.routerType.hardwareValue" click='setHardwareValue()' height="27"></tiny-radio>
                <div class="inline-help" ng-bind="i18n.vpc_vpc_add_para_hardRouter_mean_label"></div>
                <tiny-radio text='info.routerType.software' name="info.routerType.name" value="info.routerType.softwareValue" click='setSoftwareValue()' height="27"></tiny-radio>
                <div class="inline-help" ng-bind="i18n.vpc_vpc_add_para_softRouter_mean_label"></div>
            </tiny-item>
        </tiny-formfield>
        <tiny-formfield>
            <tiny-item label="info.supportVxlan.label" require="info.supportVxlan.require" display="disaplayVXLanFlag">
                <tiny-select id="info.supportVxlan.id" values="info.supportVxlan.values" width="info.supportVxlan.width" change="info.supportVxlan.change()">
                </tiny-select>
            </tiny-item>
            <tiny-item label="networkTable.label" require="networkTable.require" display="disaplayVXLanFlag">
                <tiny-table id="networkTable.id" data="networkTable.data" columns="networkTable.columns" pagination-style="networkTable.paginationStyle" length-menu="networkTable.lengthMenu" total-records="networkTable.totalRecords" display-length="networkTable.displayLength"
                enable-filter="networkTable.enableFilter" change-select="networkTable.changeSelect" render-row="networkTable.renderRow" callback="networkTable.callback"></tiny-table>
            </tiny-item>
        </tiny-formfield>
        <div class="margin-left-beautifier" style="margin-top: -8px;">
            <tiny-formfield>
                <tiny-item class="inline-block" style="margin-left: 14px;">
                    <tiny-button id="info.okBtn.id" text="info.okBtn.text" disable="info.okBtn.disable" click="info.okBtn.click()"></tiny-button>
                    <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
                </tiny-item>
            </tiny-formfield>
        </div>
    </div>
</div>
<script type="application/javascript">
require(['app/business/network/controllers/router/createRouterModule'],
    function(createRouterModule) {
        var dep = ['ng', 'wcc', createRouterModule.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $("#createRouter"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($("#createRouter"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>