<div class="container-fluid modifyRouter" ng-controller="modifyCtrl">
    <div class="inline-help" ng-bind="i18n.router_router_modifyBand_info_end_msg"></div>
    <div class="margin-top-beautifier">
        <tiny-formfield>
            <tiny-item label="info.receiveBand.label" require="info.receiveBand.require" display="isSoftware">
                <tiny-textbox id="info.receiveBand.id" value="info.receiveBand.value"></tiny-textbox>
            </tiny-item>
            <tiny-item label="info.sendBand.label" require="info.sendBand.require" display="isSoftware">
                <tiny-textbox id="info.sendBand.id" value="info.sendBand.value"></tiny-textbox>
            </tiny-item>
            <tiny-item>
                <div class="margin-erect-beautifier">
                    <tiny-button id="info.okBtn.id" text="info.okBtn.text" click="info.okBtn.click()"></tiny-button>
                    <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
                </div>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>
<script type="application/javascript">
require(['app/business/network/controllers/router/modifyRouterModule'],
    function(modifyRouterModule) {

        var dep = ['ng', 'wcc', modifyRouterModule.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $(".modifyRouter"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($(".modifyRouter"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>