<fm-help help="help.helpKey" show="help.show" i18n="help.i18n"></fm-help>
<div id="vpcmanager-router" class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding pr">
            <li>
                <ul class="breadcrumb">
                    <li><a ui-sref="network.manager.myVPClist" ng-bind="i18n.vpc_term_myVPC_label"></a> &gt; </li>
                    <li><a ui-sref="network.vpcmanager.summary" ng-bind="vpcName"></a> &gt; </li>
                    <li>{{i18n.router_term_router_label}}</li>
                    <li class="crumbs_line"></li>
                </ul>
            </li>
        </ul>
    </div>
    <div ng-include="url.navigate" ng-hide="hasRouter" ng-if="hasDetail===false"></div>
    <div ng-include="url.detail" ng-show="hasRouter" ng-if="hasDetail===true"></div>
</div>

