<fm-help help="help.helpKey" show="help.show" i18n="help.i18n"></fm-help>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li>
                <ul class="breadcrumb">
                    <li><a ui-sref="network.manager.myVPClist" ng-bind="i18n.vpc_term_myVPC_label"></a> &gt; </li>
                    <li><a ui-sref="network.vpcmanager.summary" ng-bind="vpcName"></a> &gt; </li>
                    <li>VLB</li>
                    <li class="crumbs_line"></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="form-inline clearfix">
            <div ng-if="hasVLBOperateRight" class="fl">
                <tiny-button id="createBtn.id" text="createBtn.text" click="createBtn.click()" class="major-btn"></tiny-button>
            </div>
            <!--刷新、帮助-->
            <div class="pull-right">
                <a class="btn-link">
                    <div ng-click="refresh.click()" id="refresh.id" class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div title="{{i18n.common_term_help_label}}" ng-click="help.click()" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div>
            <tiny-table id="vlbTable.id" data="vlbTable.data" columns="vlbTable.columns" pagination-style="vlbTable.paginationStyle" total-records="vlbTable.totalRecords" length-change="vlbTable.lengthChange" length-menu="vlbTable.lengthMenu" display-length="vlbTable.displayLength" enable-filter="vlbTable.enableFilter"
            callback="vlbTable.callback" change-select="vlbTable.changeSelect" render-row="vlbTable.renderRow" show-details="vlbTable.showDetails" columns-draggable="vlbTable.columnsDraggable"></tiny-table>
        </div>
    </div>
</div>