<div class="container-fluid" id="batchInstallPackage">
    <div>
        <my-container></my-container>
    </div>
</div>
<script type="application/javascript">
require(["sprintf",  'tiny-lib/jquery', 'tiny-lib/angular', "language/keyID", 'app/business/template/controllers/batchInstallPackage/batchInstallPackageModule'],
    function(sprintf, $, angular, keyIDI18n, batchInstallPackageModule) {
        var dep = ['ng', 'wcc', batchInstallPackageModule.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $("#batchInstallPackage"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            keyIDI18n.sprintf = sprintf.sprintf;
            $rootScope.i18n = keyIDI18n;
            $compile($("#batchInstallPackage"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>