<div id="main_menu_div" style="width:100%;position:fixed;top:0px;z-index: 10000" ng-controller="serviceMenusCtrl">
    <div id="tiny-menu" class="clearfix" style="margin: 0 auto; max-width: 1400px;padding: 0 20px;">
        <ul class="fl">
            <li  class="header-bg">
                <div id="main_logo_div">
                    <img src="../theme/default/images/product_name_it.png"  ng-if="isIt && !isServiceCenter" />
                    <img src="../theme/default/images/product_name_ict.png"  ng-if="isIct && !isServiceCenter" />
                    <img src="../theme/default/images/product_logo02.png"   ng-if="isServiceCenter" />
                </div>
            </li>
            <li  class="header-bg"
                ng-repeat="plugin in plugins"
                ng-if="!plugin.hide && !plugin.onlyLeftBar">
                <a ng-if="plugin.state" ui-sref="{{plugin.state}}">
                    <h1 ng-class="{menu_active: ('service' === plugin.type && $state.includes('serviceMgr'))||$state.includes(plugin.type)}">{{plugin.text}}</h1>
                </a>
                <a ng-if="!(plugin.state)">
                    <h1 ng-class="{menu_active: ('service' === plugin.type && $state.includes('serviceMgr'))||$state.includes(plugin.type)}">{{plugin.text}}</h1>
                </a>
                <ul ng-repeat="subPlugin in plugin.children"
                    ng-if="!subPlugin.hide && !subPlugin.onlyLeftBar">
                    <li ng-if="subPlugin.state"><a ui-sref="{{subPlugin.state}}"><h2>{{subPlugin.text}}</h2></a></li>
                    <li ng-if="!(subPlugin.state)"><h2>{{subPlugin.text}}</h2></li>
                    <li ng-repeat="menu in subPlugin.children"
                        ng-if="!menu.hide && !menu.onlyLeftBar">
                        <a ui-sref="{{menu.state}}">{{menu.text}}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="pull-right header-bg">
            <ng-include src="'app/framework/views/alarmStat.html'" class="fl"></ng-include>
            <div class="alarm fl clearfix">
                <div class="sp-line fl"><span class="btn-link"></span></div>
                <i class='icon-user icon-white fl' style="margin:26px 5px"></i>
                <tiny-menubutton id='info.user.id' text='info.user.text'
                                 class="fl"
                                 content='info.user.content'></tiny-menubutton>

                <tiny-menubutton class="left10 fl"
                                 id='info.other.id'
                                 text='info.other.text'
                                 content='info.other.content'></tiny-menubutton>
            </div>
        </div>
    </div>
</div>
<style>
    .vdc-select {
        display: inline-block;
        color: #fff;
        height: 30px;
        width: 100px;
        margin-right: 20px;
        line-height: 30px;
        text-align: center;
        border: 2px solid #999999;
        border-radius: 80px;
        margin-top: 16px;;
    }

    .vdc-select:hover {
        border: 2px solid #1f90c8;
        cursor: pointer;
    }

    #caret-white {
        margin: 0 0 0 5px;
        vertical-align: middle;
        border-top: 4px solid #FFF;
    }

    #vdc-select-meun.dropdown-menu {
        background: #666;
        text-align: left;
        font-size: 12px;
    }

    #vdc-select-meun.dropdown-menu > li > span {
        text-align: left;
        color: #fff;
        line-height: 20px;
        padding: 4px;
        display: inline-block;
        width: 100%;;
    }

    #vdc-select-meun.dropdown-menu > li > span:hover {
        color: #1f90c8;
    }

    #main_menu_div {
        list-style: none;
        font: normal 12px Microsoft YaHei, Verdana, Arial, Helvetica, sans-serif;
        background-color: #484a4b;
        height: 66px;
        line-height: 66px;
        z-index: 5;
    }


    .alarm {
        float: left;
        color: #fff;
        line-height: 66px;
        height: 66px;
    }

    .alarm > div {
        float:left;
    }

    .alarm > div > span {
        padding: 0 0px 0 18px;
        color: #fff;
    }
    .sp-line {
        width: 5px;
        background: url('../theme/default/images/sp_line.png') no-repeat center;
    }

    #framework-menus-user .menu-item-btn {
        color: #fff;
        max-width:160px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        display: inline-block;
        vertical-align: top;
    }

</style>
<script type="application/javascript">
    require(["tiny-widgets/Menu"],
            function (Menu) {
                var menu = new Menu({
                    "id": "main_menu_div"
                });
            });
</script>


