<div id="userSettingDiv">
    <div>
        <tiny-formfield>
            <tiny-item label="name.label">
                <div ng-bind="name.value"></div>
            </tiny-item>
            <tiny-item label="phone.label" require="phone.require" display="!openstack">
                <tiny-textbox id="phone.id" value="phone.value" readonly="phone.readonly"
                              extend-function="phone.extendFunction" validate="phone.validate" type="phone.type"></tiny-textbox>
            </tiny-item>
            <tiny-item label="email.label" require="email.require">
                <tiny-textbox id="email.id" value="email.value" readonly="email.readonly"
                              extend-function="email.extendFunction" validate="email.validate"
                              type="email.type"></tiny-textbox>
            </tiny-item>
            <tiny-item label="roleModel.label">
                <tiny-table id="roleModel.id" data="roleModel.datas" columns="roleModel.columns"
                            enable-pagination="roleModel.enable-pagination" render-row="roleModel.renderRow"
                            callback="roleModel.callback">
                </tiny-table>
            </tiny-item>
            <tiny-item class="fm-btn-top-small">
                <fm-button id="modifyBtn.id" text="modifyBtn.text" click="modifyBtn.click" class="major-btn"></fm-button>
                <fm-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click"></fm-button>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>
<script type="text/javascript">
    require(["app/framework/controllers/userSettingCtrl"], function (userSettingCtrl) {
        $("#userSettingDiv").attr("ng-controller", "userMgr.user.modifySelf.ctrl");
        var dep = ['ng', 'wcc', userSettingCtrl.name];
        dep.unshift(["$provide", function ($provide) {
            $provide.value("$rootElement", $("#userSettingDiv"));
        }]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            var dom = $("#userSettingDiv");
            $compile(dom)(dom.scope());
            dom.scope().$digest();
        });
    });
</script>