<fm-help help="help.helpKey" show="help.show" i18n="help.i18n"></fm-help>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding pr">
            <li>
                <ul class="breadcrumb">
                    <li><a ui-sref="network.manager.myVPClist" ng-bind="i18n.vpc_term_myVPC_label"></a> &gt; </li>
                    <li><a ui-sref="network.vpcmanager.summary" ng-bind="vpcName"></a> &gt; </li>
                    <li>ACLs</li>
                </ul>
            </li>
            <li class="help-pa" ng-if="!isIT">
                <div class="pull-right">
                    <a class="btn-link">
                        <div title="{{i18n.common_term_help_label}}" ng-click="help.click()"
                             class="small-icon small-icon-help"></div>
                    </a>
                </div>
            </li>
            <li class="divider"></li>
        </ul>
    </div>

    <div class="content-right-box">
        <div id="network-security-acls-tabs" class="tiny-tabs-container" ng-if="isIT">
            <div class="tiny-tabs-titles">
                <ul>
                    <li ng-class="{tinyTabActive:$state.includes('network.vpcmanager.acls.in')}" ui-sref="network.vpcmanager.acls.in">
                        <a>IN</a>
                    </li>
                    <li ng-class="{tinyTabActive:$state.includes('network.vpcmanager.acls.out')}" ui-sref="network.vpcmanager.acls.out">
                        <a>OUT</a>
                    </li>
                </ul>
            </div>
            <div class="tiny-tabs-content">
                <div ui-view></div>
            </div>
        </div>
        <div ng-if="!isIT">
            <div class="content-right-box" ng-if="!hasOpenACL">
                <p> <span ng-bind="i18n.acl_general_enable_info_null_label"></span>
                    <a class="btn-link margin-horizon-beautifier" ng-if="hasACLSOperateRight" ng-click="command.queryRouter()"
                       ng-bind="i18n.acl_term_enableACL_button"></a>
                </p>
            </div>
            <div ng-if="hasOpenACL">
                <div class="margin-erect-beautifier">
                    <tiny-button id="info.closeFirewallBtn.id" text="info.closeFirewallBtn.text" disable="info.closeFirewallBtn.disable"
                                 click="info.closeFirewallBtn.click()" class="major-btn"></tiny-button>
                    <tiny-button id="info.refreshBtn.id" text="info.refreshBtn.text" click="info.refreshBtn.click()"></tiny-button>
                </div>
                <div class="outbox-padding">
                    <div class="row-fluid">
                        <div class="legend" ng-bind="i18n.common_term_basicInfo_label"></div>
                        <div class="row-fluid">
                            <div class="span4">
                                <tiny-formfield>
                                    <tiny-item label="info.ID">
                                        <span ng-bind="info.firewall.firewallID"></span>
                                    </tiny-item>
                                </tiny-formfield>
                            </div>
                            <div class="span4">
                                <tiny-formfield>
                                    <tiny-item label="info.status">
                                        <span ng-bind="info.firewall.status"></span>
                                    </tiny-item>
                                </tiny-formfield>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix bottom10">
                    <div class="fl">
                        <tiny-button id="createBtn.id" text="createBtn.text" click="createBtn.click()" ng-show="hasACLSOperateRight" class="major-btn"></tiny-button>
                    </div>
                    <div class="pull-right">
                        <tiny-filtersel id="searchProtocolType.id" values="searchProtocolType.values" width="searchProtocolType.width" change="searchProtocolType.change()">
                        </tiny-filtersel>
                        <a class="btn-link btn-link-padding">
                            <div id="refresh.id" title="{{refresh.tips}}" ng-click="refresh.click()" class="small-icon small-icon-refresh"></div>
                        </a>
                    </div>
                </div>
                <div>
                    <tiny-table id="rulesTable.id" data="rulesTable.data" columns="rulesTable.columns " enable-pagination="rulesTable.enablePagination" display-length="rulesTable.displayLength" total-records="rulesTable.totalRecords" render-row="rulesTable.renderRow" pagination-style="rulesTable.paginationStyle"
                                length-menu="rulesTable.lengthMenu" callback="rulesTable.callback" change-select="rulesTable.changeSelect">
                    </tiny-table>
                    <div class="pull-right">
                        <tiny-select id="pageSize.id" values="pageSize.values" width="pageSize.width"
                                     change="pageSize.change()"></tiny-select>
                        <label class="margin-right-beautifier" ng-bind="i18n.common_term_currentPage_label"></label>
                        <label class="margin-right-beautifier" ng-bind="page.currentPage"></label>
                        <a ng-class="{tinyPagination_paginationPrevSpan: hasPrePage, tinyPagination_paginationPrevSpanDisabled: !hasPrePage}"
                           title="{{i18n.common_term_previous_button}}" class="tinyPagination_tinybutton clear_both"  style="float:none; display: inline-block; position: relative; top: 8px;" ng-click="prePage()"></a>
                        <a ng-class="{tinyPagination_paginationNextSpan: hasNextPage,tinyPagination_paginationNextSpanDisabled: !hasNextPage}"
                           title="{{i18n.common_term_nextPage_button}}" class="tinyPagination_tinybutton clear_both" style="float:none; display: inline-block; position: relative; top: 8px;" ng-click="nextPage()"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript" ng-if="isIT">
require(["tiny-widgets/Tabs"], function(Tabs) {
    var tabs = new Tabs({
        "id": "network-security-acls-tabs",
        "setActiveClass": true
    });
});
</script>
