<div class="detail-background-before"></div>
<div class="row-fluid innerbox-padding">
	<div class="row-fluid">
		<div class="span4">
			<tiny-formfield>
				<tiny-item label="(i18n.router_term_routerType_label||'路由器类型')+':'">
					{{1 == row.routerType ? (i18n.common_term_hardware_label||"硬件") : (i18n.common_term_software_label||"软件")}}
				</tiny-item>
			</tiny-formfield>
		</div>
		<div class="span4">
			<tiny-formfield>
				<tiny-item label="(i18n.router_router_view_para_supporVXLAN_label||'是否支持VXLAN')+':'">
					{{row.supportVxlanFlag ? (i18n.common_term_support_value||"支持") : (i18n.common_term_notSupport_value||"不支持")}}
				</tiny-item>
			</tiny-formfield>
		</div>
		<div class="span4">
			<tiny-formfield>
				<tiny-item label="(i18n.router_term_enableSNATstatus_label||'是否开启SNAT')+':'">
					{{row.enableSnat ? (i18n.common_term_enable_value||"开启") : (i18n.common_term_shut_value||"关闭")}}
				</tiny-item>
			</tiny-formfield>
		</div>
	</div>
</div>
<div class="detail-background-after"></div>