<div class="detail-background-before"></div>
<div class="row-fluid innerbox-padding">
	<div class="span4">
		<tiny-formfield>
			<tiny-item label="(i18n.common_term_startTime_label||'开始时间')+':'">
				{{row.startTime}}
			</tiny-item>
		</tiny-formfield>
	</div>
	<div class="span4">
		<tiny-formfield>
			<tiny-item label="(i18n.common_term_endTime_label||'结束时间')+':'">
				{{row.endTime}}
			</tiny-item>
		</tiny-formfield>
	</div>
</div>
<div class="detail-background-after"></div>