<div ng-controller="app.templates.copyTemplate.ctrl" id="app_templates_copyTemplate_popId" class="alert-tip-first">
    <div>
        <tiny-formfield>
            <tiny-item label="name.label" require="name.require">
                <tiny-textbox id="name.id" value="name.value" extend-function="name.extendFunction" validate="name.validate" tooltip="name.tooltip"></tiny-textbox>
            </tiny-item>

            <div>
                <tiny-item label="templateLogo.label" require="templateLogo.label">
                    <img ng-src="{{'../theme/default/images/gm/appImage/'+templateLogo.curLogo}}" id="copyTemplateCurLogId" ng-click='templateLogo.change()' class='customHide' width='60px' height='76px'>
                    <a ng-click='templateLogo.change()' class='customHide' ng-bind="i18n.template_term_changeIcon_button"></a>
                    <div id="customCopyTemplateLogoOptionId" style="display: none;">
                        <div ng-repeat="logo in templateLogo.options" style="display: inline-block;margin-right: 5px;margin-top: 10px;">
                            <img ng-src="{{'../theme/default/images/gm/appImage/'+logo}}" ng-click='templateLogo.changeLogo(logo)' width='60px' height='76px' style="cursor: pointer;" class="customHide">
                        </div>
                    </div>
                </tiny-item>
            </div>

            <tiny-item label="description.label" require="description.require">
                <tiny-textbox id="description.id" value="description.value" width="description.width" height="description.height" type="description.type" validate="description.validate" error-msg="description.errorMsg" tooltip="description.tooltip"></tiny-textbox>
            </tiny-item>
            <tiny-item>
                <div class="fm-btn-top-small">
                    <tiny-button id="nextBtn.id" text="nextBtn.text" tooltip="nextBtn.tooltip" click="nextBtn.click()"></tiny-button>
                    <tiny-button id="cancelBtn.id" text="cancelBtn.text" tooltip="cancelBtn.tooltip" click="cancelBtn.click()"></tiny-button>
                </div>
            </tiny-item>
        </tiny-formfield>
    </div>

</div>
<script type="application/javascript">
require(["sprintf",  'tiny-lib/jquery', 'tiny-lib/angular', "language/keyID", 'app/business/application/controllers/template/copyTemplate'],
        function(sprintf, $, angular, keyIDI18n, copyTemplate) {
    var dependency = ['ng', 'wcc', copyTemplate.name];
    dependency.unshift(["$provide",
        function($provide) {
            $provide.value("$rootElement", $("#app_templates_copyTemplate_popId"));
        }
    ]);
    var $injector = angular.injector(dependency);
    $injector.invoke(function($compile, $rootScope) {
        keyIDI18n.sprintf = sprintf.sprintf;
        $rootScope.i18n = keyIDI18n;
        $compile($("#app_templates_copyTemplate_popId"))($rootScope);
        $rootScope.$digest();
    });
});
</script>