<div ng-controller="app.templates.export.ctrl" id="app_templates_export_popId">
    <div>
        <div class="margin-bottom-beautifier">
            <span ng-bind="tips.notCompleteTip" ng-show="progress!='100%'"></span>
        </div>
        <div class="margin-bottom-beautifier">
            <span ng-bind="tips.completeTip" ng-show="progress=='100%'"></span>
        </div>
        <div class="percentBorder">
            <div class="percentSpan" id="ssp_exportpercent_span">{{progress}}</div>
            <div ng-style="style" class="exportPercentDIV" id="ssp_exportpercent_width"></div>
        </div>
    </div>
    <div class="margin-top-beautifier">
        <div class="row-fluid">
            <li class="createpage-title">{{tips.basicInfoTip}}</li>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <tiny-formfield>
                    <tiny-item label="name.label">
                        <span>{{name.value}}</span>
                    </tiny-item>
                    <tiny-item label="link.label">
                        <span><a class="btn-link" ng-click='download()' ng-bind="i18n.common_term_download_button"></a>
                        </span>
                    </tiny-item>
                </tiny-formfield>
            </div>
            <div class="span6">
                <tiny-formfield>
                    <tiny-item label="type.label">
                        <span>{{type.value}}</span>
                    </tiny-item>
                </tiny-formfield>
            </div>
        </div>
    </div>
    <div class="fm-btn-top-small">
        <tiny-button id="closeBtn.id" text="closeBtn.text" tooltip="closeBtn.tooltip" click="closeBtn.click()"></tiny-button>
    </div>
</div>
<script type="application/javascript">
require(['app/business/application/controllers/template/templateExport'], function(templateExport) {
    var dependency = ['ng', 'wcc', templateExport.name];
    dependency.unshift(["$provide",
        function($provide) {
            $provide.value("$rootElement", $("#app_templates_export_popId"));
        }
    ]);
    var $injector = angular.injector(dependency);
    $injector.invoke(function($compile, $rootScope) {
        $compile($("#app_templates_export_popId"))($rootScope);
        $rootScope.$digest();
    });
});
</script>