<div ng-controller="app.createByOpenstack.selSecurityGroup.ctrl" id="app_createByOpenstack_selSecurityGroup">
    <div>
        <tiny-table id="securityGroupTable.id" data="securityGroupTable.data" columns="securityGroupTable.columns"
                    enable-pagination="securityGroupTable.enablePagination" render-row="securityGroupTable.renderRow"
                    pagination-style="securityGroupTable.paginationStyle" display-length="securityGroupTable.displayLength"
                    total-records="securityGroupTable.totalRecords" callback="securityGroupTable.callback"
                    change-select="securityGroupTable.changeSelect" length-menu="securityGroupTable.lengthMenu">
        </tiny-table>
    </div>

    <div class="customOkOuter2">
        <tiny-button id="nextBtn.id" text="nextBtn.text" tooltip="nextBtn.tooltip" click="nextBtn.click()"></tiny-button>
        <tiny-button id="cancelBtn.id" text="cancelBtn.text" tooltip="cancelBtn.tooltip" click="cancelBtn.click()"></tiny-button>
    </div>
</div>
<script type="application/javascript">
    require(['app/business/application/controllers/appInstance/createByOpenstack/selSecurityGroup'], function(selSecurityGroup) {
        var dep = ['ng', 'wcc', selSecurityGroup.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $("#app_createByOpenstack_selSecurityGroup"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($("#app_createByOpenstack_selSecurityGroup"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>
