<div id="softwareUsageWindow" class="margin-top-beautifier" ng-controller="template.software.usage.ctrl">
    <div style="height: 280px;" class="margin-top-beautifier">
        <tiny-table id="applicationTable.id" caption="applicationTable.caption" data="applicationTable.data"
                    columns="applicationTable.columns"
                    enable-pagination="applicationTable.enablePagination"
                    pagination-style="applicationTable.paginationStyle" length-change="applicationTable.lengthChange"
                    length-menu="applicationTable.lengthMenu" display-length="applicationTable.displayLength"
                    enable-filter="applicationTable.enableFilter"
                    cur-page="applicationTable.curPage" total-records="applicationTable.totalRecords"
                    hide-total-records="applicationTable.hideTotalRecords"
                    callback="applicationTable.callback" render-row="applicationTable.renderRow" change-select="applicationTable.changeSelect"
                    show-details="applicationTable.showDetails" columns-visibility="applicationTable.columnVisibility"
                    columns-draggable="applicationTable.columnsDraggable"></tiny-table>
    </div>
</div>
<script>
    require(['jquery',
        'app/business/resources/controllers/templateSpec/template/software/softwareUsageCtrl'],
            function ($, softwareUsageCtrl) {
                var dep = ['ng', 'wcc', softwareUsageCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#softwareUsageWindow"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile) {
                    var scope = $("#softwareUsageWindow").scope();
                    $compile($("#softwareUsageWindow"))(scope);
                    scope.$digest();
                });
            });
</script>