<div class="detail-background-before"></div>
<div class="row-fluid innerbox-padding">
    <div class="span4">
        <tiny-formfield>
            <tiny-item label="'VPC ID:'">
                {{row.vpcID}}
            </tiny-item>
            <tiny-item label="(i18n.common_term_applyTime_label||'申请时间')+':'">
                {{row.applyTime}}
            </tiny-item>
        </tiny-formfield>
    </div>
    <div class="span4">
        <tiny-formfield>
            <tiny-item label="(i18n.perform_term_receiveBandMaxMbps_label||'最大接收带宽(Mbps)')+':'">
                {{row.maxRxBandwidth}}
            </tiny-item>
            <tiny-item label="(i18n.perform_term_sendBandMaxMbps_label||'最大发送带宽(Mbps)')+':'">
                {{row.maxTxBandwidth}}
            </tiny-item>
        </tiny-formfield>
    </div>
    <div class="span4">
        <tiny-formfield>
            <tiny-item label="(i18n.common_term_InterDomainACL_label||'域间ACL规则')+':'" display="!row.shareVpc">
                {{row.totalAclRule}}
            </tiny-item>
        </tiny-formfield>
    </div>
</div>
<div class="detail-background-after"></div>