<div>
    <div id="ftpUpload" style="position: absolute"></div>
    <div id="registScriptInfo" ng-controller="resources.template.addScript.ctrl" class="alert-tip-first">
        <tiny-formfield>
            <tiny-item label="name.label" require="name.require">
                <tiny-textbox id="name.id" value="model.name" validate="name.validate" focused="name.focused"
                              width="name.width" disable="name.disabled" extend-function="name.extendFunction"></tiny-textbox>
            </tiny-item>
            <tiny-item label="scriptName.label" require="scriptName.require" display="model.action=='add'">
                <div ng-if="model.action == 'modify'">
                    <tiny-textbox id="scriptName.id" value="model.scriptName" readonly="scriptName.readonly" validate="scriptName.validate" focused="scriptName.focused"
                                  width="scriptName.width" disable="scriptName.disabled"></tiny-textbox>
                </div>
                <div ng-if="model.action == 'add'">
                    <div class="clearfix">
                    <div class="file-select" style="width :260px">
                        <div class="file-box" style="width :230px">
                            <input type="text" ng-model="model.scriptName" style="width :219px"
                                   class="file-input" readonly="true"
                                   ng-disabled="!service.ftpAppletLoaded"/>
                        </div>
                        <div class="file-select-button-container" style="cursor: pointer;" ng-click="scriptName.select()"
                             ng-disabled="!service.ftpAppletLoaded"></div>
                    </div>
                    </div>
                    <div class="top10 color2">
                        <div ng-if="!service.jreChecked"><span ng-bind="i18n.template_term_jreCheckError_valid"></span><a
                                href='../lib/vnc/jre-7u15-windows-i586.exe'><span ng-bind="i18n.common_term_clickDown_button"></span></a></div>
                    </div>
                </div>
            </tiny-item>
            <tiny-item label="password.label" require="password.require" display="model.action == 'add'">
                <tiny-textbox id="password.id" value="model.defaultPassWord" validate="password.validate" type="password.type"
                              width="password.width"></tiny-textbox>
                <span popover="{{i18n.template_software_add_para_psw_mean_tip}}" popover-trigger="mouseenter"
                      class="small-icon small-icon-tips"></span>
            </tiny-item>
            <tiny-item label="passwordConfirm.label" require="passwordConfirm.require" display="model.action == 'add'">
                <tiny-textbox id="passwordConfirm.id" value="model.value" validate="passwordConfirm.validate" type="passwordConfirm.type"
                              width="passwordConfirm.width" extend-function="passwordConfirm.extendFunction"></tiny-textbox>
            </tiny-item>
            <tiny-item label="picture.label" require="picture.require">
                <div>
                    <input style="display: none" ng-model="model.picture"/>
                    <img ng-src='{{ model.picture }}'
                         alt='../theme/default/images/edit.png' class="imgSize"/>

                    <div style="display: inline-block;padding-left: 3px;" class="dropdown">
                        <a class="dropdown-toggle" id="dLabel" data-toggle="dropdown"
                           ng-click="picture.click()"><span ng-bind="i18n.template_term_changeIcon_button"></span></a>
                        <ul class="dropdown-menu imgBox" role="menu" aria-labelledby="dLabel">
                            <li class="imgItem" ng-repeat="img in picture.imgs">
                                <img ng-src="{{ img.src }}"
                                     ng-click="img.click()"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </tiny-item>

            <tiny-item label="osType.label" require="osType.require">
                <tiny-select id="osType.id" values="osType.values" width="osType.width"></tiny-select>
            </tiny-item>

            <tiny-item label="version.label" require="version.require">
                <tiny-textbox id="version.id" value="model.version" validate="version.validate"
                              width="version.width" extend-function="version.extendFunction"></tiny-textbox>
            </tiny-item>
            <tiny-item label="path.label" require="path.require">
                <tiny-textbox id="path.id" value="model.destinationPath" validate="path.validate"
                              width="path.width" extend-function="path.extendFunction"></tiny-textbox>
                <span popover="{{i18n.template_script_add_para_path_mean_tip}}" popover-trigger="mouseenter"
                      class="small-icon small-icon-tips"></span>
            </tiny-item>
            <tiny-item label="command.label" require="command.require">
                <tiny-textbox id="command.id" value="command.value" validate="command.validate" extend-function="command.extendFunction"
                              width="command.width"></tiny-textbox>
                <span popover="{{i18n.template_software_add_para_para_valid}}" popover-trigger="mouseenter"
                      class="small-icon small-icon-tips"></span>
            </tiny-item>

            <tiny-item label="description.label" require="description.require">
                <tiny-textbox id="description.id" value="model.description"
                              width="description.width" height="description.height" type="description.type"
                              validate="description.validate"
                              error-msg="description.errorMsg">
                </tiny-textbox>
            </tiny-item>

            <!-- 操作按钮 -->
            <tiny-item label="buttonGroup.label" require="buttonGroup.require">
                <div class="margin-top-beautifier">
                    <tiny-button class="major-btn"  id="saveBtn.id" disable="saveBtn.disabled" icons-class="saveBtn.iconsClass" text="saveBtn.text"
                                 tooltip="saveBtn.tip" click="saveBtn.save()"></tiny-button>
                    <tiny-button id="cancelBtn.id" disable="cancelBtn.disabled" icons-class="cancelBtn.iconsClass"
                                 text="cancelBtn.text"
                                 tooltip="cancelBtn.tip" click="cancelBtn.cancel()"></tiny-button>
                </div>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>

<style>
    .imgBox {
        width: 310px;
    }

    .imgItem {
        padding-left: 10px;
        padding-right: 20px;
        float: left;
    }

    .imgSize {width: 20px !important;height: 20px !important;}
</style>

<script>
    require(['jquery',
        'app/business/resources/controllers/templateSpec/template/script/addScriptCtrl'],
            function ($, addScriptCtrl) {
                var dep = ['ng', 'wcc', addScriptCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#registScriptInfo"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile) {
                    var scope = $("#registScriptInfo").scope();
                    $compile($("#registScriptInfo"))(scope);
                    scope.$digest();
                });
            });
</script>
