<div fm-help help="'drawer_sys'" show="show.help" i18n="'zh'"></div>

<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span ng-bind="i18n.sys_term_backupSet_label"></span></li>
            <li class="two-lead" style="position: relative;">
                <p>&nbsp;</p>

                <p>&nbsp;</p>

                <div title="{{i18n.common_term_help_label}}"
                     ng-click="show.help=true"
                     class="small-icon small-icon-help btn-link"
                     style="position: absolute;right: 0;bottom: -5px;"></div>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="outbox-padding" style="min-height: 200px;">
            <div class="legend clearfix">
                <span class="fl" ng-bind="i18n.sys_term_sysBackup_label"></span>
                <a class="btn-link fr small-icon small-icon-refresh"
                   href="javascript:void 0;"
                   title="{{i18n.common_term_fresh_button}}"
                   ng-click="operator.refreshFtp()"
                        style="margin-top:15px"></a>
            </div>

            <div ng-if="!hasFTPServer">
                <span ng-bind="i18n.sys_backup_FTP_info_label"></span>
                <a href="javascript:void(0);"
                   class="left10"
                   ng-click="configFTPServer()"
                   ng-if="hasBackUpOperateRight"
                   ng-bind="i18n.sys_term_setFTP_button"></a>
                <span class="link_disable left10"
                      ng-if="!hasBackUpOperateRight"
                      ng-bind="i18n.sys_term_setFTP_button"></span>
            </div>
            <div ng-if="hasFTPServer">
                <span class="crumbs_font" ng-bind="i18n.sys_backup_setFTP_info_effect_label"></span>
                <a href="javascript:void(0);" ng-click="configFTPServer()" ng-if="hasBackUpOperateRight"
                   ng-bind="i18n.sys_term_setFTP_button"></a>
                <tiny-formfield>
                    <tiny-item label="FTPServer.ipLabel">
                        <span ng-bind="FTPServer.ip"></span>
                    </tiny-item>
                    <tiny-item label="FTPServer.userLabel">
                        <span ng-bind="FTPServer.user"></span>
                    </tiny-item>
                </tiny-formfield>
                <div class="clearfix">
                    <fm-button class="fl major-btn"
                               id="backupBtn.id"
                               text="backupBtn.text"
                               disable="backupBtn.disable"
                               click="backupBtn.click"
                               ng-if="hasBackUpOperateRight"></fm-button>
                </div>
                <div class="top10">
                    <tiny-table enable-pagination="false"
                                id="componentTable.id"
                                data="componentTable.data"
                                columns="componentTable.columns"></tiny-table>
                </div>
            </div>
        </div>
        <div class="outbox-padding" style="min-height: 200px;" ng-if="virtualBackupServer.support">
            <div class="legend clearfix">
                <span class="fl" ng-bind="i18n.sys_term_vBackupServer_label"></span>
                <a class="btn-link fr small-icon small-icon-refresh"
                   href="javascript:void 0;"
                   title="{{i18n.common_term_fresh_button}}"
                   ng-click="operator.refreshVServer()"
                   style="margin-top:15px"></a>
            </div>
            <table>
                <tbody>
                <tr>
                    <td>
                        <div>
                            <p ng-if="!huaweiBackupConfig.serverAddress" ng-bind="i18n.sys_backup_HW_info_label"></p>

                            <p ng-if="huaweiBackupConfig.serverAddress" ng-bind-html="toHuaweiBackupSystem">
                                <span ng-if="huaweiBackupConfig.status != 'connected'"
                                       ng-bind="i18n.sys_backup_enterHW_button"></span>
                                <a ng-if="huaweiBackupConfig.status == 'connected'"
                                   ng-href="https://{{huaweiBackupConfig.serverAddress}}:8088"
                                   target="_blank"
                                   ng-bind="i18n.sys_backup_enterHW_button"></a>
                            </p>
                        </div>
                    </td>
                    <td>
                        <a href="javascript:void(0)"
                           class="left10"
                           ng-click="virtualBackupServer.huaweiBackup()"
                           ng-if="hasBackUpOperateRight"
                           ng-bind="i18n.sys_term_setHWbackup_button"></a>
                        <span class="link_disable left10"
                              ng-if="!hasBackUpOperateRight"
                              ng-bind="i18n.sys_term_setHWbackup_button"></span>
                        <span class="left30" ng-if="huaweiBackupConfig.serverAddress"
                              ng-bind="huaweiBackupConfig.statusText"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div ng-if="!CommVaultConfig.serverAddress" class="top10">
                            <p ng-bind="i18n.sys_backup_CommVault_info_label"></p>

                            <p>&nbsp;</p>
                        </div>
                        <div ng-if="CommVaultConfig.serverAddress" class="top10">
                            <p ng-bind="i18n.sys_backup_setCommVault_info_client_label"></p>

                            <p>{{i18n.device_term_serverName_label}}:{{CommVaultConfig.serverAddress}}</p>
                        </div>
                    </td>
                    <td>
                        <div class="top10">
                            <p>
                                <a href="javascript:void(0)"
                                   class="left10"
                                   ng-click="virtualBackupServer.CommVaultBackup()"
                                   ng-if="hasBackUpOperateRight"
                                   ng-bind="i18n.sys_term_setCommVault_button"></a>
                                <span class="link_disable left10"
                                      ng-if="!hasBackUpOperateRight"
                                      ng-bind="i18n.sys_term_setCommVault_button"></span>
                                <span class="left30" ng-if="CommVaultConfig.serverAddress"
                                      ng-bind="CommVaultConfig.statusText"></span>
                            </p>

                            <p>&nbsp;</p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
