<div fm-help help="'drawer_sys'" show="show.help" i18n="'zh'"></div>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span ng-bind="pageTitle"></span></li>
            <li class="two-lead" style="position: relative;">
                <p ng-bind-html="i18n.sys_IPmgr_view_explan_label"></p>
                <a class="btn-link fr" href="javascript:void 0;">
                    <div title="{{i18n.common_term_help_label}}" ng-click="show.help=true"
                         class="small-icon small-icon-help btn-link"
                         style="position: absolute;right: 0;bottom: -5px;"></div>
                </a>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <ul class="content-right-box outbox-padding" id="ipMrgInfo">

        <style>
            .input-text, .tiny_form_require, .tiny_form_label_default {
                line-height: 29px;
            }
        </style>
        <li class="bottom10">
            <div class="legend clearfix" ng-if="trapSupport">
                <span class="fl" ng-bind="i18n.sys_IPmgr_modify_desc_modify_label"></span>
            </div>
            <form ng-submit="saveBtn.click($event)" ng-class="{top20:!trapSupport}">
                <tiny-formfield>

                    <tiny-item label="haMode.label"
                               require="haMode.require && edithaMode">
                        <tiny-radiogroup id="haMode.id"
                                         ng-if="edithaMode"
                                         width="haMode.width"
                                         values="haMode.values"
                                         extend-function="haMode.extendFunction"
                                         validate="haMode.validate"
                                         change="haMode.change()"></tiny-radiogroup>
                        <span ng-if="!edithaMode" ng-bind="haMode.text" style="line-height:25px;"></span>
                    </tiny-item>

                    <tiny-item label="fmFloatIP.label"
                               require="fmFloatIP.require && edithaMode"
                               display="haMode.valueBoolean">
                        <tiny-ip id="fmFloatIP.id"
                                 ng-if="haMode.valueBoolean && edithaMode"
                                 value="fmFloatIP.value"
                                 type="fmFloatIP.type"
                                 width="fmFloatIP.width"
                                 extend-function="fmFloatIP.extendFunction"
                                 validate="fmFloatIP.validate"
                                 content-change="fmFloatIP.contentChange()"></tiny-ip>
                        <span ng-if="!edithaMode" ng-bind="fmFloatIP.value" class="input-text"></span>
                    </tiny-item>

                    <tiny-item label="fmFloatIP.singleLabel"
                               require="fmFloatIP.require && edithaMode"
                               display="!haMode.valueBoolean">
                        <tiny-ip id="fmFloatIP.id"
                                 ng-if="!haMode.valueBoolean && edithaMode"
                                 value="fmFloatIP.value"
                                 type="fmFloatIP.type"
                                 width="fmFloatIP.width"
                                 extend-function="fmFloatIP.extendFunction"
                                 validate="fmFloatIP.validate"
                                 content-change="fmFloatIP.contentChange()"></tiny-ip>
                        <span ng-if="!edithaMode" ng-bind="fmFloatIP.value" class="input-text"></span>
                    </tiny-item>

                    <tiny-item label="mask.label"
                               require="mask.require && edithaMode">
                        <tiny-ip id="mask.id"
                                 ng-if="edithaMode"
                                 value="mask.value"
                                 type="mask.type"
                                 width="mask.width"
                                 extend-function="mask.extendFunction"
                                 validate="mask.validate"
                                 content-change="mask.contentChange()"></tiny-ip>
                        <span ng-if="!edithaMode" ng-bind="mask.value" class="input-text"></span>
                    </tiny-item>

                    <tiny-item label="gateway.label"
                               require="gateway.require && edithaMode">
                        <tiny-ip id="gateway.id"
                                 ng-if="edithaMode"
                                 value="gateway.value"
                                 type="gateway.type"
                                 width="gateway.width"
                                 extend-function="gateway.extendFunction"
                                 validate="gateway.validate"
                                 content-change="gateway.contentChange()"></tiny-ip>
                        <span ng-if="!edithaMode" ng-bind="gateway.value" class="input-text"></span>
                    </tiny-item>

                    <tiny-item label="fmActiveIP.label"
                               require="fmActiveIP.require && edithaMode"
                               display="haMode.valueBoolean">
                        <tiny-ip id="fmActiveIP.id"
                                 ng-if="edithaMode"
                                 value="fmActiveIP.value"
                                 type="fmActiveIP.type"
                                 width="fmActiveIP.width"
                                 extend-function="fmActiveIP.extendFunction"
                                 validate="fmActiveIP.validate"
                                 content-change="fmActiveIP.contentChange()"></tiny-ip>
                        <span ng-if="!edithaMode" ng-bind="fmActiveIP.value" class="input-text"></span>
                    </tiny-item>

                    <tiny-item label="fmStandbyIP.label"
                               require="fmStandbyIP.require && edithaMode"
                               display="haMode.valueBoolean">
                        <tiny-ip id="fmStandbyIP.id"
                                 ng-if="edithaMode"
                                 value="fmStandbyIP.value"
                                 type="fmStandbyIP.type"
                                 width="fmStandbyIP.width"
                                 extend-function="fmStandbyIP.extendFunction"
                                 validate="fmStandbyIP.validate"
                                 content-change="fmStandbyIP.contentChange()"></tiny-ip>
                        <span ng-if="!edithaMode" ng-bind="fmStandbyIP.value" class="input-text"></span>
                    </tiny-item>

                    <tiny-item label="standbyPassword.label"
                               require="standbyPassword.require && edithaMode"
                               display="edithaMode && haMode.valueBoolean">
                        <tiny-textbox id="standbyPassword.id"
                                      value="standbyPassword.value"
                                      tooltip="standbyPassword.toolTip"
                                      type="standbyPassword.type"
                                      width="standbyPassword.width"
                                      extend-function="standbyPassword.extendFunction"
                                      validate="standbyPassword.validate"></tiny-textbox>
                    </tiny-item>

                    <tiny-item label="restandbyPassword.label"
                               require="restandbyPassword.require && edithaMode"
                               display="edithaMode && haMode.valueBoolean">
                        <tiny-textbox id="restandbyPassword.id"
                                      value="restandbyPassword.value"
                                      tooltip="restandbyPassword.toolTip"
                                      type="restandbyPassword.type"
                                      width="restandbyPassword.width"
                                      extend-function="fmFloatIP.restandbyPassword"
                                      validate="restandbyPassword.validate"></tiny-textbox>
                    </tiny-item>

                    <tiny-item class="fm-btn-top-small">
                        <fm-button class="major-btn"
                                   id="editBtn.id"
                                   text="editBtn.text"
                                   click="editBtn.click"
                                   ng-if="hasIPManageOperateRight && !edithaMode"></fm-button>
                        <fm-button class="major-btn"
                                   id="saveBtn.id"
                                   text="saveBtn.text"
                                   click="saveBtn.click"
                                   disable="!ipsChanged"
                                   ng-if="hasIPManageOperateRight && edithaMode"></fm-button>
                        <fm-button id="cancelBtn.id"
                                   text="cancelBtn.text"
                                   click="cancelBtn.click"
                                   ng-if="hasIPManageOperateRight && edithaMode"></fm-button>
                        <input type="submit" style="position:absolute;left:-3000px;"/>
                    </tiny-item>

                </tiny-formfield>
            </form>
        </li>
        <li style="min-height:200px;" ng-if="trapSupport">
            <div class="legend clearfix">
                <span class="fl" ng-bind="i18n.sys_IPmgr_modify_desc_update_label"></span>
            </div>
            <div>
                <p class="bottom10" ng-bind="i18n.sys_IPmgr_modify_desc_update_mean_label"></p>
                <fm-button id="updateBtn.id"
                           text="updateBtn.text"
                           class="major-btn"
                           click="updateBtn.click"></fm-button>
            </div>
        </li>
    </ul>
</div>
