<div fm-help help="'drawer_sys'" show="show.help" i18n="'zh'"></div>

<div class="container-fluid ng-scope">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span ng-bind="i18n.sys_term_licenseManage_label"></span></li>
            <li class="two-lead" style="position: relative;">
                <p ng-bind-html="i18n.sys_license_view_explan_label"></p>
                <div title="{{i18n.common_term_help_label}}"
                     ng-click="show.help=true"
                     class="small-icon small-icon-help btn-link" style="position: absolute;right: 0;bottom: -5px;"></div>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box" style="margin-top: -5px;">
        <div>
            <div ng-if="hasLicenseOperateRight" ng-show="licenseCanUpdate" ng-include="'../src/app/framework/views/license.html'"></div>
            <ul class="license-manage">
                <li>
                    <label class="license-label"><span class="right10"><span ng-bind="i18n.sys_term_licenseStartDate_label"></span>:</span><span ng-bind="licenseImportTime"></span></label>
                </li>
                <li>
                    <label class="license-label line-height30"><span ng-bind="i18n.sys_term_licenseInfo_label"></span>:</label>
                    <tiny-table enable-pagination="false"
                                id="licenseTable.id"
                                data="licenseTable.data"
                                columns="licenseTable.columns"></tiny-table>
                </li>
            </ul>

        </div>
    </div>
</div>