<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span> {{i18n.alarm_term_EmailSet_label}}
            </span></li>
            <li class="two-lead">
                <p ng-bind-html="i18n.sys_mailServer_view_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box" id="snmpMrgInfo">
        <div>
            <tiny-formfield>
                <tiny-item label="mailServer.mailServerAddress.label" require="mailServer.mailServerAddress.require">
                    <tiny-ip id="mailServer.mailServerAddress.id" value="mailServer.mailServerAddress.value"
                             disable="mailServer.mailServerAddress.disable" width="mailServer.mailServerAddress.width"
                             extend-function="mailServer.mailServerAddress.extendFunction"
                             validate="mailServer.mailServerAddress.validate"></tiny-ip>
                </tiny-item>

                <tiny-item label="mailServer.mailServerPort.label" require="mailServer.mailServerPort.require">
                    <tiny-textbox id="mailServer.mailServerPort.id" value="mailServer.mailServerPort.value"
                                  tooltip="mailServer.mailServerPort.tooltip" validate="mailServer.mailServerPort.validate"
                                  disable="mailServer.mailServerPort.disable"
                            ></tiny-textbox>
                </tiny-item>

                <tiny-item label="mailServer.sendMailAddress.label" require="mailServer.sendMailAddress.require">
                    <tiny-textbox id="mailServer.sendMailAddress.id" value="mailServer.sendMailAddress.value"
                                  tooltip="mailServer.sendMailAddress.tooltip" validate="mailServer.sendMailAddress.validate"
                                  disable="mailServer.sendMailAddress.disable"
                            ></tiny-textbox>
                </tiny-item>

                <tiny-item label="mailServer.mailUserName.label" require="mailServer.mailUserName.require">
                    <tiny-textbox id="mailServer.mailUserName.id" value="mailServer.mailUserName.value"
                                  tooltip="mailServer.mailUserName.tooltip" validate="mailServer.mailUserName.validate"
                                  disable="mailServer.mailUserName.disable"
                            ></tiny-textbox>
                </tiny-item>
                <tiny-item label="mailServer.mailPassword.label" require="mailServer.mailPassword.require">
                    <tiny-textbox id="mailServer.mailPassword.id" value="mailServer.mailPassword.value"
                                  type="mailServer.mailPassword.type"
                                  disable="mailServer.mailPassword.disable"
                                  tooltip="mailServer.mailPassword.tooltip" validate="mailServer.mailPassword.validate"
                            ></tiny-textbox>
                </tiny-item>

                <tiny-item label="mailServer.confirmMailPassword.label" require="mailServer.confirmMailPassword.require">
                    <tiny-textbox id="mailServer.confirmMailPassword.id" value="mailServer.confirmMailPassword.value"
                                  type="mailServer.confirmMailPassword.type"
                                  disable="mailServer.confirmMailPassword.disable"
                                  extend-function="mailServer.confirmMailPassword.extendFunction"
                                  tooltip="mailServer.confirmMailPassword.tooltip"
                                  validate="mailServer.confirmMailPassword.validate"
                            ></tiny-textbox>
                </tiny-item>
                <tiny-item label="mailServer.useSSLProtocol.label" require="mailServer.useSSLProtocol.require">

                    <tiny-checkbox text='mailServer.useSSLProtocol.text' id='mailServer.useSSLProtocol.id'
                                   disable="mailServer.useSSLProtocol.disable"
                                   checked='mailServer.useSSLProtocol.checked'></tiny-checkbox>

                </tiny-item>

                <tiny-item label="mailServer.testEmail.label" require="mailServer.testEmail.require">
                    <tiny-textbox id="mailServer.testEmail.id" value="mailServer.testEmail.value"
                                  disable="mailServer.testEmail.disable"
                                  extend-function="mailServer.testEmail.extendFunction"
                                  tooltip="mailServer.testEmail.tooltip" validate="mailServer.testEmail.validate"
                    ></tiny-textbox>
                </tiny-item>
                <tiny-item>
                    <tiny-button id="testBtn.id" icons-class="icon-plus" text="testBtn.text"
                                 click="testBtn.click()" ng-if="operateRight"></tiny-button>
                </tiny-item>
                <tiny-item label="mailServer.sendPeriod.label" require="mailServer.sendPeriod.require">
                    <tiny-textbox id="mailServer.sendPeriod.id" value="mailServer.sendPeriod.value"
                                  disable="mailServer.sendPeriod.disable"
                                  tooltip="mailServer.sendPeriod.tooltip" validate="mailServer.sendPeriod.validate"
                            ></tiny-textbox>
                </tiny-item>
                <tiny-item label="mailServer.sendMaxSize.label" require="mailServer.sendMaxSize.require">
                    <tiny-textbox id="mailServer.sendMaxSize.id" value="mailServer.sendMaxSize.value"
                                  disable="mailServer.sendMaxSize.disable"
                                  tooltip="mailServer.sendMaxSize.tooltip" validate="mailServer.sendMaxSize.validate"
                            ></tiny-textbox>
                </tiny-item>
                <tiny-item label="mailServer.sendLanguage.label" require="mailServer.sendLanguage.require" class="padding-top3">

                    <table>
                        <tr>
                            <td>
                                <tiny-checkbox id="mailServer.language[0].id" text="mailServer.language[0].text"
                                               disable="mailServer.language[0].disable"
                                               checked='mailServer.language[0].checked'></tiny-checkbox>
                            </td>
                            <td>
                                <tiny-checkbox id="mailServer.language[1].id" text="mailServer.language[1].text"
                                               disable="mailServer.language[1].disable"
                                               checked='mailServer.language[1].checked'></tiny-checkbox>
                            </td>
                        </tr>

                    </table>


                </tiny-item>

                <tiny-item label="email.optInfo.label" require="email.optInfo.require">
                    <fm-button class="major-btn" id="saveBtn.id" icons-class="icon-plus" text="saveBtn.text"
                                 click="saveBtn.click" ng-if="operateRight"></fm-button>
                </tiny-item>


            </tiny-formfield>


        </div>

    </div>
</div>
