<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span ng-bind="i18n.sys_term_logo_label"></span></li>
            <li class="two-lead">
                <p ng-bind-html="i18n.sys_logo_view_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <br>

        <div ng-bind="i18n.sys_logo_fresh_info_label"></div>
        <br>

        <div class="row-fluid" ng-bind="i18n.sys_logo_logoType_para_browserLogo_label"></div>
        <br/>

        <div class="row-fluid">
            <div id="broserLogoDiv" class="span2" style="text-align: center;">
                <img src="favicon.ico"/>
            </div>
            <div class="span3">
                <tiny-button id="recoverySmallBtnId" text="recoveryBtn.text"
                             click="recoveryBtn.recovery('favicon_image')"></tiny-button>
            </div>
            <div class="span5">
                <a href='javascript:void(0)' ng-click="modifySmall()" ng-show="smallModifyDisplay"><span
                        ng-bind="i18n.common_term_modify_button"></span></a>
                <tiny-fileupload ng-show="!smallModifyDisplay" id="uploadBrowserLogo.id"
                                 file-obj-name="uploadBrowserLogo.fileObjName"
                                 multi="uploadBrowserLogo.multi" action="uploadBrowserLogo.action"
                                 enable-detail="uploadBrowserLogo.enableDetail"
                                 file-type="uploadBrowserLogo.fileType"
                                 min-size="uploadBrowserLogo.minSize" max-size="uploadBrowserLogo.maxSize"
                                 select-error="uploadBrowserLogo.selectError"
                                 complete="uploadBrowserLogo.complete"></tiny-fileupload>
            </div>
        </div>
        <br/>
        <br/>

        <div class="row-fluid" ng-bind="i18n.sys_logo_logoType_para_webClientLogo_label"></div>
        <br/>

        <div class="row-fluid">
            <div id="systemLogoDiv" class="span2" style="text-align: center;">
                <img src="../theme/default/images/product_logo.png"/>
            </div>
            <div class="span3">
                <tiny-button id="recoveryBigBtnId" text="recoveryBtn.text"
                             click="recoveryBtn.recovery('product_image')"></tiny-button>
            </div>
            <div class="span5">
                <a href='javascript:void(0)' ng-click="modifyBig()" ng-show="bigModifyDisplay"><span
                        ng-bind="i18n.common_term_modify_button"></span></a>
                <tiny-fileupload ng-show="!bigModifyDisplay" id="uploadSystemLogo.id"
                                 file-obj-name="uploadSystemLogo.fileObjName"
                                 multi="uploadSystemLogo.multi" action="uploadSystemLogo.action"
                                 enable-detail="uploadSystemLogo.enableDetail"
                                 file-type="uploadSystemLogo.fileType"
                                 min-size="uploadSystemLogo.minSize" max-size="uploadSystemLogo.maxSize"
                                 select-error="uploadSystemLogo.selectError"
                                 complete="uploadSystemLogo.complete"></tiny-fileupload>
            </div>
        </div>
    </div>
</div>
