<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span ng-bind="i18n.sys_term_intervalStartStop_label"></span></li>
            <li class="two-lead">
                <p ng-repeat="eView in i18n.split(i18n.sys_intervalStartStop_view_explan_label)">
                    {{eView}}
                </p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div id="report_reportConfig_view" class="content-right-box">
        <div class="margin-top-beautifier">
            <tiny-formfield>

                <tiny-item label="vmIntervalItems.label" require="vmIntervalItems.require">
                    <fm-select id="vmIntervalItems.id" name="vmIntervalItems.name" option="vmIntervalItems.values"></fm-select>
                </tiny-item>

                <tiny-item class="fm-btn-top-small">
                    <fm-button ng-if="privilege.sys_term_vmInterval_Handle_label" class="major-btn" id="saveBtn.id" text="saveBtn.text" click="saveBtn.save"></fm-button>
                </tiny-item>

            </tiny-formfield>
        </div>
    </div>
</div>
