<div id="importConfigDiv">
    <a style="float:right" href='javascript:void(0)'
       ng-click="download()">{{i18n.common_term_downloadTemplate_button}}</a>
    <br/>

    <p class="line-height30 bottom10 color2" ng-bind-html="device_fire_importFWresourceCfg_desc_label"></p>
    <tiny-fileupload id="uploadModel.id" file-obj-name="uploadModel.fileObjName"
                     multi="uploadModel.multi" action="uploadModel.action"
                     enable-detail="uploadModel.enableDetail"
                     file-type="uploadModel.fileType"
                     min-size="uploadModel.minSize" max-size="uploadModel.maxSize"
                     select-error="uploadModel.selectError"
                     complete="uploadModel.complete"></tiny-fileupload>
    <iframe id="downloadDiv" style="display:none"></iframe>
</div>
<script type="application/javascript">
    require(['app/business/resources/controllers/device/firewall/importConfigCtrl'],
            function (importConfigCtrl) {
                $("#importConfigDiv").attr("ng-controller", "importConfigCtrl");
                var dep = ['ng', 'wcc', importConfigCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#importConfigDiv"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile($("#importConfigDiv"))($rootScope);
                    $rootScope.$digest();
                });
            });
</script>