<div id="viewCfgParamDiv">
    <tiny-formfield>
        <tiny-item label="trustDomainItfc.label">
            <span ng-bind="cfgModel.trustSubInterface"></span>
        </tiny-item>
        <tiny-item label="startIdOfSubPort.label">
            <span ng-bind="cfgModel.fwSubPortStartId"></span>
        </tiny-item>
        <tiny-item label="endIdOfSubPort.label">
            <span ng-bind="cfgModel.fwSubPortEndId"></span>
        </tiny-item>
        <tiny-item label="startIdOfAcl.label">
            <span ng-bind="cfgModel.generatorAclEntryStartId"></span>
        </tiny-item>
        <tiny-item label="endIdOfAcl.label">
            <span ng-bind="cfgModel.generatorAclEntryEndId"></span>
        </tiny-item>
        <tiny-item label="startIdOfAddressGroup.label">
            <span ng-bind="cfgModel.generatorAddressGroupStartId"></span>
        </tiny-item>
        <tiny-item label="endIdOfAddressGroup.label">
            <span ng-bind="cfgModel.generatorAddressGroupEndId"></span>
        </tiny-item>
        <tiny-item label="startIdOfSnat.label">
            <span ng-bind="cfgModel.natPolicyNumStartId"></span>
        </tiny-item>
        <tiny-item label="endIdOfSnat.label">
            <span ng-bind="cfgModel.natPolicyNumEndId"></span>
        </tiny-item>
        <tiny-item label="startIOdOfVirtualRouter.label">
            <span ng-bind="cfgModel.virtRouteStartId"></span>
        </tiny-item>
        <tiny-item label="endIOdOfVirtualRouter.label">
            <span ng-bind="cfgModel.virtRouteEndId"></span>
        </tiny-item>
        <tiny-item label="virtRouteRepeat.label">
            <span ng-bind="cfgModel.virtRouteRepeatId"></span>
        </tiny-item>
        <tiny-item label="startIpsecVpnAcl.label">
            <span ng-bind="cfgModel.aclVpnIpsecStartId"></span>
        </tiny-item>
        <tiny-item label="endIpsecVpnAcl.label">
            <span ng-bind="cfgModel.aclVpnIpsecEndId"></span>
        </tiny-item>
        <tiny-item label="startL2tpVpnAcl.label">
            <span ng-bind="cfgModel.aclVpnL2tpStartId"></span>
        </tiny-item>
        <tiny-item label="endL2tpVpnAcl.label">
            <span ng-bind="cfgModel.aclVpnL2tpEndId"></span>
        </tiny-item>
        <tiny-item label="aclBaseLine.label">
            <span ng-bind="cfgModel.aclBaseLine"></span>
        </tiny-item>

    </tiny-formfield>
</div>
<script type="application/javascript">
    require(['app/business/resources/controllers/device/firewall/viewCfgParamCtrl'],
            function (viewCfgParamCtrl) {
                $("#viewCfgParamDiv").attr("ng-controller", "viewCfgParamCtrl");
                var dep = ['ng', 'wcc', viewCfgParamCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#viewCfgParamDiv"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile($("#viewCfgParamDiv"))($rootScope);
                    $rootScope.$digest();
                });
            });
</script>
