<div id="modifyPwdDiv" class="alert-tip-first">
    <div>
        <tiny-formfield>
            <tiny-item label="operatePassword.label" require="operatePassword.require">
                <tiny-textbox id="operatePassword.id" value="operatePassword.value" type="operatePassword.type"
                              validate="operatePassword.validate"></tiny-textbox>
            </tiny-item>
            <tiny-item label="password.label" require="password.require">
                <tiny-textbox id="password.id" value="password.value" readonly="password.readonly" type="password.type" disabled="thirdPartyUser">
                </tiny-textbox>
            </tiny-item>
            <tiny-item label="confirmPassword.label" require="confirmPassword.require">
                <tiny-textbox id="confirmPassword.id" value="confirmPassword.value" readonly="confirmPassword.readonly" tooltip="confirmPassword.tips" validate="confirmPassword.validate" extend-function="confirmPassword.extendFunction" disabled="thirdPartyUser" type="confirmPassword.type">
                </tiny-textbox>
            </tiny-item>
            <tiny-item class="fm-btn-top-small">
                <tiny-button id="resetBtn.id" text="resetBtn.text" click="resetBtn.click()" class="major-btn"></tiny-button>
                <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>

<script type="application/javascript">
require(['app/business/tenantUser/controllers/user/modifyPwdCtrl'],
    function(modifyPwdCtrl) {
        $("#modifyPwdDiv").attr("ng-controller", "userMgr.user.modifyPwd.ctrl");
        var dep = ['ng', 'wcc', modifyPwdCtrl.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $("#modifyPwdDiv"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($("#modifyPwdDiv"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>