<div class="user_detail" ng-controller="userMgr.user.detail.ctrl">
    <div class="container-fluid">
        <div class="row-fluid innerbox-padding">
            <div class="span6" ng-if="!openstack">
                <div class="inner-legend" ng-bind="i18n.common_term_basicInfo_label"></div>
                <div class="row-fluid">
                    <div class="span6">
                        <tiny-formfield>
                            <tiny-item label="name.label">
                                <span ng-bind="name.value"></span>
                            </tiny-item>
                            <tiny-item label="email.label">
                                <span ng-bind="email.value"></span>
                            </tiny-item>
                            <tiny-item label="accessDate.label">
                                <span ng-bind="accessDate.value"></span>
                            </tiny-item>
                        </tiny-formfield>
                    </div>
                    <div class="span6">
                        <tiny-formfield>
                            <tiny-item label="phone.label">
                                <span ng-bind="phone.value"></span>
                            </tiny-item>
                            <tiny-item label="createTime.label">
                                <span ng-bind="createTime.value"></span>
                            </tiny-item>
                            <tiny-item label="accessTime.label">
                                <span ng-bind="accessTime.value"></span>
                            </tiny-item>
                        </tiny-formfield>
                    </div>
                </div>
                <div>
                    <tiny-formfield>
                        <tiny-item label="ipAddress.label">
                            <span ng-bind="ipAddress.value"></span>
                        </tiny-item>
                        <tiny-item label="description.label">
                            <span ng-bind="description.value"></span>
                        </tiny-item>
                    </tiny-formfield>
                </div>
            </div>
            <div class="span6" ng-if="openstack">
                <div class="inner-legend" ng-bind="i18n.common_term_basicInfo_label"></div>
                <div class="row-fluid">
                    <div class="span6">
                        <tiny-formfield>
                            <tiny-item label="name.label">
                                <span ng-bind="name.value"></span>
                            </tiny-item>
                        </tiny-formfield>
                    </div>
                    <div class="span6">
                        <tiny-formfield>
                            <tiny-item label="email.label">
                                <span ng-bind="email.value"></span>
                            </tiny-item>
                        </tiny-formfield>
                    </div>
                </div>
                <div>
                    <tiny-formfield>
                        <tiny-item label="description.label">
                            <span ng-bind="description.value"></span>
                        </tiny-item>
                    </tiny-formfield>
                </div>
            </div>
            <div class="span6">
                <div class="inner-legend none-line" ng-bind="i18n.common_term_role_label"></div>
                <tiny-table id="roleModel.id" data="roleModel.datas" columns="roleModel.columns" render-row="roleModel.renderRow" enable-pagination="roleModel.pagination"></tiny-table>
            </div>
        </div>
    </div>
</div>
<script>
require(["jquery",
        "app/business/tenantUser/controllers/user/userDetailCtrl"
    ],
    function($, userDetailCtrl) {
        // 1.获取当前Dom
        var curView = undefined;
        $(".user_detail").each(function() {
            if ($(this).attr("id") === undefined) {
                curView = $(this);
            }
        });
        curView.attr("id", new Date().getMilliseconds());

        // 2.编译(编译前scope是父页面继承来的)
        var scope = curView.scope();
        var userId = scope.userId;
        var modules = ["ng", "wcc", userDetailCtrl.name];
        modules.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $(".user_detail"));
            }
        ]);
        var $injector = angular.injector(modules);
        $injector.invoke(function($compile, $rootScope) {
            $compile(curView)($rootScope);
            $rootScope.$digest();
        });

        // 3.查询初始化信息
        var newScope = curView.scope();
        newScope.getUserDetail(userId);
    });
</script>

