<div class="container-fluid">
    <div>
        <div class="crumbs">
            <ul class="nav nav-list noPadding">
                <li>
                    <ul class="breadcrumb">
                        <li><a class="btn-link" ui-sref="application.manager.instance" ng-bind="i18n.app_term_appInstance_label"></a> &gt; </li>
                        <li><a class="btn-link" ui-sref="application.navigate.topo" ng-bind="appName"></a> &gt; </li>
                        <li>{{i18n.log_term_log_label}}</li>
                    </ul>
                </li>
                <li class="divider"></li>
            </ul>
        </div>
    </div>
    <div class="content-right-box">
        <div class="clearfix bottom10">
            <div class="pull-right">
                <tiny-filtersel id="searchLevel.id" values="searchLevel.values" width="searchLevel.width" default-label="searchLevel.dftLabel" change="searchLevel.change()">
                </tiny-filtersel>
                <a class="btn-link btn-link-padding">
                    <div ng-click="refresh.click()" id="refresh.id" title="{{refresh.tips}}" class="small-icon small-icon-refresh"></div>
                </a>
            </div>
        </div>
        <div>
            <tiny-table id="logTable.id" data="logTable.data" columns="logTable.columns" pagination-style="logTable.paginationStyle" enable-pagination="logTable.enablePagination" length-menu="logTable.lengthMenu" display-length="logTable.displayLength" columns-visibility="logTable.visibility"
            render-row="logTable.renderRow" callback="logTable.callback" change-select="logTable.changeSelect" total-records="logTable.totalRecords" columns-draggable="true">
            </tiny-table>
        </div>
    </div>
</div>