<div id="app_monitor_service" class="container-fluid">
    <div>
        <tiny-table id="vmTable.id" data="vmTable.data" pagination-style="vmTable.paginationStyle" columns='vmTable.columns' render-row="vmTable.renderRow" total-records="vmTable.totalRecords" length-change="vmTable.lengthChange" change-select="vmTable.changeSelect"
        cur-page="vmTable.curPage" display-length="vmTable.displayLength" enable-pagination="vmTable.enablePagination" length-menu="vmTable.lengthMenu" callback="vmTable.callback" columns-visibility="vmTable.columnsVisibility" columns-draggable="vmTable.columnsDraggable"></tiny-table>
    </div>
</div>