<div>
    <div class="slider-content">
        <div id="appInstance-navigate-layout">
            <div class="tiny-layout-container">
                <div class="tiny-layout-west">
                    <ul>
                        <div class="tiny-layout-title">
                            <div class="row-fluid nosidedown-txt">
                                <div class="span4">
                                    <div class="title-icon">
                                        <img src="../theme/default/images/my-email.png">
                                    </div>
                                </div>
                                <div class="span8">
                                    <div class="text-left layout-name" ng-if="isIT">
                                        <label ng-bind-html="i18n.app_term_app_label"></label>
                                        <span  class="layout-status">
                                            <label class="layout-status-icon" ng-class="appHealth"></label>
                                            <span class="layout-status-desc" ng-bind="healthStatusUI"></span>
                                        </span>
                                    </div>
                                    <p ng-bind-html="i18n.app_term_app_label" ng-if="!isIT"></p>
                                </div>
                            </div>
                        </div>
                        <li>
                            <a ui-sref="application.navigate.topo" ng-bind-html="i18n.sys_term_topo_label"></a>
                        </li>
                        <li ng-show="isIT">
                            <a ui-sref="application.navigate.monitor" ng-bind-html="i18n.common_term_monitor_label"></a>
                        </li>
                        <li ng-show="isIT">
                            <a ui-sref="application.navigate.log" ng-bind-html="i18n.log_term_log_label"></a>
                        </li>
                    </ul>
                </div>
                <div class="tiny-layout-center">
                    <div ui-view id="view-content"></div>
                </div>
            </div>
        </div>
    </div>
</div>