<link href="../theme/default/css/gm/homeTenant.css" type="text/css" rel="stylesheet"/>
<link href="../theme/default/css/gm/ssp.css" type="text/css" rel="stylesheet" />
<div class="container-fluid">
    <div class="index-nav">
        <p class="index-nav-text" ng-bind="homeLabels.home"></p>
        <p class="index-nav-line"></p>
    </div>
    <!-- SC场景vdc管理员显示资源配额圆环图 -->
    <div class="outbox-padding top30" ng-if="deployMode==='serviceCenter' && isVdcMgr">
        <div class="legend" ng-bind="i18n.common_term_resourceQuota_label"></div>
        <div class="row-fluid" style="margin-top: 10px">
            <div class="span4">
                <div class="quotaTitle">{{homeLabels.cpuTotal}}<span class="left10">{{cpuQuotaInfo.totalStr}}</span></div>
                <div id="home-cpu-quota-cirque"></div>
            </div>
            <div class="span4">
                <div class="quotaTitle">{{homeLabels.memoryTotal}}<span class="left10">{{memQuotaInfo.totalStr}}</span></div>
                <div id="home-mem-quota-cirque"></div>
            </div>
            <div class="span4">
                <div class="quotaTitle">{{homeLabels.storageTotal}}<span class="left10">{{storageQuotaInfo.totalStr}}</span></div>
                <div id="home-storage-quota-cirque"></div>
            </div>
        </div>
        <div class="row-fluid" style="margin-top: 10px">
            <div class="span3">
                <span class="fr three-title top10 right20" ng-bind="eipQuotaInfo.totalStr"></span>
                <div class="legend" ng-bind="i18n.eip_term_eip_label"></div>
                <div class="top26">
                    <span class="right10 legend-color">{{homeLabels.usage}}:</span>
                    <div class='myprogress'>
                        <div class='bar' style='width: {{eipQuotaInfo.useRate}}'></div>
                    </div>
                    <span class="left10 legend-color">{{eipQuotaInfo.used}}/<span style="color: #5ECC49">{{eipQuotaInfo.useRate}}</span></span>
                </div>
            </div>
            <div class="span3">
                <span class="fr three-title top10 right20" ng-bind="vpcQuotaInfo.totalStr"></span>
                <div class="legend" ng-bind="i18n.vpc_term_vpc_label"></div>
                <div class="top26">
                    <span class="right10 legend-color">{{homeLabels.usage}}:</span>
                    <div class='myprogress'>
                        <div class='bar' style='width: {{vpcQuotaInfo.useRate}}'></div>
                    </div>
                    <span class="left10 legend-color">{{vpcQuotaInfo.used}}/<span style="color: #5ECC49">{{vpcQuotaInfo.useRate}}</span></span>
                </div>
            </div>
            <div class="span3">
                <span class="fr three-title top10 right20" ng-bind="vmQuotaInfo.totalStr"></span>
                <div class="legend" ng-bind="i18n.common_term_vms_label"></div>
                <div class="top26">
                    <span class="right10 legend-color">{{homeLabels.usage}}:</span>
                    <div class='myprogress'>
                        <div class='bar' style='width: {{vmQuotaInfo.useRate}}'></div>
                    </div>
                    <span class="left10 legend-color">{{vmQuotaInfo.used}}/<span style="color: #5ECC49">{{vmQuotaInfo.useRate}}</span></span>
                </div>
            </div>
            <div class="span3">
                <span class="fr three-title top10 right20" ng-bind="sgQuotaInfo.totalStr"></span>
                <div class="legend" ng-bind="i18n.security_term_SGs_label"></div>
                <div class="top26">
                    <span class="right10 legend-color">{{homeLabels.usage}}:</span>
                    <div class='myprogress'>
                        <div class='bar' style='width: {{sgQuotaInfo.useRate}}'></div>
                    </div>
                    <span class="left10 legend-color">{{sgQuotaInfo.used}}/<span style="color: #5ECC49">{{sgQuotaInfo.useRate}}</span></span>
                </div>
            </div>
        </div>
    </div>
    
    <!-- SC场景普通用户不显示我的资源 -->
    <div class="row-fluid top30" ng-if="!(deployMode==='serviceCenter' && !isVdcMgr)">
        <div class="outbox-padding" ng-class="{'span8 resourceHeight':deployMode==='serviceCenter','span8 resourceHeight2':(deployMode==='serviceCenter'&&IT)}" ng-if="hasCloudInfrasRight">
            <div class="pull-right top10">
                <div class="small-icon small-icon-menuicon" style="margin-top: 5px;"></div>
                <tiny-filtersel id="searchLocation.id" values="searchLocation.values" width="searchLocation.width" change="searchLocation.change()">
                </tiny-filtersel>
                <tiny-filtersel id="searchVpc.id" values="searchVpc.values" width="searchVpc.width" change="searchVpc.change()" ng-if="isICT">
                </tiny-filtersel>
            </div>

            <div class="legend" ng-bind="homeLabels.myResources"></div>
            <div class="clearfix left30 top20">
                <div class="span3" ng-if="hasVmViewRight">
                    <div class="clearfix">
                        <a class="btn-link fl" ui-sref="ecs.vm"><img src="../theme/default/images/gm/home_vm.png" title="{{homeLabels.vm}}"></a>
                        <div class="fl homeMyResRight">
                            <div ng-bind="myResources.vmLabel" class="homeMyResRight_title"></div>
                            <div class="homeMyResNumber"><a class="btn-link" ui-sref="ecs.vm" ng-bind="myResources.vmValue"></a></div>
                        </div>
                    </div>
                </div>
                <div class="span3" ng-if="hasDiskViewRight">
                    <div class="clearfix">
                        <a class="btn-link fl" ui-sref="ecs.storage.disk"><img src="../theme/default/images/gm/home_disk.png" title="{{homeLabels.disks}}"></a>
                        <div class="fl homeMyResRight">
                            <div ng-bind="myResources.diskLabel" class="homeMyResRight_title"></div>
                            <div class="homeMyResNumber"><a class="btn-link" ui-sref="ecs.storage.disk" ng-bind="myResources.diskValue"></a></div>
                        </div>
                    </div>
                </div>
                <div class="span3" ng-if="hasVpcViewRight">
                    <div class="clearfix">
                        <a class="btn-link fl" ui-sref="network.manager.myVPClist"><img src="../theme/default/images/gm/home_network.png" title="VPC"></a>
                        <div class="fl homeMyResRight">
                            <div ng-bind="myResources.netLabel" class="homeMyResRight_title"></div>
                            <div class="homeMyResNumber"><a class="btn-link" ui-sref="network.manager.myVPClist" ng-bind="myResources.netValue"></a></div>
                        </div>
                    </div>
                </div>
                <div class="span3" ng-show="!isICT" ng-if="hasAppViewRight">
                    <div class="clearfix">
                        <a class="btn-link fl" ui-sref="application.manager.instance"><img src="../theme/default/images/gm/home_app.png" title="{{homeLabels.app}}"></a>
                        <div class="fl homeMyResRight">
                            <div ng-bind="myResources.appLabel" class="homeMyResRight_title"></div>
                            <div class="homeMyResNumber"><a class="btn-link fl" ui-sref="application.manager.instance" ng-bind="myResources.appValue"></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix left30 top15" ng-if="deployMode==='serviceCenter'&&IT">
                <div class="span3">
                    <div class="clearfix">
                        <a class="fl"><img src="../theme/default/images/gm/home_eip.png" title="{{homeLabels.eip}}"></a>
                        <div class="fl homeMyResRight">
                            <div ng-bind="myResources.eipLabel" class="homeMyResRight_title"></div>
                            <div class="homeMyResNumber" ng-bind="myResources.eipValue"></div>
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="clearfix">
                        <a class="fl"><img src="../theme/default/images/gm/home_sg.png" title="{{homeLabels.sg}}"></a>
                        <div class="fl homeMyResRight">
                            <div ng-bind="myResources.sgLabel" class="homeMyResRight_title"></div>
                            <div class="homeMyResNumber" ng-bind="myResources.sgValue"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="span4 outbox-padding" ng-class="{'resourceHeight':!IT,'resourceHeight2':IT}" ng-if="deployMode==='serviceCenter'">
            <div class="legend" ng-bind="homeLabels.toDo"></div>
            <div class="task">
                <div>
                    <div ng-if="hasApprovalOrderRight">
                        <span ng-bind="homeLabels.youHave"></span>
                        <span ng-bind="task.approvingOrders" class="alarmnum btn-link" ng-click='task.goToApprovalOrders()'></span>
                        <span ng-bind="homeLabels.tasksToDO"></span>
                    </div>
                    <div class="top5">
                        <span ng-bind="homeLabels.youHave"></span>
                        <span ng-bind="task.expiredServices" class="alarmnum btn-link" ng-click='task.goToExpiredServices()'></span>
                        <span ng-bind="homeLabels.expiredService"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 非SC场景显示虚拟机可创建数和总配额-->
    <div class="row-fluid top10" ng-if="deployMode!='serviceCenter'">
        <div class="span5 outbox-padding vmHeight" ng-if="hasVmViewRight">
            <div class="legend" ng-bind="homeLabels.vm"></div>
            <div class="text-center">
                <div class="homeTextRight">
                    <div class="inlineBlockCss"><span ng-bind="homeLabels.created"></span> <span class="homeGreenNumber" ng-bind="configSpec.usedVm"></span></div>
                    <div class="inlineBlockCss"><span ng-bind="homeLabels.createable"></span> <span class="homeGreenNumber" ng-bind="configSpec.unsedVm"></span></div>
                    <div class="inlineBlockCss"><span ng-bind="homeLabels.spec"></span><span ng-bind="configSpec.specDetailStr"></span></div>
                    <div class="inlineBlockCss" ng-click="configSpec.toggleShowSpec()"><a href='javascript:void(0)' ng-bind="homeLabels.change"></a></div>
                </div>
                <div ng-show="configSpec.show" class="homeTextRight homeConfigCpuMemoryDiv top5">
                    <div class="inlineBlockCss">
                    <tiny-formfield>
                        <tiny-item label="cpuCount.label" require="cpuCount.require">
                            <tiny-textbox id="cpuCount.id" value="cpuCount.value" width="cpuCount.width"
                                          validate="cpuCount.validate"></tiny-textbox>
                        </tiny-item>
                    </tiny-formfield>
                    </div>
                    <div class="inlineBlockCss">
                    <tiny-formfield>
                        <tiny-item label="memorySize.label" require="memorySize.require">
                            <tiny-textbox id="memorySize.id" value="memorySize.value" width="memorySize.width"
                                          validate="memorySize.validate"></tiny-textbox>
                        </tiny-item>
                    </tiny-formfield>
                    </div>
                    <div class="pull-right homeConfigCpuOkOffSet">
                        <tiny-button id="configSpec.okBtn.id" text="configSpec.okBtn.text" click="configSpec.okBtn.click()" class="major-btn"></tiny-button>
                    </div>
                </div>
                <div class="top20">
                    <div id="tenantHomeVmCreationStatistic"></div>
                </div>
            </div>
        </div>
        <div class="span7 outbox-padding">
            <div class="legend" ng-bind="homeLabels.resourceQuota"></div>
            <div class="text-center new-table-style">
                <tiny-table id="resourceQuotas.id" data="resourceQuotas.data" columns="resourceQuotas.columns"
                            enable-pagination="resourceQuotas.enablePagination" render-row="resourceQuotas.renderRow">
                </tiny-table>
            </div>
        </div>
    </div>

    <!-- SC场景普通用户显示 服务目录、我的申请单和我的资源 -->
    <div class="top30" ng-if="deployMode==='serviceCenter' && !isVdcMgr"></div>
    <div class="row-fluid" ng-if="deployMode==='serviceCenter' && !isVdcMgr">
        <div class="span8 outbox-padding">
            <div class="pull-right top10">
                <div class="more-title"><a class="btn-link" ui-sref="ssp.catalog" ng-bind="homeLabels.showMore"></a></div>
            </div>
            <div class="legend" ng-bind="i18n.service_term_catalog_label"></div>
            <div class="span6 small-layout" style="margin-left: 0;" ng-repeat="service in services">
                <div class="small-layout-inner">
                    <div class="media">
                        <a class="pull-left top6">
                            <img ng-if="service.status == 'published'" class="media-object btn-link"
                                 ng-src="{{service.serviceImageUrl}}" alt=""
                                 ng-click="applyBtn.click(service.applyUrl, service.id)">
                            <img ng-if="service.status == 'unpublished'" class="media-object btn-link"
                                 ng-src="{{service.serviceImageUrl}}" alt="">
                        </a>

                        <div class="media-body">
                            <div style="margin: 0px 20px 0px 10px;">
                                <div class="small-layout-title bottom5" ng-bind="service.name"></div>
                                <div class="color-gray bottom5">ID: {{service.id}}</div>
                                <div ng-bind="service.description" class="serviceCatalogServiceDescription"></div>
                                <div ng-if="service.status == 'unpublished'">
                                    <tiny-button ng-if="hasServerOperateRight == true" id="publishBtn.id"
                                                 text="publishBtn.text" click="publishBtn.click(service.id)"
                                                 class="major-btn"></tiny-button>
                                    <tiny-button ng-if="hasServerOperateRight == true" id="modifyBtn.id"
                                                 text="modifyBtn.text"
                                                 click="modifyBtn.click(service.modifyUrl, service.id)"></tiny-button>
                                    <tiny-button ng-if="hasServerOperateRight == true" id="deleteBtn.id"
                                                 text="deleteBtn.text"
                                                 click="deleteBtn.click(service.id)"></tiny-button>
                                </div>
                                <div ng-if="service.status == 'published'">
                                    <tiny-button id="applyBtn.id" text="applyBtn.text"
                                                 click="applyBtn.click(service.applyUrl, service.id)"
                                                 class="major-btn"></tiny-button>
                                                <span ng-if="user.vdcId==service.vdcId">
                                                    <tiny-button ng-if="hasServerOperateRight == true"
                                                                 id="cancelPublishBtn.id" text="cancelPublishBtn.text"
                                                                 click="cancelPublishBtn.click(service.id)"></tiny-button>
                                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4">
            <div class="outbox-padding">
                <div class="pull-right top10">
                    <div class="more-title"><a class="btn-link" ui-sref="ssp.order.allApply" ng-bind="homeLabels.showMore"></a></div>
                </div>
                <div class="legend" ng-bind="i18n.service_term_serviceApplicationWorkOrder_label"></div>
                <div class="margin-top-beautifier">
                    <tiny-table id="applys.id" columns="applys.columns" data="applys.data" enable-pagination="applys.enablePagination" render-row="applys.renderRow">
                    </tiny-table>
                </div>
            </div>
            <div class="outbox-padding" ng-if="hasCloudInfrasRight">
                <div class="pull-right top10">
                    <div class="small-icon small-icon-menuicon" style="margin-top: 5px;"></div>
                    <tiny-filtersel id="searchLocation.id" values="searchLocation.values" width="searchLocation.width" change="searchLocation.change()">
                    </tiny-filtersel>
                    <tiny-filtersel id="searchVpc.id" values="searchVpc.values" width="searchVpc.width" change="searchVpc.change()" ng-if="isICT">
                    </tiny-filtersel>
                </div>

                <div class="legend" ng-bind="homeLabels.myResources"></div>
                <div class="clearfix left30 top30">
                    <div class="span6" ng-if="hasVmViewRight">
                        <div class="clearfix">
                            <a class="btn-link fl" ui-sref="ecs.vm"><img src="../theme/default/images/gm/home_vm.png" title="{{homeLabels.vm}}"></a>
                            <div class="fl homeMyResRight">
                                <div ng-bind="myResources.vmLabel" class="homeMyResRight_title"></div>
                                <div class="homeMyResNumber"><a class="btn-link" ui-sref="ecs.vm" ng-bind="myResources.vmValue"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="span6" ng-if="hasDiskViewRight">
                        <div class="clearfix">
                            <a class="btn-link fl" ui-sref="ecs.storage.disk"><img src="../theme/default/images/gm/home_disk.png" title="{{homeLabels.disks}}"></a>
                            <div class="fl homeMyResRight">
                                <div ng-bind="myResources.diskLabel" class="homeMyResRight_title"></div>
                                <div class="homeMyResNumber"><a class="btn-link" ui-sref="ecs.storage.disk" ng-bind="myResources.diskValue"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix left30 top30">
                    <div class="span6" ng-if="hasVpcViewRight">
                        <div class="clearfix">
                            <a class="btn-link fl" ui-sref="network.manager.myVPClist"><img src="../theme/default/images/gm/home_network.png" title="VPC"></a>
                            <div class="fl homeMyResRight">
                                <div ng-bind="myResources.netLabel" class="homeMyResRight_title"></div>
                                <div class="homeMyResNumber"><a class="btn-link" ui-sref="network.manager.myVPClist" ng-bind="myResources.netValue"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="span6" ng-show="!isICT" ng-if="hasAppViewRight">
                        <div class="clearfix">
                            <a class="btn-link fl" ui-sref="application.manager.instance"><img src="../theme/default/images/gm/home_app.png" title="{{homeLabels.app}}"></a>
                            <div class="fl homeMyResRight">
                                <div ng-bind="myResources.appLabel" class="homeMyResRight_title"></div>
                                <div class="homeMyResNumber"><a class="btn-link fl" ui-sref="application.manager.instance" ng-bind="myResources.appValue"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix left30 top30 bottom20" ng-if="deployMode==='serviceCenter'&&IT">
                    <div class="span6">
                        <div class="clearfix">
                            <a class="fl"><img src="../theme/default/images/gm/home_eip.png" title="{{homeLabels.eip}}"></a>
                            <div class="fl homeMyResRight">
                                <div ng-bind="myResources.eipLabel" class="homeMyResRight_title"></div>
                                <div class="homeMyResNumber" ng-bind="myResources.eipValue"></div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="clearfix">
                            <a class="fl"><img src="../theme/default/images/gm/home_sg.png" title="{{homeLabels.sg}}"></a>
                            <div class="fl homeMyResRight">
                                <div ng-bind="myResources.sgLabel" class="homeMyResRight_title"></div>
                                <div class="homeMyResNumber" ng-bind="myResources.sgValue"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .small-layout:nth-of-type(2n+1) {
            margin-right: 10px;
        }
        .serviceCatalogServiceDescription {
            height: 120px;
        }
    </style>
</div>
