<div id="createVmDiv" class="container-fluid">
    <div class="tiny-step-boxset clearfix">
    <div class="createpage-legend" ng-bind="label.createTitle"></div>
    <div class="blank_10"></div>
    <tiny-step id="createStep.id" values="createStep.values" jumpable="createStep.jumpable" width="createStep.width"></tiny-step>
    </div>
    <div  class="top20">
    <div ng-include="stepUrl.step1" ng-show="step == 'template'"></div>
    <div ng-include="stepUrl.step2" ng-show="step == 'basic'"></div>
    <div ng-include="stepUrl.step3" ng-show="step == 'spec'"></div>
    <div ng-include="stepUrl.step4" ng-show="step == 'network'"></div>
    <div ng-include="stepUrl.step5" ng-show="step == 'confirm'"></div>
    </div>
</div>
