<div id="createVmNicDiv">
    <div ng-show="vpcId">
        <tiny-table id="internalTable.id" data="internalTable.data"
                    pagination-style="internalTable.paginationStyle"
                    columns='internalTable.columns' render-row="internalTable.renderRow"
                    total-records="internalTable.totalRecords" length-change="internalTable.lengthChange"
                    cur-page="internalTable.curPage" display-length="internalTable.displayLength"
                    enable-pagination="internalTable.enablePagination" change-select="internalTable.changeSelect"
                    length-menu="internalTable.lengthMenu" callback="internalTable.callback"
                    column-sorting="internalTable.columnSorting" columns-draggable="internalTable.columnsDraggable"></tiny-table>
    </div>
    <div ng-show="!vpcId">
        <tiny-table id="externalTable.id" data="externalTable.data"
                    pagination-style="externalTable.paginationStyle"
                    columns='externalTable.columns' render-row="externalTable.renderRow"
                    total-records="externalTable.totalRecords" length-change="externalTable.lengthChange"
                    cur-page="externalTable.curPage" display-length="externalTable.displayLength"
                    enable-pagination="externalTable.enablePagination" change-select="externalTable.changeSelect"
                    length-menu="externalTable.lengthMenu" callback="externalTable.callback"
                    column-sorting="externalTable.columnSorting"  columns-draggable="externalTable.columnsDraggable"></tiny-table>
    </div>
    <div class="clear_both">
        <div class="blank_10"></div>
        <tiny-button class="major-btn" id="okButton.id" text="okButton.text" click="okButton.click()"></tiny-button>
        <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
    </div>
</div>
<script type="application/javascript">
    require(["app/business/resources/controllers/hypervisor/vm/createVmNicCtrl"], function (createVmNicCtrl) {
        var rootElement = $("#createVmNicDiv");
        rootElement.attr("ng-controller", "resources.vm.createVmNic.ctrl");
        var dep = ['ng', 'wcc', createVmNicCtrl.name];
        dep.unshift(["$provide", function ($provide) {
            $provide.value("$rootElement", rootElement);
        }]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            $compile(rootElement)($rootScope);
            $rootScope.$digest();
        });
    });
</script>