<div id="createVmSpecDiv">
    <tiny-formfield>
        <tiny-item label="osTypeSelector.label" require="osTypeSelector.require"  display="createType == 'empty'">
            <tiny-select id="osTypeSelector.id" values="osTypeSelector.values" width="osTypeSelector.width"
                         change="osTypeSelector.change()"></tiny-select>
        </tiny-item>
        <tiny-item label="osVesionSelector.label" require="osVesionSelector.require"  display="createType == 'empty'">
            <tiny-select id="osVesionSelector.id" values="osVesionSelector.values" width="osVesionSelector.width"
                         change="osVesionSelector.change()" height="osVesionSelector.height"></tiny-select>
        </tiny-item>
        <tiny-item label="cpuCoreSelector.label" require="cpuCoreSelector.require">
            <tiny-select id="cpuCoreSelector.id" value="cpuCoreSelector.value" width="cpuCoreSelector.width"
                         validate="cpuCoreSelector.validate" change="cpuCoreSelector.change()"
                         height="cpuCoreSelector.height"></tiny-select>
        </tiny-item>
        <tiny-item label="slotSelector.label"  display="createType == 'template'">
            <div class="fl">
                <tiny-select id="slotSelector.id" values="slotSelector.values" width="slotSelector.width"
                             change="slotSelector.change()"></tiny-select>
            </div>
            <div class="fl" style="margin-left: 10px;margin-top:3px">{{i18n.common_term_slotNum_label}}: <span
                    ng-bind="slotNum"></span>
            <span popover="{{i18n.vm_vm_create_para_vCPUnumPerSlot_mean_label}}" popover-trigger="mouseenter"
                  popover-placement="right" class="small-icon small-icon-tips"></span>
            </div>
        </tiny-item>
        <tiny-item label="memoryTextbox.label" require="memoryTextbox.require">
            <tiny-textbox id="memoryTextbox.id" value="memoryTextbox.value"
                          extend-function="memoryTextbox.extendFunction" change="memoryTextbox.change()"
                          validate="memoryTextbox.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item>
            <tiny-select id="unitSelector.id" values="unitSelector.values" width="unitSelector.width"
                         change="unitSelector.change()"></tiny-select>
        </tiny-item>
        <tiny-item  display="createType == 'template'">
            <a href="javascript:void(0)" ng-click="setQos()" ng-bind="i18n.common_term_setQoS_button"></a>
            <span popover="{{i18n.vm_vm_create_info_qosModify_tip}}" popover-trigger="mouseenter"
                  popover-placement="right" class="small-icon small-icon-tips"></span>
        </tiny-item>
        <tiny-item label="diskNumSelector.label" require="diskNumSelector.require">
            <tiny-select id="diskNumSelector.id" values="diskNumSelector.values" width="diskNumSelector.width"
                         height="diskNumSelector.height" validate="diskNumSelector.validate"
                         change="diskNumSelector.change()"></tiny-select>
        </tiny-item>
        <tiny-item>
            <div style="width: 1200px"  class="table-tiny-box-height">
                <tiny-table id="diskTable.id" caption="diskTable.caption" data="diskTable.data"
                            columns='diskTable.columns' render-row="diskTable.renderRow"
                            enable-pagination="diskTable.enablePagination"></tiny-table>
            </div>
        </tiny-item>
        <tiny-item label="vmNumTextbox.label" require="vmNumTextbox.require">
            <tiny-textbox id="vmNumTextbox.id" value="vmNumTextbox.value"
                          disable="vmNumTextbox.disable" validate="vmNumTextbox.validate"></tiny-textbox>
            <span popover="{{i18n.vm_vm_create_para_num_mean_tip}}" popover-trigger="mouseenter"
                  popover-placement="right" class="small-icon small-icon-tips"></span>
        </tiny-item>
        <tiny-item label="bootOptionSelector.label" display="createType == 'template'">
            <tiny-select id="bootOptionSelector.id" values="bootOptionSelector.values"
                         width="bootOptionSelector.width"></tiny-select>
        </tiny-item>
        <tiny-item display="model.hyperType == 'FusionCompute' && createType == 'template'">
            <tiny-checkbox id="antiVirusCheckbox.id" text="antiVirusCheckbox.text"
                           change="antiVirusCheckbox.change()"></tiny-checkbox>
        </tiny-item>
        <tiny-item label="secureVmTypeRadio.label" display="model.hyperType == 'FusionCompute' && createType == 'template'">
            <tiny-radiogroup id="secureVmTypeRadio.id" values="secureVmTypeRadio.values"
                             layout="secureVmTypeRadio.layout" layout="secureVmTypeRadio.layout"></tiny-radiogroup>
        </tiny-item>
        <tiny-item display="createType == 'empty'">
            <a href='javascript:void(0)' ng-click='seniorConfig.display = true' ng-show="!seniorConfig.display">{{i18n.common_term_advancedSet_label}}>></a>
            <a href='javascript:void(0)' ng-click='seniorConfig.display = false' ng-show="seniorConfig.display"><<{{i18n.common_term_advancedSet_label}}</a>
        </tiny-item>
        <tiny-item label="haCheckbox.label" display="createType == 'empty' && seniorConfig.display">
            <tiny-checkbox id="haCheckbox.id" text="haCheckbox.text"></tiny-checkbox>
        </tiny-item>
        <tiny-item label="clockSynCheckbox.label" display="createType == 'empty' && seniorConfig.display">
            <tiny-checkbox id="clockSynCheckbox.id" text="clockSynCheckbox.text"></tiny-checkbox>
        </tiny-item>
        <tiny-item label="cpuHotPlugSelector.label" display="createType == 'empty' && seniorConfig.display">
            <tiny-select id="cpuHotPlugSelector.id" values="cpuHotPlugSelector.values"
                         width="cpuHotPlugSelector.width"></tiny-select>
        </tiny-item>
        <tiny-item label="updateMethodSelector.label" display="createType == 'empty' && seniorConfig.display">
            <tiny-select id="updateMethodSelector.id" values="updateMethodSelector.values"
                         width="updateMethodSelector.width"></tiny-select>
        </tiny-item>
        <tiny-item label="hotMigrateRadioGroup.label" display="createType == 'empty' && seniorConfig.display">
            <tiny-radiogroup id="hotMigrateRadioGroup.id" values="hotMigrateRadioGroup.values"
                             layout="hotMigrateRadioGroup.layout"></tiny-radiogroup>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button id="specPreButton.id" text="specPreButton.text" click="specPreButton.click()"></tiny-button>
            <tiny-button id="specNextButton.id" text="specNextButton.text" click="specNextButton.click()" class="major-btn"></tiny-button>
            <tiny-button id="specCancelButton.id" text="specCancelButton.text"
                         click="specCancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<style>
    .allotTypePopover .popover {
        max-width: 600px;
    }
</style>
