<div id="createVmTemplateDiv" class="create-page-distance">
    <tiny-formfield>
        <tiny-item label="createTypeRadioGroup.label" display="action == 'create' && !templateId">
            <tiny-radiogroup id="createTypeRadioGroup.id" values="createTypeRadioGroup.values"
                             layout="createTypeRadioGroup.layout" change="createTypeRadioGroup.change()"></tiny-radiogroup>
        </tiny-item>
        <tiny-item display="action == 'create'">
            <div style="width: 1200">
                <tiny-table id="templateTable.id" caption="templateTable.caption" data="templateTable.data"
                            pagination-style="templateTable.paginationStyle"
                            columns-draggable="templateTable.columnsDraggable"
                            columns='templateTable.columns' render-row="templateTable.renderRow"
                            total-records="templateTable.totalRecords" length-change="templateTable.lengthChange"
                            cur-page="templateTable.curPage" display-length="templateTable.displayLength"
                            enable-pagination="templateTable.enablePagination" change-select="templateTable.changeSelect"
                            length-menu="templateTable.lengthMenu" callback="templateTable.callback"></tiny-table>
            </div>
        </tiny-item>
        <tiny-item display="action == 'clone'">
            <div style="width: 1200">
                <tiny-table id="vmTable.id" data="vmTable.data" columns-draggable="vmTable.columnsDraggable"
                            columns='vmTable.columns' render-row="vmTable.renderRow" total-records="vmTable.totalRecords"
                            enable-pagination="vmTable.enablePagination" callback="vmTable.callback"></tiny-table>
            </div>
        </tiny-item>
        <tiny-item>
            <tiny-button class="major-btn" id="templateNextButton.id" text="templateNextButton.text"
                         click="templateNextButton.click()"></tiny-button>
            <tiny-button id="templateCancelButton.id" text="templateCancelButton.text"
                         click="templateCancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>