<div id="createVmConfirmDiv">
    <tiny-formfield>
        <tiny-item label="nameTextbox.label">
            <div ng-bind="model.vmName"></div>
        </tiny-item>
        <tiny-item label="computerNameTextbox.label"  display="createType == 'template'">
            <div ng-bind="model.computerName"></div>
        </tiny-item>
        <tiny-item label="label.template" display="createType == 'template'">
            <div ng-bind="model.template"></div>
        </tiny-item>
        <tiny-item label="label.osType">
            <div ng-bind="model.confirmOsType"></div>
        </tiny-item>
        <tiny-item label="label.osVersion">
            <div ng-bind="model.confirmOsVersion"></div>
        </tiny-item>
        <tiny-item label="clusterTable.label">
            <div ng-bind="model.clusterName"></div>
        </tiny-item>
        <tiny-item label="hostSelector.label">
            <div ng-bind="model.hostName"></div>
        </tiny-item>
        <tiny-item label="basicDescTextbox.label">
            <div ng-bind="model.description"></div>
        </tiny-item>
        <tiny-item label="cpuCoreSelector.label">
            <div ng-bind="model.coreNum"></div>
        </tiny-item>
        <tiny-item label="memoryTextbox.label">
            <div ng-bind="model.memorySize + model.memoryUnit"></div>
        </tiny-item>
        <tiny-item label="vmNumTextbox.label">
            <div ng-bind="model.vmNumber"></div>
        </tiny-item>
        <tiny-item label="bootOptionSelector.label" display="createType == 'template'">
            <div ng-bind="model.bootOptionStr"></div>
        </tiny-item>
        <tiny-item label="confirmDiskTable.label">
            <div style="width: 1200px">
                <tiny-table id="confirmDiskTable.id" caption="confirmDiskTable.caption" data="confirmDiskTable.data"
                            columns='confirmDiskTable.columns' render-row="confirmDiskTable.renderRow"
                            enable-pagination="confirmDiskTable.enablePagination"></tiny-table>
            </div>
        </tiny-item>
        <tiny-item label="confirmNicTable.label" display="createType == 'template'">
            <div style="width: 1200px">
                <tiny-table id="confirmNicTable.id" caption="confirmNicTable.caption" data="confirmNicTable.data"
                            columns='confirmNicTable.columns' render-row="confirmNicTable.renderRow"
                            enable-pagination="confirmNicTable.enablePagination"></tiny-table>
            </div>
        </tiny-item>
        <tiny-item>
            <div>
                <tiny-button id="confirmPreButton.id" text="confirmPreButton.text"
                             click="confirmPreButton.click()"></tiny-button>
                <tiny-button class="major-btn" id="confirmOkButton.id" text="confirmOkButton.text"
                             click="confirmOkButton.click()"></tiny-button>
                <tiny-button id="confirmCancelButton.id" text="confirmCancelButton.text"
                             click="confirmCancelButton.click()"></tiny-button>
            </div>
        </tiny-item>
    </tiny-formfield>
</div>