<div id="deleteVmConfirmDiv">
    <div class="clear_both color2">
        <div  ng-bind="i18n.vm_vm_del_para_commonDel_mean_tip"></div>
        <div  ng-bind="i18n.vm_vm_del_para_safeDel_mean_tip"></div>
    </div>
    <tiny-formfield>
        <tiny-item>
            <tiny-radiogroup id="safeRadio.id" layout="safeRadio.layout" values="safeRadio.values"></tiny-radiogroup>
        </tiny-item>
        <tiny-item id="holdTime.id" label="holdTime.label" require="holdTime.require">
            <tiny-textbox id="holdTime.id" value="holdTime.value" disable="holdTime.disable" tooltip="holdTime.tooltip"
                          validate="holdTime.validate" tip-position="right" width="holdTime.width">
            </tiny-textbox>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button class="major-btn" id="okButton.id" text="okButton.text" click="okButton.click()"></tiny-button>
            <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="application/javascript">
    require(["app/business/resources/controllers/hypervisor/vm/deleteVmCtrl"], function (deleteVmCtrl) {
        var rootElement = $("#deleteVmConfirmDiv");
        rootElement.attr("ng-controller", "resources.vm.deleteVm.ctrl");
        var dep = ['ng', 'wcc', deleteVmCtrl.name];
        dep.unshift(["$provide", function ($provide) {
            $provide.value("$rootElement", rootElement);
        }]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            $compile(rootElement)($rootScope);
            $rootScope.$digest();
        });
    });
</script>