<div id="editVmTagDiv">
    <div class="blank_10"></div>
    <tiny-formfield>
        <tiny-item label="tagTextbox.label" require="tagTextbox.require">
            <tiny-textbox id="tagTextbox.id" value="tagTextbox.value"
                          validate="tagTextbox.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button class="major-btn" id="okButton.id" text="okButton.text" click="okButton.click()"></tiny-button>
            <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>

<script type="application/javascript">
    require(['app/business/resources/controllers/hypervisor/vm/editTagCtrl'],
            function (editTagCtrl) {
                var rootElement = $("#editVmTagDiv");
                rootElement.attr("ng-controller", "resources.vm.editTag.ctrl");
                var dep = ['ng', 'wcc', editTagCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", rootElement);
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile(rootElement)($rootScope);
                    $rootScope.$digest();
                });
            });
</script>
