<div id="exportVmDiv">
    <p ng-bind-html="vm_vm_export_para_path_mean_label" class="bottom10"></p>
    <tiny-formfield>
        <tiny-item label="protocolSelector.label" require="protocolSelector.require">
            <tiny-select id="protocolSelector.id" values="protocolSelector.values" width="protocolSelector.width"
                         validate="protocolSelector.validate"></tiny-select>
            <span popover="{{i18n.vm_vm_export_para_mode_mean_label}}" popover-trigger="mouseenter"
                  popover-placement="right" class="small-icon small-icon-tips"></span>
        </tiny-item>
        <tiny-item label="nameTextbox.label" require="nameTextbox.require">
            <tiny-textbox id="nameTextbox.id" value="nameTextbox.value"
                          validate="nameTextbox.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="dirTextbox.label" require="dirTextbox.require">
            <tiny-textbox id="dirTextbox.id" value="dirTextbox.value" height="dirTextbox.height"
                          validate="dirTextbox.validate" type="dirTextbox.type" extend-function="dirTextbox.extendFunction"></tiny-textbox>
            <span popover="{{i18n.vm_vm_export_para_path_mean_tip}}" popover-trigger="mouseenter"
                  popover-placement="right" class="small-icon small-icon-tips"></span>
        </tiny-item>
        <tiny-item>
            <div class="fl" style="margin-top: 3px">
                <tiny-checkbox id="accountCheckbox.id" text="accountCheckbox.text"
                           change="accountCheckbox.change()" checked="accountCheckbox.checked"></tiny-checkbox>
            </div>
            <div class="fl">
                <span popover="{{i18n.vm_vm_export_para_user_mean_tip}}" popover-trigger="mouseenter"
                    popover-placement="right" class="small-icon small-icon-tips"></span>
            </div>
        </tiny-item>
        <tiny-item>
            <div ng-bind="i18n.vm_vm_import_info_user_label" class="color2"></div>
        </tiny-item>
        <tiny-item label="usernameTextbox.label" require="usernameTextbox.require">
            <tiny-textbox id="usernameTextbox.id" value="usernameTextbox.value"
                          validate="usernameTextbox.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="passwordTextbox.label" require="passwordTextbox.require">
            <tiny-textbox id="passwordTextbox.id" value="passwordTextbox.value"
                          validate="passwordTextbox.validate" type="passwordTextbox.type"></tiny-textbox>
        </tiny-item>
        <tiny-item>
            <tiny-checkbox id="coverCheckbox.id" text="coverCheckbox.text"></tiny-checkbox>
        </tiny-item>
        <tiny-item>
            <tiny-button class="major-btn" id="okButton.id" text="okButton.text" click="okButton.click()"></tiny-button>
            <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="application/javascript">
    require(["app/business/resources/controllers/hypervisor/vm/exportVmCtrl"], function (exportVmCtrl) {
        var rootElement = $("#exportVmDiv");
        rootElement.attr("ng-controller", "resources.vm.exportVm.ctrl");
        var dep = ['ng', 'wcc', exportVmCtrl.name];
        dep.unshift(["$provide", function ($provide) {
            $provide.value("$rootElement", rootElement);
        }]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            $compile(rootElement)($rootScope);
            $rootScope.$digest();
        });
    });
</script>