<div id="importVmTargetDiv">
    <tiny-formfield>
        <tiny-item label="nameTextbox.label" require="nameTextbox.require">
            <tiny-textbox id="nameTextbox.id" value="nameTextbox.value" tooltip="nameTextbox.tooltip"
                          validate="nameTextbox.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="label.cluster" display="!clusterIndex">
            <div style="width: 1200px">
                <tiny-table id="clusterTable.id" data="clusterTable.data"
                            pagination-style="clusterTable.paginationStyle"
                            columns='clusterTable.columns' render-row="clusterTable.renderRow"
                            total-records="clusterTable.totalRecords" length-change="clusterTable.lengthChange"
                            cur-page="clusterTable.curPage" display-length="clusterTable.displayLength"
                            enable-pagination="clusterTable.enablePagination"
                            change-select="clusterTable.changeSelect"
                            length-menu="clusterTable.lengthMenu" callback="clusterTable.callback"
                            columns-draggable="clusterTable.columnsDraggable"></tiny-table>
            </div>
        </tiny-item>
        <tiny-item>
            <tiny-checkbox id="hostCheckbox.id" text="hostCheckbox.text" disable="hostCheckbox.disable"
                           change="hostCheckbox.change()"></tiny-checkbox>
        </tiny-item>
        <tiny-item>
            <div  ng-if="targetType == 'host'"  style="width: 1200px">
                <tiny-table id="hostTable.id" data="hostTable.data"
                            columns='hostTable.columns' render-row="hostTable.renderRow"
                            enable-pagination="hostTable.enablePagination"
                            columns-draggable="hostTable.columnsDraggable"></tiny-table>
            </div>
        </tiny-item>
        <tiny-item label="basicDescTextbox.label" require="basicDescTextbox.require">
            <tiny-textbox id="basicDescTextbox.id" value="basicDescTextbox.value" height="basicDescTextbox.height"
                          validate="basicDescTextbox.validate" type="basicDescTextbox.type"></tiny-textbox>
        </tiny-item>
        <tiny-item>
            <tiny-button class="major-btn" id="targetPreButton.id" text="targetPreButton.text"
                         click="targetPreButton.click()"></tiny-button>
            <tiny-button id="targetNextButton.id" text="targetNextButton.text"
                         click="targetNextButton.click()"></tiny-button>
            <tiny-button id="targetCancelButton.id" text="targetCancelButton.text"
                         click="targetCancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>