<div id="importTemplateDiv">
    <div class="color2 bottom10">
        <p ng-bind-html="i18n.vm_vm_importVM_desc_label"></p>
        <p ng-bind-html="i18n.vm_vm_importVM_info_condition_label"></p>
    </div>
    <tiny-formfield>
        <tiny-item label="protocolSelector.label" require="protocolSelector.require">
            <tiny-select id="protocolSelector.id" values="protocolSelector.values"
                         width="protocolSelector.width"></tiny-select>
            <span popover="{{i18n.vm_vm_import_para_mode_mean_label}}" popover-trigger="mouseenter"
                  popover-placement="right" class="small-icon small-icon-tips"></span>
        </tiny-item>
        <tiny-item label="templateFile.label" require="templateFile.require">
            <tiny-fileupload id="templateFile.id" enable-detail="templateFile.enableDetail"
                             enable-progress="templateFile.enableProgress" action="templateFile.action"
                             file-type="templateFile.fileType" max-count="templateFile.maxCount"
                             complete="templateFile.complete" select-error="templateFile.selectError"
                             file-obj-name="templateFile.fileObjName" before-submit="templateFile.beforeSubmit"
                             select="templateFile.select"></tiny-fileupload>
        </tiny-item>
        <tiny-item label="dirTextbox.label" require="dirTextbox.require">
            <tiny-textbox id="dirTextbox.id" value="dirTextbox.value" width="dirTextbox.width"
                          validate="dirTextbox.validate" type="dirTextbox.type"  extend-function="dirTextbox.extendFunction"></tiny-textbox>
            <span popover="{{i18n.vm_vm_export_para_path_mean_tip}}" popover-trigger="mouseenter"
            popover-placement="right" class="small-icon small-icon-tips"></span>
        </tiny-item>
        <tiny-item>
            <div class="fl" style="margin-top: 3px">
                <tiny-checkbox id="accountCheckbox.id" text="accountCheckbox.text"
                               change="accountCheckbox.change()" checked="accountCheckbox.checked"></tiny-checkbox>
            </div>
            <div class="fl">
                <span popover="{{i18n.vm_vm_export_para_user_mean_tip}}" popover-trigger="mouseenter"
                     popover-placement="right" class="small-icon small-icon-tips"></span>
            </div>
        </tiny-item>
        <tiny-item>
            <p class="color2" ng-bind="i18n.vm_vm_import_info_user_label"></p>
        </tiny-item>
        <tiny-item label="usernameTextbox.label" require="usernameTextbox.require">
            <tiny-textbox id="usernameTextbox.id" value="usernameTextbox.value"
                          validate="usernameTextbox.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="passwordTextbox.label" require="passwordTextbox.require">
            <tiny-textbox id="passwordTextbox.id" value="passwordTextbox.value"
                          validate="passwordTextbox.validate" type="passwordTextbox.type"></tiny-textbox>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button class="major-btn" id="templateNextButton.id" text="templateNextButton.text"
                         click="templateNextButton.click()"></tiny-button>
            <tiny-button id="templateCancelButton.id" text="templateCancelButton.text"
                         click="templateCancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<style>
    #exportFileBox .tiny-file-upload-button {
        display: none
    }

    #exportFileBox .tiny-file-title {
        display: none
    }
</style>