<div id="add_environment_div" class="container-fluid">
    <div class="tiny-step-boxset clearfix">
        <div class="createpage-legend" ng-bind="title"></div>
        <div class="blank_10"></div>
        <tiny-step id="importStep.id" values="importStep.values" jumpable="importStep.jumpable"
                   width="importStep.width"></tiny-step>
        <div class="blank_10 clear_both"></div>
    </div>
    <div class="content create-page-distance">
        <div ng-include="stepUrl.step1" ng-show="curStep == 'template'"></div>
        <div ng-include="stepUrl.step2" ng-show="curStep == 'target'" ng-if="initTable"></div>
        <div ng-include="stepUrl.step3" ng-show="curStep == 'spec'"></div>
        <div ng-include="stepUrl.step4" ng-show="curStep == 'network'"></div>
        <div ng-include="stepUrl.step5" ng-show="curStep == 'confirm'"></div>
    </div>
</div>
