<div id="migrateTargetDiv">
    <div ng-show="methodShow.host">
        <div class="bottom10 color-gray" ng-bind-html="i18n.vm_vm_migrate_info_mode_option_changeHost_label"></div>
        <div class="clearfix">
            <div class="fl">
                <tiny-radiogroup id="targetRadioGroup.id" values="targetRadioGroup.values"
                                 layout="targetRadioGroup.layout" change="targetRadioGroup.change()"></tiny-radiogroup>
            </div>
            <div class="fl left15">
                {{i18n.vm_vm_migrate_para_mode_mean_host_label}}<br/>
                {{i18n.vm_vm_migrate_para_mode_mean_condition_label}}
            </div>
        </div>
        <div ng-show="targetHostShow.destination" class="clearfix" style="margin:15px 0px;">
            <div class="fl">
                <tiny-formfield>
                    <tiny-item label="clusterSelector.label">
                        <tiny-select id="clusterSelector.id" values="clusterSelector.values"
                                     width="clusterSelector.width"  change="condCluster.change"></tiny-select>
                    </tiny-item>
                </tiny-formfield>
            </div>
            <div class="fl" style="margin-left:10px">
                <tiny-formfield>
                    <tiny-item label="searchHostBox.label">
                        <div class="fl">
                            <tiny-textbox id="searchHostBox.id" validate="searchHostBox.validate"></tiny-textbox>
                        </div>
                        <div class="fl" style="margin-left:10px">
                            <tiny-button id="destSearchButton.id" text="destSearchButton.text" click="destSearchButton.click()"></tiny-button>
                        </div>
                    </tiny-item>
                </tiny-formfield>
            </div>
            <div class="clear_both">
                <tiny-table id="destHostTable.id" data="destHostTable.data"
                        pagination-style="destHostTable.paginationStyle"
                        columns='destHostTable.columns' render-row="destHostTable.renderRow"
                        total-records="destHostTable.totalRecords" length-change="destHostTable.lengthChange"
                        cur-page="destHostTable.curPage" display-length="destHostTable.displayLength"
                        enable-pagination="destHostTable.enablePagination" change-select="destHostTable.changeSelect"
                        length-menu="destHostTable.lengthMenu" callback="destHostTable.callback"
                        column-sorting="destHostTable.columnSorting"></tiny-table>
            </div>
        </div>
        <div ng-show="targetHostShow.condition" class="clearfix" style="margin:15px 0px;" id="condHostDiv">
            <div class="fl">
                <tiny-formfield>
                    <tiny-item label="condCluster.label">
                        <tiny-select id="condCluster.id" values="condCluster.values" width="condCluster.width"
                                     change="condCluster.change"></tiny-select>
                    </tiny-item>
                    <tiny-item label="cpuRateFrom.label">
                        <div class="fl">
                            <tiny-textbox id="cpuRateFrom.id" validate="cpuRateFrom.validate" width="60"
                                          extend-function="cpuRateFrom.extendFunction"></tiny-textbox>
                            ~
                        </div>
                        <div class="fl">
                            <tiny-textbox id="cpuRateTo.id" validate="cpuRateTo.validate"   width="60"
                                          extend-function="cpuRateTo.extendFunction"></tiny-textbox>
                        </div>
                    </tiny-item>
                    <tiny-item label="cpuFreeSelector.label">
                        <div class="fl">
                            <tiny-select id="cpuFreeSelector.id" values="cpuFreeSelector.values" width="60"></tiny-select>
                        </div>
                        <div class="fl" style="margin-left:13px">
                            <tiny-textbox id="cpuFreeTextbox.id" validate="cpuFreeTextbox.validate" width="60"
                                          extend-function="cpuFreeTextbox.extendFunction"></tiny-textbox>
                        </div>
                    </tiny-item>
                </tiny-formfield>
            </div>
            <div class="fl" style="margin-left:13px">
                <tiny-formfield>
                    <tiny-item>
                        <div style="height:25px"></div>
                    </tiny-item>
                    <tiny-item label="memoryRateFrom.label">
                        <div class="fl">
                            <tiny-textbox id="memoryRateFrom.id" validate="memoryRateFrom.validate" width="60"
                                          extend-function="memoryRateFrom.extendFunction"></tiny-textbox>
                            ~
                        </div>
                        <div class="fl">
                            <tiny-textbox id="memoryRateTo.id" validate="memoryRateTo.validate"  width="60"
                                          extend-function="memoryRateTo.extendFunction"></tiny-textbox>
                        </div>
                    </tiny-item>
                    <tiny-item label="memoryFreeSelector.label">
                        <div class="fl">
                            <tiny-select id="memoryFreeSelector.id" values="memoryFreeSelector.values" width="60"></tiny-select>
                        </div>
                        <div class="fl" style="margin-left:13px">
                            <tiny-textbox id="memoryFreeTextbox.id" validate="memoryFreeTextbox.validate" width="60"
                                          extend-function="memoryFreeTextbox.extendFunction"></tiny-textbox>
                        </div>
                        <div class="fl"  style="margin-left:13px">
                            <tiny-button id="condSearchButton.id" text="condSearchButton.text" click="condSearchButton.click()"></tiny-button>
                        </div>
                    </tiny-item>
                </tiny-formfield>
            </div>
            <div class="clear_both">
                <tiny-table id="condHostTable.id" data="condHostTable.data"
                        pagination-style="condHostTable.paginationStyle"
                        columns='condHostTable.columns' render-row="condHostTable.renderRow"
                        total-records="condHostTable.totalRecords" length-change="condHostTable.lengthChange"
                        cur-page="condHostTable.curPage" display-length="condHostTable.displayLength"
                        enable-pagination="condHostTable.enablePagination"  change-select="condHostTable.changeSelect"
                        length-menu="condHostTable.lengthMenu" callback="condHostTable.callback"
                        column-sorting="condHostTable.columnSorting"></tiny-table>
            </div>
        </div>
    </div>
    <div ng-show="methodShow.store">
        <div>
            <tiny-radiogroup id="storeRadioGroup.id" values="storeRadioGroup.values"
                             layout="storeRadioGroup.layout" change="storeRadioGroup.change()"></tiny-radiogroup>
        </div>
        <div class="clear_both">
        <div ng-show="storeBaseShow.store">
            <div class="clear_both bottom5">
                {{i18n.vm_term_chooseTargetStor_label}}
            </div>
            <div class="clearfix">
                <tiny-table id="storeTable.id" caption="storeTable.caption" data="storeTable.data"
                            pagination-style="storeTable.paginationStyle"
                            columns='storeTable.columns' render-row="storeTable.renderRow"
                            total-records="storeTable.totalRecords" length-change="storeTable.lengthChange"
                            cur-page="storeTable.curPage" display-length="storeTable.displayLength"
                            enable-pagination="storeTable.enablePagination"
                            length-menu="storeTable.lengthMenu" callback="storeTable.callback"
                            change-select="storeTable.changeSelect"></tiny-table>
            </div>
            <div class="row-fluid bottom10 top10">
                <div class="span3">
                    <tiny-formfield>
                        <tiny-item label="storeSpeedRadio.label">
                            <tiny-radiogroup id="storeSpeedRadio.id" values="storeSpeedRadio.values"
                                             change="storeSpeedRadio.change()"
                                             layout="storeSpeedRadio.layout"></tiny-radiogroup>
                        </tiny-item>
                    </tiny-formfield>
                </div>
                <div class="span4">
                    <span ng-bind="i18n.vm_vm_migrate_para_rate_Mean_fast_label"></span>
                    <br/>
                    <span ng-bind="i18n.vm_vm_migrate_para_rate_Mean_mid_label"></span>
                </div>
            </div>
            <div class="clear_both bottom5">
                {{i18n.vm_term_targetCfgMode_label}}
            </div>
            <div class="clearfix">
                <tiny-table id="modeTable.id" caption="modeTable.caption" data="modeTable.data"
                            pagination-style="modeTable.paginationStyle"
                            columns='modeTable.columns' render-row="modeTable.renderRow"
                            total-records="modeTable.totalRecords" length-change="modeTable.lengthChange"
                            cur-page="modeTable.curPage" display-length="modeTable.displayLength"
                            enable-pagination="modeTable.enablePagination"
                            length-menu="modeTable.lengthMenu" callback="modeTable.callback"
                            change-select="modeTable.changeSelect"></tiny-table>
            </div>
            <div class="line-height30" ng-bind="i18n.vm_vm_migrate_info_bondShareDisk_msg"></div>
        </div>
        <div ng-show="storeBaseShow.disk">
            <div class="clearfix">
                <tiny-table id="diskTable.id" caption="diskTable.caption" data="diskTable.data"
                            pagination-style="diskTable.paginationStyle"
                            columns='diskTable.columns' render-row="diskTable.renderRow"
                            total-records="diskTable.totalRecords" length-change="diskTable.lengthChange"
                            cur-page="diskTable.curPage" display-length="diskTable.displayLength"
                            enable-pagination="diskTable.enablePagination"
                            length-menu="diskTable.lengthMenu" callback="diskTable.callback"
                            change-select="diskTable.changeSelect"></tiny-table>
            </div>
            <div class="row-fluid top10 bottom10">
                <div class="span2">
                    <tiny-formfield>
                        <tiny-item label="storeSpeedRadio.label">
                            <tiny-radiogroup id="storeSpeedRadio.id" values="storeSpeedRadio.values"
                                             change="storeSpeedRadio.change()"
                                             layout="storeSpeedRadio.layout"></tiny-radiogroup>
                        </tiny-item>
                    </tiny-formfield>
                </div>
                <div class="span4">
                    <span ng-bind="i18n.vm_vm_migrate_para_rate_Mean_fast_label"></span>
                    <br/>
                    <span ng-bind="i18n.vm_vm_migrate_para_rate_Mean_mid_label"></span>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="clear_both fm-btn-top-smaller">
        <tiny-button id="targetPreButton.id" text="targetPreButton.text" click="targetPreButton.click()"></tiny-button>
        <tiny-button class="major-btn" id="targetOkButton.id" text="targetOkButton.text" click="targetOkButton.click()" disable="targetOkButton.disable"></tiny-button>
        <tiny-button id="targetCancelButton.id" text="targetCancelButton.text"
                     click="targetCancelButton.click()"></tiny-button>
    </div>
</div>