<div id="migrateSelectStoreDiv">
    <div>
        <tiny-table id="storeTableWin.id" data="storeTableWin.data"
                    pagination-style="storeTableWin.paginationStyle"
                    columns='storeTableWin.columns' render-row="storeTableWin.renderRow"
                    total-records="storeTableWin.totalRecords" length-change="storeTableWin.lengthChange"
                    cur-page="storeTableWin.curPage" display-length="storeTableWin.displayLength"
                    enable-pagination="storeTableWin.enablePagination"
                    length-menu="storeTableWin.lengthMenu" callback="storeTableWin.callback"
                    columns-draggable="storeTableWin.draggable"></tiny-table>
    </div>
    <div class="clear_both">
        <div class="blank_10"></div>
        <tiny-button class="major-btn" id="okButton.id" text="okButton.text" click="okButton.click()"></tiny-button>
        <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
    </div>
</div>
<script type="application/javascript">
    require(["app/business/resources/controllers/hypervisor/vm/migrateSelectStoreCtrl"], function (migrateSelectStoreCtrl) {
        var rootElement = $("#migrateSelectStoreDiv");
        rootElement.attr("ng-controller", "resources.vm.migrateSelectStore.ctrl");
        var dep = ['ng', 'wcc', migrateSelectStoreCtrl.name];
        dep.unshift(["$provide", function ($provide) {
            $provide.value("$rootElement", rootElement);
        }]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            $compile(rootElement)($rootScope);
            $rootScope.$digest();
        });
    });
</script>