<link href="../theme/default/css/line_plot.css" type="text/css" rel="stylesheet"/>

<div class="container-fluid">
<div class="crumbs pr">
    <ul class="breadcrumb">
        <li>
            <a ui-sref="vdcMgr.vdc.vm">{{i18n.common_term_vms_label}}</a> <span class="divider">&gt;</span>
        </li>
        <li class="active"><a ui-sref="resources.vmInfo.summary">{{vmName}}</a><span class="divider">&gt;</span></li>
        <li class="active">{{i18n.common_term_summary_label}}</li>
        <li class="crumbs_line"></li>
    </ul>
    <div class="help-pa">
        <div ng-click="help.show=true" class="small-icon small-icon-help"></div>
    </div>
</div>
<div id="vmInfoSummaryDiv" class="container-fluid">
<span id="vnc-applet-id"></span>
<span id="checkJRE"></span>

<div class="content-right-box">
<div class="bottom10">
    <tiny-button class="major-btn" id="vncButton.id" text="vncButton.text" click="vncButton.click()"
                 ng-if="vncRight"></tiny-button>
    <tiny-button id="startButton.id" text="startButton.text" click="startButton.click()"
                 ng-if="basicRight" disable="startButton.disable"></tiny-button>
    <tiny-button id="stopButton.id" text="stopButton.text" click="stopButton.click()"
                 ng-if="basicOperable"></tiny-button>
    <tiny-button id="refreshButton.id" text="refreshButton.text"
                 click="refreshButton.click()"></tiny-button>

    <div class="btn-group bottom5" ng-if="basicOperable || advanceOperable || createAble || vncRight || basicRight">
        <a class="dropdown-toggle btn-link tiny-button-buttonDefault tiny-button-buttonClass" data-toggle="dropdown">
            <div class="tiny-button tiny-button-buttonInnerClass">
                <div class="tiny-right">
                    <div class="tiny-center">
                        <div class="tiny-leftImg" style="display: none;"></div>
                        <span class="ecsVmsMoreHover tiny-button-buttonCenterText"
                              ng-bind="i18n.common_term_more_button"></span>
                        <span class="tiny-menubutton-caret"></span>

                        <div class="tiny-rightImg" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </a>
        <ul class="dropdown-menu vmOptWidth">
            <li ng-class="{disabled: status != 'running'}" ng-if="basicRight">
                <a class="btn-link" ng-click="reboot()" ng-bind="i18n.common_term_restart_button"></a>
            </li>
            <li ng-class="{disabled: status != 'running'}" ng-if="basicOperable">
                <a class="btn-link" ng-click="sleep()" ng-bind="i18n.common_term_hibernate_button"></a>
            </li>
            <li ng-class="{disabled:status != 'running' && status != 'stopping' && status != 'rebooting' &&
                             status != 'pause' && status != 'fault_resuming' && status != 'hibernated' && status != 'unknown'}"
                ng-if="basicOperable">
                <a class="btn-link" ng-click="forceStop()" ng-bind="i18n.common_term_forciblyShut_button"></a>
            </li>
            <li ng-class="{disabled: status != 'running' && status != 'rebooting'}" ng-if="basicOperable">
                <a class="btn-link" ng-click="forceReboot()" ng-bind="i18n.common_term_forciblyRestart_button"></a>
            </li>
            <li class="divider-line" ng-if="advanceOperable"></li>
            <li ng-class="{disabled: status == 'REPAIRING'}" ng-if="advanceOperable">
                <a class="btn-link" ng-click="incorporate()" ng-bind="i18n.common_term_incorporate_button"></a>
            </li>
            <li ng-class="{disabled: status == 'REPAIRING'}" ng-if="advanceOperable">
                <a class="btn-link" ng-click="transferVm()" ng-bind="i18n.common_term_allocate_button"></a>
            </li>
            <li ng-class="{disabled: status != 'stopped' && status != 'running'}" ng-if="advanceOperable">
                <a class="btn-link" ng-click="migrate()" ng-bind="i18n.vm_term_Migrate_button"></a>
            </li>
            <li ng-class="{disabled: status != 'stopped'}" ng-if="advanceOperable">
                <a class="btn-link" ng-click="convertToTemplate()" ng-bind="i18n.vm_term_convertToTemplate_button"></a>
            </li>
            <li ng-if="hyperType != 'vmware' && advanceOperable"
                ng-class="{disabled: status != 'stopped' && status != 'running'}">
                <a class="btn-link" ng-click="repairVm()" ng-bind="i18n.vm_term_restoreVM_button"></a>
            </li>
            <li ng-show="hyperType != 'vmware' && advanceOperable && exportAble"
                ng-class="{disabled: status != 'stopped' && status != 'running'}">
                <a class="btn-link" ng-click="exportVm()" ng-bind="i18n.vm_term_exportVM_button"></a>
            </li>
            <li class="divider-line" ng-if="hyperType != 'vmware' && createAble"></li>
            <li ng-if="hyperType != 'vmware' && category == 2 && createAble">
                <a class="btn-link" ng-click="importVm()" ng-bind="i18n.vm_term_importVM_button"></a>
            </li>
            <li ng-if="hyperType != 'vmware' && createAble"
                ng-class="{disabled: status != 'running' && status != 'stopped'}">
                <a class="btn-link" ng-click="cloneVm()" ng-bind="i18n.vm_term_cloneVM_button"></a>
            </li>
            <li class="divider-line" ng-if="vncRight"></li>
            <li ng-if="vncRight" ng-class="{disabled: !vncpassword}">
                <a class="btn-link" ng-click="viewPwd()" ng-bind="i18n.common_term_queryInitialPsw_button"></a>
            </li>
        </ul>
    </div>
</div>
<div class="row-fluid">
<div class="span5">
    <div class="outbox-padding">
        <div class="legend" ng-bind-html="i18n.common_term_basicInfo_label"></div>
        <tiny-formfield>
            <tiny-item label="label.name">
                <div ng-if="!nameItem.modifying">
                                <span ng-bind="nameItem.value" style="width: 200px;word-break:break-all"
                                      id="vmInfoNameSpan"></span>
                                <span class="btn-link" ng-click="nameItem.clickModify()" ng-if="advanceOperable">
                                <img src="../theme/default/images/gm/edit.gif"/>
                            </span>
                </div>
                <div ng-if="nameItem.modifying">
                    <tiny-textbox id="nameItem.id" value="nameItem.value" blur="nameItem.blur()"
                                  keypressfn="nameItem.keypressfn" width="150"
                                  validate="nameItem.validate"></tiny-textbox>
                </div>
            </tiny-item>
            <tiny-item label="label.vmId">
                {{vmVisibleId}}
            </tiny-item>
            <tiny-item label="label.longId">
                {{vmId}}
            </tiny-item>
            <tiny-item label="label.ip">
                <div class="autoWrap" ng-bind-html="ip"></div>
            </tiny-item>
            <tiny-item label="label.mac">
                <div class="autoWrap" ng-bind-html="mac"></div>
            </tiny-item>
            <tiny-item label="label.desc">
                <div ng-if="!descItem.modifying">
                                <span ng-bind="descItem.value" style="width: 200px;word-break:break-all"
                                      id="vmInfoDescSpan"></span>
                                <span class="btn-link" ng-click="descItem.clickModify()" ng-if="advanceOperable">
                                <img src="../theme/default/images/gm/edit.gif"/>
                            </span>
                </div>
                <div ng-if="descItem.modifying">
                    <tiny-textbox id="descItem.id" value="descItem.value" blur="descItem.blur()"
                                  keypressfn="descItem.keypressfn" type="descItem.type"
                                  height="descItem.height" validate="descItem.validate"></tiny-textbox>
                </div>
            </tiny-item>
            <tiny-item label="label.status">
                {{statusStr}}
            </tiny-item>
            <tiny-item label="label.host">
                {{hostName}}
            </tiny-item>
            <tiny-item label="label.tools">
                {{tools}}
            </tiny-item>
            <tiny-item label="label.app">
                {{app}}
            </tiny-item>
            <tiny-item label="label.tag">
                <div ng-if="!tagItem.modifying">
                    <span ng-bind="tagItem.value" style="width: 200px;word-break:break-all"></span>
                                <span class="btn-link" ng-click="tagItem.clickModify()" ng-if="advanceOperable">
                                <img src="../theme/default/images/gm/edit.gif"/>
                            </span>
                </div>
                <div ng-if="tagItem.modifying">
                    <tiny-textbox id="tagItem.id" value="tagItem.value" blur="tagItem.blur()"
                                  keypressfn="tagItem.keypressfn" width="150"
                                  validate="tagItem.validate"></tiny-textbox>
                </div>
            </tiny-item>
            <tiny-item label="label.createTime">
                {{createTime}}
            </tiny-item>
            <tiny-item label="label.os">
                {{os}}
            </tiny-item>
            <tiny-item label="label.vmType">
                {{type}}
            </tiny-item>
            <tiny-item label="label.imc">
                {{imc}}
            </tiny-item>
        </tiny-formfield>
    </div>
    <div class="outbox-padding">
        <div class="fr" style="line-height: 40px;">
            <a href="javascript:void(0)" ng-click="gotoAlarm('0')" ng-bind="i18n.common_term_more_button"></a>
        </div>
        <div class="legend" ng-bind="i18n.alarm_term_alarm_label"></div>
        <div class="row-fluid" style="line-height: 18px;">
            <div class="span1">
                <div class="pointer alarm-icon alarm-0" title="{{i18n.alarm_term_AlarmCritical_label}}"
                     ng-click="gotoAlarm('1')">
                    <a class="text-zero1" href="javascript:void(0)" ng-bind="alarmInfo.critical"></a>
                </div>
            </div>
            <div class="span1">
                <div class="pointer alarm-icon alarm-1" title="{{i18n.alarm_term_alarmMajor_label}}"
                     ng-click="gotoAlarm('2')">
                    <a class="text-zero1" href="javascript:void(0)" ng-bind="alarmInfo.major"></a>
                </div>
            </div>
            <div class="span1">
                <div class="pointer alarm-icon alarm-2" title="{{i18n.alarm_term_alarmMinor_label}}"
                     ng-click="gotoAlarm('3')">
                    <a class="text-zero1" href="javascript:void(0)" ng-bind="alarmInfo.minor"></a>
                </div>
            </div>
            <div class="span1">
                <div class="pointer alarm-icon alarm-3" title="{{i18n.alarm_term_alarmWarning_label}}"
                     ng-click="gotoAlarm('4')">
                    <a class="text-zero1" href="javascript:void(0)" ng-bind="alarmInfo.warning"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="span7">

    <div class="outbox-padding" ng-if="privilege['perform_term_monitor_label.107001']">
        <div class="legend" ng-bind="i18n.common_term_monitorInfo_label"></div>
        <div class="row-fluid">
            <div class="row-fluid top10 bottom10">
                <div class="span6">
                    <div class="color2">{{i18n.perform_term_CPUusageRate_label}}：</div>
                    <div>{{cpu_usage}}%</div>
                </div>
                <div class="span6" ng-show="hyperType != 'vmware'">
                    <div class="color2">{{i18n.perform_term_CPUwait_label}}：</div>
                    <div>{{cpu_ready_time}}ms</div>
                </div>
            </div>
            <div class="row-fluid  line-height30">
                <div class="span6">
                    <div class="color2">{{i18n.perform_term_diskUsageRate_label}}：</div>
                    <div>{{disk_usage}}%</div>
                </div>
                <div class="span6">
                    <div class="color2">{{i18n.perform_term_memUsageRate_label}}：</div>
                    <div>{{mem_usage}}%</div>
                </div>
            </div>

            <div class="row-fluid  line-height30">
                <div class="span6">
                    <div class="color2">{{i18n.common_term_netOutRate_label}}：</div>
                    <div>{{net_io_out}}KB/s</div>
                </div>
                <div class="span6">
                    <div class="color2">{{i18n.common_term_netInRate_label}}：</div>
                    <div>{{net_io_in}}KB/s</div>
                </div>
            </div>
            <div class="row-fluid  line-height30">
                <div class="span6">
                    <div class="color2">{{i18n.common_term_diskIOwrite_label}}：</div>
                    <div>{{disk_io_in}}KB/s</div>
                </div>
                <div class="span6">
                    <div class="color2">{{i18n.common_term_diskIOread_label}}：</div>
                    <div>{{disk_io_out}}KB/s</div>
                </div>
            </div>

            <div class="row-fluid  line-height30" ng-show="hyperType != 'vmware'">
                <div class="span6">
                    <div class="color2">{{i18n.common_term_diskWriteDelay_label}}：</div>
                    <div>{{disk_write_delay}}ms</div>
                </div>
                <div class="span6">
                    <div class="color2">{{i18n.common_term_diskReadDelay_label}}：</div>
                    <div>{{disk_read_delay}}ms</div>
                </div>
            </div>
            <div class="row-fluid  line-height30" ng-show="hyperType != 'vmware'">
                <div class="span6">
                    <div class="color2">{{i18n.common_term_diskIOreadNum_label}}：</div>
                    <div>{{disk_in_ps}}{{i18n.common_term_entry_label}}/s</div>
                </div>
                <div class="span6">
                    <div class="color2">{{i18n.common_term_diskIOwriteNum_label}}：</div>
                    <div>{{disk_out_ps}}{{i18n.common_term_entry_label}}/s</div>
                </div>
            </div>
        </div>
    </div>

    <div class="outbox-padding" ng-show="hyperType == 'fusioncompute'">
        <div class="legend none-line" ng-bind="i18n.common_term_NICinfo_label"></div>
        <div class="clearfix">
            <tiny-table id="nicTable.id" data="nicTable.data" columns-draggable="nicTable.columnsDraggable"
                        columns='nicTable.columns' render-row="nicTable.renderRow"
                        enable-pagination="nicTable.enablePagination"></tiny-table>
        </div>
    </div>

    <div class="outbox-padding" ng-show="hyperType == 'fusioncompute'">
        <div class="legend none-line" ng-bind="i18n.common_term_diskInfo_label"></div>
        <div class="clearfix">
            <tiny-table id="diskTable.id" data="diskTable.data" columns-draggable="diskTable.columnsDraggable"
                        columns='diskTable.columns' render-row="diskTable.renderRow"
                        enable-pagination="diskTable.enablePagination"></tiny-table>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div fm-help help="'drawer_vm_summary'" i18n="'zh'" show="help.show"></div>
</div>
