<div id="hypervisor_vm_div" class="container-fluid">
    <div class="crumbs">
        <ul class="breadcrumb"  ng-if="curState == 'resources.storeInfo.vm'">
            <li>
                <a ui-sref="resources.hypervisor.cluster">{{i18n.virtual_term_clusters_label}}</a> <span class="divider">&gt;</span>
            </li>
            <li class="active">
                <a ng-click="goToCluster()" href="javascript:void(0)">{{breadCrumbs.clusterName}}</a><span class="divider">&gt;</span>
            </li>
            <li>
                <a ng-click="goToStorage()" href="javascript:void(0)">{{i18n.common_term_storage_label}}</a> <span class="divider">&gt;</span>
            </li>
            <li class="active"><a ui-sref="resources.storeInfo.summary">{{storeName}}</a><span class="divider">&gt;</span></li>
            <li class="active">{{i18n.common_term_vms_label}}</li>
            <li class="crumbs_line"></li>
        </ul>
        <ul class="breadcrumb"  ng-if="curState == 'resources.clusterInfo.vm'">
            <li>
                <a ui-sref="resources.hypervisor.cluster">{{i18n.virtual_term_clusters_label}}</a> <span class="divider">&gt;</span>
            </li>
            <li class="active"><a ui-sref="resources.clusterInfo.summary">{{clusterName}}</a><span class="divider">&gt;</span></li>
            <li class="active">{{i18n.common_term_vms_label}}</li>
            <li class="crumbs_line"></li>
        </ul>
        <ul class="breadcrumb"  ng-if="curState == 'resources.hypervisorInfo.vm'">
            <li>
                <a ui-sref="resources.hypervisor.environment">{{i18n.virtual_term_hypervisor_label}}</a> <span class="divider">&gt;</span>
            </li>
            <li class="active"><a ui-sref="resources.hypervisorInfo.vm">{{hypervisorName}}</a><span class="divider">&gt;</span></li>
            <li class="active">{{i18n.common_term_vms_label}}</li>
            <li class="crumbs_line"></li>
        </ul>
        <ul class="nav nav-list noPadding"  ng-if="curState == 'vdcMgr.vdc.vm'">
            <li ><span ng-bind="i18n.common_term_vms_label"></span></li>
            <li class="two-lead">
                <p ng-bind-html="i18n.org_host_view_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">

        <div class="clearfix bottom10">
            <div class="fl">
                <tiny-button id="createButton.id" text="createButton.text" click="createButton.click()"
                             ng-if="createAble && curState == 'resources.clusterInfo.vm'" class="major-btn"></tiny-button>
                <tiny-button id="importButton.id" text="importButton.text" click="importButton.click()"
                             ng-show="createAble && curState == 'resources.clusterInfo.vm' && importAble"></tiny-button>
                <tiny-button class="major-btn" id="exportButton.id" text="exportButton.text" click="exportButton.click()"
                             ng-if="exportAble"></tiny-button>
                <tiny-button class="major-btn" id="vncButton.id" text="vncButton.text" click="vncButton.click()"
                             ng-if="vncRight" disable="vncButton.disable"></tiny-button>
                <div class="btn-group" ng-if="basicOperable || advanceOperable || deleteAble">
                    <a class="dropdown-toggle btn-link tiny-button-buttonDefault tiny-button-buttonClass"
                       data-toggle="dropdown">
                        <div class="tiny-button tiny-button-buttonInnerClass">
                            <div class="tiny-right">
                                <div class="tiny-center">
                                    <div class="tiny-leftImg" style="display: none;"></div>
                                    <span class="ecsVmsMoreHover tiny-button-buttonCenterText" ng-bind="i18n.common_term_more_button"></span><span
                                        class="tiny-menubutton-caret"></span>

                                    <div class="tiny-rightImg" style="display: none;"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <ul class="dropdown-menu vmOptWidth">
                        <li ng-if="basicOperable" ng-class="{disabled:!hasSelectedVm}">
                            <a class="btn-link" ng-click="start()" ng-bind="i18n.common_term_startup_button"></a>
                        </li>
                        <li ng-if="basicOperable" ng-class="{disabled:!hasSelectedVm}">
                            <a class="btn-link" ng-click="stop()" ng-bind="i18n.common_term_turnOff_button"></a>
                        </li>
                        <li ng-if="basicOperable" ng-class="{disabled:!hasSelectedVm}">
                            <a class="btn-link" ng-click="reboot()" ng-bind="i18n.common_term_restart_button"></a>
                        </li>
                        <li ng-if="basicOperable" ng-class="{disabled:!hasSelectedVm}">
                            <a class="btn-link" ng-click="hibernate()" ng-bind="i18n.common_term_hibernate_button"></a>
                        </li>
                        <li ng-if="basicOperable" ng-class="{disabled:!hasSelectedVm}">
                            <a class="btn-link" ng-click="forceStop()" ng-bind="i18n.common_term_forciblyShut_button"></a>
                        </li>
                        <li ng-if="basicOperable" ng-class="{disabled:!hasSelectedVm}">
                            <a class="btn-link" ng-click="forceReboot()" ng-bind="i18n.common_term_forciblyRestart_button"></a>
                        </li>
                        <li class="divider-line" ng-if="advanceOperable"></li>
                        <li ng-if="advanceOperable && curState != 'vdcMgr.vdc.vm'" ng-class="{disabled:!hasSelectedVm}">
                            <a class="btn-link" ng-click="incorporate()" ng-bind="i18n.common_term_incorporate_button"></a>
                        </li>
                        <li ng-if="advanceOperable && curState != 'vdcMgr.vdc.vm'" ng-class="{disabled:!hasSelectedVm}">
                            <a class="btn-link" ng-click="transfer()" ng-bind="i18n.common_term_allocate_button"></a>
                        </li>
                        <li ng-if="advanceOperable" ng-class="{disabled:!hasSelectedVm}">
                            <a class="btn-link" ng-click="migrate()" ng-bind="i18n.vm_term_Migrate_button"></a>
                        </li>
                        <li ng-if="advanceOperable" ng-class="{disabled:!hasSelectedVm}">
                            <a class="btn-link" ng-click="editTag()" ng-bind="i18n.common_term_setTag_button"></a>
                        </li>
                        <li ng-if="advanceOperable" ng-class="{disabled:!hasSelectedVm}">
                            <a class="btn-link" ng-click="modUpgradeMode()" ng-bind="i18n.vm_term_modifyUpgradeMode_button"></a>
                        </li>
                        <li ng-if="advanceOperable" ng-class="{disabled:!hasSelectedVm}">
                            <a class="btn-link" ng-click="resumeRecyling()" ng-bind="i18n.vm_term_resumRecycleVM_button"></a>
                        </li>
                        <li class="divider-line" ng-if="deleteAble"></li>
                        <li ng-if="deleteAble" ng-class="{disabled:!hasSelectedVm}">
                            <a class="btn-link" ng-click="deleteVm()" ng-bind="i18n.common_term_delete_button"></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pull-right">
                <div class="fr">
                    <a class="btn-link">
                        <div ng-click="refresh()" class="small-icon small-icon-refresh"></div>
                    </a>
                    <a class="btn-link" ng-if="curState == 'vdcMgr.vdc.vm'">
                        <div ng-click="help.show=true" class="small-icon small-icon-help"></div>
                    </a>
                    <a class="btn-link" ng-if="curState == 'resources.clusterInfo.vm'">
                        <div ng-click="help.show=true" class="small-icon small-icon-help"></div>
                    </a>
                </div>
                <div class="fr button_mr">
                    <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder"
                                    search="searchBox.search"></tiny-searchbox>
                </div>
                <div class="fr">
                    <tiny-filtersel id="searchSelector.id" values="searchSelector.values" width="searchSelector.width"
                                    change="searchSelector.change()"></tiny-filtersel>
                </div>
                <div class="fr button_mr"  ng-show="curState == 'vdcMgr.vdc.vm' || curState == 'resources.clusterInfo.vm'">
                    <tiny-filtersel id="statusSelector.id" values="statusSelector.values" width="statusSelector.width"
                                    change="statusSelector.change()"></tiny-filtersel>
                </div>
            </div>
        </div>
        <div>
            <tiny-table id="vmTable.id" data="vmTable.data" pagination-style="vmTable.paginationStyle"
                        columns='vmTable.columns' render-row="vmTable.renderRow"
                        total-records="vmTable.totalRecords" show-details="vmTable.showDetails"
                        length-change="vmTable.lengthChange" change-select="vmTable.changeSelect"
                        cur-page="vmTable.curPage" display-length="vmTable.displayLength"
                        enable-pagination="vmTable.enablePagination"
                        length-menu="vmTable.lengthMenu" callback="vmTable.callback"
                        columns-visibility="vmTable.columnsVisibility"
                        columns-draggable="vmTable.columnsDraggable"></tiny-table>
        </div>
    </div>
    <div ng-if="curState == 'vdcMgr.vdc.vm'">
        <div fm-help help="'drawer_vm'" i18n="'zh'" show="help.show"></div>
    </div>
    <div ng-if="curState == 'resources.clusterInfo.vm'">
        <div fm-help help="'drawer_virtual_cluster_vm'" i18n="'zh'" show="help.show"></div>
    </div>
    <iframe id="downloadVmListIframe" style="display:none"></iframe>
</div>