<div class="container-fluid" id="createService" ng-controller="createCtrl">
    <div ng-bind-html="i18n.vpc_deployService_add_desc_label" class="color2"></div>
    <div class="legend" ng-bind="i18n.vpc_term_chooseNet_label"></div>
    <tiny-formfield>
        <tiny-item label="info.searchBox.label" require="info.searchBox.require">
            <tiny-searchbox id="info.searchBox.id" placeholder="info.searchBox.placeholder" width="info.searchBox.width" suggest-size="info.searchBox.suggestSize" maxlength="info.searchBox.maxLength" suggest="info.searchBox.suggest" search="info.searchBox.search">
            </tiny-searchbox>
        </tiny-item>
    </tiny-formfield>
    <div class="margin-left-beautifier">
        <tiny-table id="info.networkTable.id" data="info.networkTable.data" columns="info.networkTable.columns" pagination-style="info.networkTable.paginationStyle" length-menu="info.networkTable.lengthMenu" total-records="info.networkTable.totalRecords" display-length="info.networkTable.displayLength"
        enable-filter="info.networkTable.enableFilter" change-select="info.networkTable.changeSelect" render-row="info.networkTable.renderRow" show-details="info.networkTable.showDetails" callback="info.networkTable.callback"></tiny-table>
    </div>
    <div style="clear:both">
        <tiny-formfield>
            <tiny-item>
                <div class="margin-erect-beautifier">
                    <tiny-button id="info.okBtn.id" text="info.okBtn.text" click="info.okBtn.click()" disable="info.okBtn.disable"></tiny-button>
                    <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
                </div>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>
<style>
.tiny-checkboxIcon {
    margin-top: 4px;
}
</style>
<script type="application/javascript">
require(['app/business/network/controllers/service/createServiceModule'],
    function(createServiceModule) {
        var dep = ['ng', 'wcc', createServiceModule.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $("#createService"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($("#createService"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>