<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li ng-class="{active: $state.includes('dashboard')}">
                <a href="#/home"><i class="fa fa-bank (alias)"></i> <span class="nav-label">首页 </span></a>
            </li>
            <li ng-class="{active: $state.includes('hostpool') || $state.includes('hostpool')}">
                <a href="#/hostpool?view=hostpool"><i class="fa fa-cogs"></i> <span class="nav-label">host管理 </span></a>
            </li>
            <li ng-class="{active: $state.includes('apps') || $state.includes('apps')}">
                <a href="#/apps?view=apps"><i class="fa fa-cogs"></i> <span class="nav-label">应用 </span></a> 
            </li>
            <li ng-class="{active: $state.includes('component') || $state.includes('componentDetail')}">
                <a href="#/component?view=component"><i class="fa fa-flask"></i> <span class="nav-label">组件</span></a> 
            </li>
            </ul>
    </div>
</nav>
