<div class="row-fluid" id="config-session-window" ng-controller="configSessionCtrl">
    <tiny-formfield>
        <tiny-item label="info.sessionMode.label" require="info.sessionMode.require">
            <tiny-select id="info.sessionMode.id" values="info.sessionMode.value" width="info.sessionMode.width" change="info.sessionMode.change()"></tiny-select>
        </tiny-item>
        <tiny-item label="info.cookieName.label" require="info.cookieName.require" display="showCookieName">
            <tiny-textbox id="info.cookieName.id" value="info.cookieName.value" width="info.cookieName.width" validate="info.cookieName.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="info.headerName.label" require="info.headerName.require" display="showHeaderName">
            <tiny-textbox id="info.headerName.id" value="info.headerName.value" width="info.headerName.width" validate="info.headerName.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="info.timeout.label" require="info.timeout.require">
            <tiny-textbox id="info.timeout.id" value="info.timeout.value" width="info.timeout.width" validate="info.timeout.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button id="info.okBtn.id" text="info.okBtn.text" click="info.okBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="text/javascript">
require(["app/business/network/controllers/vlb/create/configSessionWindowModule"], function(configSessionWindowModule) {
    var dep = ['ng', configSessionWindowModule.name];
    dep.unshift(["$provide",
        function($provide) {
            $provide.value("$rootElement", $("#config-session-window"));
        }
    ]);
    var $injector = angular.injector(dep);
    $injector.invoke(function($compile, $rootScope) {
        $compile($("#config-session-window"))($rootScope);
        $rootScope.$digest();
    });
})
</script>