<div class="alert-tip-first">
<fm-valid valid="show.check">
	<tiny-formfield>
		<tiny-item label="(i18n.common_term_name_label||'名称')+':'" require="true">
			<fm-text width='180' value="para.name" length="64" valid="lib.checkZH(para.name,'\\w-')"></fm-text>
		</tiny-item>
		<tiny-item label="(i18n.perform_term_receiveBandMaxMbps_label||'最大接收带宽(Mbps)')+':'" require="true">
			<fm-digit width='180' value="para.rx" max="4000" min="1"></fm-digit>
		</tiny-item>
		<tiny-item label="(i18n.perform_term_sendBandMaxMbps_label||'最大发送带宽(Mbps)')+':'" require="true">
			<fm-digit width='180' value="para.tx" max="4000" min="1"></fm-digit>
		</tiny-item>
        <tiny-item class="fm-btn-top-small">
            <fm-button text="i18n.common_term_ok_button||'确定'" class='major-btn fm-valid' click="save"></fm-button>
            <fm-button text="i18n.common_term_cancle_button||'取消'" class='fm-valid-clear' click="cancel"></fm-button>
        </tiny-item>
	</tiny-formfield>
</fm-valid>
</div>