<div ng-controller="app.createByOpenstack.selLoadBalancer.ctrl" id="app_createByOpenstack_selLoadBalancer">
    <div>
        <tiny-table id="loadBalancerTable.id" data="loadBalancerTable.data" columns="loadBalancerTable.columns"
                    enable-pagination="loadBalancerTable.enablePagination" render-row="loadBalancerTable.renderRow"
                    pagination-style="loadBalancerTable.paginationStyle" display-length="loadBalancerTable.displayLength"
                    total-records="loadBalancerTable.totalRecords" callback="loadBalancerTable.callback"
                    change-select="loadBalancerTable.changeSelect" length-menu="loadBalancerTable.lengthMenu">
        </tiny-table>
    </div>

    <div class="customOkOuter2">
        <tiny-button id="nextBtn.id" text="nextBtn.text" tooltip="nextBtn.tooltip" click="nextBtn.click()"></tiny-button>
        <tiny-button id="cancelBtn.id" text="cancelBtn.text" tooltip="cancelBtn.tooltip" click="cancelBtn.click()"></tiny-button>
    </div>
</div>
<script type="application/javascript">
    require(['app/business/application/controllers/appInstance/createByOpenstack/selLoadBalancer'], function(selLoadBalancer) {
        var dep = ['ng', 'wcc', selLoadBalancer.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $("#app_createByOpenstack_selLoadBalancer"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($("#app_createByOpenstack_selLoadBalancer"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>
