<div id="addEnvironmentInfoDiv">
    <tiny-formfield>
        <tiny-item label="nameTextbox.label" require="nameTextbox.require">
            <tiny-textbox id="nameTextbox.id" value="nameTextbox.value" tooltip="nameTextbox.tooltip"
                          validate="nameTextbox.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="typeSelector.label" require="typeSelector.require">
            <tiny-select id="typeSelector.id" values="typeSelector.values" width="typeSelector.width"
                         change="typeSelector.change()" disable="typeSelector.disable"
                         validate="typeSelector.validate"
                         default-selectid="typeSelector.defaultSelectid"></tiny-select>
        </tiny-item>
        <tiny-item label="versionSelector.label" require="versionSelector.require">
            <tiny-select id="versionSelector.id" values="versionSelector.values"
                         width="versionSelector.width" validate="versionSelector.validate"
                         default-selectid="versionSelector.defaultSelectid"></tiny-select>
        </tiny-item>
        <tiny-item label="protocolSelector.label" require="protocolSelector.require">
            <tiny-select id="protocolSelector.id" values="protocolSelector.values"
                         width="protocolSelector.width" validate="protocolSelector.validate"
                         default-selectid="protocolSelector.defaultSelectid"></tiny-select>
        </tiny-item>
        <tiny-item label="ipBox.label" require="ipBox.require">
            <tiny-ip id="ipBox.id" validate="ipBox.validate" width="ipBox.width" value="ipBox.value"
                     extend-function="ipBox.extendFunction"></tiny-ip>
            <span popover="{{i18n.virtual_hyper_add_para_IP_mean_tip}}" popover-trigger="mouseenter"
                  popover-placement="right" class="small-icon small-icon-tips"></span>
        </tiny-item>
        <tiny-item label="portTextbox.label" require="portTextbox.require">
            <tiny-textbox id="portTextbox.id" validate="portTextbox.validate" value="portTextbox.value"></tiny-textbox>
            <span popover="{{i18n.virtual_hyper_add_para_port_mean_tip}}" popover-trigger="mouseenter"
                  popover-placement="right" class="small-icon small-icon-tips"></span>
        </tiny-item>
        <tiny-item label="usernameTextbox.label" require="usernameTextbox.require">
            <tiny-textbox id="usernameTextbox.id" validate="usernameTextbox.validate"
                          value="usernameTextbox.value"></tiny-textbox>
            <span popover="{{i18n.virtual_hyper_add_para_userName_mean_tip}}" popover-trigger="mouseenter"
                  popover-placement="right" class="small-icon small-icon-tips"></span>
        </tiny-item>
        <tiny-item label="editPwdCheckbox.label" display="editPwd">
            <tiny-checkbox id="editPwdCheckbox.id" text="editPwdCheckbox.text"
                           change="editPwdCheckbox.change()"></tiny-checkbox>
        </tiny-item>
        <tiny-item label="passwordTextbox.label" require="passwordTextbox.require">
            <tiny-textbox id="passwordTextbox.id" type="passwordTextbox.type"
                          validate="passwordTextbox.validate" disable="passwordTextbox.disable"></tiny-textbox>
            <span popover="{{i18n.virtual_hyper_add_para_psw_mean_tip}}" popover-trigger="mouseenter"
                  popover-placement="right" class="small-icon small-icon-tips"></span>
        </tiny-item>
        <tiny-item label="pwdConfirmTextbox.label" require="pwdConfirmTextbox.require">
            <tiny-textbox id="pwdConfirmTextbox.id" type="pwdConfirmTextbox.type"
                          validate="pwdConfirmTextbox.validate" disable="passwordTextbox.disable"
                          extend-function="pwdConfirmTextbox.extendFunction"></tiny-textbox>
        </tiny-item>
        <tiny-item label="providerTextbox.label" require="providerTextbox.require">
            <tiny-textbox id="providerTextbox.id" validate="providerTextbox.validate"
                          value="providerTextbox.value"></tiny-textbox>
        </tiny-item>
        <tiny-item label="updateCycleTextbox.label" require="updateCycleTextbox.require">
            <tiny-textbox id="updateCycleTextbox.id" validate="updateCycleTextbox.validate"
                          value="updateCycleTextbox.value"></tiny-textbox>
        </tiny-item>
        <tiny-item label="modifyVlanPoolCheckbox.label" display="showModifyVlanPool">
            <tiny-checkbox class="inline-block" id="modifyVlanPoolCheckbox.id" text="modifyVlanPoolCheckbox.text"
                           checked="modifyVlanPoolCheckbox.checked"></tiny-checkbox>
            <span style="vertical-align:top;margin-top:3px; " popover="{{i18n.virtual_hyper_add_para_modifyVLAN_mean_tip}}" popover-trigger="mouseenter"
                  popover-placement="right" class="small-icon small-icon-tips"></span>
        </tiny-item>
        <tiny-item label="updateCheckbox.label">
            <tiny-checkbox id="updateCheckbox.id" text="updateCheckbox.text"></tiny-checkbox>
        </tiny-item>
        <tiny-item class="fm-btn-top-mini">
            <tiny-button id="infoNextButton.id" text="infoNextButton.text" click="infoNextButton.click()" class="major-btn"></tiny-button>
            <tiny-button id="infoCancelButton.id" text="infoCancelButton.text"
                         click="infoCancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>