<div id="add_environment_confirm_div">
    <tiny-formfield>
        <tiny-item label="label.name">
            <div ng-bind="model.hypervisor.name"></div>
        </tiny-item>
        <tiny-item label="label.type">
            <div ng-bind="model.hypervisor.type"></div>
        </tiny-item>
        <tiny-item label="label.version">
            <div ng-bind="model.hypervisor.version"></div>
        </tiny-item>
        <tiny-item label="label.protocol">
            <div ng-bind="model.hypervisor.connector.protocol"></div>
        </tiny-item>
        <tiny-item label="label.ip">
            <div ng-bind="model.hypervisor.connector.ip"></div>
        </tiny-item>
        <tiny-item label="label.port">
            <div ng-bind="model.hypervisor.connector.port"></div>
        </tiny-item>
        <tiny-item label="label.userName">
            <div ng-bind="model.hypervisor.connector.userName"></div>
        </tiny-item>
        <tiny-item label="label.vendor">
            <div ng-bind="model.hypervisor.vendor"></div>
        </tiny-item>
        <tiny-item label="label.cycle">
            <div ng-bind="model.hypervisor.refreshCycle"></div>
        </tiny-item>
    </tiny-formfield>
    <div ng-show="vsamCheckbox.checked">
        <div class="legend" ng-bind="i18n.virtual_term_vsamInfo_label"></div>
        <tiny-formfield labelwidth="labelWidth">
            <tiny-item label="label.name">
                <div ng-bind="model.vsam.name"></div>
            </tiny-item>
            <tiny-item label="label.version">
                <div ng-bind="model.vsam.version"></div>
            </tiny-item>
            <tiny-item label="label.protocol">
                <div ng-bind="model.vsam.connector.protocol"></div>
            </tiny-item>
            <tiny-item label="label.ip">
                <div ng-bind="model.vsam.connector.ip"></div>
            </tiny-item>
            <tiny-item label="label.port">
                <div ng-bind="model.vsam.connector.port"></div>
            </tiny-item>
            <tiny-item label="label.userName">
                <div ng-bind="model.vsam.connector.userName"></div>
            </tiny-item>
            <tiny-item label="label.vendor">
                <div ng-bind="model.vsam.vendor"></div>
            </tiny-item>
        </tiny-formfield>
    </div>
    <div class="fm-btn-top-small">
        <tiny-formfield labelwidth="labelWidth">
            <tiny-item>
                <tiny-button id="confirmPreButton.id" text="confirmPreButton.text"
                             click="confirmPreButton.click()"></tiny-button>
                <tiny-button id="confirmAddButton.id" text="confirmAddButton.text"
                             click="confirmAddButton.click()" class="major-btn"></tiny-button>
                <tiny-button id="confirmCancelButton.id" text="confirmCancelButton.text"
                             click="confirmCancelButton.click()"></tiny-button>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>
