<div id="addSingleMacDiv" class="alert-tip-first">
    <div class="blank_20"></div>
    <tiny-formfield>
        <tiny-item label="macTextbox.label" require="macTextbox.require">
            <tiny-textbox id="macTextbox.id" value="macTextbox.value"
                          extend-function="macTextbox.extendFunction" validate="macTextbox.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="descTextbox.label">
            <tiny-textbox id="descTextbox.id" value="descTextbox.value" height="descTextbox.height"
                          validate="descTextbox.validate" type="descTextbox.type"></tiny-textbox>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button id="okButton.id" text="okButton.text" click="okButton.click()" class="major-btn"></tiny-button>
            <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>

<script type="application/javascript">
    require(['app/business/resources/controllers/hypervisor/environment/addSingleMacCtrl'],
            function (addSingleMacCtrl) {
                var rootElement = $("#addSingleMacDiv")
                rootElement.attr("ng-controller", "resources.hypervisor.addSingleMac.ctrl");
                var dep = ['ng', 'wcc', addSingleMacCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", rootElement);
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile(rootElement)($rootScope);
                    $rootScope.$digest();
                });
            });
</script>
