<div id="viewEnvironmentLogDiv">
    <div>
        <tiny-table id="logTable.id" data="logTable.data" columns='logTable.columns'  render-row="logTable.renderRow"
                    enable-pagination="logTable.enablePagination" columns-draggable="logTable.columnsDraggable"></tiny-table>
    </div>
</div>
<script type="application/javascript">
    require(["app/business/resources/controllers/hypervisor/environment/viewLogCtrl"], function (viewLogCtrl) {
        var rootElement = $("#viewEnvironmentLogDiv");
        rootElement.attr("ng-controller", "resources.hypervisor.viewLog.ctrl");
        var dep = ['ng', 'wcc', viewLogCtrl.name];
        dep.unshift(["$provide", function ($provide) {
            $provide.value("$rootElement", rootElement);
        }]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            $compile(rootElement)($rootScope);
            $rootScope.$digest();
        });
    });
</script>