<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span ng-bind="i18n.virtual_term_hypervisor_label"></span></li>
            <li class="two-lead">
                <p ng-bind-html="i18n.virtual_hyper_hyperMACIndependent_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="fm-btn-bottom-small clearfix">
            <tiny-button id="addButton.id" text="addButton.text" click="addButton.click()" class="major-btn fl"
                         ng-if="operable"></tiny-button>
            <div class="fr">
                <a class="btn-link">
                    <div ng-click="refresh()" class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div ng-click="help.show=true" class="small-icon small-icon-help"></div>
                </a>
            </div>
            <div class="fr button_mr">
                <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder"
                                search="searchBox.search"></tiny-searchbox>
            </div>
            <div class="fr button_mr">
                <tiny-filtersel id="typeSelector.id" values="typeSelector.values" width="typeSelector.width"
                                change="typeSelector.change()"></tiny-filtersel>
            </div>
        </div>
        <div>
            <tiny-table id="environmentTable.id" data="environmentTable.data"
                        pagination-style="environmentTable.paginationStyle"
                        columns='environmentTable.columns' render-row="environmentTable.renderRow"
                        total-records="environmentTable.totalRecords" length-change="environmentTable.lengthChange"
                        cur-page="environmentTable.curPage" display-length="environmentTable.displayLength"
                        enable-pagination="environmentTable.enablePagination"
                        change-select="environmentTable.changeSelect" show-details="environmentTable.showDetails"
                        length-menu="environmentTable.lengthMenu" callback="environmentTable.callback"
                        columns-visibility="environmentTable.columnsVisibility"
                        column-sorting="environmentTable.columnSorting"
                        columns-draggable="environmentTable.columnsDraggable"></tiny-table>
        </div>
    </div>
    <div fm-help help="'drawer_virtual_hyper'" i18n="'zh'" show="help.show"></div>
</div>