<div id="vsamDetailDiv">
    <tiny-formfield>
        <div style="float: right;"><a ng-bind="label.recoverVSAM" ng-click='label.func()'></a></div>
        <tiny-item label="label.name">
            <span ng-bind="vsamInfo.name"></span>
        </tiny-item>

        <tiny-item label="label.version">
            <span ng-bind="vsamInfo.version"></span>
        </tiny-item>
        <tiny-item label="label.protocol">
            <span ng-bind="vsamInfo.connector.protocol"></span>
        </tiny-item>
        <tiny-item label="label.ip" display="!vsamInfo.haMode">
            <span ng-bind="vsamInfo.connector.ip"></span>
        </tiny-item>
        <tiny-item label="label.floatIp" display="vsamInfo.haMode">
            <span ng-bind="vsamInfo.connector.ip"></span>
        </tiny-item>
        <tiny-item label="label.activeIp" display="vsamInfo.haMode">
            <span ng-bind="vsamInfo.activeIp"></span>
        </tiny-item>
        <tiny-item label="label.standbyIp" display ="vsamInfo.haMode">
            <span ng-bind="vsamInfo.standbyIp"></span>
        </tiny-item>
        <tiny-item label="label.netmask">
            <span ng-bind="vsamInfo.netmask"></span>
        </tiny-item>
        <tiny-item label="label.gateway">
            <span ng-bind="vsamInfo.gateway"></span>
        </tiny-item>
        <tiny-item label="label.port">
            <span ng-bind="vsamInfo.connector.port"></span>
        </tiny-item>
        <tiny-item label="label.username">
            <span ng-bind="vsamInfo.connector.userName"></span>
        </tiny-item>
        <tiny-item label="label.provider">
            <span ng-bind="vsamInfo.vendor"></span>
        </tiny-item>
        <tiny-item label="label.status">
            <span ng-bind="vsamInfo.statusText"></span>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="application/javascript">
    require(["app/business/resources/controllers/hypervisor/environment/vsamDetailCtrl"], function (vsamDetailCtrl) {
        var rootElement = $("#vsamDetailDiv");
        rootElement.attr("ng-controller", "resources.hypervisor.vsamDetail.ctrl");
        var dep = ['ng', 'wcc', vsamDetailCtrl.name];
        dep.unshift(["$provide", function ($provide) {
            $provide.value("$rootElement", rootElement);
        }]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile) {
            var scope = rootElement.scope();
            $compile(rootElement)(scope);
            scope.$digest();
        });
    });
</script>