<div class="container-fluid">
    <div id="exportOperatorLog" ng-controller="operatorLog.export.ctrl">
        <tiny-formfield>
            <tiny-item label="progress.label">
                <tiny-progressbar id="progress.id" value="progress.value" width="progress.width"></tiny-progressbar>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>
<script type="application/javascript">
    require(["app/business/system/controllers/taskCenter/exportOperatorLogCtrl"], function(exportOperatorLogCtrl) {
        var $injector = angular.injector(["ng", exportOperatorLogCtrl.name]);
        $injector.invoke(function($compile) {
            var link = $compile($("#exportOperatorLog"));
            link($("#exportOperatorLog").scope());
            $("#exportOperatorLog").scope().$digest();
        });
    });
</script>