<div class="op_detail" ng-controller="system.operatorLog.detail.ctrl">
    <div class="container-fluid">
        <div class="row-fluid innerbox-padding">
            <div class="span12">
                <div class="inner-legend" ng-bind="i18n.common_term_detailInfo_label"></div>
                <div class="row-fluid">
                    <div class="span6">
                        <tiny-formfield>
                            <tiny-item label="labels.operationName">
                                <span ng-bind="values.operationName"></span>
                            </tiny-item>
                            <tiny-item label="labels.levelText">
                                <span ng-bind="values.levelText"></span>
                            </tiny-item>
                            <tiny-item label="labels.componentInfoName">
                                <span ng-bind="values.componentInfo.name"></span>
                            </tiny-item>
                            <tiny-item label="labels.userInfoName">
                                <span ng-bind="values.userInfo.name"></span>
                            </tiny-item>
                            <tiny-item label="labels.startTime">
                                <span ng-bind="values.startTime"></span>
                            </tiny-item>
                        </tiny-formfield>
                    </div>
                    <div class="span6">
                        <tiny-formfield>
                            <tiny-item label="labels.resultText">
                                <span ng-bind="values.resultText"></span>
                            </tiny-item>
                            <tiny-item label="labels.componentInfoType">
                                <span ng-bind="values.componentInfo.type"></span>
                            </tiny-item>
                            <tiny-item label="labels.userInfoIp">
                                <span ng-bind="values.userInfo.ip"></span>
                            </tiny-item>
                            <tiny-item label="labels.oplogDetail">
                                <span ng-bind="values.oplogDetail"></span>
                            </tiny-item>
                        </tiny-formfield>
                    </div>
                </div>
            </div>
            <div>
                <tiny-formfield>
                    <tiny-item label="labels.failureCause" ng-if="values.result == 'failed'">
                        <span ng-bind="values.failureCause"></span>
                    </tiny-item>
                </tiny-formfield>
            </div>
        </div>
    </div>
</div>
<script>
    require(["jquery",
        "app/business/system/controllers/taskCenter/operatorLogDetailCtrl"],
            function ($, opDetailCtrl) {
                var $storeDom = $(".op_detail").parents("tr").prev();

                //替换ID，使ID唯一
                var lineNum = $storeDom.attr("lineNum");
                var values = $storeDom.data("values");

                var domId = "opDetail" + lineNum;
                var className = "op_detail" + lineNum;

                // 1.获取当前Dom
                var curView = undefined;
                $(".op_detail").each(function () {
                    if ($(this).attr("id") === undefined) {
                        curView = $(this);
                    }
                });

                curView.attr("id", domId);
                curView.attr("class", className);

                // 2.编译
                var scope = curView.scope();
                var modules = ["wcc", opDetailCtrl.name];
                modules.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", curView);
                }]);
                modules.unshift("ng");
                var $injector = angular.injector(modules);
                $injector.invoke(["$compile", function ($compile) {
                    $compile(curView)(scope);
                    scope.$digest();
                }]);

                // 3.初始化scope
                var newScope = curView.scope();
                newScope.$apply(function () {
                    newScope.values = values;
                    newScope.getDetail();
                });
            });
</script>

