<link rel="stylesheet" type="text/css" href="../theme/default/css/gm/system.css">

<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span ng-bind="i18n.log_term_operation_label"></span></li>
            <li class="two-lead">
                <p>&nbsp;</p>

                <p>&nbsp;</p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="fm-btn-bottom-small clearfix">
            <tiny-button  class="major-btn"
                         id="btns.export.id"
                         text="btns.export.text"
                         click="btns.export.handler()"
                         disable="btns.export.disable"></tiny-button>
            <!--刷新、列选择、帮助-->
            <div class="pull-right">
                <tiny-filtersel id="ids.level"
                                values="levelValues"
                                change="filterChange()">
                </tiny-filtersel>
                <tiny-filtersel id="ids.result"
                                values="resultValues"
                                change="filterChange()">
                </tiny-filtersel>
                <span>{{time.label}}</span>
                <tiny-datetime id="ids.startTime"
                               type="time.type"
                               width="time.width"
                               date-format="time.dateFormat"
                               time-format="time.timeFormat"
                               min-date="time.start.minDate"
                               max-date="time.start.maxDate"
                               first-day="time.firstDay"
                               on-close="time.start.onClose"
                               ampm="time.ampm"></tiny-datetime>
                -
                <tiny-datetime id="ids.endTime"
                               type="time.type"
                               width="time.width"
                               date-format="time.dateFormat"
                               time-format="time.timeFormat"
                               min-date="time.end.minDate"
                               max-date="time.end.maxDate"
                               first-day="time.firstDay"
                               on-close="time.end.onClose"
                               ampm="time.ampm"></tiny-datetime>
                <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
                <tiny-searchbox id="ids.search" placeholder="searchBox.placeholder" width="searchBox.width"
                                suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength"
                                suggest="searchBox.suggest" search="searchBox.search">
                </tiny-searchbox>
              </span>
                <a class="btn-link" href="javascript:void 0;">
                    <div ng-click="btns.refresh.handler()" id="btns.refresh.id" title="{{i18n.common_term_fresh_button}}" class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link" href="javascript:void 0;">
                    <div title="{{i18n.common_term_fresh_button}}"  ng-hide="true" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div class="">
            <tiny-table id="operatorTable.id" data="operatorTable.data" columns="operatorTable.columns"
                        enable-pagination="operatorTable.pagination"
                        pagination-style="operatorTable.paginationStyle" length-change="operatorTable.lengthChange"
                        columns-draggable="operatorTable.draggable"
                        length-menu="operatorTable.lengthMenu" display-length="operatorTable.displayLength"
                        enable-filter="operatorTable.enableFilter" cur-page="operatorTable.curPage"
                        total-records="operatorTable.totalRecords"
                        request-config="operatorTable.requestConfig" columns-visibility="operatorTable.visibility"
                        hide-total-records="operatorTable.hideTotalRecords" render-row="operatorTable.renderRow"
                        change-select="operatorTable.changeSelect" callback="operatorTable.callback"
                        show-details="operatorTable.showDetails"></tiny-table>
        </div>
    </div>
</div>
