<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li>
                <span ng-bind-html="i18n.app_term_appSummary_label"></span>
            </li>
            <li class="two-lead">
                <p ng-bind-html="i18n.app_general_view_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>

    <div class="content-right-box">
        <div class="row-fluid clearfix bottom10">
            <div class="pull-right">
                <div class="small-icon small-icon-menuicon" style="margin-top: 5px;"></div>
                <tiny-filtersel id="searchLocation.id" values="searchLocation.values" width="searchLocation.width" display="isIT" default-label="searchLocation.dftLabel" change="searchLocation.change()">
                </tiny-filtersel>
                <a class="btn-link btn-link-padding">
                    <div id="refresh.id" title="{{i18n.common_term_fresh_button}}" ng-click="refresh.click()" class="small-icon small-icon-refresh"></div>
                </a>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span6 outbox-padding" ng-if="isIT">
                <div class="legend"><span ng-bind-html="i18n.app_term_appStatus_label"></span></div>
                <div id="appOverviewAppUseInfo"></div>
            </div>
            <div class="span6 outbox-padding">
                <div class="legend"><span ng-bind-html="i18n.template_term_app_label"></span></div>
                <div id="appOverviewTemplateUseInfo"></div>
            </div>
        </div>

        <div class="row-fluid outbox-padding">
            <div class="legend bottom20"><span ng-bind="i18n.app_general_templateStepTitle_desc_label"></span></div>
            <div class="row-fluid">
                <div class="span4">
                    <div class="span2 top5">
                        <div id="appOverviewStep11"></div>
                    </div>
                    <div class="span9">
                        <div class="objAdmin"><span ng-bind="i18n.app_general_templateStep1_title_label"></span></div>
                        <div class="navigate-text"><span ng-bind="i18n.app_general_templateStep1_desc_label"></span></div>
                        <div>
                            <a href="javascript:void(0)" ng-click="jump2Template()" ng-bind-html="i18n.template_term_vm_label"></a>
                            <span ng-if="isIT">|</span><a href="javascript:void(0)" ng-click="jump2Software()" ng-if="isIT" ng-bind-html="i18n.template_term_software_label"></a>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="span2 top5">
                        <div id="appOverviewStep12"></div>
                    </div>
                    <div class="span9">
                        <div class="objAdmin"><span ng-bind="i18n.app_general_templateStep2_title_label"></span></div>
                        <div class="navigate-text"><span ng-bind="i18n.app_general_templateStep2_desc_label"></span></div>
                        <div ng-if="hasOperateTemplRight">
                            <a href="javascript:void(0)" ng-click="jump2AppTemp()" ng-bind-html="i18n.app_term_importTemplate_button"></a> | <a href="javascript:void(0)" class="btn-link" ng-click="jump2CreateTemp()" ng-bind-html="i18n.app_term_createTemplate_button"></a>
                        </div>
                        <div ng-if="!hasOperateTemplRight">
                            <span ng-bind-html="i18n.app_term_importTemplate_button"></span>|
                            <span ng-bind-html="i18n.app_term_createTemplate_button"></span>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="span2 top5">
                        <div id="appOverviewStep13"></div>
                    </div>
                    <div class="span9">
                        <div class="objAdmin"><span ng-bind="i18n.app_general_templateStep3_title_label"></span></div>
                        <div class="navigate-text"><span ng-bind="i18n.app_general_templateStep3_desc_label"></span></div>
                        <div>
                            <a href="javascript:void(0)" ng-click="jump2CreateApp()" ng-if="hasOperateInstanRight" ng-bind-html="label.createApp"> </a>
                            <span ng-if="!hasOperateInstanRight" ng-bind-html="label.createApp"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid outbox-padding" id="appOverviewStepOuter2" ng-if="isIT">
            <div class="legend bottom20"><span ng-bind-html="i18n.app_term_customApp_label"></span></div>
            <div class="row-fluid">
                <div class="span4">
                    <div class="span2">
                        <div id="appOverviewStep21"></div>
                    </div>
                    <div class="span9">
                        <div class="objAdmin"><span ng-bind="i18n.app_general_customStep1_title_label"></span></div>
                        <div class="navigate-text"><span ng-bind="i18n.app_general_customStep1_desc_label"></span></div>
                        <div>
                            <a href="javascript:void(0)" ng-click="jump2CreateVm()" ng-if="hasOperateVmRight" ng-bind-html="label.createVm"> </a>
                            <span ng-if="!hasOperateVmRight" ng-bind-html="label.createVm"></span>
                        </div>
                    </div>
                </div>

                <div class="span4">
                    <div class="span2">
                        <div id="appOverviewStep22"></div>
                    </div>
                    <div class="span9">
                        <div class="objAdmin"><span ng-bind="i18n.app_general_customStep2_title_label"></span></div>
                        <div class="navigate-text"><span ng-bind="i18n.app_general_customStep2_desc_label"></span></div>
                        <div>
                            <a href="javascript:void(0)" ng-click="jump2CreateCustomApp()" ng-if="hasOperateInstanRight" ng-bind-html="i18n.app_term_customApp_label"></a>
                            <span ng-if="!hasOperateInstanRight" ng-bind-html="i18n.app_term_customApp_label"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>