<fm-valid valid="valid.modifyNetworkCheck">
    <tiny-formfield>
        <tiny-item label="form.label.name" require="true">
            <fm-text value="para.name"></fm-text>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <fm-button text="form.label.modify" class='fm-valid major-btn' click="modifyNetwork"></fm-button>
            <fm-button text="form.label.cancel" class='fm-valid-clear' click="cancelNetwork"></fm-button>
        </tiny-item>
    </tiny-formfield>
</fm-valid>
