<div class="container-fluid">
    <div id="modifyUserDiv" ng-controller="userMgr.user.modify.ctrl">
        <div>
            <tiny-formfield>
                <tiny-item label="name.label" require="name.require">
                    <span ng-bind="name.value"></span>
                </tiny-item>
                <tiny-item label="roleModel.label" require="roleModel.require">
                    <tiny-table id="roleModel.id" data="roleModel.datas" columns="roleModel.columns" enable-pagination="roleModel.enable-pagination" render-row="roleModel.renderRow">
                    </tiny-table>
                </tiny-item>
                <tiny-item label="phone.label" require="phone.require" display="!openstack">
                    <tiny-textbox id="phone.id" value="phone.value" readonly="phone.readonly" type="phone.type"
                                  validate="phone.validate" extend-function="phone.extendFunction"></tiny-textbox>
                </tiny-item>
                <tiny-item label="email.label" require="email.require">
                    <tiny-textbox id="email.id" value="email.value" readonly="email.readonly" type="email.type"
                                  validate="email.validate" extend-function="email.extendFunction"></tiny-textbox>
                </tiny-item>
                <tiny-item label="description.label" require="description.require">
                    <tiny-textbox id="description.id" value="description.value" readonly="description.readonly"
                                  width="description.width" height="description.height"
                                  validate="description.validate" type="description.type"></tiny-textbox>
                </tiny-item>
            </tiny-formfield>
            <div id="showModifyAccess" style="display: none;">
                <tiny-checkbox id="accessControl.id" text="accessControl.text" height="accessControl.height" checked="accessControl.checked" change="accessControl.change()" style="line-height: 24px;" class="clearfix"></tiny-checkbox>
                <tiny-formfield labelwidth="labelWidth" ng-show="accessControlDisplay">
                    <tiny-item label="labelModel.dateLabel">
                        <tiny-datetime id="startDate.id" type="startDate.type" date-format="startDate.dateFormat"></tiny-datetime>
                        <span>--</span>
                        <tiny-datetime id="endDate.id" type="endDate.type" date-format="endDate.dateFormat"></tiny-datetime>
                    </tiny-item>
                    <tiny-item label="labelModel.timeLabel">
                        <tiny-datetime id="startTime.id" type="startTime.type" time-format="startTime.timeFormat" default-time="startTime.defaultTime"></tiny-datetime>
                        <span>--</span>
                        <tiny-datetime id="endTime.id" type="endTime.type" time-format="endTime.timeFormat" default-time="endTime.defaultTime"></tiny-datetime>
                    </tiny-item>
                    <tiny-item label="ipAddressRadioGroup.label">
                        <div style="height:30px">
                            <tiny-radiogroup id="ipAddressRadioGroup.id" values="ipAddressRadioGroup.values" change="ipAddressRadioGroup.change()"></tiny-radiogroup>
                        </div>
                        <tiny-formfield labelwidth="labelWidth" ng-show="ipDisplayType === 'IP_ADDRESS'">
                            <tiny-item label="ipAddress.label" require="ipAddress.require">
                                <tiny-ip id="ipAddress.id" value="ipAddress.value"></tiny-ip>
                            </tiny-item>
                        </tiny-formfield>
                        <tiny-formfield ng-show="ipDisplayType === 'IP_ADDRESS_SEG'">
                            <tiny-item label="startIpAddress.label" require="startIpAddress.require">
                                <tiny-ip id="startIpAddress.id" value="startIpAddress.value"></tiny-ip>
                            </tiny-item>
                            <tiny-item label="endIpAddress.label" require="endIpAddress.require">
                                <tiny-ip id="endIpAddress.id" value="endIpAddress.value"></tiny-ip>
                            </tiny-item>
                        </tiny-formfield>
                        <tiny-formfield ng-show="ipDisplayType === 'SUBNET'">
                            <tiny-item label="subnetIpAddress.label" require="subnetIpAddress.require">
                                <tiny-ip id="subnetIpAddress.id" value="subnetIpAddress.value"></tiny-ip>
                            </tiny-item>
                            <tiny-item label="subnetMask.label" require="subnetMask.require">
                                <tiny-ip id="subnetMask.id" value="subnetMask.value"></tiny-ip>
                            </tiny-item>
                        </tiny-formfield>
                    </tiny-item>
                </tiny-formfield>
            </div>
            <tiny-formfield labelwidth="labelWidth">
                <tiny-item>
                    <tiny-button id="modifyBtn.id" text="modifyBtn.text" click="modifyBtn.click()" class="major-btn"></tiny-button>
                    <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
                </tiny-item>
            </tiny-formfield>
        </div>
    </div>
</div>

<style>
.tiny-checkboxIcon {
    margin-top: 4px;
}
</style>

<script type="application/javascript">
require(['app/business/tenantUser/controllers/user/modifyUserCtrl',
        "tiny-widgets/Checkbox"
    ],
    function(modifyUserCtrl, Checkbox) {
        $("#modifyUserDiv").attr("ng-controller", "userMgr.user.modify.ctrl");
        var dep = ['ng', 'wcc', modifyUserCtrl.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $("#modifyUserDiv"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($("#modifyUserDiv"))($rootScope);
            $rootScope.$digest();
        });

        var tableId = "#selectRoleTblId";
        var options = {
            "id": "roleTableHeadCheckbox",
            "checked": false,
            "change": function() {
                var isChecked = $("#" + options.id).widget().options.checked;
                for (var i = 0; i < $(tableId).widget().options.data.length; i++) {
                    $("#roleListCheckbox_" + i).widget().option("checked", isChecked);
                }
            }
        };
        var checkbox = new Checkbox(options);
        $(tableId + " th:eq(0)").html(checkbox.getDom());
    });
</script>