<fm-help help="help.helpKey" show="help.show" i18n="help.i18n"></fm-help>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li>
                <span ng-bind="i18n.user_term_user_label"></span>
            </li>
            <li class="two-lead">
                <p ng-bind-html="i18n.user_user_view_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>

    <div class="content-right-box">
        <div class="form-inline clearfix">
            <div class="fl">
                <tiny-button id="createBtn.id" disable="createBtn.disable" ng-hide="createBtn.disable" text="createBtn.text" tooltip="createBtn.tooltip" icons-class="createBtn.iconsClass" click="createBtn.create()" class="major-btn"></tiny-button>
            </div>
            <!--刷新、帮助-->
            <div class="pull-right">
                <tiny-filtersel id="searchOnlineState.id" values="searchOnlineState.values" width="searchOnlineState.width" change="searchOnlineState.change()" display="!openstack">
                </tiny-filtersel>
                <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
                    <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width" maxlength="searchBox.maxLength" search="searchBox.search">
                    </tiny-searchbox>
                </span>
                <a class="btn-link">
                    <div id="refresh.id" title="{{refresh.tips}}" ng-click="refresh.click()" class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div title="{{help.tips}}" ng-click="help.click()" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div>
            <tiny-table id="model.id" data="model.datas" columns="model.columns" render-row="model.renderRow" show-details="model.showDetails" pagination-style="model.paginationStyle" length-menu="model.lengthMenu" display-length="model.displayLength" total-records="model.totalRecords"
            callback="model.callback" change-select="model.changeSelect">
            </tiny-table>
        </div>
    </div>
</div>