<div class="template-vmt-detail" ng-controller="template.vmTemplate.detail.ctrl">
    <div class="innerbox-padding">
        <div>
            <div class="inner-legend">
                <span ng-bind="i18n.common_term_basicInfo_label"></span>
            </div>
            <div class="row-fluid">
                <div class="span5">
                    <tiny-formfield>
                        <tiny-item label="logicVmt.label" require="logicVmt.require">
                            <div class="over-flow-style" style="width: 200px;">
                                <span ng-bind="detail.logicVmtName" title="{{ detail.logicVmtName }}"></span>
                            </div>
                        </tiny-item>
                        <tiny-item label="type.label" require="type.require">
                            <span ng-bind="type.value"></span>
                        </tiny-item>
                        <tiny-item label="picture.label" require="picture.require">
                            <img ng-src='{{ model.picture }}'
                                 alt='-'
                                 width='20px' height='20px' style="height:20px"/>
                        </tiny-item>
                        <tiny-item label="description.label" require="description.require">
                            <div class="over-flow-style" style="width: 200px;">
                                <span ng-bind="model.description" title="{{ model.description }}"></span>
                            </div>
                        </tiny-item>
                        <tiny-item label="osVersion.label" require="osVersion.require">
                            <div class="over-flow-style" style="width: 200px;">
                                <span ng-bind="model.osVersion" title="{{ model.osVersion }}"></span>
                            </div>
                        </tiny-item>
                    </tiny-formfield>
                </div>
                <div class="span2"></div>
                <div class="span5">
                    <tiny-formfield>
                        <tiny-item label="hypervisor.label" require="hypervisor.require">
                            <span ng-bind="model.hypervisor"></span>
                        </tiny-item>
                        <tiny-item label="cluster.label" require="cluster.require">
                            <span ng-bind="model.cluster"></span>
                        </tiny-item>
                        <tiny-item label="host.label" require="host.require">
                            <span ng-bind="model.host"></span>
                        </tiny-item>
                    </tiny-formfield>
                </div>
            </div>
        </div>
        <div class="row-fluid margin-top-beautifier">
            <div class="span7">
                <div class="inner-legend">
                    <span ng-bind="i18n.common_term_spec_label"></span>
                </div>
                <div class="row-fluid">
                    <div>
                        <tiny-formfield>
                            <tiny-item label="cpu.label" require="cpu.require">
                                <span ng-bind="cpu.value"></span>
                            </tiny-item>
                            <tiny-item label="memory.label" require="memory.require">
                                <span ng-bind="memory.value"></span>
                            </tiny-item>
                            <tiny-item label="cpuConfig.label" require="cpuConfig.require">
                                <span ng-bind="i18n.perform_term_reservedRtae_label"></span>:<span ng-bind="cpuConfig.reservation"></span>
                                <span ng-bind="i18n.common_term_limitRtae_label"></span>:<span ng-bind="cpuConfig.limit"></span>
                                <span ng-bind="i18n.common_term_qouta_label"></span>:<span ng-bind="cpuConfig.weight"></span>
                            </tiny-item>
                            <tiny-item label="memoryConfig.label" require="memoryConfig.require">
                                <span ng-bind="i18n.perform_term_reservedRtae_label"></span>:<span ng-bind="memoryConfig.reservation"></span>
                                <span ng-bind="i18n.common_term_qouta_label"></span>:<span ng-bind="memoryConfig.weight"></span>
                            </tiny-item>
                        </tiny-formfield>
                    </div>
                    <div>
                        <tiny-formfield>
                            <tiny-item label="diskTable.label" require="diskTable.require"></tiny-item>
                        </tiny-formfield>
                        <div class="clearfix top5">
                            <tiny-table id="diskTable.id" caption="diskTable.caption" data="diskTable.data"
                                        columns="diskTable.columns"
                                        enable-pagination="diskTable.enablePagination" render-row="diskTable.renderRow"
                                        columns-draggable="diskTable.columnsDraggable"></tiny-table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="span5">
                <div class="inner-legend">
                    <span ng-bind="i18n.common_term_advancedSet_label"></span>
                </div>
                <div>
                    <div class="row-fluid">
                        <div class="span12">
                            <tiny-formfield>
                                <tiny-item label="updateMode.label" require="updateMode.require">
                                    <span ng-bind="model.updateMode"></span>
                                </tiny-item>
                                <tiny-item label="syncTimeWithHost.label" require="syncTimeWithHost.require">
                                    <span ng-bind="model.syncTimeWithHost"></span>
                                </tiny-item>
                                <tiny-item label="blockHeatTranfer.label" require="blockHeatTranfer.require">
                                    <span ng-bind="model.blockHeatTranfer"></span>
                                </tiny-item>
                                <tiny-item label="haFlag.label" require="haFlag.require">
                                    <span ng-bind="model.haFlag"></span>
                                </tiny-item>
                                <tiny-item label="cpuHotPlugin.label" require="cpuHotPlugin.require">
                                    <span ng-bind="model.cpuHotPlugin"></span>
                                </tiny-item>
                                <tiny-item label="secStorage.label" require="secStorage.require">
                                    <span ng-bind="model.secStorage"></span>
                                </tiny-item>
                                <tiny-item label="attachISO.label" require="attachISO.require">
                                    <div class="over-flow-style" style="width: 100px;">
                                        <span ng-bind="model.attachISO" title="{{ model.attachISO }}"></span>
                                    </div>
                                </tiny-item>
                            </tiny-formfield>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    require(['jquery',
        'app/business/resources/controllers/templateSpec/template/vmTemplate/vmTemplateDetailCtrl',
        'app/business/resources/controllers/constants'],
            function ($, vmTemplateDetail, constants) {

                // 1.获取当前Dom
                var curView = undefined;
                $(".template-vmt-detail").each(function () {
                    if ($(this).attr("id") === undefined) {
                        curView = $(this);
                    }
                });

                curView.attr("id", new Date().getMilliseconds());

                // 2.编译
                var scope = curView.scope();

                var modules = ["wcc",vmTemplateDetail.name];
                modules.unshift(["$provide", function($provide) {
                    $provide.value("$rootElement", curView);
                }]);
                modules.unshift("ng");
                var $injector = angular.injector(modules);
                $injector.invoke(["$compile", function ($compile) {
                    $compile(curView)(scope);
                    scope.$digest();
                }]);

                // 3.初始化scope
                var curScope = curView.scope();
                curScope.queryDetail(scope.currentItem.vmtId);
            });
</script>