<div class="spec-createVmSpec alert-tip-first" ng-controller="resources.spec.vmSpec.createCtrl">
    <div id="resources_spec_createInfo">
        <tiny-formfield>
            <tiny-item label="name.label" require="name.require">
                <tiny-textbox id="name.id" value="model.name" validate="name.validate" focused="name.focused"
                              width="name.width" extend-function="name.extendFunction"
                              tooltip="name.tooltip"></tiny-textbox>
            </tiny-item>

            <tiny-item label="cpu.label" require="cpu.require">
                <tiny-textbox id="cpu.id" validate="cpu.validate" value="model.cpu" blur="cpu.blur()" width="cpu.width" tooltip="cpu.tooltip"></tiny-textbox>
            </tiny-item>

            <tiny-item label="memory.label" require="memory.require">
                <tiny-textbox id="memory.inputId" value="model.memory" validate="memory.validate" blur="memory.blur()"
                              width="memory.inputWidth" extend-function="memory.extendFunction" tip-position="memory.tipPosition"></tiny-textbox>
                <tiny-select id="memory.selectId" values="memory.values" width="memory.selectWidth"
                             change="memory.change()"></tiny-select>
                <a href="javascript:void(0)" ng-hide="qosConfig.show" ng-click="qosConfig.change()"><span ng-bind="i18n.common_term_setQoS_button"></span>&gt;&gt;</a>
                <a href="javascript:void(0)" ng-show="qosConfig.show" ng-click="qosConfig.change()">&lt;&lt;<span ng-bind="i18n.common_term_setQoS_button"></span></a>
                <!-- Qos配置 -->
                <div id="qosConfigBlock" class="margin-top-beautifier">
                    <div class="margin-top-beautifier" ng-show="qosConfig.show">
                        <div>
                            <span ng-bind="i18n.vm_term_CPUcontrol_label"></span>
                            <div style="width: 375px" class="horizontal_line"></div>

                            <div class="row-fluid margin-top-beautifier">
                                <tiny-formfield>
                                    <tiny-item label="cpuSpinnerReserve.label" require="cpuSpinnerReserve.require">
                                        <tiny-spinner id="cpuSpinnerReserve.id" value="cpuSpinnerReserve.value"
                                                      max="cpuSpinnerReserve.max" change="cpuSpinnerReserve.change()"
                                                      min="cpuSpinnerReserve.min" step="cpuSpinnerReserve.step"
                                                      width="cpuSpinnerReserve.width"></tiny-spinner>
                                    </tiny-item>
                                    <tiny-item label="cpuSpinnerLimit.label" require="cpuSpinnerLimit.require">
                                        <tiny-spinner id="cpuSpinnerLimit.id" value="cpuSpinnerLimit.value"
                                                      max="cpuSpinnerLimit.max" change="cpuSpinnerLimit.change()"
                                                      min="cpuSpinnerLimit.min" step="cpuSpinnerLimit.step"
                                                      width="cpuSpinnerLimit.width"></tiny-spinner>
                                    </tiny-item>
                                    <tiny-item label="cpuShare.label" require="cpuShare.require">
                                        <tiny-select id="cpuShare.selectId" values="cpuShare.values" width="cpuShare.selectWidth"
                                                     change="cpuShare.change()"></tiny-select>
                                        <tiny-textbox id="cpuShare.textId" value="cpuShare.value" readonly="cpuShare.readonly"
                                                      width="cpuShare.textWidth" validate="cpuShare.validate"></tiny-textbox>
                                    </tiny-item>
                                </tiny-formfield>

                            </div>
                        </div>
                        <div class="margin-top-beautifier">
                            <span ng-bind="i18n.vm_term_memControl_label"></span>
                            <div style="width: 375px" class="horizontal_line"></div>

                            <div class="row-fluid margin-top-beautifier">
                                <tiny-formfield>
                                    <tiny-item label="memorySpinnerReserve.label" require="memorySpinnerReserve.require">
                                        <tiny-spinner id="memorySpinnerReserve.id" value="memorySpinnerReserve.value" max="memorySpinnerReserve.max"
                                                      min="memorySpinnerReserve.min" step="memorySpinnerReserve.step"
                                                      width="memorySpinnerReserve.width"></tiny-spinner>
                                    </tiny-item>
                                    <tiny-item label="memoryShare.label" require="memoryShare.require">
                                        <tiny-select id="memoryShare.selectId" values="memoryShare.values" width="memoryShare.selectWidth"
                                                     change="memoryShare.change()"></tiny-select>
                                        <tiny-textbox id="memoryShare.textId" value="memoryShare.value" readonly="memoryShare.readonly"
                                                      width="memoryShare.textWidth" validate="memoryShare.validate"></tiny-textbox>
                                    </tiny-item>
                                </tiny-formfield>
                            </div>
                        </div>
                    </div>
                </div>
            </tiny-item>

            <tiny-item label="diskNum.label" require="diskNum.require">
                <tiny-select id="diskNum.id" values="diskNum.values" width="diskNum.width"
                             change="diskNum.change()"></tiny-select>
            </tiny-item>

            <tiny-item label="diskTable.label" require="diskTable.require">
                <!-- 自定义表格 -->
                <table class="complexTable" id="VmSpecTable" style="width:460px;">
                    <tr>
                        <th style="width: 80px;"><span ng-bind="i18n.common_term_disk_label"></span></th>
                        <th style="width: 280px;"><span ng-bind="i18n.common_term_capacityGB_label"></span></th>
                        <th style="width: 280px;"><span ng-bind="i18n.common_term_storageMedia_label"></span></th>
                    </tr>
                    <tbody>
                    <tr ng-if="diskTable.data.length == 0" class="complexTable-empty-tr">
                        <td valign="top" colspan="5">No data available in table</td>
                    </tr>
                    <tr class="complexTable-tr" ng-repeat="tr in diskTable.data">
                        <td><span ng-bind="i18n.common_term_disk_label"></span><span ng-bind="tr.index"></span></td>
                        <td style="overflow:visible;">
                            <fm-text value="tr.diskSize" valid="diskTable.checkDisk(tr.diskSize)" tip="i18n.sprintf(i18n.common_term_rangeInteger_valid,1,65536)" width="100"></fm-text>
                        </td>
                        <td style="overflow:visible;">
                            <select ng-model="tr.mediaTypeObj" ng-change="diskTable.change($index)"
                                    ng-options="mediaTypeObj.value for mediaTypeObj in diskTable.mediaTypeList"
                                    style="width: 100px;"></select>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </tiny-item>

            <tiny-item label="description.label" require="description.require">
                <tiny-textbox id="description.id" value="model.description"
                              width="description.width" height="description.height" type="description.type"
                              validate="description.validate"
                              error-msg="description.errorMsg">
                </tiny-textbox>
            </tiny-item>
            <tiny-item label="saveBtn.label" require="saveBtn.require" class="fm-btn-top-small">
                    <tiny-button class="major-btn" id="saveBtn.id" text="saveBtn.text"
                                 tooltip="saveBtn.tooltip" click="saveBtn.click()"></tiny-button>
                    <tiny-button id="cancelBtn.id" text="cancelBtn.text"
                                 tooltip="cancelBtn.tooltip" click="cancelBtn.click()"></tiny-button>
            </tiny-item>
        </tiny-formfield>

    </div>
</div>
<script type="application/javascript">
    require(['app/business/resources/controllers/templateSpec/spec/vmSpec/create/createVmSpecCtrl',
        "app/framework/directive/directiveFM"],
            function (createVmSpecCtrl, fm) {
                var dep = ['ng', 'wcc', createVmSpecCtrl.name, fm.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $(".spec-createVmSpec"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile) {
                    var scope = $(".spec-createVmSpec").scope();
                    $compile($(".spec-createVmSpec"))(scope);
                    scope.$digest();
                });
            });
</script>
