<div class="create-page-distance">
    <tiny-formfield>
        <tiny-item label="confirmInfo.name.label">
            <span ng-bind="service.name"></span>
        </tiny-item>
        <tiny-item label="confirmInfo.type.label">
            <span ng-bind="service.networkTypeUI"></span>
        </tiny-item>
        <tiny-item label="confirmInfo.description.label">
            <span ng-bind="service.description"></span>
        </tiny-item>
        <tiny-item label="confirmInfo.outNetwork.label" display="service.networkType=='0'">
            <span ng-bind="service.ouNetworkInfo"></span>
        </tiny-item>
        <tiny-item label="confirmInfo.vlan.label">
            <span ng-bind="service.vlan"></span>
        </tiny-item>
    </tiny-formfield>
    <div ng-if="service.networkType!='0' && service.isSubnetSelected">
        <div class="createpage-title"><span ng-bind="i18n.resource_term_netResource_label"></span></div>
        <div>
            <tiny-formfield>
                <tiny-item label="confirmInfo.ipType.label">
                    <span ng-bind="service.ipType"></span>
                </tiny-item>
                <tiny-item label="confirmInfo.subnetMask.label">
                    <span ng-bind="service.subnetMask"></span>
                </tiny-item>
                <tiny-item label="confirmInfo.gateway.label">
                    <span ng-bind="service.geteway"></span>
                </tiny-item>
                <tiny-item label="confirmInfo.vlan.label">
                    <span ng-bind="service.vlan"></span>
                </tiny-item>

                <tiny-item label="confirmInfo.availableIPRanges.label">
                    <div ng-repeat="ipRanges in service.availableIPRanges">
                        <div class="margin-beautifier">
                            <span>{{i18n.common_term_startIP_label}}:
                                <span ng-bind="ipRanges.startIp"></span>
                            </span>
                            <span>{{i18n.common_term_endIP_label}}:
                                <span ng-bind="ipRanges.endIp"></span>
                            </span>
                        </div>
                    </div>
                </tiny-item>
                <tiny-item label="confirmInfo.dhcpOption.label">
                    <div class="margin-beautifier">
                        <span>{{i18n.common_term_domainName_label}}:
                            <span ng-bind="service.domainName"></span>
                        </span>
                    </div>
                    <div class="margin-beautifier">
                        <span>{{i18n.common_term_activeDNS_label}}:
                            <span ng-bind="service.primaryDNS"></span>
                        </span>
                    </div>
                    <div class="margin-beautifier">
                        <span>{{i18n.common_term_standbyDNS_label}}:
                            <span ng-bind="service.secondaryDNS"></span>
                        </span>
                    </div>
                    <div class="margin-beautifier">
                        <span>{{i18n.common_term_activeWINS_label}}:
                            <span ng-bind="service.primaryWINS"></span>
                        </span>
                    </div>
                    <div class="margin-beautifier">
                        <span>{{i18n.common_term_standbyWINS_label}}:
                            <span ng-bind="service.secondaryWINS"></span>
                        </span>
                    </div>
                </tiny-item>

            </tiny-formfield>
        </div>
    </div>
</div>

<div class="fm-btn-top-small">
    <tiny-button id="confirmInfo.preBtn.id" text="confirmInfo.preBtn.text" click="confirmInfo.preBtn.click()"></tiny-button>
    <tiny-button id="confirmInfo.createBtn.id" text="confirmInfo.createBtn.text" click="confirmInfo.createBtn.click()" class="major-btn"></tiny-button>
    <tiny-button id="confirmInfo.cancelBtn.id" text="confirmInfo.cancelBtn.text" click="confirmInfo.cancelBtn.click()"></tiny-button>
</div>