<div class="container-fluid">
    <div class="create-page-distance" id="createVpnLinkIKEDiv">
        <div ng-if="service.isModifyMode">
            <tiny-formfield>
                <tiny-item>
                    <tiny-checkbox id="info.ikePwdChangeBox.id" text="info.ikePwdChangeBox.text" change="info.ikePwdChangeBox.change()" checked="canChangeSharePwd">
                    </tiny-checkbox>
                </tiny-item>
            </tiny-formfield>
            <tiny-formfield>
                <tiny-item label="info.sharepwd.label" require="true">
                    <tiny-textbox id="info.sharepwd.id" type="info.sharepwd.type" value="info.sharepwd.value" disable="!canChangeSharePwd" extend-function="info.sharepwd.extendFunction" validate="info.sharepwd.validate"></tiny-textbox>
                </tiny-item>
                <tiny-item label="info.certainpwd.label" require="true">
                    <tiny-textbox id="info.certainpwd.id" type="info.certainpwd.type" value="info.certainpwd.value" disable="!canChangeSharePwd" extend-function="info.certainpwd.extendFunction" validate="info.certainpwd.validate"></tiny-textbox>
                </tiny-item>
            </tiny-formfield>
        </div>
        <div ng-if="!service.isModifyMode">
            <tiny-formfield>
                <tiny-item label="info.sharepwd.label" require="true">
                    <tiny-textbox id="info.sharepwd.id" type="info.sharepwd.type" value="info.sharepwd.value" extend-function="info.sharepwd.extendFunction" validate="info.sharepwd.validate"></tiny-textbox>
                </tiny-item>
                <tiny-item label="info.certainpwd.label" require="true">
                    <tiny-textbox id="info.certainpwd.id" type="info.certainpwd.type" value="info.certainpwd.value" extend-function="info.certainpwd.extendFunction" validate="info.certainpwd.validate"></tiny-textbox>
                </tiny-item>
            </tiny-formfield>
        </div>
        <div ng-show="!isIT">
            <div style="margin-left: 75px">
                <tiny-formfield>
                    <tiny-item>
                        <a class="btn-link margin-horizon-beautifier" ng-click="click()" style="margin-left: -85px;" ng-bind="i18n.common_term_advancedSet_label"></a>
                        <div style="margin-left: -20px; margin-top: -23px;">
                            <img src="{{advanceicon}}" ng-click="click()">
                        </div>
                    </tiny-item>
                </tiny-formfield>
            </div>
            <div id="dpdInfoDiv" ng-show="advanceshow">
                <tiny-formfield>
                    <tiny-item>
                        <p class="createpage-title" ng-bind="i18n.vpn_term_IKEpolicy_label"></p>
                        <tiny-formfield>
                            <tiny-item label="ikepolicy.auth_algorithm.label" require="ikepolicy.auth_algorithm.require">
                                <span ng-bind="service.ikepolicy.authentication"></span>
                            </tiny-item>
                            <tiny-item label="ikepolicy.encryption_algorithm.label" require="ikepolicy.encryption_algorithm.require">
                                <tiny-select id="ikepolicy.encryption_algorithm.id" values="ikepolicy.encryption_algorithm.value" width="ikepolicy.encryption_algorithm.width"></tiny-select>
                            </tiny-item>
                            <tiny-item label="ikepolicy.pfs.label" require="ikepolicy.pfs.require">
                                <tiny-select id="ikepolicy.pfs.id" values="ikepolicy.pfs.value" width="ikepolicy.pfs.width"></tiny-select>
                            </tiny-item>
                            <tiny-item label="ikepolicy.ike_version.label">
                                <tiny-radiogroup id="ikepolicy.ike_version.id" layout="ikepolicy.ike_version.layout" values="ikepolicy.ike_version.value">
                                </tiny-radiogroup>
                            </tiny-item>
                            <tiny-item label="ikepolicy.lifetime.label" require="ikepolicy.lifetime.require">
                                <tiny-textbox id="ikepolicy.lifetime.id" value="service.ikepolicy.lifeTime" validate="ikepolicy.lifetime.validate"></tiny-textbox>
                            </tiny-item>
                        </tiny-formfield>
                    </tiny-item>
                </tiny-formfield>
                <tiny-formfield>
                    <tiny-item>
                        <p class="createpage-title" ng-bind="i18n.vpn_term_IPSecPolicy_label"></p>
                        <tiny-formfield>
                            <tiny-item label="ipsecpolicy.transform_protocol.label">
                                <tiny-radiogroup id="ipsecpolicy.transform_protocol.id" layout="ipsecpolicy.transform_protocol.layout" values="ipsecpolicy.transform_protocol.value">
                                </tiny-radiogroup>
                            </tiny-item>
                            <tiny-item label="ipsecpolicy.auth_algorithm.label" require="ipsecpolicy.auth_algorithm.require">
                                <span ng-bind="service.ipsecpolicy.authentication"></span>
                            </tiny-item>
                            <tiny-item label="ipsecpolicy.encryption_algorithm.label" require="ipsecpolicy.encryption_algorithm.require">
                                <tiny-select id="ipsecpolicy.encryption_algorithm.id" values="ipsecpolicy.encryption_algorithm.value" width="ipsecpolicy.encryption_algorithm.width"></tiny-select>
                            </tiny-item>
                            <tiny-item label="ipsecpolicy.pfs.label" require="ipsecpolicy.pfs.require">
                                <tiny-select id="ipsecpolicy.pfs.id" values="ipsecpolicy.pfs.value" width="ipsecpolicy.pfs.width"></tiny-select>
                            </tiny-item>
                            <tiny-item label="ipsecpolicy.lifetime.label" require="ipsecpolicy.lifetime.require">
                                <tiny-textbox id="ipsecpolicy.lifetime.id" value="service.ipsecpolicy.lifeTime" validate="ipsecpolicy.lifetime.validate"></tiny-textbox>
                            </tiny-item>
                        </tiny-formfield>
                    </tiny-item>
                </tiny-formfield>
            </div>
        </div>
        <div style="margin-left: 70px;">
            <tiny-formfield>
                <tiny-item label="info.opt.label">
                    <tiny-button id="info.preBtn.id" text="info.preBtn.text" click="info.preBtn.click()"></tiny-button>
                    <tiny-button id="info.nextBtn.id" text="info.nextBtn.text" click="info.nextBtn.click()" class="major-btn"></tiny-button>
                    <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
                </tiny-item>
            </tiny-formfield>
        </div>
    </div>
</div>