<div class="row-fluid alert-tip-first" id="modify-securitygroup-basic" ng-controller="modifySecuriryGroupCtrl">
    <tiny-formfield>
        <tiny-item label="groupName.label" require="groupName.require">
            <tiny-textbox id="groupName.id" value="groupName.value" width="groupName.width" validate="groupName.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="description.label" require="description.require">
            <tiny-textbox id="description.id" value="description.value" width="description.width" height="description.height" type="description.type" validate="description.validate">
            </tiny-textbox>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button id="okBtn.id" text="okBtn.text" click="okBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="text/javascript">
require(["app/business/network/controllers/securitygroup/modifySecGroupCtrl"], function(modifySecurityGroupModule) {
    var dep = ['ng', modifySecurityGroupModule.name];
    dep.unshift(["$provide",
        function($provide) {
            $provide.value("$rootElement", $("#modify-securitygroup-basic"));
        }
    ]);
    var $injector = angular.injector(dep);
    $injector.invoke(function($compile, $rootScope) {
        $compile($("#modify-securitygroup-basic"))($rootScope);
        $rootScope.$digest();
    });
})
</script>