<div class="ecs_vm_process_monitor_conf alert-tip-first" ng-controller="ecs.vm.processMonitor.conf.ctrl">
    <div>
        <tiny-formfield labelwidth="labelWidth">
            <tiny-item label="label.strategyName" require="true">
                <tiny-textbox id="strategyName.id" value="commonConf.name" validate="strategyName.validate" width="strategyName.width"></tiny-textbox>
            </tiny-item>
            <tiny-item label="label.metricItem" require="true">
                <span ng-bind="commonConf.metricName"></span>
            </tiny-item>
            <tiny-item label="description.label" require="description.require">
                <tiny-textbox id="description.id" value="commonConf.description" width="description.width" height="description.height" type="description.type" validate="description.validate">
                </tiny-textbox>
            </tiny-item>
            <tiny-item label="label.occurWay" require="true">
                <div>
                    <div class="margin-bottom-beautifier">
                        <tiny-radio text="occurWay.text1" name="occurWay.name" checked="commonConf.alertEnableActionMode=='once'" width="occurWay.width" height="occurWay.height" click="occurWay.change1()">
                        </tiny-radio>
                    </div>
                    <div class="margin-bottom-beautifier">
                        <tiny-radio text="occurWay.text2" name="occurWay.name" checked="commonConf.alertEnableActionMode=='period'" width="occurWay.width" height="occurWay.height" click="occurWay.change2()">
                        </tiny-radio>
                    </div>
                </div>
            </tiny-item>
        </tiny-formfield>
    </div>
    <div ng-if="occurWay.choose=='period'">
        <tiny-formfield labelwidth="labelWidth">
            <tiny-item label="label.circle" require="true">
                <tiny-textbox id="statisticCircle.id" value="commonConf.periodTime" width="statisticCircle.width" validate="statisticCircle.validate">
                </tiny-textbox>
            </tiny-item>
            <tiny-item label="label.occurTicks" require="true">
                <tiny-textbox id="statisticTicks.id" value="commonConf.count" width="statisticTicks.width" validate="statisticTicks.validate">
                </tiny-textbox>
            </tiny-item>
        </tiny-formfield>
    </div>
    <div>
        <tiny-formfield labelwidth="labelWidth">
            <tiny-item label="label.conditionConf" require="true">
                <span></span>
                <tiny-select id="conditionConfig.id" values="conditionConfig.values" width="conditionConfig.width" validate='conditionConfig.validate'>
                </tiny-select>
                <tiny-textbox id="comparatorValue.id" value="commonConf.comparatorValue" validate="comparatorValue.validate" width="comparatorValue.width"></tiny-textbox>
            </tiny-item>
            <tiny-item label="label.move" require="true">
                <tiny-radio id='move.id' text='move.text' name='move.name' value='move.value' checked='move.checked' change='move.change()'></tiny-radio>
            </tiny-item>
            <tiny-item label="label.activeState" require="true">
                <span ng-click="enable.change()">
                    <a class="btn-link" ng-if="!enable.enableConfig">
                        <img src="../theme/default/images/gm/disable.png">
                    </a>
                    <a class="btn-link" ng-if="enable.enableConfig">
                        <img src="../theme/default/images/gm/enable.png">
                    </a>
                </span>
            </tiny-item>
        </tiny-formfield>
    </div>

    <div class="fm-btn-top-small" style="margin-left: 111px;">
        <tiny-button id="confirmBtn.id" text="confirmBtn.text" disable="confirmBtn.disable" tooltip="confirmBtn.tooltip" click="confirmBtn.click()" class="major-btn"></tiny-button>
        <tiny-button id="cancelBtn.id" text="cancelBtn.text" tooltip="cancelBtn.tooltip" click="cancelBtn.click()"></tiny-button>
    </div>
</div>

<script>
require(['app/business/ecs/controllers/vm/monitor/processMonitorConf'],
    function(processMonitorConf) {
        var dep = ['ng', 'wcc', processMonitorConf.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $(".ecs_vm_process_monitor_conf"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($(".ecs_vm_process_monitor_conf"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>
