<div class="ecs_vm_detail_disk_add" ng-controller="ecs.vm.detail.disk.add.ctrl">
    <div style="height: 36px;">
        <span ng-if="deployMode!=='serviceCenter'">
            <tiny-radiogroup id="diskType.id" layout="diskType.layout" values="diskType.values" change="diskType.change()">
            </tiny-radiogroup>
        </span>

        <span style="display: inline-block; vertical-align: middle;" class="pull-right" ng-if="diskType.selected == 2">
            <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width" suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength" suggest="searchBox.suggest" search="searchBox.search">
            </tiny-searchbox>
        </span>
        <span class="pull-right" ng-if="diskType.selected == 2 && isIT">
            <tiny-filtersel id="isMountSelector.id" values="isMountSelector.values" width="isMountSelector.width"
                            change="isMountSelector.change()"></tiny-filtersel>
        </span>
    </div>

    <div id="ecsVmDetailDiskAddNormal" ng-if="deployMode!=='serviceCenter'" ng-show="diskType.selected == 1">
        <tiny-formfield>
            <tiny-item label="name.label">
                <tiny-textbox id="name.id" value="name.value" width="name.width" validate="name.validate" extend-function="name.extendFunction"></tiny-textbox>
            </tiny-item>

            <tiny-item label="capacity.label" require="capacity.require">
                <tiny-textbox id="capacity.id" value="capacity.value" width="capacity.width" tooltip="capacity.tips" validate="capacity.validate"></tiny-textbox>
            </tiny-item>
            <tiny-item label="patternSelector.label" display="isIT">
                <tiny-select id="patternSelector.id" values="patternSelector.values"
                             width="patternSelector.width"></tiny-select>
            </tiny-item>
            <tiny-item label="storageMedia.label" require="storageMedia.require">
                <tiny-select id="storageMedia.id" values="storageMedia.values" width="storageMedia.width" validate="storageMedia.validate">
                </tiny-select>
                <span popover="{{i18n.vm_vm_create_para_storageMedia_mean_tip}}" popover-trigger="mouseenter"
                      popover-placement="left" class="small-icon small-icon-tips"  ng-show="isIT"></span>
            </tiny-item>

            <tiny-item label=" ">
                <div class="fm-btn-top-small">
                    <tiny-button id="okBtn.id" text="okBtn.text" click="okBtn.click()" class="major-btn"></tiny-button>
                    <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
                </div>
            </tiny-item>
        </tiny-formfield>
    </div>

    <div id="ecsVmDetailDiskAddExist" class="clearfix" ng-show="diskType.selected == 2">
        <div ng-if="isIT">
            <tiny-table id="existDisks.id" columns="existDisks.columns" data="existDisks.data"
                        enable-pagination="existDisks.enablePagination"
                        pagination-style="existDisks.paginationStyle"
                        render-row="existDisks.renderRow"
                        length-menu="existDisks.lengthMenu"
                        display-length="existDisks.displayLength"
                        total-records="existDisks.totalRecords"
                        callback="existDisks.callback"
                        change-select="existDisks.changeSelect"
                        columns-draggable="true">
            </tiny-table>
        </div>
        <div ng-if="!isIT">
            <tiny-table id="existDisks.id" columns="existDisks.columns" data="existDisks.data"
                        enable-pagination="existDisks.enablePagination"
                        render-row="existDisks.renderRow"
                        callback="existDisks.callback"
                        columns-draggable="true">
            </tiny-table>
            <div class="pull-right">
                <tiny-select id="pageSize.id" values="pageSize.values" width="pageSize.width"
                             change="pageSize.change()"></tiny-select>
                <label class="margin-right-beautifier" ng-bind="i18n.common_term_currentPage_label"></label>
                <label class="margin-right-beautifier" ng-bind="page.currentPage"></label>
                <a ng-class="{tinyPagination_paginationPrevSpan: hasPrePage, tinyPagination_paginationPrevSpanDisabled: !hasPrePage}"
                   title="{{i18n.common_term_previous_button}}" class="tinyPagination_tinybutton clear_both"  style="float:none; display: inline-block; position: relative; top: 8px;" ng-click="prePage()"></a>
                <a ng-class="{tinyPagination_paginationNextSpan: hasNextPage,tinyPagination_paginationNextSpanDisabled: !hasNextPage}"
                   title="{{i18n.common_term_nextPage_button}}" class="tinyPagination_tinybutton clear_both" style="float:none; display: inline-block; position: relative; top: 8px;" ng-click="nextPage()"></a>
            </div>
        </div>

        <div class="fm-btn-top-large text-center">
            <tiny-button id="existDiskOkBtn.id" text="existDiskOkBtn.text" click="existDiskOkBtn.click()" disable="existDiskOkBtn.disable" class="major-btn"></tiny-button>
            <tiny-button id="existDiskCancelBtn.id" text="existDiskCancelBtn.text" click="existDiskCancelBtn.click()"></tiny-button>
        </div>
    </div>
</div>

<script>
require(['app/business/ecs/controllers/vm/disk/addVmDiskCtrl'],
    function(addDiskCtrl) {
        var dep = ['ng', 'wcc', addDiskCtrl.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $(".ecs_vm_detail_disk_add"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($(".ecs_vm_detail_disk_add"))($rootScope);
            $rootScope.$digest();
        });

        $("#ecsVmDetailAddDiskExistDisks").addClass("clearfix");
    });
</script>
