<div class="container-fluid" id="modifyService" ng-controller="modifyCtrl">
    <p ng-bind-html="i18n.vpc_deployService_add_desc_label" class="color2"></p>
    <div class="inner-legend" ng-bind="i18n.vpc_term_chooseNet_label"></div>
    <tiny-formfield>
        <tiny-item label="info.searchBox.label" require="info.searchBox.require">
            <tiny-searchbox id="info.searchBox.id" placeholder="info.searchBox.placeholder" width="info.searchBox.width" suggest-size="info.searchBox.suggestSize" maxlength="info.searchBox.maxLength" suggest="info.searchBox.suggest" search="info.searchBox.search">
            </tiny-searchbox>
        </tiny-item>
    </tiny-formfield>
    <div class="margin-left-beautifier clearfix">
        <tiny-table id="info.networkTable.id" data="info.networkTable.data" columns="info.networkTable.columns" pagination-style="info.networkTable.paginationStyle" length-menu="info.networkTable.lengthMenu" total-records="info.networkTable.totalRecords" enable-filter="info.networkTable.enableFilter"
        render-row="info.networkTable.renderRow"></tiny-table>
    </div>
    <div class="clearfix fm-btn-top-large text-center">
        <tiny-item>
            <tiny-button id="info.okBtn.id" text="info.okBtn.text" click="info.okBtn.click()" disable="info.okBtn.disable" class="major-btn"></tiny-button>
            <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
        </tiny-item>
    </div>
</div>
<style>
.tiny-checkboxIcon {
    margin-top: 4px;
}
</style>
<script type="application/javascript">
require(['app/business/network/controllers/service/modifyServiceModule'],
    function(modifyServiceModule) {
        var dep = ['ng', 'wcc', modifyServiceModule.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $("#modifyService"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($("#modifyService"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>