<div class="container-fluid">
    <div id="openStackDiv">
           <tiny-formfield>
               <tiny-item label="version.label" require="version.require">
                   <div ng-bind="version.value"></div>
               </tiny-item>
               <tiny-item label="provider.label" require="provider.require">
                   <div ng-bind="provider.value"></div>
               </tiny-item>
               <tiny-item label="url.label" require="url.require">
                   <div ng-bind="url.value"></div>
               </tiny-item>
               <tiny-item label="defaultProject.label" require="defaultProject.require">
                   <div ng-bind="defaultProject.value"></div>
               </tiny-item>
               <tiny-item label="description.label" require="description.require">
                   <tiny-textbox id="description.id" type="description.type" width="description.width" height="description.height"></tiny-textbox>
               </tiny-item>
               <tiny-item display="accessDisable">
                   <div ng-bind="noInfraTip" ng-if="accessDisable"></div>
               </tiny-item>
               <tiny-item class="fm-btn-top-small">
                   <tiny-button id="access.id" text="access.text" click="access.click()" disable="access.disable"
                                display="access.display" class="major-btn"></tiny-button>&nbsp;&nbsp;
                    <tiny-button id="cancel.id" text="cancel.text" click="cancel.click()"></tiny-button>
               </tiny-item>
           </tiny-formfield>
    </div>
</div>

<script type="application/javascript">
    require(['app/business/multiPool/controllers/fusionCasecade/openStackAccessCtrl'],
            function (openStackAccessCtrl) {
                $("#openStackDiv").attr("ng-controller", "openStackAccessCtrl");
                var dep = ['ng', 'wcc', openStackAccessCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#openStackDiv"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile($("#openStackDiv"))($rootScope);
                    $rootScope.$digest();
                });
            });
</script>

