<div fm-help help="'drawer_cloud_resource'" show="show.help" i18n="'zh'"></div>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span ng-bind="i18n.cloud_term_cloudPool_label"></span></li>
            <li ng-show="!openstack" class="two-lead">
                <p ng-bind-html="i18n.cloud_pool_viewIT_explan_label"></p>
            </li>
            <li ng-show="openstack" class="two-lead">
                <p ng-bind-html="i18n.cloud_pool_viewICT_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="clearfix fm-btn-bottom-small">
            <div class="fl" ng-show="!openstack">
                <tiny-button class="major-btn" id="fusionSphereBtn.id" text="fusionSphereBtn.text"
                             display="fusionSphereBtn.display" click="fusionSphereBtn.fusion()"></tiny-button>
            </div>
            <div class="fl" ng-show="openstack">
                <tiny-button id="openStackBtn.id" text="openStackBtn.text" click="openStackBtn.openStack()"
                             display="openStackBtn.display" class="major-btn"></tiny-button>
            </div>
            <!--刷新、帮助-->
            <div class="pull-right">
                <tiny-filtersel id="allConnet.id" width="allConnet.width" values="allConnet.values"
                                disable="allConnet.disable" change="allConnet.change()"></tiny-filtersel>
                <tiny-filtersel id="allState.id" width="allState.width" values="allState.values"
                                disable="allState.disable" change="allState.change()"></tiny-filtersel>
            <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
                <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width"
                                suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength"
                                suggest="searchBox.suggest" search="searchBox.search">
                </tiny-searchbox>
            </span>
                <a class="btn-link">
                    <div ng-click="refresh.click()" class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div ng-click="show.help=true" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>

        <div>
            <tiny-table id="resourcePool.id" data="resourcePool.data" columns="resourcePool.columns"
                        enable-pagination="resourcePool.pagination"
                        pagination-style="resourcePool.paginationStyle" length-change="resourcePool.lengthChange"
                        length-menu="resourcePool.lengthMenu" display-length="resourcePool.displayLength"
                        enable-filter="resourcePool.enableFilter" cur-page="resourcePool.curPage"
                        total-records="resourcePool.totalRecords"
                        request-config="resourcePool.requestConfig" columns-visibility="resourcePool.visibility"
                        hide-total-records="resourcePool.hideTotalRecords" render-row="resourcePool.renderRow"
                        callback="resourcePool.callback" change-select="resourcePool.changeSelect"
                        show-details="resourcePool.showDetails"></tiny-table>
        </div>
    </div>
</div>
