<div class="content-right-box">
<div id="sectionUseDiv">
    <tiny-formfield>
        <tiny-item label="sectionSelectModel.sectionSelectLabel">
            <div class="clearfix">
                <div class="fl" style="width:250px">
                    <div class="form-inline">
                        <span ng-bind="sectionSelectModel.canSelectSectionLabel"></span>
                        <div class="pull-right">
                                <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
                                    <tiny-searchbox id="leftSectionUseSearchBox.id"
                                                    placeholder="leftSectionUseSearchBox.placeholder"
                                                    width="leftSectionUseSearchBox.width"
                                                    suggest-size="leftSectionUseSearchBox.suggestSize"
                                                    maxlength="leftSectionUseSearchBox.maxLength"
                                                    suggest="leftSectionUseSearchBox.suggest"
                                                    search="leftSectionUseSearchBox.search">
                                    </tiny-searchbox>
                                </span>
                        </div>
                    </div>
                    <div style="border: 1px #ccc solid;overflow-y:auto;overflow-x:hidden; height: 300px;margin-top: 10px">
                        <div style="margin: 5px;">
                            <div ng-repeat="azLeft in canSelectAz.azList">
                                <tiny-checkbox id="azLeft.id" text="azLeft.name" height="canSelectAz.height"
                                               checked="azLeft.checked"></tiny-checkbox>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fl" style="width: 100px;display:block; text-align: center; margin-top: 135px;">
                    <div>
                        <img src='../theme/default/images/common_leftbutton.png' ng-click="selectAzLeftBtn.click()">
                    </div>
                    <div>
                        <img src='../theme/default/images/common_rightbutton.png'
                             ng-click="selectAzRightBtn.click()">
                    </div>
                </div>
                <div class="fl" style="width:250px">
                    <div class="form-inline">
                        <span ng-bind="sectionSelectModel.sectionSelectedLabel"></span>
                    </div>
                    <div style="border: 1px #ccc solid;overflow-y:auto;overflow-x:hidden;height: 300px;">
                        <div style="padding: 5px;">
                            <div class="clearfix" ng-repeat="azRight in selectedAz.azList">
                                <div class="fl">
                                    <tiny-checkbox id="azRight.id" text="azRight.name" checked="azRight.checked"
                                                   height="selectedAz.height" width="selectedAz.width"></tiny-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tiny-item>
        <tiny-item>
            <div>
                <tiny-button id="azSelectFinishBtn.id" text="azSelectFinishBtn.text" display="azSelectFinishBtn.display"
                             click="azSelectFinishBtn.click()"></tiny-button>
                <tiny-button id="azSelectCancelBtn.id" text="azSelectCancelBtn.text"
                             click="azSelectCancelBtn.click()"></tiny-button>
            </div>
        </tiny-item>
    </tiny-formfield>
</div>
</div>