<div id="transferDiskDiv" class="alert-tip-first">
    <tiny-formfield>
        <tiny-item label="userTable.name" require="userTable.require">
            <div style="width: 570px">
                <tiny-table id="userTable.id" caption="userTable.caption" data="userTable.data"
                            pagination-style="userTable.paginationStyle" columns-draggable="userTable.columnsDraggable"
                            columns='userTable.columns' render-row="userTable.renderRow"
                            total-records="userTable.totalRecords" length-change="userTable.lengthChange"
                            cur-page="userTable.curPage" display-length="userTable.displayLength"
                            enable-pagination="userTable.enablePagination" change-select="userTable.changeSelect"
                            length-menu="userTable.lengthMenu" callback="userTable.callback"></tiny-table>
            </div>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button class="major-btn" id="okButton.id" text="okButton.text" click="okButton.click()"></tiny-button>
            <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>

<script type="application/javascript">
    require(['app/business/ecs/controllers/storage/disk/transferCtrl'],
            function (transferCtrl) {
                var rootElement = $("#transferDiskDiv");
                rootElement.attr("ng-controller", "ecs.disk.transferDisk.ctrl");
                var dep = ['ng', 'wcc', transferCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", rootElement);
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile(rootElement)($rootScope);
                    $rootScope.$digest();
                });
            });
</script>
