<div>
    <div class="margin-bottom-beautifier clearfix">
        <!--刷新、列选择、帮助-->
        <div class="pull-right">
            <tiny-filtersel id="searchResult.id" values="searchResult.values" width="searchResult.width" change="searchResult.change()">
            </tiny-filtersel>

            <span style="display: inline-block; vertical-align: middle;">
                <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width" suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength" suggest="searchBox.suggest" search="searchBox.search">
                </tiny-searchbox>
            </span>
            <a class="btn-link">
                <div ng-click="refresh.click()" id="refresh.id" title="刷新" class="small-icon small-icon-refresh"></div>
            </a>
        </div>
    </div>
    <div>
        <tiny-table id="logListTable.id" data="logListTable.data" columns="logListTable.columns" enable-pagination="logListTable.enablePagination" pagination-style="logListTable.paginationStyle" length-change="logListTable.lengthChange" length-menu="logListTable.lengthMenu"
        display-length="logListTable.displayLength" enable-filter="logListTable.enableFilter" change-select="logListTable.changeSelect" show-details="logListTable.showDetails" callback="logListTable.callback" render-row="logListTable.renderRow" columns-visibility="false"
        total-records="logListTable.totalRecords" columns-draggable="false"></tiny-table>
    </div>
    <br/>
</div>

