<div>
    <div fm-help help="'drawer_sc_catalog'" show="show.help" i18n="'zh'"></div>
    <div id="catalogManagerLayoutId">
        <div class="tiny-layout-container">
            <div class="tiny-layout-west">
                <ul>
                    <div class="tiny-layout-title">
                        <div class="row-fluid nosidedown-txt">
                            <div class="span4">
                                <div class="title-icon">
                                    <img src="../theme/default/images/catalog.png">
                                </div>
                            </div>
                            <div class="span6">
                                <span class="text-left" ng-bind="i18n.service_term_service_label"></span>
                            </div>
                        </div>
                    </div>
                    <li>
                        <a ui-sref="service.catalogManager" ng-bind="i18n.service_term_catalogMgr_label"></a>
                    </li>
                </ul>
            </div>

            <div class="tiny-layout-center">
                <div class="crumbs">
                    <ul class="nav nav-list noPadding">
                        <li>
                            <span ng-bind-html="i18n.service_term_catalogMgr_label"></span>
                        </li>
                        <li class="two-lead">
                            <p ng-bind-html="i18n.service_service_view_explan_eCommerce_label"></p>
                        </li>
                        <li class="divider"></li>
                    </ul>
                </div>
                <div class="content-right-box">
                    <div class="clearfix bottom10">
                        <div class="fl">
                            <tiny-button ng-if="hasCatalogOperateRight"
                                         id="createBtn.id"
                                         text="createBtn.text"
                                         disable="createBtn.disable"
                                         click="createBtn.click()"
                                         class="major-btn"></tiny-button>
                        </div>
                        <div class="pull-right">
                            <tiny-button ng-if="hasCatalogOperateRight"
                                         id="saveSequenceBtn.id"
                                         text="saveSequenceBtn.text"
                                         click="saveSequenceBtn.click()"></tiny-button>
                            <a class="btn-link">
                                <img src="../theme/default/images/gm/refresh.gif"
                                     ng-click="refresh.click()"
                                     id="refresh.id"
									  title="{{i18n.common_term_fresh_button}}">
                            </a>
                            <a class="btn-link"><img src="../theme/default/images/gm/help.png"
                                                     ng-click="show.help=true"
                                                     title="{{i18n.common_term_help_label}}"></a>
                        </div>
                    </div>
                    <div>
                        <tiny-table id="catalogs.id"
                                    data="catalogs.data"
                                    columns="catalogs.columns"
                                    render-row="catalogs.renderRow"
                                    enable-pagination="catalogs.page">
                        </tiny-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>