<div id="createVmBaseInfo" style="width: 100%;" class="create-page-distance">
    <div>
        <tiny-formfield>
            <tiny-item label="name.label" require="name.require">
                <tiny-textbox id="name.id" value="service.vmName" validate="name.validate" width="name.width"></tiny-textbox>
                <span popover="{{i18n.vm_vm_create_para_num_mean_tip}}" popover-trigger="mouseenter" popover-placement="right" class="small-icon small-icon-tips"></span>
            </tiny-item>

            <tiny-item label="computerName.label" require="computerName.require">
                <tiny-textbox id="computerName.id" value="service.vmComputeName" validate="computerName.validate" width="computerName.width" extend-function="computerName.extendFunction"></tiny-textbox>
            </tiny-item>


            <tiny-item label="clusterName.label" require="clusterName.require"  display = "showClusterName">
                <tiny-textbox id="clusterName.id"
                              value="clusterName.description"
                              width="clusterName.width"
                              height="clusterName.height"
                              type="clusterName.type"
                              validate="clusterName.validate" >
                </tiny-textbox>
            </tiny-item>

            <tiny-item label="description.label" require="description.require">
                <tiny-textbox id="description.id" value="service.description" width="description.width" height="description.height" type="description.type" validate="description.validate">
                </tiny-textbox>
            </tiny-item>

             <tiny-item  class="fm-btn-top-small">
                 <tiny-button id="prevBtn.id" text="prevBtn.text" tooltip="prevBtn.tooltip" click="prevBtn.click()"></tiny-button>
                 <tiny-button id="nextBtn.id" text="nextBtn.text" tooltip="nextBtn.tooltip" click="nextBtn.click()" class="major-btn"></tiny-button>
                 <tiny-button id="cancelBtn.id" text="cancelBtn.text" tooltip="cancelBtn.tooltip" click="cancelBtn.click()"></tiny-button>
             </tiny-item>

        </tiny-formfield>

    </div>
</div>