<div id="ecsVmCreateSpecInfo">
    <div class="create-page-distance">
        <div class="row-fluid create-outbox">
            <!--左侧区域-->
            <div class="span7 create-outbox-left">
                <div class="custom-instance-types" ng-show="!isICT">
                    <div class="form-item">
                        <div class="createpage-title">{{i18n.vm_term_vmSLA_label}}:</div>
                        <div>
                            <div class="types createvm-types">
                                <div ng-repeat="sla in specInfo.sla.values" class="types-item" data-value="{{sla.value}}">
                                    <div class="inner" ng-style="getSlaStyle($index)"><i class="icon-white"></i>
                                    </div>
                                    <h6 class="type-name" ng-bind="sla.value"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabbable left11">
                    <ul class="nav nav-tabs">
                        <li class="active"><a class="btn-link" data-toggle="tab" data-target="#ecsVmSysConfig" ng-click="changeConfigType('system')">{{i18n.spec_term_sysSpec_label}}</a>
                        </li>
                        <li ng-if="service.vm_support_user_define_config==='true'"><a class="btn-link" data-toggle="tab" data-target="#ecsVmUserConfig" ng-click="changeConfigType('userDefine')">{{i18n.common_term_customSpec_label}}</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <!--系统规格标签页-->
                        <div class="tab-pane active top5" id="ecsVmSysConfig">
                            <tiny-select id="specInfo.configTem.id" values="specInfo.configTem.values" width="specInfo.configTem.width" height="specInfo.configTem.height" change="specInfo.configTem.change()" validate="specInfo.configTem.validate">
                            </tiny-select>
                            <span popover="{{i18n.vm_vm_create_para_spec_mean_tip}}" popover-trigger="mouseenter" popover-placement="right" class="small-icon small-icon-tips"></span>
                            <div class="createpage-title none-line top10">{{i18n.common_term_specDetail_label}}:</div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <tiny-formfield>
                                        <tiny-item label="specInfo.configTem.label">
                                            <span ng-bind="specInfo.configTem.detail.name"></span>
                                        </tiny-item>
                                        <tiny-item label="specInfo.cpuNum.label">
                                            <span ng-bind="specInfo.configTem.detail.cpuCount"></span>vCPU
                                        </tiny-item>
                                        <tiny-item label="specInfo.memory.label">
                                            <span ng-bind="specInfo.configTem.detail.memSize"></span>MB
                                        </tiny-item>
                                        <tiny-item label="specInfo.disk.label">
                                            <span ng-bind="specInfo.configTem.detail.diskTotalSize"></span>GB
                                        </tiny-item>
                                        <tiny-item label="specInfo.startupMode.label" display="isICT">
                                            <span ng-bind="specInfo.configTem.detail.extBootTypeUI"></span>
                                        </tiny-item>
                                    </tiny-formfield>
                                </div>
                                <div class="span6" ng-if="isICT">
                                    <tiny-formfield>
                                        <tiny-item label="specInfo.tempDisk.label">
                                            <span ng-bind="specInfo.configTem.detail.tempDisk"></span>
                                        </tiny-item>
                                        <tiny-item label="specInfo.swapSize.label">
                                            <span ng-bind="specInfo.configTem.detail.swapSize"></span>
                                        </tiny-item>
                                    </tiny-formfield>
                                </div>
                            </div>
                        </div>
                        <!--自定义规格标签页-->
                        <div class="tab-pane custom-instance-types" id="ecsVmUserConfig">
                            <div class="form-item">
                                <div class="createpage-title none-line" ng-bind="specInfo.cpuNum.label"></div>
                                <div class="form-value">
                                    <div class="options createvm-cpu">
                                        <div class="types-options cpu-options selected" data-value="1">1{{i18n.common_term_core_label}}</div>
                                        <div class="types-options cpu-options " data-value="2">2{{i18n.common_term_core_label}}</div>
                                        <div class="types-options cpu-options " data-value="4">4{{i18n.common_term_core_label}}</div>
                                        <div class="types-options cpu-options " data-value="8">8{{i18n.common_term_core_label}}</div>
                                        <div class="types-options cpu-options " self-defined data-value="">{{i18n.common_term_custom_label}}</div>
                                        <div class="input-tip">1～64</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-item">
                                <div class="createpage-title none-line" ng-bind="specInfo.memory.label"></div>
                                <div class="form-value">
                                    <div class="options createvm-memory">
                                        <div class="types-options memory-options selected" data-value="512">512MB</div>
                                        <div class="types-options memory-options" data-value="1024">1G</div>
                                        <div class="types-options memory-options" data-value="2048">2G</div>
                                        <div class="types-options memory-options" data-value="4096">4G</div>
                                        <div class="types-options memory-options" data-value="6144">6G</div>
                                        <div class="types-options memory-options" data-value="8192">8G</div>
                                        <div class="types-options memory-options" data-value="12288">12G</div>
                                        <div class="types-options memory-options" data-value="16384">16G</div>
                                        <div class="types-options memory-options" data-value="24576">24G</div>
                                        <div class="types-options memory-options" data-value="32768">32G</div>
                                        <div class="types-options memory-options" self-defined data-value="" style="width: 50px">{{i18n.common_term_custom_label}}</div>
                                        <div class="input-tip">1～1024</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--选存储类型-->
                <div class="top20 clearfix line-height25" ng-if="service.vm_support_user_define_config==='true'">
                    <tiny-checkbox id="storageType.id" checked="storageType.checked" text="storageType.text" class="fl"></tiny-checkbox>
                    <span class="tiny_form_td_label left15" ng-bind="storageType.description"></span>
                </div>
                <!--虚拟机个数-->
                <div class="fm-btn-top-small">
                    <div id="ecsVmCreateSpecVmNumDiv">
                        <tiny-formfield>
                            <tiny-item label="specInfo.configType.label" display="!isICT">
                                <tiny-select id="specInfo.configType.id" values="specInfo.configType.values"
                                             width="specInfo.configType.width"></tiny-select>
                                <span popover="{{i18n.vm_vm_create_para_setMode_mean_user_tip}}" popover-trigger="mouseenter"
                                      popover-placement="right" class="small-icon small-icon-tips"></span>
                            </tiny-item>
                            <tiny-item label="specInfo.vmNum.label" require="specInfo.vmNum.require">
                                <div class="inline-block">
                                    <tiny-textbox id="specInfo.vmNum.id" extend-function="specInfo.vmNum.extendFunction" value="specInfo.vmNum.value" validate="specInfo.vmNum.validate" blur="specInfo.vmNum.blur()" keypressfn="specInfo.vmNum.keypressfn" width="specInfo.vmNum.width"></tiny-textbox>
                                </div>
                                <div class="inline-block align-top top5">
                                    <span>({{i18n.common_term_max_label}}{{specInfo.vmNum.max}}{{i18n.common_term_entry_label}})</span>
                                </div>
                            </tiny-item>
                        </tiny-formfield>
                    </div>
                </div>
            </div>

            <!--右侧区域-->
            <div class="span5">
                <!-- SLA详情 -->
                <div ng-show="!isICT">
                    <div class="bottom10">
                        <div class="createpage-title">{{i18n.vm_term_SLAdetail_label}}:</div>
                        <span ng-bind="specInfo.sla.detail.value" class="margin-left-beautifier"></span>
                    </div>
                    <span class="margin-left-beautifier" ng-bind="specInfo.sla.detail.description"></span>
                </div>

                <!-- 配额-->
                <div class="create-outbox-right top20" ng-if="service.vm_support_user_define_config==='true'">
                    <div class="createpage-title">{{i18n.common_term_quotaStauts_label}}:</div>
                    <div class="create-outbox-right-context">
                        <tiny-formfield class="form_item_no_padding">
                            <tiny-item label="specInfo.cpuQuotas.label" labelcls="specInfo.quota.class">
                                <div class="row-fluid" style="width: 560px;" ng-if="!specInfo.quota.unlimited">
                                    <div class="pull-left">
                                        <tiny-progressbar id="specInfo.cpuQuotas.id" label-position="specInfo.quota.position" height="specInfo.quota.height" value="specInfo.cpuQuotas.percent"></tiny-progressbar>
                                    </div>
                                    <span class="margin-left-beautifier" ng-bind="specInfo.cpuQuotas.used"></span>/
                                    <span ng-bind="specInfo.quota.cpuTotal"></span>
                                </div>
                                <span ng-if="specInfo.quota.unlimited" ng-bind="i18n.common_term_notLimit_value"></span>
                            </tiny-item>

                            <tiny-item label="specInfo.memQuotas.label" labelcls="specInfo.quota.class">
                                <div class="row-fluid" style="width: 560px;" ng-if="!specInfo.quota.unlimited">
                                    <div class="pull-left">
                                        <tiny-progressbar id="specInfo.memQuotas.id" label-position="specInfo.quota.position" height="specInfo.quota.height" value="specInfo.memQuotas.percent"></tiny-progressbar>
                                    </div>
                                    <span class="margin-left-beautifier" ng-bind="specInfo.memQuotas.usedView"></span>GB/
                                    <span ng-bind="specInfo.quota.memTotalView"></span>GB
                                </div>
                                <span ng-if="specInfo.quota.unlimited" ng-bind="i18n.common_term_notLimit_value"></span>
                            </tiny-item>

                            <tiny-item label="specInfo.storageQuotas.label" labelcls="specInfo.quota.class">
                                <div class="row-fluid" style="width: 560px;" ng-if="!specInfo.quota.unlimited">
                                    <div class="pull-left">
                                        <tiny-progressbar id="specInfo.storageQuotas.id" label-position="specInfo.quota.position" height="specInfo.quota.height" value="specInfo.storageQuotas.percent"></tiny-progressbar>
                                    </div>
                                    <span class="margin-left-beautifier" ng-bind="specInfo.storageQuotas.used"></span>GB/
                                    <span ng-bind="specInfo.quota.storageTotal"></span>GB
                                </div>
                                <span ng-if="specInfo.quota.unlimited" ng-bind="i18n.common_term_notLimit_value"></span>
                            </tiny-item>

                            <tiny-item label="specInfo.vmNumQuotas.label" labelcls="specInfo.quota.class">
                                <div class="row-fluid" style="width: 560px;" ng-if="!specInfo.quota.unlimited">
                                    <div class="pull-left">
                                        <tiny-progressbar id="specInfo.vmNumQuotas.id" label-position="specInfo.quota.position" height="specInfo.quota.height" value="specInfo.vmNumQuotas.percent"></tiny-progressbar>
                                    </div>
                                    <span class="margin-left-beautifier" ng-bind="specInfo.vmNumQuotas.used"></span>/
                                    <span ng-bind="specInfo.quota.vmTotal"></span>
                                </div>
                                <span ng-if="specInfo.quota.unlimited" ng-bind="i18n.common_term_notLimit_value"></span>
                            </tiny-item>
                        </tiny-formfield>
                    </div>
                </div>
            </div>
        </div>

        <!--下方按钮-->
        <div class="fm-btn-top-small">
            <tiny-button id="specInfo.preBtn.id" text="specInfo.preBtn.text" ng-if="service.from!='template'" tooltip="specInfo.preBtn.tooltip" click="specInfo.preBtn.click()"></tiny-button>
            <tiny-button id="specInfo.nextBtn.id" text="specInfo.nextBtn.text" tooltip="specInfo.nextBtn.tooltip" click="specInfo.nextBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="specInfo.cancelBtn.id" text="specInfo.cancelBtn.text" tooltip="specInfo.cancelBtn.tooltip" click="specInfo.cancelBtn.click()"></tiny-button>
        </div>
    </div>
</div>