<div class="step1">
    <div class="create-page-distance">
        <div class="clearfix">
            <div class="pull-left" ng-show="!openstack">
                <tiny-formfield>
                    <tiny-item label="selTemp.az.label">
                        <tiny-filtersel id="selTemp.az.id" values="selTemp.az.values" width="selTemp.az.width" change="selTemp.az.change()">
                        </tiny-filtersel>
                    </tiny-item>
                </tiny-formfield>
            </div>
            <div class="pull-right">
                <tiny-filtersel ng-if="!openstack" id="selTemp.tempType.id" values="selTemp.tempType.values" width="selTemp.tempType.width" change="selTemp.tempType.change()">
                </tiny-filtersel>

                <tiny-filtersel id="selTemp.osType.id" values="selTemp.osType.values" width="selTemp.osType.width" change="selTemp.osType.change()">
                </tiny-filtersel>

                <tiny-filtersel id="selTemp.osVersion.id" values="selTemp.osVersion.values" width="selTemp.osVersion.width" height="selTemp.osVersion.height" change="selTemp.osVersion.change()">
                </tiny-filtersel>

                <span style="display: inline-block; vertical-align: middle;">
                    <tiny-searchbox id="selTemp.searchBox.id" placeholder="selTemp.searchBox.placeholder" width="selTemp.searchBox.width" maxlength="selTemp.searchBox.maxLength" search="selTemp.searchBox.search">
                    </tiny-searchbox>
                </span>

                <span style="margin: 0px 10px;">{{i18n.common_term_totalNum_label}}: {{selTemp.templates.total}}&nbsp;</span>
            </div>
        </div>

        <div class="ecsVmCreateSelTempList clearfix row-fluid">
            <div ng-repeat="temp in selTemp.templates.value" class="row-fluid accordion-toggle ecs_vm_template_bk_color span6" ng-click="selTemp.selectTemplate($index, temp.vmtId)"
                 style="min-height: 90px;margin-left: 0;">
                <div class="media">
                    <a class="pull-left">
                        <img class="media-object" ng-src="{{temp.picture}}" alt="">
                    </a>

                    <div class="media-body">
                        <div class="row-fluid">
                            <div class="span12">
                                <span>{{temp.vmtName}}</span>
                            </div>

                        </div>

                        <div class="row-fluid">
                            <div class="span2 text-overflow">
                                {{i18n.common_term_OS_label}}: {{temp.osType}}
                            </div>
                            <div class="span7 text-overflow">
                                {{i18n.common_term_version_label}}: {{temp.osVersion}}
                            </div>
                            <div class="span3 text-overflow">
                                {{i18n.common_term_type_label}}: {{temp.type}}
                            </div>
                        </div>

                        <div class="row-fluid" ng-if="openstack">
                            <div class="span2 text-overflow">
                                {{i18n.common_term_memMinMB_label}}: {{temp.minRam}}
                            </div>
                            <div class="span7 text-overflow">
                                {{i18n.common_term_diskMinGB_label}}: {{temp.minDisk}}
                            </div>
                            <div class="span3 text-overflow">
                            </div>
                        </div>

                        <div class="row-fluid">
                            <div class="text-overflow">
                                {{i18n.common_term_desc_label}}: {{temp.description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="color: red;" ng-show="selTemp.showTips">{{i18n.vm_vm_create_info_noTemplate_msg}}</div>

        <div class="fm-btn-top-smaller">
            <tiny-button id="selTemp.nextBtn.id" text="selTemp.nextBtn.text" tooltip="selTemp.nextBtn.tooltip" click="selTemp.nextBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="selTemp.cancelBtn.id" text="selTemp.cancelBtn.text" tooltip="selTemp.cancelBtn.tooltip" click="selTemp.cancelBtn.click()"></tiny-button>
        </div>
    </div>

</div>