<fm-valid valid="show.check">
<tiny-formfield>
	<tiny-item label="label.name" require="true">
		<fm-text value="para.name" length="16" valid="lib.checkZH(para.name,'\\w')"
            tip="i18n.common_term_composition2_valid+i18n.sprintf(i18n.common_term_maxLength_valid,{1:16})"></fm-text>
	</tiny-item>
	<tiny-item label="label.zone" require="true">
		<fm-select id="para.zone" option="form.zone" valid="i18n.resource_term_noZone_valid"
			change="event.zoneChange"></fm-select>
	</tiny-item>
	<tiny-item label="label.az" require="true">
		<fm-select id="para.az" option="form.az" valid="i18n.resource_term_noAZ_valid"></fm-select>
	</tiny-item>
	<tiny-item label="label.desp" require="false">
		<fm-text value="para.desp" length="1024" type="'multi'" require="false" valid="#XSS"></fm-text>
	</tiny-item>
    <tiny-item>
        <div class="fm-btn-top-small">
            <fm-button class='major-btn fm-valid' text="i18n.common_term_ok_button||'确定'" click="save"></fm-button>
            <fm-button class='fm-valid-clear' text="i18n.common_term_cancle_button||'取消'" click="cancel"></fm-button>
        </div>
    </tiny-item>
</tiny-formfield>
</fm-valid>