<div>
    <div id="importTemplateBasicInfoId"  class="create-page-distance">
        <tiny-formfield>
            <tiny-item label="name.label" require="name.require">
                <tiny-textbox id="name.id" value="service.model.name" validate="name.validate" focused="name.focused"
                              width="name.width" extend-function="name.extendFunction"></tiny-textbox>
            </tiny-item>

            <div>
                <tiny-item label="templateLogo.label" require="templateLogo.require">
                    <img ng-src="{{'../theme/default/images/gm/appImage/'+service.model.curLogo}}" ng-click='templateLogo.change()' class='customHide imgSize' style="cursor: pointer;">
                    <div id="importTemplateLogoOptionId" style="display: none;">
                        <div ng-repeat="logo in templateLogo.options" style="display: inline-block;margin-right: 5px;margin-top: 10px;">
                            <img ng-src="{{'../theme/default/images/gm/appImage/'+logo}}" ng-click='templateLogo.changeLogo(logo)' style="cursor: pointer;" class="customHide imgSize">
                        </div>
                    </div>
                </tiny-item>
            </div>

            <tiny-item label="templateName.label" require="templateName.require">
                <tiny-fileupload id="templateName.idSingle" file-obj-name="templateName.fileObjName" action="templateName.action" enable-detail = "templateName.enableDetail" width="templateName.width"
                                 show-submit-btn="templateName.showSubmitBtn" title="templateName.title" before-submit="templateName.beforeSubmit" method="templateName.method"
                                 select="templateName.select" complete="templateName.complete" file-type="templateName.fileType" max-size="templateName.maxSize" select-error="templateName.selectError">
                </tiny-fileupload>
                <span popover="{{i18n.template_app_import_para_file_mean_tip}}" popover-trigger="mouseenter"
                      class="small-icon small-icon-tips" style="float: left;margin-right: -25px;margin-top:4px;"></span>
            </tiny-item>

            <tiny-item label="description.label" require="description.require">
                <tiny-textbox id="description.id" value="service.model.description"
                              width="description.width" height="description.height" type="description.type"
                              validate="description.validate"
                              error-msg="description.errorMsg">
                </tiny-textbox>
            </tiny-item>

            <!-- 操作按钮 -->
            <tiny-item label="buttonGroup.label" require="buttonGroup.require" class="fm-btn-top-small">
                    <tiny-button id="nextBtn.id" disabled="nextBtn.disabled" icons-class="nextBtn.iconsClass" text="nextBtn.text"
                                 tooltip="nextBtn.tip" click="nextBtn.next()" class="major-btn"></tiny-button>
                    <tiny-button id="cancelBtn.id" disabled="cancelBtn.disabled" icons-class="cancelBtn.iconsClass"
                                 text="cancelBtn.text"
                                 tooltip="cancelBtn.tip" click="cancelBtn.cancel()"></tiny-button>
            </tiny-item>

        </tiny-formfield>
    </div>
</div>
<style>
    .imgSize {width: 60px !important;height: 76px !important;}
</style>
