<div id="deviceLayout">
    <div class="tiny-layout-container">
        <div class="tiny-layout-west">
            <ul>
                <div class="tiny-layout-title">
                    <div class="row-fluid nosidedown-txt">
                        <div class="span4">
                            <div class="title-icon">
                                <img src="../theme/default/images/equipment.png">
                            </div>
                        </div>
                        <div class="span8">
                            <p class="title-text">设备</p>
                        </div>
                    </div>
                </div>
                <li>
                    <div class="tiny-layout-head" ui-sref="resources.device.host">计算设备</div>
                    <ul>
                        <li>
                            <a ui-sref="resources.device.host">服务器</a>
                        </li>
                        <li>
                            <a ui-sref="resources.device.rack" >机框</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="tiny-layout-head" ui-sref="resources.device.switch">网络设备</div>
                    <ul>
                        <li>
                            <a ui-sref="resources.device.switch">交换机</a>
                        </li>
                        <li ng-show="cloudType=='FUSIONSPHERE'">
                            <a ui-sref="resources.device.firewall">防火墙</a>
                        </li>
                        <li ng-show="cloudType=='FUSIONSPHERE'">
                            <a ui-sref="resources.device.balance">负载均衡</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="tiny-layout-head" ui-sref="resources.device.san">存储设备</div>
                    <ul>
                        <li>
                            <a ui-sref="resources.device.san">SAN</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="tiny-layout-head" ui-sref="resources.device.room">物理位置</div>
                    <ul>
                        <li>
                            <a ui-sref="resources.device.room">机房</a>
                        </li>
                        <li>
                            <a ui-sref="resources.device.cabinet">机柜</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a ui-sref="resources.device.adaptation">适配包管理</a>
                </li>
                <li>
                    <a ui-sref="resources.device.import">物理设备导入</a>
                </li>
            </ul>
        </div>
        <div class="tiny-layout-center">
            <div ui-view></div>
        </div>
    </div>
</div>