<div>
    <div id="logicVmtDetail" ng-controller="resources.template.logicVmtDetail.ctrl">
        <tiny-formfield>
            <tiny-item label="name.label" require="name.require">
                <div class="over-flow-style" style="width: 500px;">
                    <span ng-bind="logicVmtDetail.vmLogicTemplateName" title="{{ logicVmtDetail.vmLogicTemplateName }}"></span>
                </div>
            </tiny-item>
            <tiny-item label="diskSize.label" require="diskSize.require">
                <span ng-bind="logicVmtDetail.systemDiskSize"></span>
            </tiny-item>

            <tiny-item label="osType.label" require="osType.require">
                <span ng-bind="logicVmtDetail.osType"></span>
            </tiny-item>

            <tiny-item label="osVersion.label" require="osVersion.require">
                <span ng-bind="logicVmtDetail.osVersion"></span>
            </tiny-item>

            <tiny-item label="status.label" require="status.require">
                <span ng-bind="logicVmtDetail.vmLogicTemplateStatus"></span>
            </tiny-item>

            <tiny-item label="description.label" require="description.require">
                <div class="over-flow-style" style="width: 500px;">
                    <span ng-bind="logicVmtDetail.vmLogicTemplateDescription" title="{{ logicVmtDetail.vmLogicTemplateDescription }}"></span>
                </div>
            </tiny-item>

            <tiny-item label="vmTemplateTable.label" require="vmTemplateTable.require">
                <tiny-table id="vmTemplateTable.id" caption="vmTemplateTable.caption" data="vmTemplateTable.data"
                            columns="vmTemplateTable.columns"
                            enable-pagination="vmTemplateTable.enablePagination" render-row="vmTemplateTable.renderRow"
                            show-details="vmTemplateTable.showDetails"
                            columns-draggable="vmTemplateTable.columnsDraggable"></tiny-table>
            </tiny-item>
            <tiny-item label="clusterTable.label" require="clusterTable.require">
                <tiny-table id="clusterTable.id" caption="clusterTable.caption" data="clusterTable.data"
                            columns="clusterTable.columns"
                            enable-pagination="clusterTable.enablePagination" render-row="clusterTable.renderRow"
                            show-details="clusterTable.showDetails"
                            columns-draggable="clusterTable.columnsDraggable"></tiny-table>
            </tiny-item>


        </tiny-formfield>
    </div>
</div>
<script>
    require(['jquery',
        'app/business/resources/controllers/templateSpec/template/logicVmTemplate/logicVmtDetailCtrl'],
            function ($, logicVmtDetailCtrl) {
                var dep = ['ng', 'wcc', logicVmtDetailCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#logicVmtDetail"));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile) {
                    var scope = $("#logicVmtDetail").scope();
                    $compile($("#logicVmtDetail"))(scope);
                    scope.$digest();
                });
            });
</script>
