.tinyAccordion_caption {
	padding-left: 2.2em;
	font-size: 12px;
	cursor: pointer;
	height:29px;
	line-height:29px;
	outline:none;
	border-bottom: 1px solid #aaaaaa;
}
.tinyAccordion_caption:hover {background: #efefef;}
.tinyAccordion {
	border: solid 1px #c0c0c0;
	overflow: auto;
	cursor: pointer;
	background: #fff;
}

.tinyAccordion div ul li {
	list-style: none outside none;
	height:29px;line-height:29px; padding-left: 2.2em; 
}
.tinyAccordion div ul li:hover{background: #efefef;color: #207dba;}
.tinyAccordion .tinyAccordion_showHideControlPanelElem {
	background-color: #d2d2d2;
	height: 14px;
}

.tinyAccordion .tinyAccordion_showHideControlPanelElem .tinyAccordion_showHideArrow_hide {
	background: url(../images/accordion_merger.png) no-repeat 0 -70px ;
	height: 14px;
	width: 9px;
	float: right;
	margin-right: 5px;
}

.tinyAccordion .tinyAccordion_showHideControlPanelElem .tinyAccordion_showHideArrow_show {
	background: url(../images/accordion_merger.png) no-repeat 0 -54px ;
	height: 14px;
	width: 11px;
	float: right;
}

/**jquery-ui.custom.css**/
/**未展开时+号图标start**/
.tinyAccordion .ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png); display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.tinyAccordion .ui-state-default .ui-icon { background: url(../images/accordion_merger.png) 0 -33px no-repeat; }/*未展开时图标样式*/
.tinyAccordion .ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.tinyAccordion .ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -6px; }
.tinyAccordion .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {font-weight: normal; color: #212121; }/*未展开时文本样式*/
.tinyAccordion .ui-state-hover .ui-icon, .ui-state-focus .ui-icon { }/*图标未展开时图标划过样式*/
/**展开时+号图标end**/
	
.tinyAccordion .ui-state-active .ui-icon {position: absolute;left: .5em;top: 50%;margin-top: -8px;width: 16px;height: 16px;background: url(../images/accordion_merger.png) 0 -3px no-repeat;}/*展开时图标样式*/
.tinyAccordion .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {font-weight: bold; color: #207dba;  }/*展开时文本样式*/
.tinyAccordion_content{border-bottom: 1px #c0c0c0 solid;}
