.tiny-ui-datepicker {
	width: 17em;
	display: none;
}
.tiny-ui-datepicker .ui-datepicker-header {
	height: 19px;
	position: relative;
	padding: 7px 0;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.tiny-ui-datepicker .ui-datepicker-prev, .tiny-ui-datepicker .ui-datepicker-next {
	position: absolute;
	width: 16px;
	height: 16px;
}
.tiny-datetime-container-disable {
	background-color : #ededed !important;
}
.tiny-ui-datepicker .ui-datepicker-prev-hover, .tiny-ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.tiny-ui-datepicker .ui-datepicker-prev {
	left: 13px;
}
.tiny-ui-datepicker .ui-datepicker-next {
	right: 10px;
}
.tiny-ui-datepicker .ui-datepicker-prev span, .tiny-ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 62%;
	margin-top: -8px;
}
.tiny-ui-datepicker .ui-datepicker-title {
	margin: 0 3.2em;
	line-height: 1.8em;
	text-align: center;
}
.tiny-ui-datepicker .tiny-ui-title-expand {
	display: inline-block;
	position: absolute;
	z-index: 10;
	height: 290px;
	width: 175px;
	overflow: hidden;
	top: -1px;
	border: solid 1px #c7c7c7;
	border-radius: 5px;
	background: white;
}
.tiny-ui-title-expand input.ui-datepicker-year {
	margin: 7px 0;
}
.tiny-ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}

.tiny-ui-datepicker table {
	width: 100%;
	font-size: 12px;
	border-collapse: collapse;
}
.tiny-ui-datepicker th {
	color: rgb(102, 102, 102);
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.tiny-ui-datepicker td span, .tiny-ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.tiny-ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.tiny-ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.tiny-ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}
.tiny-ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.tiny-ui-widget :active {
	outline: none;
}
.tiny-ui-widget input, .tiny-ui-widget select, .tiny-ui-widget textarea, .tiny-ui-widget button {
	font-family: "Microsoft Yahei";
	font-size: 12px;
	color: #666;
}
.tiny-ui-widget-header a {
	color: #222222;
}
.tiny-ui-state-disabled, .tiny-ui-widget-content .tiny-ui-state-disabled, .ui-state-disabled, .tiny-ui-widget- header .tiny-ui-state-disabled {
	opacity: .35;
	background-image: none;
	filter: alpha(opacity=35);
	-moz-opacity: 0.35;
	opacity: 0.35;
}

.tiny-ui-state-disabled .eview-ui-icon {
	filter: Alpha(Opacity=35);
}
.tiny-datetime-input {
	border: 0px;
	margin: 0px;
	font-size: 12px;
	outline: none;
	height: 25px;
	line-height:25px;
	background-color: transparent;
	color: #666;
	padding-left: 8px;
}
.tiny-datetime-time {
	background-color: white;
	height: 40px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
    position: relative;
}
.tiny-datetime-enableclass {
	height: 25px;
	line-height: 25px;
	display: inline-block;
	position: relative;
	background-color: #fff;
	box-shadow: 1px 1px 1px #fff, inset 1px 1px 1px rgba(0,0,0,0.1);
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.tiny-datetime-enableclass img {
	position: absolute;
	top: 6px;
	right: 5px;
	border-color: #A9A9A9 #D3D3D3 #D7D7D7 #BBBBBB;
}
.tiny-datetime-disableclass {
	background-color: #EBEBE4;
}
.tiny-datetime-disableclass img {
	position: relative;
	top: 2px;
	right: 1px;
}

.calendarimage {
	background: url(../images/datetime_merger.png) -78px -41px no-repeat;
	width: 15px;
	height: 20px;
	display: inline-block;
	position: absolute;
	top:1px;
}

#ui-datepicker-div {
	width: 255px;
	font-size: 12px;
	font-family: "Microsoft Yahei", "SimSun", Arial, Tahoma;
	color: black;
	border: 1px solid #c6c6c6;
	border-radius: 5px;
}
.tiny-dateTime-input-invalid {

	background-color: #FBE9E5;
}
.tiny-time-editor {
	width : 82px;
	color: #666;
	margin: 0px;
	border: 0px;
	float: left;
	overflow: hidden;
	padding: 0px 0 0 5px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	resize: none;
}
.tiny-time-editor:focus {
	outline: none;
}
.tiny-time-upbtn {
	width: 13px;
	height: 12px;
	background: url('../images/datetime_merger.png') -360px -48px no-repeat;
	float: right;
}
.tiny-time-container {
	border: 1px solid #C4C4C4;
	margin-top: 7px;
	float: left;
	margin-left: 8px;
	margin-bottom: 8px;
	width: 100px;
	height: 25px;
	border-radius: 4px;
}
.tiny-timet-container {
	box-shadow: 1px 1px 1px #fff, inset 1px 1px 1px rgba(0,0,0,0.1);
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	display: inline-block;
	height: 25px;
	background-color: #fff;
}
.tiny-time-downbtn {
	width: 13px;
	height: 10px;
	background: url('../images/datetime_merger.png') -323px -53px no-repeat;
	float: right;
}
.tiny-time-okbutton.tiny-button {
	float: right;
	min-width: 50px;
}
.tiny-datetime-time a.tiny-button-buttonClass, .tiny-time a.tiny-button-buttonClass {
	margin: 7px 0 0 6px;
}
.tiny-datetime-time a.tiny-button-buttonClass:last-child{position: absolute;}
.tiny-ui-widget-header {
	border: 0px;
	background: white;
	color: #222;
	font-weight: bold;
}

.tiny-datepicker-icon-prev {
	background: url("../images/datetime_merger.png") -251px -10px no-repeat;
	width: 14px;
	height: 12px;
}
.tiny-datepicker-icon-next {
	background: url("../images/datetime_merger.png") -167px -10px no-repeat;
	width: 14px;
	height: 12px;
}
.tiny-datepicker-icon-prev:hover {
	background: url("../images/datetime_merger.png") -335px -10px no-repeat;
	width: 14px;
	height: 12px;
}
.tiny-datepicker-icon-next:hover {
	background: url("../images/datetime_merger.png") -83px -10px no-repeat;
	width: 14px;
	height: 12px;
	right: 1px;
}
.tiny-ui-state-default, .tiny-ui-widget-content .tiny-ui-state-default, .tiny-ui-widget-header .tiny-ui-state-default {
	border: 1px solid #ffffff;
	background: #ffffff;
	color: #666666;
	text-align: center;
	line-height: 25px;
}
.ui-datepicker-current-day {
	border: 1px solid #21ca5c;
	background-color: #21ca5c;
	color: #ffffff;
	text-align: center;
	line-height: 25px;
}
.tiny-ui-datepicker .tiny-ui-state-default-hover, .tiny-ui-datepicker .tiny-time-state-button:hover, .tiny-ui-widget-content .tiny-ui-state-hover, .tiny-ui-datepicker .tiny-ui-widget-header .tiny-ui-state-hover, .tiny-ui-datepicker .ui-state-focus, .tiny-ui-widget-content .ui-state-focus, .tiny-ui-datepicker .tiny-ui-widget-header .ui-state-focus {
	color: #207DBA;
	border: 1px solid #4A97C6;
	background: #ffffff;
}
.tiny-ui-datepicker .tiny-ui-state-highlight {
	/*border: 1px solid #a3dab5 !important;
	 background: #b5ecc7;*/
	/*	color: #666;*/
}
.tiny-ui-datepicker {
	border: 1px solid #ffffff;
	left: 13px;
}
.tiny-ui-datepicker {
	border: 1px solid #ffffff;
	right: 1px;
}
.tiny-ui-state-active, .tiny-ui-widget-content .tiny-ui-state-active, .tiny-ui-widget-header .tiny-ui-state-active {
	border: 1px solid #1c73a9;
	background-color: #4896c6;
	font-weight: normal;
	color: #ffffff;
}
.tiny-ui-datepicker input.ui-datepicker-month, .tiny-ui-datepicker input.ui-datepicker-year {
	font-weight: bold;
	border: 1px solid gray;
}

.tiny-ui-datepicker
.ui-datepicker-title div li:hover {
	color: #FFFFFF;
	background: #b5ecc7;
}
.tiny-ui-datepicker .ui-datepicker-title div li:active {
	background-color: #21ca5c;
	color: #ffffff;
}
.tiny_Date_Select_Month{
	float:left; 
	text-align:center; 
	padding-right:3px; 
	left:109px;position:absolute; 
	width:60px; 
	height:250px;
	overflow:hidden;
	background: #ffffff;
}
.tiny_Date_Select_Month li {
	width: 66px;
	margin: 0px 0px 0px 8px;
	margin: 0;
	padding: 0;
	list-style: none;
	color: black;
}
.tiny-ui-datepicker-calendar {
	top: 28px;
	z-index: 9999;
	background-color: white;
}
.tiny-ui-datepicker td {
	border: 1px solid #e5e5e5;
	height: 25px;
	width: 40px;
	padding: 0;
}
.tiny-ui-datepicker td a:hover {
	background-color: #b5ecc7;
}
.tiny-ui-datepicker td a {
	text-align: center;
}
.tiny-ui-datepicker th {
	background-color: #f1f1f1;
	border: 1px solid #e5e5e5;
	height: 20px;
	width: 33px;
	padding: 0;
}

.tiny-ui-state-disabled span {
	text-align: center;
}
.tiny-ui-datepicker td span, .tiny-ui-datepicker td a {
	padding: 0px;
	height: 25px;
}

.eviewDatetime_iemp_dv_scroll_bar3 {
	position: absolute;
	left: 94px;
	top: 0px;
	width: 14px;
	border-left: 1px solid #cbcbcb;
	height : 250px;
}
.eviewDatetime_iemp_dv_scroll_bar3 .eviewDatetime_Scrollbar-Track {
	position: absolute;
	left: 0;
	top: 0px;
	width: 14px;
	height: 250px;
}
.eviewDatetime_iemp_dv_scroll_bar3 .eviewDatetime_Scrollbar-Handle {
	position: absolute;
	left: -6px;
	top: 0;
	width: 10px;
	height: 62px;
	overflow: hidden;
	background: url(../images/datetime_merger.png) no-repeat;
	cursor: pointer;
}
.tiny-datetime_date_sel_box_scroll {
	position: absolute;
	height: 250px;
	overflow: hidden;
	background: #ffffff;
	width: 100px;
}
.eviewDatetime_iemp_dv_scroll_bar {
	position: absolute;
	right: 0;
	top: 10px;
	width: 14px;
	height: 360px;
	border-left: 1px solid #B5B5B5;
}
.eviewDatetime_iemp_dv_scroll_bar .eviewDatetime_Scrollbar-Track {
	position: absolute;
	left: 0;
	top: 20px;
	width: 14px;
	height: 320px;
}
.eviewDatetime_iemp_dv_scroll_bar .eviewDatetime_Scrollbar-Handle {
	position: absolute;
	left: -5px;
	top: 0;
	width: 9px;
	height: 60px;
	overflow: hidden;
	background: url(srcoll.gif) no-repeat;
	cursor: pointer;
}

.tiny_Date_Select_Year li, .tiny_Date_Select_Month li {
	cursor: pointer;
}
.tiny_Date_Select_Year {
	width: 90px;
	float: left;
	overflow: auto;
	text-align: center;
	overflow: hidden;
}
.tiny_Date_Select_Year li {
	width: 80px;
	margin: 0px 0px 0px 3px;
	height: 21px;
	padding: 0;
	list-style: none;
	color: black;
}
.tiny_widgets_charts_upbuttonbright_image {
	background-image: url('../images/space.gif');
	display: none;
}
.tiny_widgets_charts_downbuttonbright_image {
	background-image: url('../images/space.gif');
	display: none;
}
.downbtn {
	background: url(../images/datetime_merger.png) -166px -55px no-repeat;
}
.upbtn {
	background: url(../images/datetime_merger.png) -251px -55px no-repeat;
}
.tiny-time {
	width: 255px;
	height: 40px;
	border: 1px solid rgb(196, 196, 196);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	position: absolute;
	background-color: white;
	margin-top: 8px;
	margin-left: -1px;
	z-index: 1;
}

.tiny-updownbutt-style {
	background-color: rgb(210, 210, 210);
	border: 1px solid rgb(220, 220, 220);
}

.tiny-time-input {
	width: 20px;
	height: 25px;
	line-height: 25px;
	border: 0;
	text-align: center;
	outline: none;
	font-weight: normal;
	background-color: transparent;
	color: #666;
}