.tiny-radio-checked
{    
    width:16px;
    height:16px;
    background:url(../images/radio_merger.png) 0 -33px no-repeat;
    padding-right:5px;
}
.tiny-radio-icon{
    display:inline-block;
    width : 16px;
    height:16px;
    background-repeat:no-repeat;
    float: left;
}
div.tiny-radio-checked:hover
{
    background:url(../images/radio_merger.png) 0 -96px no-repeat;
    padding-right:5px;
    position:relative;
}
.tiny-radio-content-disabled{
    color: #B1B0B0;
}

.tiny-img-disabled{
    filter:alpha(opacity=50);-moz-opacity:0.5;
    opacity:0.4;/*针对chrome*/
}
.tiny-radio-content{
    float: left;
}
.tiny-radioIcon{
    float: left;
    margin-top: 4px;
}
.tiny-radio-unchecked
{
    width:16px;
    height:16px;
    background:url(../images/radio_merger.png) 0 -3px no-repeat;
    padding-right:5px; 
    position:relative;
}
div.tiny-radio-unchecked:hover
{
    background:url(../images/radio_merger.png) 0 -64px no-repeat;
    padding-right:5px;
}        
.tiny-radio-checked-disabled
{
    width:16px;
    height:16px;
    background:url(../images/radio_merger.png) 0 -267px no-repeat;
    padding-right:5px;
}

.tiny-radio-unchecked-disabled
{
    width:16px;
    height:16px;
    background:url(../images/radio_merger.png) 0 -219px no-repeat;
    padding-right:5px;
}
.tiny-radiogroup-horizon{display:inline-block; float:left;padding-right:20px;} 
.tiny-radiogroup-vertical{clear:both;} 

table.radioWrapperTable,table.radioWrapperTable>tbody>tr,table.radioWrapperTable>tbody>tr>td{
	 border-style:none!important;
}
