  .jslider .jslider-bg i,
  .jslider .jslider-pointer { background: url(../images/jslider.png) no-repeat 0 0; }

  .jslider { display: block; width: 100%; height: 1em; position: relative; top: 0.6em; font-family: Arial, sans-serif; font-size:12px; color:#999;}
  .jslider table { width: 100%; border-collapse: collapse; border: 0; }
  .jslider td, .jslider th { padding: 0; vertical-align: top; text-align: left; border: 0; }

  .jslider table,
  .jslider table tr,
  .jslider table tr td { width: 100%; vertical-align: top; }

  .jslider .jslider-bg { position: relative; }
  .jslider .jslider-bg i { height: 10px; position: absolute; font-size: 0; top: 0; }
  .jslider .jslider-bg .l { width: 10%; background-position: 0 0; left: 0; }
  .jslider .jslider-bg .f { width: 80%; left: 10%; background-repeat: repeat-x; background-position: 0 -20px; }
  .jslider .jslider-bg .r { width: 10%; left: 90%; background-position: right 0; }
  .jslider .jslider-bg .v { position: absolute; width: 60%; left: 20%; top: 0; height: 10px; background-repeat: repeat-x; background-position: 0 -40px; }

  .jslider .jslider-pointer { width: 26px; height: 25px; background-position: 0 -54px; position: absolute; left: 20%; top: -8px; margin-left: -14px; cursor: pointer; cursor: hand; }
  .jslider .jslider-pointer-hover { background-position: -32px -54px; }
  .jslider .jslider-pointer-to { left: 80%; }

  .jslider .jslider-label {font-size: 9px; line-height: 12px;  white-space: nowrap; padding: 0px 2px; position: absolute; top: -18px; left: 0px; }
  .jslider .jslider-label-to { left: auto; right: 0; }

  .jslider .jslider-value {font-size: 9px; white-space: nowrap; padding: 1px 2px 0; position: absolute; top: -28px; left: 20%;line-height: 12px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
  .jslider .jslider-value-to { left: 80%; }

  .jslider .jslider-label small,
  .jslider .jslider-value small { position: relative; top: -0.4em; }

  .jslider .jslider-scale { position: relative; top: 26px; }
  .jslider .jslider-scale span { position: absolute; height: 8px; border-left: 1px solid #0ebb47; font-size: 0; }
  .jslider .jslider-scale ins { font-size: 9px; text-decoration: none; position: absolute; left: 0px; top: 5px; color: #999; }

  .jslider-single .jslider-pointer-to,
  .jslider-single .jslider-value-to,
  .jslider-limitless .jslider-label { display: none; }



.slider-wrapper{background: url(../images/jslider.backg.png) no-repeat 0 0; padding-left:13px; display:inline-block; font-family: Arial, sans-serif; font-size:12px; color:#999;}
.slider-right{background: url(../images/jslider.backg.png) no-repeat 100% -78px; padding-right:13px;}
.slider-center{background: url(../images/jslider.backg.png) repeat-x 0 -40px; height:33px; line-height:30px; width:660px; display:inline-block;}

.slider-center > div{float:left; margin:4px 10px 0 10px;}
.slider-left-text{text-align:right;padding:0 10px; min-width:30px; float:left;}
.slider-right-text{text-align:left;padding:0 10px; min-width:30px; float:left;}



.jslider-single .jslider-bg i.v{background: url(../images/slider_green.png) no-repeat 0 0; width: 100%; left: 0;}


  .jslider_blue .jslider-bg i,
  .jslider_blue .jslider-pointer { background-image: url(../images/jslider.blue.png); }
  
  .jslider_plastic .jslider-bg i,
  .jslider_plastic .jslider-pointer { background-image: url(../images/jslider.plastic.png); }
  .jslider_round .jslider-bg i,
  .jslider_round .jslider-pointer { background-image: url(../images/jslider.round.png); }

  .jslider_round .jslider-pointer { width: 17px; height: 17px; top: -4px; margin-left: -8px; }
  

  .jslider_round_plastic .jslider-bg i,
  .jslider_round_plastic .jslider-pointer { background-image: url(../images/jslider.round.plastic.png); }

  .jslider_round_plastic .jslider-pointer { width: 18px; height: 18px; top: -4px; margin-left: -8px; }
  
  
