
/*
 * Table
 */
.dataTables_checkbox_title,.dataTables_checkboxs {
    background: url(../images/ic_common.png) no-repeat 0 -32px;
    width: 16px;
    height: 16px;
}
.dataTables_checkbox_title:hover,.dataTables_checkboxs:hover {
    background: url(../images/ic_common.png) no-repeat -16px -32px;
}
.table_checkbox_select {
     background-position: 0 -48px;
 }
.table_checkbox_select:hover {
    background-position: -16px -48px;
}
.table_part_select {
    background-position: 0 -64px;
}
.table_part_select:hover {
    background-position: -16px -64px;
}

.Table_hover {
    background-color: #ffffff !important;
}
.tinyTablediv {
   position: relative;
}

.OpButton_main {
    position: absolute;
    height: 30px;
    right: 0;
    display: none;
}

.OpButton_main .OpButton {
    height: 100%;
    width: 32px;
    float: left;
    position: relative;
}
.sub_OpButton {
    position: absolute;
    top:50%;
    left: 50%;
    margin-top:-8px;
    margin-left: -8px;
    height: 16px;
    width: 16px;
}
.OpButton .moreButton {
    background: url(../images/ic_common.png) no-repeat -128px -112px;
    height: 100%;
    width: 100%;
}
.OpButton .moreButton1 {
    background: url(../images/ic_common.png) no-repeat -128px -112px;
    height: 100%;
    width: 100%;
}
.OpButton .moreButton2 {
    background: url(../images/ic_common.png) no-repeat -128px -112px;
    height: 100%;
    width: 100%;
}
.OpButton_panel {
    height: 100%;
    padding-right:5px;
}
.OpButton_panel_sub {
    position: absolute;
    right: 0;
    top:30px;
    background-color: #fdfdfd;
    border: 1px solid rgb(211, 211, 211);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) ;
    border-radius: 4px;
    height: 30px;
    padding-left: 4px;
    padding-right: 4px;
    display: none;
}
.OpButton_triangle {
    position: absolute;
    right:16px;
    top:-8px;
    background: url(../images/table_merger.png) no-repeat -3px -950px;
    width: 12px;
    height: 12px;

}
table.dataTable {
	margin: 0 auto;
	clear: both;
	width: 100%;
	border-width: 0px;
	border-collapse: separate;
    table-layout: fixed;
    border-spacing: 0px 0px;
	empty-cells: show;
}

table.dataTable thead th {
    cursor: pointer;
    background-color:#f0f0f0;
    *cursor: hand;
    outline: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height:23px;
    line-height: 23px;
    font-size: 11px;
    color:#333;
    border-right:1px solid transparent;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    text-align:left;
    padding-left:10px;
}
table.dataTable thead th:first-child {
border-left: 0px solid #E5E5E5;
}

table.dataTable thead th.sorting_disabled{
	cursor: default;
}


.sorting_1{
	color:#222222;
}
table.dataTable tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.dataTable td.center,table.dataTable td.dataTables_empty {	text-align: center;}
table.dataTable tr.odd {
    background-color: #fafafa;
    border-spacing: 0;
    height: 29px;
}
table.dataTable tr.odd:hover {
    background-color: #ffffff;
    border-bottom-width: 1px;
}
table.dataTable tr.odd td {
    border-color: white #D7D7D7 #D7D7D7;
    height: 29px;
    border-bottom:1px solid #e8e8e8;
}
table.dataTable tr.even {
    background-color: #fafafa;
    border-spacing: 0;
    height: 29px;
}
table.dataTable tr.even:hover {
    background-color: #ffffff;
    border-bottom-width: 1px;
}
table.dataTable tr.even td {
	height: 29px;
	border-bottom:1px solid #e3e3e3;
}
table.dataTable .tiny-tdStyle {
padding: 0px 10px 0px 10px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
table tr.odd.eviewTable_row_selected td {
background-color: #ecf2f6;
border-color: #4896c6 !important;
border-bottom-width: 1px;
}
table tr.odd.eviewTable_row_selected td:first-child {
background-color: #ecf2f6;
border-color: #4896c6;
border-left-width: 1px;
border-style: solid none solid solid;
}

/*
 * Table wrapper
 */
.dataTables_wrapper {
	position: relative;
	clear: both;
	*zoom: 1;
}
.dataTables_scrollBody{
    overflow-y:scroll ;
    min-height: 0%;
    display:inline-block;
}

/*
 * Page length menu
 */
.dataTables_length {
	float: left;
	margin-bottom:5px;
}
.dataTables_length select{
	background: none repeat scroll 0 0 #FFFFFF;
    border-color: #A9A9A9 #D3D3D3 #D7D7D7 #BBBBBB;
    border-style: solid;
    border-width: 1px;
    height: 24px;
    line-height: 26px;
    width: 100px;	
    outline: none;
}

/*
 * Filter
 */
.dataTables_filter {
	float: right;
	text-align: right;
	padding-bottom:10px;
}


/*
 * Table information
 */
.dataTables_info {
	clear: both;
	float: left;
}


/*
 * Pagination
 */
.dataTables_paginate {
	float: left;
}
.eViewPagination_paginationContainer {
    float: left;
    font: 12px Lucida Grande,Verdana,Arial,Helvetica,sans-serif;
    margin-top: 5px;
    padding-top: 5px;
}

.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
}
.paginate_enabled_previous:active,
.paginate_disabled_next:active,
.paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	color: #666 !important;
}
.paginate_disabled_previous,
.paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next,
.paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

.paginate_enabled_previous{background: url(../images/table_merger.png) no-repeat 0 2px;}
.paginate_enabled_previous:hover{background-position:0 -129px;}
.paginate_disabled_previous { background: url(../images/table_merger.png) no-repeat 0 -262px; }

.paginate_enabled_next { background: url(../images/table_merger.png) no-repeat right -31px;}
.paginate_enabled_next:hover { background-position:right -162px; }
.paginate_disabled_next {background: url(../images/table_merger.png) no-repeat right -294px;}

/* Full number pagination */
.paging_full_numbers {height: 22px;line-height: 22px;}
.paging_full_numbers a{height: 22px;width:20px;text-indent: 333px;overflow:hidden;display: inline-block;}
.paging_full_numbers span{vertical-align: top;margin-top: 3px; display: inline-block;}
.paging_full_numbers span a{text-indent: 0;text-align: center;line-height: 15px; cursor: pointer;margin-right: 5px;}
.paging_full_numbers span a:hover{ text-decoration: underline;}
.paging_full_numbers span a.paginate_active, .paging_full_numbers span a.paginate_button{width:15px; height:15px; border:1px solid #c0c0c0;}
.paging_full_numbers a:active {outline: none;}

.paging_full_numbers a.first{background: url(../images/table_merger.png) no-repeat 0 -62px;}
.paging_full_numbers a.first:hover{background-position:0 -193px;}
.paging_full_numbers a.first.paginate_button_disabled{background: url(../images/table_merger.png) no-repeat 0 -324px;}

.paging_full_numbers a.previous{background: url(../images/table_merger.png) no-repeat center 4px;}
.paging_full_numbers a.previous:hover{background-position:center -127px;}
.paging_full_numbers a.previous.paginate_button_disabled{background: url(../images/table_merger.png) no-repeat 0 -258px;}

.paging_full_numbers a.next{background: url(../images/table_merger.png) no-repeat right -29px;margin-left: -5px;}
.paging_full_numbers a.next:hover{background-position:right -160px;}
.paging_full_numbers a.next.paginate_button_disabled{background: url(../images/table_merger.png) no-repeat right -291px;}

.paging_full_numbers a.last{background: url(../images/table_merger.png) no-repeat right -94px;}
.paging_full_numbers a.last:hover{background-position:right -226px;}
.paging_full_numbers a.last.paginate_button_disabled{background: url(../images/table_merger.png) no-repeat right -357px;}


/*
 * Processing indicator
 */
.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}


/*
 * Sorting
 */

.sorting { background: url(../images/table_merger.png) no-repeat right -500px;width:22px;height:17px;display:-moz-inline-box;
  display:inline-block;}
.sorting_asc { background: url(../images/table_merger.png) no-repeat right -621px;width:22px;height:17px;display:-moz-inline-box;
  display:inline-block;}
.sorting_desc { background: url(../images/table_merger.png) no-repeat right -746px;width:22px;height:17px;display:-moz-inline-box;
  display:inline-block;}

table.dataTable thead th:active,
table.dataTable thead td:active {
	outline: none;
}

/*
 * Scrolling
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
	-webkit-overflow-scrolling: touch;
}

div.dataTables_scrollHeadInner{
	width:100%;
}
table.tinyTable{
	width:100%;
}
.tinyTable_tablecaption
	{
		font-size:20px;
		text-align:center;
		padding:5px 0px 5px 0px;
	}
	

div.default_show_style {
	width: 16px;
	height: 16px;
	background: url(../images/open_close.png) no-repeat;
	background-position: -1px 1px;
	overflow: hidden;
	cursor: pointer;
	vertical-align:middle;
    float: left;
}



div.default_hide_style {
	width: 16px;
	height: 16px;
	background: url(../images/open_close.png) no-repeat;
	background-position: -1px -17px;
	overflow: hidden;
	cursor: pointer;
	vertical-align:middle;
    float: left;
}


.detail-background-after {
	background: url(../images/datail_info_border.gif) 0 0 repeat-x;
	background-position-x: 0px;
	background-position-y: -30px;
	height: 1px;
}


.detail-background-before {
	background: url(../images/datail_info_border.gif) 0 0 repeat-x;
	background-position-x: 0px;
	background-position-y: -31px;
	height: 2px;
}


.info_row {
	padding: 0px 0px 0px 0px !important;
}


.borderStyle {
	border: 2px solid gray;
}
.td-padding {
    padding: 0px ;
}
.clickTrColor{
	background-color: #e8f8fe!important;
}

table.tinyTable td.dataTables_empty{
	vertical-align: middle;
}
