<div class="container-fluid">
    <div id="setVdcsDiv" ng-controller="service.catalog.setVdcs.ctrl">
        <p class="bottom10" ng-bind="i18n.service_service_setRight_desc_label"></p>
        <div class="clearfix">
            <tiny-radiogroup id="vdcRange.id"
                             values="vdcRange.values"
                             spacing="vdcRange.spacing"
                             layout="vdcRange.layout"
                             change="vdcRange.change()"></tiny-radiogroup>
        </div>
        <div class="clearfix" ng-show="choiceVdcs">
            <div class="fl" style="width:365px;">
                <div class="form-inline">
                    <span ng-bind="vdcSelectModel.canSelectVDCLabel"></span>

                    <div class="pull-right">
                                <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
                                    <tiny-searchbox id="leftVDCSearchBox.id"
                                                    placeholder="leftVDCSearchBox.placeholder"
                                                    width="leftVDCSearchBox.width"
                                                    suggest-size="leftVDCSearchBox.suggestSize"
                                                    maxlength="leftVDCSearchBox.maxLength"
                                                    suggest="leftVDCSearchBox.suggest"
                                                    search="leftVDCSearchBox.search">
                                    </tiny-searchbox>
                                </span>
                    </div>
                </div>
                <div>
                    <tiny-table id="leftTable.id"
                                data="leftTable.data"
                                columns="leftTable.columns"
                                enable-pagination="leftTable.pagination"
                                pagination-style="leftTable.paginationStyle"
                                length-change="leftTable.lengthChange"
                                length-menu="leftTable.lengthMenu"
                                display-length="leftTable.displayLength"
                                enable-filter="leftTable.enableFilter"
                                cur-page="leftTable.curPage"
                                total-records="leftTable.totalRecords"
                                request-config="leftTable.requestConfig"
                                hide-total-records="leftTable.hideTotalRecords"
                                render-row="leftTable.renderRow"
                                callback="leftTable.callback"
                                change-select="leftTable.changeSelect"
                                columns-draggable="true"
                                show-details="leftTable.showDetails"></tiny-table>
                </div>
            </div>
            <div class="fr" style="width:365px;">
                <div class="form-inline">
                    <span ng-bind="vdcSelectModel.vdcSelectedLabel"></span>
                </div>

                <div>
                    <tiny-table id="rightTable.id"
                                data="rightTable.data"
                                columns="rightTable.columns"
                                enable-pagination="rightTable.pagination"
                                hide-total-records="rightTable.hideTotalRecords"
                                render-row="rightTable.renderRow"
                                callback="rightTable.callback"
                                change-select="rightTable.changeSelect"
                                columns-draggable="true"
                                show-details="rightTable.showDetails"></tiny-table>
                </div>
            </div>
        </div>
        <div class="fm-btn-top-large" style="margin-left: 315px">
            <tiny-button class="major-btn"
                         id="setVDCSaveBtn.id"
                         text="setVDCSaveBtn.text"
                         disable="choiceVdcs && !rightTable.data.length"
                         click="setVDCSaveBtn.click()"></tiny-button>
            <tiny-button id="setVDCCancelBtn.id"
                         text="setVDCCancelBtn.text"
                         click="setVDCCancelBtn.click()"></tiny-button>
        </div>
    </div>
</div>
<script type="application/javascript">
    require(["app/business/service/controllers/catalog/setVdcsCtrl"], function (setVdcsCtrl) {
        var $injector = angular.injector(["ng", setVdcsCtrl.name]);
        $injector.invoke(function ($compile) {
            var $root = $("#setVdcsDiv");
            var link = $compile($root);
            link($root.scope());
            $root.scope().$digest();
        });
    });
</script>