<div class="container-fluid ">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span>云存储</span></li>
            <li class="two-lead">
                <p>云存储就是将储存资源放到云上供用户存取的一种新兴解决方案。</p>
                <p>云存储是指通过集群应用、分布式文件系统等功能，将网络中大量各种不同类型的存储设备通过应用软件集合起来协同工作，共同对外提供数据存储和业务访问功能的一个系统。</p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
    <tiny-button class="major-btn" id="connectCloudDevBtn.id" disable="connectCloudDevBtn.disabled"
                 icons-class="connectCloudDevBtn.iconsClass" text="connectCloudDevBtn.text"
                 tooltip="connectCloudDevBtn.tip" click="connectCloudDevBtn.connectCloudDevBtn()"></tiny-button>
    </div>
</div>