<div id="create-gateway-window" ng-controller="createGatewayCtrl">
    <div>
        <div class="inner-legend"><span ng-bind="i18n.common_term_basicInfo_label"></span></div>
        <tiny-formfield>
            <tiny-item label="name.label" require="name.require">
                <tiny-textbox id="name.id" width="name.width" validate="name.validate">
                </tiny-textbox>
            </tiny-item>
            <tiny-item label="elasticIpSelect.label" require="elasticIpSelect.require">
                <tiny-select id="elasticIpSelect.id" values="elasticIpSelect.values" width="elasticIpSelect.width"
                             height="elasticIpSelect.height" default-label="elasticIpSelect.dftLabel">
                </tiny-select>
            </tiny-item>
            <tiny-item label="description.label" require="description.require">
                <tiny-textbox id="description.id" value="description.value" width="description.width"
                              height="description.height" type="description.type" validate="description.validate">
                </tiny-textbox>
            </tiny-item>
        </tiny-formfield>
    </div>
    <div>
        <div class="inner-legend"><span ng-bind="i18n.vpn_term_IKEpolicy_label"></span></div>
        <div ng-bind="i18n.vpn_gateway_add_info_IKE_label"></div>
        <tiny-formfield>
            <tiny-item label="info.certifAlgorithm.label" require="true">
                <tiny-select id="info.certifAlgorithm.id" width="name.width" values="info.certifAlgorithm.values" class="margin-right-beautifier">
                </tiny-select>
            </tiny-item>
            <tiny-item label="info.encryptAlgorithm.label" require="true">
                <tiny-select id="info.encryptAlgorithm.id" width="name.width" values="info.encryptAlgorithm.values" class="margin-right-beautifier">
                </tiny-select>
            </tiny-item>
            <tiny-item label="info.dnAlgorithm.label" require="info.dnAlgorithm.require">
                <tiny-select id="info.dnAlgorithm.id" width="name.width" values="info.dnAlgorithm.values" class="margin-right-beautifier">
                </tiny-select>
            </tiny-item>
            <tiny-item label="info.lifeTime.label" require="true">
                <tiny-textbox id="info.lifeTime.id" value="info.lifeTime.value" width="name.width" validate="info.lifeTime.validate"></tiny-textbox>
            </tiny-item>
            <tiny-item label="info.authentication.label" require="true">
                <tiny-textbox id="info.authentication.id" value="info.authentication.value" width="name.width" readonly="true">
                </tiny-textbox>
            </tiny-item>
        </tiny-formfield>
    </div>
    <div>
        <div class="inner-legend"><span ng-bind="i18n.vpn_term_ESPpolicy_label"></span></div>
        <div ng-bind="i18n.vpn_gateway_add_info_ESP_label"></div>
        <tiny-formfield>
            <tiny-item label="info.certifAlgorithm.label" require="true">
                <tiny-select id="info.certifAlgorithm.espid" width="name.width" values="info.certifAlgorithm.values" class="margin-right-beautifier">
                </tiny-select>
            </tiny-item>
            <tiny-item label="info.encryptAlgorithm.label" require="true">
                <tiny-select id="info.encryptAlgorithm.espid" width="name.width" values="info.encryptAlgorithm.values" class="margin-right-beautifier">
                </tiny-select>
            </tiny-item>
        </tiny-formfield>
    </div>
    <div>
        <div class="inner-legend"><span ng-bind="i18n.vpn_term_DPDinfo_label"></span></div>
        <tiny-formfield>
            <tiny-item label="info.dpdInterval.label" require="true">
                <tiny-textbox id="info.dpdInterval.id" value="info.dpdInterval.value" width="name.width" validate="info.dpdInterval.validate">
                </tiny-textbox>
            </tiny-item>
            <tiny-item label="info.dpdTimeOut.label" require="true">
                <tiny-textbox id="info.dpdTimeOut.id" value="info.dpdTimeOut.value" width="name.width" validate="info.dpdTimeOut.validate">
                </tiny-textbox>
            </tiny-item>
            <tiny-item label="" class="fm-btn-top-small">
                <tiny-button id="createBtn.id" text="createBtn.text" click="createBtn.click()"
                             class="major-btn"></tiny-button>
                <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>

<script type="text/javascript">
    require(["app/business/network/controllers/vpn/gateway/createGatewayCtrl"], function (createVPNModule) {
        var dep = ['ng', createVPNModule.name];
        dep.unshift(["$provide",
            function ($provide) {
                $provide.value("$rootElement", $("#create-gateway-window"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            $compile($("#create-gateway-window"))($rootScope);
            $rootScope.$digest();
        });
    })
</script>
