<fm-help help="help.helpKey" show="help.show" i18n="help.i18n"></fm-help>
<div id="vpcmanager-vpn-gateway">
    <div class="crumbs">
        <ul class="nav nav-list noPadding pr">
            <li>
                <ul class="breadcrumb">
                    <li><a ui-sref="network.manager.myVPClist" ng-bind="i18n.vpc_term_myVPC_label"></a> &gt; </li>
                    <li><a ui-sref="network.vpcmanager.summary" ng-bind="vpcName"></a> &gt; </li>
                    <li>{{i18n.vpn_term_vpnGateway_label}}</li>
                </ul>
            </li>
            <li class="help-pa">
                <div class="pull-right">
                    <a class="btn-link">
                        <div title="{{i18n.common_term_help_label}}" ng-click="help.click()"
                             class="small-icon small-icon-help"></div>
                    </a>
                </div>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div>
        <div ng-include="url.navigate" ng-hide="hasGateway"></div>
        <div ng-include="url.detail" ng-show="hasGateway"></div>
    </div>
</div>
