<div class="container-fluid">
    <div class="crumbs">
        <ul class="breadcrumb">
            <li>
                <a ui-sref="serviceMgr.multiPool">{{i18n.cloud_term_cloudPool_label}}</a> <span class="divider">&gt;</span>
            </li>
            <li class="active"><a ui-sref="service.poolInfo.summary">{{poolName}}</a><span class="divider">&gt;</span></li>
            <li class="active">{{i18n.resource_term_Azs_label}}</li>
            <li class="crumbs_line"></li>
        </ul>
    </div>
    <div class="content-right-box clearfix">
        <div ng-show="poolType != 'openstack'" class="fl">
            <tiny-button class="major-btn" id="create.id" disable="create.disable" text="create.text"
                         click="create.create()"  ng-if="operable"></tiny-button>
        </div>
        <!--刷新、列选择、帮助-->
        <div class="clearfix fm-btn-bottom-small">
            <div class="fr">
                <a class="btn-link">
                    <div ng-click="refresh()" id="refresh.id" title="{{i18n.common_term_fresh_button}}" class="small-icon small-icon-refresh"></div>
                </a>
            </div>
            <div ng-show="poolType != 'openstack'" class="fr">
               <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width"
                               suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength"
                               suggest="searchBox.suggest" search="searchBox.search">
               </tiny-searchbox>
             </div>
            <div ng-show="poolType != 'openstack'" class="fr">
                <tiny-filtersel id="searchStatus.id" values="searchStatus.values" width="searchStatus.width"
                                change="searchStatus.change()">
                </tiny-filtersel>
            </div>
        </div>
        <div>
            <tiny-table id="azTable.id" data="azTable.data" columns="azTable.columns"
                        enable-pagination="azTable.enablePagination"
                        pagination-style="azTable.paginationStyle" length-change="azTable.lengthChange"
                        length-menu="azTable.lengthMenu" display-length="azTable.displayLength"
                        enable-filter="azTable.enableFilter" change-select="azTable.changeSelect"
                        cur-page="azTable.curPage" total-records="azTable.totalRecords"
                        hide-total-records="azTable.hideTotalRecords"
                        callback="azTable.callback" render-row="azTable.renderRow"
                        show-details="azTable.showDetails"
                        columns-draggable="azTable.columnsDraggable"></tiny-table>
        </div>
    </div>
    <div fm-help help="'drawer_resource_az'" i18n="'zh'" show="help.show"></div>
</div>