<div id="configDiskSizeDiv">
    <div ng-bind="i18n.vm_vm_expandDisk_desc_label" class="bottom10 color2">
    </div>
    <tiny-formfield>
        <tiny-item label="sizeTextbox.label" require="sizeTextbox.require">
            <tiny-textbox id="sizeTextbox.id" value="sizeTextbox.value" validate="sizeTextbox.validate" tooltip="sizeTextbox.tooltip"
                          validate="sizeTextbox.validate" ></tiny-textbox>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button id="okButton.id" text="okButton.text" click="okButton.click()" class="major-btn"></tiny-button>
            <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="application/javascript">
    require(["app/business/resources/controllers/hypervisor/disk/configDiskSizeCtrl"], function (setDiskLimitCtrl) {
        var rootElement = $("#configDiskSizeDiv");
        rootElement.attr("ng-controller", "resources.vmInfo.configDiskSize.ctrl");
        var dep = ['ng', 'wcc', setDiskLimitCtrl.name];
        dep.unshift(["$provide", function ($provide) {
            $provide.value("$rootElement", rootElement);
        }]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            $compile(rootElement)($rootScope);
            $rootScope.$digest();
        });
    });
</script>