<div id="edit_disk_div">
    <tiny-formfield>
        <tiny-item label="nameTextbox.label" require="nameTextbox.require">
            <tiny-textbox id="nameTextbox.id" value="nameTextbox.value" disable="nameTextbox.disable"
                          tooltip="nameTextbox.tooltip" extend-function="nameTextbox.extendFunction"
                          validate="nameTextbox.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="patternSelector.label">
            <tiny-select id="patternSelector.id" values="patternSelector.values"
                         width="patternSelector.width" disable="patternSelector.disable"></tiny-select>
        </tiny-item>
        <tiny-item label="influenceCheckbox.label">
            <div class="clearfix">
                <tiny-checkbox id="influenceCheckbox.id" text="influenceCheckbox.text"
                               checked="influenceCheckbox.checked"
                               change="influenceCheckbox.change()" disable="influenceCheckbox.disable"></tiny-checkbox>
            </div>
            <div class="disabled" ng-bind="i18n.org_disk_add_para_snap_mean_label" ng-if="disableInf_Perm"></div>
            <div ng-bind="i18n.org_disk_add_para_snap_mean_label" ng-if="!disableInf_Perm"></div>
        </tiny-item>
        <tiny-item label="influenceCheckbox.label">
            <div class="pull-left">
                <tiny-radiogroup id="permanenceRadio.id" values="permanenceRadio.values"
                                 change="permanenceRadio.change()"
                                 layout="permanenceRadio.layout"></tiny-radiogroup>
            </div>
            <div class="pull-left">
                <div class="disabled" ng-bind="i18n.org_disk_add_para_persistent_mean_yes_label" ng-if="(disableInf_Perm || !influence)"></div>
                <div ng-bind="i18n.org_disk_add_para_persistent_mean_yes_label" ng-if="!(disableInf_Perm || !influence)"></div>
                <div class="disabled" ng-bind="i18n.org_disk_add_para_persistent_mean_no_label" ng-if="(disableInf_Perm || !influence)"></div>
                <div ng-bind="i18n.org_disk_add_para_persistent_mean_no_label" ng-if="!(disableInf_Perm || !influence)"></div>
            </div>
        </tiny-item>
        <tiny-item>
            <tiny-button class="major-btn" id="okButton.id" text="okButton.text"
                         click="okButton.click()"></tiny-button>
            <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="application/javascript">
    require(["app/business/resources/controllers/hypervisor/disk/editDiskCtrl"], function (editDiskCtrl) {
        $("#edit_disk_div").attr("ng-controller", "resources.hypervisor.editDisk.ctrl");
        var dep = ['ng', 'wcc', editDiskCtrl.name];
        dep.unshift(["$provide", function ($provide) {
            $provide.value("$rootElement", $("#edit_disk_div"));
        }]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            $compile($("#edit_disk_div"))($rootScope);
            $rootScope.$digest();
        });
        $("#edit_disk_div").scope().init();
    });
</script>