<div id="exportDiskListDiv">
    <div class="blank_10"></div>
    <tiny-formfield>
        <tiny-item label="startTextbox.label" require="startTextbox.require">
            <tiny-textbox id="startTextbox.id" value="startTextbox.value"
                          validate="startTextbox.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="endTextbox.label" require="endTextbox.require">
            <tiny-textbox id="endTextbox.id" value="endTextbox.value"
                          validate="endTextbox.validate" extend-function="endTextbox.extendFunction"></tiny-textbox>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button class="major-btn" id="okButton.id" text="okButton.text" click="okButton.click()"></tiny-button>
            <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="application/javascript">
    require(["app/business/resources/controllers/hypervisor/disk/exportDiskListCtrl"], function (exportDiskListCtrl) {
        var rootElement = $("#exportDiskListDiv");
        rootElement.attr("ng-controller", "resources.disk.exportDiskList.ctrl");
        var dep = ['ng', 'wcc', exportDiskListCtrl.name];
        dep.unshift(["$provide", function ($provide) {
            $provide.value("$rootElement", rootElement);
        }]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            $compile(rootElement)($rootScope);
            $rootScope.$digest();
        });
    });
</script>