<div id="migrateDiskDiv" class="container-fluid">
    <div class="tiny-step-boxset clearfix">
        <div class="createpage-legend" ng-bind="i18n.resource_term_MigrateDisk_button"></div>
        <tiny-step id="migrateStep.id" values="migrateStep.values" jumpable="migrateStep.jumpable" width="migrateStep.width"></tiny-step>
    </div>

    <div ng-include="stepUrl.step1" ng-show="stepShow.step1" class="create-page-distance"></div>
    <div ng-include="stepUrl.step2" ng-show="stepShow.step2" class="create-page-distance"></div>

</div>
