<div id="setDiskLimitDiv">
    <div ng-bind-html="i18n.org_disk_setIOmax_desc_label" class="color2 bottom10"></div>
    <tiny-formfield>
        <tiny-item label="readKBTextbox.label" require="readKBTextbox.require">
            <tiny-textbox id="readKBTextbox.id" value="readKBTextbox.value" tooltip="readKBTextbox.tooltip"
                          extend-function="readKBTextbox.extendFunction"
                          validate="readKBTextbox.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="writeKBTextbox.label" require="readKBTextbox.require">
            <tiny-textbox id="writeKBTextbox.id" value="writeKBTextbox.value" tooltip="writeKBTextbox.tooltip"
                          extend-function="writeKBTextbox.extendFunction"
                          validate="writeKBTextbox.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="readRequestTextbox.label" require="readKBTextbox.require">
            <tiny-textbox id="readRequestTextbox.id" value="readRequestTextbox.value" tooltip="readRequestTextbox.tooltip"
                          extend-function="readRequestTextbox.extendFunction"
                          validate="readRequestTextbox.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item label="writeRequestTextbox.label" require="readKBTextbox.require">
            <tiny-textbox id="writeRequestTextbox.id" value="writeRequestTextbox.value" tooltip="writeRequestTextbox.tooltip"
                          extend-function="writeRequestTextbox.extendFunction"
                          validate="writeRequestTextbox.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button class="major-btn" id="okButton.id" text="okButton.text" click="okButton.click()"></tiny-button>
            <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="application/javascript">
    require(["app/business/resources/controllers/hypervisor/disk/setDiskLimitCtrl"], function (setDiskLimitCtrl) {
        var rootElement = $("#setDiskLimitDiv");
        rootElement.attr("ng-controller", "resources.hypervisor.setDiskLimit.ctrl");
        var dep = ['ng', 'wcc', setDiskLimitCtrl.name];
        dep.unshift(["$provide", function ($provide) {
            $provide.value("$rootElement", rootElement);
        }]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            $compile(rootElement)($rootScope);
            $rootScope.$digest();
        });
    });
</script>