<div id="setIoWeightDiv">
    <tiny-formfield>
        <tiny-item label="weightTextbox.label" require="weightTextbox.require">
                <tiny-select id="weightSelector.id" values="weightSelector.values" width="weightSelector.width"
                             change="weightSelector.change()"  default-selectid="weightSelector.defaultSelectid"></tiny-select>
        </tiny-item>
        <tiny-item>
                <tiny-textbox id="weightTextbox.id" value="weightTextbox.value"
                              validate="weightTextbox.validate" disable="weightTextbox.disable"></tiny-textbox>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button class="major-btn" id="okButton.id" text="okButton.text" click="okButton.click()"></tiny-button>
            <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>

</div>

<script type="application/javascript">
    require(['app/business/resources/controllers/hypervisor/disk/setIoWeightCtrl'],
            function (setIoWeightCtrl) {
                var rootElement = $("#setIoWeightDiv");
                rootElement.attr("ng-controller", "resources.disk.setIoWeight.ctrl");
                var dep = ['ng', 'wcc', setIoWeightCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", rootElement);
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile(rootElement)($rootScope);
                    $rootScope.$digest();
                });
            });
</script>
