<div id="unbindDiskConfirmDiv">
    <div class="clear_both">
        <div class="tiny-dialog-pic">
            <div class="tiny-img-confirm"></div>
        </div>
        <div class="tiny-dialog-content tinyMessageBox_msgBoxContent" ng-bind="i18n.vm_vm_unbondVMdisk_info_confirm_msg"></div>
    </div>
    <div class="blank_20"></div>
    <div class="blank_10"></div>
    <tiny-formfield labelwidth="30">
        <tiny-item>
            <tiny-checkbox id="formatCheckbox.id" text="formatCheckbox.text" disable="formatCheckbox.disable"></tiny-checkbox>
        </tiny-item>
        <tiny-item>
            <tiny-button id="okButton.id" text="okButton.text" click="okButton.click()" class="major-btn"></tiny-button>
            <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="application/javascript">
    require(["app/business/resources/controllers/hypervisor/disk/unbindDiskCtrl"], function (unbindDiskCtrl) {
        var rootElement = $("#unbindDiskConfirmDiv");
        rootElement.attr("ng-controller", "resources.disk.unbindDisk.ctrl");
        var dep = ['ng', 'wcc', unbindDiskCtrl.name];
        dep.unshift(["$provide", function ($provide) {
            $provide.value("$rootElement", rootElement);
        }]);
        var $injector = angular.injector(dep);
        $injector.invoke(function ($compile, $rootScope) {
            $compile(rootElement)($rootScope);
            $rootScope.$digest();
        });
    });
</script>