<div id="vmToDiskDiv" class="row-fluid innerbox-padding" ng-controller="resources.hypervisor.disk.vmToDisk.ctrl">
    <div class="span5">
        <tiny-formfield>
            <tiny-item label="label.allocType">
                <div ng-bind="info.allocType"></div>
            </tiny-item>
            <tiny-item label="label.indepDisk">
                <div ng-bind="info.indepDisk"></div>
            </tiny-item>
            <tiny-item label="label.persistentDisk">
                <div ng-bind="info.persistentDisk"></div>
            </tiny-item>
            <tiny-item label="label.mediaType">
                <div ng-bind="info.mediaType"></div>
            </tiny-item>
        </tiny-formfield>
    </div>
    <div class="span7">
        <tiny-formfield>
            <tiny-item label="label.volumnId">
                <div ng-bind="info.volumnId"></div>
            </tiny-item>
            <tiny-item label="label.dataStore" display="isVdcDisk">
                <div ng-bind="info.dataStore"></div>
            </tiny-item>
            <tiny-item label="label.vm" display="isVdcDisk">
                <div ng-bind="info.vm"></div>
            </tiny-item>
            <tiny-item label="label.pciType" display="isHardwareDisk">
                <div ng-bind="info.pciType"></div>
            </tiny-item>
            <tiny-item label="label.diskId" display="isHardwareDisk">
                <div ng-bind="info.diskId"></div>
            </tiny-item>
            <tiny-item label="label.storageType" display="isHardwareDisk">
                <div ng-bind="info.storageType"></div>
            </tiny-item>
            <tiny-item label="label.ioWeight" display="storageIoControl">
                <div ng-bind="info.ioWeight"></div>
            </tiny-item>
            <tiny-item label="label.vm" display="isStoreDisk">
                <div class="fr">
                    <a class="btn-link">
                        <div ng-click="refresh()" class="small-icon small-icon-refresh"></div>
                    </a>
                </div>
                <div class="clear_both" style="width: 550px">
                    <tiny-table id="memberTable.id" data="memberTable.data" columns='memberTable.columns'
                                render-row="memberTable.renderRow"
                                enable-pagination="memberTable.enablePagination"></tiny-table>
                </div>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>

<script>
    require(['jquery',
        'app/business/resources/controllers/hypervisor/disk/vmToDiskCtrl'],
            function ($, azDetailCtrl) {

                //替换ID，使ID唯一
                var lineNum = $("#vmToDiskDiv").parent().parent().parent().prev().attr("lineNum");
                var volumnUrn = $("#vmToDiskDiv").parent().parent().parent().prev().attr("volumnUrn");
                var diskType = $("#vmToDiskDiv").parent().parent().parent().prev().attr("diskType");
                var diskInfo = {
                    allocType: $("#vmToDiskDiv").parent().parent().parent().prev().attr("allocType"),
                    indepDisk: $("#vmToDiskDiv").parent().parent().parent().prev().attr("indepDisk"),
                    persistentDisk: $("#vmToDiskDiv").parent().parent().parent().prev().attr("persistentDisk"),
                    mediaType: $("#vmToDiskDiv").parent().parent().parent().prev().attr("mediaType"),
                    dataStore: $("#vmToDiskDiv").parent().parent().parent().prev().attr("dataStore"),
                    vm: $("#vmToDiskDiv").parent().parent().parent().prev().attr("vm"),
                    pciType: $("#vmToDiskDiv").parent().parent().parent().prev().attr("pciType"),
                    diskId: $("#vmToDiskDiv").parent().parent().parent().prev().attr("diskId"),
                    storageType: $("#vmToDiskDiv").parent().parent().parent().prev().attr("storageType"),
                    ioWeight: $("#vmToDiskDiv").parent().parent().parent().prev().attr("ioWeight"),
                    volumnId: $("#vmToDiskDiv").parent().parent().parent().prev().attr("volumnId")
                };
                var id = "vmToDiskDiv_" + lineNum;
                $("#vmToDiskDiv").attr("id", id);

                //编译
                var dep = ['ng', 'wcc', azDetailCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#" + id));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile($("#" + id))($rootScope);
                    $rootScope.$digest();
                });
                $("#" + id).scope().getVm(volumnUrn, lineNum, diskType);
                $("#" + id).scope().viewDisk(diskInfo);
            });
</script>