<div class="container-fluid create-vpc-auth alert-tip-first" ng-controller="createVpcAuthCtrl">
    <div>
        <p ng-bind-html="i18n.org_entitle_view_explan_user_label" class="inline-help"></p>
        <p ng-bind-html="i18n.org_entitle_add_desc_label" class="inline-help"></p>
        <div style="margin-bottom: 10px;"></div>
    </div>
    <tiny-formfield>
        <tiny-item label="vpcSelect.label" require="vpcSelect.require">
            <tiny-select id="vpcSelect.id" values="vpcSelect.values" width="vpcSelect.width">
            </tiny-select>
        </tiny-item>
        <tiny-item label="confirmAuth.label" require="vpcSelect.require" style="padding-top: 4px;">
            <tiny-checkbox text='confirmAuth.text' id='confirmAuth.id' change="confirmAuth.change()"></tiny-checkbox>
        </tiny-item>
        <tiny-item label="okBtn.tip" class="fm-btn-top-mini">
            <tiny-button id="okBtn.id" disable="okBtn.disable" text="okBtn.text" click="okBtn.click()" class="major-btn"></tiny-button>
            <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>
<script type="text/javascript">
require(["app/business/network/controllers/vpc/createVpcAuthModule"], function(createVpcAuthModule) {
    var dep = ['ng', 'wcc', createVpcAuthModule.name];
    dep.unshift(["$provide",
        function($provide) {
            $provide.value("$rootElement", $(".create-vpc-auth"));
        }
    ]);
    var $injector = angular.injector(dep);
    $injector.invoke(function($compile, $rootScope) {
        $compile($(".create-vpc-auth"))($rootScope);
        $rootScope.$digest();
    });
})
</script>