<div id="roomDetail" class="innerbox-padding">
    <div class="row-fluid">
        <div class="span12">
            <span class="inner-legend none-line">{{i18n.device_term_cabinets_label}}</span>
            <tiny-table id="cabinetTable.id" data="cabinetTable.data"
                        columns="cabinetTable.columns"
                        enable-pagination="cabinetTable.enablePagination"
                        request-config="cabinetTable.requestConfig"
                        columns-draggable="cabinetTable.columnsDraggable"
                        hide-total-records="cabinetTable.hideTotalRecords"
                        render-row="cabinetTable.renderRow"></tiny-table>
        </div>
    </div>
</div>
<script type="application/javascript">
    require(["app/business/resources/controllers/device/room/roomDetailCtrl"],
            function (roomDetailCtrl) {
                var roomName = $("#roomDetail").parent().parent().parent().prev().attr("roomName");
                //替换ID，使ID唯一
                var index = $("#roomDetail").parent().parent().parent().prev().attr("index");
                var id = "roomDetail" + index;
                $("#roomDetail").attr("id", id);
                $("#" + id).attr("ng-controller", "roomDetailCtrl");

                //编译
                var dep = ['ng', 'wcc', roomDetailCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", $("#" + id));
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile($("#" + id))($rootScope);
                    $rootScope.$digest();
                });

                // 3.初始化scope
                var newScope = $("#" + id).scope();
                newScope.$apply(function () {
                    newScope.roomName = roomName;
                    newScope.operate.queryData(roomName);
                });
            });
</script>