<div fm-help help="'drawer_device_room'" show="show.help" i18n="'zh'"></div>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li><span ng-bind="i18n.device_term_rooms_label"></span></li>
            <li class="two-lead">
                <p ng-bind-html="i18n.device_room_view_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="clearfix bottom10">
            <!--刷新、列选择、帮助-->
            <div class="pull-right">
                <span style="display: inline-block; vertical-align: middle;">
                <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width"
                                suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength"
                                suggest="searchBox.suggest" search="searchBox.search">
                </tiny-searchbox>
              </span>
                <a class="btn-link">
                    <div ng-click="operate.queryRooms()" id="refreshRoom" title="{{i18n.common_term_fresh_button}}"
                         class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div ng-click="show.help=true" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div id="deviceRoomTable">
            <tiny-table id="roomTable.id" data="roomTable.data"
                        columns="roomTable.columns"
                        enable-pagination="roomTable.enablePagination"
                        pagination-style="roomTable.paginationStyle"
                        length-change="roomTable.lengthChange" length-menu="roomTable.lengthMenu"
                        display-length="roomTable.displayLength" cur-page="roomTable.curPage"
                        total-records="roomTable.totalRecords"
                        request-config="roomTable.requestConfig"
                        columns-draggable="roomTable.columnsDraggable" callback="roomTable.callback"
                        change-select="roomTable.changeSelect"
                        hide-total-records="roomTable.hideTotalRecords"
                        total-records="roomTable.data.length" render-row="roomTable.renderRow"
                        show-details="roomTable.showDetails"></tiny-table>
        </div>
    </div>
</div>