<div id="antiVirusDiv">
    <div ng-bind="i18n.virtual_host_turnOnAntivirus_info_restart_label" style="background-color: yellow;border: 1px" ng-show="!effect"></div>
    <tiny-formfield>
        <tiny-item label="openCheckbox.label">
            <tiny-checkbox id="openCheckbox.id" text="openCheckbox.text" change="openCheckbox.change()"></tiny-checkbox>
        </tiny-item>
        <tiny-item label="vmNumTextbox.label" require="vmNumTextbox.require">
            <tiny-textbox id="vmNumTextbox.id" value="vmNumTextbox.value" disable="vmNumTextbox.disable"
                          validate="vmNumTextbox.validate"></tiny-textbox>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button class="major-btn" id="okButton.id" text="okButton.text" click="okButton.click()"></tiny-button>
            <tiny-button id="cancelButton.id" text="cancelButton.text" click="cancelButton.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>

<script type="application/javascript">
    require(['app/business/resources/controllers/hypervisor/host/antiVirusCtrl'],
            function (antiVirusCtrl) {
                var rootElement = $("#antiVirusDiv");
                rootElement.attr("ng-controller", "resources.host.antiVirus.ctrl");
                var dep = ['ng', 'wcc', antiVirusCtrl.name];
                dep.unshift(["$provide", function ($provide) {
                    $provide.value("$rootElement", rootElement);
                }]);
                var $injector = angular.injector(dep);
                $injector.invoke(function ($compile, $rootScope) {
                    $compile(rootElement)($rootScope);
                    $rootScope.$digest();
                });
            });
</script>
