<div>
    <div class="row-fluid bottom10">
        <div class="span2">
            <div class="two-title" style="display: inline;">TOPN:</div>
            <tiny-select id="topnModel.id" values="topnModel.values"
                         disabled="topnModel.disabled" change="topnModel.change()">
            </tiny-select>
        </div>
        <div class="span2">
            <div class="two-title" style="display: inline;">{{i18n.common_term_cycle_label}}:</div>
            <tiny-select id="cycle.id" values="cycle.values" width="cycle.width" change="cycle.change()"></tiny-select>
        </div>
        <div class="span7">
            <div ng-show="isCustomized">
                {{i18n.perform_term_customCycle_label}}:
                <tiny-datetime id="customizedCycle.startDate.id" type="customizedCycle.startDate.type"
                               time-format="customizedCycle.startDate.timeFormat"
                               date-format="customizedCycle.startDate.dateFormat"
                               min-date="customizedCycle.startDate.minDate"
                               max-date="customizedCycle.startDate.maxDate"
                               ampm="customizedCycle.startDate.ampm"
                               first-day="customizedCycle.startDate.firstDay"
                               on-close="customizedCycle.startDate.onClose"></tiny-datetime>
                -
                <tiny-datetime id="customizedCycle.endDate.id" type="customizedCycle.endDate.type"
                               time-format="customizedCycle.endDate.timeFormat"
                               date-format="customizedCycle.endDate.dateFormat"
                               min-date="customizedCycle.endDate.minDate"
                               max-date="customizedCycle.endDate.maxDate"
                               ampm="customizedCycle.endDate.ampm"
                               first-day="customizedCycle.endDate.firstDay"
                               on-close="customizedCycle.endDate.onClose"></tiny-datetime>
                <tiny-button class="left20 major-btn" id="customizedCycle.okBtn.id" text="customizedCycle.okBtn.text"
                             click="customizedCycle.okBtn.click()"></tiny-button>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6 outbox-padding">
            <div class="legend">{{i18n.perform_term_storReadIOPSnum_label}}</div>
            <tiny-lineplot id="storage_read_ps.id" xaxis="storage_read_ps.xaxis" tips="storage_read_ps.tips"
                           grid="storage_read_ps.grid"
                           yaxis="storage_read_ps.yaxis" data="storage_read_ps.data" series="storage_read_ps.series"
                           width="storage_read_ps.width" height="storage_read_ps.height"
                           legend="storage_read_ps.legend">
            </tiny-lineplot>
            <div id="storage_read_psLegend"></div>
        </div>
        <div class="span6 outbox-padding">
            <div class="legend">{{i18n.perform_term_storWriteIOPSnum_label}}</div>
            <tiny-lineplot id="storage_write_ps.id" xaxis="storage_write_ps.xaxis" tips="storage_write_ps.tips"
                           grid="storage_write_ps.grid"
                           yaxis="storage_write_ps.yaxis" data="storage_write_ps.data" series="storage_write_ps.series"
                           width="storage_write_ps.width" height="storage_write_ps.height"
                           legend="storage_write_ps.legend">
            </tiny-lineplot>
            <div id="storage_write_psLegend"></div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6 outbox-padding">
            <div class="legend">{{i18n.perform_term_storWriteIOprocessingTimeAvg_label}}</div>
            <tiny-lineplot id="svctm_time.id" xaxis="svctm_time.xaxis" tips="svctm_time.tips" grid="svctm_time.grid"
                           yaxis="svctm_time.yaxis" data="svctm_time.data" series="svctm_time.series"
                           width="svctm_time.width" height="svctm_time.height"
                           legend="svctm_time.legend">
            </tiny-lineplot>
            <div id="svctm_timeLegend"></div>
        </div>
        <div class="span6 outbox-padding">
            <div class="legend">{{i18n.perform_term_storIOserviceTimeAvg_label}}</div>
            <tiny-lineplot id="await_time.id" xaxis="await_time.xaxis" tips="await_time.tips" grid="await_time.grid"
                           yaxis="await_time.yaxis" data="await_time.data" series="await_time.series"
                           width="await_time.width" height="await_time.height"
                           legend="await_time.legend">
            </tiny-lineplot>
            <div id="await_timeLegend"></div>
        </div>
    </div>

</div>