<div class="row-fluid" id="create-Monitor-window" ng-controller="createCtrl">
    <div ng-if="isIT">
        <tiny-formfield>
            <tiny-item label="info.protocol.label" require="info.protocol.require">
                <tiny-select id="info.protocol.id" values="info.protocol.value" width="info.protocol.width" change="info.protocol.change()"></tiny-select>
            </tiny-item>
            <tiny-item label="info.servicePort.label" require="info.servicePort.require">
                <tiny-textbox id="info.servicePort.id" value="info.servicePort.value" width="info.servicePort.width" extend-function="info.servicePort.extendFunction" validate="info.servicePort.validate"></tiny-textbox>
            </tiny-item>
            <tiny-item label="info.backendProtocol.label" require="info.backendProtocol.require">
                <tiny-select id="info.backendProtocol.id" values="info.backendProtocol.value" change="info.backendProtocol.change()" width="info.backendProtocol.width"></tiny-select>
            </tiny-item>
            <tiny-item label="info.backendPort.label" require="info.backendPort.require">
                <tiny-textbox id="info.backendPort.id" value="info.backendPort.value" width="info.backendPort.width" validate="info.backendPort.validate"></tiny-textbox>
            </tiny-item>
            <tiny-item class="fm-btn-top-small">
                <tiny-button id="info.okBtn.id" text="info.okBtn.text" click="info.okBtn.click()" class="major-btn"></tiny-button>
                <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
            </tiny-item>
        </tiny-formfield>
    </div>
    <div ng-if="!isIT">
        <tiny-formfield>
            <tiny-item label="info.protocol.label" require="info.protocol.require">
                <tiny-select id="info.protocol.id" values="info.protocol.value" width="info.protocol.width" change="info.protocol.change()"></tiny-select>
            </tiny-item>
            <tiny-item label="info.servicePort.label" require="info.servicePort.require">
                <tiny-textbox id="info.servicePort.id" value="info.servicePort.value" width="info.servicePort.width" extend-function="info.servicePort.extendFunction" validate="info.servicePort.validate"></tiny-textbox>
            </tiny-item>
            <tiny-item label="info.sessionPersistenceType.label" require="info.sessionPersistenceType.require">
                <tiny-select id="info.sessionPersistenceType.id" values="info.sessionPersistenceType.value" width="info.sessionPersistenceType.width" change="info.sessionPersistenceType.change()"></tiny-select>
            </tiny-item>
            <tiny-item label="info.cookieName.label" require="info.cookieName.require" display="isAppCookie">
                <tiny-textbox id="info.cookieName.id" value="info.cookieName.value" width="info.cookieName.width" validate="info.cookieName.validate"></tiny-textbox>
            </tiny-item>
            <tiny-item class="fm-btn-top-small">
                <tiny-button id="info.okBtn.id" text="info.okBtn.text" click="info.okBtn.click()" class="major-btn"></tiny-button>
                <tiny-button id="info.cancelBtn.id" text="info.cancelBtn.text" click="info.cancelBtn.click()"></tiny-button>
            </tiny-item>
        </tiny-formfield>
    </div>
</div>
<script type="text/javascript">
require(["app/business/network/controllers/vlb/createICT/createMonitorWindowModule"], function(createMonitorWindowModule) {
    var dep = ['ng', createMonitorWindowModule.name];
    dep.unshift(["$provide",
        function($provide) {
            $provide.value("$rootElement", $("#create-Monitor-window"));
        }
    ]);
    var $injector = angular.injector(dep);
    $injector.invoke(function($compile, $rootScope) {
        $compile($("#create-Monitor-window"))($rootScope);
        $rootScope.$digest();
    });
})
</script>