<style>
    .import-content {
        width: 100%;
        border: none;
        outline: none;
    }
</style>
<div class="clearfix nav-list" style="padding:10px 0;">
    <div class="bottom10">
        <span class="line-height30" style="font-size:20px; color:#999;"><span
                ng-bind="i18n.desk_term_FusionAccessSys_msg"></span>：</span>
        <tiny-select
                id="vdiSelect.id"
                values="vdiSelect.values"
                change="vdiSelect.change()"></tiny-select>
    </div>
    <p ng-bind-html="i18n.desk_general_view_explan_label" style="color:#999;"></p>
    <div class="divider"></div>
</div>
<iframe id="importContentId"
        class="import-content">
</iframe>