<div class="ecs_vm_detail_nic_add" ng-controller="ecs.vm.detail.nic.add.ctrl">
    <tiny-formfield>
        <tiny-item label="name.label">
            <tiny-textbox id="name.id" value="name.value" validate="name.validate" extend-function="name.extendFunction"></tiny-textbox>
        </tiny-item>
    </tiny-formfield>

    <div class="row-fluid">
        <div class="span6">
            <tiny-formfield>
                <tiny-item label="searchNetwork.label" require="searchNetwork.require">&nbsp;</tiny-item>
            </tiny-formfield>
        </div>
        <div class="span6">
            <div class="pull-right">
                <tiny-searchbox id="searchNetwork.id" placeholder="searchNetwork.placeholder" width="searchNetwork.width" maxlength="searchNetwork.maxLength" search="searchNetwork.search"></tiny-searchbox>
            </div>
        </div>
    </div>

    <div class="clearfix">
        <tiny-table id="networks.id" columns="networks.columns" data="networks.data" render-row="networks.renderRow" pagination-style="networks.paginationStyle" total-records="networks.totalRecords" length-menu="networks.lengthMenu" display-length="networks.displayLength"
        callback="networks.callback" change-select="networks.changeSelect">
        </tiny-table>
    </div>

    <div class="text-center fm-btn-top-large">
        <tiny-button id="okBtn.id" text="okBtn.text" click="okBtn.click()" disable="okBtn.disable" class="major-btn"></tiny-button>
        <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
    </div>
</div>

<script>
require(['app/business/ecs/controllers/vm/nic/addNicCtrl'],
    function(addNicCtrl) {
        var dep = ['ng', 'wcc', addNicCtrl.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $(".ecs_vm_detail_nic_add"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($(".ecs_vm_detail_nic_add"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>
