<div class="ecs_vm_detail_nic_add" ng-controller="ecs.vm.detail.nic.add.ctrl">
    <tiny-formfield>
        <tiny-item label="name.label">
            <tiny-textbox id="name.id" value="name.value" validate="name.validate" extend-function="name.extendFunction"></tiny-textbox>
        </tiny-item>
    </tiny-formfield>

    <div class="row-fluid">
        <div class="span6">
            <tiny-formfield>
                <tiny-item label="ictNetType.label" require="ictNetType.require" display="ICT">
                    <tiny-select id="ictNetType.id" values="ictNetType.values" change="ictNetType.change()">
                    </tiny-select>
                </tiny-item>
            </tiny-formfield>
        </div>
        <div class="span6">
            <div class="pull-right">
                <tiny-searchbox id="searchNetwork.id" placeholder="searchNetwork.placeholder" width="searchNetwork.width" maxlength="searchNetwork.maxLength" search="searchNetwork.search"></tiny-searchbox>
            </div>
        </div>
    </div>

    <div class="clearfix">
        <tiny-table id="networks.id" columns="networks.columns" data="networks.data" render-row="networks.renderRow" enable-pagination="networks.enablePagination"
        callback="networks.callback">
        </tiny-table>
        <div class="pull-right">
            <tiny-select id="pageSize.id" values="pageSize.values" width="pageSize.width"
                         change="pageSize.change()"></tiny-select>
            <label class="margin-right-beautifier" ng-bind="i18n.common_term_currentPage_label"></label>
            <label class="margin-right-beautifier" ng-bind="page.currentPage"></label>
            <a ng-class="{tinyPagination_paginationPrevSpan: hasPrePage, tinyPagination_paginationPrevSpanDisabled: !hasPrePage}"
               title="{{i18n.common_term_previous_button}}" class="tinyPagination_tinybutton clear_both"  style="float:none; display: inline-block; position: relative; top: 8px;" ng-click="prePage()"></a>
            <a ng-class="{tinyPagination_paginationNextSpan: hasNextPage,tinyPagination_paginationNextSpanDisabled: !hasNextPage}"
               title="{{i18n.common_term_nextPage_button}}" class="tinyPagination_tinybutton clear_both" style="float:none; display: inline-block; position: relative; top: 8px;" ng-click="nextPage()"></a>
        </div>
    </div>

    <div class="text-center fm-btn-top-large">
        <tiny-button id="okBtn.id" text="okBtn.text" click="okBtn.click()" disable="okBtn.disable" class="major-btn"></tiny-button>
        <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
    </div>
</div>

<script>
require(['app/business/ecs/controllers/vm/nic/addNicICTCtrl'],
    function(addNicCtrl) {
        var dep = ['ng', 'wcc', addNicCtrl.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $(".ecs_vm_detail_nic_add"));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($(".ecs_vm_detail_nic_add"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>
