<div id="addLabelDiv" ng-controller='service.label.addLabel.ctrl' fm-tips-width='370'>
    <tiny-formfield>
        <tiny-item label="labelKey.label" require="labelKey.require">
            <tiny-textbox id="labelKey.id" type="labelKey.type" width="labelKey.width" height="labelKey.height"
                          tooltip="labelKey.tooltip" extend-function="labelKey.extendFunction"
                          validate="labelKey.validate" tip-position="right" value="labelKey.value" disable="labelKey.disable"></tiny-textbox>
        </tiny-item>
        <tiny-item label="labelValue.label" require="labelValue.require">
            <tiny-textbox id="labelValue.id" type="labelValue.type" width="labelValue.width" height="labelValue.height" tooltip="labelValue.tooltip" extend-function="labelValue.extendFunction" validate="labelValue.validate" tip-position="bottom" value="labelValue.value"></tiny-textbox>
            <div ng-show="meanVisable" ng-bind="i18n.cloud_tag_add_para_value_mean_tip"></div>
        </tiny-item>
        <tiny-item class="fm-btn-top-small">
            <tiny-button class="major-btn" id="okBtn.id" text="okBtn.text" click="okBtn.click()"></tiny-button>
            <tiny-button id="cancelBtn.id" text="cancelBtn.text" click="cancelBtn.click()"></tiny-button>
        </tiny-item>
    </tiny-formfield>
</div>

<script type="application/javascript">
require(['app/business/tag/controllers/label/addLabelCtrl'],
    function(ctrl) {
        var $injector = angular.injector([ctrl.name]);
        $injector.invoke(function($compile, $rootScope) {
            $compile($("#addLabelDiv"))($rootScope);
            $rootScope.$digest();
        });
    });
</script>

