<div id="azListDiv">
    <div>
        <tiny-table id="azListTable.id" data="azListTable.data" pagination-style="azListTable.paginationStyle" columns='azListTable.columns' render-row="azListTable.renderRow" total-records="azListTable.totalRecords" length-change="azListTable.lengthChange" cur-page="azListTable.curPage"
        display-length="azListTable.displayLength" enable-pagination="azListTable.enablePagination" length-menu="azListTable.lengthMenu" callback="azListTable.callback"></tiny-table>
    </div>
</div>
<script type="application/javascript">
require(['app/business/tag/controllers/label/azListCtrl'],
    function(azListCtrl) {
        var rootElement = $("#azListDiv");
        rootElement.attr("ng-controller", "tag.azList.ctrl");
        var dep = ['ng', 'wcc', azListCtrl.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", rootElement);
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile(rootElement)($rootScope);
            $rootScope.$digest();
        });
    });
</script>