<div id="labelDetailDiv" ng-controller="service.label.labelDetail.ctrl" class="innerbox-padding">
    <div class="container-fluid">
        <div style="max-height: 200px;overflow: auto;">
            <tiny-table id="labelDetailModel.id" data="labelDetailModel.data" columns="labelDetailModel.columns" enable-pagination="labelDetailModel.enablePagination" render-row="labelDetailModel.renderRow"></tiny-table>
        </div>
    </div>
</div>
<script>
require(['app/business/tag/controllers/label/labelDetailCtrl'],
    function(ctrl) {
        var lineNum = $("#labelDetailDiv").parent().parent().parent().prev().attr("lineNum");
        var tagName = $("#labelDetailDiv").parent().parent().parent().prev().attr("tagName");
        var id = "labelDetailDiv_" + lineNum;
        $("#labelDetailDiv").attr("id", id);

        var dep = ['ng', 'wcc', ctrl.name];
        dep.unshift(["$provide",
            function($provide) {
                $provide.value("$rootElement", $("#" + id));
            }
        ]);
        var $injector = angular.injector(dep);
        $injector.invoke(function($compile, $rootScope) {
            $compile($("#" + id))($rootScope);
            $rootScope.$digest();
        });
        $("#" + id).scope().getTags(tagName);
    });
</script>

