<div fm-help help="'drawer_cloud_tag'" show="show.help" i18n="'zh'"></div>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li>
                <span ng-bind="i18n.cloud_term_tagManage_label"></span>
            </li>
            <li class="two-lead">
            </li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="content-right-box">
        <div class="fm-btn-bottom-small clearfix">
            <div class="fl" ng-show="deployMode != 'local'">
                <tiny-button class="major-btn" id="addLabelModel.id" text="addLabelModel.text" click="addLabelModel.click()" ng-if="hasTagManageOperateRight"></tiny-button>
            </div>
            <div class="pull-right">
                <span style="display: inline-block; vertical-align: middle; margin-bottom: 2px;">
                    <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width" suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength" suggest="searchBox.suggest" search="searchBox.search">
                    </tiny-searchbox>
                </span>
                <a class="btn-link">
                    <div ng-click="operate.init()" id="refreshHost" title="{{i18n.common_term_fresh_button}}" class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div ng-click="show.help=true" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>
        <div id="labelTable" class="clearfix">
            <tiny-table id="labelTableModel.id" data="labelTableModel.data" columns="labelTableModel.columns" enable-pagination="labelTableModel.enablePagination" pagination-style="labelTableModel.paginationStyle" length-change="labelTableModel.lengthChange" length-menu="labelTableModel.lengthMenu"
            display-length="labelTableModel.displayLength" cur-page="labelTableModel.curPage" total-records="labelTableModel.totalRecords" request-config="labelTableModel.requestConfig" columns-draggable="labelTableModel.columnsDraggable" column-sorting="labelTableModel.columnSorting"
            hide-total-records="labelTableModel.hideTotalRecords" render-row="labelTableModel.renderRow" columns-visibility="labelTableModel.columnsVisibility" change-select="labelTableModel.changeSelect" callback="labelTableModel.callback" show-details="labelTableModel.showDetails"></tiny-table>
        </div>
    </div>
</div>