<fm-help help="help.helpKey" show="help.show" i18n="help.i18n"></fm-help>
<div class="container-fluid">
    <div class="crumbs">
        <ul class="nav nav-list noPadding">
            <li>
                <span ng-bind-html="i18n.template_term_app_label"></span>
            </li>
            <li class="two-lead">
                <p ng-bind-html="i18n.template_app_view_explan_label"></p>
            </li>
            <li class="divider"></li>
        </ul>
    </div>

    <div class="content-right-box">
        <div class="clearfix">
            <div class="fl">
                <tiny-button id="createBtn.id" text="createBtn.text" tooltip="createBtn.tooltip" click="createBtn.click()" disabled="createBtn.disable" class="major-btn" ng-if="hasOperateTemplRight"></tiny-button>
                <tiny-button id="importBtn.id" text="importBtn.text" tooltip="importBtn.tooltip" click="importBtn.click()" disabled="importBtn.disable" ng-if="hasOperateTemplRight"></tiny-button>
            </div>

            <div style="text-align: right;" class="pull-right" ng-class="{'customAppListAthMargin':hasOperateTemplRight}">
                <tiny-filtersel id="visibility.id" values="visibility.values" width="visibility.width" change="visibility.change()"></tiny-filtersel>
                <tiny-filtersel id="status.id" values="status.values" width="status.width" change="status.change()"></tiny-filtersel>

                <span style="display: inline-block;vertical-align: middle;margin-bottom: 4px;">
                    <tiny-searchbox id="searchBox.id" placeholder="searchBox.placeholder" width="searchBox.width" suggest-size="searchBox.suggestSize" maxlength="searchBox.maxLength" suggest="searchBox.suggest" search="searchBox.search">
                    </tiny-searchbox>
                </span>

                <a class="btn-link">
                    <div ng-click="refresh.click()" id="refresh.id" title="{{refresh.title}}" class="small-icon small-icon-refresh"></div>
                </a>
                <a class="btn-link">
                    <div title="{{i18n.common_term_help_label}}" ng-click="help.click()" class="small-icon small-icon-help"></div>
                </a>
            </div>
        </div>

        <div class="appListUl" id="templateListId">
            <ul class="clearfix row-fluid">
                <li ng-repeat="template in templateList" class="span6 fl small-layout" style="margin-left: 0;">
                    <div>
                        <div class="small-layout-inner clearfix">
                            <div>
                                <div class="pull-left">
                                    <img ng-src="{{'../theme/default/images/gm/appImage/'+template.picture}}" ng-click="view(template.templateId)" class="pointer">
                                </div>

                                <div class="pull-left templateRightLayout">
                                    <div>
                                        <div class="small-layout-title pointer" ng-click="view(template.templateId)" title="{{template.templateName}}">{{template.nameShorten}}
                                            <span ng-show="template.status=='Draft'" ng-bind="i18n.app_term_draft_label"></span>
                                        </div>
                                        <tiny-formfield>
                                            <tiny-item label="idView.label">
                                                <span>{{template.templateId}}</span>
                                            </tiny-item>
                                            <tiny-item label="visibleRange.label">
                                                <span>{{template.vdcId=='all'? i18n.sys_term_sysConfig_label:i18n.org_term_organization_label}}</span>
                                            </tiny-item>
                                            <tiny-item label="createTime.label">
                                                <span>{{template.createTime}}</span>
                                            </tiny-item>
                                            <tiny-item label="description.label">
                                                <label class="textOverflowFont12" title="{{template.templateDesc}}">{{template.templateDesc}}</label>
                                            </tiny-item>
                                        </tiny-formfield>
                                    </div>
                                    <div class="templateOperateBtns">
                                        <a href="javascript:void(0)" ng-click="publishTemplate(template.templateId, true)" class="appListBottomA" ng-if="hasOperateTemplRight&&(template.status==='Draft')&&(template.vdcId!='all')" ng-bind-html="i18n.common_term_publish_button"></a>
                                        <a href="javascript:void(0)" ng-click="modify(template.templateId)" class="appListBottomA" ng-if="hasOperateTemplRight&&(template.status==='Draft')" ng-bind-html="i18n.common_term_modify_button"></a>
                                        <a href="javascript:void(0)" ng-click="create(template.templateId)" class="appListBottomA" ng-if="hasViewTemplRight&&(template.status==='Published')&&deployMode!=='serviceCenter'" ng-bind-html="i18n.app_term_createApp_button"></a>
                                        <a href="javascript:void(0)" ng-click="publishTemplate(template.templateId, false)" class="appListBottomA" ng-if="hasOperateTemplRight&&(template.status==='Published')&&(template.vdcId!='all')" ng-bind-html="i18n.common_term_canclePublish_button"></a>
                                        <tiny-menubutton id="template.templateId" text="template.moreBtn.text" content="template.moreBtn.content" type="template.moreBtn.type" click-callback="template.moreBtn.clickCallback"></tiny-menubutton>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div>
            <div class="appListFooterPage clearfix small-layout-top">
                <tiny-pagination id="appPagination.id" type="appPagination.type1" display="appPagination.display" hide-total-records="appPagination.hideTotalRecords" total-records="appPagination.totalRecords" prev-text="appPagination.prevText" next-text="appPagination.nextText"
                hide-display-length="appPagination.hideDisplayLength" display-length="appPagination.displayLength" length-options="appPagination.options" cur-page="appPagination.curPage" callback="appPagination.callback" change-select="appPagination.changeSelect"></tiny-pagination>
            </div>
        </div>
    </div>


</div>